﻿@model hrms_core.ViewModel.HolidayCalenderModel

@{
    ViewData["Title"] = "HolidayCalendarMaster";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Holiday Calender
    </h1>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-7">
            <div class="box box-default">
                <div class="box-header with-border">
                    <h3 class="box-title"></h3>
                </div>
                <div class="box-body">
                    <div id="msgdiv"></div>
                    <div class="form-group col-md-6">
                        <label><span style="color: #ff0000;">*</span> Calender Year</label>
                        <input type="text" class="form-control" id="calender_year" maxlength="4"
                             asp-for="calenderyear"  placeholder="Enter Calender Year" onfocus="RemoveValidation(this);">
                    </div>
                    <div class="form-group col-md-6">
                        <label><span style="color: #ff0000;">*</span> Calender Name</label>
                        <input type="text" class="form-control" id="calender_name" maxlength="50"
                            asp-for="calendername"   placeholder="Enter Calender Name" onfocus="RemoveValidation(this);" onkeyup="RemoveHashTilde(this)">
                    </div>
                    <div class="form-group col-md-3">
                        <label><span style="color: #ff0000;">*</span> Holiday</label>
                        <input type="text" class="form-control" id="holiday"  />
                    </div>
                    <div class="form-group col-md-3">
                        <label><span style="color: #ff0000;">*</span> Off Day</label>
                        <input type='text' name='togglePaletteOnly' id='off_day'  />
                    </div>
                    <div class="form-group col-md-6">
                        <label><span style="color: #ff0000;">*</span> Leave Allowed</label>
                        <input type="text" class="form-control NumericTextBox" id="leave_allowed" maxlength="50"
                               placeholder="Enter Allowed Leave" onfocus="RemoveValidation(this);">
                    </div>
                    <!-- /.box-body -->
                    <div class="form-group col-md-12">
                        <label><span style="color: #ff0000;">*</span> Weekly Off Days</label>
                        <br>
                        <input type="checkbox" id="mon" value="1" class="listcheckbox" /> Monday
                        <input type="checkbox" id="tue" value="2" class="listcheckbox"
                               style="margin-left:10px;" /> Tuesday
                        <input type="checkbox" id="wed" value="3" class="listcheckbox"
                               style="margin-left:10px;" /> Wednesday
                        <input type="checkbox" id="thu" value="4" class="listcheckbox"
                               style="margin-left:10px;" /> Thrusday
                        <input type="checkbox" id="fri" value="5" class="listcheckbox"
                               style="margin-left:10px;" /> Friday
                        <input type="checkbox" id="sat" value="6" class="listcheckbox"
                               style="margin-left:10px;" /> Saturday
                        <input type="checkbox" id="sun" value="7" class="listcheckbox"
                               style="margin-left:10px;" /> Sunday
                    </div>
                    <div class="holiday_holder" style="border: 2px #000;">
                        <div class="col-md-12">
                            <div class="col-md-8">
                                <table id="tblData">
                                    <thead>
                                        <tr>
                                            <th style="width:25%;">Date</th>
                                            <th style="width:25%;">Occasion</th>
                                            <th style="width:25%;">Type</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        <tr>
                                            <td>
                                                <input type="text" id="date" class="form-control" style="width:90%;" onfocus="RemoveValidation(this);" readonly />
                                            </td>
                                            <td>
                                                <input type="text" id="occasion" class="form-control"
                                                       style="width:90%;" onfocus="RemoveValidation(this);" />
                                            </td>
                                            <td>
                                                <select id="type" class="form-control" style="width:90%;" onfocus="RemoveValidation(this);">
                                                    <option value="-1">Select</option>
                                                    <option value="1">Full Day</option>
                                                    <option value="2">Half Day</option>
                                                </select>
                                            </td>
                                            <td>
                                                <input type="button" class="btn btn-block btn-primary" id="add-holiday"
                                                       value="Add New">
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-md-4">
                                <label><span style="color: #ff0000;">*</span>Departments</label>
                                <div style="overflow-y:auto">
                                    <table id="tblDepartments"></table>
                                </div>
                            </div>
                        </div>

                        <table id="subtblData"></table>
                    </div>
                </div>
                <div class="box-footer">
                    <button class="btn btn-primary" id="addholiday_calender_btn">Save</button>
                    <button class="btn btn-primary" id="holiday_back_btn">Back</button>
                </div>
                <!-- /.box-body -->
                <!-- /.box -->
            </div>
        </div>
        <div class="col-md-5">
            <div class="box box-default">
                <div class="box-header with-border">
                    <h3 class="box-title">Holiday Calender List</h3>
                </div>
                <div class="box-body">
                    <div class="callout callout-info nofoundlbl"></div>
                    <div class="box" style="height: 330px;overflow: auto;">
                        <table id="holiday_calender_list" class="table table-bordered table-striped"></table>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
        </div>
    </div>
</section>
<!-- /.content -->
@section scripts{
    <script type="text/javascript">
        var CreatedBy;
        var UpdatedBy;
        var username = "<%= name %>";
        var InsertedHoliday = '';
        var calendarId = 0;
        //Datepicker to select date
        //$(function () {
        //$("#date").datepicker({
        //    minDate: 0,
        //    dateFormat: 'dd-mm-yy',
        //    changeMonth: true,
        //    changeYear: true,
        //    onClose: function (selectedDate) {
        //        $("#dateto").datepicker("option", "minDate", selectedDate);
        //    }
        //});
        $("#date").datepicker({
            minDate: 0,
            dateFormat: 'dd-mm-yy',
            changeMonth: true,
            changeYear: true,
            onClose: function (selectedDate) {
                $("#dateto").datepicker("option", "minDate", selectedDate);
            }
        });

        $(document).ready(function () {

            //Function Call To get Department
            GetDepartments();
            //Call function to get Created by
            GetCreatedBy();
            //Call function to get Holiday Calender List
            GetHolidayCalenderList();
            //Hide Holiday back button initially
            $('#holiday_back_btn').hide();
            //Populate menu Dynamically
            $('#holiday_back_btn').click(function () {
                window.location.href = "/holiday_calender";
            });
            //Color picker for off day
            $("#off_day").spectrum({
                showPaletteOnly: true,
                togglePaletteOnly: true,
                togglePaletteMoreText: 'more',
                togglePaletteLessText: 'less',
                color: 'blanchedalmond',
                palette: [
                    ["#000", "#444", "#666", "#999", "#ccc", "#eee", "#f3f3f3", "#fff"],
                    ["#f00", "#f90", "#ff0", "#0f0", "#0ff", "#00f", "#90f", "#f0f"],
                    ["#f4cccc", "#fce5cd", "#fff2cc", "#d9ead3", "#d0e0e3", "#cfe2f3", "#d9d2e9", "#ead1dc"],
                    ["#ea9999", "#f9cb9c", "#ffe599", "#b6d7a8", "#a2c4c9", "#9fc5e8", "#b4a7d6", "#d5a6bd"],
                    ["#e06666", "#f6b26b", "#ffd966", "#93c47d", "#76a5af", "#6fa8dc", "#8e7cc3", "#c27ba0"],
                    ["#c00", "#e69138", "#f1c232", "#6aa84f", "#45818e", "#3d85c6", "#674ea7", "#a64d79"],
                    ["#900", "#b45f06", "#bf9000", "#38761d", "#134f5c", "#0b5394", "#351c75", "#741b47"],
                    ["#600", "#783f04", "#7f6000", "#274e13", "#0c343d", "#073763", "#20124d", "#4c1130"]
                ]
            });

            //Color picker for holiday
            $("#holiday").spectrum({
                showPaletteOnly: true,
                togglePaletteOnly: true,
                togglePaletteMoreText: 'more',
                togglePaletteLessText: 'less',
                color: 'blanchedalmond',
                palette: [
                    ["#000", "#444", "#666", "#999", "#ccc", "#eee", "#f3f3f3", "#fff"],
                    ["#f00", "#f90", "#ff0", "#0f0", "#0ff", "#00f", "#90f", "#f0f"],
                    ["#f4cccc", "#fce5cd", "#fff2cc", "#d9ead3", "#d0e0e3", "#cfe2f3", "#d9d2e9", "#ead1dc"],
                    ["#ea9999", "#f9cb9c", "#ffe599", "#b6d7a8", "#a2c4c9", "#9fc5e8", "#b4a7d6", "#d5a6bd"],
                    ["#e06666", "#f6b26b", "#ffd966", "#93c47d", "#76a5af", "#6fa8dc", "#8e7cc3", "#c27ba0"],
                    ["#c00", "#e69138", "#f1c232", "#6aa84f", "#45818e", "#3d85c6", "#674ea7", "#a64d79"],
                    ["#900", "#b45f06", "#bf9000", "#38761d", "#134f5c", "#0b5394", "#351c75", "#741b47"],
                    ["#600", "#783f04", "#7f6000", "#274e13", "#0c343d", "#073763", "#20124d", "#4c1130"]
                ]
            });

            //Function will execute on click of add holiday button
            $('#add-holiday').click(function () {
                var flag = 0;
                var date = $('#date').val().trim();
                var date1 = $('#date').val().trim();
                if (date1 != '') {
                    var arr = date1.split('-');
                    date1 = arr[1] + '-' + arr[0] + '-' + arr[2];
                }
                var occasion = $('#occasion').val().trim();
                var type = $('#type :selected').val();
                var typetext = $('#type :selected').text();
                var holidayid = holidayid;
                if (date == '') {
                    $("#date").addClass('has-error');
                    flag++;
                }
                if (occasion == '') {
                    $("#occasion").addClass('has-error');
                    flag++;
                }
                if (type == '-1') {
                    $("#type").addClass('has-error');
                    flag++;
                }
                if (flag > 0) {
                    return false;
                }
                else if (date != '' && occasion != '' && type != '') {
                    $('#tblData').append("<tr><td style='padding-top: 10px;'>" + date + "</td><td style='padding-top: 10px;'>" + occasion + "</td><td style='padding-top: 10px;'>" + typetext + "</td><td style='padding-top: 10px;'><input type='button' class='btn btn-danger removeholiday' id='remove-holiday' value='Remove' style='width:100%' data-prod='" + holidayid + "'/></td></tr>");
                    if (InsertedHoliday != '') {
                        InsertedHoliday += '~';
                    }
                    InsertedHoliday += date1 + '#' + ReplaceQuote(occasion) + '#' + type;
                    $("#date").val('');
                    $('#occasion').val('');
                    $("#type").val('Select');
                    flag = false;
                }
            });

            //Remove date from table data
            $('#tblData').on('click', '.removeholiday', function () {
                var button = $(this);
                var holidayid = button.data('prod');
                var date = $(this).closest("tr").find("td:eq(0)").text();
                if (date != '') {
                    var arr = date.split('-');
                    date = arr[1] + '-' + arr[0] + '-' + arr[2];
                }
                var occasion = $(this).closest("tr").find("td:eq(1)").text();
                var type = $(this).closest("tr").find("td:eq(2)").text();
                var removal = date + '#' + ReplaceQuote(occasion) + '#' + (type == 'Full Day' ? 1 : 2);

                InsertedHoliday = InsertedHoliday.replace(removal, "");
                InsertedHoliday = InsertedHoliday.replace('~~', '~');
                if (InsertedHoliday.length < 7) {
                    InsertedHoliday = '';
                }

                if (InsertedHoliday.charAt(0) == '~') {
                    InsertedHoliday = InsertedHoliday.substring(1, InsertedHoliday.length);
                }
                var ins = InsertedHoliday.length - 1;
                if (InsertedHoliday.charAt(ins) == '~') {
                    InsertedHoliday = InsertedHoliday.substring(0, ins);
                }
                $(this).parent().parent().remove();
            });
            //Numeric only validation for year text box
            $("#calender_year").keydown(function (e) {
                if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 110, 190]) !== -1 || (e.keyCode === 65 && (e.ctrlKey === true || e.metaKey === true)) || (e.keyCode >= 35 && e.keyCode <= 40)) {
                    return;
                }
                if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
                    e.preventDefault();
                }
            });

            //Function on click of add Holiday Calender Button

            $('#addholiday_calender_btn').click(function () {
                var flag = 0;
                var calender_year = $('#calender_year').val();
                var calender_name = ReplaceQuote($('#calender_name').val());
                var holiday = $('#holiday').val();
                alert(holiday);
                var off_day = $("#off_day").val();
                alert(off_day);
                var allowed_leave = $('#leave_allowed').val();
                var Ckeckedweekdays = $('.listcheckbox:checked').map(function () {
                    return this.value;
                }).get().join(",");
                //If calender year got null
                if (calender_year.trim() == "" || calender_year.length < 4) {
                    $('#calender_year').parent().addClass('has-error');
                    flag++;
                }
                //If calender name got null
                if (calender_name.trim() == "") {
                    $('#calender_name').parent().addClass('has-error');
                    flag++;
                }
                //If holiday color got null
                if (holiday == "") {
                    $("#msgdiv").show();
                    $("#msgdiv").html("<div class='alert alert-danger' style='margin-top:10px;'><label>Select Holiday color.</label></div>");
                    flag++;
                }
                //If off day color got null
                if (off_day == "") {
                    $("#msgdiv").show();
                    $("#msgdiv").html("<div class='alert alert-danger' style='margin-top:10px;'><label>Select OffDay color.</label></div>");
                    flag++;
                }
                //If allowed leave got null
                if (allowed_leave.trim() == "") {
                    $('#leave_allowed').parent().addClass('has-error');
                    flag++;
                }
                //If weekdays got null
                if (Ckeckedweekdays == "") {
                    $("#msgdiv").show();
                    $("#msgdiv").html("<div class='alert alert-danger' style='margin-top:10px;'><label>Select Weekly Off Days.</label></div>");
                    flag++;
                }
                if (InsertedHoliday == '') {
                    $("#msgdiv").show();
                    $("#msgdiv").html("<div class='alert alert-danger' style='margin-top:10px;'><label>Add Date,occassion And Type.</label></div>");
                    flag++;
                }
                if (flag > 0) {
                    return false;
                }
                else {
                    var departmentId = $('.listCheckboxDepartment:checked').map(function () {
                        return this.value;
                    }).get().join(",");

                    //If button text is "Save"
                    if ($('#addholiday_calender_btn').text() == 'Save') {
                        $.post('/SaveHoliday', {
                            calender_year: calender_year,
                            calender_name: calender_name,
                            holiday: holiday,
                            off_day: off_day,
                            allowed_leave: allowed_leave,
                            Ckeckedweekdays: Ckeckedweekdays,
                            holidaydetails: InsertedHoliday,
                            createdby: CreatedBy,
                            updatedby: CreatedBy
                        }, function (data) {
                            var json = JSON.parse(data);
                            calendarId = json[0].calenderid;
                            GetHolidayCalenderList();
                            $('#calender_year').val('');
                            $('#calender_name').val('');
                            $('#holiday').val('#ffffff');
                            $("#off_day").val('#ffffff');
                            $('#leave_allowed').val('');
                            $('.listcheckbox').prop('checked', false);
                            $('.listCheckboxDepartment').prop('checked', false);
                            $.post('/UpdateAssociateHolidayDetail', { holidayId: calendarId, departmentId: departmentId });
                        });


                        //Call function to get Holiday calender List
                        GetHolidayCalenderList();
                        //window.location.href = "/holiday_calender";
                        //Show sucess message
                        $("#msgdiv").empty();
                        $("#msgdiv").html("<div class='alert alert-success' style='margin-top:10px;'><label>Saved Successfully</label></div>");
                        $("#msgdiv").show();
                        $("#tblData").find("tr:gt(1)").remove();

                    }
                    else {
                        //If button text is "Update"
                        var Ckeckedpagearray = $('.listcheckbox:checked').map(function () {
                            return this.value;
                        }).get().join(",");

                        var departmentId = $('.listCheckboxDepartment:checked').map(function () {
                            return this.value;
                        }).get().join(",");


                        $.post("/UpdateHoliday", {
                            id: calender_id_data,
                            calender_year: calender_year,
                            calender_name: calender_name,
                            holiday: holiday,
                            off_day: off_day,
                            allowed_leave: allowed_leave,
                            Ckeckedweekdays: Ckeckedweekdays,
                            holidaydetails: InsertedHoliday,
                            createdby: CreatedBy,
                            updatedby: CreatedBy
                        }, function (data) {
                            $('#calender_year').val('');
                            $('#calender_name').val('');
                            $('#leave_allowed').val('');
                            $('#holiday').val('#ffffff');
                            $("#off_day").val('#ffffff');
                            $('.listcheckbox').prop('checked', false);
                            //Call function to get Holiday Calender list
                            GetHolidayCalenderList();
                            //window.location.href = "/holiday_calender";
                            //Show sucess message
                            $("#msgdiv").empty();
                            $("#msgdiv").html("<div class='alert alert-success' style='margin-top:10px;'><label>Updated Successfully</label></div>");
                            $("#msgdiv").show();
                            $.post('/UpdateAssociateHolidayDetail', { holidayId: calender_id_data, departmentId: departmentId });
                        });
                        //window.location.href = "/holiday_calender";
                        $('#addholiday_calender_btn').html('Save');
                        $('#holiday_back_btn').hide();
                        $("#tblData").find("tr:gt(1)").remove();

                    }
                }

            });
            //Check Authorized Menu
            $.post('/check_Authorized_Menu', { username: username, menuName: '/holiday_calender' }, function (data) {
                var json = JSON.parse(data);
                if (json[0].count == 0) {
                    window.location.href = "/";
                }
            });
        });

        //Function to get populated menu
        var associateid = '';
        function populateMenu() {
            $.post('/populate_menu', { associateid: associateid }, function (data) {
                var json = JSON.parse(data);
                if (data.length > 10) {
                    $.each(json, function (key, value) {
                        if (value.menu_url == null) {
                            var menutext = "";
                            menutext += "<li class='dropdown'><a href='#' class='dropdown-toggle' data-toggle='dropdown'>" + value.menu_name + "<span class='caret'></span></a><ul class='dropdown-menu' role='menu'>";
                            $.each(json, function (key1, value1) {
                                if (value1.menu_parent_id == value.menuid) {
                                    menutext += "<li><a href='" + value1.menu_url + "'>" + value1.menu_name + "</a></li>";
                                }
                            });
                            menutext += "</ul></li>";
                            $('#nav').append($(menutext));
                        }
                        else if (value.menu_parent_id == null) {
                            $('#nav').append($('<li><a href="' + value.menu_url + '">' + value.menu_name + '</a></li>'));
                        }
                    });
                }
            });
        }
        function GetCreatedBy() {
            try {
                $.post('/GetLoginDetails', { username: username }, function (data) {
                    var json = JSON.parse(data);

                    if (data.length > 3) {
                        CreatedBy = json[0].userid;
                        designationid = json[0].designationid;
                        associateid = json[0].associateid;
                        populateMenu();
                    }
                });
            } catch (err) {
                console.log(err.message);
            }
        }
        //Function to get holiday calender list
        function GetHolidayCalenderList() {
            $.post('/GetHolidayCalenderList', function (data) {
                var json = JSON.parse(data);
                if (data.length > 10) {
                    var datatable = $('#holiday_calender_list');
                    datatable.empty();
                    datatable.append("<thead><tr><th class='' style='width:10%;'>S.No.</th><th class='' style='width: 40%;'>calendar Name</th><th class='' style='width: 40%;'>Year</th><th class='' style='width: 40%;'>Leave Allowed</th><th class='theadlabel' colspan='2' style='width: 10%;border-right: 0px; text-align: center;'>Action</th></tr></thead>");
                    $.each(json, function (key, value) {
                        var html = '<tr row0 odd><td>' + (key + 1) + '</td><td>' + this.calendername + '</td><td>' + this.calenderyear + '</td><td>' + this.allowedleave + '</td><td><a href="#"><i class="fa fa-fw fa-edit cursordiv" onclick="EditHolidayCalender(' + this.calenderid + ')"></i></a></td><td><a href="#"><i class="fa fa-times cursordiv" onclick="EditCalenderStatus(' + this.calenderid + ',' + this.isactive + ')"></i></a></td></tr>';
                        datatable.append(html);
                        $('.nofoundlbl').hide();
                    });
                }
                else {
                    $('.nofoundlbl').show();
                    $('.nofoundlbl').val("No Record Found");
                }
                datatable.append("</tbody>");
            });
            //Call function to get created by
        }

        //Function to get created by


        //Function to edit Holiday Calender
        function EditHolidayCalender(Calender_Id_Data) {
            InsertedHoliday = '';
            calender_id_data = Calender_Id_Data;
            //Show holiday back button
            $('#holiday_back_btn').show();
            $('.listcheckbox').prop('checked', false);
            $('#tblData').find("tr:gt(1)").remove();
            $.post('/editHolidayCalender', { id: Calender_Id_Data }, function (data) {
                var json = JSON.parse(data);
                if (data.length > 10) {
                    $('#calender_name').val(json[0].calendername);
                    $('#calender_year').val(json[0].calenderyear);
                    $('#holiday').spectrum({
                        color: json[0].holidaycolor,
                        showPaletteOnly: true,
                        togglePaletteOnly: true,
                        togglePaletteMoreText: 'more',
                        togglePaletteLessText: 'less',
                        palette: [
                            ["#000", "#444", "#666", "#999", "#ccc", "#eee", "#f3f3f3", "#fff"],
                            ["#f00", "#f90", "#ff0", "#0f0", "#0ff", "#00f", "#90f", "#f0f"],
                            ["#f4cccc", "#fce5cd", "#fff2cc", "#d9ead3", "#d0e0e3", "#cfe2f3", "#d9d2e9", "#ead1dc"],
                            ["#ea9999", "#f9cb9c", "#ffe599", "#b6d7a8", "#a2c4c9", "#9fc5e8", "#b4a7d6", "#d5a6bd"],
                            ["#e06666", "#f6b26b", "#ffd966", "#93c47d", "#76a5af", "#6fa8dc", "#8e7cc3", "#c27ba0"],
                            ["#c00", "#e69138", "#f1c232", "#6aa84f", "#45818e", "#3d85c6", "#674ea7", "#a64d79"],
                            ["#900", "#b45f06", "#bf9000", "#38761d", "#134f5c", "#0b5394", "#351c75", "#741b47"],
                            ["#600", "#783f04", "#7f6000", "#274e13", "#0c343d", "#073763", "#20124d", "#4c1130"]
                        ]
                    });
                    $('#off_day').spectrum({
                        color: json[0].offcolor,
                        showPaletteOnly: true,
                        togglePaletteOnly: true,
                        togglePaletteMoreText: 'more',
                        togglePaletteLessText: 'less',
                        palette: [
                            ["#000", "#444", "#666", "#999", "#ccc", "#eee", "#f3f3f3", "#fff"],
                            ["#f00", "#f90", "#ff0", "#0f0", "#0ff", "#00f", "#90f", "#f0f"],
                            ["#f4cccc", "#fce5cd", "#fff2cc", "#d9ead3", "#d0e0e3", "#cfe2f3", "#d9d2e9", "#ead1dc"],
                            ["#ea9999", "#f9cb9c", "#ffe599", "#b6d7a8", "#a2c4c9", "#9fc5e8", "#b4a7d6", "#d5a6bd"],
                            ["#e06666", "#f6b26b", "#ffd966", "#93c47d", "#76a5af", "#6fa8dc", "#8e7cc3", "#c27ba0"],
                            ["#c00", "#e69138", "#f1c232", "#6aa84f", "#45818e", "#3d85c6", "#674ea7", "#a64d79"],
                            ["#900", "#b45f06", "#bf9000", "#38761d", "#134f5c", "#0b5394", "#351c75", "#741b47"],
                            ["#600", "#783f04", "#7f6000", "#274e13", "#0c343d", "#073763", "#20124d", "#4c1130"]
                        ]
                    });
                    $('#leave_allowed').val(json[0].allowedleave);
                    var arry = (json[0].weeklyoff).split('~');
                    $('input:checkbox:not(:checked)').each(function () {
                        for (i = 0; i < arry.length; i++) {
                            if (arry[i] == $(this).val()) {
                                $(this).prop('checked', true);
                            }
                        }
                    });

                    $.post('/editCalenderDates', { id: Calender_Id_Data }, function (data) {
                        var json = JSON.parse(data);

                        if (data.length > 10) {

                            $.each(json, function (key, value) {
                                var holiday_date = this.holiday_date;
                                if (holiday_date != '') {
                                    var arr = holiday_date.split('-');
                                    holiday_date = arr[1] + '-' + arr[0] + '-' + arr[2];
                                }
                                if (this.holiday_date != '' && this.occasion != '' && this.duration != '') {

                                    $('#tblData').append("<tr><td style='padding-top: 10px;'>" + this.holiday_date + "</td><td style='padding-top: 10px;'>" + this.occasion + "</td><td style='padding-top: 10px;'>" + (this.duration == 1 ? 'Full Day' : 'Half Day') + "</td><td style='padding-top: 10px;'><input type='button' class='btn btn-danger removeholiday' id='remove-holiday' value='Remove' style='width:100%;' data-prod='" + this.dateid + "'/></td></tr>");
                                    if (InsertedHoliday != '') {
                                        InsertedHoliday += '~';
                                    }

                                    InsertedHoliday += holiday_date + '#' + ReplaceQuote(this.occasion) + '#' + this.duration;
                                    $("#date").val('');
                                    $('#occasion').val('');
                                    $("#type").val('Select');
                                    flag = false;
                                }
                            });
                        }
                    });

                    $('#addholiday_calender_btn').html('Update');
                }
            });
        }
        //Function will be called onclick of delete
        function EditCalenderStatus(Calender_Id_Data, txtStatus) {
            if (txtStatus) {
                txtStatus = false;
            }
            else {
                txtStatus = true;
            }
            $.post('/updateCalenderStatus', { id: Calender_Id_Data, status: txtStatus }, function (data) {
                GetHolidayCalenderList();
            });
            $("#msgdiv").show();
            $("#msgdiv").html("<div class='alert alert-success' >Deactivated Successfully</div>");
        }

        $(function () {
            function runEffect() {

                var selectedEffect = 'blind';

                var options = {};

                $("#msgdiv").hide(selectedEffect, options, 500);
            };
            //
            $("#calender_year").click(function () {
                runEffect();
                return false;
            });
        });

        $(function () {
            function runEffect() {

                var selectedEffect = 'blind';

                var options = {};

                $("#msgdiv").hide(selectedEffect, options, 500);
            };

            $("#calender_year").click(function () {
                runEffect();
                return false;
            });
        });
        function RemoveValidation(obj) {
            var id = obj.id;
            $("#" + id).parent().removeClass('has-error');
            $("#" + id).removeClass('has-error');
        }

        function RemoveHashTilde(obj) {
            var id = obj.id;
            var a = $("#" + id).val();
            if (String(a).indexOf("#") >= 0 || String(a).indexOf("~") >= 0) {
                a = a.replace("~", "");
                a = a.replace("#", "");
                $("#" + id).val(a);
            }
        }

        function ReplaceQuote(data) {
            var result = '';
            var arr = [];
            arr = data.split(' ');
            for (var i in arr) {
                var a = '';
                a = arr[i].replace("'", "''");
                if (i == 0) {
                    result = result + a
                }
                else {
                    result = result + ' ' + a;
                }

            }
            return result;

        }

        //To Get Departments
        function GetDepartments() {
            var department = "";
            $.post('/GetDepartment', function (data) {
                var json = JSON.parse(data);
                if (data.length > 10) {
                    var tableData = $('#tblDepartments');
                    tableData.empty();
                    tableData.append("<tbody>");
                    $.each(json, function (key, value) {
                        department += "<tr row0 odd><td style='width:20%'><input type='checkbox' class='listCheckboxDepartment' value=" + this.departmentid + "></td><td  style='width:80%'>" + this.departmenttext + "</td></tr>";
                    });
                    $('#tblDepartments').append($(department));
                    tableData.append("</tbody>");
                }

            });
        }

    </script>

}


