﻿@model hrms_core.ViewModel.HolidayCalenderModel
@{
    ViewData["Title"] = "HolidayCalUpload";
}

<section class="content-header">
    <h1>
        Holiday Calender Upload
    </h1>
</section>
<div id="MsgDiv">
    @if (TempData["msg"] != null)
    {
        if (Convert.ToString(TempData["msg"]).ToLower().Contains("wrong") || Convert.ToString(TempData["msg"]).ToLower().Contains("no"))
        {
            <div class='alert alert-danger'>
                <label>@TempData["msg"]</label>
                <a onclick="$('#MsgDiv').hide(500);" class="anchor pull-right"><i class="fa fa-window-close" aria-hidden="true"></i></a>
            </div>
        }

        else if (Convert.ToString(TempData["msg"]).ToLower().Contains("already") || Convert.ToString(TempData["msg"]).ToLower().Contains("exist"))
        {
            <div class='alert alert-warning'>
                <label>@TempData["msg"]</label>
                <a onclick="$('#MsgDiv').hide(500);" class="anchor pull-right"><i class="fa fa-window-close" aria-hidden="true"></i></a>
            </div>
        }
        else
        {
            <div class='alert alert-success'>
                <label>@TempData["msg"]</label>
                <a onclick="$('#MsgDiv').hide(500);" class="anchor pull-right"><i class="fa fa-window-close" aria-hidden="true"></i></a>
            </div>
        }
    }
</div>
<form asp-controller="HolidayCalender" asp-action="HolidayCalUpload" method="post">
    <section class="content">
        <div class="col-md-8">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <input type="submit" class="btn btn-success btn-flat pull-right" id="btnSubmit" name="CommandName" value="Get Format" />
                    <div class="box-body">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label><span style="color: #ff0000;">*</span>Select Year: </label>
                                <input type="text" id="ddlyear" asp-for="calenderyear" class="form-control" placeholder="yyyy" />
                                <span asp-validation-for="calenderyear" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-lg-9">
                            <div class="form-group">
                                <input type="submit" Text="Upload" class="btn btn-primary btn-flat" name="CommandName" value="Upload" />

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</form>
@section scripts    {
    <script type="text/javascript">
        $(document).ready(function () {
            $("#ddlyear").datepicker
                ({
                    changeMonth: false,
                    changeYear: true,
                    showButtonPanel: true,
                    yearRange: '1990:2050',
                    dateFormat: 'yyyy',
                });
        });
    </script>
}


