﻿
@model hrms_core.Models.AssociateVM
@{
    ViewData["Title"] = "Associate Bucket";
}

<section class="content-header">
    <h1>Associate Details</h1>
</section>
<section class="content">
    <div id="MsgDiv">
        @if (TempData["msg"] != null)
        {
            if (Convert.ToString(TempData["msg"]).ToLower().Contains("wrong") || Convert.ToString(TempData["msg"]).ToLower().Contains("not"))
            {
                <div class='alert alert-danger'>
                    <label>@TempData["msg"]</label><a onclick="$('#MsgDiv').hide(500);" class="anchor pull-right"><i class="fa fa-window-close" aria-hidden="true"></i></a>
                </div>
            }
            else if (Convert.ToString(TempData["msg"]).ToLower().Contains("already") || Convert.ToString(TempData["msg"]).ToLower().Contains("exist"))
            {
                <div class='alert alert-warning'>
                    <label>@TempData["msg"]</label><a onclick="$('#MsgDiv').hide(500);" class="anchor pull-right"><i class="fa fa-window-close" aria-hidden="true"></i></a>
                </div>
            }
            else
            {
                <div class='alert alert-success'>
                    <label>@TempData["msg"]</label><a onclick="$('#MsgDiv').hide(500);" class="anchor pull-right"><i class="fa fa-window-close" aria-hidden="true"></i></a>
                </div>
            }
        }
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#tab_1" data-toggle="tab">Active Employees</a></li>
                    <li><a href="#tab_2" data-toggle="tab">In-Active Employees</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="tab_1">

                        <div class="box box-default">
                            <div class="box-header with-border">
                            </div>
                            <div class="box-body">
                                <div class="callout callout-info nofoundlbl" style="display:none;"></div>
                                <div class="" style="max-height: 400px;min-height: 153px;overflow-y: auto;">
                                    <table id="tblAssociate" class="table table-bordered table-striped">
                                        <thead>
                                            <tr>
                                                <th>Associate Code</th>
                                                <th>Associate Name</th>
                                                <th>Designation</th>
                                                <th>Department</th>
                                                <th>Contact</th>
                                                <th>DOJ</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @{

                                                foreach (var item in Model.AssociateVMList)
                                                {
                                                    <tr>
                                                        <td>@item.associate_code</td>
                                                        <td>@item.associate_name</td>
                                                        <td>@item.designation</td>
                                                        <td>@item.department</td>
                                                        <td>@item.contact</td>
                                                        <td>@item.DOJ.ToString("dd-MM-yyyy")</td>
                                                        <td>
                                                            <a asp-controller="Associate" asp-action="Index" title="view" asp-route-id="@item.associate_id" asp-route-view="1"><i class="fa fa-eye"></i></a>|
                                                            <a asp-controller="Associate" asp-action="Index" title="edit" asp-route-id="@item.associate_id" asp-route-view="2" class="fa fa-pencil"></a>|
                                                            <a asp-controller="Associate" asp-action="DeleteAssociate" title="delete" asp-route-id="@item.associate_id" class=" fa fa-close"></a>
                                                        </td>
                                                    </tr>

                                                }
                                            }
                                        </tbody>
                                    </table>
                                </div>
                                </div>
                            </div>

                    </div>
                    <div class="tab-pane" id="tab_2">

                        <div class="box box-default">
                            <div class="box-header with-border">
                            </div>
                            <div class="box-body">
                                <div class="callout callout-info nofoundlbl" style="display:none;"></div>
                                <div class="" style="max-height: 400px;min-height: 153px;overflow-y: auto;">
                                    <table id="tblInactiveAssociate" class="table table-bordered table-striped">
                                        <thead>
                                            <tr>
                                                <th>Associate Code</th>
                                                <th>Associate Name</th>
                                                <th>Designation</th>
                                                <th>Department</th>
                                                <th>Contact</th>
                                                <th>DOJ</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @{

                                                foreach (var item in Model.AssociateVMInactiveList)
                                                {
                                                    <tr>
                                                        <td>@item.associate_code</td>
                                                        <td>@item.associate_name</td>
                                                        <td>@item.designation</td>
                                                        <td>@item.department</td>
                                                        <td>@item.contact</td>
                                                        <td>@item.DOJ</td>
                                                        <td>
                                                            <a asp-controller="Associate" asp-action="Index" asp-route-id="@item.associate_id" title="view" asp-route-view="1"><i class="fa fa-eye"></i></a>|
                                                            <a asp-controller="Associate" asp-action="ActivateAssociate" title="resume" asp-route-id="@item.associate_id" class="fa fa-undo"></a>
                                                        </td>
                                                    </tr>

                                                }
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section scripts{
    <script>
        $(document).ready(function () {
            $("#tblAssociate").DataTable({
                "lengthMenu": [[100, 50, 20, -1], [100, 50, 20, "All"]],
                "pageLength": 30,
                dom: 'lBfrtip',
                buttons: [
                    'excel', 'pdf', 'print'
                ]
            });
            $('#tblInactiveAssociate').DataTable(
                {
                    "lengthMenu": [[100, 50, 20, -1], [100, 50, 20, "All"]],
                    "pageLength": 30,
                    dom: 'lBfrtip',
                    buttons: [
                        'excel', 'pdf', 'print'
                    ]
                });
        });
    </script>
}
