﻿@model hrms_core.Models.AssociateVM

@{
    ViewData["Title"] = "Download Associate Extension Codes";
}


<section class="content-header">
    <h1>@ViewData["Title"]</h1>
</section>

<section class="content">
    <link href="~/datatables/dataTables.bootstrap.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.5.1/css/buttons.dataTables.min.css" />
    
       <div class="col-md-12">
            <div class="box box-primary">
                
                <div class="box-body">
                  
                    
                    <div class="col-md-12">
                        <div class="box-header with-border">
                            <span>Associate Extension Details</span>
                        </div>
                        <div class="box-body">
                            <table id="tblData" class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>SNo.</th>
                                        <th>Associate Name</th>
                                        <th>Associate Extension</th>
                                        
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        int i = 1;
                                        foreach (var item in Model.AssociateExtension)
                                        {
                                            <tr>
                                                <td>@i</td>
                                                <td>@item.associate_name</td>
                                                <td>@item.extension</td>
                                                
                                            </tr>
                                            i = i + 1;
                                        }

                                    }
                                </tbody>
                            </table>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
 
</section>

@section Scripts{

    <script src="https://cdn.datatables.net/buttons/1.5.1/js/dataTables.buttons.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.html5.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#tblData').DataTable({
                dom: 'Bfrtip',
                buttons: [
                    {
                        extend: 'excelHtml5',
                        text: 'Download',

                    }
                ]
            })
        });
    </script>
}
