﻿@model hrms_core.Models.AssociateVM
@{
    ViewData["Title"] = "addnew_associate";
}

<section class="content-header">
    <h1>Add New Associate</h1>
</section>

<!-- Main content -->
<section class="content">
    <div id="MsgDiv">
        @if (TempData["msg"] != null)
        {
            if (Convert.ToString(TempData["msg"]).ToLower().Contains("wrong") || Convert.ToString(TempData["msg"]).ToLower().Contains("not"))
            {
                <div class='alert alert-danger'>
                    <label>@TempData["msg"]</label><a onclick="$('#MsgDiv').hide(500);" class="anchor pull-right"><i class="fa fa-window-close" aria-hidden="true"></i></a>
                </div>
            }
            else if (Convert.ToString(TempData["msg"]).ToLower().Contains("already") || Convert.ToString(TempData["msg"]).ToLower().Contains("exist"))
            {
                <div class='alert alert-warning'>
                    <label>@TempData["msg"]</label><a onclick="$('#MsgDiv').hide(500);" class="anchor pull-right"><i class="fa fa-window-close" aria-hidden="true"></i></a>
                </div>
            }
            else
            {
                <div class='alert alert-success'>
                    <label>@TempData["msg"]</label><a onclick="$('#MsgDiv').hide(500);" class="anchor pull-right"><i class="fa fa-window-close" aria-hidden="true"></i></a>
                </div>
            }
        }
    </div>
    <form asp-controller="Associate" asp-action="Index" method="post" enctype="multipart/form-data">
        <div class="box box-default">
            <div class="box-header with-border">
                <h3 class="box-title">Add New Associate</h3>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="form-group col-md-12">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label><span style="color: #ff0000;">*</span>Associate Name: </label>
                                <input type="text" class="form-control CharcaterTextBox" id="associate_name" placeholder="Enter Associate Name" asp-for="associateMaster.associate_name">
                                <span asp-validation-for="associateMaster.associate_name" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Date Of Joining: </label>
                                <input type="date" class="form-control" id="applicable_from" maxlength="50" asp-for="associateMaster.application_date">
                                <span asp-validation-for="associateMaster.application_date" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-3" style="display:none;">
                            <div class="form-group">
                                <label> Applicable To</label>
                                <input type="text" class="form-control" id="applicable_to" placeholder="Enter Applicable To" asp-for="associateMaster.applicable_to">
                            </div>
                        </div>
                        @{
                            if (Model.associateMaster.id > 0)
                            {
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Associate Code: </label>
                                        <input type="text" class="form-control" id="associate_code" placeholder="Associate Code" readonly="readonly" asp-for="associateMaster.associate_code">
                                    </div>
                                </div>
                            }
                        }
                        <div class="col-md-3">
                            <div class="form-group pull-right  ">
                                <button id="savebtn" type="submit" class="btn btn-success" style=" margin-top: 10%;">Save</button>
                                <a asp-action="Index" asp-controller="Associate" asp-route-id="" class="btn btn-primary" style="margin-top: 10%;">Clear</a>
                                <a asp-action="AssociateBucket" asp-controller="Associate" class="btn btn-primary" style="margin-top: 10%;">Back</a>
                                <input type="hidden" asp-for="associateMaster.id" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <section class="col-lg-12 connectedSortable">
                        <div class="box box-solid bg-light-blue-gradient">
                            <div class="box-header ui-sortable-handle">
                                <!-- tools box -->
                                <div class="pull-right box-tools">
                                    <button type="button" class="btn btn-primary btn-sm pull-right" data-widget="collapse" data-toggle="tooltip" title="" style="margin-right: 5px;" data-original-title="Collapse">
                                        <i class="fa fa-minus"></i>
                                    </button>
                                </div>
                                <h3 class="box-title">
                                    Main
                                </h3>
                            </div>
                            <div class="box-body box-footer text-black" style="display: block;">
                                <div class="col-md-12">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label><span style="color: #ff0000;">*</span> Designation: </label>
                                            <select id="ddlDesignation" asp-for="associateMain.designation_id" asp-items="@(new SelectList(Model.DesignationModelList,"id","designationtext"))" class="form-control "></select>
                                            <span asp-validation-for="associateMain.designation_id" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label><span style="color: #ff0000;">*</span>Department: </label>
                                            <select id="ddlDepartment" asp-for="associateMain.department_id" asp-items="@(new SelectList(Model.DepartmentModelList,"id","departmenttext"))" class="form-control " onchange="GetHod(this.value);"></select>
                                            <span asp-validation-for="associateMain.department_id" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label><span style="color: #ff0000;">*</span>Role: </label>
                                            <select id="ddlReportingPerson" asp-for="associateMain.role_id" asp-items="@(new SelectList(Model.RoleList,"id","role_name"))" class="form-control "></select>
                                            <span asp-validation-for="associateMain.role_id" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label><span style="color: #ff0000;">*</span>Reporting Person: </label>
                                            <select id="ddlReportingPerson" asp-for="associateMain.reportingperson_id" asp-items="@(new SelectList(Model.associateMaster.AssociateMasterModelList,"id","associate_name"))" class="form-control "></select>
                                            <span asp-validation-for="associateMain.reportingperson_id" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div id="chkHod" class="col-md-4">
                                        <div class="form-group">
                                            <label> Is HOD: </label>
                                            <input type="checkbox" class="checkbox" asp-for="IS_HOD" />
                                        </div>
                                    </div>
                                    <div id="HODName" class="col-md-4">
                                        <div class="form-group">
                                            <label> HOD Name: </label>
                                            <input type="text" class="form-control" id="txtHODName" readonly="readonly" placeholder="Enter Extension no" asp-for="associateMain.HOD_Name">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label> Extension No: </label>
                                            <input type="text" class="form-control NumericTextBox" id="extno" maxlength="3" placeholder="Enter Extension no" onkeyup="RemoveHashTild(this);" asp-for="associateMain.extensionno">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label><span style="color: #ff0000;">*</span>Mobile No: </label>
                                            <input type="text" class="form-control NumericTextBox" id="mobileno" maxlength="10" placeholder="Enter Mobile no" onkeyup="RemoveHashTild(this);" asp-for="associateMain.mobileno">
                                            <span asp-validation-for="associateMain.mobileno" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label><span style="color: #ff0000;">*</span>Email ID: </label>
                                            <input type="text" class="form-control" id="emailid" maxlength="95" placeholder="Enter Email Id" asp-for="associateMain.personal_email">
                                            <span asp-validation-for="associateMain.personal_email" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Bank A/C No: </label>
                                            <input type="text" class="form-control NumericTextBox" id="bankaccountno" maxlength="26" placeholder="Enter Bank A/C No"
                                                   onkeyup="RemoveHashTild(this);" asp-for="associateMain.account_no">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label> Bank Name: </label>
                                            <input type="text" class="form-control CharcaterTextBox" id="bankname" maxlength="95" placeholder="Enter Bank Name" asp-for="associateMain.bankname">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>IFSC: </label>
                                            <input type="text" class="form-control" id="ifsc" maxlength="11" placeholder="Enter IFSC no" onkeyup="RemoveHashTild(this);" asp-for="associateMain.ifsc">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label><span style="color: #ff0000;">*</span> Official Email: </label>
                                            <input type="text" class="form-control" id="officialemail" maxlength="95" placeholder="Enter Official Email" onkeyup="RemoveHashTild(this);" asp-for="associateMain.official_email">
                                            <span asp-validation-for="associateMain.official_email" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Date Of Confirmation: </label>
                                            <input type="date" class="form-control" id="dateofconfirmation" placeholder="Enter Date Of Confirmation" asp-for="associateMain.doc" asp-format="{0:yyyy-MM-dd}" />
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label><span style="color: #ff0000;">*</span>Highest Qualification: </label>
                                            <select id="ddlReportingPerson" asp-for="associateMain.qualification_id" asp-items="@(new SelectList(Model.qualificationModel.QualificationModelList,"id","qualificationtext"))" class="form-control "></select>
                                            <span asp-validation-for="associateMain.qualification_id" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-4" style="display:none;">
                                        <div class="form-group">
                                            <label><span style="color: #ff0000;">*</span>ShiftType: </label>
                                            <select id="ddlshifttype" class="form-control"><option value="-1">Select</option><option value="0">Fixed</option><option value="1">Floating</option></select>
                                            @*<span asp-validation-for="associateMain.official_email" class="text-danger"></span>*@
                                        </div>
                                    </div>
                                    <div class="col-md-4" style="display:none;">
                                        <div class="form-group">
                                            <label><span style="color: #ff0000;">*</span>Shift: </label>
                                            <select id="ddlshift" class="form-control " asp-for="associateShift.shift_id"><option value="0">Select</option></select>
                                            <span asp-validation-for="associateShift.shift_id" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label> P.F. No: </label>
                                            <input type="text" class="form-control" id="pfno" maxlength="14" placeholder="Enter PF No" asp-for="associateMain.pf_no">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>ESI No: </label>
                                            <input type="text" class="form-control" id="esi" placeholder="Enter ESI No" maxlength="17" asp-for="associateMain.esi_no">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label><span style="color: #ff0000;">*</span>Applicable Leave: </label>
                                            <input type="text" id="txtApplicableLeave" class="form-control" asp-for="associateMain.applicable_leave" readonly />
                                            <span asp-validation-for="associateMain.applicable_leave" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="box box-solid bg-light-blue-gradient">
                            <div class="box-header ui-sortable-handle">
                                <!-- tools box -->
                                <div class="pull-right box-tools">
                                    <button type="button" class="btn btn-primary btn-sm pull-right" data-widget="collapse" data-toggle="tooltip" title="" style="margin-right: 5px;" data-original-title="Collapse">
                                        <i class="fa fa-minus"></i>
                                    </button>
                                </div>
                                <h3 class="box-title">
                                    Personal
                                </h3>
                            </div>
                            <div class="box-body box-footer text-black">
                                <div class="col-lg-12">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label> PAN Card: </label>
                                            <input type="text" class="form-control" id="panno" maxlength="10" placeholder="Enter PAN No(Ex-ABCDE1234A) " asp-for="associatePersonal.pan_card">
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label> Adhar Card No: </label>
                                            <input type="text" class="form-control" id="adharcardno" maxlength="12" placeholder="Adhar Card No " asp-for="associatePersonal.adhar_card_no">
                                        </div>
                                    </div>

                                    <div class="col-lg-2">
                                        <div class="form-group">
                                            <label>Blood Group: </label>
                                            <select id="bloodgroup" class="form-control " asp-for="associatePersonal.bloodgroup"><option>Select</option><option>O+</option><option>O-</option><option>A+</option><option>A-</option><option>B+</option><option>B-</option><option>AB+</option><option>AB-</option></select>
                                        </div>
                                    </div>
                                    <div class="col-lg-2">
                                        <div class="form-group">
                                            <label><span style="color: #ff0000;">*</span>Gender: </label>
                                            <select id="gender" class="form-control " asp-for="associatePersonal.gender"><option>Select</option><option>Male</option><option>Female</option></select>
                                            <span asp-validation-for="associatePersonal.gender" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-lg-2">
                                        <div class="form-group">
                                            <label><span style="color: #ff0000;">*</span> Marital Status: </label>
                                            <select id="maritalstatus" class="form-control " asp-for="associatePersonal.maritalstatus"><option>Select</option><option>Single</option><option>Married</option></select>
                                            <span asp-validation-for="associatePersonal.maritalstatus" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <div class="form-group">
                                            <label><span style="color: #ff0000;">*</span> DOB: </label>
                                            <input type="date" class="form-control" id="dob" placeholder="Enter DOB" asp-for="associatePersonal.dob" asp-format="{0:yyyy-MM-dd}" />
                                            <span asp-validation-for="associatePersonal.dob" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <div class="form-group">
                                            <label>Anniversary Date: </label>
                                            <input type="date" class="form-control" id="anniversarydate" placeholder="Enter Anniversary Date" asp-for="associatePersonal.anniversary">
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label>Father's/Husband's Name: </label>
                                            <input type="text" class="form-control CharcaterTextBox" id="fatherhusbandname" maxlength="95" placeholder="Enter Father's/Husband's Name" asp-for="associatePersonal.father_husband_name">
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label>Mother's Name: </label>
                                            <input type="text" class="form-control CharcaterTextBox" id="mothername" maxlength="95" placeholder="Enter Mother's Name" asp-for="associatePersonal.mothername">
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label>Present Address: </label>
                                            <textarea class="form-control" asp-for="associatePersonal.present_address" id="presentaddress" maxlength="95" placeholder="Enter Present Address..."></textarea>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label><span style="color: #ff0000;">*</span> Permanent Address: </label>
                                            <textarea class="form-control" asp-for="associatePersonal.permanent_address" rows="3" id="permanentaddress" maxlength="95" placeholder="Enter Permanent Address..."></textarea>
                                            <span asp-validation-for="associatePersonal.permanent_address" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-lg-2">
                                        <div class="form-group">
                                            <label>Country: </label>
                                            <select id="ddlPresentCountry" asp-for="associatePersonal.present_country_id" asp-items="@(new SelectList(Model.PresentCountryModelList,"id","countrytext"))" class="form-control "></select>

                                        </div>
                                    </div>
                                    <div class="col-lg-2">
                                        <div class="form-group">
                                            <label>State: </label>
                                            <select id="ddlPresentState" asp-for="associatePersonal.present_state_id" asp-items="@(new SelectList(Model.PresentStateModelList,"id","statetext"))" class="form-control "></select>

                                        </div>
                                    </div>
                                    <div class="col-lg-2">
                                        <div class="form-group">
                                            <label>City: </label>
                                            <select id="ddlPresentCity" asp-for="associatePersonal.present_city_id" asp-items="@(new SelectList(Model.PresentCityModelList,"id","citytext"))" class="form-control "></select>

                                        </div>
                                    </div>
                                    <div class="col-lg-2">
                                        <div class="form-group">
                                            <label><span style="color: #ff0000;">*</span>Country: </label>
                                            <select id="ddlPermanentCountry" asp-for="associatePersonal.permanent_country_id" asp-items="@(new SelectList(Model.PermanentCountryModelList,"id","countrytext"))" class="form-control "></select>
                                            <span asp-validation-for="associatePersonal.permanent_country_id" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-lg-2">
                                        <div class="form-group">
                                            <label><span style="color: #ff0000;">*</span>State: </label>
                                            <select id="ddlPermanentState" asp-for="associatePersonal.permanent_state_id" asp-items="@(new SelectList(Model.PermanentStateModelList,"id","statetext"))" class="form-control "></select>
                                            <span asp-validation-for="associatePersonal.permanent_state_id" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-lg-2">
                                        <div class="form-group">
                                            <label><span style="color: #ff0000;">*</span>City: </label>
                                            <select id="ddlPermanentCity" asp-for="associatePersonal.permanent_city_id" asp-items="@(new SelectList(Model.PermanentCityModelList,"id","citytext"))" class="form-control "></select>
                                            <span asp-validation-for="associatePersonal.permanent_city_id" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="box box-solid bg-light-blue-gradient">
                            <div class="box-header ui-sortable-handle">
                                <!-- tools box -->
                                <div class="pull-right box-tools">
                                    <button type="button" class="btn btn-primary btn-sm pull-right" data-widget="collapse" data-toggle="tooltip" title="" style="margin-right: 5px;" data-original-title="Collapse">
                                        <i class="fa fa-minus"></i>
                                    </button>
                                </div>
                                <h3 class="box-title">
                                    Skill Master
                                </h3>
                            </div>
                            <div class="box-body box-footer text-black" style="display: block;">
                                <div class="box-body">
                                    <div class="callout callout-info nofoundlbl" style="display:none;"></div>
                                    <div class="" style="max-height: 150px;min-height: 100px;overflow-y: auto;">
                                        <table id="tblskills" class="table table-bordered table-striped">
                                            <thead>
                                                <tr>
                                                    <th style="width:29%">Skill Code</th>
                                                    <th style="width:30%">Skill Description</th>
                                                    <th style="width:28%">Remarks</th>
                                                    <th><input type="button" value="Add New" class="btn btn-primary btn-flat" id="btnAddSkill" /></th>
                                                </tr>
                                            </thead>
                                        </table>
                                        <div id="SkillPartial">
                                            @{
                                                if (Model.AssociateSkillModelList != null && Model.AssociateSkillModelList.Count != 0)
                                                {
                                                    foreach (var item in Model.AssociateSkillModelList)
                                                    {
                                                        <partial name="_SkillDetail" model="item" />

                                                    }
                                                }
                                            }
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="box box-solid bg-light-blue-gradient">
                            <div class="box-header ui-sortable-handle">
                                <!-- tools box -->
                                <div class="pull-right box-tools">
                                    <button type="button" class="btn btn-primary btn-sm pull-right" data-widget="collapse" data-toggle="tooltip" title="" style="margin-right: 5px;" data-original-title="Collapse">
                                        <i class="fa fa-minus"></i>
                                    </button>
                                </div>
                                <h3 class="box-title">
                                    Qualification
                                </h3>
                            </div>
                            <div class="box-body box-footer text-black" style="display: block;">
                                <div class="box-body">
                                    <div class="callout callout-info nofoundlbl" style="display:none;"></div>
                                    <div class="" style="max-height: 150px;min-height: 100px;overflow-y: auto;">
                                        <table id="tblqualification" class="table table-bordered table-striped">
                                            <thead>
                                                <tr>
                                                    <th>Qualification</th>
                                                    <th>Year Of Passing(YYYY)</th>
                                                    <th>Institute/University</th>
                                                    <th>Percentage</th>
                                                    <th><input type="button" value="Add New" class="btn btn-primary btn-flat" id="btnAddQualification" /></th>
                                                </tr>
                                            </thead>
                                        </table>
                                        <div id="QualificationPartial">
                                            @{
                                                if (Model.AssociateQualificationModelList != null && Model.AssociateQualificationModelList.Count != 0)
                                                {
                                                    foreach (var item in Model.AssociateQualificationModelList)
                                                    {
                                                        <partial name="_QualificationDetail" model="item" />
                                                    }
                                                }
                                            }
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="box box-solid bg-light-blue-gradient">
                            <div class="box-header ui-sortable-handle">
                                <!-- tools box -->
                                <div class="pull-right box-tools">
                                    <button type="button" class="btn btn-primary btn-sm pull-right" data-widget="collapse" data-toggle="tooltip" title="" style="margin-right: 5px;" data-original-title="Collapse">
                                        <i class="fa fa-minus"></i>
                                    </button>
                                </div>
                                <h3 class="box-title">
                                    Experience
                                </h3>
                            </div>
                            <div class="box-body box-footer text-black" style="display: block;">
                                <div class="box-body">
                                    <div class="callout callout-info nofoundlbl" style="display:none;"></div>
                                    <div class="" style="max-height: 150px;min-height: 100px;overflow-y: auto;">
                                        <table id="tblexperience" class="table table-bordered table-striped">
                                            <thead>
                                                <tr>
                                                    <th>Previous Company</th>
                                                    <th>From Period</th>
                                                    <th>To Period</th>
                                                    <th>Designation</th>
                                                    <th>G.Salary</th>
                                                    <th>Carry Home Salary</th>
                                                    <th>CTC</th>
                                                    <th style="width: 10%;">Extra Allowance</th>
                                                    <th><input type="button" value="Add New" class="btn btn-primary btn-flat" id="btnAddExperience" /></th>
                                                </tr>
                                            </thead>
                                        </table>
                                        <div id="ExperiencePartial" class="table table-bordered table-striped">
                                            @{
                                                if (Model.AssociateExperienceModelList != null && Model.AssociateExperienceModelList.Count != 0)
                                                {
                                                    foreach (var item in Model.AssociateExperienceModelList)
                                                    {
                                                        <partial name="_ExperienceDetails" model="item" />

                                                    }
                                                }
                                            }
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="box box-solid bg-light-blue-gradient">
                            <div class="box-header ui-sortable-handle">
                                <!-- tools box -->
                                <div class="pull-right box-tools">
                                    <button type="button" class="btn btn-primary btn-sm pull-right" data-widget="collapse" data-toggle="tooltip" title="" style="margin-right: 5px;" data-original-title="Collapse">
                                        <i class="fa fa-minus"></i>
                                    </button>
                                </div>
                                <h3 class="box-title">
                                    Additional Info
                                </h3>
                            </div>
                            <div class="box-body box-footer text-black" style="display: block;">
                                <div class="box-body">
                                    <div class="col-lg-6" style="padding-top:3%;">
                                        <div class="form-group">
                                            <label>Mail To HOD: </label>
                                            <select id="mailtohod" asp-for="mail_Hod" class="form-control">
                                                <option value="1">Yes</option>
                                                <option value="0">No</option>
                                            </select>
                                        </div>
                                        <table id="tbladditionalinfo" class="table table-bordered table-striped">
                                            <thead>
                                                <tr>
                                                    <th>Reporting Person Name</th>
                                                    <th><input type="button" value="Add New" class="btn btn-primary btn-flat" id="btnAddReportingPerson" /></th>
                                                </tr>
                                            </thead>
                                        </table>
                                        <div id="ReprtingPersonPartial" class="table table-bordered table-striped">
                                            @{
                                                if (Model.AssociateAdditionalInfoModelList != null && Model.AssociateAdditionalInfoModelList.Count != 0)
                                                {
                                                    foreach (var item in Model.AssociateAdditionalInfoModelList)
                                                    {
                                                        <partial name="_ReportingDetails" model="item" />
                                                    }
                                                }
                                            }
                                        </div>
                                    </div>
                                    <div class="col-lg-6" style="padding-top:2.95%;">
                                        <label>Remarks</label>
                                        <textarea class="form-control" asp-for="Remarks" placeholder="Enter Remarks..."></textarea>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </form>
</section>
@section Scripts
    {
    <script type="text/javascript">
        $(document).ready(function () {
            var date = new Date();
            console.log(date);
            //$("#from_date").val(date);
            var permission = '@Model.view';
            if (permission == '1') {
                $('input[type="text"], textarea').attr('readonly', 'readonly');
                $('select').attr('disabled', 'disabled');
                $('input[type="submit"]').hide();
                $('input[type="button"]').hide();
                $('button').hide();
            }

            $("#chkHod").hide();
         $("#HODName").hide();

           $("#btnAddSkill").click(function () {
                $.ajax({
                    url: '@Url.Action("SkillDetailsPartial", "Associate")',
                    cache: false,
                    success: function (data) {
                        
                        $("#SkillPartial").append(data);
                    }
                });
           });

            $("#btnAddQualification").click(function () {
                $.ajax({
                    url: '@Url.Action("QualificationDetailsPartial", "Associate")',
                    cache: false,
                    success: function (data) {
                        
                        $("#QualificationPartial").append(data);
                    }
                });
            });
            $("#btnAddExperience").click(function () {
                $.ajax({
                    url: '@Url.Action("ExperienceDetailsPartial", "Associate")',
                    cache: false,
                    success: function (data) {
                        
                        $("#ExperiencePartial").append(data);
                    }
                });
            });
            $("#btnAddReportingPerson").click(function () {
                $.ajax({
                    url: '@Url.Action("ReportingDetailsPartial", "Associate")',
                    cache: false,
                    success: function (data) {
                        
                        $("#ReprtingPersonPartial").append(data);
                    }
                });
            });
            $(document).on("click", ".btnDelete", function () {
            
               //if ($(".divPurchasePartial").length > 1) {
                $(this).parent().parent().parent().parent().remove();
                //}
            });
            @*$("#ddlDepartment").change(function () {
               
                var DepartmentId = $("#ddlDepartment :selected").val();
                if (DepartmentId != 0 && DepartmentId != undefined) {
                  $.ajax({
                    type: 'POST',
                    url: '@Url.Action("GetHodByDepartment", "Associate")',
                    data: { DepartmentId: DepartmentId },
                    success: function (data) {
                        
                        console.log(data);
                        if (data.length > 0) {
                            $("#txtHod").val(data[0].associate_name);
                            $("#txtApplicableLeave").val(data[0].applicable_leave);
                        }
                    }
                  });
                }
                else {
                $("#txtHod").val("");
                $("#txtApplicableLeave").val("");
                }
            });*@
        ///-----------Present Address Country State START---------------
            $("#ddlPresentCountry").change(function () {
                
                 var CountryId = $("#ddlPresentCountry :selected").val();
                if (CountryId != 0 && CountryId != undefined) {
                  $.ajax({
                    type: 'POST',
                    url: '@Url.Action("GetStateByCountryId", "Associate")',
                    data: { CountryId: CountryId },
                      success: function (data) {
                         
                        $("#ddlPresentState").empty();
                        console.log(data);
                        var html = '<option value="0">--Select--</option>';
                        if (data.length > 0) {
                            $.each(data, function (key, value) {
                                
                                html += '<option value="' + value.id + '">' + value.statetext + '</option>'
                            });
                            $("#ddlPresentState").append(html);
                        }
                      }
                  });
                }
                else {
                $("#ddlPresentState").empty();
                $("#ddlPresentState").append('<option value="0">--Select--</option>');
                $("#ddlPresentCity").empty();
                $("#ddlPresentCity").append('<option value="0">--Select--</option>');
                }
            });
            $("#ddlPresentState").change(function () {
                
                var StateId = $("#ddlPresentState :selected").val();
                if (StateId != 0 && StateId != undefined) {
                    $.ajax({
                        type: 'POST',
                        url: '@Url.Action("GetCityByStateId", "Associate")',
                        data: { StateId: StateId },
                        success: function (data) {
                           
                           $("#ddlPresentCity").empty();
                           console.log(data);
                           var html = '<option value="0">--Select--</option>';
                            if (data.length > 0) {
                               $.each(data, function (key, value) {
                                   
                                    html += '<option value="' + value.id + '">' + value.citytext + '</option>'
                               });
                               $("#ddlPresentCity").append(html);
                            }
                        }
                    });
                }
                else {
                $("#ddlPresentCity").empty();
                $("#ddlPresentCity").append('<option value="0">--Select--</option>');
                }
            });
        ///-----------Present Address Country State END---------------
        ///-----------Permanent Address Country State START---------------
            $("#ddlPermanentCountry").change(function () {
                
                var CountryId = $("#ddlPermanentCountry :selected").val();
                if (CountryId != 0 && CountryId != undefined) {
                    $.ajax({
                         type: 'POST',
                         url: '@Url.Action("GetStateByCountryId", "Associate")',
                         data: { CountryId: CountryId },
                         success: function (data) {
                            
                             $("#ddlPermanentState").empty();
                             console.log(data);
                             var html = '<option value="0">--Select--</option>';
                             if (data.length > 0) {
                                 $.each(data, function (key, value) {
                                    
                                     html += '<option value="' + value.id + '">' + value.statetext + '</option>'
                                 });
                                  $("#ddlPermanentState").append(html);
                             }
                         }
                    });
                }
                else {
                   $("#ddlPermanentState").empty();
                   $("#ddlPermanentState").append('<option value="0">--Select--</option>');
                   $("#ddlPermanentCity").empty();
                   $("#ddlPermanentCity").append('<option value="0">--Select--</option>');
                }
            });
            $("#ddlPermanentState").change(function () {
                 
                 var StateId = $("#ddlPermanentState :selected").val();
                 if (StateId != 0 && StateId != undefined) {
                     $.ajax({
                         type: 'POST',
                         url: '@Url.Action("GetCityByStateId", "Associate")',
                         data: { StateId: StateId },
                         success: function (data) {
                            
                            $("#ddlPermanentCity").empty();
                            console.log(data);
                            var html = '<option value="0">--Select--</option>';
                            if (data.length > 0) {
                                 $.each(data, function (key, value) {
                                    
                                    html += '<option value="' + value.id + '">' + value.citytext + '</option>'
                                 });
                                 $("#ddlPermanentCity").append(html);
                            }
                         }
                    });
                 }
                 else {
                     $("#ddlPermanentCity").empty();
                     $("#ddlPermanentCity").append('<option value="0">--Select--</option>');
                 }
            });
     });
        ///-----------Permanent Address Country State END---------------


        function GetHod(a) {
            $.ajax({

                         type: 'POST',
                         url: '@Url.Action("GetHod", "Associate")',
                         data: { id: a },
                success: function (data) {
                    console.log(data);
                      if (data != null) {
                          
                          $("#chkHod").hide();
                          $("#txtHODName").val(data[0].associate_name);
                          //$("#txtApplicableLeave").val(data[0].applicable_leave);
                          $("#HODName").show();
                      }
                      else
                      {
                          $("#chkHod").show();
                          $("#HODName").hide();
                          $("#txtHODName").val("");
                          //$("#txtApplicableLeave").val("");
                      }
                }

            });
              $.ajax({
                         type: 'POST',
                         url: '@Url.Action("GetApplicableLeave", "Associate")',
                         data: { id: a },
                success: function (data) {
                    console.log(data);
                      if (data != null) {
                          

                          $("#txtApplicableLeave").val(data[0].applicable_leave);
                      }
                      else
                      {

                          $("#txtApplicableLeave").val("");
                      }
                }

            });
        }
    </script>
}



