﻿@model hrms_core.ViewModel.HeaderAssignModel

@{
    ViewData["Title"] = "HeaderAssign";
}

<h2>HeaderAssign</h2>

<section class="content-header">
    <h1>AssignHeader</h1>
</section>

<!-- Main content -->
<section class="content">
    <form asp-controller="Payment" asp-action="HeaderAssign" method="post">
        <div class="box box-default">
            <div class="box-header with-border">
                <h3 class="box-title">Assign Pay Headers</h3>
            </div>
            <div class="box-body">

                <div class="col-md-6">
                    <label><span style="color: #ff0000;">*</span> Associate Name</label>
                    <input type="text" class="form-control" asp-for="associate_name" readonly="readonly" />
                    <input type="hidden" asp-for="associate_id" />
                </div>
                <div class="chart tab-pane" id="headerassign-tab" style="position: relative; ">
                    <div class="col-md-12" style="padding-top:3%;">
                        <div class="form-group col-md-12">
                            <div style="height: 100%;overflow-y:hidden;">
                                <table id="Header_Assign">
                                    <thead>
                                        <tr>
                                            <th>Header Name</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{

                                            foreach (var item in Model.HeaderModelList)
                                            {
                                                <partial name="_Header" model="item" />
                                                //Html.Partial("_Header", item);

                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>


                        </div>
                    </div>
                </div>
                <div class="box-footer">
                    <input type="submit" class="btn btn-primary" id="btn_SaveHeader" style="margin-top:1%" value="Save Changes" />

                </div>
            </div>
        </div>
    </form>
    </section>