﻿@model hrms_core.ViewModel.HeaderModel
@{
    ViewData["Title"] = "Pay Element";
}


<section class="content">
    <div id="MsgDiv">
        @if (TempData["msg"] != null)
        {
            if (Convert.ToString(TempData["msg"]).ToLower().Contains("wrong") || Convert.ToString(TempData["msg"]).ToLower().Contains("not"))
            {
                <div class='alert alert-danger'>
                    <label>@TempData["msg"]</label><a onclick="$('#MsgDiv').hide(500);" class="anchor pull-right"><i class="fa fa-window-close" aria-hidden="true"></i></a>
                </div>
            }
            else if (Convert.ToString(TempData["msg"]).ToLower().Contains("already") || Convert.ToString(TempData["msg"]).ToLower().Contains("exist"))
            {
                <div class='alert alert-warning'>
                    <label>@TempData["msg"]</label><a onclick="$('#MsgDiv').hide(500);" class="anchor pull-right"><i class="fa fa-window-close" aria-hidden="true"></i></a>
                </div>
            }
            else if (Convert.ToString(TempData["msg"]).ToLower().Contains("error"))
            {
                <div class='alert alert-danger'>
                    <label>@TempData["msg"]</label><a onclick="$('#MsgDiv').hide(500);" class="anchor pull-right"><i class="fa fa-window-close" aria-hidden="true"></i></a>
                </div>
            }
            else
            {
                <div class='alert alert-success'>
                    <label>@TempData["msg"]</label><a onclick="$('#MsgDiv').hide(500);" class="anchor pull-right"><i class="fa fa-window-close" aria-hidden="true"></i></a>
                </div>
            }
        }

    </div>
    <div class="col-md-12">
        <div class="col-md-6">
            <form asp-controller="Payment" asp-action="Index" method="post">
                <div class="box box-default">
                    <div class="box-header with-border">
                        <h3 class="box-title">Add Pay Header</h3>
                    </div>
                    <div class="box-body">
                        <div class="row">
                            <div class="form-group col-md-6">
                                <input type="hidden" id="HdnId" asp-for="id" />
                                <label><span style="color: #ff0000;">*</span> Header Name</label>
                                <input asp-for="headername" type="text" class="form-control CharcaterTextBox" id="headername"
                                       maxlength="50">
                                <span asp-validation-for="headername" class="text-danger"></span>
                            </div>
                            <div class="checkbox col-md-6">
                                <label style="margin-top:8%">
                                    <input type="checkbox" id="chkDeductionType" asp-for="isdeduction"> DeductionType
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="box-footer ">
                        <input type="submit" class="btn btn-primary btn-flat" value="Save Changes" id="btnSave" />
                        <a asp-action="Index" asp-controller="Payment" asp-route-id="" class="btn btn-danger btn-flat">Clear</a>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-6">
            <div class="box box-default">
                <div class="box-header with-border">
                    <h3 class="box-title">Pay Header Details</h3>
                </div>
                <div class="box-body">
                    <div class="form-group">
                        <table id="tbl_HeaderDetail" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>SNo.</th>
                                    <th>Header Name</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    int i = 1;
                                    foreach (var item in Model.HeaderModelList)
                                    {
                                        <tr>
                                            <td>@i</td>
                                            <td>@item.headername</td>

                                            <td>
                                                <a title="Edit" href="@Url.Action("Index","Payment",new { id=item.id})"><i class="fa fa-edit"></i></a> |
                                                @{
                                                    if (item.isactive.HasValue == true && item.isactive.Value == true)
                                                    {
                                                        <a class="anchor" onclick="DisableData(@item.id)" title="Click to Disable"><img src="~/images/green.ico" alt="Enable" height="18" width="18" /></a>
                                                    }
                                                    else
                                                    {
                                                        <a class="anchor" onclick="EnableData(@item.id)" title="Click to Enable"><img src="~/images/red.ico" alt="Enable" height="18" width="18" /></a>
                                                    }
                                                }
                                            </td>
                                        </tr>
                                        i = i + 1;
                                    }
                                }
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

@section scripts{

    <script>
        $(document).ready(function () {
            $("#tbl_HeaderDetail").DataTable({
                dom: 'lBfrtip',
                buttons: [
                    'excel', 'pdf', 'print'
                ]
            });
            $('html,body').animate({ scrollTop: $("html").offset().top }, 800);
            $('input[type="text"]').click(function () {
                $("#MsgDiv").hide(500);
                //$("#MsgDiv").hide(selectedEffect, options, 500);
            });
        });
        function DisableData(id) {
            var r = confirm("Are you sure to Disable this Header?");
            if (r == true) {
                    $.ajax({
                        type: 'POST',
                        url: '@Url.Action("DisableHeader", "Payment")',
                        data: { id: id },
                        success: function (data) {
                            console.log(data);

                            if (data) {
                                window.location.href = '@Url.Action("Index","Payment",new {id= 0})';
                            }
                        }
                    });
            }
        }
        function EnableData(id) {
            var r = confirm("Are you sure to Enable this Header?");
            if (r == true) {
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("EnableHeader", "Payment")',
                    data: { id: id },
                    success: function (data) {
                        console.log(data);
                        if (data) {
                            window.location.href = '@Url.Action("Index","Payment",new {id= 0})';
                        }
                    }
                });
            }
        }
    </script>

}