﻿@model hrms_core.ViewModel.PaymentSlipVM
@{
    ViewData["Title"] = "Payment";
}

@*<section class="content">
    <div id="MsgDiv">
        @if (TempData["msg"] != null)
        {
            if (Convert.ToString(TempData["msg"]).ToLower().Contains("wrong") || Convert.ToString(TempData["msg"]).ToLower().Contains("not"))
            {
                <div class='alert alert-danger'>
                    <label>@TempData["msg"]</label><a onclick="$('#MsgDiv').hide(500);" class="anchor pull-right"><i class="fa fa-window-close" aria-hidden="true"></i></a>
                </div>
            }
            else if (Convert.ToString(TempData["msg"]).ToLower().Contains("already") || Convert.ToString(TempData["msg"]).ToLower().Contains("exist"))
            {
                <div class='alert alert-warning'>
                    <label>@TempData["msg"]</label><a onclick="$('#MsgDiv').hide(500);" class="anchor pull-right"><i class="fa fa-window-close" aria-hidden="true"></i></a>
                </div>
            }
            else
            {
                <div class='alert alert-success'>
                    <label>@TempData["msg"]</label><a onclick="$('#MsgDiv').hide(500);" class="anchor pull-right"><i class="fa fa-window-close" aria-hidden="true"></i></a>
                </div>
            }

        }
    </div>
    @*<div class="col-md-12">
        <form asp-controller="Payment" asp-action="Payment" method="post">
            <div class="box box-default">
                <div class="box-header with-border">
                    <h3>Payment Slip</h3>
                </div>
                <div class="box-body">
                    <div class="col-md-12">
                        <input type="hidden" asp-for="AssociateMasterModelList.id" />
                        <div class="form-group col-md-4">
                            <label><span style="color: #ff0000;">*</span> Associate Name</label>
                            <input type="text" class="form-control" id="associate_name" maxlength="50" asp-for="AssociateMasterModelList.associate_id" readonly="readonly" />
                            <span asp-validation-for="dailyActivityReportModel.associate_id" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-2">
                            <label><span style="color: #ff0000;">*</span> Month Year</label>
                            <input type="text" class="form-control" id="reporitngdate" maxlength="50" asp-for="payslipList.monthyear" readonly />
                            <span asp-validation-for="payslipList.monthyear" class="text-danger"></span>
                        </div>
                    </div>
                    <table id="tbldar" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>SNo</th>
                                <th>Header</th>
                                <th>Amount</th>
                            </tr>
                        </thead>
                    </table>
                    <div id="PaySlipPartial">
                        @{
                            if (Model.payslipList != null && Model.payslipList.Count > 0)
                            {
                                foreach (var item in Model.payslipList)
                                {
                                    @Html.Partial("_PaySlip", item);
                                }
                            }
                        }

                    </div>

                </div>
                <div class="box-footer">
                    <input type="submit" value="Save Ch" id="save_changes" class="btn btn-primary btn-flat" />
                    <input type="text" class="pull-right" placeholder="Total Amount" readonly />

                </div>
            </div>
        </form>

    </div>
    <div class="box-footer">
        <input type="submit" name="CommandName" class="btn btn-primary btn-flat" value="Save" id="btnSave" />
        <input type="submit" name="CommandName" class="btn btn-primary btn-flat" value="Save & Authorized" id="btnSaveAuthorize" />
    </div>
</section>*@
