﻿@model hrms_core.ViewModel.PayslipModel
@{
    ViewData["Title"] = "PaySlip";
}

<section class="content">
    <div class="col-md-12">
        <div id="MsgDiv">
            @if (TempData["msg"] != null)
            {
                if (Convert.ToString(TempData["msg"]).ToLower().Contains("wrong") || Convert.ToString(TempData["msg"]).ToLower().Contains("not"))
                {
                    <div class='alert alert-danger'>
                        <label>@TempData["msg"]</label><a onclick="$('#MsgDiv').hide(500);" class="anchor pull-right"><i class="fa fa-window-close" aria-hidden="true"></i></a>
                    </div>
                }
                else if (Convert.ToString(TempData["msg"]).ToLower().Contains("already") || Convert.ToString(TempData["msg"]).ToLower().Contains("exist"))
                {
                    <div class='alert alert-warning'>
                        <label>@TempData["msg"]</label><a onclick="$('#MsgDiv').hide(500);" class="anchor pull-right"><i class="fa fa-window-close" aria-hidden="true"></i></a>
                    </div>
                }
                else
                {
                    <div class='alert alert-success'>
                        <label>@TempData["msg"]</label><a onclick="$('#MsgDiv').hide(500);" class="anchor pull-right"><i class="fa fa-window-close" aria-hidden="true"></i></a>
                    </div>
                }

            }
        </div>

        <div class="col-md-6">
            <form asp-controller="Payment" asp-action="PaySlip" method="post">
                <div class="box box-default">
                    <div class="box header with-border">
                        <h4 class="box-title">Pay Element Details</h4>
                    </div>
                    <div class="box-body">
                        <div class="form-group col-md-4">
                            <label><span style="color:#ff0000;">*</span>Month Year</label>
                            <input type="text" class="form-control" id="txtMonthYear" readonly="readonly" asp-for="monthyear">
                            <span asp-validation-for="monthyear" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-4">
                            <label><span style="color:#ff0000;">*</span>Associate Name</label>
                            <select id="ddlassociateList" asp-for="associate" onfocus="RemoveValidation(this);" asp-items="@(new SelectList(Model.AssociateMasterModelList,"id","associate_name"))" class="form-control"><option value="0">Select</option></select>
                            <span asp-validation-for="associate" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="box-footer">
                        <input type="submit" value="Save" id="save_changes" class="btn btn-primary btn-flat" />
                    </div>
                </div>
     </form>
   </div>
        <div class="col-md-6">
            <div class="box box-default">
                <div class="box header with-border">
                    <h4 class="box-title">Pay Slip Details</h4>
                </div>
                <div class="box-body">
                    <table id="payslipdetails" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>SNo</th>
                                <th>Associate Name</th>
                                <th>Month</th>
                                <th>Total Amount</th>
                                <th>Map Headers</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                int i = 1;
                                foreach (var item in Model.PayslipModelList)
                                {
                            <tr>
                                <td>@i</td>
                                <td>@item.associate</td>
                                <td>@item.monthyear</td>
                                <td>@item.totalammount</td>
                                <td> <a asp-controller="Payment" asp-action="Payment" asp-route-AssociateId="@item.id" class="btn btn-warning">Map Headers</a></td>
                                <td>
                                    <a title="Edit" href="@Url.Action("PaySlip","Payment",new { id=item.id})"><i class="fa fa-edit"></i></a> |
                                    @{
                                        if (item.isactive.HasValue == true && item.isactive.Value == true)
                                        {
                                            <a class="anchor" onclick="DisableData(@item.id)" title="Click to Disable"><img src="~/images/green.ico" alt="Enable" height="18" width="18" /></a>
                                        }
                                        else
                                        {
                                            <a class="anchor" onclick="EnableData(@item.id)" title="Click to Enable"><img src="~/images/red.ico" alt="Disable" height="18" width="18" /></a>
                                        }

                                    }

                                </td>
                            </tr>
                                    i = i + 1;
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</section>
<script>
    $(document).ready(function () {
        $("#payslipdetails").DataTable();
        $('html,body').animate({ scrollTop: $("html").offset().top }, 800);
        $('input[type="text"]').click(function () {
            $("#MsgDiv").hide(500);
            //$("#MsgDiv").hide(selectedEffect, options, 500);
        });
        $("#txtMonthYear").datepicker({
           
                format: 'MM dd',
        })
            .on('show', function () {
               
                var dateText = $("#txtMonthYear").text();
                var dateTitle = dateText.substr(0, dateText.length - 5);
                $("#txtMonthYear").text(dateTitle);
            });
    });
        @*function DisableData(id) {
            var r = confirm("Are you sure to Disable this City?");
            if (r == true) {
                    $.ajax({
                        type: 'POST',
                        url: '@Url.Action("DisableCity", "Address")',
                        data: { id: id },
                        success: function (data) {
                            console.log(data);

                            if (data) {
                                window.location.href = '@Url.Action("City", "Address", new {id= 0})';
                            }
                        }
                    });
            }
        }
        function EnableData(id) {
            var r = confirm("Are you sure to Enable this City?");
            if (r == true) {
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("EnableCity", "Address")',
                    data: { id: id },
                    success: function (data) {
                        console.log(data);
                        if (data) {
                            window.location.href = '@Url.Action("City", "Address", new {id= 0})';
                        }
                    }
                });
            }
        }*@
</script>
}