﻿


@{
    ViewData["Title"] = "AddNewAssociate";
}

        <section class="content-header">
            <h1>Add New Associate</h1>
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="box box-default" style="overflow:auto;">
                <div class="box-header with-border">
                    <h3 class="box-title">Add New Associate</h3>
                    <a class="btn btn-primary" href="/systemconfig" style="float: right;">System Configuration</a>
                </div>
                <div class="box-body" style="padding-top: 2%;">
                    <div id="msgdiv"></div>
                    <div class="col-md-12">
                        <div class="row">
                            <div class="form-group col-md-12">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label><span style="color: #ff0000;">*</span>Associate Name: </label >
                                        <input  type="text" class="form-control CharcaterTextBox" id="associate_name" onfocus="RemoveValidation(this);" placeholder="Enter Associate Name"
                                               required>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Date Of Joining: </label>
                                        <input  type="text" class="form-control" id="applicable_from" onfocus="RemoveValidation(this);" placeholder="Enter Applicable From"
                                               required readonly>
                                    </div>
                                </div>
                                <div class="col-md-3" style="display:none;">
                                    <div class="form-group">
                                        <label> Applicable To</label>
                                        <input type="text" class="form-control" id="applicable_to" placeholder="Enter Applicable To" required>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <button id="savebtn" class="btn btn-primary" style="float: right; margin-top: 10%;">Save</button>
                                        <button id="clearbtn" class="btn btn-primary" style="float: right; margin-top: 10%; margin-right: 5%;">Clear</button>
                                        <button id="backbtn" class="btn btn-primary" style="float:right; margin-top: 10%; margin-right: 5%;">Back</button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-body">
                    <div class="row">
                        <section class="col-lg-7 connectedSortable">
                            <div class="nav-tabs-custom" style="width: 171%; padding-top: 2%;padding-left: 7%;">
                                <ul class="nav nav-tabs pull-left">
                                    <li class="active"><a href="#main-tab" data-toggle="tab"> Main</a></li>
                                    <li class=""><a href="#personal-tab" data-toggle="tab"> Personal</a></li>
                                    <li class=""><a href="#pageassign-tab" data-toggle="tab">Page Assign</a></li>
                                    <li class=""><a href="#skill-tab" data-toggle="tab"> Skill Master</a></li>
                                    <li class=""><a href="#qualification-tab" data-toggle="tab"> Qualification</a></li>
                                    <li class=""><a href="#experience-tab" data-toggle="tab"> Experience</a></li>
                                    <!--<li class=""><a href="#relieve-tab" data-toggle="tab"> Relieve</a></li>-->
                                    <li class=""><a href="#additionalinfo-tab" data-toggle="tab"> Additional Info</a></li>

                                </ul>

                                <div class="tab-content no-padding">
                                    <!-- Morris chart - Sales -->
                                    <div class="chart tab-pane active" id="main-tab" style="position: relative; height: 550px;">
                                        <div class="col-md-12" style="padding-top:3%;">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label><span style="color: #ff0000;">*</span> Designation: </label>
                                                    <select id="ddldesignation" onfocus="RemoveValidation(this);" class="form-control "> <option value="None" selected="Selected">Select</option></select>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label><span style="color: #ff0000;">*</span>Department: </label>
                                                    <select id="ddldepartment" onfocus="RemoveValidation(this);" class="form-control "></select>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label><span style="color: #ff0000;">*</span>Reporting Person: </label>
                                                    <select id="ddlreportingperson" onfocus="RemoveValidation(this);" class="form-control "></select>
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label> HOD: </label>
                                                    <input type="text" class="form-control CharcaterTextBox" id="hod" readonly="readonly" onfocus="RemoveValidation(this);" maxlength="95"
                                                           placeholder="Enter HOD" required>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label> Extension No: </label>
                                                    <input type="text" class="form-control NumericTextBox" id="extno" onfocus="RemoveValidation(this);" maxlength="3" placeholder="Enter Extension no"
                                                           onkeyup="RemoveHashTild(this);" required>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label><span style="color: #ff0000;">*</span> Mobile No: </label>
                                                    <input type="text" class="form-control NumericTextBox" id="mobileno" onfocus="RemoveValidation(this);" maxlength="10" placeholder="Enter Mobile no"
                                                           onkeyup="RemoveHashTild(this);" required>
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label> Email ID: </label>
                                                    <input type="text" class="form-control" id="emailid" onfocus="RemoveValidation(this);" maxlength="95" placeholder="Enter Email Id"
                                                           required>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label>Bank A/C No: </label>
                                                    <input type="text" class="form-control NumericTextBox" id="bankaccountno" maxlength="26" placeholder="Enter Bank A/C No"
                                                           onkeyup="RemoveHashTild(this);" required>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label> Bank Name: </label>
                                                    <input type="text" class="form-control CharcaterTextBox" id="bankname" maxlength="95" placeholder="Enter Bank Name" required>
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label>IFSC: </label>
                                                    <input type="text" class="form-control" id="ifsc" maxlength="11" placeholder="Enter IFSC no" onkeyup="RemoveHashTild(this);"
                                                           required>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label>Official Email: </label>
                                                    <input type="text" class="form-control" id="officialemail" maxlength="95" onfocus="RemoveValidation(this);" placeholder="Enter Official Email"
                                                           onkeyup="RemoveHashTild(this);" required>
                                                </div>
                                            </div>
                                            <div class="col-md-4" style="display:none;">
                                                <div class="form-group">
                                                    <label><span style="color: #ff0000;">*</span> Date Of Joining: </label>
                                                    <input type="text" class="form-control" id="doj" onfocus="RemoveValidation(this);" placeholder="Enter Date Of Joining" readonly
                                                           required>
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label>Date Of Confirmation: </label>
                                                    <input type="text" class="form-control" onfocus="RemoveValidation(this);" id="doc" placeholder="Enter Date Of Confirmation"
                                                           readonly required>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label>Highest Qualification: </label>
                                                    <select id="ddlqualification" onfocus="RemoveValidation(this);" class="form-control "><option value="-1">Select</option></select>
                                                </div>
                                            </div>
                                            <div class="col-md-4" style="display:none;">
                                                <div class="form-group">
                                                    <label><span style="color: #ff0000;">*</span>ShiftType: </label>
                                                    <select id="ddlshifttype" onfocus="RemoveValidation(this);" class="form-control "><option value="-1">Select</option><option value="0">Fixed</option><option value="1">Floating</option></select>
                                                </div>
                                            </div>
                                            <div class="col-md-4" style="display:none;">
                                                <div class="form-group">
                                                    <label><span style="color: #ff0000;">*</span>Shift: </label>
                                                    <select id="ddlshift" onfocus="RemoveValidation(this);" class="form-control "><option value="-1">Select</option></select>
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label> P.F. No: </label>
                                                    <input type="text" class="form-control" id="pfno" onfocus="RemoveValidation(this);" maxlength="14" placeholder="Enter PF No"
                                                           onkeyup="RemoveHashTild(this);" required>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label>ESI No: </label>
                                                    <input type="text" class="form-control" id="esi" onfocus="RemoveValidation(this);" placeholder="Enter ESI No" maxlength="17"
                                                           onkeyup="RemoveHashTild(this);" required>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label><span style="color: #ff0000;">*</span>Holiday Calender: </label>
                                                    <select id="ddlholidaycalender" onfocus="RemoveValidation(this);" class="form-control "><option>Select</option></select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="chart tab-pane" id="personal-tab" style="position: relative; height:450px;">
                                        <div class="col-lg-12" style="padding-top:3%;">

                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label> PAN Card: </label>
                                                    <input type="text" class="form-control" id="panno" maxlength="10" onfocus="RemoveValidation(this);" placeholder="Enter PAN No(Ex-ABCDE1234A) "
                                                           onkeyup="RemoveHashTild(this);" required>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label><span style="color: #ff0000;">*</span> DOB: </label>
                                                    <input type="text" class="form-control" id="dob" onfocus="RemoveValidation(this);" readonly placeholder="Enter DOB" required>
                                                </div>
                                            </div>
                                            <div class="col-lg-2">
                                                <div class="form-group">
                                                    <label>Blood Group: </label>
                                                    <select id="bloodgroup" class="form-control "><option>Select</option><option>O+</option><option>O-</option><option>A+</option><option>A-</option><option>B+</option><option>B-</option><option>AB+</option><option>AB-</option></select>
                                                </div>
                                            </div>
                                            <div class="col-lg-2">
                                                <div class="form-group">
                                                    <label> Gender: </label>
                                                    <select id="gender" onfocus="RemoveValidation(this);" class="form-control "><option>Select</option><option>Male</option><option>Female</option></select>
                                                </div>
                                            </div>
                                            <div class="col-lg-2">
                                                <div class="form-group">
                                                    <label> Marital Status: </label>
                                                    <select id="maritalstatus" onfocus="RemoveValidation(this);" class="form-control "><option>Select</option><option>Single</option><option>Married</option></select>
                                                </div>
                                            </div>

                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label>Anniversary Date: </label>
                                                    <input type="text" class="form-control" id="anniversarydate" readonly="readonly" onfocus="RemoveValidation(this);" placeholder="Enter Anniversary Date"
                                                           required>
                                                </div>
                                            </div>

                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label>Father's/Husband's Name: </label>
                                                    <input type="text" class="form-control CharcaterTextBox" id="fatherhusbandname" maxlength="95" onfocus="RemoveValidation(this);"
                                                           placeholder="Enter Father's/Husband's Name" required>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label>Mother's Name: </label>
                                                    <input type="text" class="form-control CharcaterTextBox" id="mothername" onfocus="RemoveValidation(this);" maxlength="95"
                                                           placeholder="Enter Mother's Name" required>
                                                </div>
                                            </div>

                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label>Present Address: </label>
                                                    <textarea class="form-control" rows="3" id="presentaddress" onfocus="RemoveValidation(this);" maxlength="95" placeholder="Enter Present Address..."
                                                              onkeyup="RemoveHashTild(this);"></textarea>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label><span style="color: #ff0000;">*</span> Permanent Address: </label>
                                                    <textarea class="form-control" rows="3" id="permanentaddress" maxlength="95" onfocus="RemoveValidation(this);" placeholder="Enter Permanent Address..."
                                                              onkeyup="RemoveHashTild(this);"></textarea>
                                                </div>
                                            </div>

                                            <div class="col-lg-2">
                                                <div class="form-group">
                                                    <label> Country: </label>
                                                    <select id="ddlcountry" onfocus="RemoveValidation(this);" class="form-control "><option value="-1">Select</option></select>
                                                </div>
                                            </div>
                                            <div class="col-lg-2">
                                                <div class="form-group">
                                                    <label>State: </label>
                                                    <select id="ddlstate" onfocus="RemoveValidation(this);" class="form-control "><option value="-1">Select</option></select>
                                                </div>
                                            </div>
                                            <div class="col-lg-2">
                                                <div class="form-group">
                                                    <label>City: </label>
                                                    <select id="ddlcity" onfocus="RemoveValidation(this);" class="form-control "><option value="-1">Select</option></select>
                                                </div>
                                            </div>
                                            <div class="col-lg-2">
                                                <div class="form-group">
                                                    <label><span style="color: #ff0000;">*</span>Country: </label>
                                                    <select id="ddlpercountry" onfocus="RemoveValidation(this);" class="form-control "><option value="-1">Select</option></select>
                                                </div>
                                            </div>
                                            <div class="col-lg-2">
                                                <div class="form-group">
                                                    <label><span style="color: #ff0000;">*</span>State: </label>
                                                    <select id="ddlperstate" onfocus="RemoveValidation(this);" class="form-control "><option value="-1">Select</option></select>
                                                </div>
                                            </div>
                                            <div class="col-lg-2">
                                                <div class="form-group">
                                                    <label><span style="color: #ff0000;">*</span>City: </label>
                                                    <select id="ddlpercity" onfocus="RemoveValidation(this);" class="form-control "><option value="-1">Select</option></select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="chart tab-pane" id="pageassign-tab" style="position: relative; ">
                                        <div class="col-lg-12" style="padding-top:3%;">
                                            <div class="form-group col-md-12">
                                                <label><span style='color: #ff0000;'>*</span> Menu Name</label>
                                            </div>

                                            <div class="menu-holder " style="height: 100%;overflow:visible !important; padding-left:20px;">
                                                <table id="transaction_menu_assign"></table>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="chart tab-pane" id="skill-tab" style="position: relative; height: 450px;">
                                        <div class="box-body" style="padding-top: 4%;">


                                            <table id="tblskills" class="table table-bordered table-striped">
                                                <thead>
                                                    <tr>
                                                        <th>Skill Code</th>
                                                        <th>Skill Description</th>
                                                        <th>Remarks</th>
                                                        <th>Action</th>
                                                    </tr>
                                                </thead>

                                                <tbody>
                                                    <tr>

                                                        <td>
                                                            <input type="text" class="form-control" id="skillcode" placeholder="Enter Skill Code" maxlength="45" onfocus="RemoveValidation(this);"
                                                                   onkeyup="RemoveHashTild(this);" required>
                                                        </td>
                                                        <td>
                                                            <input type="text" class="form-control" id="skilldescription" placeholder="Enter Skill Description" maxlength="95" onfocus="RemoveValidation(this);"
                                                                   onkeyup="RemoveHashTild(this);" required>
                                                        </td>
                                                        <td>
                                                            <input type="text" class="form-control" id="remarks" maxlength="95" placeholder="Enter Remarks" onkeyup="RemoveHashTild(this);"
                                                                   required>
                                                        </td>
                                                        <td>
                                                            <input type="button" id="addnewskill" class="btn btn-info" value="Add New" />
                                                        </td>

                                                    </tr>
                                                </tbody>

                                            </table>

                                        </div>
                                    </div>
                                    <div class="chart tab-pane" id="qualification-tab" style="position: relative; height: 450px;">
                                        <div class="box-body" style="padding-top: 4%;">

                                            <table id="tblqualification" class="table table-bordered table-striped">
                                                <thead>
                                                    <tr>
                                                        <th>Qualification</th>
                                                        <th>Year Of Passing(YYYY)</th>
                                                        <th>Institute/University</th>
                                                        <th>Percentage</th>
                                                        <th style="width:15%">Action</th>
                                                    </tr>
                                                </thead>

                                                <tbody>
                                                    <tr>

                                                        <td>
                                                            <select id="qualification" class="form-control " onfocus="RemoveValidation(this); " onkeyup="RemoveHashTild(this);"></select>
                                                        </td>
                                                        <td>
                                                            <input type="text" class="form-control NumericTextBox" id="yearofpassing" maxlength="4" placeholder="YYYY" onfocus="RemoveValidation(this);"
                                                                   onkeyup="RemoveHashTild(this);" required>
                                                        </td>
                                                        <td>
                                                            <input type="text" class="form-control CharcaterTextBox" id="institute" maxlength="95" placeholder="Enter Institute" onfocus="RemoveValidation(this);"
                                                                   required>
                                                        </td>
                                                        <td>
                                                            <input type="text" class="form-control NumericTextBox" id="percentage" placeholder="Enter Percentage" onfocus="RemoveValidation(this);"
                                                                   onkeyup="RemoveHashTild(this);" required>
                                                        </td>
                                                        <td>
                                                            <input type="button" id="addqualificationbtn" class="btn btn-info" value="Add New" />
                                                        </td>
                                                    </tr>
                                                </tbody>

                                            </table>

                                        </div>
                                    </div>
                                    <div class="chart tab-pane" id="experience-tab" style="position: relative; height: 450px;">
                                        <div class="box-body" style="padding-top: 4%;">

                                            <table id="tblexperience" class="table table-bordered table-striped">
                                                <thead>
                                                    <tr>
                                                        <th>Previous Company</th>
                                                        <th>From Period</th>
                                                        <th>To Period</th>
                                                        <th>Designation</th>
                                                        <th>G.Salary</th>
                                                        <th>Carry Home Salary</th>
                                                        <th>CTC</th>
                                                        <th style="width: 10%;">Extra Allowance</th>
                                                        <th>Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            <input type="text" class="form-control CharcaterTextBox" id="previouscompany" maxlength="95" placeholder="Enter Previous Company"
                                                                   onfocus="RemoveValidation(this);" required>
                                                        </td>
                                                        <td>
                                                            <input type="text" class="form-control" id="fromperiod" placeholder="dd/mm/yyyy" readonly onfocus="RemoveValidation(this);"
                                                                   required>
                                                        </td>
                                                        <td>
                                                            <input type="text" class="form-control" id="toperiod" placeholder="dd/mm/yyyy" readonly onfocus="RemoveValidation(this);"
                                                                   required>
                                                        </td>
                                                        <td>
                                                            <select id="designation" class="form-control " onfocus="RemoveValidation(this);"><option>Select</option></select>
                                                        </td>
                                                        <td>
                                                            <input type="text" class="form-control NumericTextBox" id="salary" placeholder="Enter Salary" onfocus="RemoveValidation(this);"
                                                                   onkeyup="RemoveHashTild(this);" required>
                                                        </td>
                                                        <td>
                                                            <input type="text" class="form-control NumericTextBox" id="txt_CarryHome_salary" placeholder="Enter Carry Home Salary" onfocus="RemoveValidation(this);"
                                                                   onkeyup="RemoveHashTild(this);" required>
                                                        </td>
                                                        <td>
                                                            <input type="text" class="form-control NumericTextBox" id="txt_CTC" placeholder="Enter CTC" onfocus="RemoveValidation(this);"
                                                                   onkeyup="RemoveHashTild(this);" required>
                                                        </td>
                                                        <td>
                                                            <input type="text" id="txtExtraAllowance" class="form-control " onkeyup="RemoveHashTild(this);" onfocus="RemoveValidation(this);"
                                                                   placeholder="Extra Allowance" />

                                                        </td>
                                                        <td>
                                                            <input type="button" id="addexperiencebtn" class="btn btn-info" value="Add New" />
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>

                                        </div>
                                    </div>
                                    <div class="chart tab-pane" id="additionalinfo-tab" style="position: relative; height:450px;">
                                        <div class="row">

                                            <div class="col-lg-6" style="padding-top:3%;">
                                                <div class="form-group">
                                                    <label>Mail To HOD: </label>
                                                    <select id="mailtohod" onfocus="RemoveValidation(this);" class="form-control"><option value="1">Yes</option><option value="2" selected="selected">No</option></select>
                                                </div>

                                                <table id="tbladditionalinfo" class="table table-bordered table-striped">
                                                    <thead>
                                                        <tr>
                                                            <th>Reporting Person Name</th>
                                                            <th>Action</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>
                                                                <select id="additionalreportingperson" onfocus="RemoveValidation(this);" class="form-control"></select>
                                                            </td>
                                                            <td>
                                                                <input type="button" id="addadditionalbtn" class="btn btn-info" value="Add New" />
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>

                                            </div>
                                            <div class="col-lg-6" style="padding-top:2.95%;">
                                                <label>Remarks</label>
                                                <textarea class="form-control" rows="4" id="remark" placeholder="Remarks..." onkeyup="RemoveHashTild(this);"></textarea>
                                            </div>

                                        </div>
                                    </div>

                                </div>
                            </div>

                        </section>

                    </div>
                </div>
            </div>

        </section>

@section scripts{

    <script type="text/javascript">
        var username = "<%= name %>";
        var designationid;
        var CreatedBy;
        var UpdatedBy;
        $(document).ready(function () {

            
            $('.checkbox').click(function(){

    $("INPUT[name='outCheck']").each(function () {
        if (allCheck.checkbox== true) {//multi check is checked
            this.checked = true;
        } else {
            this.checked = false;
        }
    });
});
            GetCreatedBy();
            getcurrentdate();
            var Insertedskill = '';
            var Insertedqualification = '';
            var Insertedexperience = '';
            var InsertedAdditionalInfo = '';
            var username = "<%= name %>";
            GetDesignation();
            GetDepartment();
            GetReportingPerson();
            GetQualification();
            GetShift();
            GetHolidayCalender();
            GetCountry();
            GetPerCountry();
            GetMenuList();


            //GetAssociateAllowance();
            //Bind Designation Dropdown

            function GetDesignation() {
                try {
                    $.post("/GetActiveDesignation", function (data) {
                        var json = JSON.parse(data);
                        if (data.length > 10) {

                            $.each(json, function (key, value) {
                                $("#ddldesignation").append($("<option></option>").val(value.designationid).html(value.designationtext));
                                $("#designation").append($("<option></option>").val(value.designationid).html(value.designationtext));
                            });
                        }
                    });
                } catch (err) { console.log(err.message); }
            }
            //Bind Department Dropdown
            function GetDepartment() {
                try {
                    $.post("/GetActiveDepartment", function (data) {
                        var json = JSON.parse(data);
                        if (data.length > 10) {
                            $("#ddldepartment").append($("<option value='-1' selected='selected'>Select</option>"));
                            $.each(json, function (key, value) {
                                $("#ddldepartment").append($("<option></option>").val(value.departmentid).html(value.departmenttext));
                            });
                        }
                    });
                } catch (err) { console.log(err.message); }
            }
            //Bind ReportingPerson Dropdown
            function GetReportingPerson() {
                try {
                    $.post("/GetActiveReportingPerson", function (data) {
                        var json = JSON.parse(data);
                        if (data.length > 10) {
                            $("#ddlreportingperson").append($("<option value='-1' selected='selected'>Select</option>"));
                            $("#additionalreportingperson").append($("<option value='-1' selected='selected'>Select</option>"));
                            $.each(json, function (key, value) {
                                $("#ddlreportingperson").append($("<option></option>").val(value.associateid).html(value.associate_name));
                                $("#additionalreportingperson").append($("<option></option>").val(value.associateid).html(value.associate_name));
                            });
                        }
                    });
                } catch (err) { console.log(err.message); }
            }
            //Bind Qualification Dropdown
            function GetQualification() {
                try {
                    $.post("/GetActiveQualification", function (data) {
                        var json = JSON.parse(data);
                        if (data.length > 10) {
                            //$("#ddlqualification").append($("<option value='-1' selected='selected'>Select</option>"));
                            $("#qualification").append($("<option value='-1' selected='selected'>Select</option>"));
                            $.each(json, function (key, value) {
                                $("#ddlqualification").append($("<option></option>").val(value.qualificationid).html(value.qualificationtext));
                                $("#qualification").append($("<option></option>").val(value.qualificationid).html(value.qualificationtext));
                            });
                        }
                    });
                } catch (err) { console.log(err.message); }
            }
            //Bind Shift Dropdown
            function GetShift() {
                try {
                    $.post("/GetActiveShift", function (data) {
                        var json = JSON.parse(data);
                        if (data.length > 10) {

                            $.each(json, function (key, value) {
                                $("#ddlshift").append($("<option></option>").val(value.shift_id).html(value.shifttext));
                            });
                        }
                    });
                } catch (err) { console.log(err.message); }
            }
            //Bind HolidayCalender Dropdown
            function GetHolidayCalender() {
                try {
                    $.post('/GetActiveHolidayCalender', function (data) {
                        var json = JSON.parse(data);
                        if (data.length > 10) {
                            $.each(json, function (key, value) {
                                $('#ddlholidaycalender').append($("<option></option>").val(value.calenderid).html(value.calendername));
                            });
                        }
                    });
                }
                catch (err) { console.log(err.message); }
            }
            //Bind Country Dropdown
            function GetCountry() {
                try {
                    $.post('/GetActiveCountry', function (data) {
                        var json = JSON.parse(data);
                        if (data.length > 10) {
                            $.each(json, function (key, value) {
                                $('#ddlcountry').append($("<option></option>").val(value.countryid).html(value.countrytext));

                            });

                        }
                    });
                }
                catch (err) { console.log(err.message); }
            }
            //Bind state on country change click
            $('#ddlcountry').change(function () {
                try {
                    var selectedCountry = $("#ddlcountry option:selected").val();
                    if (selectedCountry != 'Select') {
                        $.post('/GetActiveState', { countryid: selectedCountry }, function (data) {
                            var json = JSON.parse(data);
                            if (data.length > 10) {
                                var state = $('#ddlstate');
                                state.empty();
                                $('#ddlstate').append($("<option>Select</option>"));
                                $.each(json, function (key, value) {
                                    $('#ddlstate').append($("<option></option>").val(value.stateid).html(value.statetext));
                                });
                            }
                        });
                    }
                    else {
                        $('#ddlstate').empty();
                        $('#ddlstate').append($("<option>Select</option>"));
                        $("#ddlcity").empty();
                        $('#ddlcity').append($("<option>Select</option>"));
                    }
                }
                catch (err) { console.log(err.message); }
            });
            //Bind city on state change click
            $('#ddlstate').change(function () {
                try {
                    var selectstate = $("#ddlstate option:selected").val();
                    if (selectstate != 'Select') {
                        $.post('/GetActiveCity', { stateid: selectstate }, function (data) {
                            var json = JSON.parse(data);
                            if (data.length > 10) {
                                var city = $("#ddlcity");
                                city.empty();
                                $('#ddlcity').append($("<option>Select</option>"));
                                $.each(json, function (key, value) {
                                    $('#ddlcity').append($("<option></option>").val(value.cityid).html(value.citytext));
                                })

                            }
                        });
                    }
                    else {
                        $("#ddlcity").empty();
                        $('#ddlcity').append($("<option>Select</option>"));

                    }
                }
                catch (err) { console.log(err.message); }

            });
            //Bind PermanentCountry Dropdown
            function GetPerCountry() {
                try {
                    $.post('/GetActiveCountry', function (data) {
                        var json = JSON.parse(data);
                        if (data.length > 10) {
                            $.each(json, function (key, value) {
                                $('#ddlpercountry').append($("<option></option>").val(value.countryid).html(value.countrytext));

                            });

                        }
                    });
                }
                catch (err) { console.log(err.message); }
            }
            //Bind Permanent state on country change click
            $('#ddlpercountry').change(function () {
                try {
                    var selectedPerCountry = $("#ddlpercountry option:selected").val();
                    if (selectedPerCountry != 'Select') {
                        $.post('/GetActiveState', { countryid: selectedPerCountry }, function (data) {
                            var json = JSON.parse(data);
                            if (data.length > 10) {
                                var state = $('#ddlperstate');
                                state.empty();
                                $('#ddlperstate').append($("<option>Select</option>"));
                                $.each(json, function (key, value) {
                                    $('#ddlperstate').append($("<option></option>").val(value.stateid).html(value.statetext));
                                });
                            }
                        });
                    }
                    else {
                        $('#ddlperstate').empty();
                        $('#ddlperstate').append($("<option>Select</option>"));
                        $("#ddlpercity").empty();
                        $('#ddlpercity').append($("<option>Select</option>"));
                    }
                }
                catch (err) { console.log(err.message); }
            });
            //Bind permanent city on state change click
            $('#ddlperstate').change(function () {
                try {
                    var selectperstate = $("#ddlperstate option:selected").val();
                    if (selectperstate != 'Select') {
                        $.post('/GetActiveCity', { stateid: selectperstate }, function (data) {
                            var json = JSON.parse(data);
                            if (data.length > 10) {
                                var city = $("#ddlpercity");
                                city.empty();
                                $('#ddlpercity').append($("<option>Select</option>"));
                                $.each(json, function (key, value) {
                                    $('#ddlpercity').append($("<option></option>").val(value.cityid).html(value.citytext));
                                })

                            }
                        });
                    }
                    else {
                        $("#ddlpercity").empty();
                        $('#ddlpercity').append($("<option>Select</option>"));
                    }
                }
                catch (err) { console.log(err.message); }

            });
            //Bind HOD On the basis of Department
            $('#ddldepartment').change(function () {
                try {
                    var selectdepartmentid = $("#ddldepartment option:selected").val();
                    $.post('/GetHodByDepartment', { depid: selectdepartmentid }, function (data) {
                        var json = JSON.parse(data);
                        $('#hod').val(json[0].hod_name);
                    });
                }
                catch (err) { console.log(err.message); }
            });

            //Add New Skills
            $('#addnewskill').click(function () {
                try {
                    var flag;
                    var skillcode = $('#skillcode').val().trim();
                    var skilldescription = $('#skilldescription').val().trim();
                    var remarks = $('#remarks').val().trim();
                    if (skillcode == '') {
                        $("#skillcode").addClass('has-error');
                        flag = false;
                    }
                    if (skilldescription == '') {
                        $("#skilldescription").addClass('has-error');
                        flag = false;
                    }
                    if (skillcode != '' && skilldescription != '') {

                        $('#tblskills').append("<tr><td>" + skillcode + "</td><td>" + skilldescription + "</td><td>" + remarks + "</td><td><input type='button' class='btn btn-danger removeskill' id='removebtn' value='Remove' /></td></tr>");
                        if (Insertedskill != '') {
                            Insertedskill += '~';
                        }
                        Insertedskill += ReplaceQuote(skillcode) + '#' + ReplaceQuote(skilldescription) + '#' + ReplaceQuote(remarks);

                        $("#skillcode").val('');
                        $('#skilldescription').val('');
                        $('#remarks').val('');
                        flag = false;
                    }
                    flag = true;
                    return flag;
                }
                catch (err) { console.log(err.message); }
            });
            //Remove Skills
            $('#tblskills').on('click', '.removeskill', function () {
                try {
                    var skillcode = $(this).closest("tr").find("td:eq(0)").text();
                    var skilldescription = $(this).closest("tr").find("td:eq(1)").text();
                    var remarks = $(this).closest("tr").find("td:eq(2)").text();
                    var removal = skillcode + '#' + skilldescription + '#' + remarks;

                    Insertedskill = Insertedskill.replace(removal, "");
                    Insertedskill = Insertedskill.replace('~~', '~');
                    if (Insertedskill.length < 5) {
                        Insertedskill = '';
                    }
                    if (Insertedskill.charAt(0) == '~') {
                        Insertedskill = Insertedskill.substring(1, Insertedskill.length);
                    }
                    var ins = Insertedskill.length - 1;
                    if (Insertedskill.charAt(ins) == '~') {
                        Insertedskill = Insertedskill.substring(0, ins);
                    }

                    $(this).parent().parent().remove();
                }
                catch (err) { console.log(err.message); }
            });
            //Add New Qualification
            $('#addqualificationbtn').click(function () {
                try {
                    var flag = true;
                    var flag1 = true;
                    var qualification = $('#qualification :selected').text();
                    var qualid = $('#qualification :selected').val();
                    var yearofpassing = $('#yearofpassing').val().trim();
                    var institute = $('#institute').val().trim();
                    var percentage = $('#percentage').val().trim();
                    var d = new Date();
                    var n = d.getFullYear();

                    if (qualification == 'Select') {
                        $("#qualification").addClass('has-error');
                        flag = false;
                    }

                    if (yearofpassing == '' || yearofpassing.length < 4 || yearofpassing > n) {
                        $("#yearofpassing").addClass('has-error');
                        flag = false;
                    }
                    if (institute == '') {
                        $("#institute").addClass('has-error');
                        flag = false;
                    }
                    if (percentage == '') {
                        $("#percentage").addClass('has-error');
                        flag = false;
                    }
                    $('#tblqualification tr').each(function () {

                        qualiftext = $(this).find(".qualclass").html();

                        if (qualification == qualiftext) {
                            $("#qualification").addClass('has-error');
                            alert("Select another qualification");
                            flag1 = false;
                            return flag1;
                        }

                    });
                    if (flag1 == true) {
                        if (qualification != 'Select' && yearofpassing != '' && yearofpassing.length == 4 && yearofpassing <= n && institute != '' && percentage != '') {

                            $('#tblqualification').append("<tr><td class='qualclass'>" + qualification + "</td><td>" + yearofpassing + "</td><td>" + institute + "</td><td>" + percentage + "</td><td><input type='button' class='btn btn-danger removequalification' id='removebtn' value='Remove' data-qualifiaction_id='" + qualid + "'/></td></tr>");
                            if (Insertedqualification != '') {
                                Insertedqualification += '~';
                            }
                            Insertedqualification += qualid + '#' + yearofpassing + '#' + institute + '#' + percentage;
                            $("#qualification").val('Select');
                            $('#yearofpassing').val('');
                            $('#institute').val('');
                            $('#percentage').val('');
                            flag = false;
                        }
                    }
                    flag = true;
                    return flag;
                }
                catch (err) { console.log(err.message); }
            });
            //Remove Qualification
            $('#tblqualification').on('click', '.removequalification', function () {
                var button = $(this);
                var qualification_id = button.data('qualifiaction_id');
                var qualification = $(this).closest("tr").find("td:eq(0)").text();
                var yearofpassing = $(this).closest("tr").find("td:eq(1)").text();
                var institute = $(this).closest("tr").find("td:eq(2)").text();
                var percentage = $(this).closest("tr").find("td:eq(3)").text();
                var removal = qualification_id + '#' + yearofpassing + '#' + institute + '#' + percentage;
                Insertedqualification = Insertedqualification.replace(removal, "");
                Insertedqualification = Insertedqualification.replace('~~', '~');
                if (Insertedqualification.length < 7) {
                    Insertedqualification = '';
                }
                if (Insertedqualification.charAt(0) == '~') {
                    Insertedqualification = Insertedqualification.substring(1, Insertedqualification.length);
                }
                var ins = Insertedqualification.length - 1;
                if (Insertedqualification.charAt(ins) == '~') {
                    Insertedqualification = Insertedqualification.substring(0, ins);
                }
                $(this).parent().parent().remove();

            });
            //Add New Exp
            $('#addexperiencebtn').click(function () {
                try {
                    var flag = 0;
                    var previouscompany = $('#previouscompany').val().trim();
                    var fromperiod = $('#fromperiod').val().trim();
                    if (fromperiod != '') {
                        var arr = fromperiod.split('-');
                        fromperiod = arr[1] + '-' + arr[0] + '-' + arr[2];
                    }
                    var toperiod = $('#toperiod').val().trim();
                    if (toperiod != '') {
                        var arr = toperiod.split('-');
                        toperiod = arr[1] + '-' + arr[0] + '-' + arr[2];
                    }
                    var designation = $('#designation :selected').text();
                    var designationid = $('#designation :selected').val();
                    var salary = $('#salary').val().trim();
                    var CarryHome_Salary = $('#txt_CarryHome_salary').val().trim();
                    var CTC = $('#txt_CTC').val().trim();
                    //var Extra_AllowanceId = $('#ddl_ExtraAllowance :selected').val();
                    var Extra_Allowance = ReplaceQuote($('#txtExtraAllowance').val().trim());
                    if (previouscompany == '') {
                        $("#previouscompany").addClass('has-error');
                        flag++;
                    }
                    if (fromperiod == '') {
                        $("#fromperiod").addClass('has-error');
                        flag++;
                    }
                    if (toperiod == '') {
                        $("#toperiod").addClass('has-error');
                        flag++;
                    }
                    if (designation == 'Select') {
                        $("#designation").addClass('has-error');
                        flag = false;
                    }
                    if (salary == '') {
                        $("#salary").addClass('has-error');
                        flag++;
                    }
                    if (CarryHome_Salary == '') {
                        $("#txt_CarryHome_salary").addClass('has-error');
                        flag++;
                    }
                    if (CTC == '') {
                        $("#txt_CTC").addClass('has-error');
                        flag++;
                    }
                    if (Extra_Allowance == '') {
                        $("#txtExtraAllowance").addClass('has-error');
                        flag++;
                    }
                    //if (ValidateExpDate() == false) {
                    //    $('#toperiod').parent().addClass('has-error');
                    //    alert("From Period should be less than To Period");
                    //    flag++;
                    //}
                    if (flag > 0) {
                        return false;
                    }
                    if (previouscompany != '' && fromperiod != '' && toperiod != '' && designation != 'Select' && salary != '' && CarryHome_Salary != '' && CTC != '' && Extra_Allowance != '') {

                        $('#tblexperience').append("<tr><td>" + previouscompany + "</td><td>" + fromperiod + "</td><td>" + toperiod + "</td><td>" + designation + "</td><td>" + salary + "</td><td>" + CarryHome_Salary + "</td><td>" + CTC + "</td><td>" + Extra_Allowance + "</td><td><input type='button' class='btn btn-danger removeexperience' id='removeexpbtn' value='Remove' data-designationid='" + designationid + "' /></td></tr>");
                        if (Insertedexperience != '') {
                            Insertedexperience += '~';
                        }
                        Insertedexperience += previouscompany + '#' + fromperiod + '#' + toperiod + '#' + designationid + '#' + salary + '#' + CarryHome_Salary + '#' + CTC + '#' + Extra_Allowance;
                        $("#previouscompany").val('');
                        $('#fromperiod').val('');
                        $('#toperiod').val('');
                        $('#designation').val('Select');
                        $('#salary').val('');
                        $('#txt_CarryHome_salary').val('');
                        $('#txt_CTC').val('');
                        $('#txtExtraAllowance').val('');
                        flag++;

                    }

                    return flag;
                }
                catch (err) { console.log(err.message); }
            });
            //Remove Exp
            $('#tblexperience').on('click', '.removeexperience', function () {
                var button = $(this);
                var designationid = button.data('designationid');
                var previouscompany = $(this).closest("tr").find("td:eq(0)").text();
                var fromperiod = $(this).closest("tr").find("td:eq(1)").text();
                var toperiod = $(this).closest("tr").find("td:eq(2)").text();
                var designation = $(this).closest("tr").find("td:eq(3)").text();
                var salary = $(this).closest("tr").find("td:eq(4)").text();
                var CarryHomeSalary = $(this).closest("tr").find("td:eq(5)").text();
                var CTC = $(this).closest("tr").find("td:eq(6)").text();
                var ExtraAllowance = $(this).closest("tr").find("td:eq(7)").text();
                var removal = previouscompany + '#' + fromperiod + '#' + toperiod + '#' + designationid + '#' + salary + '#' + CarryHomeSalary + '#' + CTC + '#' + ExtraAllowance;

                Insertedexperience = Insertedexperience.replace(removal, "");
                Insertedexperience = Insertedexperience.replace('~~', '~');
                if (Insertedexperience.length < 9) {
                    Insertedexperience = '';
                }

                if (Insertedexperience.charAt(0) == '~') {
                    Insertedexperience = Insertedexperience.substring(1, Insertedexperience.length);
                }
                var ins = Insertedexperience.length - 1;
                if (Insertedexperience.charAt(ins) == '~') {
                    Insertedexperience = Insertedexperience.substring(0, ins);
                }
                $(this).parent().parent().remove();
            });
            //Add Additional Reporting Person
            $('#addadditionalbtn').click(function () {
                flag = 0;
                var additionalpersonid = $('#additionalreportingperson :selected').val();
                var additionalpersonname = $('#additionalreportingperson :selected').text();

                if (additionalpersonid == '-1') {
                    $('#additionalreportingperson').addClass('has-error');
                    flag++;
                }

                if (flag > 0) {
                    return false;
                }
                if (additionalpersonname != '-1') {

                    $('#tbladditionalinfo').append("<tr><td>" + additionalpersonname + "</td><td><input type='button' class='btn btn-danger removeadditionalinfo' id='removeaddinfobtn' value='Remove' data-additionalpersonid='" + additionalpersonid + "' /></td></tr>");
                    if (InsertedAdditionalInfo != '') {
                        InsertedAdditionalInfo += '~';
                    }
                    InsertedAdditionalInfo += additionalpersonid + '#' + CreatedBy;
                    $('#additionalreportingperson').val('-1');

                    flag++;
                }
                return flag;
            });
            //Remove Additional Reporting Info
            $('#tbladditionalinfo').on('click', '.removeadditionalinfo', function () {
                var button = $(this);
                var additionalpersonid = button.data('additionalpersonid');
                var createdby = CreatedBy;
                var additionalpersonname = $(this).closest("tr").find("td:eq(0)").text();
                var removal = additionalpersonid + '#' + createdby;
                InsertedAdditionalInfo = InsertedAdditionalInfo.replace(removal, "");
                InsertedAdditionalInfo = InsertedAdditionalInfo.replace('~~', '~');
                if (InsertedAdditionalInfo.length < 3) {
                    InsertedAdditionalInfo = '';
                }

                if (InsertedAdditionalInfo.charAt(0) == '~') {
                    InsertedAdditionalInfo = InsertedAdditionalInfo.substring(1, InsertedAdditionalInfo.length);
                }
                var ins = InsertedAdditionalInfo.length - 1;
                if (InsertedAdditionalInfo.charAt(ins) == '~') {
                    InsertedAdditionalInfo = InsertedAdditionalInfo.substring(0, ins);
                }
                $(this).parent().parent().remove();

            });

            //Date Comparision between applicable from and To
            $('#applicable_to').change(function () {
                var applicablefrom = $('#applicable_from').val().trim();
                var applicableto = $('#applicable_to').val().trim();
                var appfromdate = Date.parse(applicablefrom);
                var apptodate = Date.parse(applicableto);
                if (appfromdate == apptodate) {
                    alert("ApplicableToDate should't be Equal To ApplicableFromDate");
                    $('#applicable_to').parent().addClass('has-error');
                }
            });
            //Date Comparision Between DOJ and DOC
            $('#doc').change(function () {
                var DOJ = $('#doj').val().trim();
                var DOC = $('#doc').val().trim();
                var dojdate = Date.parse(DOJ);
                var docdate = Date.parse(DOC);
                if (dojdate == docdate) {
                    alert("DOC should't be Equal To DOJ");
                    $('#doc').parent().addClass('has-error');
                }
            });
            //Year Comparision Between DOB year and year of passing
            $('#yearofpassing').focusout(function () {
                var yearofpassing = $('#yearofpassing').val().trim();
                var DOB = $('#dob').datepicker('getDate'),
                    day = DOB.getDate(),
                    month = DOB.getMonth() + 1,
                    year = DOB.getFullYear();
                yearofpassing = yearofpassing - year;
                if (yearofpassing <= 10) {
                    alert('YearOfPassing Should Be Atleast 10 year greater than DOB');
                    $('#yearofpassing').addClass('has-error');
                }
            });

            //Datepicker
            $("#applicable_from").datepicker({
                dateFormat: "dd-mm-yy",
                changeMonth: true,
                changeYear: true,
                //maxDate: new Date()
            });
            $("#applicable_to").datepicker({
                dateFormat: "dd-mm-yy",
                minDate: new Date()
            });
            $("#doj").datepicker({
                dateFormat: "dd-mm-yy",
                changeMonth: true,
                changeYear: true

            });
            $("#doc").datepicker({
                dateFormat: "dd-mm-dd",
                changeMonth: true,
                changeYear: true,
                minDate: new Date()
            });
            $("#dob").datepicker({
                dateFormat: "dd-mm-yy",
                yearRange: "-100:+0",
                changeMonth: true,
                changeYear: true,
                maxDate: new Date(),
                onSelect: function (dateText, inst) {
                    var date = $(this).datepicker('getDate'),
                        day = date.getDate(),
                        month = date.getMonth() + 1,
                        year = date.getFullYear();

                }
            });
            $("#fromperiod").datepicker({
                //minDate: 0,
                dateFormat: "dd-mm-yy",
                changeMonth: true,
                changeYear: true,
                yearRange: "-100:+0",
                onClose: function (selectedDate) {
                    $("#toperiod").datepicker("option", "minDate", selectedDate);
                }
            });
            $("#toperiod").datepicker({
                dateFormat: "dd-mm-yy",
                changeMonth: true,
                changeYear: true,
                yearRange: "-100:+0",
                onClose: function (selectedDate) {
                    $("#fromperiod").datepicker("option", "maxDate", selectedDate);
                }
            });
            //PanCard Validation
            $('#panno').focusout(function () {

                var a = $('#panno').val().match(/[A-Z]{5}[0-9]{4}[A-Z]{1}/g);
                if (a == null) {
                    $('#panno').val('');
                }
            });
            //Email Validation
            $('#emailid').focusout(function () {
                var email = $('#emailid').val().trim();
                var offemail = $('#officialemail').val().trim();
                if ($('#emailid').val() != '') {
                    if (validate() == false) {
                        $("#emailid").parent().addClass('has-error');
                        // $("#emailid").val('');
                    }
                    else if (email == offemail) {
                        alert("Personal Email and Official Email should be different");
                        // $("#emailid").parent().addClass('has-error');
                        $("#emailid").parent().addClass('has-error');
                        // $("#emailid").val('');
                    }
                }
            });
            $('#officialemail').focusout(function () {

                var email = $('#emailid').val().trim();
                var offemail = $('#officialemail').val().trim();
                if (offemail != '') {
                    if (validateofficialemail() == false) {
                        $("#officialemail").parent().addClass('has-error');
                        // $("#officialemail").val('');
                    }

                    else if (email == offemail) {
                        alert("Personal Email and Official Email should be different");
                        //$("#emailid").parent().addClass('has-error');
                        $("#officialemail").parent().addClass('has-error');
                        // $("#officialemail").val('');
                    }
                }
            });

            //marital status change event
            $('#maritalstatus').change(function (data) {
                var maritalst = $('#maritalstatus :selected').val();
                if (maritalst == 'Single') {
                    $('#anniversarydate').attr("readonly", "readonly");
                    $("#anniversarydate").datepicker("destroy");
                    $("#anniversarydate").val('');
                }
                if (maritalst == 'Married') {
                    $('#anniversarydate').attr("readonly", "readonly");
                    $("#anniversarydate").datepicker({
                        dateFormat: "dd-mm-yy",
                        changeMonth: true,
                        changeYear: true
                    });
                }
            });
            //Save New Associate
            $('#savebtn').click(function () {
                try {
                    var flag = 0;
                    var associate_name = $('#associate_name').val().trim();
                    var applicable_from = $('#applicable_from').val().trim();
                    if (applicable_from != '') {
                        var arr = applicable_from.split('-');
                        applicable_from = arr[1] + '-' + arr[0] + '-' + arr[2];
                    }
                    var applicable_to = $('#applicable_to').val();
                    if (applicable_to != '') {
                        var arr = applicable_from.split('-');
                        applicable_to = arr[1] + '-' + arr[0] + '-' + arr[2];
                    }
                    var ddldesignation = $('#ddldesignation :selected').text();
                    var ddldesignationid = $('#ddldesignation :selected').val();
                    var ddldepartment = $('#ddldepartment :selected').text();
                    var ddldepartmentid = $('#ddldepartment :selected').val();
                    var ddlreportingperson = $('#ddlreportingperson :selected').text();
                    var reportingpersonid = $('#ddlreportingperson :selected').val();
                    var hod = $('#hod').val();
                    var extno = $('#extno').val().trim();
                    var mobileno = $('#mobileno').val().trim();
                    var emailid = ReplaceQuote($('#emailid').val().trim());
                    var bankaccountno = $('#bankaccountno').val().trim();
                    var bankname = $('#bankname').val().trim();
                    var ifsc = ReplaceQuote($('#ifsc').val().trim());
                    var officialemail = ReplaceQuote($('#officialemail').val().trim());
                    var doj = $('#doj').val().trim();
                    if (doj != '') {
                        var arr = doj.split('-');
                        doj = arr[1] + '-' + arr[0] + '-' + arr[2];
                    }
                    var doc = $('#doc').val().trim();
                    if (doc != '') {
                        var arr = doc.split('-');
                        doc = arr[1] + '-' + arr[0] + '-' + arr[2];
                    }
                    var ddlqualification = $('#ddlqualification :selected').text();
                    var ddlqualificationid = ($('#ddlqualification :selected').val() == -1 ? -1 : $('#ddlqualification :selected').val());
                    var ddlshifttype = ($('#ddlshifttype :selected').val() == -1 ? -1 : $('#ddlshifttype :selected').val());
                    var ddlshift = ($('#ddlshift :selected').text() == 'Select' ? '' : $('#ddlshift :selected').text());
                    var ddlshiftid = ($('#ddlshift :selected').val() == -1 ? -1 : $('#ddlshift :selected').val());
                    var pfno = ReplaceQuote($('#pfno').val().trim());
                    var esi = ReplaceQuote($('#esi').val().trim());
                    var ddlholidaycalender = $('#ddlholidaycalender :selected').text();
                    var ddlholidaycalenderid = $('#ddlholidaycalender :selected').val();
                    var panno = ReplaceQuote($('#panno').val().trim());
                    var bloodgroup = ($('#bloodgroup :selected').text() == 'Select' ? '' : $('#bloodgroup :selected').text());
                    var gender = ($('#gender :selected').text() == 'Select' ? '' : $('#gender :selected').text());
                    var dob = $('#dob').val().trim();
                    if (dob != '') {
                        var arr = dob.split('-');
                        dob = arr[1] + '-' + arr[0] + '-' + arr[2];
                    }
                    var maritalstatus = ($('#maritalstatus :selected').text() == 'Select' ? '' : $('#maritalstatus :selected').text());
                    var anniversarydate = $('#anniversarydate').val();
                    if (anniversarydate != '') {
                        var arr6 = anniversarydate.split('-');
                        anniversarydate = arr[1] + '-' + arr[0] + '-' + arr[2];
                    }
                    var fatherhusbandname = $('#fatherhusbandname').val().trim();
                    var mothername = $('#mothername').val().trim();
                    var presentaddress = ReplaceQuote($('#presentaddress').val().trim());
                    var ddlcountry = $('#ddlcountry :selected').text();
                    var ddlcountryid = ($('#ddlcountry :selected').val() == -1 ? -1 : $('#ddlcountry :selected').val());
                    var ddlstate = $('#ddlstate :selected').text();
                    var ddlstateid = ($('#ddlstate :selected').val() == -1 ? -1 : $('#ddlstate :selected').val());
                    var ddlcity = $('#ddlcity :selected').text();
                    var ddlcityid = ($('#ddlcity :selected').val() == -1 ? -1 : $('#ddlcity :selected').val());
                    var permanentaddress = ReplaceQuote($('#permanentaddress').val().trim());
                    var ddlpercountry = $('#ddlpercountry :selected').text();
                    var ddlpercountryid = $('#ddlpercountry :selected').val();
                    var ddlperstate = $('#ddlperstate :selected').text();
                    var ddlperstateid = $('#ddlperstate :selected').val();
                    var ddlpercity = $('#ddlpercity :selected').text();
                    var ddlpercityid = $('#ddlpercity :selected').val();
                    var remarks = ReplaceQuote($('#remark').val().trim());
                    var mailtohod = $('#mailtohod :selected').text();
                    var Ckeckedpagearray = $('.listcheckbox:checked').map(function () {
                        return this.value;
                    }).get().join("#");

                    if (associate_name == '') {
                        $("#associate_name").parent().addClass('has-error');
                        flag++;
                    }
                    if (applicable_from == '') {
                        $("#applicable_from").parent().addClass('has-error');
                        flag++;
                    }
                    if (ddldesignation == 'Select') {
                        $("#ddldesignation").parent().addClass('has-error');
                        flag++;
                    }
                    if (ddldepartment == 'Select') {
                        $("#ddldepartment").parent().addClass('has-error');
                        flag++;
                    }
                    if (ddlreportingperson == 'Select') {
                        $("#ddlreportingperson").parent().addClass('has-error');
                        flag++;
                    }

                    if (mobileno == '' || mobileno.length < 10) {
                        $("#mobileno").parent().addClass('has-error');

                        flag++;
                    }
                    if (ddlholidaycalender == 'Select') {
                        $("#ddlholidaycalender").parent().addClass('has-error');
                        flag++;
                    }
                    if (dob == '') {
                        $("#dob").parent().addClass('has-error');
                        flag++;
                    }


                    if (permanentaddress == '') {
                        $("#permanentaddress").parent().addClass('has-error');
                        flag++;
                    }
                    if (ddlpercountry == 'Select') {
                        $("#ddlpercountry").parent().addClass('has-error');
                        flag++;
                    }
                    if (ddlperstate == 'Select') {
                        $("#ddlperstate").parent().addClass('has-error');
                        flag++;
                    }
                    if (ddlpercity == 'Select') {
                        $("#ddlpercity").parent().addClass('has-error');
                        flag++;
                    }
                    if (Ckeckedpagearray == '') {
                        alert("select atleast one menu in Page Assign Tab");
                        flag++;
                    }
                    if (bloodgroup == 'Select') {
                        bloodgroup = '';
                    }

                    mailtohod = (mailtohod == 'No' ? 'False' : 'True');

                    if (flag > 0) {
                        return false;
                    }
                    else {
                        $.post('/InsertAssociateDetail', {
                            associatename: associate_name,
                            applicablefrom: applicable_from,
                            applicableto: applicable_to,
                            remark: remarks,
                            createdby: CreatedBy,
                            updatedby: CreatedBy,
                            designationid: ddldesignationid,
                            departmentid: ddldepartmentid,
                            reportingpersonid: reportingpersonid,
                            hod: hod,
                            extno: extno,
                            mobile: mobileno,
                            peremail: emailid,
                            offemail: officialemail,
                            accountno: bankaccountno,
                            bankname: bankname,
                            ifsc: ifsc,
                            doj: doj,
                            doc: doc,
                            qualificationid: ddlqualificationid,
                            shifttype: ddlshifttype,
                            shiftid: ddlshiftid,
                            pf_no: pfno,
                            esi_no: esi,
                            holidaycalender_id: ddlholidaycalenderid,
                            panno: panno,
                            dob: dob,
                            anniversary: anniversarydate,
                            father_husband_name: fatherhusbandname,
                            mothername: mothername,
                            present_address: presentaddress,
                            present_country: ddlcountryid,
                            present_state: ddlstateid,
                            present_city: ddlcityid,
                            permanent_address: permanentaddress,
                            permanent_country: ddlpercountryid,
                            permanent_state: ddlperstateid,
                            permanent_city: ddlpercityid,
                            bloodgroup: bloodgroup,
                            gender: gender,
                            maritalstatus: maritalstatus,
                            menuids: Ckeckedpagearray,
                            skilldetails: Insertedskill,
                            qualificationdetails: Insertedqualification,
                            experiencedetails: Insertedexperience,
                            mailtohod: mailtohod,
                            additionalinfos: InsertedAdditionalInfo
                        }, function (data) {
                            var json = JSON.parse(data);
                            alert(data);
                            $("#msgdiv").show();
                            $("#msgdiv").html("<div class='alert alert-success' style='margin-top:10px;'><label>Saved Successfully : Associate Code is  '" + json[0].associate_code + "'</label></div>");
                            $('select option:contains("Select")').prop('selected', true);
                            $(':input[type="text"]').val('');
                            getcurrentdate();
                            $('#presentaddress').val('');
                            $('#permanentaddress').val('');
                            $('#remark').val('');
                            $("#tblskills").find("tr:gt(1)").remove();
                            $("#tblqualification").find("tr:gt(1)").remove();
                            $("#tblexperience").find("tr:gt(1)").remove();
                            $("#tbladditionalinfo").find("tr:gt(1)").remove();
                            $('.listcheckbox').prop('checked', false);
                            flag = true;
                        });
                    }
                    return flag;
                    GetDesignation();
                    GetDepartment();
                    GetReportingPerson();
                    GetQualification();
                    GetShift();
                    GetHolidayCalender();
                    GetCountry();
                    GetPerCountry();
                }
                catch (err) { console.log(err.message); }
            });
            //Clear Fields
            $('#clearbtn').click(function () {
                $('select option:contains("Select")').prop('selected', true);
                $(':input[type="text"]').val('');
                $('#presentaddress').val('');
                $('#permanentaddress').val('');
                $('#remark').val('');
                $("#tblskills").find("tr:gt(1)").remove();
                $("#tblqualification").find("tr:gt(1)").remove();
                $("#tblexperience").find("tr:gt(1)").remove();

            });
            $("#Transaction").click(function(){

                if($(".MenuItem_Transaction").is(':checked'))
                {
                    $(".subMenu_Transaction").attr(':checked',true);
                }
                else
                {

                }
            });
            //Back Button
            $('#backbtn').click(function () {
                window.location.href = "/associate_master";
            });
            //Validate Email
            @*function validateEmail(email) {
                var re = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
                return re.test(email);
            }*@

            function validate() {

                $("#result").text("");
                var email = $("#emailid").val();
                if (validateEmail(email)) {
                    return true;
                } else {
                    alert('Personal Email is not valid ');
                    return false;

                }
                return false;
            }
            function validateofficialemail() {

                $("#result").text("");
                var email = $("#officialemail").val();

                if (validateEmail(email)) {
                    return true;
                } else {
                    alert('Official email is not valid ');
                    return false;

                }

                return false;
            }
            //Check Authorized Menu
            $.post('/check_Authorized_Menu', { username: username, menuName: '/associate_master' }, function (data) {
                var json = JSON.parse(data);
                if (json[0].count == 0) {
                    window.location.href = "/";
                }

            });
        });

        function populateMenu() {

            $.post('/populate_menu', { associateid: associateid }, function (data) {
                var json = JSON.parse(data);
                if (data.length > 10) {
                    $.each(json, function (key, value) {

                        if (value.menu_url == null) {
                            var menutext = "";
                            menutext += "<li class='dropdown'><a href='#' class='dropdown-toggle' data-toggle='dropdown'>" + value.menu_name + "<span class='caret'></span></a><ul class='dropdown-menu' role='menu'>";
                            $.each(json, function (key1, value1) {
                                if (value1.menu_parent_id == value.menuid) {
                                    menutext += "<li><a href='" + value1.menu_url + "'>" + value1.menu_name + "</a></li>";
                                }
                            });
                            menutext += "</ul></li>";
                            $('#nav').append($(menutext));
                        }
                        else if (value.menu_parent_id == null) {
                            $('#nav').append($('<li><a href="' + value.menu_url + '">' + value.menu_name + '</a></li>'));
                        }
                    });
                }
            });
        }
        //Get CreatedBy
        function GetCreatedBy() {
            try {
                $.post('/GetLoginDetails', { username: username }, function (data) {
                    var json = JSON.parse(data);
                    if (data.length > 3) {
                        CreatedBy = json[0].userid;
                        designationid = json[0].designationid;
                        associateid = json[0].associateid;
                        populateMenu();
                    }
                });
            } catch (err) {
                console.log(err.message);
            }
        }

        function GetMenuList() {
            $.post('/populate_menu_name', function (data) {
                var json = JSON.parse(data);
                if (data.length > 10) {
                    var subdatatable = $('#transaction_menu_assign');
                    subdatatable.empty();
                    subdatatable.append("<tbody>");
                    $.each(json, function (key, value) {
                        if (value.menu_url == null) {
                            var submenutext = "";


                            submenutext += "<tr row0 odd><td style='width:20%'><br><input type='checkbox' onchange='SelectCheckboxes(this);' class='listcheckbox ' id='clsParent_"+this.menu_name+"' value=" + this.menuid + "></td><td  style='width:80%'><br/><b>" + this.menu_name + "</b></td></tr>";


                            $.each(json, function (key1, value1) {
                                if (value1.menu_parent_id == value.menuid) {
                                     submenutext += "<tr row0 odd><td style='width:20%'><input type='checkbox' class='listcheckbox clsParent_"+json[key].menu_name+"' value=" + this.menuid + "></td><td  style='width:80%'>" + this.menu_name + "</td></tr>";
                                }

                              });
                            console.log(submenutext);
                            subdatatable.append(submenutext);
                        }
                        else if (value.menu_parent_id == null) {
                            subdatatable.append($("<tr row0 odd><td style='width:20%'><input type='checkbox' class='checkbox' value=" + this.menuid + "></td><td class='menuname_value'"+value.menu_name+" style='width:80%'>" + value.menu_name + "</td></tr>"));
                        }

                        //Function will be called on click of checkbox
                        // $('.listcheckbox').on('click', function () {
                        //     if ($('.listcheckbox:checked').length == $('.listcheckbox').length) {
                        //         $('#checkAll').prop('checked', true);
                        //         $('#subcheckAll').prop('checked', true);
                        //     } else {
                        //         $('#checkAll').prop('checked', false);
                        //         $('#subcheckAll').prop('checked', false);
                        //     }
                        // });
                        $('.nofoundlbl').hide();
                    });
                }
                else {
                    $('.nofoundlbl').show();
                    $('.nofoundlbl').val("No Record Found");
                }
                subdatatable.append("</tbody>");
            });
        }

        //Remove Validation
        function RemoveValidation(obj) {
            var id = obj.id;
            $("#" + id).removeClass("has-error");
            $("#" + id).parent().removeClass("has-error");
            $('#additionalreportingperson').removeClass('has-error');
            $('#qualification').removeClass('has-error');
            $('#yearofpassing').removeClass('has-error');
            $('#institute').removeClass('has-error');
            $('#percentage').removeClass('has-error');
        }
        //Date Comparision between fromperiod  and Toperiod
        function ValidateExpDate() {
            var FromPeriod = $('#fromperiod').val().trim();
            var ToPeriod = $('#toperiod').val().trim();
            var FromPerioddate = Date.parse(FromPeriod);
            var ToPerioddate = Date.parse(ToPeriod);
            if (ToPerioddate <= FromPerioddate) {
                return false;
            }
            else {
                return true;
            }
        }
        function RemoveHashTild(obj) {
            var id = obj.id;
            var a = $("#" + id).val();
            if (String(a).indexOf("#") >= 0 || String(a).indexOf("~") >= 0) {
                a = a.replace("~", "");
                a = a.replace("#", "");
                $("#" + id).val(a);
            }
        }
        function ReplaceQuote(data) {
            var result = '';
            var arr = [];
            arr = data.split(' ');
            for (var i in arr) {
                var a = '';
                a = arr[i].replace("'", "''");
                if (i == 0) {
                    result = result + a
                }
                else {
                    result = result + ' ' + a;
                }

            }
            return result;

        }

        //Get Current Date
        function getcurrentdate() {
            try {
                var fullDate = new Date()
                //convert Date and month to 2 digits
                var twoDigitdate = ((fullDate.getDate() < 10) ? '0' + (fullDate.getDate()) : (fullDate.getDate()));
                var twoDigitMonth = (((fullDate.getMonth() + 1) < 10) ? '0' + (fullDate.getMonth() + 1) : (fullDate.getMonth() + 1));
                var currentDate = twoDigitdate + "-" + twoDigitMonth + "-" + fullDate.getFullYear();
                $('#applicable_from').val(currentDate);
            }
            catch (err) { console.log(err.message); }
        }

        function runEffect() {
            var selectedEffect = 'blind';
            var options = {};
            $("#msgdiv").hide(selectedEffect, options, 500);
        };
        function SelectCheckboxes(obj)
        {

            console.log(obj);
            var Id=obj.id;
            if($("#"+Id).is(':checked'))
            {
                $("."+Id).prop('checked', true);
            }
            else
            {
                $("."+Id).prop('checked', false);
            }

        }

        $("#associate_name").click(function () {
            runEffect();
            return false;
        });
    </script>
}
