﻿
@{
    ViewData["Title"] = "AssociateShift";
}


<section class="content-header">
    <h1>
        Associate Shift
    </h1>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-default">
                <div class="box-header with-border">
                    <h3 class="box-title"></h3>
                </div>
                <div class="box-body">
                    <div id="msgdiv"></div>
                    <div class="form-group col-md-4">
                        <label><span style="color: #ff0000;">*</span>Shift</label>
                        <select id="ddlshift" class="form-control"></select>
                    </div>
                    <div class="form-group col-md-12">
                        <label><span style='color: #ff0000;'>*</span>Associate Name</label><br>

                        <!-- <select id="ddlassociatename" class="form-control"></select> -->
                        <div class="menu-holder" style="height:50%; overflow:auto">
                            <table id="assign_associate"></table>
                        </div>
                    </div>
                    <!-- /.box-body -->
                </div>
                <div class="box-footer">
                    <button class="btn btn-primary" id="save_btn">Save</button>
                </div>
                <!-- /.box-body -->
                <!-- /.box -->
            </div>
        </div>

    </div>
</section>
<!-- /.content -->

@section scripts{
    <script type="text/javascript">
        var CreatedBy;
        var UpdatedBy;
        var designationid;
        var username = "<%= name %>";
        var associateid = '';
        $(document).ready(function () {
            var associate_id = '';
            GetCreatedBy();
            GetShift();
            GetAssociate();
            //Check Authorized Menu
            $.post('/check_Authorized_Menu', { username: username, menuName: '/associateshift' }, function (data) {
                var json = JSON.parse(data);
                if (json[0].count == 0) {
                    window.location.href = "/";
                    return false;
                }

            });
            //Bind Shift Dropdown
            function GetShift() {
                try {
                    $.post("/GetActiveShift", function (data) {
                        var json = JSON.parse(data);
                        if (data.length > 10) {
                            $("#ddlshift").append($("<option value='-1' selected='selected'>Select</option>"));
                            $.each(json, function (key, value) {
                                $("#ddlshift").append($("<option></option>").val(value.shift_id).html(value.shifttext));
                            });
                        }
                    });
                } catch (err) { console.log(err.message); }
            }
            //Get Associate of currentdate
            function GetAssociate() {
                $.post('/GetAssociateOfFloatingType', function (data) {
                    var json = JSON.parse(data);
                    if (data.length > 10) {
                        var datatable = $('#assign_associate');
                        datatable.empty();
                        $.each(json, function (key, value) {
                            $('#assign_associate').append($("<tr row0 odd><td style='width:20%'><input type='checkbox' class='listcheckbox' value=" + this.associateid + " >  " + value.associate_name + "</td></tr>"));
                        });
                        datatable.append("</tbody>");
                    }
                    //Function will be called on click of checkbox
                    $('.listcheckbox').on('click', function () {
                        if ($('.listcheckbox:checked').length == $('.listcheckbox').length) {
                            $('#checkAll').prop('checked', true);
                            $('#subcheckAll').prop('checked', true);
                        } else {
                            $('#checkAll').prop('checked', false);
                            $('#subcheckAll').prop('checked', false);
                        }
                    });
                });
            }
            //Save Associate
            $('#save_btn').click(function () {
                var flag = 0;
                var shiftid = $('#ddlshift :selected').val();
                var Ckeckedassociate = $('.listcheckbox:checked').map(function () {
                    return this.value;
                }).get().join(",");
                var currentdate = new Date();
                currentdate = currentdate.getMonth() + 1 + '-' + (currentdate.getDate()) + '-' + currentdate.getFullYear();

                if (shiftid == '-1') {
                    $("#ddlshift").parent().addClass('has-error');
                    flag++;
                }
                if (Ckeckedassociate == '') {
                    alert("select atleast one associate");
                    flag++;
                }
                if (flag > 0) {
                    return false;
                }
                else {
                    //update AssociateShift
                    $.post('/GetAssociateCount', { associateid: Ckeckedassociate }, function (data) {
                        var json = JSON.parse(data);
                        if (data.length > 3) {
                            if (json[0].noofassociate > 0) {
                                $.post('/InsertAssociate', {
                                    shift: shiftid,
                                    associateid: Ckeckedassociate
                                }, function (data) {
                                    $("#msgdiv").show();
                                    $("#msgdiv").html("<div class='alert alert-success' >Updated Successfully</div>");
                                    flag = true;
                                    GetAssociate();
                                });
                            }
                            else {
                                //Save AssociateShift
                                $.post('/InsertAssociateShift', {
                                    shift: shiftid,
                                    associateid: Ckeckedassociate

                                }, function (data) {
                                    $("#msgdiv").show();
                                    $("#msgdiv").html("<div class='alert alert-success' >Saved Successfully</div>");
                                    flag = true;
                                });
                            }
                        }
                    });
                }

                return flag;
                GetAssociate();
            });
            //checked associate on selected shift
            $('#ddlshift').change(function () {
                var shiftid = $('#ddlshift :selected').val();
                if (shiftid == '-1') {
                    GetAssociate();
                }
                else {
                    $.post('/GetAssociateOnShiftChange', { shift: shiftid }, function (data) {
                        $('.listcheckbox').prop('checked', false);
                        var json = JSON.parse(data);
                        if (data.length > 10) {
                            associate_id = json[0].associate_id;
                            $('input:checkbox:not(:checked)').each(function () {
                                for (i = 0; i < json.length; i++) {
                                    if ($(this).val() == json[i].associate_id) {
                                        $(this).prop('checked', true);
                                    }
                                }
                            });
                        }
                    });
                }
            });
        });

        //Function to get created by
        function GetCreatedBy() {
            try {
                $.post('/GetLoginDetails', { username: username }, function (data) {
                    var json = JSON.parse(data);
                    if (data.length > 3) {
                        CreatedBy = json[0].userid;
                        designationid = json[0].designationid;
                        associateid = json[0].associateid;
                        populateMenu();
                    }
                });
            } catch (err) { console.log(err.message); }
        }
        function populateMenu() {
            $.post('/populate_menu', { associateid: associateid }, function (data) {
                var json = JSON.parse(data);
                if (data.length > 10) {
                    $.each(json, function (key, value) {
                        if (value.menu_url == null) {
                            var menutext = "";
                            menutext += "<li class='dropdown'><a href='#' class='dropdown-toggle' data-toggle='dropdown'>" + value.menu_name + "<span class='caret'></span></a><ul class='dropdown-menu' role='menu'>";
                            $.each(json, function (key1, value1) {
                                if (value1.menu_parent_id == value.menuid) {
                                    menutext += "<li><a href='" + value1.menu_url + "'>" + value1.menu_name + "</a></li>";
                                }
                            });
                            menutext += "</ul></li>";
                            $('#nav').append($(menutext));
                        }
                        else if (value.menu_parent_id == null) {
                            $('#nav').append($('<li><a href="' + value.menu_url + '">' + value.menu_name + '</a></li>'));
                        }
                    });
                }
            });
        }
    </script>
}