﻿
@{
    ViewData["Title"] = "AttendanceSheet";
}

<section class="content-header">
    <h1>Attendance Sheet</h1>
</section>

<section class="content">
    <div class="box box-default">
        <div class="box-header with-border">
            <h3 class="box-title">Attendance</h3>
        </div>

        <div class="box-body">
            <div class="form-group col-md-4">
                <label><span style="color: #ff0000;">*</span>Associate Name</label>
                <input type="text" class="form-control " id="txtassociate_name" readonly="true"
                       maxlength="50" placeholder="Associate Name" required>
                <input type="hidden" id="txtassociateid" name="user" value="texens" />

            </div>
        </div>
        <div class="box-body">
            <div class="col-lg-12" style="margin-top:1%">
                <table id="tblData" class="table table-bordered">
                    <thead>
                        <tr>

                            <th><label>Date</label></th>
                            <th><label>Login Time</label></th>
                            <th><label>Logout Time</label></th>
                            <th><label>Total Working Hours</label></th>
                            <th><label>Status</label></th>
                        </tr>
                    <thead>
                        <tr>
                            <td><input type="text" class="form-control " id="txtDate" placeholder="Attendance Date" readonly="readonly" onfocus="Remove_Validation(this);"></td>
                            <td><input type="text" class="form-control" id="txtLoginTime" placeholder="Login Time" readonly="readonly" onfocus="Remove_Validation(this);" /></td>
                            <td><input type="text" class="form-control" id="txtLogoutTime" placeholder="Logout Time" readonly="readonly" onfocus="Remove_Validation(this);" /></td>
                            <td><input type="text" class="form-control NumericTextBox" id="txtWorkingHrs" placeholder="HH:MM" readonly="readonly" onfocus="Remove_Validation(this);" maxlength="5"></td>
                            <td><input type="text" class="form-control" id="txtStatus" placeholder="Status" readonly="readonly" onfocus="Remove_Validation(this);" /></td>
                            <!--<td>  <select id="status" onfocus="Remove_Validation(this);" class="form-control "><option>Select</option><option value="1">Complete</option><option>Progress</option><option>Pending</option><option>Assigned</option><option>Not Assigned</option></select></td>-->
                        </tr>
                </table>
            </div>
        </div>

    </div>

</section>

