﻿
@{
    ViewData["Title"] = "CarryForwardLeave";
}


<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Carry Forward Leave
    </h1>
</section>

<section class="content">
    <div class="row">
        <div class="box box-default">
            <!--<div class="box-header with-border">
                <h3 class="box-title">Carry Forward Leave</h3>
            </div>-->
            <div class="box-body">
                <div id="search" style="display:none;">
                    <div class="form-group col-md-4">
                        <label><span style="color: #ff0000;">*</span> AssociateName</label>
                        <select id="ddlassociatename" class="form-control" onfocus="RemoveValidation(this);"><option vlaue="-1">Select</option></select>
                    </div>
                    <div class="form-group col-md-4">
                        <input type="button" class="btn btn-primary" id="btn_search" value="Search" style="margin-top: 6%;" />
                    </div>
                </div>
                <div class="callout callout-info nofoundlbl" style="display:none;"></div>
                <!--<div class="box" style="max-height: 330px;min-height: 330px;overflow-y: scroll;">-->

                <center><span id="msgspan" style="padding-top:1%;display:none;font-weight:bold;">No Record Found</span></center>
                <table id="tblCarryFarwardLeave" class="table table-bordered table-striped">
                    <thead><tr><th>S.No.</th><th>Associate Name</th><th>Entitled</th><th>Availed</th><th>Carry Forward</th></tr></thead>
                </table>

                <!--</div>-->
                <!-- /.box-body -->
            </div>
        </div>
    </div>

</section>

@section scripts{
    <script type="text/javascript">
        var CreatedBy;
        var UpdatedBy;
        var associateid = '';
        var username = "<%= name %>";
        $(document).ready(function () {
            GetCreatedBy();
            GetCarryForwardList();
            GetAssociateName();
            //Check Authorized Menu
            $.post('/check_Authorized_Menu', { username: username, menuName: '/LeaveCarryForward' }, function (data) {
                var json = JSON.parse(data);
                if (json[0].count == 0) {
                    window.location.href = "/";
                    return false;
                }

            });
        });
        function GetCreatedBy() {
            try {
                $.post('/GetLoginDetails', { username: username }, function (data) {
                    var json = JSON.parse(data);

                    if (data.length > 3) {
                        CreatedBy = json[0].userid;
                        designationid = json[0].designationid;
                        associateid = json[0].associateid;
                        populateMenu();
                    }
                });
            } catch (err) {
                console.log(err.message);
            }
        }
        function populateMenu() {
            $.post('/populate_menu', { associateid: associateid }, function (data) {
                var json = JSON.parse(data);
                if (data.length > 10) {
                    $.each(json, function (key, value) {
                        if (value.menu_url == null) {
                            var menutext = "";
                            menutext += "<li class='dropdown'><a href='#' class='dropdown-toggle' data-toggle='dropdown'>" + value.menu_name + "<span class='caret'></span></a><ul class='dropdown-menu' role='menu'>";
                            $.each(json, function (key1, value1) {
                                if (value1.menu_parent_id == value.menuid) {
                                    menutext += "<li><a href='" + value1.menu_url + "'>" + value1.menu_name + "</a></li>";
                                }
                            });
                            menutext += "</ul></li>";
                            $('#nav').append($(menutext));
                        }
                        else if (value.menu_parent_id == null) {
                            $('#nav').append($('<li><a href="' + value.menu_url + '">' + value.menu_name + '</a></li>'));
                        }
                    });
                }
            });
        }
        function GetCarryForwardList() {
            $.post('/GetCarryForwardList', function (data) {
                var json = JSON.parse(data);

                if (data.length > 10) {
                    var datatable = $('#tblCarryFarwardLeave');

                    datatable.empty();
                    datatable.append("<thead><tr><th>S.No.</th><th>Associate Name</th><th>Entitled</th><th>Availed</th><th>Opening Leave</th><th>Carry Forward</th></tr></thead>");
                    $.each(json, function (key, Value) {
                        if (!(this.carryforward <= 0)) {
                            var html = "<tr row0 odd><td>" + (key + 1) + "</td><td>" + this.associate_name + "</td><td>" + this.allowedleave + "</td><td>" + this.availedleave + "</td><td>" + this.opening_leave + "</td>  <td>" + this.carryforward + "</td></tr>";
                            datatable.append(html);
                            $('#msgspan').hide();
                        }

                    });
                    $('#tblCarryFarwardLeave').DataTable();
                }
                else {
                    $('#tblCarryFarwardLeave').empty();
                    $('#msgspan').show();
                }

            });
        }
        //Bind AssociateName Dropdown
        function GetAssociateName() {
            try {
                $.post("/GetActiveReportingPerson", function (data) {
                    var json = JSON.parse(data);
                    if (data.length > 10) {
                        $.each(json, function (key, value) {
                            $("#ddlassociatename").append($("<option></option>").val(value.associateid).html(value.associate_name));

                        });
                    }
                });
            } catch (err) { console.log(err.message); }
        }
        //Remove Validation
        function RemoveValidation(obj) {
            var id = obj.id;
            $("#" + id).parent().removeClass('has-error');
        }
    </script>

}