﻿@model hrms_core.ViewModel.SettingEmailVM
@{
    ViewData["Title"] = "ConfigurationSetting";
    Layout = "~/Views/Shared/_ConfigurationLayout.cshtml";
}
<section class="content-header">
    <h1></h1>
</section>
<section class="content">
    <div id="MsgDiv">
        @if (TempData["msg"] != null)
        {
            if (Convert.ToString(TempData["msg"]).ToLower().Contains("wrong") || Convert.ToString(TempData["msg"]).ToLower().Contains("not"))
            {
                <div class='alert alert-danger'>
                    <label>@TempData["msg"] </label>
                </div>
            }
            else if (Convert.ToString(TempData["msg"]).ToLower().Contains("already") || Convert.ToString(TempData["msg"]).ToLower().Contains("exist"))
            {
                <div class='alert alert-warning'>
                    <label>@TempData["msg"]</label><a onclick="$('#MsgDiv').hide(500);" class="anchor pull-right"><i class="fa fa-window-close" aria-hidden="true"></i></a>
                </div>
            }
            else
            {
                <div class='alert alert-success'>
                    <label>@TempData["msg"]</label><a onclick="$('#MsgDiv').hide(500);" class="anchor pull-right"><i class="fa fa-window-close" aria-hidden="true"></i></a>
                </div>
            }
        }
    </div>
    <div class="col-md-12">
        <div class="box box-info">
            <div class="box-header">
                <div class="pull-left">
                    <h4>Configuration Setting Form</h4>
                </div>
                <div class="pull-right">
                    <a asp-controller="Account" asp-action="Login" class="btn btn-danger btn-flat">Exit</a>
                </div>
            </div>
            <div class="box-body">
                <div class="col-md-6">
                    <div class="box box-primary">
                        <form asp-controller="Home" asp-action="ConfigurationSetting" method="post">
                            <div class="box-header with-border">
                                <h3 class="box-title">Configuration Panel</h3>
                            </div>
                            <div class="box-body">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label"><span style="color: red;">*</span>Associate Prefix : </label>
                                        <input type="hidden" asp-for="configurationModel.id" />
                                        <input type="text" maxlength="7" class="form-control clsConfig" placeholder="Associate Prefix" asp-for="configurationModel.associate_prefix" />
                                        <span asp-validation-for="configurationModel.associate_prefix" class="error-content"></span>
                                        <input type="hidden" asp-for="configurationModel.associate_prefix" />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label"><span style="color: red;">*</span>Max Numeric Character : </label>
                                        <input type="text" class="form-control clsConfig" placeholder="Ex-0000" asp-for="configurationModel.max_numeric_character" />
                                        <input type="hidden" asp-for="configurationModel.max_numeric_character" />
                                        <span asp-validation-for="configurationModel.max_numeric_character" class="error-content"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label"><span style="color: red;">*</span>Company Name : </label>
                                        <input type="text" class="form-control" placeholder="Company Name" asp-for="configurationModel.company_name" />
                                        <span asp-validation-for="configurationModel.company_name" class="error-content"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label"><span style="color: red;">*</span>Contact No : </label>
                                        <input type="text" class="form-control" placeholder="Contact No" asp-for="configurationModel.contact_no" />
                                        <span asp-validation-for="configurationModel.contact_no" class="error-content"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label"><span style="color: red;">*</span>Email Id : </label>
                                        <input type="email" class="form-control" placeholder="Email Id" asp-for="configurationModel.email_id" />
                                        <span asp-validation-for="configurationModel.email_id" class="error-content"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label"><span style="color: red;">*</span>Address : </label>
                                        <textarea type="text" class="form-control" placeholder="Company Address" asp-for="configurationModel.address"></textarea>
                                        <span asp-validation-for="configurationModel.address" class="error-content"></span>
                                    </div>
                                </div>

                            </div>
                            <div class="box-footer">
                                <input type="submit" name="CommandName" value="Save Changes" class="btn btn-primary btn-flat" />
                                @*<input type="button" id="btnConfigurationClear" value="Clear" class="btn btn-danger btn-flat" />*@
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="box box-primary">
                        <form asp-controller="Home" asp-action="EmailConfiguration" method="post">
                            <div class="box-header with-border">
                                <h3 class="box-title">Email Configuration Panel</h3>
                            </div>
                            <div class="box-body">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label"><span style="color: red;">*</span>Sender Email Id : </label>
                                        <input type="hidden" asp-for="emailConfigurationModel.id" />
                                        <input type="email" class="form-control" placeholder="Email Send From" asp-for="emailConfigurationModel.email_send_from" />
                                        <span asp-validation-for="emailConfigurationModel.email_send_from" class="error-content"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label"><span style="color: red;">*</span>Password : </label>
                                        <input type="password" class="form-control" placeholder="Password" asp-for="emailConfigurationModel.password" />
                                        <span asp-validation-for="emailConfigurationModel.password" class="error-content"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label"><span style="color: red;">*</span>Confirm Password : </label>
                                        <input type="password" class="form-control" placeholder="Confirm Password" asp-for="emailConfigurationModel.confirm_password" />
                                        <span asp-validation-for="emailConfigurationModel.confirm_password" class="error-content"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label"><span style="color: red;">*</span>SMTP : </label>
                                        <input type="text" class="form-control" placeholder="SMTP" asp-for="emailConfigurationModel.smtp" />
                                        <span asp-validation-for="emailConfigurationModel.smtp" class="error-content"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label"><span style="color: red;">*</span>Port : </label>
                                        <input type="text" class="form-control" placeholder="Email Id" asp-for="emailConfigurationModel.port" />
                                        <span asp-validation-for="emailConfigurationModel.port" class="error-content"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label"><span style="color: red;">*</span>SSL : </label>
                                        <select asp-for="emailConfigurationModel.ssl" class="form-control">
                                            <option value="true">Yes</option>
                                            <option value="false">No</option>
                                        </select>
                                        <span asp-validation-for="emailConfigurationModel.ssl" class="error-content"></span>
                                    </div>
                                </div>

                            </div>
                            <div class="box-footer">
                                <input type="submit" name="CommandName" value="Save Changes" class="btn btn-primary btn-flat" />
                                @*<input type="button" id="btnEmailClear" value="Clear" class="btn btn-danger btn-flat" />*@
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@section Scripts{
    <script>
        $(document).ready(function () {
            
            var ConfigPermission = '@ViewBag.Configuration';
            if (ConfigPermission == "True") {
                $(".clsConfig").attr("disabled", "disabled");
            }
            var EmailConfigPermission = '@ViewBag.EmailConfiguration';
            if (EmailConfigPermission == "True") {
                $(".clsEmailConfig").attr("disabled", "disabled");
            }
            $("#btnEmailClear").click(function () {
                $(".clsEmailConfig").val("");
            });
        });
    </script>
}

