﻿
@{
    ViewData["Title"] = "ConsolidatedDar";
}

<section class="content-header">
    <h1>Consolidate Daily Activity Report</h1>
</section>

<!-- Main content -->
<section class="content">
    <div class="box box-default" style="overflow:auto;">
        <div class="box-header with-border">
            <div id="msgdiv"></div>
            <h3 class="box-title">Consolidate Daily Activity Report</h3>
        </div>
        <div class="box-body" style="padding-top: 2%;">
            <div class="col-md-12">
                <div class="row">
                    <div class="form-group col-md-12">
                        <div class="col-md-5">
                            <div class="form-group">
                                <label><span style="color: #ff0000;">*</span>Department: </label>
                                <select id="ddlDepartment" class="form-control select2" multiple="multiple" name="download" data-placeholder="Select Department" style="width: 100%;"></select>
                            </div>
                        </div>
                        <!--<div class="col-md-4">
                            <div class="form-group">
                                <label><span style="color: #ff0000;">*</span>Date: </label>
                                <input type="text" id="txt_date" placeholder="dd/mm/yyyy" class="form-control" readonly onfocus="return RemoveValidation(this);" />
                            </div>
                        </div>-->
                        <div class="col-md-5">
                            <div class="form-group">
                                <label>Associate Name: </label>
                                <select id="ddlAssociateName" class="form-control select2" multiple="multiple" name="download" data-placeholder="Select Associate Name" style="width: 100%;"></select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-12">
                        <div class="col-md-5">
                            <div class="form-group">
                                <label>From Date: </label>
                                <input type="text" id="txt_fromdate" placeholder="dd/mm/yyyy" class="form-control" readonly onfocus="return RemoveValidation(this);" />
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group">
                                <label>To Date: </label>
                                <input type="text" id="txt_todate" placeholder="dd/mm/yyyy" class="form-control" readonly onfocus="return RemoveValidation(this);" />
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group" style="padding-top: 15%;">
                                <input type="button" id="btn_submit" class="btn btn-primary" value="Submit" />
                                <input type="button" id="btn_clear" class="btn btn-primary" value="Clear" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <table id="tblDar" class="table table-bordered table-striped">
                <thead> </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</section>

@section scripts{

    <script type="text/javascript">

        $(function () {
            $("#accordion").accordion();
        });


        var CreatedBy = '';
        var designationid = '';
        var associateid = '';
        var username = "<%= name %>";
        var menuUrl = '';
        var userDepartmentId = '';
        $(".select2").select2();

        $(document).ready(function () {
            GetAssociateName();


            // $("#txt_date").val($.datepicker.formatDate("dd-mm-yy", new Date()));
            $("#txt_fromdate").val($.datepicker.formatDate("dd-mm-yy", new Date()));
            $("#txt_todate").val($.datepicker.formatDate("dd-mm-yy", new Date()));
            var departmentId = '';
            var departmentName = '';
            var datetxt = '';
            GetCreatedBy();
            GetDepartmentId();

            $.post('/check_Authorized_Menu', { username: username, menuName: '/ConsolidatedDar' }, function (data) {
                var json = JSON.parse(data);
                if (json[0].count == 0) {
                    window.location.href = "/";
                }
            });
            $("#txt_date").datepicker({
                maxDate: 0,
                dateFormat: 'dd-mm-yy',
                changeMonth: true,
                changeYear: true
            });
            $("#txt_fromdate").datepicker({
                maxDate: 0,
                dateFormat: 'dd-mm-yy',
                changeMonth: true,
                changeYear: true,
                onClose: function (selectedDate) {
                    $("#txt_todate").datepicker("option", "minDate", selectedDate);
                }
            });

            $("#txt_todate").datepicker({
                maxDate: 0,
                dateFormat: 'dd-mm-yy',
                changeMonth: true,
                changeYear: true,
                onClose: function (selectedDate) {
                    $("#txt_fromdate").datepicker("option", "maxDate", selectedDate);
                }
            });
            $("#ddlDepartment").change(function () {
                var multipleValue = [];
                var flag = true;
                $('#ddlDepartment :selected').each(function (i, selected) {
                    multipleValue[i] = $(selected).val();
                });
                var departmentSelectedValue = '';
                var i = 0;
                for (var a in multipleValue) {
                    if (departmentSelectedValue != '') {
                        departmentSelectedValue = departmentSelectedValue + ',' + multipleValue[i];
                    }
                    else {
                        departmentSelectedValue = multipleValue[i];
                    }
                    i = i + 1;
                }
                if (departmentSelectedValue != '')
                    BindAssociteName_Accoring_To_Dept(departmentSelectedValue);
                else
                    GetAssociateName();

            });
            $("#btn_submit").click(function () {
                var multipleValue = [];
                var associateName_multipleValue = [];
                var flag = true;
                $('#ddlDepartment :selected').each(function (i, selected) {
                    multipleValue[i] = $(selected).val();
                });
                var departmentSelectedValue = '';
                var i = 0;
                for (var a in multipleValue) {
                    if (departmentSelectedValue != '') {
                        departmentSelectedValue = departmentSelectedValue + ',' + multipleValue[i];
                    }
                    else {
                        departmentSelectedValue = multipleValue[i];
                    }
                    i = i + 1;
                }
                $('#ddlAssociateName :selected').each(function (i, selected) {
                    associateName_multipleValue[i] = $(selected).val();
                });
                var AssociateSelectedValue = '';
                var i = 0;
                for (var a in associateName_multipleValue) {
                    if (AssociateSelectedValue != '') {
                        AssociateSelectedValue = AssociateSelectedValue + ',' + associateName_multipleValue[i];
                    }
                    else {
                        AssociateSelectedValue = associateName_multipleValue[i];
                    }
                    i = i + 1;
                }
                fromdatetxt = $("#txt_fromdate").val().trim();
                todatetxt = $("#txt_todate").val().trim();

                if (AssociateSelectedValue == '' && departmentSelectedValue == '') {
                    alert('Please select Department or Associate Name');
                    flag = false;
                }
                if (fromdatetxt == '') {
                    $("#txt_fromdate").addClass('has-error');
                    flag = false;
                }
                if (todatetxt == '') {
                    $("#txt_todate").addClass('has-error');
                    flag = false;
                }
                if (flag == true) {
                    var fromdate_arr = fromdatetxt.split('-');
                    fromdatetxt = fromdate_arr[1] + '-' + fromdate_arr[0] + '-' + fromdate_arr[2];
                    var todate_arr = todatetxt.split('-');
                    todatetxt = todate_arr[1] + '-' + todate_arr[0] + '-' + todate_arr[2];
                    $.post('/GetDar', { departmentid: departmentSelectedValue, selectedfromdate: fromdatetxt, selectedtodate: todatetxt, username: username, associateid: AssociateSelectedValue }, function (data) {
                        try {
                            var json = JSON.parse(data);
                            if (data.length > 10) {
                                var assocCode = '';
                                var TotalProjectTime = '';
                                var TotalProjectHour = '';
                                var TotalProjectMinute = '';
                                departmentId = '';
                                $("#tblDar").empty();
                                var datatable = $("#tblDar");
                                var count = 1;
                                var _reportingDate = '';
                                $.each(json, function (key, Value) {
                                    TotalProjectTime = totalTime(this.hoursum, this.minutesum);
                                    var associateCode = this.associate_code;
                                    var associateName = this.associate_name;
                                    var reportingDate = this.reportingdate;
                                    var totalHrs = this.totalhour;
                                    var mailId = this.official_email;
                                    var projectName = this.projecttext;
                                    var taskName = this.tasktext;
                                    var status = this.taskstatus;
                                    var activityDetail = this.activitydetail;
                                    var hrs = this.hour;
                                    var remark = this.remark;
                                    if (departmentId != this.department_id) {

                                        datatable.append("<tr style='background-color: #00a65a;'><th colspan='8'><center>Department Name: " + this.departmenttext + "</center></th></tr>");
                                    }
                                    if (assocCode != associateCode) {
                                        count = 0;
                                        datatable.append("<tr><th colspan='4'>Name: " + associateName + "(" + associateCode + ")</th><th id='totalHourHeader' colspan='3'> Total Hrs: " + TotalProjectTime + "</th></tr>");
                                        datatable.append("<tr><th>Sr No.</th><th>Project Name</th><th>Task Name</th><th>Time</th><th>Status</th><th>Activity Details</th><th>Remarks</th><th style='width: 9%;'>Date</th></tr>");
                                        assocCode = associateCode;
                                    }
                                    departmentId = this.department_id;


                                    if (reportingDate != _reportingDate) {
                                        count = count + 1;
                                    }
                                    _reportingDate = reportingDate;
                                    datatable.append("<tr><td>" + count + "</td><td>" + projectName + "</td><td>" + taskName + "</td><td>" + hrs + "</td><td>" + status + "</td><td>" + activityDetail + "</td><td>" + remark + "</td><td>" + reportingDate + "</td></tr>");

                                });
                                runEffect();
                            }
                            else {
                                $("#tblDar").empty();
                                $("#msgdiv").show();
                                $("#msgdiv").html("<div class='alert alert-danger' style='margin-top:10px;'><label>No Record Found</label></div>");
                            }
                        } catch (err) {
                            console.log(err.message);
                        }
                    })
                }

            });
            $("#btn_clear").click(function () {
                GetDepartment();
                $('#ddlAssociateName option').each(function (index, option) {
                    $(option).remove();
                });
                GetAssociateName();
                //$("#ddlAssociateName").multipleSelect('uncheckAll');
                $("#txt_fromdate").val($.datepicker.formatDate("dd-mm-yy", new Date()));
                $("#txt_todate").val($.datepicker.formatDate("dd-mm-yy", new Date()));
                runEffect();
                return false;
            })

        })
        function BindAssociteName_Accoring_To_Dept(departmentSelectedValue) {

            try {
                $.post("/GetActiveReportingPersonAccodingToDept", { deptId: departmentSelectedValue }, function (data) {
                    var json = JSON.parse(data);
                    if (data.length > 10) {
                        $("#ddlAssociateName").empty();
                        //$("#ddlAssociateName").append($("<option value='-1' selected='selected'>Select</option>"));
                        $.each(json, function (key, value) {
                            $("#ddlAssociateName").append($("<option></option>").val(value.associateid).html(value.associate_name));
                        });
                    }
                });
            } catch (err) { console.log(err.message); }
        }
        //Bind AssociateName Dropdown
        function GetAssociateName() {
            try {
                $.post("/GetActiveReportingPerson", function (data) {
                    var json = JSON.parse(data);
                    if (data.length > 10) {
                        $("#ddlAssociateName").empty();
                        //$("#ddlAssociateName").append($("<option value='-1' selected='selected'>Select</option>"));
                        $.each(json, function (key, value) {
                            $("#ddlAssociateName").append($("<option></option>").val(value.associateid).html(value.associate_name));
                        });
                    }
                });
            } catch (err) { console.log(err.message); }
        }
        function GetDepartmentId() {
            var userName = '';
            userName = username.toUpperCase();
            var a = $.post('/departmentId', { username: userName }, function (data) {
                var json = JSON.parse(data);
                if (data.length > 10) {
                    userDepartmentId = json[0].department_id;

                }
            });
            a.complete(function () { GetDepartment(); });
        }
        function GetDepartment() {
            var userName = '';
            userName = username.toUpperCase();
            if (userDepartmentId == 2 || userName == 'AVIS0000') {
                $.get('/department_list', function (data) {
                    var json = JSON.parse(data);
                    if (data.length > 10) {
                        $('#ddlDepartment').find('option').remove();
                        //$("#ddlDepartment").append($("<option value='-1' selected='selected'>Select</option>"));
                        $.each(json, function (key, value) {
                            $('#ddlDepartment').append($('<option>', {
                                value: this.departmentid,
                                text: this.departmenttext
                            }));
                        });
                    }
                });
            }
            else {
                $.post('/department_listUserName', { userName: userName }, function (data) {
                    var json = JSON.parse(data);
                    if (data.length > 10) {
                        $('#ddlDepartment').find('option').remove();
                        //$("#ddlDepartment").append($("<option value='-1' selected='selected'>Select</option>"));
                        $.each(json, function (key, value) {
                            $('#ddlDepartment').append($('<option>', {
                                value: this.department_id,
                                text: this.departmenttext
                            }));
                        });
                    }
                });
            }

        }
        function runEffect() {
            var selectedEffect = 'blind';
            var options = {};
            $("#msgdiv").hide(selectedEffect, options, 500);
        }

        function populateMenu() {
            $.post('/populate_menu', { associateid: associateid }, function (data) {
                var json = JSON.parse(data);
                if (data.length > 10) {
                    $.each(json, function (key, value) {
                        if (value.menu_url == null) {
                            var menutext = "";
                            menutext += "<li class='dropdown'><a href='#' class='dropdown-toggle' data-toggle='dropdown'>" + value.menu_name + "<span class='caret'></span></a><ul class='dropdown-menu' role='menu'>";
                            $.each(json, function (key1, value1) {
                                if (value1.menu_parent_id == value.menuid) {
                                    menutext += "<li><a href='" + value1.menu_url + "'>" + value1.menu_name + "</a></li>";
                                }
                            });
                            menutext += "</ul></li>";
                            $('#nav').append($(menutext));
                        }
                        else if (value.menu_parent_id == null) {
                            $('#nav').append($('<li><a href="' + value.menu_url + '">' + value.menu_name + '</a></li>'));
                        }
                    });
                }
            });
        }
        function GetCreatedBy() {
            try {
                $.post('/GetLoginDetails', { username: username }, function (data) {
                    var json = JSON.parse(data);
                    if (data.length > 3) {
                        CreatedBy = json[0].userid;
                        designationid = json[0].designationid;
                        associateid = json[0].associateid;
                        populateMenu();

                    }
                });
            } catch (err) {
                console.log(err.message);
            }
        }

        function RemoveValidation(obj) {
            var id = obj.id;
            $("#" + id).parent().removeClass('has-error');
            $("#" + id).removeClass('has-error');
        }

        function totalTime(hour, minute) {

            var _hour = 0;
            var _minute = 0;
            var _time = 0;
            if (minute > 59) {
                _hour = minute / 60;
                _minute = minute % 60;
            }
            else {
                _minute = minute;
            }
            _hour = parseInt(hour) + parseInt(_hour);
            if (String(_hour).length == 1) {
                _hour = '0' + _hour;
            }
            if (String(_minute).length == 1) {
                _minute = '0' + _minute;
            }
            _time = _hour + ':' + _minute;
            return _time;
        }
    </script>
}