﻿
@{
    ViewData["Title"] = "DailyActivityApprovedReport";
}

<section class="content-header">
    <h1>Daily Activity Report</h1>

</section>

<section class="content">
    <div class="box box-default" style="overflow:auto;">
        <div class="box-header with-border">
            <div id="msgdiv"></div>
            <h3 class="box-title">Daily Activity Reporting</h3>
        </div>
        <div class="form-group col-md-4">
            <label><span style="color: #ff0000;">*</span>Associate Name</label>
            <input type="text" class="form-control " id="txtassociate_name" readonly="true"
                   maxlength="50" placeholder="Associate Name" required>
            <input type="hidden" id="txtassociateid" name="user" value="texens" />
        </div>
        <table style="width: 100%; ">
            <tr>
                <td colspan="4" width:100%">
                    <table id="tblData" style="width: 95%;margin-left: 14px;">
                        <tbody></tbody>
                        <tfoot>
                        </tfoot>
                    </table>
                </td>
            </tr>
        </table>
        <div class="box-body">
            <div class="form-group col-md-4">
                <label><span style="color: #ff0000;">*</span>Comments</label>
                <textarea type="text" rows="3" class="form-control " onfocus="RemoveValidation(this);" id="txtcomments"
                          maxlength="50" placeholder="Comments" required></textarea>
                <!--<input type="text" class="form-control " onfocus="RemoveValidation(this);" id="txtcomments"
                       maxlength="50" placeholder="Comments" required>-->
            </div>
        </div>

        <div class="box-footer">
            <button class="btn btn-primary btn-flat" id="btnapproved">Approved</button>
            <button class="btn btn-primary btn-flat" id="btnreject">Reject</button>

        </div>
    </div>

</section>

@section scripts{


    <script>
        var username = "<%= name %>";
        var associateid = '';
        var associateName = '';
        var associateCode = '';
        var associateLoginId = '';
        var associateOfficialMailId = '';
        var hodofficialemailid = '';
        var reportingDate = '';
        var result = '';
        var authorizedPersonName = '';
        $(document).ready(function () {
            GetCreatedBy();
            GetOrderDetailsRecords();
            GetAssosiateName();
            GetLoginAssociateId();
            $('#btnapproved').click(function () {
                try {
                    var flag = 0;
                    var comments = ReplaceQuote($('#txtcomments').val().trim());
                    if (comments == '') {
                        $("#txtcomments").addClass('has-error');
                        flag++;
                    }
                    if (flag > 0) {
                        return false;
                    }
                    else {
                        $.post('/updateondutytablebyreportingperson', { comments: comments, status: 1, associateLoginId: associateLoginId }, function (data) {
                            result = 1;
                            $("#msgdiv").show();
                            $("#msgdiv").html("<div class='alert alert-success'>Approved Suucessfully.</div>");
                            SendMail();
                        });
                    }
                }
                catch (err) { console.log(err.message); }
            });
            $('#btnreject').click(function () {
                try {
                    var flag = 0;
                    var comments = ReplaceQuote($('#txtcomments').val().trim());
                    if (comments == '') {
                        $("#txtcomments").addClass('has-error');
                        flag++;
                    }
                    if (flag > 0) {
                        return false;
                    }
                    else {
                        $.post('/updateondutytablebyreportingperson', {
                            comments: comments, status: 2, associateLoginId: associateLoginId
                        }, function (data) {
                            result = 2;
                            $("#msgdiv").show();
                            $("#msgdiv").html("<div class='alert alert-danger'>Reject Suucessfully.</div>");
                            SendMail();
                        });
                    }
                }
                catch (err) { console.log(err.message); }
            });


        });

        function SendMail() {
            result = result == 1 ? 'Approved' : 'Rejected';
            var mailtext = '<b>Dear ' + associateName + ',</b><br/><br/>Your Request for OD(' + reportingDate + ') has been <b>' + result + '</b>. <br/><br/>';
            mailtext += 'Comment:- <b>' + $("#txtcomments").val().trim() + '</b>.<br/>';
            mailtext += ' Authorized By:-<b>' + authorizedPersonName + '</b>.';
            mailtext += '<br/><br/>Regards<br/>';
            mailtext += '' + authorizedPersonName + '<br/><br/>';
            mailtext += 'Declaration:If you have already received e-mail for On Duty status of ' + reportingDate + ' then ignore this mail.<br/>';
            $.post('/ODAprroveRejectMail', { associate_Name: authorizedPersonName, officialemail: associateOfficialMailId, totalmail: mailtext, hodofficialmail: hodofficialemailid });
        }
        function GetAssosiateEmailid() {
            $.post("/GetAssosiateEmailid", { username: associateCode }, function (data) {
                var json = JSON.parse(data);
                associateid = json[0].associate_id;
                associateOfficialMailId = json[0].official_email;
            });
            GetHODEmailId();
            GetReportingPersonName();
        }
        function GetHODEmailId() {
            try {
                $.post("/GetHODEmailId", { username: associateCode }, function (data) {
                    var json = JSON.parse(data);
                    if (data.length > 10) {
                        for (var i = 0; i < json.length; i++) {
                            if (hodofficialemailid == '') {
                                hodofficialemailid += json[i].official_email;
                            }
                            else {
                                if (json[i - 1].official_email != json[i].official_email)
                                    hodofficialemailid += ";" + json[i].official_email;
                            }
                        }
                        //alert(hodofficialemailid);
                    }
                });
            } catch (err) { console.log(err.message); }

        }
        function GetAssosiateName() {
            $.post("/Getdarassosiatename", { dar_id: 0 }, function (data) {
                var json = JSON.parse(data);
                associateid = json[0].associateid;
                associateName = json[0].associate_name;
                associateCode = json[0].associate_code;
                $("#txtassociate_name").val(json[0].associate_name);
                GetAssosiateEmailid();

            });
        }

        function getParameterByName(name, url) {
            if (!url) url = window.location.href;
            name = name.replace(/[\[\]]/g, "\\$&");
            var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
                results = regex.exec(url);
            if (!results) return null;
            if (!results[2]) return '';
            return decodeURIComponent(results[2].replace(/\+/g, " "));
        }
        var darid = getParameterByName('DarId');

        function GetOrderDetailsRecords() {

            try {
                $.post('/Getreportdetail', { dar_id: 0 }, function (data) {

                    var json = JSON.parse(data);
                    reportingDate = json[0].reportingdate;

                    if (data.length > 10) {

                        $('#tblData').empty();
                        $('#tblData').append("<thead><tr><th style=\"border: 1px solid black;padding:10px;\">Sr.No</th><th style=\"border: 1px solid black;padding:10px\">Project Name</th><th  style=\"border: 1px solid black;padding:10px;\">Task Name</th><th style=\"border: 1px solid black;padding:10px;\">Activity Detail</th><th style=\"border: 1px solid black;padding:10px;\">Hour</th><th style=\"border: 1px solid black;padding:10px;\">Percentage</th><th style=\"border: 1px solid black;padding:10px;\">Status</th><th style=\"border: 1px solid black;padding:10px;\">Remark</th></tr></thead>");
                        $.each(json, function (key, value) {
                            var html = '<tr><td style=\"border: 1px solid black;padding:10px;\">' + (key + 1) + '</td><td style=\"border: 1px solid black;padding:10px;\">' + this.projecttext + '</td><td  style=\"border: 1px solid black;padding:10px;\">' + this.tasktext + '</td><td style=\"border: 1px solid black;padding:10px;\">' + this.activitydetail + '</td><td style=\"border: 1px solid black;padding:10px;\">' + this.hour + '</td><td style=\"border: 1px solid black;padding:10px;\">' + this.percentage + '</td><td style=\"border: 1px solid black;padding:10px;\">' + this.taskstatus + '</td><td style=\"border: 1px solid black;padding:10px;\">' + this.remark + '</td></tr>';
                            $('#tblData').append(html);
                        });
                    }
                });
            } catch (err) {
                console.log(err.message);
            }


        }

        function GetReportingPersonName() {

            $.post('/GetReportingHodPersonName', { username: username }, function (data) {
                var json = JSON.parse(data);
                authorizedPersonName = json[0].associate_name;
            });
        }
        function GetLoginAssociateId() {
            $.post('/GetLoginAssociateId', { username: username }, function (data) {
                var json = JSON.parse(data);
                associateLoginId = json[0].associateid;
            });

        }

        function RemoveValidation(obj) {
            var id = obj.id;
            $("#" + id).parent().removeClass('has-error');
        }
        function GetCreatedBy() {
            try {
                $.post('/GetLoginDetails', { username: username }, function (data) {
                    var json = JSON.parse(data);
                    if (data.length > 3) {
                        CreatedBy = json[0].userid;
                        designationid = json[0].designationid;
                        associateid = json[0].associateid;
                        populateMenu();
                    }
                });
            } catch (err) {
                console.log(err.message);
            }
        }

        function populateMenu() {
            $.post('/populate_menu', { associateid: associateid }, function (data) {
                var json = JSON.parse(data);
                if (data.length > 10) {
                    $.each(json, function (key, value) {
                        if (value.menu_url == null) {
                            var menutext = "";
                            menutext += "<li class='dropdown'><a href='#' class='dropdown-toggle' data-toggle='dropdown'>" + value.menu_name + "<span class='caret'></span></a><ul class='dropdown-menu' role='menu'>";
                            $.each(json, function (key1, value1) {
                                if (value1.menu_parent_id == value.menuid) {
                                    menutext += "<li><a href='" + value1.menu_url + "'>" + value1.menu_name + "</a></li>";
                                }
                            });
                            menutext += "</ul></li>";
                            $('#nav').append($(menutext));
                        }
                        else if (value.menu_parent_id == null) {
                            $('#nav').append($('<li><a href="' + value.menu_url + '">' + value.menu_name + '</a></li>'));
                        }
                    });
                }
            });
        }
        function ReplaceQuote(data) {
            var result = '';
            var arr = [];
            arr = data.split(' ');
            for (var i in arr) {
                var a = '';
                a = arr[i].replace("'", "''");
                if (i == 0) {
                    result = result + a
                }
                else {
                    result = result + ' ' + a;
                }

            }
            return result;

        }
    </script>

    }