﻿
@{
    ViewData["Title"] = "DailyActivityDetailReport";
}

<section class="content-header">
    <h1>Daily Activity Detail Report</h1>
</section>

<section class="content">
    <div class="box box-default" style="overflow:auto;">
        <div class="box-header with-border">
            <h3 class="box-title">Daily Activity Detail Report</h3>
        </div>

        <div class="box-body">
            <table id="example1" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Serial Number</th>
                        <th>Reported Date</th>
                        <th>Reporting Date</th>
                        <th>Total Hour</th>
                        <th>Is Authorized</th>
                    </tr>
                </thead>
                <tbody></tbody>
                <tfoot>
                </tfoot>
            </table>
        </div>

    </div>

</section>

@section scripts{

    <script type="text/javascript">

        var DarId = '';
        var reportingpersonid = '';
        var hodofficialmail = '';
        var username = "<%= name %>";
        var designationid;
        var associatevalue;
        var CreatedBy;
        var UpdatedBy;
        var associate_id = '';
        var Insertedskill = '';
        var Insertedskill1 = '';

        var Insertedqualification = '';
        var Insertedexperience = '';
        var sum = '';
        var departmentid = '';
        var sumstr = '';
        var validatepercentage = '';
        var dailyreportdetail = '';
        var totalmail = '';
        var newvalidation = '';
        var remark = '';
        var official_email = '';
        var addhodofficialmail = '';
        var addhodofficialmaileach = '';
        var departmenthod_mailid = '';
        var associateid = '';
        var designationname = '';
        var checkinsertdata = '';
        var dataId = '';
        var settotalhour = '';
        var hodofficialemailid = '';
        $(document).ready(function () {

            //$('#exampleModal1').modal('hide');
            //$('#exampleModal').modal('hide');
            $("#activity_detail").keyup(function () {
                var a = $("#activity_detail").val();
                if (String(a).indexOf("#") >= 0 || String(a).indexOf("~") >= 0) {
                    a = a.replace("~", "");
                    a = a.replace("#", "");
                    $("#activity_detail").val(a);
                }

            });
            $("#remark").keyup(function () {
                var a = $("#remark").val();
                if (String(a).indexOf("#") >= 0 || String(a).indexOf("~") >= 0) {
                    a = a.replace("~", "");
                    a = a.replace("#", "");
                    $("#remark").val(a);
                }

            });

            GetCreatedBy();
            Clienttypebtn();
            GetProjectName();
            GetAssosiateName();
            GetReportingPersonId();
            GetAssosiateEmailid();
            GetAdditionalReportingPersonName();
            $('#example1').on("click", ".announce", function (e) {
                dataId = $(this).attr('data-id');
                var button = $(this);
                var reportingdate = button.data('reportingdate');
                $("#reporting_date").val(reportingdate);
                GetOrderDetailsRecords();
                Gettotalhourforview();



            });
            $('#example1').on("click", ".announce1", function (e) {


                dataId = $(this).attr('data-id');
                var button = $(this);
                var reportingdate = button.data('reportingdate');
                $("#reporting_date1").val(reportingdate);
                GetOrderDetailsRecordsforview();
                Gettotalhourforview();

            });
            $('#add-row').click(function () {

                try {

                    var flag = 0;
                    var Select = 'Select';
                    var activitydetail = $('#activity_detail').val().trim();
                    var hour = $('#hour').val().trim();
                    var curerrentpercentage = $('#curenet_percentage').val().trim();
                    var status = $('#status :selected').text();
                    var projectname = $('#ddlproject_name :selected').text();
                    var projectvalname = $('#ddlproject_name :selected').val();
                    var taskname = $('#ddltask_name :selected').text();
                    var taskvalname = $('#ddltask_name :selected').val();
                    var remark = $('#remark').val().trim();



                    if (projectname == 'Select') {
                        $("#ddlproject_name").addClass('has-error');
                        flag++;
                    }
                    if (taskname == 'Select') {
                        $("#ddltask_name").addClass('has-error');
                        flag++;
                    }
                    if (activitydetail == '') {
                        $("#activity_detail").addClass('has-error');
                        flag++;
                    }
                    if (hour == '') {
                        $("#hour").addClass('has-error');
                        flag++;
                    }
                    if (curerrentpercentage == '') {
                        $("#curenet_percentage").addClass('has-error');
                        flag++;
                    }
                    if (status == 'Select') {
                        $("#status").addClass('has-error');
                        flag++;
                    }
                    if (hour != '') {

                        var totalhour = $('#total_hour').val().trim();
                        var validationhour = $('#hour').val().trim();
                        var validtotalhourstr = totalhour.split(':')
                        var validationhourstr = validationhour.split(':')



                        //For Get the Final Mintus
                        var validatesumstr = 0;
                        validatesumstr = parseInt(validtotalhourstr[1]) + parseInt(validationhourstr[1]);
                        validate_h = parseInt(validatesumstr / 60);
                        validate_m = validatesumstr - (validate_h * 60);

                        // For Get the Final Hour

                        var validatesum_hour = 0;
                        validatesum_hour = parseInt(validtotalhourstr[0]) + parseInt(validationhourstr[0]) + validate_h;

                        if (validatesum_hour > 24) {
                            $("#msgdiv").empty();
                            $("#msgdiv").html("<div class='alert alert-warning' style='margin-top:10px;'><label>Total Hour can not be more then 24 hour.</label></div>");
                            $("#msgdiv").show();
                            $('#activity_detail').val('');
                            $('#hour').val('');
                            $('#curenet_percentage').val('');
                            $('#remark').val('');
                            $("#status option:contains(" + Select + ")").attr('selected', 'selected');
                            $("#ddlproject_name option:eq(0)").prop("selected", true);
                            $("#ddltask_name option:eq(0)").prop("selected", true);
                            flag++;
                        }

                        if (validatesum_hour >= 24 && validate_m != 0) {
                            $("#msgdiv").empty();
                            $("#msgdiv").html("<div class='alert alert-warning' style='margin-top:10px;'><label>Total Hour can not be more then 24 hour.</label></div>");
                            $("#msgdiv").show();
                            $('#activity_detail').val('');
                            $('#hour').val('');
                            $('#curenet_percentage').val('');
                            $('#remark').val('');
                            $("#status option:contains(" + Select + ")").attr('selected', 'selected');
                            $("#ddlproject_name option:eq(0)").prop("selected", true);
                            $("#ddltask_name option:eq(0)").prop("selected", true);
                            flag++;
                        }


                        else {
                            var validatesum_hour_str = '';
                            var validate_m_str = '';
                            if (validatesum_hour < 10) {
                                validatesum_hour_str = '0' + validatesum_hour;
                            }
                            else {
                                validatesum_hour_str = validatesum_hour;
                            }
                            if (validate_m < 10) {
                                validate_m_str = '0' + validate_m;
                            }
                            else {
                                validate_m_str = validate_m;
                            }
                            $('#total_hour').val(validatesum_hour_str + ":" + validate_m_str);
                        }
                    }

                    if (newvalidation == '0:0') {
                        $('#total_hour').val('0:0');
                    }

                    var str = totalhour.split(':')
                    Remove_Validation1();


                    if (validatepercentage == '') {
                        validatepercentage = curerrentpercentage;
                    }
                    else {
                        sum = parseFloat(validatepercentage) + parseFloat(curerrentpercentage);
                    }

                    if (flag > 0) {
                        return false;
                    }


                    else {
                        if (dailyreportdetail != '') {
                            dailyreportdetail += '~';
                        }
                        dailyreportdetail += projectname + '#' + taskname + '#' + activitydetail + '#' + hour + '#' + curerrentpercentage + '#' + status + '#' + remark;

                        $('#tblData').append("<tr><td id='" + projectvalname + "'>" + projectname + "</td><td  id='" + taskvalname + "'>" + taskname + "</td><td>" + activitydetail + "</td><td>" + hour + "</td><td>" + curerrentpercentage + "</td><td>" + status + "</td><td>" + remark + "</td><td><input type='button' style='width:100%;' class='btn btn-danger removeskill' id='removebtn' value='Remove' /></td></tr>");
                        if (Insertedskill != '') {
                            Insertedskill += '~';
                        }
                        Insertedskill += projectvalname + '#' + taskvalname + '#' + ReplaceQuote(activitydetail) + '#' + hour + '#' + curerrentpercentage + '#' + status + '#' + ReplaceQuote(remark);
                        $('#activity_detail').val('');
                        $('#hour').val('');
                        $('#curenet_percentage').val('');
                        $('#remark').val('');
                        $("#status option:contains(" + Select + ")").attr('selected', 'selected');
                        $("#ddlproject_name option:eq(0)").prop("selected", true);
                        $("#ddltask_name option:eq(0)").prop("selected", true);
                    }
                    $("#status option:contains(" + Select + ")").attr('selected', 'selected');
                }
                catch (err) { console.log(err.message); }
            });
            $('#tblData').on('click', '.removeskill', function () {
                try {
                    var button = $(this);
                    var projectname = $(this).closest("tr").find("td:eq(0)").text();

                    var projectvalname = $(this).closest("tr").find("td:eq(0)")[0].id;
                    var hour = $(this).closest("tr").find("td:eq(3)").text();
                    var taskname = $(this).closest("tr").find("td:eq(1)").text();
                    var taskvalname = $(this).closest("tr").find("td:eq(1)")[0].id;

                    var activitydetail = $(this).closest("tr").find("td:eq(2)").text();

                    var curerrentpercentage = $(this).closest("tr").find("td:eq(4)").text();
                    var status = $(this).closest("tr").find("td:eq(5)").text();

                    var remark = $(this).closest("tr").find("td:eq(6)").text();
                    var removedailyreportdetail = projectname + '#' + taskname + '#' + activitydetail + '#' + hour + '#' + curerrentpercentage + '#' + status + '#' + remark;
                    dailyreportdetail = dailyreportdetail.replace(removedailyreportdetail, "");
                    dailyreportdetail = dailyreportdetail.replace('~~', '~');
                    if (dailyreportdetail.length < 7) {

                        dailyreportdetail = '';
                    }
                    if (dailyreportdetail.charAt(0) == '~') {
                        dailyreportdetail = dailyreportdetail.substring(1, dailyreportdetail.length);
                    }
                    var ins1 = dailyreportdetail.length - 1;
                    if (dailyreportdetail.charAt(ins1) == '~') {
                        dailyreportdetail = dailyreportdetail.substring(0, ins1);
                    }


                    var removal = projectvalname + '#' + taskvalname + '#' + activitydetail + '#' + hour + '#' + curerrentpercentage + '#' + status + '#' + remark;

                    Insertedskill = Insertedskill.replace(removal, "");
                    Insertedskill = Insertedskill.replace('~~', '~');
                    if (Insertedskill.length < 7) {

                        Insertedskill = '';
                    }

                    if (Insertedskill.charAt(0) == '~') {
                        Insertedskill = Insertedskill.substring(1, Insertedskill.length);
                    }
                    var ins = Insertedskill.length - 1;
                    if (Insertedskill.charAt(ins) == '~') {
                        Insertedskill = Insertedskill.substring(0, ins);
                    }
                    $(this).parent().parent().remove();


                    var totalhour = $('#total_hour').val().trim();
                    var str1 = hour.split(':')
                    var str = totalhour.split(':')

                    var validatestr = str[0] + str1[0];

                    if (str1[1] > str[1]) {
                        var sumstr = parseInt(str[0]) - (parseInt(str1[0]) + 1);
                        var sumstr1 = (60 + parseInt(str[1])) - parseInt(str1[1]);
                        var totalsumstr = $('#total_hour').val(sumstr + ':' + sumstr1);
                    }

                    else {

                        var newsumstr = parseInt(str[0]) - parseInt(str1[0]);
                        var newsumstr1 = parseInt(str[1]) - parseInt(str1[1]);
                        var totalnewsumstr = $('#total_hour').val(newsumstr + ':' + newsumstr1);
                    }
                    var iNum1 = parseFloat(totalhour);
                    var iNum2 = parseFloat(hour);
                }
                catch (err) { console.log(err.message); }

            });

            $("#reporting_date").datepicker({
                dateFormat: "dd-mm-yy",
                maxDate: new Date()
            });

            $('#btn_authorize').click(function () {
                $('#btn_authorize').hide();
                try {
                    //GetHODEmailId();
                    dailyreportdetail = dailyreportdetail.replace(',,', ',');
                    dailyreportdetail = dailyreportdetail.replace(/,\s*$/, "");
                    var flag = 0;
                    var activitydetail = $('#activity_detail').val().trim();
                    var associatename = $('#txtassociate_name').val().trim();
                    var hour = $('#hour').val().trim();
                    var curerrentpercentage = $('#curenet_percentage').val().trim();
                    var status = $('#status :selected').text();
                    var projectname = $('#ddlproject_name :selected').text();
                    var projectvalname = $('#ddlproject_name :selected').val();
                    var taskname = $('#ddltask_name :selected').text();
                    var taskvalname = $('#ddltask_name :selected').val();
                    var remark = $('#remark').val().trim();
                    var reportingdate = $('#reporting_date').val().trim();
                    var severdate = $('#server_date').val().trim();
                    var totalhour = $('#total_hour').val();
                    if (reportingdate != '') {
                        var arr2 = reportingdate.split('-');
                        reportingdate = arr2[1] + '-' + arr2[0] + '-' + arr2[2];
                    }
                    if (severdate != '') {
                        var arr1 = severdate.split('-');
                        severdate = arr1[1] + '-' + arr1[0] + '-' + arr1[2];
                    }

                    if (reportingdate == '') {
                        $("#reporting_date").addClass('has-error');
                        flag++;
                    }
                    if (severdate == '') {
                        $("#server_date").addClass('has-error');
                        flag++;
                    }

                    if (totalhour == '00:00') {
                        $("#total_hour").addClass('has-error');
                        $("#total")
                        flag++;
                    }


                    if (flag > 0) {
                        return false;
                    }
                    else {
                        $.post('/authorizedailyactivityreport', {
                            DarId: dataId
                        }, function (data) {
                            $("#msgdiv").empty();
                            $("#msgdiv").html("<div class='alert alert-success' style='margin-top:10px;'><label>Daily Activity Report Authorized Succesffuly..</label></div>");
                            $("#msgdiv").show();
                            $('#exampleModal').modal('hide');
                        });
                        var productarr = [];
                        productarr = dailyreportdetail.split('~');
                        var mailtext = '';
                        mailtext += '<b>Dear Sir/Maam,</b><br/><br/><br/>';
                        //mailtext += 'Please find enclosed here with the Daily Activity Report as on (' + severdate + ')<br/><br/>';
                        mailtext += 'Please find enclosed here with the Daily Activity Report as on (' + reportingdate + ')<br/><br/>';
                        mailtext += '<table>';
                        mailtext += '<tr><td>PROJECT NAME</td>&nbsp;<td>TASK NAME</td>&nbsp;<td>ACTIVITY DETAIL</td>&nbsp;<td>HOURS</td>&nbsp;<td>PERCENTAGE</td>&nbsp;<td>STATUS</td>&nbsp;<td>REMARK</td><tr><br/><br/>';
                        for (var i in productarr) {

                            var items = [];
                            items = productarr[i].split('#');

                            mailtext += '<tr><td>' + items[0] + '</td>&nbsp;<td>' + items[1] + '</td>&nbsp;<td>' + items[2] + '</td>&nbsp;<td>' + items[3] + '</td>&nbsp;<td>' + items[4] + '</td>&nbsp;<td>' + items[5] + '</td>&nbsp;<td>' + items[6] + '</td><tr><br/>';
                        }


                        mailtext += '</table><br/><br/>';
                        mailtext += 'Regards<br/>';
                        mailtext += '' + associatename + '<br/><br/>';
                        mailtext += '' + designationname + '<br/><br/><br/>';
                        //mailtext += 'Declaration:If you have already received e-mail for daily activity report of ' + severdate + ' then ignore this mail.<br/>';
                        mailtext += 'Declaration:If you have already received e-mail for daily activity report of ' + reportingdate + ' then ignore this mail.<br/>';
                        if ($('.listcheckbox').is(':checked')) {
                            $.post('/insertondutydetail', {
                                applied_by: associate_id, applied_on: severdate, DarId: dataId, status: 0
                            }, function (data) {

                            });
                            var mailtext1 = '';
                            mailtext1 += '<b>Dear Sir/Maam,</b><br/><br/><br/>';
                            //mailtext1 += '' + associatename + ' has applied for OD.Please find enclosed here with OD detail for your review(' + severdate + ')<br/><br/>';
                            mailtext1 += '' + associatename + ' has applied for OD.Please find enclosed here with OD detail for your review(' + reportingdate + ')<br/><br/>';

                            mailtext1 += '<table>';
                            mailtext1 += '<tr><td>PROJECT NAME</td>&nbsp;<td>TASK NAME</td>&nbsp;<td>ACTIVITY DETAIL</td>&nbsp;<td>HOURS</td>&nbsp;<td>PERCENTAGE</td>&nbsp;<td>STATUS</td>&nbsp;<td>REMARK</td><tr><br/><br/>';
                            for (var i in productarr) {
                                var items = [];
                                items = productarr[i].split('#');
                                mailtext1 += '<tr><td>' + items[0] + '</td>&nbsp;<td>' + items[1] + '</td>&nbsp;<td>' + items[2] + '</td>&nbsp;<td>' + items[3] + '</td>&nbsp;<td>' + items[4] + '</td>&nbsp;<td>' + items[5] + '</td>&nbsp;<td>' + items[6] + '</td><tr><br/>';
                            }
                            mailtext1 += '</table><br/><br/>';
                            mailtext1 += 'for take action please click below link<br/><br/>';
                            mailtext1 += '<b>For Internal Use : </b><a href="';
                            var _firstpart = '/dailyactivityauthenticationreport?DarId=';
                            var _sceondpart = '">Click Here</a><br/><b>For External Use : </b><a href="';
                            //var _thirdPart = '">Click Here</a><br/><br/>Regards<br/>System Admin<br/><br/>Declaration:If you have already received e-mail for daily activity report of ' + severdate + ' then ignore this mail.<br/>';
                            var _thirdPart = '">Click Here</a><br/><br/>Regards<br/>System Admin<br/><br/>Declaration:If you have already received e-mail for daily activity report of ' + reportingdate + ' then ignore this mail.<br/>';
                            Totaldarid = dataId;
                            // $.post('/maildemo', { associate_Name: associatename, totalmail: mailtext1, officialemail: official_email, hodofficialmail: hodofficialemailid, encrypturl: 1, DarId: Totaldarid, firstpart: _firstpart, secondpart: _sceondpart, thirdpart: _thirdPart });
                            $.ajax({
                                type: 'POST',
                                url: '/maildemo',
                                data: { associate_Name: associatename, totalmail: mailtext1, officialemail: official_email, hodofficialmail: hodofficialemailid, encrypturl: 1, DarId: Totaldarid, firstpart: _firstpart, secondpart: _sceondpart, thirdpart: _thirdPart },
                                success: function (data) {
                                    
                                    console.log(data);
                                    window.location.reload();
                                },
                                error: function (err) {
                                    console.log(err);
                                }
                            });

                        }
                        else {
                            var Totalhodmail = official_email + addhodofficialmail;
                            // $.post('/maildemo', { associate_Name: associatename, totalmail: mailtext, hodofficialmail: hodofficialemailid, Totalhodmail: Totalhodmail });
                            $.ajax({
                                type: 'POST',
                                url: '/maildemo',
                                data: { associate_Name: associatename, totalmail: mailtext, hodofficialmail: hodofficialemailid, Totalhodmail: Totalhodmail },
                                success: function (data) {
                                    
                                    console.log(data);
                                    window.location.reload();
                                },
                                error: function (err) {
                                    console.log(err);
                                }
                            });
                        }
                    }
                    GetReportingPersonId();
                    window.location.href = '/dailyactivitydetailsreport';
                }
                catch (err) { console.log(err.message); }
            });

            $('#OKbtn').click(function () {

                try {

                    Insertedskill = Insertedskill.replace('~~', '~');
                    Insertedskill = Insertedskill.replace(/,\s*$/, "");
                    var flag = 0;
                    if (Insertedskill.length == 0) {
                        $("#msgdiv").empty();
                        $("#msgdiv").html("<div class='alert alert-warning' style='margin-top:10px;'><label>Please Add atleast one row in DAR Report.</label></div>");
                        $("#msgdiv").show();
                        return false;
                    }
                    var associatename = $('#txtassociate_name').val().trim();

                    var reportingdate = $('#reporting_date').val().trim();
                    var severdate = $('#server_date').val().trim();
                    var totalhour = $('#total_hour').val();
                    if (reportingdate != '') {
                        var arr2 = reportingdate.split('-');
                        reportingdate = arr2[1] + '-' + arr2[0] + '-' + arr2[2];
                    }
                    if (severdate != '') {
                        var arr1 = severdate.split('-');
                        severdate = arr1[1] + '-' + arr1[0] + '-' + arr1[2];
                    }

                    if (reportingdate == '') {
                        $("#reporting_date").addClass('has-error');
                        flag++;
                    }
                    if (severdate == '') {
                        $("#server_date").addClass('has-error');
                        flag++;
                    }
                    if (totalhour == '00:00') {
                        $("#total_hour").addClass('has-error');


                        flag++;
                    }
                    if (flag > 0) {
                        return false;
                    }
                    else {
                        $.post('/updatedailyreport', { associatenameval: associate_id, reportingdate: reportingdate, severdate: severdate, totalhour: totalhour, dailyreportdetail: Insertedskill, darid: dataId }, function (data) {
                            $('#btn_authorize').show();
                            $("#msgdiv").empty();
                            $("#msgdiv").html("<div class='alert alert-success' style='margin-top:10px;'><label>Daily Activity Report Updated Succesffuly..</label></div>");
                            $("#msgdiv").show();
                        });
                    }
                }
                catch (err) { console.log(err.message); }
            });
            $("#curenet_percentage").keyup(function () {
                handleChange(this);
            });
            $("#curenet_percentage").keydown(function (e) {
                if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 110, 190]) !== -1 ||
                    (e.keyCode === 65 && (e.ctrlKey === true || e.metaKey === true)) ||
                    (e.keyCode >= 35 && e.keyCode <= 40)) {
                    return;
                }
                if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
                    e.preventDefault();
                }
            });
            $("#ddlproject_name").change(function () {
                $("#ddltask_name option:eq(0)").prop("selected", true);
                var projectvalname = $('#ddlproject_name :selected').val();
                $.post("/GetTaskName", { username: username, projectvalname: projectvalname }, function (data) {
                    $('#ddltask_name').empty();
                    var json = JSON.parse(data);
                    if (data.length > 10) {
                        $("#ddltask_name").append($("<option value='-1' selected='selected'>Select</option>"));
                        $.each(json, function (key, value) {
                            $("#ddltask_name").append($("<option></option>").val(value.taskid).html(value.tasktext));
                        });
                    }
                });
            });
            $("#hour").keyup(function () {
                var managehour = $("#hour").val();
                if ($("#hour").val().length == 2) {
                    $("#hour").val(managehour + ':');
                }
                if ($("#hour").val().length > 5) {
                    $("#hour").val('');
                }
            });
            $("#hour").keydown(function (e) {
                if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 110, 190]) !== -1 ||
                    (e.keyCode === 65 && (e.ctrlKey === true || e.metaKey === true)) ||
                    (e.keyCode >= 35 && e.keyCode <= 40)) {
                    return;
                }
                if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
                    e.preventDefault();
                }
            });


            //Check Authorized Menu
            $.post('/check_Authorized_Menu', { username: username, menuName: '/dailyactivitydetailsreport' }, function (data) {
                var json = JSON.parse(data);
                if (json[0].count == 0) {
                    window.location.href = "/";
                    return false;
                }

            });
        });
        function GetReportingPersonId() {
            try {
                $.post("/GetHODEmailId", { username: username }, function (data) {

                    var json = JSON.parse(data);
                    if (data.length > 10) {
                        for (var i = 0; i < json.length; i++) {
                            if (hodofficialemailid == '') {
                                hodofficialemailid += json[i].official_email;
                            }
                            else {
                                if (json[i - 1].official_email != json[i].official_email)
                                    hodofficialemailid += ";" + json[i].official_email;
                            }

                        }
                    }
                });
            } catch (err) { console.log(err.message); }
        }
        function GetAssosiateEmailid() {
            $.post("/GetAssosiateEmailid", { username: username }, function (data) {

                var json = JSON.parse(data);
                associateid = json[0].associate_id;
                official_email = json[0].official_email;
            });
        }
        function GetAdditionalReportingPersonName() {
            try {
                $.post("/Getadditinalreportingpersonname", { username: username }, function (data) {

                    var json = JSON.parse(data);
                    $.each(json, function (key, value) {
                        if (this.addhodofficialmail != null) {
                            if (addhodofficialmail == '') {
                                addhodofficialmail += (';' + (this.addhodofficialmail));
                            }
                        }
                    });
                });
            } catch (err) { console.log(err.message); }
        }

        //function GetHODEmailId() {
        //    try {
        //        $.post("/GetHODEmailId", { username: username }, function (data) {
        //            var json = JSON.parse(data);
        //            if (data.length > 10) {
        //                hodofficialemailid = json[0].hod_emailid;

        //            }
        //        });
        //    } catch (err) { console.log(err.message); }
        //}
        function GetAssosiateName() {

            $.post("/GetAssosiateName", { username: username }, function (data) {
                var json = JSON.parse(data);
                var json = JSON.parse(data);
                associate_id = json[0].associateid;
                $("#txtassociate_name").val(json[0].associate_name);
                $("#txtassociate_name1").val(json[0].associate_name);

            });
        }
        function GetProjectName() {

            try {
                $.post("/GetProjectName", { username: username }, function
                    (data) {
                    var json = JSON.parse(data);
                    if (data.length > 10) {
                        $("#ddlproject_name").append($("<option value='-1' selected='selected'>Select</option>"));
                        $.each(json, function (key, value) {
                            $("#ddlproject_name").append($("<option></option>").val(value.projectid).html(value.projecttext));
                        });
                    }
                });
            } catch (err) { console.log(err.message); }
        }
        function myFunction() {

            $("#server_date").val($.datepicker.formatDate("dd-mm-yy", new Date()));
            //$("#reporting_date").val($.datepicker.formatDate("dd-mm-yy", new Date()));
            $("#server_date1").val($.datepicker.formatDate("dd-mm-yy", new Date()));
            // $("#reporting_date1").val($.datepicker.formatDate("dd-mm-yy", new Date()));
        }
        function handleChange(input) {

            if (input.value < 0) input.value = 0;
            if (input.value > 100) input.value = 100;

        }
        function checkpercent(obj) {
            var Complete = 'Complete';
            if ($(obj).val() == 100) {
                $("#status option:contains(" + Complete + ")").attr('selected', 'selected');
            }

        }
        function Remove_Validation1() {
            $('#total_hour').removeClass('has-error');
        }
        function populateMenu() {
            $.post('/populate_menu', { associateid: associateid }, function (data) {
                var json = JSON.parse(data);
                if (data.length > 10) {
                    $.each(json, function (key, value) {
                        if (value.menu_url == null) {
                            var menutext = "";
                            menutext += "<li class='dropdown'><a href='#' class='dropdown-toggle' data-toggle='dropdown'>" + value.menu_name + "<span class='caret'></span></a><ul class='dropdown-menu' role='menu'>";
                            $.each(json, function (key1, value1) {
                                if (value1.menu_parent_id == value.menuid) {
                                    menutext += "<li><a href='" + value1.menu_url + "'>" + value1.menu_name + "</a></li>";
                                }
                            });
                            menutext += "</ul></li>";
                            $('#nav').append($(menutext));
                        }
                        else if (value.menu_parent_id == null) {
                            $('#nav').append($('<li><a href="' + value.menu_url + '">' + value.menu_name + '</a></li>'));
                        }
                    });
                }
            });
        }
        function GetCreatedBy() {
            try {
                $.post('/GetLoginDetails', { username: username }, function (data) {
                    var json = JSON.parse(data);
                    if (data.length > 3) {
                        CreatedBy = json[0].userid;
                        designationid = json[0].designationid;
                        associateid = json[0].associateid;
                        populateMenu();
                    }
                });
            } catch (err) {
                console.log(err.message);
            }
        }
        function Remove_Validation(obj) {
            $(obj).removeClass('has-error');
        }
        function GetOrderDetailsRecordsforview() {
            try {
                $.post('/Getdailyreportactivitydetail', { dar_id: dataId }, function (data) {
                    Insertedskill1 = '';
                    dailyreportdetail = '';
                    $("#tblData1").find("tr:gt(1)").remove();
                    var json = JSON.parse(data);
                    if (data.length > 10) {
                        $.each(json, function (key, value) {
                            var html
                            Insertedskill += (this.projectid + '#' + this.taskid + '#' + this.activitydetail + '#' + this.hour + '#' + this.percentage + '#' + this.taskstatus + '#' + this.remark)
                            html += "<tr><td id='" + this.projectid + "' >" + this.projecttext + "</td><td id='" + this.taskid + "'>" + this.tasktext + "</td><td>" + this.activitydetail + "</td><td>" + this.hour + "</td><td>" + this.percentage + "</td><td>" + this.taskstatus + "</td><td>" + this.remark + "</td></tr>"
                            $('#tblData1').append(html);
                        });
                    }
                });
            }
            catch (err) {
                console.log(err.message);
            }
        }
        function Gettotalhourforview() {


            try {

                $.post('/Gettotalhourforview', { dar_id: dataId }, function (data) {

                    var json = JSON.parse(data);

                    if (data.length > 10) {
                        $.each(json, function (key, value) {
                            settotalhour = this.totalhour


                        });
                        $('#total_hour1').val(settotalhour);
                        $('#total_hour').val(settotalhour);


                    }
                });
            } catch (err) {
                console.log(err.message);
            }

        }
        function GetOrderDetailsRecords() {

            try {

                $.post('/Getdailyreportactivitydetail', { dar_id: dataId }, function (data) {
                    Insertedskill = '';
                    Insertedskill1 = '';
                    dailyreportdetail = '';
                    dailyreportdetail = '';
                    $("#tblData").find("tr:gt(1)").remove();
                    var json = JSON.parse(data);
                    if (data.length > 10) {
                        $.each(json, function (key, value) {
                            var html
                            if (Insertedskill != '') {
                                Insertedskill += '~';
                            }
                            if (dailyreportdetail != '') {
                                dailyreportdetail += '~';
                            }
                            dailyreportdetail += (this.projecttext + '#' + this.tasktext + '#' + this.activitydetail + '#' + this.hour + '#' + this.percentage + '#' + this.taskstatus + '#' + this.remark)
                            Insertedskill += (this.projectid + '#' + this.taskid + '#' + ReplaceQuote(this.activitydetail) + '#' + this.hour + '#' + this.percentage + '#' + this.taskstatus + '#' + ReplaceQuote(this.remark))
                            html += "<tr><td id='" + this.projectid + "' >" + this.projecttext + "</td><td id='" + this.taskid + "'>" + this.tasktext + "</td><td>" + this.activitydetail + "</td><td>" + this.hour + "</td><td>" + this.percentage + "</td><td>" + this.taskstatus + "</td><td>" + this.remark + "</td><td><input type='button' style='width:100%;' class='btn btn-danger removeskill' id='removebtn' value='Remove' /></td></tr>"
                            $('#tblData').append(html);
                        });


                    }
                });
            } catch (err) {
                console.log(err.message);
            }


        }
        function Clienttypebtn() {
            $.post('/getdailyactivitydetailreport', { username: username }, function (data) {
                var json = JSON.parse(data);
                if (data.length > 10) {

                    $('#example1').empty();
                    $('#example1').append("<thead><tr><th>Serial Number</th><th>Reported Date</th><th>Reporting Date</th><th>Total Hour</th><th>Is Authorized</th><th>Action</th></tr></thead>");
                    $.each(json, function (key, value) {


                        if (this.isauthorized == false) {
                            var html = '<tr><td>' + (key + 1) + '</td><td>' + this.reporteddate + '</td><td>' + this.reportingdate + '</td><td>' + this.totalhour + '</td><td>' + this.isauthorized + '</td><td>' + '<a href = "#EditReport"  class="announce"    data-toggle=\'modal\' data-target=\'#exampleModal\' data-id=' + this.dar_id + '  data-reportingdate=' + this.reporteddate + '  data-controls-modal="your_div_id" data-keyboard="false" data-backdrop="static"><i class="fa fa-edit cursordiv"></i></a>' + '</td></tr>';


                        }
                        else {
                            var html = '<tr><td>' + (key + 1) + '</td><td>' + this.reporteddate + '</td><td>' + this.reportingdate + '</td><td>' + this.totalhour + '</td><td>' + this.isauthorized + '</td><td>' + '<a href = "#EditReport"  class="announce1"    data-toggle=\'modal\' data-target=\'#exampleModal1\'  data-backdrop="static" data-id=' + this.dar_id + ' data-reportingdate=' + this.reportingdate + ' ><i class="fa fa-eye cursordiv"></i></a>' + '</td></tr>';



                        }
                        $('#example1').append(html);


                    });
                    $('#example1').DataTable();
                }
            });


        }
        function checktime(obj) {

            var time = [];
            time = ($(obj).val()).split(':');
            if ($(obj).val().length == 1) {

                $('#hour').val('');
            }
            if (time[0] > 24) {

                $(obj).val('24:00');
            }
            if (time[1] >= 60) {
                time[0]++;
                var balance = time[1] - 60;
                time[1] = balance;
                if (time[0] >= 24) {

                    $(obj).val('24:00');
                }
                else {

                    $(obj).val(time[0] + ':' + time[1]);
                }

            }
            if (time[1] == '') {

                $(obj).val(time[0] + ':' + '00');
            }


        }
        function ReplaceQuote(data) {
            var result = '';
            var arr = [];
            arr = data.split(' ');
            for (var i in arr) {
                var a = '';
                a = arr[i].replace("'", "''");
                if (i == 0) {
                    result = result + a
                }
                else {
                    result = result + ' ' + a;
                }
            }
            return result;
        }

    </script>
 }