﻿
@{
    ViewData["Title"] = "DailyActivityAuthenticationReport";
}

<h2>DailyActivityAuthenticationReport</h2>

@section scripts{

    <script>
        var username = "<%= name %>";
        var reportingid = '';
        var hodid = '';
        var reportingcode = '';
        var hodcode = '';
        var associateid = '';
        var status = '';
        var username = '';
        var AuthorisedLoginAssociateid = '';
        var authorized_by_name = '';
        function getParameterByName(name, url) {
            if (!url) url = window.location.href;
            name = name.replace(/[\[\]]/g, "\\$&");
            var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
                results = regex.exec(url);
            if (!results) return null;
            if (!results[2]) return '';
            return decodeURIComponent(results[2].replace(/\+/g, " "));
        }
        var darid = getParameterByName('DarId');
        $(document).ready(function () {
            GetUserName();
            $('#btn_SignIn').click(function () {
                try {
                    var flag = true;
                    var user_name = $('#txtuserid').val().trim().toUpperCase();
                    var password = $('#txtpassword').val().trim();
                    if (user_name == '') {
                        $('#txtuserid').addClass('has-error');
                        flag = false;
                    }
                    if (password == '') {
                        $('#txtpassword').addClass('has-error');
                        flag = false;
                    }
                    if (flag == true) {
                        if (user_name == reportingcode || user_name == hodcode) {
                            if (status == 0) {
                                $.post('/loginOutDutyAuthorization', { username: user_name, pass: password }, function (data) {
                                    var json = JSON.parse(data);

                                    if (data.length > 10 && json[0].username.length > 0) {
                                        AuthorisedLoginAssociateid = json[0].associateid;
                                        window.location.href = '/dailyactivityreportapprovedreport';
                                    }
                                    else {

                                        $("#msgdiv").show();
                                        $("#msgdiv").html("<div class='alert alert-success'>Invalid Username or Password.</div>");
                                    }

                                });
                            }
                            else if (status == 1) {
                                $("#msgdiv").show();
                                $("#msgdiv").html("<div class='alert alert-success'>Already Approved by " + authorized_by_name + "</div>");
                            }
                            else {
                                $("#msgdiv").show();
                                $("#msgdiv").html("<div class='alert alert-danger'>Already Rejected by " + authorized_by_name + "</div>");
                            }
                        }
                        else {
                            $("#msgdiv").show();
                            $("#msgdiv").html("<div class='alert alert-success'>Sorry, You are not Authorize to SignIn</div>");
                        }
                    }
                    else {
                        return flag;
                    }

                } catch (err) { console.log(err.message); }
            });
            $("#txtuserid").click(function () {
                runEffect();
                return false;
            });
            $("#txtpassword").click(function () {
                runEffect();
                return false;
            });
        });

        function GetUserName() {
            $.post('/GetUsernameForOutDutyAuthentication', { darid: darid }, function (data) {
                var json = JSON.parse(data);

                username = json[0].associate_code;
                status = json[0].status;
                if (status == 1 || status == 2) {
                    $.post('/GetUsernameForOutDutyAuthentication', { darid: darid, status: status }, function (data) {
                        var json = JSON.parse(data);
                        if (data.length > 10) {
                            authorized_by_name = json[0].authorized_by;
                        }

                    });
                }
                $.post('/CheckAuthenticationOutDuty', { username: username }, function (data) {
                    var json = JSON.parse(data);
                    reportingid = json[0].reportingperson_id;
                    hodid = json[0].hod_id;
                    reportingcode = json[0].reportingcode;
                    hodcode = json[0].hodcode;
                    associateid = json[0].associateid;
                });

            });
        } function RemoveValidation(obj) {
            var id = obj.id;
            $("#" + id).removeClass('has-error');
        }
        function runEffect() {
            var selectedEffect = 'blind';
            var options = {};
            $("#msgdiv").hide(selectedEffect, options, 500);

        }
    </script>

    }