﻿
@{
    ViewData["Title"] = "DashboardAdmin";
}

<h2>DashboardAdmin</h2>
<section class="content-header">
    <h1>
        Admin Dashboard
    </h1>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-6">
            <!-- USERS LIST -->
            <div class="box box-default">
                <div class="box-header with-border">
                    <h3 class="box-title">Latest Birthday Wishes</h3>

                    <div class="box-tools pull-right">
                        <span id="Bithday_Member" class="label label-danger">No Members</span>
                        <!--<button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-box-tool" data-widget="remove">
                            <i class="fa fa-times"></i>
                        </button>-->
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body no-padding">
                    <ul class="users-list clearfix" id="ul_Birthday"></ul>
                    <!-- /.users-list -->
                </div>
                <!-- /.box-body -->
                <div class="box-footer text-center">
                    <!--<a href="javascript:void(0)" class="uppercase">View All Users</a>-->
                </div>
                <!-- /.box-footer -->
            </div>
            <!--/.box -->
        </div>
        <div class="col-md-6">
            <!-- USERS LIST -->
            <div class="box box-default">
                <div class="box-header with-border">
                    <h3 class="box-title">Latest Employee Working anniversary</h3>

                    <div class="box-tools pull-right">
                        <span class="label label-danger" id="Anniversary_Member">No Member</span>
                        <!--<button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-box-tool" data-widget="remove">
                            <i class="fa fa-times"></i>
                        </button>-->
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body no-padding">
                    <ul class="users-list clearfix" id="ul_Anniversary"></ul>
                    <!-- /.users-list -->
                </div>
                <!-- /.box-body -->
                <!-- <div class="box-footer text-center">
                   <a href="javascript:void(0)" class="uppercase">View All Users</a>
                </div>-->
                <!-- /.box-footer -->
            </div>
            <!--/.box -->
        </div>

    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="box box-default" style="overflow:auto;">
                <div class="box-header with-border">
                    <h3 class="box-title">Highest Leave taken of the Year</h3><br /><br />
                    <label>Select Month</label>
                    <select id="monthselect" class="form-control">
                        <option value="0">Select</option>
                        <option value="01">January</option>
                        <option value="02">February</option>
                        <option value="03">March</option>
                        <option value="04">April</option>
                        <option value="05">May</option>
                        <option value="06">June</option>
                        <option value="07">July</option>
                        <option value="08">August</option>
                        <option value="09">September</option>
                        <option value="10">October</option>
                        <option value="11">November</option>
                        <option value="12">December</option>
                    </select>
                </div>
                <div class="box-body highest_leave">

                </div>
                <!-- /.box-body -->
            </div>
        </div>
        <div class="col-md-6">
            <div class="box box-default employee-strength" style="overflow:auto;">
                <div class="box-header with-border">
                    <h3 class="box-title">Employee Strength by Department</h3>
                </div>
                <div class="box-body dept_strngth">

                </div>
                <!-- /.box-body -->
            </div>
        </div>
    </div>
    <div class="row">
        <div id="divEmployeeReward" class="col-md-6">
            <div class="box box-default">
                <div class="box-header with-border">
                    <h3 class="box-title"> Employee Reward</h3><br /><br />
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-6">
                            <a id="ImageAnchor" href=""><img src="rewards/EOY.png" height="200px" width="100%" alt="Image" /></a>
                        </div>
                        <div class="col-md-6">
                            <span>Employee : </span><label id="lblEmployee_Name">Employee Name</label>
                        </div>
                        <div class="col-md-6">
                            <span>Department : </span><label id="lblDepartment_Name">Department Name</label>
                        </div>
                        <div class="col-md-6">
                            <span>Designation : </span><label id="lblDesignation"> Designation Name</label>
                        </div>

                    </div>
                    <div class="row">
                        <br />
                        <label id="lblAwardName" style="padding-left:20px;padding-right:20px;">

                        </label>
                    </div>
                    <div class="row">
                        <p id="lblDescription" style="padding-left:30px; padding-right:20px; text-align:justify">

                        </p>
                    </div>

                </div>
                <!-- /.box-body -->
            </div>
        </div>
        <div class="col-md-6">
            <div class="box box-default">
                <div class="box-header with-border">
                    <h3 class="box-title">Qualification Ratio</h3><br /><br />
                </div>
                <div class="box-body qualification-ratio" style="overflow:auto">

                </div>
                <!-- /.box-body -->
            </div>
        </div>

    </div>
    <!-- /.box -->
</section>
<!-- /.content -->


@section scripts{


    <script type="text/javascript">
        //Bind OVA Dropdown
        var username = "<%= name %>";
        var designationid;
        var CreatedBy;
        var UpdatedBy;
        var valueSelected = '';
        var associateid = '';
        $(document).ready(function () {
            GetCreatedBy();
            GetHighestLeave();
            GetDepartmentStrength();
            GetQualificationRatio();
            GetBirthday_Employee();
            GetEmployeeAward();
            GetAnniversary_Employee();
            //GetMarriage_Anniversary_Employee();

            $("#monthselect").on('change', function (e) {
                var optionSelected = $("option:selected", this);
                valueSelected = this.value;
                GetHighestLeaveByMonth(valueSelected);
                if (valueSelected == '0') {
                    GetHighestLeave();
                }
            });
        });

        function populateMenu() {
            $.post('/populate_menu', { associateid: associateid }, function (data) {
                var json = JSON.parse(data);
                if (data.length > 10) {
                    $.each(json, function (key, value) {
                        if (value.menu_url == null) {
                            var menutext = "";
                            menutext += "<li class='dropdown'><a href='#' class='dropdown-toggle' data-toggle='dropdown'>" + value.menu_name + "<span class='caret'></span></a><ul class='dropdown-menu' role='menu'>";
                            $.each(json, function (key1, value1) {
                                if (value1.menu_parent_id == value.menuid) {
                                    menutext += "<li><a href='" + value1.menu_url + "'>" + value1.menu_name + "</a></li>";
                                }
                            });
                            menutext += "</ul></li>";
                            $('#nav').append($(menutext));
                        }
                        else if (value.menu_parent_id == null) {
                            $('#nav').append($('<li><a href="' + value.menu_url + '">' + value.menu_name + '</a></li>'));
                        }
                    });
                }
            });
        }
        function GetCreatedBy() {
            try {
                $.post('/GetLoginDetails', { username: username }, function (data) {
                    var json = JSON.parse(data);

                    if (data.length > 3) {
                        CreatedBy = json[0].userid;
                        designationid = json[0].designationid;
                        associateid = json[0].associateid;
                        populateMenu();
                    }
                });
            } catch (err) {
                console.log(err.message);
            }
        }
        var d = new Date();
        var month = new Array();

        month[0] = "Jan";
        month[1] = "Feb";
        month[2] = "Mar";
        month[3] = "Apr";
        month[4] = "May";
        month[5] = "Jun";
        month[6] = "Jul";
        month[7] = "Aug";
        month[8] = "Sep";
        month[9] = "Oct";
        month[10] = "Nov";
        month[11] = "Dec";
        //var DateOutput = d.getFullYear() + '/' +
        //    (month < 10 ? '0' : '') + month + '/' +
        //    (day < 10 ? '0' : '') + day;
        var day = d.getDate();
        var DateOutput = (day < 10 ? '0' : '') + day + ' ' + month[d.getMonth()];
        var TomorrowDateOutput = (day >= 9 ? '' : '0') + (day + 1) + ' ' + month[d.getMonth()];
        //alert(DateOutput);
        //alert(TomorrowDateOutput);
        function GetBirthday_Employee() {
            var method = $.post('/Get_Birthday');
            method.success(function (data) {
                var json = JSON.parse(data);
                $("#Bithday_Member").html(json.length + ' New Member Birthday');
                var abc = '';
                var anDate = '';
                if (data.length > 10) {
                    for (var i = 0; i < json.length; i++) {
                        anDate = json[i].dob.split(' ');
                        var date = anDate[0] + ' ' + anDate[1];
                        if (date == TomorrowDateOutput) {
                            date = 'Tomorrow';
                        }
                        else if (date == DateOutput) {
                            date = 'Today';
                        }
                        else {
                            date = date;
                        }
                        abc += '<li><img src="rewards/Employee_Profile.png" height="128px" width:"128px" alt="User Image"><a class="users-list-name">' + json[i].associate_name + '</a><span class="users-list-date">' + json[i].departmenttext + '</span><span class="users-list-name label-success">' + date + '</span> </li>'
                    }
                    $("#ul_Birthday").append(abc);
                }
            });
            method.error(function () {
                alert('Somthing Wrong while Showing Birthday');
            });
        }
        //function GetMarriage_Anniversary_Employee() {
        //
        //    var method = $.post('/Get_Marriage_Anniversary');
        //    method.success(function (data) {
        //        var json = JSON.parse(data);
        //        $("#Marriage_Anniversary_Member").html(json.length + ' New Member Working Anniversary');
        //        var abc = '';
        //        var anDate = '';
        //        if (data.length > 10) {
        //            for (var i = 0; i < json.length; i++) {
        //                anDate = json[i].doj.split(' ');
        //                var date = anDate[0] + ' ' + anDate[1];
        //                if (date == TomorrowDateOutput) {
        //                    date = 'Tomorrow';
        //                }
        //                else if (date == DateOutput) {
        //                    date = 'Today';
        //                }
        //                else {
        //                    date = (date + ' ' + anDate[anDate.length - 1]);
        //                }
        //                abc += '<li><img src="rewards/Employee_Profile.png" height="128px" width:"128px" alt="User Image"><a class="users-list-name">' + json[i].associate_name + '</a><label style="color:#4169E1;" >' + json[i].count_year + ' Year</label><span class="users-list-date">' + json[i].departmenttext + '</span><span class="users-list-name label-success">' + date + '</span> </li>'
        //            }
        //            $("#ul_Marriage_Anniversary").append(abc);
        //        }
        //    });
        //    method.error(function () {
        //        alert('Somthing Wrong while Showing Marriage Anniversary');
        //    });
        //}
        function GetAnniversary_Employee() {

            var method = $.post('/Get_Anniversary');
            method.success(function (data) {
                var json = JSON.parse(data);
                $("#Anniversary_Member").html(json.length + " New Member's Working Anniversary");
                var abc = '';
                var anDate = '';
                if (data.length > 10) {
                    for (var i = 0; i < json.length; i++) {
                        anDate = json[i].doj.split(' ');
                        var date = anDate[0] + ' ' + anDate[1];
                        if (date == TomorrowDateOutput) {
                            date = 'Tomorrow';
                        }
                        else if (date == DateOutput) {
                            date = 'Today';
                        }
                        else {
                            date = (date + ' ' + anDate[anDate.length - 1]);
                        }
                        abc += '<li><img src="rewards/Employee_Profile.png" height="128px" width:"128px" alt="User Image"><a class="users-list-name">' + json[i].associate_name + '</a><label style="color:#4169E1;" >' + json[i].count_year + ' Year</label><span class="users-list-date">' + json[i].departmenttext + '</span><span class="users-list-name label-success">' + date + '</span> </li>'
                    }
                    $("#ul_Anniversary").append(abc);
                }
            });
            method.error(function () {
                alert('Somthing Wrong while Showing Anniversary');
            });
        }

        function GetEmployeeAward() {
            var method = $.post('/GetEmployee_Award');
            method.success(function (data) {
                var json = JSON.parse(data);
                if (data.length > 10) {
                    $("#divEmployeeReward").show();
                    $("#lblEmployee_Name").html(json[0].associate_name);
                    $("#lblDepartment_Name").html(json[0].departmenttext);
                    $("#lblDesignation").html(json[0].designationtext);
                    var MonthYear = json[0].month_name;
                    $("#lblAwardName").html('<h2>' + json[0].awardname + '(' + MonthYear + ')' + '</h2>');
                    $("#lblDescription").html(json[0].remark);

                    $.ajax({
                        url: '' + json[0].imagepath + '',
                        type: 'HEAD',
                        error: function () {
                            var oldSrc = 'rewards/EOY.png';
                            var newSrc = 'rewards/EOY.png';
                            $('img[src="' + oldSrc + '"]').attr('src', newSrc);
                            $('#ImageAnchor').attr('href', newSrc);
                            //alert('file does not exist');
                        },
                        success: function () {
                            //alert('file exists do something here');
                            var oldSrc = 'rewards/EOY.png';
                            var newSrc = json[0].imagepath
                            $('img[src="' + oldSrc + '"]').attr('src', newSrc);
                            $('#ImageAnchor').attr('href', newSrc);
                        }
                    });

                }
                else {
                    $("#divEmployeeReward").hide();
                }
            });
            method.error(function () {
                $("#msgdiv").html("<div class='alert alert-error'><label>Something went wrong while Binding EmployeeDashBoard Details....</label></div>");
                $("#msgdiv").show(500);
            });
        }


        function GetHighestLeave() {
            $(".highest_leave").empty();
            var margin1 = { top: 20, right: 20, bottom: 130, left: 40 },
                width = 400 - margin1.left - margin1.right,
                height = 425 - margin1.top - margin1.bottom;
            //Parse the username/highest leave
            var parseDate1 = d3.time.format("%Y-%m").parse;
            var x1 = d3.scale.ordinal().rangeRoundBands([0, width], .10);
            var y1 = d3.scale.linear().range([height, 0]);
            var xAxis1 = d3.svg.axis()
                .scale(x1)
                .orient("bottom")
            var yAxis1 = d3.svg.axis()
                .scale(y1)
                .orient("left")
                .ticks(12);
            var svg1 = d3.select(".highest_leave").append("svg")
                .attr("width", width + margin1.left + margin1.right)
                .attr("height", height + margin1.top + margin1.bottom)
                .append("g")
                .attr("transform",
                    "translate(" + margin1.left + "," + margin1.top + ")");
            d3.json("/getHighestLeave", function (error, data) {
                if (error) {
                    throw error;
                }
                data.forEach(function (d) {
                    d.userfullname = d.userfullname;
                    d.requested_no_of_leaves = +d.requested_no_of_leaves;
                });
                x1.domain(data.map(function (d) {
                    return d.userfullname;
                }));
                y1.domain([0, d3.max(data, function (d) {
                    return d.requested_no_of_leaves;
                })]);
                svg1.append("g")
                    .attr("class", "x axis")
                    .attr("transform", "translate(0, " + height + ")")
                    .call(xAxis1)
                    .selectAll("text")
                    .style("text-anchor", "end")
                    .attr("dx", "-.8em")
                    .attr("dy", "-.55em")
                    .attr("transform", "rotate(-45)");
                svg1.append("g")
                    .attr("class", "y axis")
                    .call(yAxis1)
                    .append("text")
                    .attr("transform", "rotate(-90)")
                    .attr("y", 10)
                    .attr("dy", "-.10em")
                    .style("text-anchor", "end")
                    .text("Leave Count");
                svg1.selectAll(".bar")
                    .data(data)
                    .enter().append("rect")
                    .attr("class", "bar")
                    .attr("x", function (d) { return x1(d.userfullname); })
                    .attr("width", x1.rangeBand())
                    .attr("y", function (d) { return y1(d.requested_no_of_leaves); })
                    .attr("height", function (d) { return height - y1(d.requested_no_of_leaves); });
            });
        }
        function GetHighestLeaveByMonth(monthname) {
            $(".highest_leave").empty();
            var margin1 = { top: 20, right: 20, bottom: 130, left: 40 },
                width = 400 - margin1.left - margin1.right,
                height = 425 - margin1.top - margin1.bottom;
            //Parse the username/highest leave
            var parseDate1 = d3.time.format("%Y-%m").parse;
            var x1 = d3.scale.ordinal().rangeRoundBands([0, width], .10);
            var y1 = d3.scale.linear().range([height, 0]);
            var xAxis1 = d3.svg.axis()
                .scale(x1)
                .orient("bottom")
            var yAxis1 = d3.svg.axis()
                .scale(y1)
                .orient("left")
                .ticks(12);
            var svg1 = d3.select(".highest_leave").append("svg")
                .attr("width", width + margin1.left + margin1.right)
                .attr("height", height + margin1.top + margin1.bottom)
                .append("g")
                .attr("transform",
                    "translate(" + margin1.left + "," + margin1.top + ")");
            d3.json("/GetHighestLeaveMonthly/?monthname=" + monthname, function (error, data) {
                if (error) {
                    throw error;
                }
                data.forEach(function (d) {
                    d.userfullname = d.userfullname;
                    d.totalleave = +d.totalleave;
                });
                x1.domain(data.map(function (d) {
                    return d.userfullname;
                }));
                y1.domain([0, d3.max(data, function (d) {
                    return d.totalleave;
                })]);
                svg1.append("g")
                    .attr("class", "x axis")
                    .attr("transform", "translate(0, " + height + ")")
                    .call(xAxis1)
                    .selectAll("text")
                    .style("text-anchor", "end")
                    .attr("dx", "-.8em")
                    .attr("dy", "-.55em")
                    .attr("transform", "rotate(-45)");
                svg1.append("g")
                    .attr("class", "y axis")
                    .call(yAxis1)
                    .append("text")
                    .attr("transform", "rotate(-90)")
                    .attr("y", 10)
                    .attr("dy", "-.10em")
                    .style("text-anchor", "end")
                    .text("Leave Count");
                svg1.selectAll(".bar")
                    .data(data)
                    .enter().append("rect")
                    .attr("class", "bar")
                    .attr("x", function (d) { return x1(d.userfullname); })
                    .attr("width", x1.rangeBand())
                    .attr("y", function (d) { return y1(d.totalleave); })
                    .attr("height", function (d) { return height - y1(d.totalleave); });
            });
        }
        function GetDepartmentStrength() {
            //$(".dept_strngth").empty();
            var width = 400, height = 500, radius = Math.min(width, height) / 2;

            var COLOR_1 = "#c0392b";
            var COLOR_2 = "#e74c3c";
            var COLOR_3 = "#9b59b6";
            var COLOR_4 = "#8e44ad";
            var COLOR_5 = "#2980b9";
            var COLOR_6 = "#3498db";
            var COLOR_7 = "#1abc9c";
            var COLOR_8 = "#2ecc71";
            var COLOR_9 = "#f1c40f";
            var COLOR_10 = "#f39c12";
            var COLOR_11 = "#e67e22";
            var COLOR_12 = "#d35400";
            var COLOR_13 = "#ecf0f1";
            var COLOR_14 = "#bdc3c7";
            var COLOR_15 = "#95a5a6";
            var COLOR_16 = "#7f8c8d";
            var COLOR_17 = "#34495e";
            var COLOR_18 = "#2c3e50";
            var color = d3.scale.ordinal()
                .range([COLOR_1, COLOR_2, COLOR_3,
                    COLOR_4, COLOR_5, COLOR_6, COLOR_7, COLOR_8, COLOR_9, COLOR_10, COLOR_11, COLOR_12, COLOR_13, COLOR_14, COLOR_15, COLOR_16, COLOR_17, COLOR_18]);

            var arc = d3.svg.arc()
                .outerRadius(radius - 10)
                .innerRadius(0);

            var labelArc = d3.svg.arc()
                .outerRadius(radius - 40)
                .innerRadius(radius - 40);

            var pie = d3.layout.pie()
                .sort(null)
                .value(function (d) { return d.associateid; });

            var svg = d3.select(".dept_strngth").append("svg")
                .attr("width", 600)
                .attr("height", height)
                .append("g")
                .attr("transform", "translate(" + width / 2 + "," + height / 2 + ")");

            d3.json("/GetDeptStrength", function (error, data) {
                if (error) throw error;
                data.forEach(function (d) {
                    d.departmenttext = d.departmenttext;
                    d.associateid = +d.associateid;
                });
                var g = svg.selectAll(".arc")
                    .data(pie(data))
                    .enter().append("g")
                    .attr("class", "arc");

                g.append("path")
                    .attr("d", arc)
                    .style("fill", function (d) { return color(d.data.departmenttext); });

                g.append("text")
                    .attr("transform", function (d) { return "translate(" + labelArc.centroid(d) + ")"; })
                    .attr("dy", ".35em")
                    .text(function (d) { return d.data.associateid; });

                count = 0;
                var legend = svg.selectAll(".legend")
                    .data(data).enter()
                    .append("g").attr("class", "legend")
                    .attr("legend-id", function (d) {
                        return count++;
                    })
                    .attr("transform", function (d, i) {
                        return "translate(-20," + (-90 + i * 25) + ")";
                    })
                    .on("click", function () {
                        var arc = d3.select("#arc-" + $(this).attr("legend-id"));
                        arc.style("opacity", 0.3);
                        setTimeout(function () {
                            arc.style("opacity", 1);
                        }, 1000);
                    });

                legend.append("rect")
                    .attr("x", 290)
                    .attr("width", 18).attr("height", 18)
                    .style("margin-left", "50px")
                    .style("fill", function (d) {
                        return color(d.departmenttext);
                    });
                legend.append("text").attr("x", 280)
                    .attr("y", 8).attr("dy", ".35em")
                    .style("text-anchor", "end").text(function (d) {
                        return d.departmenttext;
                    });
            });

            function type(d) {
                d.associateid = +d.associateid;
                return d;
            }
        }
        function GetQualificationRatio() {
            //$(".dept_strngth").empty();
            var width = 400, height = 500, radius = Math.min(width, height) / 2;

            var COLOR_1 = "#FF69B4";
            var COLOR_2 = "#20B2AA";
            var COLOR_3 = "#FFA500";
            var COLOR_4 = "#FF4500";
            var COLOR_5 = "#98FB98";
            var COLOR_6 = "#DDA0DD";
            var COLOR_7 = "#4169E1";
            var COLOR_8 = "#FF0000";
            var COLOR_9 = "#008080";
            var COLOR_10 = "#FFFF00";
            var COLOR_11 = "#9ACD32";
            var COLOR_12 = "#FFE4B5";
            var COLOR_13 = "#C71585";
            var COLOR_14 = "#ADD8E67";
            var COLOR_15 = "#95a5a6";
            var COLOR_16 = "#7f8c8d";
            var COLOR_17 = "#34495e";
            var COLOR_18 = "#2c3e50";
            var color = d3.scale.ordinal()
                .range([COLOR_1, COLOR_2, COLOR_3,
                    COLOR_4, COLOR_5, COLOR_6, COLOR_7, COLOR_8, COLOR_9, COLOR_10, COLOR_11, COLOR_12, COLOR_13, COLOR_14, COLOR_15, COLOR_16, COLOR_17, COLOR_18]);

            var arc = d3.svg.arc()
                .outerRadius(radius - 10)
                .innerRadius(0);

            var labelArc = d3.svg.arc()
                .outerRadius(radius - 40)
                .innerRadius(radius - 40);

            var pie = d3.layout.pie()
                .sort(null)
                .value(function (d) { return d.associateid; });

            var svg = d3.select(".qualification-ratio").append("svg")
                .attr("width", 600)
                .attr("height", height)
                .append("g")
                .attr("transform", "translate(" + width / 2 + "," + height / 2 + ")");

            d3.json("/GetQualificationRatio", function (error, data) {
                if (error) throw error;
                data.forEach(function (d) {
                    d.qualificationtext = d.qualificationtext;
                    d.associateid = +d.associateid;
                });
                var g = svg.selectAll(".arc")
                    .data(pie(data))
                    .enter().append("g")
                    .attr("class", "arc");

                g.append("path")
                    .attr("d", arc)
                    .style("fill", function (d) { return color(d.data.qualificationtext); });

                g.append("text")
                    .attr("transform", function (d) { return "translate(" + labelArc.centroid(d) + ")"; })
                    .attr("dy", ".35em")
                    .text(function (d) { return d.data.associateid; });

                count = 0;
                var legend = svg.selectAll(".legend")
                    .data(data).enter()
                    .append("g").attr("class", "legend")
                    .attr("legend-id", function (d) {
                        return count++;
                    })
                    .attr("transform", function (d, i) {
                        return "translate(-20," + (-90 + i * 25) + ")";
                    })
                    .on("click", function () {
                        var arc = d3.select("#arc-" + $(this).attr("legend-id"));
                        arc.style("opacity", 0.3);
                        setTimeout(function () {
                            arc.style("opacity", 1);
                        }, 1000);
                    });

                legend.append("rect")
                    .attr("x", 290)
                    .attr("width", 18).attr("height", 18)
                    .style("margin-left", "50px")
                    .style("fill", function (d) {
                        return color(d.qualificationtext);
                    });
                legend.append("text").attr("x", 280)
                    .attr("y", 8).attr("dy", ".35em")
                    .style("text-anchor", "end").text(function (d) {
                        return d.qualificationtext;
                    });
            });

            function type(d) {
                d.associateid = +d.associateid;
                return d;
            }
        }

    </script>


}