﻿
@{
    ViewData["Title"] = "DesignationMaster";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Designation Master
    </h1>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-6">
            <div class="box box-default">
                <div class="box-header with-border">
                    <h3 class="box-title">Add Designation</h3>
                </div>
                <div class="box-body">
                    <div id="msgdiv"></div>
                    <div class="form-group col-md-6">
                        <label><span style="color: #ff0000;">*</span> Designation Name</label>
                        <input type="text" class="form-control CharcaterTextBox" id="designation_name"
                               maxlength="50" placeholder="Enter Designation" required>
                    </div>
                    <div class="form-group col-md-6">
                        <label><span style="color: #ff0000;">*</span> Description</label>
                        <input type="text" class="form-control CharcaterTextBox" id="designation_desc"
                               maxlength="100" placeholder="Enter Designation Discription" required>
                    </div><!-- /.box-body -->
                </div>
                <div class="box-footer">
                    <button class="btn btn-primary btn-flat" id="adddesignation_btn">Save</button>
                    <button class="btn btn-primary btn-flat" id="designation_back_btn">Cancel</button>
                </div>
                <!-- /.box-body -->
                <!-- /.box -->
            </div>
        </div>
        <div class="col-md-6">
            <div class="box box-default">
                <div class="box-header with-border">
                    <h3 class="box-title">Designaton List</h3>
                </div>
                <div class="box-body">
                    <div class="callout callout-info nofoundlbl"></div>
                    <div class="menu-holder-data">
                        <table id="designation_list" class="table table-bordered table-striped"></table>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
        </div>
    </div>
</section>
<!-- /.content -->

@section scripts{

    <script>
        var CreatedBy;
        var UpdatedBy;
        var designationid;
        var username = "<%= name %>";

        $(document).ready(function () {
            //Call function to get Designation list
            GetDesignationList();
            //Call function to get Menu list
            GetMenuList();
            GetCreatedBy();
            //Hide back button
            $('#designation_back_btn').hide();
            //Populate menu from database

            var flag = 0;
            //Function on click of add designatio button
            $('#adddesignation_btn').click(function () {
                var designation_name = $('#designation_name').val();
                var designation_desc = $('#designation_desc').val();
                if (designation_name.trim() == "") {
                    $('#designation_name').parent().addClass('has-error');
                    flag++;
                }
                if (designation_desc.trim() == "") {
                    $('#designation_desc').parent().addClass('has-error');
                    flag++;
                }
                if (flag > 0) {
                    return false;
                }
                else {
                    //If button text is "Save"
                    if ($('#adddesignation_btn').text() == 'Save') {

                        var Ckeckedpagearray = $('.listcheckbox:checked').map(function () {
                            return this.value;
                        }).get().join(",");
                        $.post('/insertDesignation', { designation_name: designation_name, designation_desc: designation_desc, createdby: CreatedBy, updatedby: CreatedBy, menuids: Ckeckedpagearray }, function (data) {
                            GetDesignationList();
                            $('#designation_name').val('');
                            $('#designation_desc').val('');
                            $('.listcheckbox').prop('checked', false);
                        });
                        $("#msgdiv").show();
                        $("#msgdiv").html("<div class='alert alert-success'>Saved Successfully</div>");
                    }
                    else {
                        //If button text is "Update"
                        var Ckeckedpagearray = $('.listcheckbox:checked').map(function () {
                            return this.value;
                        }).get().join(",");
                        $.post("/updateDesignation", { id: designation_id_data, designation_name: designation_name, designation_desc: designation_desc, createdby: CreatedBy, updatedby: CreatedBy, menuids: Ckeckedpagearray }, function (data) {
                            $('#designation_name').val('');
                            $('#designation_desc').val('');
                            $('.listcheckbox').prop('checked', false);
                            $('#designation_back_btn').hide();
                            $('#adddesignation_btn').text('Save');
                            $("#msgdiv").show();
                            $("#msgdiv").html("<div class='alert alert-success'><label>Updated Successfully</label></div>");
                            GetDesignationList();

                        });
                    }
                }
            });
            //Function on click of back button
            $('#designation_back_btn').click(function () {
                window.location.href = '/designation';
            });
        });

        //Function to get designation list
        function GetDesignationList() {
            $.post('/GetDesignationList', function (data) {
                var json = JSON.parse(data);
                if (data.length > 10) {
                    var datatable = $('#designation_list');
                    datatable.empty();
                    datatable.append("<thead><tr><th class='' style='width:10%;'>S.No.</th><th class='' style='width: 40%;'>Designation Name</th><th class='' style='width: 40%;'>Description</th><th class='theadlabel' colspan='2' style='width: 10%;border-right: 0px; text-align: center;'>Action</th></tr></thead>");
                    $.each(json, function (key, value) {
                        var html = '<tr row0 odd><td>' + (key + 1) + '</td><td>' + this.designationtext + '</td><td>' + this.designationdesc + '</td><td> ' + '<div class="cursordiv"  onclick="EditDesignation(' + this.designationid + ')"><i class="fa fa-fw fa-edit"></i></a>' + '</td><td>' + '<div class="cursordiv"  onclick="EditStatus(' + this.designationid + ',' + this.isactive + ')"><i class="fa fa-fw fa-remove"></i></div>' + '</td></tr>';
                        datatable.append(html);
                        $('.nofoundlbl').hide();
                    });
                }
                else {
                    $('.nofoundlbl').show();
                    $('.nofoundlbl').val("No Record Found");
                }
                datatable.append("</tbody>");
            });
        }
        var associateid = '';
        function populateMenu() {
            $.post('/populate_menu', { associateid: associateid }, function (data) {
                var json = JSON.parse(data);
                if (data.length > 10) {
                    $.each(json, function (key, value) {
                        if (value.menu_url == null) {
                            var menutext = "";
                            menutext += "<li class='dropdown'><a href='#' class='dropdown-toggle' data-toggle='dropdown'>" + value.menu_name + "<span class='caret'></span></a><ul class='dropdown-menu' role='menu'>";
                            $.each(json, function (key1, value1) {
                                if (value1.menu_parent_id == value.menuid) {
                                    menutext += "<li><a href='" + value1.menu_url + "'>" + value1.menu_name + "</a></li>";
                                }
                            });
                            menutext += "</ul></li>";
                            $('#nav').append($(menutext));
                        }
                        else if (value.menu_parent_id == null) {
                            $('#nav').append($('<li><a href="' + value.menu_url + '">' + value.menu_name + '</a></li>'));
                        }
                    });
                }
            });
        }
        function GetCreatedBy() {
            try {
                $.post('/GetLoginDetails', { username: username }, function (data) {
                    var json = JSON.parse(data);

                    if (data.length > 3) {
                        CreatedBy = json[0].userid;
                        designationid = json[0].designationid;
                        associateid = json[0].associateid;
                        populateMenu();
                    }
                });
            } catch (err) {
                console.log(err.message);
            }
        }
        //Function to edit Designation
        function EditDesignation(Designation_Id_Data) {
            designation_id_data = Designation_Id_Data;
            $('#designation_back_btn').show();
            GetDesignationList();
            $('.listcheckbox').prop('checked', false);
            $.post('/editDesignation', { id: Designation_Id_Data }, function (data) {

                var json = JSON.parse(data);
                if (data.length > 10) {
                    $('#designation_name').val(json[0].designationtext);
                    $('#designation_desc').val(json[0].designationdesc);
                    $('input:checkbox:not(:checked)').each(function () {
                        for (i = 0; i < json.length; i++) {
                            if ($(this).val() == json[i].menu_id) {
                                $(this).prop('checked', true);
                            }
                        }
                    });

                    $('#adddesignation_btn').html('Update');
                }
            });
        }
        //Function will be called on lick of delete
        function EditStatus(Designation_Id_Data, txtStatus) {
            if (txtStatus) {
                txtStatus = false;
            }
            else {
                txtStatus = true;
            }
            $.post('/updateStatus', { id: Designation_Id_Data, status: txtStatus }, function (data) {
                GetDesignationList();
            });
            $("#msgdiv").show();
            $("#msgdiv").html("<div class='alert alert-success' >Deactivated Successfully</div>");
        }
    </script>
    <script type="text/javascript">
        $(function () {
            function runEffect() {

                var selectedEffect = 'blind';

                var options = {};

                $("#msgdiv").hide(selectedEffect, options, 500);
            };

            $("#designation_name").click(function () {
                runEffect();
                return false;
            });
        });
    </script>
 
}