﻿
@{
    ViewData["Title"] = "DownloadPaySlip";
}

<h2>DownloadPaySlip</h2>

@section scripts{
    <script type="text/javascript">
        var username = "<%= name %>";
        var designationid;
        var CreatedBy;
        var UpdatedBy;
        var associate_id;
        var associateid;
        var Month;
        var MonthId = '-1';
        var AssociateName = 'Select';
        var AssociateId;
        var encryptedPayslipId = '';
        function RemoveValidation(obj) {
            //$("#msgdiv").hide();
            var id = obj.id;
            $("#" + id).removeClass('has-error');
        }
        function runEffect() {
            var selectedEffect = 'blind';
            var options = {};
            $("#msgdiv").hide(selectedEffect, options, 500);
        }
        function getParameterByName(name, url) {

            if (!url) url = window.location.href;
            name = name.replace(/[\[\]]/g, "\\$&");
            var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
                results = regex.exec(url);
            if (!results) return null;
            if (!results[2]) return '';
            return decodeURIComponent(results[2].replace(/\+/g, " "));
        }
        function daysInMonth(month, year) {

            return new Date(year, month, 0).getDate();
        }

        $(document).ready(function () {

            var d = new Date();
            var month = new Array();



            encryptedPayslipId = getParameterByName('PaySlipId');
            GetSalary();

        });
        var th = ['', 'thousand', 'million', 'billion', 'trillion'];

        var dg = ['zero', 'one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine'];

        var tn = ['ten', 'eleven', 'twelve', 'thirteen', 'fourteen', 'fifteen', 'sixteen', 'seventeen', 'eighteen', 'nineteen'];

        var tw = ['twenty', 'thirty', 'forty', 'fifty', 'sixty', 'seventy', 'eighty', 'ninety'];

        function toWords(s) {
            s = s.toString();
            s = s.replace(/[\, ]/g, '');
            if (s != parseFloat(s)) return 'not a number';
            var x = s.indexOf('.');
            if (x == -1) x = s.length;
            if (x > 15) return 'too big';
            var n = s.split('');
            var str = '';
            var sk = 0;
            for (var i = 0; i < x; i++) {
                if ((x - i) % 3 == 2) {
                    if (n[i] == '1') {
                        str += tn[Number(n[i + 1])] + ' ';
                        i++;
                        sk = 1;
                    } else if (n[i] != 0) {
                        str += tw[n[i] - 2] + ' ';
                        sk = 1;
                    }
                } else if (n[i] != 0) {
                    str += dg[n[i]] + ' ';
                    if ((x - i) % 3 == 0) str += 'hundred ';
                    sk = 1;
                }
                if ((x - i) % 3 == 1) {
                    if (sk) str += th[(x - i - 1) / 3] + ' ';
                    sk = 0;
                }
            }
            //if (x != s.length) {
            //    var y = s.length;
            //    str += 'point ';
            //    for (var i = x + 1; i < y; i++) str += dg[n[i]] + ' ';
            //}
            return str.replace(/\s+/g, ' ');

        }

        function GetSalary() {
            var id = $("#txtAssociateId").val();
            var Month = $("#txtMonthYear").val();

            var deductionAmt = [];
            var deductionHead = [];
            var PaidDays = '';
            var CLused = '';
            var CLavail = 0;
            var absent = 0;
            var abc = $.post('/DecryptPaySlip_Id', { encryptedPayslipId: encryptedPayslipId });
            abc.success(function (data) {
                var json = JSON.parse(data);
                if (data.length > 10) {

                    encryptedPayslipId = json[0].payslip_id;
                    var method = $.post('/GetLeaveTaken', { PaySlipId: encryptedPayslipId });
                    method.success(function (data) {
                        var json = JSON.parse(data);
                        if (data.length > 5) {

                            CLused = json[0].sumcl;
                            CLavail = 18 - parseFloat(CLused);
                            var method = $.post('/GetPayRecordByDeduction', { PaySlipId: encryptedPayslipId });
                            var deduction_amt = 0;
                            method.success(function (Deduction_data) {
                                var d_json = JSON.parse(Deduction_data);
                                $.each(d_json, function (key, value) {

                                    deductionAmt[key] = this.hdamount;
                                    deductionHead[key] = this.hdname;
                                    deduction_amt += parseInt(this.hdamount);
                                });
                                var method = $.post('/SendPay_Slip', { PaySlipId: encryptedPayslipId });
                                method.success(function (data) {
                                    var json = JSON.parse(data);
                                    var monthName = json[0].monthyear;
                                    var Month = [];
                                    Month = monthName.split(' ');
                                    var ab = (Month[0] == 'January' ? '1' : Month[0] == 'February' ? '2' : Month[0] == 'March' ? '3' : Month[0] == 'April' ? '4' : Month[0] == 'May' ? '5' : Month[0] == 'June' ? '6' : Month[0] == 'July' ? '7' : Month[0] == 'August' ? '8' : Month[0] == 'September' ? '9' : Month[0] == 'October' ? '10' : Month[0] == 'November' ? '11' : Month[0] == 'December' ? 12 : 'Month Error');
                                    PaidDays = daysInMonth(ab, Month[1]);

                                    var Associate_id = $("#ddl_assocateName option:selected").val();

                                    var method = $.post('/GetAbsentToCount', { MonthNo: ab, PaySlipId: encryptedPayslipId });
                                    method.success(function (data1) {
                                        var json1 = JSON.parse(data1);
                                        if (data1.length > 5) {
                                            absent = json1[0].requested_no_of_leaves;
                                        }
                                        else {
                                            absent = 0;
                                        }
                                        var html = '';
                                        var html = "<tr>"
                                            + "<td colspan='1' rowspan='3'><center><img src='./dist/img/avissol_salarySLip.png' height='60'></center></td>"
                                            + "<td colspan='5'><center><b>Avis e Solution Pvt Ltd</b></center></td>"
                                            + "</tr>"
                                            + "<tr>"
                                            + "<td colspan='5'><center>D-35, Sector 2, Groud Floor, Noida, Uttar Pradesh-201301</center></td>"
                                            + "</tr>"
                                            + "<tr>"
                                            + "<td colspan='5'><center>Telephone No:- +91-0120-4009000</center></td>"
                                            + "</tr>"
                                            + "<tr>"
                                            + "  <td colspan='6'><center><b>SALARY SLIP FOR THE MONTH OF " + monthName.toUpperCase() + "</b></center></td>"
                                            + "</tr>"
                                            + "<tr>"
                                            + "  <td style='padding-left:1%;'><b>Emp Code</b></td>"
                                            + "<td style='padding-left:1%;' colspan='5'><span id='spn_EmpCode'>" + json[0].associate_code + "</span></td>"
                                            + "</tr>"
                                            + "<tr>"
                                            + "  <td style='padding-left:1%;'><b>Emp Name</b></td>"
                                            + "<td style='padding-left:1%;' colspan='3'>" + json[0].associate_name + "</td>"
                                            + "<td style='padding-left:1%;'><b>Paid days</b></td>"
                                            + "<td style='padding-left:1%;'> " + PaidDays + "</td>"
                                            + "</tr>"
                                            + "<tr>"
                                            + "<td style='padding-left:1%;'><b>Designation</b></td>"
                                            + "<td style='padding-left:1%;' colspan='3'>" + json[0].designationtext + "</td>"
                                            + "<td style='padding-left:1%;'><b>Absent</b></td>"
                                            + "<td style='padding-left:1%;'>" + absent + " Day </td>"
                                            + "</tr>"
                                            + "<tr>"
                                            + "<td style='padding-left:1%;'><b>CL Availed</b></td>"
                                            + "<td style='padding-left:1%;' colspan='3'>" + CLavail + " Days </td>"
                                            + "<td style='padding-left:1%;'><b>CL Balance</b></td>"
                                            + "<td style='padding-left:1%;'>" + CLused + " Days </td>"
                                            + "</tr>"
                                            + "<tr>"
                                            + "<td style='padding-left:25%;' colspan='6'><b>Earning</b><b style='padding-left:35%;'>Deduction</b></td>"
                                            + "</tr>"
                                            + "<tr>"
                                            + "<td style='padding-left:1%;'><b>Head</b></td>"
                                            + "<td style='text-align:right;'><b>Standard</b></td>"
                                            + "<td style='text-align:right;'><b>Earned Amt.</b></td>"
                                            + "<td style='padding-left:1%;'><b>Head</b></td>"
                                            + "<td style='text-align:right;'><b>Standard</b></td>"
                                            + "<td style='text-align:right;'><b>Earned Amt.</b></td>"
                                            + "</tr>"

                                        if (data.length > 10) {
                                            var amount = 0;
                                            var m = 0;
                                            $.each(json, function (key, value) {
                                                amount += parseInt(this.header_ammount);
                                                html += "<tr>"
                                                    + "<td style='padding-left:1%;'><b>" + this.headername + "</b></td>"
                                                    + "<td style='text-align:right;'><b>" + this.header_ammount + "</b></td>"
                                                    + "<td style='text-align:right;'><b>" + this.header_ammount + "</b></td>"

                                                for (var i = m; i < deductionHead.length; i++) {
                                                    html += "<td style='padding-left:1%;' rowspan=''><b>" + deductionHead[i] + "</b></td>"
                                                        + "<td style='text-align:right;' rowspan=''><b>" + deductionAmt[i] + "</b></td>"
                                                        + "<td style='text-align:right;' rowspan=''><b>" + deductionAmt[i] + "</b></td>"
                                                    break;
                                                }
                                                html += "</tr>"
                                                console.log(html);
                                                m = parseInt(m) + 1;
                                            });

                                            var Totalamount = parseInt(deduction_amt) + parseInt(amount);
                                            var carryHome = parseInt(Totalamount) - parseInt(deduction_amt);
                                            var word = toWords(carryHome);
                                            word = word + ' Only';
                                            html += "<tr>"
                                                + "<td style='padding-left:1%;'><b>Gross Salary</b></td>"
                                                + "<td style='text-align:right;'><b>" + carryHome + "</b></td>"
                                                + "<td style='text-align:right;'><b>" + carryHome + "</b></td>"
                                                + "<td style='padding-left:1%; '><b>Gross Deduction</b></td>"
                                                + "<td style='text-align:right;'><b>" + deduction_amt + "</b></td>"
                                                + "<td style='text-align:right;'><b>" + deduction_amt + "</b></td>"
                                                + "</tr>"
                                                + "<tr>"
                                                + "<td style='padding-left:1%;' colspan='6'><b>Carry Home Salary</b><span style='padding-left:11%;'>" + carryHome + "</span><b style='padding-left:17%;'>CTC</b><span style='padding-left:21%;'>" + Totalamount + "</span></td>"

                                                + "</tr>"
                                                + "<tr>"
                                                + "<td style='padding-left:1%;' colspan='6'><b>Carry Home Salary (In Words):</b><b><span style='padding-left:1%;'>" + word.toUpperCase() + "</span></b></td>"
                                                + "</tr>"
                                                + "<tr>"
                                                + "<td style='padding-left:1%;' colspan='6'>This is computer generated Pay Slip. It does not require signature.</td>"
                                                + "</tr>";
                                            console.log(html);
                                            var ToEmail = json[0].official_email;
                                            var Month = json[0].monthyear;
                                            var UserFullName = json[0].associate_name;

                                            var datatable = $("#tblSalarySlip");
                                            datatable.empty();

                                            datatable.append(html);
                                            var d = new Date();
                                            var DateSec = d.getFullYear() + '' + d.getMonth() + '' + d.getMilliseconds();
                                            var fileName = 'PaySlip' + DateSec + '.pdf';
                                            var divToPrint = document.getElementById('div_Salary');


                                            var newWin = window.open('', 'Print-Window', "width=1024,height=700");
                                            newWin.document.open();
                                            newWin.document.write('<html><body onload="window.print()">' + divToPrint.innerHTML + '</body></html>');
                                            newWin.document.close();
                                            setTimeout(function () { newWin.document.close(); }, 2000);



                                        }
                                    });

                                });
                                method.error(function () {
                                    $("#msgdiv").html("<div class='alert alert-error'>Somthing went wrong while Sending PaySlip Data</div>");
                                    $("#msgdiv").show(500);
                                });
                            });
                        }
                    });

                }
            });



        }

        function GetCreatedBy() {
            try {
                $.post('/GetLoginDetails', { username: username }, function (data) {
                    var json = JSON.parse(data);
                    if (data.length > 3) {
                        CreatedBy = json[0].userid;
                        designationid = json[0].designationid;
                        associateid = json[0].associateid;
                        //populateMenu();
                    }
                });
            } catch (err) {
                console.log(err.message);
            }
        }


    </script>

    }