﻿
@{
    ViewData["Title"] = "DownloadSalarySlip";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Download Salary Slip
    </h1>
</section>
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-default">
                <div class="box-header with-border">
                    <h3 class="box-title">Download Salary Slip</h3>

                    <div id="msgdiv"></div>
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="col-lg-2">
                            <label>Select Month</label>
                            <select id="ddlMonth" class='form-control' onfocus="RemoveValidation(this);"><option value='-1'>Select</option><option value='1'>January</option><option value='2'>February</option><option value='3'>March</option><option value='4'>April</option><option value='5'>May</option><option value='6'>June</option><option value='7'>July</option><option value='8'>August</option><option value='9'>September</option><option value='10'>October</option><option value='11'>November</option><option value='12'>December</option></select>
                        </div>
                        <div class="col-lg-2">
                            <label>Select Year</label>
                            <select id="ddlYear" class='form-control' onfocus="RemoveValidation(this);"><option value='-1'>Select</option><option value='1'>2016</option><option value='2'>2017</option><option value='3'>2018</option><option value='4'>2019</option><option value='5'>2020</option></select>
                        </div>
                    </div>
                    <div class="col-md-2"></div>
                    <div class="col-md-8" style="padding-top:2%;" id="div_Salary">
                        <table id="tblSalarySlip" border="1" cellspacing='0' style="width:683px; height:auto;" cellpadding="0"></table>
                    </div>
                    <div class="col-md-2"></div>
                </div>
                <div class="box-footer">
                    <button class="btn btn-primary" id="btn_Download">Download</button>
                </div>
            </div>

        </div>
    </div>
</section>

<!-- /.content -->

@section scripts{
    <script type="text/javascript">
        var CreatedBy;
        var UpdatedBy;
        var designationid;
        var username = "<%= name %>";
        var associateid = '';
        var associate_code = '';
        var associate_name = '';
        var monthYear = '';
        var monthInNumber = '';
        var yearName = '';
        $(document).ready(function () {
            GetCreatedBy();
            GetMonthName();

            //Check Authorized Menu
            $.post('/check_Authorized_Menu', { username: username, menuName: '/DownloadSalarySlip' }, function (data) {
                var json = JSON.parse(data);
                if (json[0].count == 0) {
                    window.location.href = "/";
                }
            });

            $("#btn_Download").click(function () {
                var flag = true;

                var monthName = $("#ddlMonth").val();
                monthInNumber = $("#ddlMonth").val();
                yearName = $("#ddlYear").val();
                if (monthName == -1) {
                    $("#ddlMonth").addClass('has-error');
                    flag = false;
                }
                if (yearName == -1) {
                    $("#ddlYear").addClass('has-error');
                    flag = false;
                }
                if (flag == true) {
                    monthName = $('#ddlMonth option:selected').html();
                    yearName = $('#ddlYear option:selected').html();
                    monthYear = monthName + '_' + yearName;
                    $.post('/GetSalarySlip', { monthName: monthYear, associateid: associateid, username: username, monthInNumber: monthInNumber, yearName: yearName }, function (data) {
                        alert(data);
                        var json = JSON.parse(data);
                        if (data.length > 200) {

                            var SpecialSkill_tr = json[0].special_skill_allowance > 0 ? "table-row" : "none";
                            var MobileAllo_tr = json[0].mobile_allowance > 0 ? "table-row" : "none";
                            var ConveyanceAllo_tr = json[0].conveyance_allowance > 0 ? "table-row" : "none";
                            var SpecialKRK_tr = json[0].management_allowance > 0 ? "table-row" : "none";
                            var MedicalAllo_tr = json[0].medical_allowance > 0 ? "table-row" : "none";
                            var Book_tr = json[0].book_periodicals > 0 ? "table-row" : "none";
                            var Driver_tr = json[0].driver_allowance > 0 ? "table-row" : "none";

                            var Absent = 0;
                            var CL_Availed = 0;
                            var LeaveBalance = parseInt(json[1].case) - (parseInt(json[1].opening) + parseInt(json[1].availed));
                            var datatable = $("#tblSalarySlip");
                            datatable.empty();
                            var CHS_Word = toWords(json[0].chs);
                            CHS_Word = (CHS_Word + "Only").toUpperCase();
                            if (json.length == 3) {
                                Absent = json[2].leaveavailedinmonth;
                                CL_Availed = json[2].leaveavailedinmonth;
                            }

                            var html = "<tr>"
                                + "<td colspan='1' rowspan='3'><center><img src='./dist/img/avissol_salarySLip.png' height='60'></center></td>"
                                + "<td colspan='5'><center><b>Avis e Soltion Pvt Ltd</b></center></td>"
                                + "</tr>"
                                + "<tr>"
                                + "<td colspan='5'><center>D-35, Sector 2, Groud Floor, Noida, Uttar Pradesh-201301</center></td>"
                                + "</tr>"
                                + "<tr>"
                                + "<td colspan='5'><center>Telephone No:- +91-0120-4009000</center></td>"
                                + "</tr>"
                                + "<tr>"
                                + "  <td colspan='6'><center><b>SALARY SLIP FOR THE MONTH OF " + monthName.toUpperCase() + "-" + yearName + "</b></center></td>"
                                + "</tr>"
                                + "<tr>"
                                + "  <td style='padding-left:1%;'><b>Emp Code</b></td>"
                                + "<td style='padding-left:1%;' colspan='5'><span id='spn_EmpCode'>" + json[0].associate_code + "</span></td>"
                                + "</tr>"
                                + "<tr>"
                                + "  <td style='padding-left:1%;'><b>Emp Name</b></td>"
                                + "<td style='padding-left:1%;' colspan='3'>" + json[0].associate_name + "</td>"
                                + "<td style='padding-left:1%;'><b>Paid days</b></td>"
                                + "<td style='padding-left:1%;'>" + json[0].payable_days + "</td>"
                                + "</tr>"
                                + "<tr>"
                                + "<td style='padding-left:1%;'><b>Designation</b></td>"
                                + "<td style='padding-left:1%;' colspan='3'>" + json[0].designationtext + "</td>"
                                + "<td style='padding-left:1%;'><b>Absent</b></td>"
                                + "<td style='padding-left:1%;'>" + Absent + "</td>"
                                + "</tr>"
                                + "<tr>"
                                + "<td style='padding-left:1%;'><b>CL Availed</b></td>"
                                + "<td style='padding-left:1%;' colspan='3'>" + CL_Availed + "</td>"
                                + "<td style='padding-left:1%;'><b>CL Balance</b></td>"
                                + "<td style='padding-left:1%;'>" + LeaveBalance + "</td>"
                                + "</tr>"
                                + "<tr>"
                                + "<td style='padding-left:25%;' colspan='6'><b>Earning</b><b style='padding-left:35%;'>Deduction</b></td>"
                                + "</tr>"
                                + "<tr>"
                                + "<td style='padding-left:1%;'><b>Head</b></td>"
                                + "<td style='text-align:right;'><b>Standard</b></td>"
                                + "<td style='text-align:right;'><b>Earned Amt.</b></td>"
                                + "<td style='padding-left:1%;'><b>Head</b></td>"
                                + "<td style='text-align:right;'><b>Standard</b></td>"
                                + "<td style='text-align:right;'><b>Earned Amt.</b></td>"
                                + "</tr>"
                                + "<tr>"
                                + "<td style='padding-left:1%;'>Basic</td>"
                                + "<td style='text-align:right;padding-right:1%;'>" + json[0].basic + "</td>"
                                + "<td style='text-align:right;padding-right:1%;'>" + json[0].basic + "</td>"
                                + "<td style='padding-left:1%;'>PF</td>"
                                + "<td style='text-align:right;padding-right:1%;'>" + json[0].pf + "</td>"
                                + "<td style='text-align:right;padding-right:1%;'>" + json[0].pf + "</td>"
                                + "</tr>"

                                + "<td style='padding-left:1%;'>House Rent Allow</td>"
                                + "<td style='text-align:right;padding-right:1%;'>" + json[0].hra + "</td>"
                                + "<td style='text-align:right;padding-right:1%;'>" + json[0].hra + "</td>"
                                + "<td style='padding-left:1%;'>ESI</td>"
                                + "<td style='text-align:right;padding-right:1%;'>" + json[0].esi + "</td>"
                                + "<td style='text-align:right;padding-right:1%;'>" + json[0].esi + "</td>"
                                + "</tr>"
                                + "<tr style='display:" + SpecialSkill_tr + "'>"
                                + "<td style='padding-left:1%;'>Special Skill Salary</td>"
                                + "<td style='text-align:right;padding-right:1%;'>" + json[0].special_skill_allowance + "</td>"
                                + "<td style='text-align:right;padding-right:1%;'>" + json[0].special_skill_allowance + "</td>"
                                + "<td style='padding-left:1%;border:0;'></td>"
                                + "<td style='text-align:right;padding-right:1%;border:0;'></td>"
                                + "<td style='text-align:right;padding-right:1%;border:0;'></td>"
                                + "</tr>"
                                + "<tr style='display:" + MobileAllo_tr + "'>"
                                + "<td style='padding-left:1%;'>Mobile ALlowance</td>"
                                + "<td style='text-align:right;padding-right:1%;'>" + json[0].mobile_allowance + "</td>"
                                + "<td style='text-align:right;padding-right:1%;'>" + json[0].mobile_allowance + "</td>"
                                + "<td style='padding-left:1%;border:0;'></td>"
                                + "<td style='text-align:right;padding-right:1%;border:0;'></td>"
                                + "<td style='text-align:right;padding-right:1%;border:0;'></td>"
                                + "</tr>"
                                + "<tr style='display:" + ConveyanceAllo_tr + "'>"
                                + "<td style='padding-left:1%;'>Conveyance Allowance</td>"
                                + "<td style='text-align:right;padding-right:1%;'>" + json[0].conveyance_allowance + "</td>"
                                + "<td style='text-align:right;padding-right:1%;'>" + json[0].conveyance_allowance + "</td>"
                                + "<td style='padding-left:1%;border:0;'></td>"
                                + "<td style='text-align:right;padding-right:1%;border:0;'></td>"
                                + "<td style='text-align:right;padding-right:1%;border:0;'></td>"
                                + "</tr>"
                                + "<tr style='display:" + SpecialKRK_tr + "'>"
                                + "<td style='padding-left:1%;'>Special KRK</td>"
                                + "<td style='text-align:right;padding-right:1%;'>" + json[0].management_allowance + "</td>"
                                + "<td style='text-align:right;padding-right:1%;'>" + json[0].management_allowance + "</td>"
                                + "<td style='padding-left:1%;border:0;'></td>"
                                + "<td style='text-align:right;padding-right:1%;border:0;'></td>"
                                + "<td style='text-align:right;padding-right:1%;border:0;'></td>"
                                + "</tr>"
                                + "<tr style='display:" + MedicalAllo_tr + "'>"
                                + "<td style='padding-left:1%;'>Medical Allowance</td>"
                                + "<td style='text-align:right;padding-right:1%;'>" + json[0].medical_allowance + "</td>"
                                + "<td style='text-align:right;padding-right:1%;'>" + json[0].medical_allowance + "</td>"
                                + "<td style='padding-left:1%;border:0;'></td>"
                                + "<td style='text-align:right;padding-right:1%;border:0;'></td>"
                                + "<td style='text-align:right;padding-right:1%;border:0;'></td>"
                                + "</tr>"

                                + "<tr style='display:" + Book_tr + "'>"
                                + "<td style='padding-left:1%;'>Book Periodicals</td>"
                                + "<td style='text-align:right;padding-right:1%;'>" + json[0].book_periodicals + "</td>"
                                + "<td style='text-align:right;padding-right:1%;'>" + json[0].book_periodicals + "</td>"
                                + "<td style='padding-left:1%;border:0;'></td>"
                                + "<td style='text-align:right;padding-right:1%;border:0;'></td>"
                                + "<td style='text-align:right;padding-right:1%;border:0;'></td>"
                                + "</tr>"
                                + "<tr style='display:" + Driver_tr + "'>"
                                + "<td style='padding-left:1%;'>Driver Allowance</td>"
                                + "<td style='text-align:right;padding-right:1%;'>" + json[0].driver_allowance + "</td>"
                                + "<td style='text-align:right;padding-right:1%;'>" + json[0].driver_allowance + "</td>"
                                + "<td style='padding-left:1%;border:0;'></td>"
                                + "<td style='text-align:right;padding-right:1%;border:0;'></td>"
                                + "<td style='text-align:right;padding-right:1%;border:0;'></td>"
                                + "</tr>"
                                + "<tr>"
                                + "<td style='padding-left:1%;'><b>Gross Earning</b></td>"
                                + "<td style='text-align:right;padding-right:1%;'>" + json[0].gross_salary + "</td>"
                                + "<td style='text-align:right;padding-right:1%;'>" + json[0].gross_salary + "</td>"
                                + "<td style='padding-left:1%;'><b>Gross Deduction</b></td>"
                                + "<td style='text-align:right;padding-right:1%;'>" + json[0].total_deduction + "</td>"
                                + "<td style='text-align:right;padding-right:1%;'>" + json[0].total_deduction + "</td>"
                                + "</tr>"
                                + "<tr>"
                                + "<td style='padding-left:1%;' colspan='6'><b>Carry Home Salary</b><span style='padding-left:11%;'>" + json[0].chs + "</span><b style='padding-left:17%;'>CTC</b><span style='padding-left:21%;'>" + json[0].ctc + "</span></td>"

                                + "</tr>"
                                + "<tr>"
                                + "<td style='padding-left:1%;' colspan='6'><b>Carry Home Salary (In Words):</b><b><span style='padding-left:1%;'>" + CHS_Word + "</span></b></td>"
                                + "</tr>"
                                + "<tr>"
                                + "<td style='padding-left:1%;' colspan='6'>This is computer generated Pay Slip. It does not require signature.</td>"
                                + "</tr>";

                            datatable.append(html);
                            var divToPrint = document.getElementById('div_Salary');
                            var newWin = window.open('', 'Print-Window', "width=1024,height=700");
                            newWin.document.open();
                            newWin.document.write('<html><body onload="window.print()">' + divToPrint.innerHTML + '</body></html>');
                            newWin.document.close();
                            setTimeout(function () { newWin.document.close(); }, 2000);
                        }
                        else {
                            alert('No Record Found....');
                        }
                    });
                }
            });
        });
        var th = ['', 'thousand', 'million', 'billion', 'trillion'];

        var dg = ['zero', 'one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine'];

        var tn = ['ten', 'eleven', 'twelve', 'thirteen', 'fourteen', 'fifteen', 'sixteen', 'seventeen', 'eighteen', 'nineteen'];

        var tw = ['twenty', 'thirty', 'forty', 'fifty', 'sixty', 'seventy', 'eighty', 'ninety'];

        function toWords(s) {
            s = s.toString();
            s = s.replace(/[\, ]/g, '');
            if (s != parseFloat(s)) return 'not a number';
            var x = s.indexOf('.');
            if (x == -1) x = s.length;
            if (x > 15) return 'too big';
            var n = s.split('');
            var str = '';
            var sk = 0;
            for (var i = 0; i < x; i++) {
                if ((x - i) % 3 == 2) {
                    if (n[i] == '1') {
                        str += tn[Number(n[i + 1])] + ' ';
                        i++;
                        sk = 1;
                    } else if (n[i] != 0) {
                        str += tw[n[i] - 2] + ' ';
                        sk = 1;
                    }
                } else if (n[i] != 0) {
                    str += dg[n[i]] + ' ';
                    if ((x - i) % 3 == 0) str += 'hundred ';
                    sk = 1;
                }
                if ((x - i) % 3 == 1) {
                    if (sk) str += th[(x - i - 1) / 3] + ' ';
                    sk = 0;
                }
            }
            //if (x != s.length) {
            //    var y = s.length;
            //    str += 'point ';
            //    for (var i = x + 1; i < y; i++) str += dg[n[i]] + ' ';
            //}
            return str.replace(/\s+/g, ' ');

        }
        function GetMonthName() {
            var CurrnetDate = new Date();
            var month = CurrnetDate.getUTCMonth();
            //var month = CurrnetDate.getUTCMonth() + 1; //months from 1-12
            //if (String(month).length == 1) {
            //    month = '0' + month;
            //}
            var months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'];
            $('#spn_MonthName').html(months[month]);
            return months[month];
        }
        //Function to get created by
        function populateMenu() {
            $.post('/populate_menu', { associateid: associateid }, function (data) {
                var json = JSON.parse(data);
                if (data.length > 10) {
                    $.each(json, function (key, value) {
                        if (value.menu_url == null) {
                            var menutext = "";
                            menutext += "<li class='dropdown'><a href='#' class='dropdown-toggle' data-toggle='dropdown'>" + value.menu_name + "<span class='caret'></span></a><ul class='dropdown-menu' role='menu'>";
                            $.each(json, function (key1, value1) {
                                if (value1.menu_parent_id == value.menuid) {
                                    menutext += "<li><a href='" + value1.menu_url + "'>" + value1.menu_name + "</a></li>";
                                }
                            });
                            menutext += "</ul></li>";
                            $('#nav').append($(menutext));
                        }
                        else if (value.menu_parent_id == null) {
                            $('#nav').append($('<li><a href="' + value.menu_url + '">' + value.menu_name + '</a></li>'));
                        }
                    });
                }
            });
        }
        function GetCreatedBy() {
            try {
                $.post('/GetLoginDetails', { username: username }, function (data) {
                    var json = JSON.parse(data);

                    if (data.length > 3) {
                        CreatedBy = json[0].userid;
                        designationid = json[0].designationid;
                        associateid = json[0].associateid;
                        populateMenu();
                    }
                });
            } catch (err) {
                console.log(err.message);
            }
        }


        function getCurrentMonth() {
            var CurrnetDate = new Date();
            var month = CurrnetDate.getUTCMonth() + 1; //months from 1-12
            if (String(month).length == 1) {
                month = '0' + month;
            }
            return month;
        }
        function getCurrentYear() {
            var CurrnetDate = new Date();
            var year = CurrnetDate.getFullYear();
            return year;
        }
        //Remove Validation
        function RemoveValidation(obj) {
            var id = obj.id;
            $("#" + id).removeClass("has-error");
            $("#" + id).parent().removeClass("has-error");
            $('#additionalreportingperson').removeClass('has-error');
            $('#qualification').removeClass('has-error');
            $('#yearofpassing').removeClass('has-error');
            $('#institute').removeClass('has-error');
            $('#percentage').removeClass('has-error');
        }
        function runEffect() {
            var selectedEffect = 'blind';
            var options = {};
            $("#msgdiv").hide(selectedEffect, options, 500);
            $("#msgdivtab").hide(selectedEffect, options, 500);
        }
        function RemoveHashTild(obj) {
            var id = obj.id;
            var a = $("#" + id).val();
            if (String(a).indexOf("#") >= 0 || String(a).indexOf("~") >= 0) {
                a = a.replace("~", "");
                a = a.replace("#", "");
                $("#" + id).val(a);
            }
        }
        function ReplaceQuote(data) {
            var result = '';
            var arr = [];
            arr = data.split(' ');
            for (var i in arr) {
                var a = '';
                a = arr[i].replace("'", "''");
                if (i == 0) {
                    result = result + a
                }
                else {
                    result = result + ' ' + a;
                }

            }
            return result;
        }
        function getDaysInMonth(month, year) {
            var days = Math.round(((new Date(year, month)) - (new Date(year, month - 1))) / 86400000);
            return days;
        }
    </script>
    }