﻿
@{
    ViewData["Title"] = "EmployeeDashboard";
}


<section class="content-header">
    <h1>Employee DashBoard</h1>
</section>

<!-- Main content -->
<section class="content">
    <div class="box box-default">
        <div class="box-header with-border">
            <div id="msgdiv"></div>
            <h3 class="box-title">Achivements</h3>
        </div>
        <div class="box-body" style="padding-top: 2%;">
            <div id="msgdiv"></div>
            <div class="col-md-12">
                <div class="row">
                    <div class="form-group col-md-12">
                        <div class="col-md-3" id="divAwardName">
                            <span style="color: #ff0000;">*</span><span>Award Name</span>
                            <input type="text" id="txtAwardName" onkeyup="RemoveHashTild(this);" onfocus="RemoveValidation(this);" class="form-control" />
                        </div>
                        <div class="col-md-3" id="divDepartmentName">
                            <span style="color: #ff0000;">*</span><span>Department Name</span>
                            <select id="ddlDepartmentName" class="form-control " onfocus="RemoveValidation(this)" style="width: 100%;">
                                <option value="-1" selected="Selected">Select</option>
                            </select>
                        </div>
                        <div class="col-md-3" id="divEmployeeName">
                            <span style="color: #ff0000;">*</span><span>Employee Name</span>
                            <select id="ddlEmployeeName" class="form-control " onfocus="RemoveValidation(this)" style="width: 100%;">
                                <option value="-1" selected="Selected">Select</option>
                            </select>
                        </div>
                        <div class="col-md-3" id="divDesignation">
                            <span style="color: #ff0000;">*</span><span>Designation</span>
                            <input type="text" id="txtDesignation" readonly="readonly" class="form-control" />
                        </div>

                    </div>
                    <div class="form-group col-md-12">
                        <!--<div class="col-md-3" id="divMonthName">
                            <span style="color: #ff0000;">*</span><span>Month</span>
                            <select id="ddlMonth" class="form-control " style="width: 100%;">
                                <option value="-1">Select</option>
                                <option value="1">January</option>
                                <option value="2">February</option>
                                <option value="3">March</option>
                                <option value="4">April</option>
                                <option value="5">May</option>
                                <option value="6">June</option>
                                <option value="7">July</option>
                                <option value="8">August</option>
                                <option value="9">September</option>
                                <option value="10">October</option>
                                <option value="11">November</option>
                                <option value="12">December</option>
                            </select>
                        </div>-->
                        <div class="col-md-3">
                            <span style="color: #ff0000;">*</span><span>Month</span>
                            <input type="text" id="txtDateTime" onfocus="RemoveValidation(this)" class="form-control" />
                        </div>
                        <div class="col-md-3" id="divFileName">
                            <span>Remark</span>
                            <textarea id="txtRemark" rows="3" onkeyup="RemoveHashTild(this);" onfocus="RemoveValidation(this);" class="form-control"></textarea>
                        </div>
                        <div class="col-md-6" style="margin-top:20px" id="divUploadPdf">
                            <form id="uploadForm"
                                  enctype="multipart/form-data"
                                  action="/api/photo1"
                                  method="post">
                                <div class="col-md-6">
                                    <input type="file" id="fileUpload" name="userPhoto" />
                                    <span id="status"></span>
                                    <input type="submit" id="btnUpload" />
                                </div>
                            </form>
                            <!--<form id="uploadForm" enctype="multipart/form-data" action="/UploadReward_Image" method="post">
                                <div class="col-md-6">
                                    <input type="file" name="RewardPic" id="Upload_RewardImage_file" />
                                </div>
                                <div class="col-md-4">
                                    <input type="submit" value="Upload File" class="btn-primary btn form-control" name="submit" id="btnUpload" />
                                    <span id="status"></span>
                                </div>
                            </form>-->
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group" style="padding-left:15px">
                            <input type="submit" id="btnSubmit" value="Submit" class="btn btn-primary" />
                            <input type="button" id="btnCancel" value="Cancel" class="btn btn-danger" />
                        </div>
                    </div>
                    <!--<div style="border-bottom: 1px solid; padding-bottom: 135px; margin-bottom: 10px; margin-top: 20px"></div>-->

                </div>
            </div>
        </div>
    </div>
    <div class="box box-default">
        <div class="box-header with-border">
            <div id="msgdiv"></div>
            <h3 class="box-title">Details</h3>
        </div>
        <div class="box-body" style="padding-top: 2%;">
            <div id="msgdiv"></div>
            <div class="col-md-12">
                <div class="row">
                    <table id="tbl_EmpDashboard" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Sr No.</th>
                                <th>Award Name</th>
                                <th>Month Name</th>
                                <th>Employee Name</th>
                                <th>Department</th>
                                <th>Designation</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>

</section>

@section scripts{
    <script>
        var CreatedBy = '';
        var designationid = '';
        var associateid = '';
        var username = "<%= name %>";
        var menuUrl = '';
        $(document).ready(function () {
            GetCreatedBy();
            DepartmentBind();
            GetRecord();
            $("#btnUpload").hide();
        });

        $("#btnCancel").click(function () {
            //location.href = location.href;
            location.reload();
        });

        $("#txtDateTime").datepicker({
            changeMonth: true,
            changeYear: true,
            minDate: 0,
            showButtonPanel: true,
            dateFormat: 'MM yy',
            onClose: function (dateText, inst) {
                $(this).datepicker('setDate', new Date(inst.selectedYear, inst.selectedMonth, 1));
            }
        });
        $("#txtDateTime").focus(function () {
            $("#txtDateTime").attr('readonly', 'readonly');
            $(".ui-datepicker-calendar").hide();
            $("#ui-datepicker-div").position({
                my: "center top",
                at: "center bottom",
                of: $(this)
            });
        });

        //Open Model Popup with Associate Detail
        $('#exampleModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget) // Button that triggered the modal

            var emp_dashboard_id = button.data('id'); // Extract info from data-* attributes
            var modal = $(this);
            //alert(emp_dashboard_id);
            GetEmployeeAward(emp_dashboard_id);

        });
        //Close Model Popup and refresh Page
        $("#exampleModal").on("hidden.bs.modal", function (e) {
            location.reload();
        });

        function GetEmployeeAward(dashboard_id) {

            var method = $.post('/GetEmployee_AwardBy_Id', { dashboard_id: dashboard_id });
            method.success(function (data) {
                var json = JSON.parse(data);
                if (data.length > 10) {
                    $("#divEmployeeReward").show();
                    $("#lblEmployee_Name").html(json[0].associate_name);
                    $("#lblDepartment_Name").html(json[0].departmenttext);
                    $("#lblDesignation").html(json[0].designationtext);
                    var MonthYear = json[0].month_name;
                    $("#lblAwardName").html('<h2>' + json[0].awardname + '(' + MonthYear + ')' + '</h2>');
                    $("#lblDescription").html(json[0].remark);

                    var oldSrc = '#';
                    var newSrc = json[0].imagepath
                    $('img[src="' + oldSrc + '"]').attr('src', newSrc);
                    $('#ImageAnchor').attr('href', newSrc);

                }
                else {
                    $("#divEmployeeReward").hide();
                }
            });
            method.error(function () {
                $("#msgdiv").html("<div class='alert alert-error'><label>Something went wrong while Binding EmployeeDashBoard Details....</label></div>");
                $("#msgdiv").show(500);
            });
        }

        var DesignationId;
        function DepartmentBind() {
            var method = $.post('/BindDepartmentName');
            method.success(function (data) {
                var json = JSON.parse(data);
                if (data.length > 10) {
                    $.each(json, function (key, value) {
                        $("#ddlDepartmentName").append("<option value=" + value.departmentid + ">" + value.departmenttext + "</option>");
                    });
                }
            });
            method.error(function () {
                $("#msgdiv").html("<div class='alert alert-error'><label>Something went wrong while Binding Department Dropdown....</label></div>");
                $("#msgdiv").show(500);
            });
        }

        $("#ddlDepartmentName").change(function () {
            var DeptId = $("#ddlDepartmentName option:selected").val();
            var method = $.post('/BindEmployeeName', { DeptId: DeptId });
            method.success(function (data) {
                var json = JSON.parse(data);
                if (data.length > 10) {
                    $("#ddlEmployeeName option").remove();
                    $('#ddlEmployeeName').append($('<option>', {
                        value: -1,
                        text: 'Select'
                    }));
                    $.each(json, function (key, value) {
                        $("#ddlEmployeeName").append("<option value=" + value.associateid + ">" + value.associate_name + "</option>");
                    });
                }
            });
            method.error(function () {
                $("#msgdiv").html("<div class='alert alert-error'><label>Something went wrong while Binding Department Dropdown....</label></div>");
                $("#msgdiv").show(500);
            });
        });


        $("#ddlEmployeeName").change(function () {
            var EmpId = $("#ddlEmployeeName option:selected").val();
            if (EmpId == -1) {
                $("#txtDesignation").val("");
            }
            else {
                var method = $.post('/GetDesignation', { EmpId: EmpId });
                method.success(function (data) {
                    var json = JSON.parse(data);
                    if (data.length > 10) {
                        $("#txtDesignation").val(json[0].designationtext);
                        DesignationId = json[0].designationid;
                    }
                });
                method.error(function () {
                    $("#msgdiv").html("<div class='alert alert-error'><label>Something went wrong while Binding Department Dropdown....</label></div>");
                    $("#msgdiv").show(500);
                });
            }
        });

        function DepartmentBind() {
            var method = $.post('/BindDepartmentName');
            method.success(function (data) {
                var json = JSON.parse(data);
                if (data.length > 10) {
                    $.each(json, function (key, value) {
                        $("#ddlDepartmentName").append("<option value=" + value.departmentid + ">" + value.departmenttext + "</option>");
                    });
                }
            });
            method.error(function () {
                $("#msgdiv").html("<div class='alert alert-error'><label>Something went wrong while Binding Department Dropdown....</label></div>");
                $("#msgdiv").show(500);
            });
        }

        ////upload Image Form

        //$("#btnSubmit").click(function () {
        //

        //});
        $('#uploadForm').submit(function () {
            $("#status").empty().text("File is uploading...");
            $(this).ajaxSubmit({
                error: function (xhr) {
                    status('Error: ' + xhr.status);
                },
                success: function (response) {
                    console.log(response)
                    $("#status").empty().text(response);
                }
            });
            return false;
        });

        //$('#uploadForm').submit();

        $("#btnSubmit").click(function () {

            var AwardName = $("#txtAwardName").val();
            var DepartmentName = $("#ddlDepartmentName option:selected").val();
            var EmployeeName = $("#ddlEmployeeName option:selected").val();
            var Designation = $("#txtDesignation").val();
            var Month = $("#txtDateTime").val();
            var Remark = $("#txtRemark").val();
            var fileUpload = $("#fileUpload").val();
            var arr = fileUpload.split("\\");
            var filePath = "rewards\\" + arr[arr.length - 1];
            var flag = 0;
            if (AwardName.trim() == "") {
                $("#txtAwardName").addClass('has-error');
                flag++;
            }
            if (Remark.trim() == "") {
                $("#txtRemark").addClass('has-error');
                flag++;
            }
            if (DepartmentName == '-1' || DepartmentName == undefined) {
                $("#ddlDepartmentName").addClass('has-error');
                flag++;
            }
            if (EmployeeName == '-1' || EmployeeName == undefined) {
                $("#ddlEmployeeName").addClass('has-error');
                flag++;
            }
            if (Month.trim() == '') {
                $("#txtDateTime").addClass('has-error');
                flag++;
            }

            if (fileUpload == '') {
                alert("Plaese select a file");
                flag++;
            }
            if (flag > 0) {

            }
            else {
                var btn = $('#uploadForm').find(':submit');
                var method = $.post('/SaveAward_Details', { AwardName: AwardName, DepartmentName: DepartmentName, EmployeeName: EmployeeName, Month: Month, Designation: DesignationId, Remark: Remark, filePath: filePath, CreatedBy: CreatedBy });
                method.success(function (data) {
                    //upload Image Form
                    btn.click();
                    $("#msgdiv").html("<div class='alert alert-success'><label>Data Saved Successfully</label></div>");
                    $("#msgdiv").show(500);
                    GetRecord();
                });
                method.error(function () {
                    $("#msgdiv").html("<div class='alert alert-error'><label>Something went wrong while Binding Department Dropdown....</label></div>");
                    $("#msgdiv").show(500);
                    GetRecord();
                });
            }
        });


        function GetRecord() {
            var method = $.post('/GetEmployeeDashboard_Details');
            method.success(function (data) {
                var json = JSON.parse(data);
                if (data.length > 10) {
                    $("#tbl_EmpDashboard").empty();
                    $("#tbl_EmpDashboard").append("<thead><tr><th>S.No</th><th>Award Name</th><th>Month Name</th><th>Employee Name</th><th>Department</th><th>Designation</th><th>Action</th></tr></thead>");
                    $.each(json, function (key, value) {
                        var monthname = this.month_name;
                        var RewardId = this.emp_dashboard_id;
                        //alert(RewardId);
                        var html = '<tr><td>' + (key + 1) + '</td><td>' + this.awardname + '</td><td>' + monthname + '</td><td>' + this.associate_name + '</td><td>' + this.departmenttext + '</td><td>' + this.designationtext + '</td><td><a style="cursor:pointer" onclick="DeleteRecord(' + RewardId + ')"><i title="Delete" class="fa fa-trash-o" ></i></a>&nbsp&nbsp |&nbsp&nbsp <a href="#" data-toggle="modal" data-target="#exampleModal" data-keyboard="false"  data-backdrop="static" data-dismiss="modal" data-id=' + RewardId + ' ><i title="View" class="fa fa-eye cursordiv" ></i></a></td>'
                        //
                        $("#tbl_EmpDashboard").append(html);
                    });
                }
                $("#tbl_EmpDashboard").DataTable();
            });
            method.error(function () {
                $("#msgdiv").html("<div class='alert alert-error'><label>Something went wrong while Binding EmployeeDashBoard Details....</label></div>");
                $("#msgdiv").show(500);
            });
        }


        function DeleteRecord(id) {

            var method = $.post('/DeleteReward', { id: id });
            method.success(function (data) {
                alert('InActive Successfully...');
                location.reload();
            });
            method.error(function () {
                $("#msgdiv").html("<div class='alert alert-error'><label>Something went wrong while Deleteing the Reward....</label></div>");
                $("#msgdiv").show(500);
            });
        }

        function populateMenu() {
            $.post('/populate_menu', { associateid: associateid }, function (data) {
                var json = JSON.parse(data);
                if (data.length > 10) {
                    $.each(json, function (key, value) {
                        if (value.menu_url == null) {
                            var menutext = "";
                            menutext += "<li class='dropdown'><a href='#' class='dropdown-toggle' data-toggle='dropdown'>" + value.menu_name + "<span class='caret'></span></a><ul class='dropdown-menu' role='menu'>";
                            $.each(json, function (key1, value1) {
                                if (value1.menu_parent_id == value.menuid) {
                                    menutext += "<li><a href='" + value1.menu_url + "'>" + value1.menu_name + "</a></li>";
                                }
                            });
                            menutext += "</ul></li>";
                            $('#nav').append($(menutext));
                        }
                        else if (value.menu_parent_id == null) {
                            $('#nav').append($('<li><a href="' + value.menu_url + '">' + value.menu_name + '</a></li>'));
                        }
                    });
                }
            });
        }

        function GetCreatedBy() {
            try {
                $.post('/GetLoginDetails', { username: username }, function (data) {
                    var json = JSON.parse(data);
                    if (data.length > 3) {
                        CreatedBy = json[0].userid;
                        designationid = json[0].designationid;
                        associateid = json[0].associateid;
                        populateMenu();
                    }
                });
            } catch (err) {
                console.log(err.message);
            }
        }
        function RemoveHashTild(obj) {
            var id = obj.id;
            var a = $("#" + id).val();
            if (String(a).indexOf("#") >= 0 || String(a).indexOf("~") >= 0) {
                a = a.replace("~", "");
                a = a.replace("#", "");
                $("#" + id).val(a);
            }
        }

        function RemoveValidation(obj) {

            var id = obj.id;
            $("#" + id).removeClass('has-error');
        }
        $(document).click(function () {
            $("#msgdiv").hide(500);
        });
    </script>
}