﻿
@{
    ViewData["Title"] = "FNFSettlement";
}

<section class="content-header">
    <h1>Full and Final Settlement</h1>
</section>
<!-- Main content -->
<section class="content">
    <div class="box box-default">
        <div class="box-header with-border">
            <div id="msgdiv"></div>
            <h3 class="box-title">Full and Final Settlement</h3>
        </div>
        <div class="box-body" style="padding-top: 2%;">
            <div class="col-md-12">
                <div class="box-body">
                    <table id="tblFNF" class="table table-bordered table-striped">
                        <thead> </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

@section scripts{

    <script type="text/javascript">
        var CreatedBy = '';
        var designationid = '';
        var associateid = '';
        var username = "<%= name %>";
        var menuUrl = '';
        var associate_Code = '';
        var NoticePeriod = '';
        var NoticeServed = '';
        var ShortNoticePeriod = '';
        var LeaveAllowed = 0;
        var LeaveTaken = 0;
        var LeaveDeduction = 0;
        var Designation_id = '';
        $(document).ready(function () {
            //$("#FullandFinalPDF").hide();
            GetCreatedBy();
            GetListForFNF();
            $.post('/check_Authorized_Menu', { username: username, menuName: '/FNFSettlement' }, function (data) {
                var json = JSON.parse(data);
                if (json[0].count == 0) {
                    window.location.href = "/";
                }
            });
            $('#txt_noticeServed').focusout(function () {
                NoticePeriod = $('#txt_noticePeriod').val().trim();
                NoticeServed = $('#txt_noticeServed').val().trim();
                if (NoticePeriod != '' && NoticeServed != '') {
                    if (NoticePeriod > NoticeServed) {
                        ShortNoticePeriod = NoticePeriod - NoticeServed;
                        $('#txt_shortNoticePeriod').val(ShortNoticePeriod);
                    }
                    else {
                        alert("Served Notice Can't be less than Notice Period");
                        $('#txt_noticeServed').val('');
                        $('#txt_shortNoticePeriod').val('');
                    }
                }
            });
            //Opne Modal PopUp for Full and Final Settlement
            $('#FNFModal').on('show.bs.modal', function (event) {
                var button = $(event.relatedTarget);// Button that triggered the modal
                associateid = button.data('associate_id'); // Extract info from data-* attributes
                Designation_id = button.data('designationid');
                associate_Code = button.data('associate_code');
                var modal = $(this);
                modal.find('#txt_associateName').val(button.data('associate_name'));
                modal.find('#txt_designation').val(button.data('designation'));
                modal.find('#txt_DOJ').val(button.data('doj'));

                GetLeave(button.data('associate_code'));
            });
            $("#btn_closePopUp").click(function () {
                window.location.href = '/FNFSettlement';
            });
            $("#txt_dateofResignation").datepicker({
                dateFormat: "dd-mm-yy",
                changeMonth: true,
                changeYear: true,
                maxDate: new Date()
            });
            $("#txt_dateofRelieving").datepicker({
                dateFormat: "dd-mm-yy",
                changeMonth: true,
                changeYear: true,
                maxDate: new Date()
            });

            $('#btn_save').click(function () {
                var flag = true;
                var associate_name = $('#txt_associateName').val().trim();
                var designation_text = $('#txt_designation').val().trim();
                var dateof_joining = $('#txt_DOJ').val().trim();
                var dateof_resignation = $('#txt_dateofResignation').val().trim();
                var dateof_relieving = $('#txt_dateofRelieving').val().trim();
                var working_day_month = $('#txt_workingDayInCurrentMonth').val().trim();
                var notice_period = $('#txt_noticePeriod').val().trim();
                var notice_served = $('#txt_noticeServed').val().trim();
                var short_notice_day = $('#txt_shortNoticePeriod').val().trim();
                var leave_allowed = $('#txt_leaveAllowed').val().trim();
                var leave_taken = $('#txt_leaveTaken').val().trim();
                var leave_deduction = $('#txt_leaveDeduction').val().trim();
                var carry_home_salary = $('#txt_carryHomeSalary').val().trim();
                var payable_salary = $('#txt_payableSalary').val().trim();
                var full_final_payment = $('#txt_FNFPayment').val().trim();




                if (associate_name == '') {
                    $('#txt_associateName').addClass('has-error');
                    flag = false;
                }
                if (designation_text == '') {
                    $('#txt_designation').addClass('has-error');
                    flag = false;
                }
                if (dateof_joining == '') {
                    $('#txt_DOJ').addClass('has-error');
                    flag = false;
                }
                if (dateof_resignation == '') {
                    $('#txt_dateofResignation').addClass('has-error');
                    flag = false;
                }
                if (dateof_relieving == '') {
                    $('#txt_dateofRelieving').addClass('has-error');
                    flag = false;
                }
                if (working_day_month == '') {
                    $('#txt_workingDayInCurrentMonth').addClass('has-error');
                    flag = false;
                }
                if (notice_period == '') {
                    $('#txt_noticePeriod').addClass('has-error');
                    flag = false;
                }
                if (notice_served == '') {
                    $('#txt_noticeServed').addClass('has-error');
                    flag = false;
                }
                if (short_notice_day == '') {
                    $('#txt_shortNoticePeriod').addClass('has-error');
                    flag = false;
                }
                if (leave_allowed == '') {
                    $('#txt_leaveAllowed').addClass('has-error');
                    flag = false;
                }
                if (leave_taken == '') {
                    $('#txt_leaveTaken').addClass('has-error');
                    flag = false;
                }
                if (leave_deduction == '') {
                    $('#txt_leaveDeduction').addClass('has-error');
                    flag = false;
                }
                if (carry_home_salary == '') {
                    $('#txt_carryHomeSalary').addClass('has-error');
                    flag = false;
                }
                if (payable_salary == '') {
                    $('#txt_payableSalary').addClass('has-error');
                    flag = false;
                }
                if (full_final_payment == '') {
                    $('#txt_FNFPayment').addClass('has-error');
                    flag = false;
                }
                if (flag == true) {

                    var doc = new jsPDF('p', 'pt', 'a4', true);
                    var a = "<h1><u>" + "Full & Final Settlement" + "</u></h1>";
                    doc.fromHTML(a, 180, 100);
                    var table = "<table><tr><td>Name</td><td>" + associate_name + "</td></tr><tr><td>Designation</td><td>" + designation_text + "</td></tr><tr><td>Date of Joining</td><td>" + dateof_joining + "</td></tr><tr><td>Date of Resignation</td><td>" + dateof_resignation + "</td></tr><tr><td>Date of Relieving</td><td>" + dateof_relieving + "</td></tr><tr><td>Working Day in Current Month</td><td>" + working_day_month + "</td></tr><tr><td>Notice Period</td><td>" + notice_period + "</td></tr><tr><td>Notice Served</td><td>" + notice_served + "</td></tr><tr><td>Short Notice Period</td><td>" + short_notice_day + "</td></tr><tr><td>Leave Allowed</td><td>" + leave_allowed + "</td></tr><tr><td>Leave Taken</td><td>" + leave_taken + "</td></tr><tr><td>Leave Deduction</td><td>" + leave_deduction + "</td></tr><tr><td>Carry Home Salary</td><td>" + carry_home_salary + "</td></tr><tr><td>Payable Salary</td><td>" + payable_salary + "</td></tr><tr><td>Full & Final Settlement</td><td>" + full_final_payment + "</td></tr></table>"
                    doc.fromHTML(table, 80, 165);
                    var authorized_Signatory = "<h4>Authorized Signatory</h4><br/><h4>(For Avis e Solutions Pvt. Ltd)</h4>";
                    doc.fromHTML(authorized_Signatory, 75, 550);
                    var pdfName = associate_name + ' FNF' + '.pdf';
                    doc.save(pdfName);

                    var arr = dateof_joining.split('-');
                    dateof_joining = arr[1] + '-' + arr[0] + '-' + arr[2];

                    var arr = dateof_resignation.split('-');
                    dateof_resignation = arr[1] + '-' + arr[0] + '-' + arr[2];

                    var arr = dateof_relieving.split('-');
                    dateof_relieving = arr[1] + '-' + arr[0] + '-' + arr[2];

                    var created_on = new Date();
                    var month = created_on.getUTCMonth() + 1; //months from 1-12
                    var day = created_on.getUTCDate();
                    if (String(day).length == 1) {
                        day = '0' + day;
                    }
                    if (String(month).length == 1) {
                        month = '0' + month;
                    }
                    var year = created_on.getUTCFullYear();
                    created_on = month + '-' + day + '-' + year;
                    $.post('/InsertFullnFinal', { associate_id: associateid, designationid: Designation_id, dateof_joining: dateof_joining, dateof_resignation: dateof_resignation, dateof_relieving: dateof_relieving, working_day_month: working_day_month, notice_period: notice_period, notice_served: notice_served, short_notice_day: short_notice_day, leave_allowed: leave_allowed, leave_taken: leave_taken, leave_deduction: leave_deduction, carry_home_salary: carry_home_salary, payable_salary: payable_salary, full_final_payment: full_final_payment, created_on: created_on, associate_Code: associate_Code }, function (data) {
                        $("#msgdivFNF").show();
                        $("#msgdivFNF").html("<div class='alert alert-success'>PDF Created Successfully.</div>");
                        $('#btn_save').hide();
                    });
                }
            });

        })
        function GetLeave(userName) {
            $.post('/GetLeaveStatus', { name: userName }, function (data) {
                var json = JSON.parse(data);
                if (data.length > 10) {
                    $.each(json, function (key, Value) {
                        LeaveAllowed = this.case;
                        var opening = this.opening;
                        var availed = this.availed;
                        LeaveTaken = parseInt(availed) + parseInt(opening) - parseInt(this.od);
                        LeaveDeduction = LeaveAllowed - LeaveTaken;
                        if (LeaveDeduction < 0) {
                            LeaveDeduction = (-1) * LeaveDeduction;
                        }
                        else
                            LeaveDeduction = 0;
                    });

                }
                $('#txt_leaveAllowed').val(LeaveAllowed);
                $('#txt_leaveTaken').val(LeaveTaken);
                $('#txt_leaveDeduction').val(LeaveDeduction);
                if (LeaveAllowed == 0 && LeaveTaken == 0 && LeaveDeduction == 0) {
                    $('#txt_leaveAllowed').attr("readonly", false);
                    $('#txt_leaveTaken').attr("readonly", false);
                    $('#txt_leaveDeduction').attr("readonly", false);
                }
            });
        }
        function populateMenu() {
            $.post('/populate_menu', { associateid: associateid }, function (data) {
                var json = JSON.parse(data);
                if (data.length > 10) {
                    $.each(json, function (key, value) {
                        if (value.menu_url == null) {
                            var menutext = "";
                            menutext += "<li class='dropdown'><a href='#' class='dropdown-toggle' data-toggle='dropdown'>" + value.menu_name + "<span class='caret'></span></a><ul class='dropdown-menu' role='menu'>";
                            $.each(json, function (key1, value1) {
                                if (value1.menu_parent_id == value.menuid) {
                                    menutext += "<li><a href='" + value1.menu_url + "'>" + value1.menu_name + "</a></li>";
                                }
                            });
                            menutext += "</ul></li>";
                            $('#nav').append($(menutext));
                        }
                        else if (value.menu_parent_id == null) {
                            $('#nav').append($('<li><a href="' + value.menu_url + '">' + value.menu_name + '</a></li>'));
                        }
                    });
                }
            });
        }
        function GetCreatedBy() {
            try {
                $.post('/GetLoginDetails', { username: username }, function (data) {
                    var json = JSON.parse(data);
                    if (data.length > 3) {
                        CreatedBy = json[0].userid;
                        designationid = json[0].designationid;
                        associateid = json[0].associateid;
                        populateMenu();
                    }
                });
            } catch (err) {
                console.log(err.message);
            }
        }
        function GetListForFNF() {
            try {
                $.post('/GetListForFNF', function (data) {
                    var json = JSON.parse(data);

                    if (data.length > 3) {
                        var datatable = $('#tblFNF');
                        datatable.empty();
                        datatable.append("<thead><th>Sr No.</th><th>Associate Code</th><th>Name</th><th>Designation</th><th>Department</th><th>Email Id</th><th>Contact No</th><th>Actions</th></tr></thead>");
                        $.each(json, function (key, Value) {
                            var html = "<tr><td>" + (key + 1) + "</td><td>" + this.associate_code + "</td><td>" + this.associate_name + "</td><td>" + this.designationtext + "</td><td>" + this.departmenttext + "</td><td>" + this.official_email + "</td><td>" + this.mobileno + "</td><td><a href='#' onclick='return ResumeEmployee(" + this.associate_id + ");'><i title='Resumed' class='fa fa-thumbs-o-up'></i></a> | <a href='#' data-toggle='modal' data-target='#FNFModal' data-backdrop='static' data-associate_id='" + this.associate_id + "'  data-designation='" + this.designationtext + "' data-associate_name='" + this.associate_name + "' data-doj='" + this.doj + "' data-associate_code='" + this.associate_code + "' data-designationid='" + this.designationid + "' ><i title='Full and Final' class='fa fa-file-text'></i></a></td></tr>";
                            datatable.append(html);
                        });
                        datatable.DataTable();
                    }
                    else {
                        $("#msgdiv").show();
                        $("#msgdiv").html("<div class='alert alert-warning'>No Record Found.</div>");
                    }
                });
            } catch (err) {
                console.log(err.message);
            }
        }
        function ResumeEmployee(id) {
            var notice_end_date = new Date();
            var month = notice_end_date.getUTCMonth() + 1; //months from 1-12
            var day = notice_end_date.getUTCDate();
            if (String(day).length == 1) {
                day = '0' + day;
            }
            if (String(month).length == 1) {
                month = '0' + month;
            }
            var year = notice_end_date.getUTCFullYear();
            notice_end_date = month + '-' + day + '-' + year;
            $.post('/getAssociateCode', { id: id }, function (data) {
                var associate_Code = '';
                var json = JSON.parse(data);
                if (data.length > 10) {
                    associate_Code = json[0].associate_code;
                }
                $.post('/UpdateResume', { associateid: id, notice_end_date: notice_end_date, associate_Code: associate_Code }, function (data) {
                    alert('Resumed Successfully...');
                    window.location.href = '/FNFSettlement';
                });
            });
        }
        function RemoveValidation(obj) {
            var id = obj.id;
            $("#" + id).removeClass('has-error');
            $("#" + id).parent().removeClass('has-error');

        }
    </script>

    }