﻿@model hrms_core.ViewModel.UserModel
@{
    ViewData["Title"] = "ForgotPassword";
}

<h2>ForgotPassword</h2>

<section class="content">
    <div id="MsgDiv">
        @if (TempData["msg"] != null)
        {
            if (Convert.ToString(TempData["msg"]).ToLower().Contains("wrong") || Convert.ToString(TempData["msg"]).ToLower().Contains("not"))
            {
                <div class='alert alert-danger'>
                    <label>@TempData["msg"]</label><a onclick="$('#MsgDiv').hide(500);" class="anchor pull-right"><i class="fa fa-window-close" aria-hidden="true"></i></a>
                </div>
            }
            else if (Convert.ToString(TempData["msg"]).ToLower().Contains("already") || Convert.ToString(TempData["msg"]).ToLower().Contains("exist"))
            {
                <div class='alert alert-warning'>
                    <label>@TempData["msg"]</label><a onclick="$('#MsgDiv').hide(500);" class="anchor pull-right"><i class="fa fa-window-close" aria-hidden="true"></i></a>
                </div>
            }
            else
            {
                <div class='alert alert-success'>
                    <label>@TempData["msg"]</label><a onclick="$('#MsgDiv').hide(500);" class="anchor pull-right"><i class="fa fa-window-close" aria-hidden="true"></i></a>
                </div>
            }
        }
    </div>
    <div class="col-md-12">
        <div class="col-md-6">
            <form asp-controller="Account" asp-action="ForgotPassword" method="post">
                <div class="box box-default">
                    <div class="box-header with-border">
                        <h3 class="box-title">Forgot Password</h3>
                    </div>
                    <div class="box-body">
                        <div id="msgdiv"></div>
                        <div class="form-group col-md-6">

                            <label><span style="color: #ff0000;">*</span> Official Email ID</label>
                            <input asp-for="username" type="text" class="form-control CharcaterTextBox" id="designation_name"
                                   maxlength="50" placeholder="Official Email ID">
                            <span asp-validation-for="username" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="box-footer">
                        <input type="submit" class="btn btn-primary btn-flat" value="Send Email" id="btnSave" />

                    </div>
                    <!-- /.box-body -->
                    <!-- /.box -->
                </div>
            </form>
        </div>

    </div>
</section>


