﻿
@{
    ViewData["Title"] = "LeaveApplicationApproveDisapproveDirect";
}

<h2>LeaveApplicationApproveDisapproveDirect</h2>

<section class="content-header">
    <h1>Leave Applications</h1>
</section>
<section class="content">
    <div class="box box-default">
        <div class="box-header with-border">
            <div id="msgdiv"></div>
            <h3 class="box-title">Leave Application</h3>

        </div>
        <div class="col-lg-12">
            <div class="col-lg-4">
                <div class="form-group">
                    <label>Associate Code</label>
                    <input type="text" class="form-control " id="txtassociate_code" readonly="readonly" required>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    <label>Associate Name</label>
                    <input type="text" class="form-control " id="txtassociate_name" readonly="readonly" required>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    <label>Notification Date</label>
                    <input type="text" class="form-control " id="txtnotifieddate" readonly="readonly" required>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    <label>Start Date</label>
                    <input type="text" class="form-control " id="txtstartdate" readonly="readonly" required />
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    <label>End Date</label>
                    <input type="text" class="form-control " id="txtenddate" readonly="readonly" required>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    <label>Leave Type</label>
                    <input type="text" class="form-control " id="txtleavetype" readonly="readonly" required>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    <label>Total Days</label>
                    <input type="text" class="form-control " id="txttotaldays" readonly="readonly" required>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    <label>Employee Reason</label>
                    <textarea class="form-control " id="txtempreason" readonly="readonly"></textarea>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    <label><span style="color: #ff0000;">*</span>Employer Comment</label>
                    <textarea class="form-control " id="txtemployerreason"
                              maxlength="50" placeholder="Employer Reason" onfocus="RemoveValidation();"></textarea>
                    <input type="hidden" id="txtassociateid" name="user" value="texens" />
                </div>
            </div>
        </div>
        <table style="width: 100%; ">
            <tr>
                <td colspan="4" style="width:100%">
                    <table id="tblData" style="width: 95%;margin-left: 14px;">
                        <tbody></tbody>
                        <tfoot>
                        </tfoot>
                    </table>
                </td>
            </tr>
        </table>
        <div class="box-footer">
            <button class="btn btn-primary btn-flat" id="btnapproved">Approved</button>
            <button class="btn btn-primary btn-flat" id="btnreject">Reject</button>
        </div>
    </div>
</section>

@section scripts{

    <script>
        var username = '<%= name %>';
        var CreatedBy = '';
        var status = '';
        var associate_code = '';
        var associatename = '';
        var notifictaion_date = '';
        var startdate = '';
        var enddate = '';
        var leavetype = '';
        var totaldays = '';
        var empreason = '';
        var employerreason = '';
        var mailto_hod = '';
        var reportingmailid = '';
        var official_email = '';
        var hodofficialmail = '';
        var hodpersonalmailid = '';
        var associateid = '';
        var reportingpersonmame = '';
        var hodpersonname = '';
        var empremarks = '';
        var empoyerreason = '';
        var authorized_person_name = '';
        //To split URL
        function getParameterByName(name, url) {
            if (!url) url = window.location.href;
            name = name.replace(/[\[\]]/g, "\\$&");
            var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
                results = regex.exec(url);
            if (!results) return null;
            if (!results[2]) return '';
            return decodeURIComponent(results[2].replace(/\+/g, " "));
        }

        $(document).ready(function () {
            var leaveid = getParameterByName('leaveid');
            GetCreatedBy()
            GetLeaveDetailDirect(leaveid);
            //GetAuthorizedPersonName();
            //Approve Click
            $('#btnapproved').click(function () {
                $('#btnapproved').hide();
                $('#btnreject').hide();
                try {
                    var flag = 0;
                    empoyerreason = ReplaceQuote($('#txtemployerreason').val().trim());
                    if (empoyerreason == '') {
                        $("#txtemployerreason").parent().addClass('has-error');
                        flag++;
                    }
                    if (flag > 0) {
                        return false;
                    }
                    else {
                        $.post('/updateleavestatus', {
                            employerreason: empoyerreason,
                            approvedby: CreatedBy,
                            status: 1,
                            leaveid: leaveid
                        }, function (data) {

                            var json = JSON.parse(data);
                            empremarks = json[0].employerreason;

                            if (mailto_hod == true) {
                                var mailtext = '';
                                mailtext += '' + '<b>' + associate_code + '</b>' + '<br/>';
                                mailtext += '' + '<b>' + associatename + '</b>' + '<br/>';
                                mailtext += '<p>' + 'Leave' + ' ' + leavetype + ' ' + 'from' + ' ' + startdate + ' ' + 'to' + ' ' + enddate + ' ' + 'total days' + ' ' + totaldays + ' ' + 'days' + ' ' + 'Reason' + ' ' + empreason + '<br/>';
                                mailtext += '' + '<b>Remark:</b>' + ' ' + empremarks + '. ' + '<b>Apply Date: </b>' + ' ' + notifictaion_date + '<br/>';
                                mailtext += '' + '<b>Status: </b>Leave has been Granted.<br/>' + '  ' + '<b>Reporting Person</b>:' + ' ' + reportingpersonmame + '  ' + '<b>Authorized By</b>:' + ' ' + authorized_person_name + '</p>';
                                mailtext += '<i>Declaration:If you have already received e-mail for Leave Application then ignore this mail.</i><br/>';

                                var Totalmailurl = mailtext;

                                hodpersonalmailid = official_email + ';' + hodofficialmail;

                                $.post('/LeaveaApproveMail', {
                                    authorized_person_name: authorized_person_name, totalmail: Totalmailurl, reportingmailid: reportingmailid, hodpersonalmailid: hodpersonalmailid,
                                }, function () {

                                });
                            }
                            else {
                                var mailtext = '';
                                mailtext += '' + '<b>' + associate_code + '</b>' + '<br/>';
                                mailtext += '' + '<b>' + associatename + '</b>' + '<br/>';
                                mailtext += '<p>' + 'Leave' + ' ' + leavetype + ' ' + 'from' + ' ' + startdate + ' ' + 'to' + ' ' + enddate + ' ' + 'total days' + ' ' + totaldays + ' ' + 'days' + ' ' + 'Reason' + ' ' + empreason + '<br/>';
                                mailtext += '' + '<b>Remark: </b>' + ' ' + empremarks + '. ' + '<b>Apply Date: </b>' + ' ' + notifictaion_date + '<br/>';
                                mailtext += '' + '<b>Status: </b>Leave has been Granted.<br/>' + '  ' + '<b>Reporting Person</b>:' + ' ' + reportingpersonmame + '  ' + '<b>Authorized By</b>:' + ' ' + authorized_person_name + '</p>';
                                mailtext += '<i>Declaration:If you have already received e-mail for Leave Application then ignore this mail</i>.<br/>';
                                var Totalmailurl = mailtext;
                                hodpersonalmailid = official_email;
                                $.post('/LeaveaApproveMail', {
                                    authorized_person_name: authorized_person_name, totalmail: Totalmailurl, reportingmailid: reportingmailid, hodpersonalmailid: hodpersonalmailid
                                }, function () {

                                });

                            }
                            alert("Leave Approved");
                            window.location.href = "/LeaveGrant";
                        });
                    }
                }
                catch (err) { console.log(err.message); }

            });

            //Reject Click
            $('#btnreject').click(function () {
                $('#btnapproved').hide();
                $('#btnreject').hide();
                try {
                    var flag = 0;
                    employerreason = ReplaceQuote($('#txtemployerreason').val().trim());
                    if (employerreason == '') {
                        $("#txtemployerreason").parent().addClass('has-error');
                        flag++;
                    }
                    if (flag > 0) {
                        return false;
                    }
                    else {
                        $.post('/updateleavestatus', {
                            employerreason: employerreason,
                            approvedby: CreatedBy,
                            status: 2,
                            leaveid: leaveid

                        }, function (data) {

                            var json = JSON.parse(data);
                            empremarks = json[0].employerreason;
                            if (mailto_hod == true) {
                                var mailtext = '';
                                mailtext += '' + '<b>' + associate_code + '</b>' + '<br/>';
                                mailtext += '' + '<b>' + associatename + '</b>' + '<br/>';
                                mailtext += '<p>' + 'Leave' + ' ' + leavetype + ' ' + 'from' + ' ' + startdate + ' ' + 'to' + ' ' + enddate + ' ' + 'total days' + ' ' + totaldays + ' ' + 'days' + ' ' + 'Reason' + ' ' + empreason + '<br/>';
                                mailtext += '' + '<b>Remark: </b>' + ' ' + empremarks + '. ' + '<b>Apply Date: </b>' + ' ' + notifictaion_date + '<br/>';
                                mailtext += '' + '<b>Status: </b>Leave has been Rejected.<br/>' + '  ' + '<b>Reporting Person</b>:' + ' ' + reportingpersonmame + '  ' + '<b>Authorized By</b>:' + ' ' + authorized_person_name + '</p>';
                                mailtext += '<i>Declaration:If you have already received e-mail for Leave Application then ignore this mail.</i><br/>';

                                var Totalmailurl = mailtext;
                                hodpersonalmailid = official_email + ';' + hodofficialmail;

                                $.post('/LeaveaApproveMail', {
                                    authorized_person_name: authorized_person_name, totalmail: Totalmailurl, reportingmailid: reportingmailid, hodpersonalmailid: hodpersonalmailid
                                }, function () {

                                });
                            }
                            else {
                                var mailtext = '';
                                mailtext += '' + '<b>' + associate_code + '</b>' + '<br/>';
                                mailtext += '' + '<b>' + associatename + '</b>' + '<br/>';
                                mailtext += '<p>' + 'Leave' + ' ' + leavetype + ' ' + 'from' + ' ' + startdate + ' ' + 'to' + ' ' + enddate + ' ' + 'total days' + ' ' + totaldays + ' ' + 'days' + ' ' + 'Reason' + ' ' + empreason + '<br/>';
                                mailtext += '' + '<b>Remark: </b>' + ' ' + empremarks + '. ' + '<b>Apply Date: </b>' + ' ' + notifictaion_date + '<br/>';
                                mailtext += '' + '<b>Status: </b>Leave has been Rejected.<br/>' + '  ' + '<b>Reporting Person</b>:' + ' ' + reportingpersonmame + '  ' + '<b>Authorized By</b>:' + ' ' + authorized_person_name + '</p>';
                                mailtext += '<i>Declaration:If you have already received e-mail for Leave Application then ignore this mail.</i><br/>';
                                var Totalmailurl = mailtext;
                                hodpersonalmailid = official_email;
                                $.post('/LeaveaApproveMail', {
                                    authorized_person_name: authorized_person_name, totalmail: Totalmailurl, reportingmailid: reportingmailid, hodpersonalmailid: hodpersonalmailid
                                }, function () {

                                });
                            }
                            alert("Leave Rejected");
                            window.location.href = "/LeaveGrant";
                        });
                    }

                }
                catch (err) { console.log(err.message); }
            });

        });
        //To Get Person Name who will approve or reject the leave.
        function GetAuthorizedPersonName() {
            $.post('/GetAuthorizedPersonName', { username: username }, function (data) {
                if (data.length > 10) {
                    var json = JSON.parse(data);
                    authorized_person_name = json[0].associate_name;
                }
            });
        }
        //Get associate Leave Detail Direct
        function GetLeaveDetailDirect(leaveid) {
            try {
                $.post('/Getleavedetaildirect', { leaveid: leaveid }, function (data) {
                    var json = JSON.parse(data);
                    associate_code = json[0].username;
                    associatename = json[0].associate_name;
                    notifictaion_date = json[0].notificationdate;
                    startdate = json[0].startdate;
                    enddate = json[0].enddate;
                    leavetype = json[0].leave_code;
                    totaldays = json[0].requested_no_of_leaves;
                    empreason = json[0].employeereason;
                    empremark = json[0].employerreason;
                    if (data.length > 10) {
                        $("#txtassociate_code").val(json[0].username);
                        $("#txtassociate_name").val(json[0].associate_name);
                        $("#txtnotifieddate").val(json[0].notificationdate);
                        $("#txtstartdate").val(json[0].startdate);
                        $("#txtenddate").val(json[0].enddate);
                        $('#txtleavetype').val(json[0].leave_code);
                        $("#txttotaldays").val(json[0].requested_no_of_leaves);
                        $("#txtempreason").val(json[0].employeereason);
                        status = json[0].status;
                        GetAssosiateAndReportingEmailid();
                        GetHODEmailId();
                        GetAuthorizedPersonName();
                    }
                });
            } catch (err) {
                console.log(err.message);
            }
        }
        //Get UserId
        function GetCreatedBy() {
            try {
                $.post('/GetLoginDetails', { username: username }, function (data) {
                    var json = JSON.parse(data);

                    if (data.length > 3) {
                        CreatedBy = json[0].userid;
                        designationid = json[0].designationid;
                        associateid = json[0].associateid;
                        //populateMenu();
                    }
                });
            } catch (err) {
                console.log(err.message);
            }
        }

        //Remove Validation
        function RemoveValidation() {
            $("#txtemployerreason").parent().removeClass('has-error');
        }
        function GetAssosiateAndReportingEmailid() {
            try {
                $.post("/GetAssociateAndReportingEmailid", { username: associate_code }, function (data) {
                    var json = JSON.parse(data);
                    associateid = json[0].associate_id;
                    reportingmailid = json[0].reportingmailid;
                    official_email = json[0].official_email;
                    mailto_hod = json[0].mailto_hod;
                    reportingpersonmame = json[0].reportingperson;

                });
            }
            catch (err) { console.log(err.message); }
        }
        //function GetHODEmailId() {
        //    try {
        //        $.post("/GetHODEmailId", { username: associate_code }, function (data) {
        //            var json = JSON.parse(data);
        //            hodofficialmail = json[0].hod_emailid;
        //            hodpersonname = json[0].hodname;
        //        });
        //    } catch (err) { console.log(err.message); }
        //}
        function GetHODEmailId() {
            try {
                $.post("/GetHODEmailId", { username: associate_code }, function (data) {
                    var json = JSON.parse(data);
                    if (data.length > 10) {
                        for (var i = 0; i < json.length; i++) {
                            if (hodofficialmail == '') {
                                hodofficialmail += json[i].official_email;
                            }
                            else {
                                if (json[i - 1].official_email != json[i].official_email)
                                    hodofficialmail += ";" + json[i].official_email;
                            }
                        }
                    }

                });
            } catch (err) { console.log(err.message); }
        }
        function ReplaceQuote(data) {
            var result = '';
            var arr = [];
            arr = data.split(' ');
            for (var i in arr) {
                var a = '';
                a = arr[i].replace("'", "''");
                if (i == 0) {
                    result = result + a
                }
                else {
                    result = result + ' ' + a;
                }

            }
            return result;

        }

    </script>

    }