﻿
@{
    ViewData["Title"] = "LeaveSummaryHR";
}

<h2>LeaveSummaryHR</h2>

<section class="content-header">
    <h1>Leave Summary</h1>
    <div class="row">
        <div class="col-md-6"></div>
        <!--<div class="col-md-6">
            <div class="col-md-3">

                <input type="text" id="txtFromDate" class="form-control" readonly="true" placeholder="From Date" />

            </div>
            <div class="col-md-3">

                <input type="text" id="txtToDate" readonly="true" class="form-control" placeholder="To Date" />

            </div>
            <div>
                <input type="button" id="btnExp" value="Filter" class="btn btn-primary">
            </div>

        </div>-->
        <!--<input type="button" id="btnExport" value="Export To Excel" class="form-control btn btn-primary" />-->
    </div>

</section>

<!-- Main content -->
<section class="content">

    <div class="box box-default">
        <!--<div class="box-header with-border">
            <h3 class="box-title">Leave Summary</h3>
            <div id="msgdiv"></div>
        </div>-->
        <div class="col-md-12" style="display:none;">
            <div class="row" style="padding-top:2%;">
                <div class="col-md-4 form-group">
                    <label>Select Month</label>
                    <select id="ddlMonth" onfocus="RemoveValidation(this);" class="form-control "><option value="-1">Select</option><option value="1">Jan</option><option value="2">Feb</option><option value="3">March</option><option value="4">Apr</option><option value="5">May</option><option value="6">Jun</option><option value="7">Jul</option><option value="8">Aug</option><option value="9">Sep</option><option value="10">Oct</option><option value="11">Nov</option><option value="12">Dec</option></select>
                </div>
                <div class="col-md-4 form-group">
                    <label>Select Associate Name</label>
                    <select id="ddlAssociateName" onfocus="RemoveValidation(this);" class="form-control "><option value="-1">Select</option></select>
                </div>
                <div class="col-md-4 form-group" style="padding-top: 2%;">
                    <input type="button" id="btn_Submit" class="btn btn-primary" value="Search" />
                </div>
            </div>
        </div>

        <div class="box-body">
            <center><span id="NoRecordSpan" style="padding-top:1%;display:none;font-weight:bold;">No Record Found</span></center>
            <div id="divExport">
                <!--<table id="tblLeaveSummary" class="table table-bordered table-striped">
                    <thead> </thead>

                    <tbody></tbody>
                </table>
                <table id="tblLeaveFilter" class="table table-bordered table-striped"></table>-->
                <table id="tblColumns" class="table table-bordered table-striped"></table>
            </div>
        </div>
    </div>
</section>

@section scripts{
    <script type="text/javascript">
        var username = "<%= name %>";
        var designationid;
        var CreatedBy;
        var UpdatedBy;
        var associate_id;
        var associateid;
        var Month;
        var MonthId = '-1';
        var AssociateName = 'Select';
        var AssociateId;
        var HeadName = [];
        var tdata = [];
        var monthNames = ["", "January", "February", "March", "April", "May", "June",
            "July", "August", "September", "October", "November", "December"
        ];
        var d = new Date();
        var curMonth = d.getMonth() + 1;
        var curYear = d.getFullYear();
        //alert(monthNames[curMonth] + ' ' + curYear);
        function daysInMonth(month, year) {

            return new Date(year, month, 0).getDate();
        }
        var startdate = curYear + '-01-01';
        var lastDate = curYear + '-12-31';



        $(document).ready(function () {
            $("#tblColumns").empty();

            $.post('/GetLeaveColumnHeader', { startdate: startdate, lastDate: lastDate }, function (data) {
                var json = JSON.parse(data);
                var html = '';
                $("#tblColumns").append('<thead><tr><th>Sr. No</th><th>Associate Name</th><th>Associate Code</th><th style="width:10px;">Jan </th><th style="width:10px;">Feb </th><th style="width:10px;">Mar </th><th style="width:10px;">Apr </th><th>May</th><th>Jun </th><th>Jul</th><th>Aug </th><th>Sep</th><th>Oct </th><th>Nov </th><th>Dec</th><th>Total Leave</th></tr></thead>');
                if (data.length > 10) {
                    $.each(json, function (key, value) {
                        html += '<tr row0 odd><td>' + (key + 1) + '</td><td>' + this.userfullname + '</td><td>' + this.username + '</td><td>' + this.january + '</td><td>' + this.february + '</td><td>' + this.march + '</td><td>' + this.april + '</td><td>' + this.may + '</td><td>' + this.june + '</td><td>' + this.july + '</td><td>' + this.august + '</td><td>' + this.september + '</td><td>' + this.october + '</td><td>' + this.november + '</td><td>' + this.december + '</td><td>' + this.total + '</td></tr>'
                    });
                }
                //console.log('<thead>' + html + '</thead><tbody>' + htmldata + '</tbody>');
                $("#tblColumns").append(html);
                //$("#tblColumns").DataTable();
                var t = $("#tblColumns").DataTable({
                    dom: 'lBfrtip',
                    buttons: [
                        {
                            extend: 'excel',
                            text: 'Export to Excel',
                            ClassName: 'btn btn-primary',
                            title: 'Data export'

                        }
                    ]
                });
            });
            //}

            //<tbody>' + htmldata + '</tbody>');

            $("#btnExport").click(function (e) {
                window.open('data:application/vnd.ms-excel,' + encodeURIComponent($('#divExport').html()));
                e.preventDefault();
            });
            GetCreatedBy();


            $("#btn_Submit").click(function () {
                var flag = true;
                Month = $("#ddlMonth :selected").text();
                MonthId = $("#ddlMonth :selected").val();
                AssociateName = $("#ddlAssociateName :selected").text();
                AssociateId = $("#ddlAssociateName :selected").val();
                if (Month == 'Select' && AssociateName == 'Select') {
                    alert('Please Select At least one value');
                    flag = false;
                }

                else {
                    GetAllApprovedLeaveSummary();
                }
                return flag;
            });

            //Check Authorized Menu
            $.post('/check_Authorized_Menu', { username: username, menuName: '/LeaveSummaryHR' }, function (data) {
                var json = JSON.parse(data);
                if (json[0].count == 0) {
                    window.location.href = "/";
                }
            });



        });

        $("#txtFromDate").datepicker({
            dateFormat: "dd-mm-yy",
            changeMonth: true,
            changeYear: true,
            onClose: function (selectedDate) {
                $("#txtToDate").datepicker("option", "minDate", selectedDate);
            }

        });
        $("#txtToDate").datepicker({
            dateFormat: "dd-mm-yy",
            changeMonth: true,
            changeYear: true,
            minDate: 0,
            onClose: function (selectedDate) {
                $("#txtFromDate").datepicker("option", "maxDate", selectedDate);
            }
            //onSelect: function () {
            //    // The "this" keyword refers to the input (in this case: #someinput)
            //    this.focus();
            //}
        });

        function GetCreatedBy() {
            try {
                $.post('/GetLoginDetails', { username: username }, function (data) {
                    var json = JSON.parse(data);
                    if (data.length > 3) {
                        CreatedBy = json[0].userid;
                        designationid = json[0].designationid;
                        associateid = json[0].associateid;
                        populateMenu();
                    }
                });
            } catch (err) {
                console.log(err.message);
            }
        }
        function populateMenu() {
            $.post('/populate_menu', { associateid: associateid }, function (data) {
                var json = JSON.parse(data);
                if (data.length > 10) {
                    $.each(json, function (key, value) {
                        if (value.menu_url == null) {
                            var menutext = "";
                            menutext += "<li class='dropdown'><a href='#' class='dropdown-toggle' data-toggle='dropdown'>" + value.menu_name + "<span class='caret'></span></a><ul class='dropdown-menu' role='menu'>";
                            $.each(json, function (key1, value1) {
                                if (value1.menu_parent_id == value.menuid) {
                                    menutext += "<li><a href='" + value1.menu_url + "'>" + value1.menu_name + "</a></li>";
                                }
                            });
                            menutext += "</ul></li>";
                            $('#nav').append($(menutext));
                        }
                        else if (value.menu_parent_id == null) {
                            $('#nav').append($('<li><a href="' + value.menu_url + '">' + value.menu_name + '</a></li>'));
                        }
                    });
                }
            });
        }
        //Get List By Date Filter
        function GetLeaveApplicantbyDate() {
            var fromDate = $("#txtFromDate").val();
            var toDate = $("#txtToDate").val();
            var flag = 0;

            if (fromDate != '') {
                var arr1 = fromDate.split('-');
                if (arr1.length == 3) {
                    fromDate = arr1[1] + '-' + arr1[0] + '-' + arr1[2];
                }
                else {
                    flag++;
                }
            }
            if (toDate != '') {
                var arr1 = toDate.split('-');
                if (arr1.length == 3) {
                    toDate = arr1[1] + '-' + arr1[0] + '-' + arr1[2];
                }
                else {
                    flag++;
                }
            }

            if (flag > 0) {

            }
            else {
                $.post("/GetLeaveDetailByDate", { fromDate: fromDate, toDate: toDate }, function (data) {
                    var json = JSON.parse(data);
                    if (data.length > 10) {
                        var datatable = $('#tblLeaveFilter');
                        if ($.fn.DataTable.isDataTable('#tblLeaveFilter')) {
                            $('#tblLeaveFilter').DataTable().destroy();
                        }
                        else {

                        }
                        datatable.empty();
                        var html = '';
                        datatable.append("<thead><tr><th>S.No.</th><th>Apply Date</th><th>Leave Type</th><th> Leave Start Date</th><th> Leave End Date</th><th>Leave Applied By</th><th style='width: 30%;'>Leave Reason</th><th>Day</th><th>Approved By</th></tr></thead>");
                        $.each(json, function (key, Value) {
                            var notificationdate = this.notificationdate;
                            if (notificationdate != '') {
                                var arr = notificationdate.split('-');
                                notificationdate = arr[2] + '-' + arr[1] + '-' + arr[0];
                            }
                            html += "<tr row0 odd><td>" + (key + 1) + "</td><td>" + notificationdate + "</td><td>" + this.leave_code + "</td><td>" + this.startdate + "</td><td>" + this.enddate + "</td><td>" + this.userfullname + "</td><td>" + this.employeereason + "</td><td>" + this.requested_no_of_leaves + "</td><td>" + this.approvedby + "</td></tr>";
                        });
                        datatable.append('<tbody>' + html + '</tbody>');
                        var t = $("#tblLeaveFilter").DataTable({
                            dom: 'lBfrtip',
                            buttons: [{
                                extend: 'excel',
                                text: 'Export to Excel',
                                ClassName: 'Red',
                                title: 'Data export'
                            }]
                            //columnDefs: [{
                            //    targets: 2,
                            //    visible: false
                            //},
                            //{
                            //    targets: 3,
                            //    visible: false
                            //},
                            //{
                            //    targets: 4,
                            //    visible: false
                            //}
                            //]
                        });
                        //$("#tblLeaveFilter").hide();
                        if ($("#txtFromDate").val() != "" || $("#txtToDate").val() != "") {
                            //t.button('0').trigger();
                            //$("#tblLeaveFilter").DataTable().destroy();
                            $("#tblLeaveSummary").empty();
                            $("#tblLeaveSummary").DataTable().destroy();
                            $("#tblLeaveSummary").empty();
                            $("#tblLeaveSummary").hide();
                            $("#tblLeaveFilter").DataTable();
                        }
                        else {
                            GetAllApprovedLeaveSummary();
                        }
                    }
                    else {
                        alert('No Record Found');
                        $("#txtFromDate").val("");
                        $("#txtToDate").val("");
                        location.href = '/LeaveSummaryHR';
                    }

                });
            }
        }

        $("#btnExp").click(function () {

            //GetLeaveApplicantbyDate();
        });



        //Get Associate List
        function GetAssociateList() {
            try {
                $.post("/GetActiveReportingPerson", function (data) {
                    var json = JSON.parse(data);
                    if (data.length > 10) {
                        $.each(json, function (key, value) {
                            $("#ddlAssociateName").append($("<option></option>").val(value.associateid).html(value.associate_name));
                        });
                    }
                });
            } catch (err) { console.log(err.message); }
        }

        //To Get All Leave i.e. Authorised .
        function GetAllApprovedLeaveSummary() {
            $.post('/GetAllApprovedLeaveList', { MonthId: MonthId, AssociateName: AssociateName }, function (data) {
                var json = JSON.parse(data);

                if (data.length > 10) {
                    var datatable = $('#tblLeaveSummary');

                    datatable.empty();

                    datatable.append("<thead><tr><th>S.No.</th><th>Apply Date</th><th>Leave Type</th><th>Start Date</th><th>End Date</th><th>Leave Applied By</th><th style='width: 30%;'>Leave Reason</th><th>Day</th><th>Approved By</th></tr></thead>");
                    $.each(json, function (key, Value) {
                        var notificationdate = this.notificationdate;
                        if (notificationdate != '') {
                            var arr = notificationdate.split('-');
                            notificationdate = arr[2] + '-' + arr[1] + '-' + arr[0];
                        }
                        var html = "<tr row0 odd><td>" + (key + 1) + "</td><td>" + notificationdate + "</td><td>" + this.leave_code + "</td><td>" + this.startdate + "</td><td>" + this.enddate + "</td><td>" + this.userfullname + "</td><td>" + this.employeereason + "</td><td>" + this.requested_no_of_leaves + "</td><td>" + this.approvedby + "</td></tr>";
                        datatable.append(html);
                    });
                    var t = $("#tblLeaveSummary").DataTable({
                        dom: 'lBfrtip',
                        buttons: [
                            {
                                extend: 'excel',
                                text: 'Export to Excel',
                                ClassName: 'btn btn-primary',
                                title: 'Data export'

                            }
                        ]
                    });



                }
                else {
                    $('#tblLeaveSummary').empty();
                    $("#NoRecordSpan").show();
                }
            });
        }
        function RemoveValidation(obj) {
            var id = obj.id;
            $("#" + id).parent().removeClass('has-error');
        }

    </script>
    }