﻿
@{
    ViewData["Title"] = "LeaveType";
}

<!--Content header -->
<section class="content-header">
    <h1>
        Leave Type Master
    </h1>
</section>

<!-- Main content -->
@*<section class="content">
    <div class="row">
        <div class="col-md-6">
            <div class="box box-default">
              
                <form asp-controller="LeaveType" asp-action="Index" method="post">
                    
                    <div class="box box-default">
                        <div class="box-header with-border">
                            <h3 class="box-title">Leave Type Details</h3>
                        </div>
                        <div class="box-body">
                            <div id="msgdiv"></div>

                            <div class="form-group col-md-6">
                                <label><span style="color: #ff0000;">*</span> Leave Code</label>

                                <input type="text" class="form-control CharcaterTextBox" id="leave_code"
                                       maxlength="50" placeholder="Enter Leave Code" asp-for= onfocus="RemoveValidation(this);" />
                            </div>
                            <div class="form-group col-md-6">
                                <label><span style="color: #ff0000;">*</span> Name</label>
                                <input type="text" class="form-control" id="leave_name"
                                       maxlength="100" placeholder="Enter Leave Name" onfocus="RemoveValidation(this);" />
                            </div>
                            <div class="form-group col-md-6">
                                <label><span style="color: #ff0000;">*</span> Min. Days</label>
                                <input type="text" class="form-control NumericTextBox" id="leave_mindays"
                                       maxlength="3" placeholder="Enter Min. Days" onfocus="RemoveValidation(this);" />
                            </div>
                            <div class="form-group col-md-6">
                                <label><span style="color: #ff0000;">*</span> Max. Days</label>
                                <input type="text" class="form-control NumericTextBox" id="leave_maxdays"
                                       maxlength="3" placeholder="Enter Max. Days" onfocus="RemoveValidation(this);" />
                            </div>
                            <div class="form-group col-md-6">
                                <label><span style="color: #ff0000;">*</span> Leave Apply</label>
                                <select id="leave_apply" class="form-control" onfocus="RemoveValidation(this);">
                                    <option value="-1">Select</option>
                                    <option value="1">Only Before</option>
                                    <option value="2">Only After</option>
                                    <option value="3">Any Time</option>
                                </select>
                            </div>
                            <div class="form-group col-md-6">
                                <label><span style="color: #ff0000;">*</span> Before Min.</label>
                                <input type="text" class="form-control" id="leave_beforemin"
                                       maxlength="3" placeholder="Enter Before Min." onfocus="RemoveValidation(this);" />
                            </div>
                            <div class="form-group col-md-6">
                                <label><span style="color: #ff0000;">*</span> Leave Type</label>
                                <select id="leave_type" class="form-control" onfocus="RemoveValidation(this);">
                                    <option value="-1">Select</option>
                                    <option value="1">Paid Leave</option>
                                    <option value="2">LWP</option>
                                    <option value="3">Absent</option>
                                </select>
                            </div>
                            <div class="form-group col-md-6">
                                <label> Carry Forward</label>
                                <input type="checkbox" id="cf" value="FALSE" class="carry_forward" style="margin-left:51px;" />
                            </div>
                            <div class="form-group col-md-6">
                                <label> Leave Balance Check</label>
                                <input type="checkbox" id="lbc" value="FALSE" class="leave_balance_check" style="margin-left:12px;" />
                            </div>
                            <div class="form-group col-md-6">
                                <label><span style="color: #ff0000;">*</span> Leave Color</label>
                                <input type="text" class="form-control" id="leave_color">
                            </div>
                            <div class="form-group col-md-6">
                                <label> Holiday Inclusive</label>
                                <input type="checkbox" id="hi" value="FALSE" class="holiday_inclusive" style="margin-left:34px;" />
                            </div><!-- /.box-body -->
                        </div>
                        <div class="box-footer">
                            <button class="btn btn-primary" id="addleavetype_master_btn">Save</button>
                            <button class="btn btn-primary" id="leavetype_back_btn">Back</button>
                        </div>
                        <!-- /.box-body -->
                        <!-- /.box -->
                    </div>
            </div>
        <div class="col-md-6">
            <div class="box box-default">
                <div class="box-header with-border">
                    <h3 class="box-title">Leave Type Master List</h3>
                </div>
                <div class="box-body">
                    <div class="callout callout-info nofoundlbl"></div>
                    <div class="menu-holder-data-table">
                        <table id="leavetype_master_list" class="table table-bordered table-striped"></table>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
        </div>
    </div>
</section>*@
<!-- /.content -->

@section scripts{
    <script type="text/javascript">
        var CreatedBy;
        var UpdatedBy;
        var designationid;
        var username = "<%= name %>";

        $(document).ready(function () {
            GetCreatedBy();
            //Call function to get Qualification Master List
            GetLeavetypeMasterList();
            //Hide Qualification back button initially
            $('#leavetype_back_btn').hide();

            $('#leavetype_back_btn').click(function () {
                window.location.href = "/leavetype";
            });

            //Color picker for holiday
            $("#leave_color").spectrum({
                showPaletteOnly: true,
                togglePaletteOnly: true,
                togglePaletteMoreText: 'more',
                togglePaletteLessText: 'less',
                color: 'blanchedalmond',
                palette: [
                    ["#000", "#444", "#666", "#999", "#ccc", "#eee", "#f3f3f3", "#fff"],
                    ["#f00", "#f90", "#ff0", "#0f0", "#0ff", "#00f", "#90f", "#f0f"],
                    ["#f4cccc", "#fce5cd", "#fff2cc", "#d9ead3", "#d0e0e3", "#cfe2f3", "#d9d2e9", "#ead1dc"],
                    ["#ea9999", "#f9cb9c", "#ffe599", "#b6d7a8", "#a2c4c9", "#9fc5e8", "#b4a7d6", "#d5a6bd"],
                    ["#e06666", "#f6b26b", "#ffd966", "#93c47d", "#76a5af", "#6fa8dc", "#8e7cc3", "#c27ba0"],
                    ["#c00", "#e69138", "#f1c232", "#6aa84f", "#45818e", "#3d85c6", "#674ea7", "#a64d79"],
                    ["#900", "#b45f06", "#bf9000", "#38761d", "#134f5c", "#0b5394", "#351c75", "#741b47"],
                    ["#600", "#783f04", "#7f6000", "#274e13", "#0c343d", "#073763", "#20124d", "#4c1130"]
                ]
            });

            //Function on click of add Qualification Master Button

            $('#addleavetype_master_btn').click(function () {
                var flag = 0;
                var leave_code = $('#leave_code').val();
                var leave_name = ReplaceQuote($('#leave_name').val())
                var leave_mindays = $('#leave_mindays').val();
                var leave_maxdays = $('#leave_maxdays').val();
                var leave_apply = $('#leave_apply').find(":selected").val();
                var leave_beforemin = $('#leave_beforemin').val();
                var leave_type = $('#leave_type').find(":selected").val();
                var carry_forward = $("#cf").prop("checked");
                var leave_balance_check = $("#lbc").prop("checked");
                var leave_color = $('#leave_color').val();
                var holiday_inclusive = $("#hi").prop("checked");
                //If qualification name got null

                if (leave_code.trim() == "") {
                    $('#leave_code').parent().addClass('has-error');
                    flag++;
                }
                if (leave_name.trim() == "") {
                    $('#leave_name').parent().addClass('has-error');
                    flag++;
                }
                if (leave_mindays.trim() == "") {
                    $('#leave_mindays').parent().addClass('has-error');
                    flag++;
                }
                if (leave_maxdays.trim() == "") {
                    $('#leave_maxdays').parent().addClass('has-error');
                    flag++;
                }
                if (leave_apply.trim() == '-1') {
                    $('#leave_apply').parent().addClass('has-error');
                    flag++;
                }
                if (leave_beforemin.trim() == "") {
                    $('#leave_beforemin').parent().addClass('has-error');
                    flag++;
                }
                if (leave_type == '-1') {
                    $('#leave_type').parent().addClass('has-error');
                    flag++;
                }
                if (leave_color.trim() == "") {
                    $("#msgdiv").show();
                    $("#msgdiv").html("<div class='alert alert-danger' style='margin-top:10px;'><label>Select Leave Color.</label></div>");
                    flag++;
                }
                if (flag > 0) {
                    return false;
                }
                else {
                    //If button text is "Save"
                    if ($('#addleavetype_master_btn').text() == 'Save') {
                        $.post('/SaveLeavetype', { leave_code: leave_code, leave_name: leave_name, leave_mindays: leave_mindays, leave_maxdays: leave_maxdays, leave_apply: leave_apply, leave_beforemin: leave_beforemin, leave_type: leave_type, carry_forward: carry_forward, leave_balance_check: leave_balance_check, leave_color: leave_color, holiday_inclusive: holiday_inclusive, createdby: CreatedBy, updatedby: CreatedBy }, function (data) {
                            GetLeavetypeMasterList();
                            $('#leave_code').val('');
                            $('#leave_name').val('');
                            $('#leave_mindays').val('');
                            $('#leave_maxdays').val('');
                            $('#leave_apply').val('-1');
                            $('#leave_beforemin').val('');
                            $('#leave_type').val('-1');
                            $('#leave_color').val('');
                            $('.carry_forward').prop('checked', false);
                            $('.leave_balance_check').prop('checked', false);
                            $('.holiday_inclusive').prop('checked', false);
                        });
                        //Call function to get Qualification Master List
                        //GetLeavetypeMasterList();
                        //Show sucess message
                        $("#msgdiv").show();
                        $("#msgdiv").html("<div class='alert alert-success' style='margin-top:10px;'><label>Saved Successfully</label></div>");

                    }
                    else {
                        //If button text is "Update"
                        $.post("/UpdateLeaveType", { id: leavetype_id_data, leave_code: leave_code, leave_name: leave_name, leave_mindays: leave_mindays, leave_maxdays: leave_maxdays, leave_apply: leave_apply, leave_beforemin: leave_beforemin, leave_type: leave_type, carry_forward: carry_forward, leave_balance_check: leave_balance_check, leave_color: leave_color, holiday_inclusive: holiday_inclusive, createdby: CreatedBy, updatedby: CreatedBy }, function (data) {
                            $('#leave_code').val('');
                            $('#leave_name').val('');
                            $('#leave_mindays').val('');
                            $('#leave_maxdays').val('');
                            $('#leave_apply').val('-1');
                            $('#leave_beforemin').val('');
                            $('#leave_type').val('-1');
                            $('#leave_color').val(" ");
                            $('.carry_forward').prop('checked', false);
                            $('.leave_balance_check').prop('checked', false);
                            $('.holiday_inclusive').prop('checked', false);

                            $('#addleavetype_master_btn').text('Save');
                            $('#leavetype_back_btn').hide();
                            //Call function to get Qualification Master list
                            GetLeavetypeMasterList();
                            //Show sucess message
                            $("#msgdiv").show();
                            $("#msgdiv").html("<div class='alert alert-success' style='margin-top:10px;'><label>Updated Successfully</label></div>");

                        });
                    }
                }
            });

            //Check Authorized Menu
            $.post('/check_Authorized_Menu', { username: username, menuName: '/leavetype' }, function (data) {
                var json = JSON.parse(data);
                if (json[0].count == 0) {
                    window.location.href = "/";
                }
            });
        });

        //Function to get Qualification Master list
        function GetLeavetypeMasterList() {
            $.post('/GetLeavetypeMasterList', function (data) {
                var json = JSON.parse(data);
                if (data.length > 10) {
                    var datatable = $('#leavetype_master_list');
                    datatable.empty();
                    datatable.append("<thead><tr><th class='' style='width:10%;'>S.No.</th><th class='' style='width: 40%;'>Leave Code</th><th class='' style='width: 40%;'>Name</th><th class='' style='width: 40%;'>Min. Days</th><th class='' style='width: 40%;'>Max. Days</th><th class='theadlabel' colspan='2' style='width: 10%;border-right: 0px; text-align: center;'>Action</th></tr></thead>");
                    $.each(json, function (key, value) {
                        var html = '<tr row0 odd><td>' + (key + 1) + '</td><td>' + this.leave_code + '</td><td>' + this.leavetext + '</td><td>' + this.min_days + '</td><td>' + this.max_days + '</td><td> ' + '<a href="#"><i class="fa fa-edit cursordiv" onclick="EditLeavetypeMaster(' + this.leaveid + ')"></i></a> ' + '|' + ' <a href="#"><i class="fa fa-times cursordiv" onclick="EditLeavetypeStatus(' + this.leaveid + ',' + this.isactive + ')"></i></a>' + '</td></tr>';
                        datatable.append(html);
                        $('.nofoundlbl').hide();
                    });
                }
                else {
                    $('.nofoundlbl').show();
                    $('.nofoundlbl').val("No Record Found");
                }
                datatable.append("</tbody>");
            });
        }

        //Function to get created by
        var associateid = '';
        function populateMenu() {
            $.post('/populate_menu', { associateid: associateid }, function (data) {
                var json = JSON.parse(data);
                if (data.length > 10) {
                    $.each(json, function (key, value) {
                        if (value.menu_url == null) {
                            var menutext = "";
                            menutext += "<li class='dropdown'><a href='#' class='dropdown-toggle' data-toggle='dropdown'>" + value.menu_name + "<span class='caret'></span></a><ul class='dropdown-menu' role='menu'>";
                            $.each(json, function (key1, value1) {
                                if (value1.menu_parent_id == value.menuid) {
                                    menutext += "<li><a href='" + value1.menu_url + "'>" + value1.menu_name + "</a></li>";
                                }
                            });
                            menutext += "</ul></li>";
                            $('#nav').append($(menutext));
                        }
                        else if (value.menu_parent_id == null) {
                            $('#nav').append($('<li><a href="' + value.menu_url + '">' + value.menu_name + '</a></li>'));
                        }
                    });
                }
            });
        }
        function GetCreatedBy() {
            try {
                $.post('/GetLoginDetails', { username: username }, function (data) {
                    var json = JSON.parse(data);

                    if (data.length > 3) {
                        CreatedBy = json[0].userid;
                        designationid = json[0].designationid;
                        associateid = json[0].associateid;
                        populateMenu();
                    }
                });
            } catch (err) {
                console.log(err.message);
            }
        }
        //Function to edit Qualification Master
        function EditLeavetypeMaster(Leavetype_Id_Data) {
            leavetype_id_data = Leavetype_Id_Data;
            //Show Qualification back button
            $('#leavetype_back_btn').show();
            $.post('/editLeavetypeMaster', { id: Leavetype_Id_Data }, function (data) {
                $('.carry_forward').prop('checked', false);
                $('.leave_balance_check').prop('checked', false);
                $('.holiday_inclusive').prop('checked', false);
                var json = JSON.parse(data);
                if (data.length > 10) {
                    $('#leave_code').val(json[0].leave_code);
                    $('#leave_name').val(json[0].leavetext);
                    $('#leave_mindays').val(json[0].min_days);
                    $('#leave_maxdays').val(json[0].max_days);
                    $('#leave_apply').val(json[0].leave_apply);
                    $('#leave_beforemin').val(json[0].before_min);
                    $('#leave_type').val(json[0].leave_type);
                    $('#leave_color').val(json[0].leave_color);
                    var cf = (json[0].carry_forward);
                    if (cf) {
                        $('.carry_forward').prop('checked', true);
                    }
                    var lbc = (json[0].leave_balance_check);
                    if (lbc) {
                        $('.leave_balance_check').prop('checked', true);
                    }
                    var hi = (json[0].holiday_inclusive);
                    if (hi) {
                        $('.holiday_inclusive').prop('checked', true);
                    }
                    $('#addleavetype_master_btn').html('Update');
                }
            });
        }
        //Function will be called onclick of delete
        function EditLeavetypeStatus(Leavetype_Id_Data, txtStatus) {
            if (txtStatus) {
                txtStatus = false;
            }
            else {
                txtStatus = true;
            }
            $.post('/updateLeavetypeStatus', { id: Leavetype_Id_Data, status: txtStatus }, function (data) {
                GetLeavetypeMasterList();
            });

            $("#msgdiv").show();
            $("#msgdiv").html("<div class='alert alert-success' style='margin-top:10px;'><label>Deactivated Successfully</label></div>");

        }
        function runEffect() {
            var selectedEffect = 'blind';
            var options = {};
            $("#msgdiv").hide(selectedEffect, options, 500);
        };
        $("#leave_code").click(function () {
            runEffect();
            return false;
        });
        function RemoveValidation(obj) {
            var id = obj.id;
            $("#" + id).parent().removeClass('has-error');
        }
        function RemoveHashTild(obj) {
            var id = obj.id;
            var a = $("#" + id).val();
            if (String(a).indexOf("#") >= 0 || String(a).indexOf("~") >= 0) {
                a = a.replace("~", "");
                a = a.replace("#", "");
                $("#" + id).val(a);
            }
        }
        function ReplaceQuote(data) {
            var result = '';
            var arr = [];
            arr = data.split(' ');
            for (var i in arr) {
                var a = '';
                a = arr[i].replace("'", "''");
                if (i == 0) {
                    result = result + a
                }
                else {
                    result = result + ' ' + a;
                }

            }
            return result;

        }
    </script>
}