﻿
@{
    ViewData["Title"] = "LeaveApplicationAuthentication";
}

<h2>LeaveApplicationAuthentication</h2>

@section scripts{
    <script type="text/javascript">
        var username = '';
        var reportingcode = '';
        var hodcode = '';
        var associateid = '';
        var status = '';
        var leaveid = '';
        var authorizedPersonName = '';
        //To split URL
        function getParameterByName(name, url) {
            if (!url) url = window.location.href;
            name = name.replace(/[\[\]]/g, "\\$&");
            var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
                results = regex.exec(url);
            if (!results) return null;
            if (!results[2]) return '';
            return decodeURIComponent(results[2].replace(/\+/g, " "));
        }

        //alert(leaveid);
        $(document).ready(function () {
            leaveid = getParameterByName('leaveid');
            GetUserName();
            //SignIn Click
            $('#btn_SignIn').click(function () {
                
                try {
                    var flag = true;
                    var usercode = $('#txtuserid').val().trim().toUpperCase();
                    var password = $('#txtpassword').val().trim();
                    if (usercode == '') {
                        $('#txtuserid').addClass('has-error');
                        flag = false;
                    }
                    if (password == '') {
                        $('#txtpassword').addClass('has-error');
                        flag = false;
                    }
                    if (flag == true) {
                        if (usercode == reportingcode || usercode == hodcode) {
                            if (status == 0) {
                                $.post("/Reportinglogin", { username: usercode, pass: password }, function (data) {
                                    
                                    var json = JSON.parse(data);
                                    if (data.length > 10 && json[0].username.length > 0) {

                                        window.location.href = "/leaveapplicationapprovedisapprove";
                                    }
                                    else {
                                        $("#msgdiv").show();
                                        $("#msgdiv").html("<div class='alert alert-success'>Invalid Username or Password.</div>");
                                    }

                                });
                            }
                            else if (status == 1) {
                                $("#msgdiv").show();
                                $("#msgdiv").html("<div class='alert alert-success'>Already Approved by " + authorizedPersonName + ".</div>");
                            }
                            else {
                                $("#msgdiv").show();
                                $("#msgdiv").html("<div class='alert alert-danger'>Already Rejected by " + authorizedPersonName + ".</div>");
                            }
                        }
                        else {
                            $("#msgdiv").show();
                            $("#msgdiv").html("<div class='alert alert-success'>Sorry, You are not Authorize to SignIn</div>");
                        }
                    }
                    else {
                        return flag;
                    }
                } catch (err) { console.log(err.message); }
            });
            $("#txtuserid").click(function () {
                runEffect();
                return false;
            });
            $("#txtpassword").click(function () {
                runEffect();
                return false;
            });
        });
        function runEffect() {
            var selectedEffect = 'blind';
            var options = {};
            $("#msgdiv").hide(selectedEffect, options, 500);

        }
        function GetUserName() {
            $.post('/GetUsername', { leaveid: leaveid }, function (data) {
                var json = JSON.parse(data);
                username = json[0].username;
                status = json[0].status;
                //alert(status);
                if (status == 1 || status == 2) {
                    $.post('/GetUsername', { leaveid: leaveid, status: status }, function (data) {
                        var json = JSON.parse(data);
                        if (data.length > 10) {
                            authorizedPersonName = json[0].approved_by;
                            //alert(authorizedPersonName);
                        }
                    });
                }
                $.post('/CheckAuthentication', { username: username }, function (data) {
                    var json = JSON.parse(data);
                    reportingid = json[0].reportingperson_id;
                    hodid = json[0].hod_id;
                    reportingcode = json[0].reportingcode;
                    hodcode = json[0].hodcode;
                    associateid = json[0].associateid;

                });

            });
        }
        function RemoveValidation(obj) {
            var id = obj.id;
            $("#" + id).removeClass('has-error');
        }
    </script>

    }