﻿
@{
    ViewData["Title"] = "LeaveGrantReject";
}

<section class="content-header">
    <h1>Leave Grant Reject</h1>
</section>
<!-- Main content -->
<section class="content">
    <div class="box box-default" style="overflow:auto;">
        <!--<div class="box-header with-border">
            <h3 class="box-title">Leave Summary</h3>
            <div id="msgdiv"></div>
        </div>-->
        <div class="box-body">
            <center><span id="NoRecordSpan" style="padding-top:1%;display:none;font-weight:bold;">No Record Found</span></center>
            <table id="applied_leave_list" class="table table-bordered table-striped">
                <thead> </thead>

                <tbody></tbody>
            </table>
        </div>
    </div>
</section>

@section scripts{
    <script type="text/javascript">
        var CreatedBy;
        var UpdatedBy;
        var designationid;
        var username = "<%= name %>";
        var associateid = '';
        $(document).ready(function () {
            GetCreatedBy();
            GetAppliedLeaveMasterList();
            //Check Authorized Menu
            $.post('/check_Authorized_Menu', { username: username, menuName: '/LeaveGrant' }, function (data) {
                var json = JSON.parse(data);
                if (json[0].count == 0) {
                    window.location.href = "/";
                }
            });

            //Open Model Popup with LeaveGrantRejectDetail
            $('#ApproveRejectLeavePopup').on('show.bs.modal', function (event) {
                var button = $(event.relatedTarget) // Button that triggered the modal
                var leaveapp_id = button.data('leaveapp_id') // Extract info from data-* attributes
                var modal = $(this);
                $.post('/GetLeaveApproveRejectDetail', { leaveapp_id: leaveapp_id }, function (data) {

                    var json = JSON.parse(data);
                    if (data.length > 3) {
                        if (json[0].status == 1) {
                            $("#exampleModalLabel").html("<h4>Approved By- " + "<b>" + json[0].userfullname + "<b></h4>");
                        }
                        else {
                            $("#exampleModalLabel").html("<h4>Rejected By- " + "<b>" + json[0].userfullname + "<b></h4>");
                        }


                        $('#txtassociate_code').val(json[0].username);
                        $('#txtassociate_name').val(json[0].associate_name);
                        $('#txtnotifieddate').val(json[0].notificationdate);
                        $('#txtstartdate').val(json[0].startdate);
                        $('#txtenddate').val(json[0].enddate);
                        $('#txtleavetype').val(json[0].leave_code);
                        $('#txttotaldays').val(json[0].requested_no_of_leaves);
                        $('#txtempreason').val(json[0].employeereason);
                        $('#txtemployerreason').val(json[0].employerreason);
                    }
                });
            });
        });
        function GetCreatedBy() {
            try {
                $.post('/GetLoginDetails', { username: username }, function (data) {
                    var json = JSON.parse(data);

                    if (data.length > 3) {
                        CreatedBy = json[0].userid;
                        designationid = json[0].designationid;
                        associateid = json[0].associateid;
                        populateMenu();
                    }
                });
            }
            catch (err) {
                console.log(err.message);
            }
        }
        function populateMenu() {
            $.post('/populate_menu', { associateid: associateid }, function (data) {
                var json = JSON.parse(data);
                if (data.length > 10) {
                    $.each(json, function (key, value) {
                        if (value.menu_url == null) {
                            var menutext = "";
                            menutext += "<li class='dropdown'><a href='#' class='dropdown-toggle' data-toggle='dropdown'>" + value.menu_name + "<span class='caret'></span></a><ul class='dropdown-menu' role='menu'>";
                            $.each(json, function (key1, value1) {
                                if (value1.menu_parent_id == value.menuid) {
                                    menutext += "<li><a href='" + value1.menu_url + "'>" + value1.menu_name + "</a></li>";
                                }
                            });
                            menutext += "</ul></li>";
                            $('#nav').append($(menutext));
                        }
                        else if (value.menu_parent_id == null) {
                            $('#nav').append($('<li><a href="' + value.menu_url + '">' + value.menu_name + '</a></li>'));
                        }
                    });
                }
            });
        }
        function GetAppliedLeaveMasterList() {
            $.post('/GetAssociateid', { username: username }, function (data) {
                var json = JSON.parse(data);
                associateid = json[0].associate_id;
                //alert("Length="+ json[0].reportingmailid.length);
                //if ( json[0].reportingmailid.length > 0) {
                reportingmailid = json[0].reportingmailid;
                //}
                //Status=0(Pending),Status=1(Approved),Status=2(Reject)
                $.post('/getAppliedLeaveList', { Associateid: associateid }, function (data) {
                    var json = JSON.parse(data);
                    if (data.length > 10) {
                        //var leaveid=json[0].leaveapp_id;
                        var datatable = $('#applied_leave_list');
                        datatable.empty();
                        datatable.append(" <thead><tr><th>S.No.</th><th>Associate Code</th><th>Associate Name</th><th>Start Date</th><th>End Date</th><th>For Days</th><th>Status</th><th>Action</th></tr></thead>");
                        $.each(json, function (key, value) {
                            if (this.status == 'Approved') {
                                var html = '<tr row0 odd><td>' + (key + 1) + '</td><td>' + this.associate_code + '</td><td>' + this.userfullname + '</td><td>' + this.startdate + '</td><td>' + this.enddate + '</td><td>' + this.requested_no_of_leaves + '</td><td>' + this.status + '</td><td>' + '<a href = "#"  class="announce1"    data-toggle=\'modal\' data-target=\'#ApproveRejectLeavePopup\'  data-backdrop="static" data-leaveapp_id=' + this.leaveapp_id + '><i class="fa fa-eye cursordiv" ></i></a>' + '</td></tr>';
                            }
                            else if (this.status == 'Rejected') {
                                var html = '<tr row0 odd><td>' + (key + 1) + '</td><td>' + this.associate_code + '</td><td>' + this.userfullname + '</td><td>' + this.startdate + '</td><td>' + this.enddate + '</td><td>' + this.requested_no_of_leaves + '</td><td>' + this.status + '</td><td>' + '<a href = "#"  class="announce1"    data-toggle=\'modal\' data-target=\'#ApproveRejectLeavePopup\'  data-backdrop="static" data-leaveapp_id=' + this.leaveapp_id + ' ><i class="fa fa-eye cursordiv" ></i></a>' + '</td></tr>';
                            }
                            else {
                                var html = '<tr row0 odd><td>' + (key + 1) + '</td><td>' + this.associate_code + '</td><td>' + this.userfullname + '</td><td>' + this.startdate + '</td><td>' + this.enddate + '</td><td>' + this.requested_no_of_leaves + '</td><td>' + this.status + '</td><td>' + '<a href="#"><i class="fa fa-edit cursordiv" onclick="EditAssociateLeave(' + this.leaveapp_id + ')"></i></a>' + '</td></tr>';
                            }
                            datatable.append(html);
                            $('#NoRecordSpan').hide();
                        });
                        $('#applied_leave_list').DataTable();
                    }
                    else {
                        $('#applied_leave_list').empty();
                        $("#NoRecordSpan").show();
                    }

                });
            });
        }

        function EditAssociateLeave(leaveid) {

            window.location.href = '/leaveapprovedisapprove_direct?leaveid=' + leaveid;
        }


    </script>
    }