﻿
@{
    ViewData["Title"] = "LeaveApplication";
}

<h2>LeaveApplication</h2>
<!-- Content Header (Page header) -->
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-6">
            <section class="content-header">
                <h1>
                    Leave Application
                </h1>
            </section>
        </div>
        <div class="col-md-3" style="padding-top:2%;padding-bottom:1%;">

            <select id="ddlMonth" class="form-control">
                <option value="0">Select Month To Export Leave Details</option>
                <option value="1">January</option>
                <option value="2">February</option>
                <option value="3">March</option>
                <option value="4">April</option>
                <option value="5">May</option>
                <option value="6">June</option>
                <option value="7">July</option>
                <option value="8">August</option>
                <option value="9">September</option>
                <option value="10">October</option>
                <option value="11">November</option>
                <option value="12">December</option>
            </select>


        </div>
        <div class="col-md-2" style="padding-top:2%;padding-bottom:1%;">
            <input type="button" id="btnExport" class="btn btn-primary" value="Export To Excel" style="float:right" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="box box-default">
                <div class="box-header with-border">
                    <h3 class="box-title">Leave Application Details</h3>
                </div>
                <div class="box-body">
                    <div id="msgdiv"></div>
                    <div class="form-group col-md-6">
                        <label>
                            <span style="color: #ff0000;">*</span> Leave Type
                        </label>
                        <select id="leave_type" class="form-control" onfocus="RemoveValidation(this);"></select>
                    </div>
                    <div class="form-group col-md-6">
                        <label>
                            <span style="color: #ff0000;">*</span> Notified Date
                        </label>
                        <input type="text" class="form-control" id="notified_date" readonly="readonly" maxlength="100" placeholder="Notified Date"
                               required>
                    </div>
                    <div class="form-group col-md-6">
                        <label>
                            <span style="color: #ff0000;">*</span>Date From
                        </label>
                        <input type="text" class="form-control" id="datefrom" onfocus="RemoveValidation(this);" readonly maxlength="10" placeholder="dd-mm-yyyy"
                               required>
                    </div>
                    <div class="form-group col-md-6">
                        <label>
                            <span style="color: #ff0000;">*</span>Session
                        </label>
                        <select id="datefromsession" class="form-control" onfocus="RemoveValidation(this);">
                            <option value="-1">Select</option>
                            <option value="0">Whole Day</option>
                            <option value="2">Second Half</option>

                        </select>
                    </div>
                    <div class="form-group col-md-6">
                        <label>
                            <span style="color: #ff0000;">*</span> Date To
                        </label>
                        <input type="text" class="form-control" id="dateto" readonly onfocus="RemoveValidation(this);" maxlength="10" placeholder="dd-mm-yyyy"
                               required>
                    </div>
                    <div class="form-group col-md-6">
                        <label>
                            <span style="color: #ff0000;">*</span>Session
                        </label>
                        <select id="datetosession" class="form-control" onfocus="RemoveValidation(this);">
                            <option value="-1">Select</option>
                            <option value="0">Whole Day</option>
                            <option value="1">First Half</option>
                        </select>
                    </div>
                    <div class="form-group col-md-6">
                        <label>
                            <span style="color: #ff0000;">*</span> Requested Number Of Leaves
                        </label>
                        <input type="text" class="form-control" id="noofleaves" readonly="readonly" maxlength="10" placeholder="Requested No of Leaves"
                               required>
                    </div>
                    <div class="form-group col-md-12">
                        <label> Employee Reason</label>
                        <textarea class="form-control" rows="3" id="employeereason" onfocus="RemoveValidation(this);" maxlength="100" placeholder="Enter Employee Reason..."></textarea>
                    </div>
                </div>
                <div class="box-footer">
                    <input type="button" class="btn btn-primary" id="applybtn" value="Apply" />
                </div>
            </div>
            <div class="box box-default">
                <div class="box-header with-border">
                    <h3 class="box-title">Current Leave Status</h3>
                </div>
                <div class="box-body">
                    <div class="callout callout-info nofoundlbl" style="display:none;"></div>
                    <div class="" style="max-height: 153px;min-height: 153px;overflow-y: auto;">
                        <table id="tblleaveApplication" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>S.No.</th>
                                    <th>Leave Type</th>
                                    <th>Entitled</th>
                                    <th>Opening</th>
                                    <th>Availed</th>
                                    <th>Balance</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="box box-default">
                <div class="box-header with-border">
                    <h3 class="box-title">Leave Summary</h3>
                </div>
                <div class="box-body">
                    <div class="form-group col-md-4">
                        <label>
                            <span style="color: #ff0000;">*</span> To Date
                        </label>
                        <input type="text" id="txt_todate" class="form-control" onfocus="RemoveValidation(this);" readonly placeholder="dd-mm-yyyy" />
                    </div>
                    <div class="form-group col-md-4">
                        <label>
                            <span style="color: #ff0000;">*</span> From Date
                        </label>
                        <input type="text" id="txt_fromdate" class="form-control" onfocus="RemoveValidation(this);" readonly placeholder="dd-mm-yyyy" />
                    </div>
                    <div class="form-group col-md-4">
                        <input type="button" class="btn btn-primary" id="btn_search" value="Search" style="margin-top: 15%;" />
                    </div>
                    <!--</div>
                    <div class="box-body">-->
                    <div class="callout callout-info nofoundlbl" style="display:none;"></div>
                    <div class="col-md-12" style="max-height: 370px;min-height: 370px;overflow:auto;">
                        <span id="msgspan" style="display:none;">No Record Found</span>
                        <table id="tblApprovedleavelist" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>S.No.</th>
                                    <th>Apply Date</th>
                                    <th>Leave Type</th>
                                    <th style='width: 30%;'>Leave Reason</th>
                                    <th>Days</th>
                                    <th>Approved By</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                        </table>

                    </div>
                </div>
            </div>
        </div>
        <div id="divExport">
            <table id="tblLeaveDetails" class="table table-bordered table-striped" style="display:none">
                <thead>
                    <tr>
                        <th>Leave Type</th>
                        <th>Applied On</th>
                        <th>Employee Remarks</th>
                        <th>From Date</th>
                        <th>To Date</th>
                        <th>Total Days</th>
                        <th>To Date</th>
                        <th>Status</th>
                        <th>Approved On</th>
                        <th>Rejected On</th>
                        <th>Employer Comment</th>
                    </tr>
                </thead>
            </table>
        </div>

    </div>
</section>
<!-- /.content -->

@section scripts{


    <script type="text/javascript">
        var CreatedBy;
        var UpdatedBy;
        var designationid;
        var username = "<%= name %>";
        var carryfor;
        var leavetypeid;
        var official_email = '';
        var reportingmailid = '';
        var hodofficialmail = '';
        var mailto_hod = '';
        var leave_id = '';
        var associate_code = '';
        var associatename = '';
        var daterange = '';
        var InsertedDate = '';
        var convdate = '';
        var associateid = '';

        $(document).ready(function () {
            $("#btnExport").click(function (e) {
                window.open('data:application/vnd.ms-excel,' + encodeURIComponent($('#divExport').html()));
                e.preventDefault();
            });
            GetCreatedBy();
            getcurrentdate();
            GetLeaveType();
            BindLeaveTable();
            GetAssociateName();
            $("#ddlMonth").change(function () {

                $('#tblLeaveDetails').empty();
                BindLeaveDetails(CreatedBy);
            });

            //Get Current Date
            function getcurrentdate() {
                try {
                    var fullDate = new Date()
                    //convert Date and month to 2 digits
                    var twoDigitdate = ((fullDate.getDate() < 10) ? '0' + (fullDate.getDate()) : (fullDate.getDate()));
                    var twoDigitMonth = (((fullDate.getMonth() + 1) < 10) ? '0' + (fullDate.getMonth() + 1) : (fullDate.getMonth() + 1));
                    var currentDate = twoDigitdate + "-" + twoDigitMonth + "-" + fullDate.getFullYear();
                    $('#notified_date').val(currentDate);
                }
                catch (err) { console.log(err.message); }
            }
            $("#datefrom").datepicker({
                minDate: 0,
                dateFormat: 'dd-mm-yy',
                changeMonth: true,
                changeYear: true,
                onClose: function (selectedDate) {
                    $("#dateto").datepicker("option", "minDate", selectedDate);
                }
            });

            $("#dateto").datepicker({
                minDate: 0,
                dateFormat: 'dd-mm-yy',
                changeMonth: true,
                changeYear: true,
                onClose: function (selectedDate) {
                    $("#datefrom").datepicker("option", "maxDate", selectedDate);
                }
            });
            $("#txt_todate").datepicker({

                dateFormat: 'dd-mm-yy',
                changeMonth: true,
                changeYear: true,
                onClose: function (selectedDate) {
                    $("#txt_fromdate").datepicker("option", "minDate", selectedDate);
                }
            });

            $("#txt_fromdate").datepicker({

                dateFormat: 'dd-mm-yy',
                changeMonth: true,
                changeYear: true,
                onClose: function (selectedDate) {
                    $("#txt_todate").datepicker("option", "maxDate", selectedDate);
                }
            });

            $('#datefromsession').change(function () {
                var dayFrom = $("#datefrom").datepicker('getDate');
                var dayTo = $("#dateto").datepicker('getDate');
                var StartSession = $('#datefromsession :selected').val();
                var EndSession = $('#datetosession :selected').val();
                if (dayFrom != '' && dayTo != '' && StartSession != '-1' && EndSession != '-1') {
                    GetRequestedNoOfLeaves();
                }
            });

            $('#datetosession').change(function () {
                var dayFrom = $("#datefrom").datepicker('getDate');
                var dayTo = $("#dateto").datepicker('getDate');
                var StartSession = $('#datefromsession :selected').val();
                var EndSession = $('#datetosession :selected').val();
                if (dayFrom != '' && dayTo != '' && StartSession != '-1' && EndSession != '-1') {
                    GetRequestedNoOfLeaves();
                }
            });
            $('#datefrom').change(function () {
                var dayFrom = $("#datefrom").datepicker('getDate');
                var dayTo = $("#dateto").datepicker('getDate');
                var StartSession = $('#datefromsession :selected').val();
                var EndSession = $('#datetosession :selected').val();
                if (dayFrom != '' && dayTo != '' && StartSession != '-1' && EndSession != '-1') {
                    GetRequestedNoOfLeaves();
                }
            });
            $('#dateto').change(function () {
                var dayFrom = $("#datefrom").datepicker('getDate');
                var dayTo = $("#dateto").datepicker('getDate');
                var StartSession = $('#datefromsession :selected').val();
                var EndSession = $('#datetosession :selected').val();
                if (dayFrom != '' && dayTo != '' && StartSession != '-1' && EndSession != '-1') {
                    GetRequestedNoOfLeaves();
                }
                // Returns an array of dates between the two dates
            });
            //Bind Leave Type
            function GetLeaveType() {
                try {
                    $.post("/GetActiveLeaveType", function (data) {
                        var json = JSON.parse(data);
                        if (data.length > 10) {
                            $("#leave_type").append($("<option value='-1' selected='selected'>Select</option>"));
                            $.each(json, function (key, value) {
                                $("#leave_type").append($("<option></option>").val(value.leaveid).html(value.leave_code));
                            });
                        }
                    });
                }
                catch (err) {
                    console.log(err.message);
                }
            }
            //function GetAssosiateAndReportingEmailid() {

            //    $.post("/GetAssociateAndReportingEmailid", { username: username }, function (data) {
            //        var json = JSON.parse(data);
            //        if (data.length > 10) {
            //            associateid = json[0].associate_id;
            //            reportingmailid = json[0].reportingmailid;
            //            official_email = json[0].official_email;
            //            mailto_hod = json[0].mailto_hod;
            //        }
            //    });
            //}

            //To Get All Mail Ids for cc
            function GetHODEmailId() {
                try {
                    $.post("/GetHODEmailId", { username: username }, function (data) {
                        var json = JSON.parse(data);
                        if (data.length > 10) {
                            for (var i = 0; i < json.length; i++) {
                                if (hodofficialmail == '') {
                                    hodofficialmail += json[i].official_email;
                                }
                                else {
                                    if (json[i - 1].official_email != json[i].official_email)
                                        hodofficialmail += ";" + json[i].official_email;
                                }
                            }
                        }

                    });
                } catch (err) { console.log(err.message); }
            }
            //Apply Leave
            $('#applybtn').click(function () {
                try {
                    
                    GetHODEmailId();
                    //GetAssosiateAndReportingEmailid();

                    flag = 0;
                    var arrdate = InsertedDate;

                    //alert(convert(arrdate));
                    leavetypeid = $('#leave_type :selected').val();
                    var NotifiedDate = $('#notified_date').val();
                    if (NotifiedDate != '') {
                        var arr = NotifiedDate.split('-');
                        NotifiedDate = arr[1] + '-' + arr[0] + '-' + arr[2];
                    }
                    var startdate = $('#datefrom').val();
                    var StartDate = $('#datefrom').val();
                    if (StartDate != '') {
                        var arr = StartDate.split('-');
                        StartDate = arr[1] + '-' + arr[0] + '-' + arr[2];
                    }
                    var enddate = $('#dateto').val();
                    var EndDate = $('#dateto').val();

                    if (EndDate != '') {
                        var arr = EndDate.split('-');
                        EndDate = arr[1] + '-' + arr[0] + '-' + arr[2];
                    }
                    var StartSession = $('#datefromsession :selected').text();
                    var EndSession = $('#datetosession :selected').text();
                    var NoOfLeave = $('#noofleaves').val();
                    var EmpReason = $('#employeereason').val().trim();
                    if (leavetypeid == '-1') {
                        $('#leave_type').parent().addClass('has-error');
                        flag++;
                    }
                    if (StartDate == '') {
                        $('#datefrom').parent().addClass('has-error');
                        flag++;
                    }
                    if (EndDate == '') {
                        $('#dateto').parent().addClass('has-error');
                        flag++;
                    }
                    if (StartSession == 'Select') {
                        $('#datefromsession').parent().addClass('has-error');
                        flag++;
                    }
                    if (EndSession == 'Select') {
                        $('#datetosession').parent().addClass('has-error');
                        flag++;
                    }
                    if (EmpReason == '') {
                        $('#employeereason').parent().addClass('has-error');
                        flag++;
                    }
                    if (flag > 0) {
                        return false;
                    }
                    else {
                        var empReason = ReplaceQuote(EmpReason);
                        $.post('/CheckLeave_ValidDateDate', { userid: CreatedBy, startdate: StartDate, enddate: EndDate }, function (data) {
                            var json = JSON.parse(data);
                            if (data.length > 10) {
                                
                                $("#msgdiv").show();
                                $("#msgdiv").html("<div class='alert alert-danger'>Already Leave taken on this Date</div>");
                            }
                            else {
                                
                                $.post('/InsertLeaveApplication', { userid: CreatedBy, leavetypeid: leavetypeid, notificationdate: NotifiedDate, startdate: StartDate, enddate: EndDate, startsession: StartSession, endsession: EndSession, employeereason: empReason, leaves: NoOfLeave, arrdaterange: arrdate }, function (data) {
                                    var json = JSON.parse(data);
                                    if (data.length > 10) {
                                        
                                        leave_id = json[0].leaveapp_id;
                                        associate_code = json[0].username;
                                        associatename = json[0].associate_name;
                                        $("#msgdiv").show();
                                        $("#msgdiv").html("<div class='alert alert-success'>Saved Successfully</div>");
                                        flag = true;
                                        var mailtext1 = '';
                                        var HostName = window.location.host;
                                        HostName = "http://" + HostName;
                                        mailtext1 += '<b>' + associate_code + '</b><br/>';
                                        mailtext1 += '<b>' + associatename + '</b><br/>';
                                        mailtext1 += '<p> Leave from' + ' ' + startdate + ' ' + 'to' + ' ' + enddate + ' ' + 'total days' + ' ' + NoOfLeave + ' ' + 'days' + ' ' + 'Reason' + ' ' + EmpReason + '<br/>';
                                        mailtext1 += 'has applied for leave <br/>';
                                        mailtext1 += 'for take action please click below link<br/><br/>';
                                        mailtext1 += '<b>For Internal Use : </b><a href="';
                                        var _firstpart = '/leaveapplication_authentication?leaveid=';
                                        var _sceondpart = '">Click Here</a><br/><b>For External Use : </b><a href="';
                                        var _thirdPart = '">Click Here</a><br/><br/>Regards<br/>' + associatename + '<br/><br/>Declaration:If you have already received e-mail for Leave Application then ignore this mail.<br/>';

                                        var url = "";
                                        var Totalmailurl = mailtext1;
                                        var hodpersonalmailid = hodofficialmail;
                                        $.post('/LeaveaAppMail', { associatename: associatename, totalmail: Totalmailurl, reportingmailid: reportingmailid, hodpersonalmailid: hodpersonalmailid, leaveid: leave_id, firstpart: _firstpart, secondpart: _sceondpart, thirdpart: _thirdPart });
                                    }
                                });
                                BindLeaveTable();
                                $('select option:contains("Select")').prop('selected', true);
                                $('#datefrom').val('');
                                $('#dateto').val('');
                                $('#noofleaves').val('');
                                $('#employeereason').val('');
                            }
                        });
                    }
                    return flag;
                }
                catch (err) { console.log(err.message); }
            });
            //Searching
            $('#btn_search').click(function () {
                try {
                    flag = 0;
                    var todate = $('#txt_todate').val();
                    if (todate != '') {
                        var arr = todate.split('-');
                        todate = arr[2] + '-' + arr[1] + '-' + arr[0];
                    }
                    var fromdate = $('#txt_fromdate').val();
                    if (fromdate != '') {
                        var arr = fromdate.split('-');
                        fromdate = arr[2] + '-' + arr[1] + '-' + arr[0];
                    }
                    if (todate == '') {
                        $('#txt_todate').parent().addClass('has-error');
                        flag++;
                    }
                    if (fromdate == '') {
                        $('#txt_fromdate').parent().addClass('has-error');
                        flag++;
                    }
                    if (flag > 0) {
                        return false;
                    }
                    else {

                        $.post('/GetLeaveListOnSearchClick', { userId: CreatedBy, toDate: todate, fromDate: fromdate }, function (data) {
                            var json = JSON.parse(data);

                            if (data.length > 10) {
                                var datatable = $('#tblApprovedleavelist');
                                datatable.empty();
                                datatable.append("<thead><tr><th>S.No.</th><th>Apply Date</th><th>Leave Type</th><th style='width: 30%;'>Leave Reason</th><th>Days</th><th>Approved By</th><th>Status</th></tr></thead>");
                                $.each(json, function (key, Value) {
                                    var notificationdate = this.notificationdate;
                                    if (notificationdate != '') {
                                        var arr = notificationdate.split('-');
                                        notificationdate = arr[2] + '-' + arr[1] + '-' + arr[0];
                                    }
                                    var html = "<tr row0 odd><td>" + (key + 1) + "</td><td>" + notificationdate + "</td><td>" + this.leave_code + "</td><td style='width: 30%;'>" + this.employeereason + "</td><td>" + this.requested_no_of_leaves + "</td><td>" + this.associate_name + "</td><td>" + this.status + "</td></tr>";
                                    datatable.append(html);
                                    $('#msgspan').hide();
                                });
                            }
                            else {
                                $('#tblApprovedleavelist').empty();
                                $('#msgspan').show();
                            }
                        });
                    }
                    return flag;
                }
                catch (err) { console.log(err.message); }
            });
            //Bind Leave Status
            function BindLeaveTable() {

                $.post('/GetLeaveStatus', { name: username }, function (data) {
                    var json = JSON.parse(data);
                    if (data.length > 10) {
                        var odhtml = '';
                        var datatable = $('#tblleaveApplication');
                        datatable.empty();
                        datatable.append("<thead><tr><th style='width: 10%;'>Leave Type</th><th class='entitled' style='width:7%;'>Entitled</th><th class='opening' style='width: 12%;'>Opening</th><th class='availed' style='width: 7%;'>Availed</th><th style='width: 10%;'>Balance</th></tr></thead>");
                        $.each(json, function (key, Value) {

                            var entitled = this.case;
                            var opening = this.opening;
                            if (opening == null || opening == '') {
                                opening = 0;
                            }

                            var leave = this.availed;
                            if (leave == null || leave == '') {
                                leave = 0;
                            }

                            var balance = entitled - opening - leave;
                            var OD_Balance = 0;
                            var OD_Availed = 0;
                            //if (balance < 0) {
                            //    balance = (-1) * balance;
                            //}
                            var html = "<tr row0 odd><td>" + this.leave_code + "</td><td>" + this.case + "</td><td>" + opening + "</td><td>" + leave + "</td><td>" + balance + "</td></tr>";
                            odhtml = "<tr row0 odd><td>OD</td><td>" + this.od + "</td><td>0</td><td>" + OD_Availed + "</td><td>" + OD_Balance + "</td></tr>";
                            datatable.append(html);

                        });
                        datatable.append(odhtml);
                    }
                    else {
                        $('#tblleaveApplication').hide();
                        $("#msgdiv").show();
                        $("#msgdiv").html("<div class='alert alert-success'>No Record Found.</div>");
                    }
                });
            }

            //Check Authorized Menu
            $.post('/check_Authorized_Menu', { username: username, menuName: '/LeaveApplicant' }, function (data) {
                var json = JSON.parse(data);
                if (json[0].count == 0) {
                    window.location.href = "/";
                }
            });

        });
        function GetAssociateName() {

        }
        //Function to get created by

        function populateMenu() {
            $.post('/populate_menu', { associateid: associateid }, function (data) {
                var json = JSON.parse(data);
                if (data.length > 10) {
                    $.each(json, function (key, value) {
                        if (value.menu_url == null) {
                            var menutext = "";
                            menutext += "<li class='dropdown'><a href='#' class='dropdown-toggle' data-toggle='dropdown'>" + value.menu_name + "<span class='caret'></span></a><ul class='dropdown-menu' role='menu'>";
                            $.each(json, function (key1, value1) {
                                if (value1.menu_parent_id == value.menuid) {
                                    menutext += "<li><a href='" + value1.menu_url + "'>" + value1.menu_name + "</a></li>";
                                }
                            });
                            menutext += "</ul></li>";
                            $('#nav').append($(menutext));
                        }
                        else if (value.menu_parent_id == null) {
                            $('#nav').append($('<li><a href="' + value.menu_url + '">' + value.menu_name + '</a></li>'));
                        }
                    });
                }
            });
        }
        function GetCreatedBy() {
            try {
                $.post('/GetLoginDetails', { username: username }, function (data) {
                    var json = JSON.parse(data);
                    if (data.length > 3) {
                        CreatedBy = json[0].userid;
                        designationid = json[0].designationid;
                        associateid = json[0].associateid;
                        populateMenu();
                        BindLeaveDetails(CreatedBy);
                        GetApprovedLeaveSummary(CreatedBy);
                    }
                });
            } catch (err) {
                console.log(err.message);
            }
        }
        function GetRequestedNoOfLeaves() {
            
            var dayFrom = $("#datefrom").datepicker('getDate');
            console.log("dayFrom : " + dayFrom);
            var dayTo = $("#dateto").datepicker('getDate');
            var StartSession = $('#datefromsession :selected').val();
            var EndSession = $('#datetosession :selected').val();
            days = ((dayTo - dayFrom) / (1000 * 60 * 60 * 24)) + 1;
            if (StartSession == '1' && EndSession == '0' && days != 1) {
                days = ((dayTo - dayFrom) / (1000 * 60 * 60 * 24) + 1);
            }
            else if (StartSession == '2' && EndSession == '0' && days != 1) {
                days = ((dayTo - dayFrom) / (1000 * 60 * 60 * 24) + 1) - 0.5;
            }
            else if ((EndSession == '1' || EndSession == '2') && StartSession == '0' && days != 1) {
                days = ((dayTo - dayFrom) / (1000 * 60 * 60 * 24) + 1) - 0.5;
            }
            else if ((StartSession == '1' || StartSession == '2') && (EndSession == '1' || EndSession == '2') && days != 1) {
                days = ((dayTo - dayFrom) / (1000 * 60 * 60 * 24));
            }
            else if (StartSession == '0' && EndSession == '0' && days != 1) {
                days = ((dayTo - dayFrom) / (1000 * 60 * 60 * 24)) + 1;
            }
            else if (days == 1 && StartSession == '0' && EndSession == '0') {
                days = 1;
            }
            else if (days == 1 && (StartSession == '1' || StartSession == '2') || (EndSession == '1' || EndSession == '2')) {
                days = 0.5;
            }
            $('#noofleaves').val(days);
            
            var i = 0.0;
            InsertedDate = "";
            var getDates = function (dayFrom, dayTo) {
                var dates = [],
                    currentDate = dayFrom,
                    addDays = function (days) {
                        var date = new Date(this.valueOf());
                        date.setDate(date.getDate() + days);
                        return date;
                    };
                while (currentDate <= dayTo) {
                    dates.push(currentDate);
                    currentDate = addDays.call(currentDate, 1);
                }
                return dates;
            };
            var dates = getDates(new Date(dayFrom), new Date(dayTo));
            dates.forEach(function (date) {
                if (InsertedDate == "") {
                    if (StartSession == "0") {
                        InsertedDate += convert(date) + "~1.0";
                        i = i + 1.0;
                    }
                    else {
                        InsertedDate += convert(date) + "~0.5";
                        i = i + 0.5;
                    }
                }
                else {
                    if ((days - i) < 1) {
                        if (EndSession == "1") {
                            InsertedDate += '#' + convert(date) + "~0.5";
                            i = i + 0.5;
                        }
                        else {
                            InsertedDate += '#' + convert(date) + "~1.0";
                            i = i + 1.0;
                        }
                    }
                    else {
                        InsertedDate += '#' + convert(date) + "~1.0";
                        i = i + 1.0;
                    }
                }
            });
            while (convert(dayFrom) <= convert(dayTo)) {
                daterange = [];
                daterange.push(convert(dayFrom));
                dayFrom = new Date(dayFrom.setDate(
                    dayFrom.getDate() + 1
                ))
            }

        }
        //Remove Validation
        function RemoveValidation(obj) {
            var id = obj.id;
            $("#" + id).parent().removeClass('has-error');
        }
        function convert(str) {
            
            var date = new Date(str),
                mnth = ("0" + (date.getMonth() + 1)).slice(-2),
                day = ("0" + date.getDate()).slice(-2);
            return [date.getFullYear(), mnth, day].join("-");
        }

        //Bind Leave Details To Export in Excel Sheet
        function BindLeaveDetails(CreatedBy) {
            var month = $("#ddlMonth").val();
            $.post('/GetLeaveDetails', { userId: CreatedBy, month: month }, function (data) {
                var json = JSON.parse(data);
                if (data.length > 10) {
                    var datatable = $('#tblLeaveDetails');
                    datatable.empty();
                    datatable.append("<thead><tr><th>S.No.</th><th>Leave Type</th><th>Applied On</th><th>Employee Remarks</th><th>From Date</th><th>To Date</th><th>Total Days</th><th>Employer Comment</th><th>Status</th><th>Approved/Rejected On</th></tr></thead>");
                    $.each(json, function (key, Value) {
                        var leaveType = this.leavetext;
                        var appliedOn = this.notificationdate;
                        var employeeRemark = this.employeereason;
                        var fromDate = this.startdate;
                        var toDate = this.enddate;
                        var totalDays = this.requested_no_of_leaves;
                        var employerReason = this.employerreason;
                        var updatedOn = this.updatedon;
                        //     var status = "";
                        //     if (this.status == 0) {
                        //         status = "Pending";
                        //     }
                        //     if (this.status ==1 ) {
                        //         status = "Approved";
                        //     }
                        //     if (this.status == 2) {
                        //         status = "Rejected";
                        //     }
                        //
                        var html = "<tr row0 odd><td>" + (key + 1) + "</td><td>" + leaveType + "</td><td>" + appliedOn + "</td><td>" + employeeRemark + "</td><td>" + fromDate + "</td><td>" + toDate + "</td><td>" + totalDays + "</td><td>" + employerReason + "</td><td>" + status + "</td><td>" + updatedOn + "</td></tr>";

                        datatable.append(html);

                    });
                }

            });
        }

        function GetApprovedLeaveSummary(CreatedBy) {
            $.post('/GetApprovedLeaveList', { userId: CreatedBy }, function (data) {
                var json = JSON.parse(data);

                if (data.length > 10) {
                    var datatable = $('#tblApprovedleavelist');
                    datatable.empty();
                    datatable.append("<thead><tr><th>S.No.</th><th>Apply Date</th><th>Leave Type</th><th style='width: 30%;'>Leave Reason</th><th>Day</th><th>Approved By</th><th>Status</th></tr></thead>");
                    var LeaveStatus = '';
                    $.each(json, function (key, Value) {
                        var notificationdate = this.notificationdate;
                        if (notificationdate != '') {
                            var arr = notificationdate.split('-');
                            notificationdate = arr[2] + '-' + arr[1] + '-' + arr[0];
                        }
                        if (this.status == '1') {
                            LeaveStatus = "Approved";
                        }
                        else if (this.status == '2') {
                            LeaveStatus = "Rejected";
                        }
                        else {
                            LeaveStatus = "Pending";
                        }
                        var html = "<tr row0 odd><td>" + (key + 1) + "</td><td>" + notificationdate + "</td><td>" + this.leave_code + "</td><td style='width: 30%;'>" + this.employeereason + "</td><td>" + this.requested_no_of_leaves + "</td><td>" + this.associate_name + "</td><td>" + LeaveStatus + "</td></tr>";
                        datatable.append(html);
                        $('#msgspan').hide();
                    });
                }
                else {
                    $('#tblApprovedleavelist').empty();
                    $('#msgspan').show();
                }

            });
        }
        function ReplaceQuote(data) {
            var result = '';
            var arr = [];
            arr = data.split(' ');
            for (var i in arr) {
                var a = '';
                a = arr[i].replace("'", "''");
                if (i == 0) {
                    result = result + a
                }
                else {
                    result = result + ' ' + a;
                }

            }
            return result;
        }
    </script>

    }