﻿@model hrms_core.ViewModel.LoginHistoryVM
@{
    ViewData["Title"] = "LoginHistory";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Login History
    </h1>
</section>

<!-- Main content -->
<section class="content">
    <div id="MsgDiv">
        @if (TempData["msg"] != null)
        {
            if (Convert.ToString(TempData["msg"]).ToLower().Contains("wrong") || Convert.ToString(TempData["msg"]).ToLower().Contains("not"))
            {
                <div class='alert alert-danger'>
                    <label>@TempData["msg"]</label><a onclick="$('#MsgDiv').hide(500);" class="anchor pull-right"><i class="fa fa-window-close" aria-hidden="true"></i></a>
                </div>
            }
            else if (Convert.ToString(TempData["msg"]).ToLower().Contains("already") || Convert.ToString(TempData["msg"]).ToLower().Contains("exist"))
            {
                <div class='alert alert-warning'>
                    <label>@TempData["msg"]</label><a onclick="$('#MsgDiv').hide(500);" class="anchor pull-right"><i class="fa fa-window-close" aria-hidden="true"></i></a>
                </div>
            }
            else
            {
                <div class='alert alert-success'>
                    <label>@TempData["msg"]</label><a onclick="$('#MsgDiv').hide(500);" class="anchor pull-right"><i class="fa fa-window-close" aria-hidden="true"></i></a>
                </div>
            }
        }
    </div>
    <div class="col-md-12">
        <div class="box box-default">
            <div class="box-header with-border">
                <h3 class="box-title">Login History Details</h3>
            </div>
            <div class="box-body">
                <table id="tblLoginHistory" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>SNo</th>
                            <th>Associate Name</th>
                            <th>Associate Code</th>
                            <th>Email Id</th>
                            @*<th>Device Name</th>*@
                            <th>Device Type</th>
                            <th>Device IP</th>
                            @*<th>Location</th>*@
                            <th>Logged in Time</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            int i = 1;
                            foreach (var item in Model.LoginHistoryList)
                            {
                                <tr>
                                    <td>@i</td>
                                    <td>@item.associate_name</td>
                                    <td>@item.associate_code</td>
                                    <td>@item.associate_email</td>
                                    @*<td>@item.device_name</td>*@
                                    <td>@item.device_type</td>
                                    <td>@item.device_ip</td>
                                    @*<td>@item.device_location</td>*@
                                    <td>@item.created_on</td>
                                </tr>
                                i = i + 1;
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
<!-- /.content -->

@section scripts{

    <script>
        $(document).ready(function () {
            $("#tblLoginHistory").DataTable();
            $('html,body').animate({ scrollTop: $("html").offset().top }, 800);
            $('input[type="text"]').click(function () {
                $("#MsgDiv").hide(500);
                //$("#MsgDiv").hide(selectedEffect, options, 500);
            });
        });
    </script>

}