﻿
@{
    ViewData["Title"] = "PayElementHeader";
}

<h2>PayElementHeader</h2>
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Pay Element
    </h1>
</section>
<!-- Main content -->
<section class="content">
    <div class="row">
        <div id="msgdiv"></div>
        
        

    </div>

</section>

<!-- /.content -->

@section scripts{

    <script type="text/javascript">
        var CreatedBy;
        var UpdatedBy;
        var designationid;
        var HeaderId;
        var username = "<%= name %>";
        var associateid = '';
        var associate_code = '';
        var associate_name = '';
        var chkBoxValue = '';
        $(document).ready(function () {

            GetCreatedBy();
            GetEmployeeList();
            getHeader();
            $("#btn_SaveHeader").click(function () {

                var HeaderName = $("#txtHeaderName").val().trim();
                var flag = 0;
                var chkDeductionType = false;
                if ($("#chkDeductionType").is(':checked')) {
                    chkDeductionType = true;
                }
                else {
                    chkDeductionType = false;
                }
                if (HeaderName == '') {
                    flag++;
                    $("#txtHeaderName").addClass('has-error');
                }
                if (flag > 0) {
                    return false;
                }
                else {
                    if ($("#btn_SaveHeader").val() == "Save") {
                        var method = $.post('/SaveHeader', { HeaderName: HeaderName, CreatedBy: CreatedBy, chkDeductionType: chkDeductionType });
                        method.success(function () {
                            getHeader();
                            $("#msgdiv").html("<div class='alert alert-success'>Saved Successfully</div>");
                            $("#msgdiv").show(500);
                        });
                        method.error(function () {
                            $("#msgdiv").html("<div class='alert alert-danger'>Something went Wrong Saving the Header</div>");
                            $("#msgdiv").show(500);
                        });
                    }
                    else {
                        var method = $.post('/UpdateHeader', { HeaderName: HeaderName, UpdatedBy: CreatedBy, chkDeductionType: chkDeductionType, HeaderId: HeaderId });
                        method.success(function () {
                            getHeader();
                            $("#msgdiv").html("<div class='alert alert-success'>Update Successfully</div>");
                            $("#msgdiv").show(500);
                            $("#btn_SaveHeader").val("Save");
                            $("#txtHeaderName").val('');
                        });
                        method.error(function () {
                            $("#msgdiv").html("<div class='alert alert-danger'>Something went Wrong Updating the Header</div>");
                            $("#msgdiv").show(500);
                        });
                    }
                }
            });

            $("#btn_Save").click(function () {
                var flag = 0;
                var AssociateId = $("#ddl_assocateName :selected").val();

                if (AssociateId == "-1") {
                    flag++;
                    $("#ddl_assocateName").addClass('has-error');
                }
                var headerId = [];
                var header_id = '';
                $('#Header_Assign input:checked').each(function () {
                    headerId.push(this.value);
                });
                if ($("#btn_Save").val() == 'Save') {
                    var numberOfChecked = $('input:checkbox:checked').length;
                    if (numberOfChecked > 0) {
                        for (var i = 0; i < headerId.length; i++) {
                            header_id = headerId[i].split(',');
                            var method = $.post('/Save_HeaderAssign', { AssociateId: AssociateId, HeaderId: header_id[0], HeaderDeduction: header_id[1], CreatedBy: CreatedBy })
                            method.success(function () {
                                $("#msgdiv").html("<div class='alert alert-success'>Header Assigned Successfully</div>");
                                $("#msgdiv").show(500);
                            });
                        }
                    }
                    else {
                        alert('Please select atleast 1 head');
                    }
                }
                else {
                    var method = $.post('/Delete_HeaderAssign', { AssociateId: AssociateId })
                    method.success(function () {
                        var numberOfChecked = $('input:checkbox:checked').length;
                        if (numberOfChecked > 0) {
                            var header_id = '';
                            headerId = [];
                            $('#Header_Assign input:checked').each(function () {
                                headerId.push(this.value);
                            });
                            for (var i = 0; i < headerId.length; i++) {

                                header_id = headerId[i].split(',');
                                var method = $.post('/Save_HeaderAssign', { AssociateId: AssociateId, HeaderId: header_id[0], HeaderDeduction: header_id[1], CreatedBy: CreatedBy })
                                method.success(function (data) {
                                    $("#msgdiv").html("<div class='alert alert-success'>Header Updated Successfully</div>");
                                    $("#msgdiv").show(500);
                                });
                                method.error(function () {
                                    $("#msgdiv").html("<div class='alert alert-error'>Something went Wrong while Updating the Header Assign</div>");
                                    $("#msgdiv").show(500);
                                });
                            }

                        }
                        else {
                            alert('Please select atleast 1 head');
                        }
                    });
                }

                if (flag > 0) {
                    return false;
                }
                else {

                }
            });

        });

        //
        $("#ddl_assocateName").change(function () {
            var Associate_id = $("#ddl_assocateName option:selected").val();
            var method = $.post('/GetHeader_Assign', { Associate_id: Associate_id });
            method.success(function (data) {

                var json = JSON.parse(data);
                if (data.length > 10) {
                    var chkbox = chkBoxValue.split('/');
                    var head = [];
                    var headId = [];
                    var isDeduction = [];
                    $('input[type=checkbox]').prop('checked', false);
                    for (var i = 0; i < json.length; i++) {
                        head[i] = json[i].header_id + ',' + json[i].isdeduction;
                        isDeduction[i] = json[i].isdeduction;
                        var totalCheckboxes = $('input:checkbox').length;
                        var chkBox = [];
                        for (var j = 0; j < totalCheckboxes; j++) {
                            if (head[i] == chkbox[j]) {

                                $("input[value='" + head[i] + "']").prop('checked', true);
                            }
                        }
                    }
                    $("#btn_Save").val("Update");
                }
                else {
                    $('input[type=checkbox]').prop('checked', false);
                    $('#btn_Save').val('Save');
                }
            });
        });

        function getHeader() {
            var method = $.post('/GetHeader');
            method.success(function (data) {
                var checkBoxText = '';
                var json = JSON.parse(data);
                if (data.length > 10) {
                    $.each(json, function (key, value) {

                        checkBoxText += "<tr row0 odd><td style='width:20%;padding-left:30px; '><input type='checkbox' class='listcheckbox' value=" + this.headerid + ',' + this.isdeduction + "></td><td  style='width:80%'>" + this.headername + "</td><td class='isDeduct_tr'>" + this.isdeduction + "</td></tr>";
                        chkBoxValue += this.headerid + ',' + this.isdeduction + '/';
                    });

                    $("#Header_Assign").empty();
                    $("#Header_Assign").append(checkBoxText);
                    $(".isDeduct_tr").hide();
                    $("#tbl_HeaderDetail").empty();
                    $("#tbl_HeaderDetail").append("<thead><tr><th>S.No</th><th>Header Name</th><th>Header Type</th><th>Action</th></tr></thead>");
                    $.each(json, function (key, value) {
                        var deductionType = this.isdeduction == true ? 'Deduction' : 'Earning';
                        var html = '<tr><td>' + (key + 1) + '</td><td>' + this.headername + '</td><td>' + deductionType + '</td><td><a title="Edit" onclick="EditHeader(' + this.headerid + ')" style="cursor:pointer"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>    |    <a title="Delete" onclick="DeleteHeader(' + this.headerid + ')" style="cursor:pointer"><i class="fa fa-trash-o" aria-hidden="true"></i></a> </td></tr>';
                        $('#tbl_HeaderDetail').append(html);
                    });
                    $('#tbl_HeaderDetail').dataTable();
                }
                else {
                    $("#tbl_HeaderDetail").empty();
                    $("#tbl_HeaderDetail").append("<thead><tr><th>S.No</th><th>Name</th><th>Delete</th><th>Edit</th></tr></thead>");
                    $('#tbl_HeaderDetail').dataTable();
                }

            });
            method.error(function () {
                $("#msgdiv").html("<div class='alert alert-error'><label>Something went wrong while Binding the Lead Source....</label></div>");
                $("#msgdiv").show(500);
            });
        }

        function EditHeader(id) {
            var method = $.post("/GetHeaderById", { id: id });
            method.success(function (data) {
                var json = JSON.parse(data);

                HeaderId = json[0].headerid;
                $("#txtHeaderName").val(json[0].headername);
                if (json[0].isdeduction == true) {
                    $("#chkDeductionType").selected(true);
                }
                else {
                    $("#chkDeductionType").selected(false);
                }
                $("#btn_SaveHeader").val("Update");
            });
            method.error(function () {

            });
        }

        function DeleteHeader(id) {

            var method = $.post("/DeleteHeaderById", { id: id });
            method.success(function (data) {
                var json = JSON.parse(data);
                $("#msgdiv").html("<div class='alert alert-success'>Delete Successfully</div>");
                $("#msgdiv").show(500);
                getHeader();
            });
            method.error(function () {
                $("#msgdiv").html("<div class='alert alert-danger'>Something went Wrong While delete the Header</div>");
                $("#msgdiv").show(500);
            });
        }

        function populateMenu() {
            $.post('/populate_menu', { associateid: associateid }, function (data) {
                var json = JSON.parse(data);
                if (data.length > 10) {
                    $.each(json, function (key, value) {
                        if (value.menu_url == null) {
                            var menutext = "";
                            menutext += "<li class='dropdown'><a href='#' class='dropdown-toggle' data-toggle='dropdown'>" + value.menu_name + "<span class='caret'></span></a><ul class='dropdown-menu' role='menu'>";
                            $.each(json, function (key1, value1) {
                                if (value1.menu_parent_id == value.menuid) {
                                    menutext += "<li><a href='" + value1.menu_url + "'>" + value1.menu_name + "</a></li>";
                                }
                            });
                            menutext += "</ul></li>";
                            $('#nav').append($(menutext));
                        }
                        else if (value.menu_parent_id == null) {
                            $('#nav').append($('<li><a href="' + value.menu_url + '">' + value.menu_name + '</a></li>'));
                        }
                    });
                }
            });
        }
        function GetCreatedBy() {
            try {
                $.post('/GetLoginDetails', { username: username }, function (data) {
                    var json = JSON.parse(data);

                    if (data.length > 3) {
                        CreatedBy = json[0].userid;
                        designationid = json[0].designationid;
                        associateid = json[0].associateid;
                        populateMenu();
                    }
                });
            } catch (err) {
                console.log(err.message);
            }
        }
        function GetEmployeeList() {
            $.post('/emplist', function (data) {
                var json = JSON.parse(data);
                if (data.length > 10) {
                    $.each(json, function (key, value) {
                        $('#ddl_assocateName').append($('<option>', {
                            value: this.associateid,
                            text: this.associate_name
                        }));
                    });
                }
            });
        }
        //Remove Validation
        function RemoveValidation(obj) {
            var id = obj.id;
            $("#" + id).removeClass("has-error");
            $("#" + id).parent().removeClass("has-error");
            $('#additionalreportingperson').removeClass('has-error');
            $('#qualification').removeClass('has-error');
            $('#yearofpassing').removeClass('has-error');
            $('#institute').removeClass('has-error');
            $('#percentage').removeClass('has-error');
        }

        $(document).click(function (event) {
            $('#msgdiv').hide(500);
        });
        function RemoveHashTild(obj) {
            var id = obj.id;
            var a = $("#" + id).val();
            if (String(a).indexOf("#") >= 0 || String(a).indexOf("~") >= 0) {
                a = a.replace("~", "");
                a = a.replace("#", "");
                $("#" + id).val(a);
            }
        }
        function ReplaceQuote(data) {
            var result = '';
            var arr = [];
            arr = data.split(' ');
            for (var i in arr) {
                var a = '';
                a = arr[i].replace("'", "''");
                if (i == 0) {
                    result = result + a
                }
                else {
                    result = result + ' ' + a;
                }

            }
            return result;
        }

    </script>

    }