﻿
@{
    ViewData["Title"] = "PayElement";
}

<h2>PayElement</h2>

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Pay Element
    </h1>
</section>
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-default">
                <div class="box-header with-border">
                    <h3 class="box-title">Pay Element Details</h3>
                </div>
                <div class="box-body">
                    <div id="msgdiv"></div>
                    <div class="row">
                        <div class="col-lg-3">
                            <label>Associate Name</label>
                            <select id="ddl_assocateName" onfocus="RemoveValidation(this);" class="form-control"><option value="-1">Select</option></select>
                        </div>
                        <div class="col-lg-3">
                            <label>Associate Code</label>
                            <input type="text" class="form-control" id="txt_associateCode" placeholder="Enter Associate Code" readonly maxlength="80" onfocus="RemoveValidation(this);" />
                        </div>
                        <div class="col-lg-3">
                            <label>Basic Salary</label>
                            <input type="text" class="form-control" id="txt_basicSalary" placeholder="Enter Basic Salary" onfocus="RemoveValidation(this);" />
                        </div>
                        <div class="col-lg-3">
                            <label>HRA</label>
                            <input type="text" class="form-control" id="txt_HRA" placeholder="Enter HRA" onfocus="RemoveValidation(this);" />
                        </div>
                    </div>
                    <div class="row" style="padding-top:2%;">

                        <div class="col-lg-3">
                            <label>Special Skill Allowance</label>
                            <input type="text" class="form-control" id="txt_specialSkillAllowance" placeholder="Enter Special Skill Allowance" onfocus="RemoveValidation(this);" />
                        </div>
                        <div class="col-lg-3">
                            <label>Mobile Allowance</label>
                            <input type="text" class="form-control NumericTextBox" id="txt_mobileAllowance" placeholder="Enter Mobile Allownace" onfocus="RemoveValidation(this);" />
                        </div>
                        <div class="col-lg-3">
                            <label>Conveynace Allowance</label>
                            <input type="text" class="form-control NumericTextBox" id="txt_conveyanceAllowance" placeholder="Enter Conveyance Allowance" onfocus="RemoveValidation(this);" />
                        </div>
                        <div class="col-lg-3">
                            <label>Management Allowance</label>
                            <input type="text" class="form-control NumericTextBox" id="txt_managementAllowance" maxlength="80" placeholder="Enter Management Allowance" onfocus="RemoveValidation(this);" />
                        </div>
                    </div>
                    <div class="row" style="padding-top:2%;">
                        <div class="col-lg-3">
                            <label>Book Periodicals</label>
                            <input type="text" class="form-control NumericTextBox" id="txt_bookPeriodicals" placeholder="Enter Book Periodicals" onfocus="RemoveValidation(this);" />
                        </div>
                        <div class="col-lg-3">
                            <label>Driver Allowance</label>
                            <input type="text" class="form-control NumericTextBox" id="txt_driverAllowance" placeholder="Enter Driver Allowance" onfocus="RemoveValidation(this);" />
                        </div>
                        <div class="col-lg-3">
                            <label>Medical Allowance</label>
                            <input type="text" class="form-control NumericTextBox" id="txt_medicalAllowance" placeholder="Enter medicalAllowance" onfocus="RemoveValidation(this);" />
                        </div>
                        <div class="col-lg-3">
                            <label>Gross Salary</label>
                            <input type="text" class="form-control NumericTextBox" id="txt_grossSalary" placeholder="Enter Gross Salary" onfocus="RemoveValidation(this);" />
                        </div>
                    </div>
                    <div class="row" style="padding-top:2%;">
                        <div class="col-lg-3">
                            <label>PF</label>
                            <input type="text" class="form-control NumericTextBox" id="txt_PF" placeholder="Enter PF" onfocus="RemoveValidation(this);" />
                        </div>
                        <div class="col-lg-3">
                            <label>ESI</label>
                            <input type="text" class="form-control NumericTextBox" id="txt_ESI" placeholder="Enter ESI" onfocus="RemoveValidation(this);" />
                        </div>
                        <div class="col-lg-3">
                            <label>Total Deduction</label>
                            <input type="text" class="form-control NumericTextBox" id="txt_totalDeduction" placeholder="Enter Total Deduction" onfocus="RemoveValidation(this);" />
                        </div>
                        <div class="col-lg-3">
                            <label>Carry Home Salary</label>
                            <input type="text" class="form-control NumericTextBox" id="txt_carryHomeSalary" placeholder="Enter Carry Home Salary" onfocus="RemoveValidation(this);" />
                        </div>

                    </div>
                    <div class="row" style="padding-top:2%;padding-bottom:2%;">
                        <div class="col-lg-3">
                            <label>CTC</label>
                            <input type="text" class="form-control NumericTextBox" id="txt_CTC" placeholder="Enter CTC" onfocus="RemoveValidation(this);" />
                        </div>
                    </div>
                </div>
                <div class="box-footer">
                    <button class="btn btn-primary" id="btn_Save">Save</button>
                </div>
            </div>
            <div class="box box-default">
                <div class="box-header with-border">
                    <h3 class="box-title">Pay Element Employee Details</h3>
                    <div style="padding-top:2%;" id="msgdivtab"></div>
                </div>
                <div class="box-body">
                    <div class="callout callout-info nofoundlbl" style="display:none;"></div>
                    <table id="tblPayElementList" class="table table-bordered table-striped"></table>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- /.content -->

@section scripts{

    <script type="text/javascript">
        var CreatedBy;
        var UpdatedBy;
        var designationid;
        var username = "<%= name %>";
        var associateid = '';
        var associate_code = '';
        var associate_name = '';
        $(document).ready(function () {
            GetCreatedBy();
            GetEmployeeList();
            GetPayElementList();
            //Check Authorized Menu
            $.post('/check_Authorized_Menu', { username: username, menuName: '/payelement' }, function (data) {
                var json = JSON.parse(data);
                if (json[0].count == 0) {
                    window.location.href = "/";
                }
            });

            $("#ddl_assocateName").change(function () {
                var selectval = $("#ddl_assocateName").val();
                if (selectval != -1) {
                    ddlAssociateNameChange(selectval);
                }
                else
                    $("#txt_associateCode").val('');
            });
            $("#btn_Save").click(function () {

                var flag = true;
                var associate_id = $("#ddl_assocateName").val();
                var associate_code = $("#txt_associateCode").val();
                var basic_salary = $("#txt_basicSalary").val() == '' ? 0 : $("#txt_basicSalary").val();
                var HRA = $("#txt_HRA").val() == '' ? 0 : $("#txt_HRA").val();
                var special_skill_allowance = $("#txt_specialSkillAllowance").val() == '' ? 0 : $("#txt_specialSkillAllowance").val();
                var mobile_allowance = $("#txt_mobileAllowance").val() == '' ? 0 : $("#txt_mobileAllowance").val();
                var conveyance_allowance = $("#txt_conveyanceAllowance").val() == '' ? 0 : $("#txt_conveyanceAllowance").val();
                var management_allowance = $("#txt_managementAllowance").val() == '' ? 0 : $("#txt_managementAllowance").val();
                var book_periodicals = $("#txt_bookPeriodicals").val() == '' ? 0 : $("#txt_bookPeriodicals").val();
                var driver_allowance = $("#txt_driverAllowance").val() == '' ? 0 : $("#txt_driverAllowance").val();
                var medical_allowance = $("#txt_medicalAllowance").val() == '' ? 0 : $("#txt_medicalAllowance").val();
                var gross_salary = $("#txt_grossSalary").val() == '' ? 0 : $("#txt_grossSalary").val();
                var PF = $("#txt_PF").val() == '' ? 0 : $("#txt_PF").val();
                var ESI = $("#txt_ESI").val() == '' ? 0 : $("#txt_ESI").val();
                var total_deduction = $("#txt_totalDeduction").val() == '' ? 0 : $("#txt_totalDeduction").val();
                var carry_home_salary = $("#txt_carryHomeSalary").val() == '' ? 0 : $("#txt_carryHomeSalary").val();
                var CTC = $("#txt_CTC").val() == '' ? 0 : $("#txt_CTC").val();

                if (associate_id == -1) {
                    $('#ddl_assocateName').addClass('has-error');
                    flag = false;
                }
                if (basic_salary == 0) {
                    $('#txt_basicSalary').addClass('has-error');
                    flag = false;
                }
                if (HRA == 0) {
                    $('#txt_HRA').addClass('has-error');
                    flag = false;
                }
                if (carry_home_salary == 0) {
                    $('#txt_carryHomeSalary').addClass('has-error');
                    flag = false;
                }
                if (CTC == 0) {
                    $('#txt_CTC').addClass('has-error');
                    flag = false;
                }
                if (flag == true) {
                    $.post('/InsertPayElement', { associate_id: associate_id, basic_salary: basic_salary, HRA: HRA, special_skill_allowance: special_skill_allowance, mobile_allowance: mobile_allowance, conveyance_allowance: conveyance_allowance, management_allowance: management_allowance, book_periodicals: book_periodicals, driver_allowance: driver_allowance, medical_allowance: medical_allowance, gross_salary: gross_salary, PF: PF, ESI: ESI, total_deduction: total_deduction, carry_home_salary: carry_home_salary, CTC: CTC }, function (data) {
                        $("#msgdiv").show();
                        $("#msgdiv").html("<div class='alert alert-success'>Saved Successfully.</div>");
                        GetPayElementList();
                    });
                }
            });

            $('#ListViewModel').on('show.bs.modal', function (event) {
                var button = $(event.relatedTarget);// Button that triggered the modal
                var modal = $(this);
                modal.find('#mdl_txt_associateCode').val(button.data('associate_code'));
                modal.find('#mdl_txt_associateName').val(button.data('associate_name'));
                GetPayElementListOnP_Id(button.data('id'), "view");

            });

        });
        function ddlAssociateNameChange(id) {
            $.post('/getAssociateCode', { id: id }, function (data) {
                var json = JSON.parse(data);
                if (data.length > 3) {
                    $("#txt_associateCode").val(json[0].associate_code);
                }
            });
        }
        function GetPayElementListOnP_Id(id, modelName) {

            $.post('/GetPayElementListOnP_Id', { id: id }, function (data) {
                runEffect();
                var json = JSON.parse(data);
                if (data.length > 10) {
                    if (modelName == "view") {
                        $("#mdl_txt_basicSalary").val(json[0].basic);
                        $("#mdl_txt_HRA").val(json[0].hra);
                        $("#mdl_txt_specialSkillAllowance").val(json[0].special_skill_allowance);
                        $("#mdl_txt_mobileAllowance").val(json[0].mobile_allowance);
                        $("#mdl_txt_conveyanceAllowance").val(json[0].conveyance_allowance);
                        $("#mdl_txt_managementAllowance").val(json[0].management_allowance);
                        $("#mdl_txt_bookPeriodicals").val(json[0].book_periodicals);
                        $("#mdl_txt_driverAllowance").val(json[0].driver_allowance);
                        $("#mdl_txt_medicalAllowance").val(json[0].medical_allowance);
                        $("#mdl_txt_grossSalary").val(json[0].gross_salary);
                        $("#mdl_txt_PF").val(json[0].pf);
                        $("#mdl_txt_ESI").val(json[0].esi);
                        $("#mdl_txt_totalDeduction").val(json[0].total_deduction);
                        $("#mdl_txt_carryHomeSalary").val(json[0].carry_home_salary);
                        $("#mdl_txt_CTC").val(json[0].ctc);
                    }
                    else {
                        $('#ddl_assocateName').val(json[0].associate_id);
                        ddlAssociateNameChange(json[0].associate_id);
                        $("#txt_basicSalary").val(json[0].basic);
                        $("#txt_HRA").val(json[0].hra);
                        $("#txt_specialSkillAllowance").val(json[0].special_skill_allowance);
                        $("#txt_mobileAllowance").val(json[0].mobile_allowance);
                        $("#txt_conveyanceAllowance").val(json[0].conveyance_allowance);
                        $("#txt_managementAllowance").val(json[0].management_allowance);
                        $("#txt_bookPeriodicals").val(json[0].book_periodicals);
                        $("#txt_driverAllowance").val(json[0].driver_allowance);
                        $("#txt_medicalAllowance").val(json[0].medical_allowance);
                        $("#txt_grossSalary").val(json[0].gross_salary);
                        $("#txt_PF").val(json[0].pf);
                        $("#txt_ESI").val(json[0].esi);
                        $("#txt_totalDeduction").val(json[0].total_deduction);
                        $("#txt_carryHomeSalary").val(json[0].carry_home_salary);
                        $("#txt_CTC").val(json[0].ctc);
                    }
                }

            });
        }
        function GetPayElementList() {
            $.post('/GetPayElementList', function (data) {
                var json = JSON.parse(data);
                if (data.length > 3) {
                    $("#msgdivtab").hide();
                    var datatable = $("#tblPayElementList");
                    datatable.empty();
                    datatable.append("<thead><tr><th>Sr.No.</th><th>Associate Code</th><th>Associate Name</th><th>Department</th><th>Designation</th><th>Date</th><th>Action</th></tr></thead>")
                    $.each(json, function (key, value) {
                        var html = "<tr><td>" + (key + 1) + "</td><td>" + this.associate_code + "</td><td>" + this.associate_name + "</td><td>" + this.departmenttext + "</td><td>" + this.designationtext + "</td><td>" + this.createdon + "</td><td><a href='#' data-toggle='modal' data-target='#ListViewModel' data-backdrop='static' data-id='" + this.id + "' data-associate_code='" + this.associate_code + "' data-associate_name='" + this.associate_name + "' ><i title='View' class='fa fa-eye cursordiv' ></i></a> | <a href='#' onclick='return GetPayElementListOnP_Id(" + this.id + ")'><i title='Edit' class='fa fa-edit cursordiv'></i></a></td></tr>"
                        datatable.append(html);
                    })
                    datatable.DataTable();
                }
                else {
                    $("#msgdivtab").show();
                    $("#msgdivtab").html("<div class='alert alert-warning'>No Record Found.</div>");
                }
            });
        }
        //Function to get created by
        function populateMenu() {
            $.post('/populate_menu', { associateid: associateid }, function (data) {
                var json = JSON.parse(data);
                if (data.length > 10) {
                    $.each(json, function (key, value) {
                        if (value.menu_url == null) {
                            var menutext = "";
                            menutext += "<li class='dropdown'><a href='#' class='dropdown-toggle' data-toggle='dropdown'>" + value.menu_name + "<span class='caret'></span></a><ul class='dropdown-menu' role='menu'>";
                            $.each(json, function (key1, value1) {
                                if (value1.menu_parent_id == value.menuid) {
                                    menutext += "<li><a href='" + value1.menu_url + "'>" + value1.menu_name + "</a></li>";
                                }
                            });
                            menutext += "</ul></li>";
                            $('#nav').append($(menutext));
                        }
                        else if (value.menu_parent_id == null) {
                            $('#nav').append($('<li><a href="' + value.menu_url + '">' + value.menu_name + '</a></li>'));
                        }
                    });
                }
            });
        }
        function GetCreatedBy() {
            try {
                $.post('/GetLoginDetails', { username: username }, function (data) {
                    var json = JSON.parse(data);

                    if (data.length > 3) {
                        CreatedBy = json[0].userid;
                        designationid = json[0].designationid;
                        associateid = json[0].associateid;
                        populateMenu();
                    }
                });
            } catch (err) {
                console.log(err.message);
            }
        }
        function GetEmployeeList() {
            $.post('/emplist', function (data) {
                var json = JSON.parse(data);
                if (data.length > 10) {
                    $.each(json, function (key, value) {
                        $('#ddl_assocateName').append($('<option>', {
                            value: this.associateid,
                            text: this.associate_name
                        }));
                    });
                }
            });
        }
        //Remove Validation
        function RemoveValidation(obj) {
            var id = obj.id;
            $("#" + id).removeClass("has-error");
            $("#" + id).parent().removeClass("has-error");
            $('#additionalreportingperson').removeClass('has-error');
            $('#qualification').removeClass('has-error');
            $('#yearofpassing').removeClass('has-error');
            $('#institute').removeClass('has-error');
            $('#percentage').removeClass('has-error');
        }
        function runEffect() {
            var selectedEffect = 'blind';
            var options = {};
            $("#msgdiv").hide(selectedEffect, options, 500);
            $("#msgdivtab").hide(selectedEffect, options, 500);
        }
        function RemoveHashTild(obj) {
            var id = obj.id;
            var a = $("#" + id).val();
            if (String(a).indexOf("#") >= 0 || String(a).indexOf("~") >= 0) {
                a = a.replace("~", "");
                a = a.replace("#", "");
                $("#" + id).val(a);
            }
        }
        function ReplaceQuote(data) {
            var result = '';
            var arr = [];
            arr = data.split(' ');
            for (var i in arr) {
                var a = '';
                a = arr[i].replace("'", "''");
                if (i == 0) {
                    result = result + a
                }
                else {
                    result = result + ' ' + a;
                }

            }
            return result;
        }

    </script>

    }