﻿
@{
    ViewData["Title"] = "PaySlip";
}

<h2>PaySlip</h2>

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Pay Element
    </h1>
</section>
<!-- Main content -->
<section class="content">
    <div class="row">
        <div id="msgdiv"></div>
        <div class="col-md-6">
            <div class="box box-default">
                <div class="box-header with-border">
                    <h3 class="box-title">Pay Element Details</h3>
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-6">
                            <label>Month Year</label>
                            <input type="text" id="txtMonthYear" class="form-control" onfocus="RemoveValidation(this)" />
                        </div>
                        <div class="col-md-6">
                            <label>Associate Name</label>
                            <select id="ddl_assocateName" onfocus="RemoveValidation(this);" class="form-control select2"><option value="-1">Select</option></select>
                        </div>
                        <div class="col-lg-12" style="margin-top:1%">
                            <table id="tblData" class="table table-bordered"></table>
                        </div>
                    </div>
                </div>
                <div class="box-footer">
                    <input type="button" class="btn btn-primary" id="btn_Save" value="Save" />
                    <input type="text" class="form-control" readonly="readonly" id="txtTotalAmmount" onfocus="RemoveValidation(this)" placeholder="Total Ammount"
                           style="width:50%; float:right" />
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="box box-default">
                <div class="box-header with-border">
                    <h3 class="box-title">Pay Slip Details</h3>
                    <input type="button" class="btn btn-danger" value="Send to All" id="btnSend" onclick="SentSlip()" style="float:right" />
                    <input type="checkbox" class="" id="chkSelectAll" style="float:right; margin-right:3%; margin-top:2%" />
                </div>
                <div class="box-body">
                    <div class="form-group">
                        <div id="divHeader_all">
                            <table id="tbl_HeaderDetail" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>Sr No.</th>
                                        <th>Associate Name</th>
                                        <th>Month</th>
                                        <th>Total Ammount</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                        <div id="divHeaderFilter">
                            <table id="tblHeader_DateFilter" class="table table-bordered table-striped"></table>
                        </div>
                    </div>
                </div>
                <div class="box-footer">

                </div>
            </div>
        </div>
        <div class="col-md-8" style="padding-top:2%;" id="div_Salary">
            <table id="tblSalarySlip" border="1" cellspacing='0' style="width:683px; height:auto;" cellpadding="0"></table>
        </div>
    </div>

</section>

<!-- /.content -->

@section scripts{
    <script type="text/javascript">
        var CreatedBy;
        var UpdatedBy;
        var designationid;
        var id = [];
        var mailId = [];
        var SlipId = [];
        var dateFilter;
        var focusCount = 0;
        //var flag = 0;
        var username = "<%= name %>";
        _headerid = [];
        $(document).ready(function () {
            $(".select2").select2();
            GetCreatedBy();
            GetEmployeeList();
            BindPaySlip();
            $("#txtMonthYear").datepicker({
                changeMonth: true,
                changeYear: true,
                //minDate: 0,
                showButtonPanel: true,
                dateFormat: 'MM yy',
                onClose: function (dateText, inst) {
                    $(this).datepicker('setDate', new Date(inst.selectedYear, inst.selectedMonth, 1));
                    dateFilter = $("#txtMonthYear").val();
                    var method = $.post('/BindPaySlipWithFilter', { monthFilter: dateFilter });
                    method.success(function (data) {
                        var json = JSON.parse(data);

                        if ($.fn.DataTable.isDataTable('#tblHeader_DateFilter')) {
                            $('#tblHeader_DateFilter').DataTable().destroy();
                        }
                        else {

                        }
                        var html = '';

                        $('#tblHeader_DateFilter').empty();
                        $("#tblHeader_DateFilter").append("<thead><tr><th>S.No</th><th>Associate Name</th><th>Month</th><th>Total Ammount</th><th>Action</th></tr></thead>");
                        if (data.length > 10) {
                            $.each(json, function (key, value) {
                                mailId[key] = this.official_email;
                                SlipId[key] = this.payslip_id;
                                html += '<tr><td>' + (key + 1) + '</td><td>' + this.associate_name + '</td><td>' + this.monthyear + '</td><td>' + this.totalammount + ' </td><td><a title="Send" onclick="SendPaySlip(' + this.payslip_id + ')" style="cursor:pointer;"><i class="fa fa-share-square-o fa-lg" aria-hidden="true"></i></a> | <a title="Delete" onclick="DeletePaySlip(' + this.payslip_id + ')" style="cursor:pointer;"><i class="fa fa-trash-o fa-lg" aria-hidden="true"></i></a> </td></tr>';
                            });
                            console.log(html);

                            $('#tblHeader_DateFilter').append('<tbody>' + html + '</tbody>');
                            $("#tbl_HeaderDetail").empty();
                            //$("#tbl_HeaderDetail").DataTable().destroy();
                            $("#divHeader_all").hide();
                            $('#tblHeader_DateFilter').dataTable();
                        }
                        else {
                            $("#tbl_HeaderDetail").empty();
                            $("#divHeader_all").hide();
                            $('#tblHeader_DateFilter').dataTable();
                        }
                    });
                    method.error(function (data) {
                        $("#msgdiv").html("<div class='alert alert-error'>Somthing went wrong while Getting the PaySlip Data</div>");
                        $("#msgdiv").show(500);
                    });
                }
            });
            $("#txtMonthYear").focus(function () {
                $("#txtDateTime").attr('readonly', 'readonly');
                $(".ui-datepicker-calendar").hide();
                $("#ui-datepicker-div").position({
                    my: "center top",
                    at: "center bottom",
                    of: $(this)
                });
            });

            $("#btn_Save").click(function () {

                var flag = 0;
                var AssociateId = $("#ddl_assocateName :selected").val();
                var TotalAmmount = $("#txtTotalAmmount").val();
                var MonthYear = $("#txtMonthYear").val();
                var txtAmmount = [];
                $('#tblData input:text').each(function () {
                    txtAmmount.push(this.value);
                });

                if (MonthYear == "") {
                    flag++;
                    $("#txtMonthYear").addClass('has-error');
                }
                if (AssociateId == "-1") {
                    flag++;
                    $("#ddl_assocateName").addClass('has-error');
                }
                if (TotalAmmount == "") {
                    flag++;
                    $("#txtTotalAmmount").addClass('has-error');
                }
                if (flag > 0) {
                    return false;
                }
                else {
                    var method = $.post('/CheakCurrentMonth_PaySlip', { AssociateId: AssociateId, MonthYear: MonthYear });
                    method.success(function (data) {

                        if (data.length < 10) {
                            var method = $.post('/SaveSalarySlip', { AssociateId: AssociateId, TotalAmmount: TotalAmmount, MonthYear: MonthYear, CreatedBy: CreatedBy });
                            method.success(function (data) {

                                var payslipId;
                                var method = $.post('/GetLastPaySlpi_Id');
                                method.success(function (data) {

                                    var json = JSON.parse(data);
                                    if (data.length > 10) {

                                        payslipId = json[0].payslip_id;
                                        alert('Data Saved Successfully');
                                        for (var i = 0; i < _headerid.length; i++) {

                                            var headid = _headerid[i];
                                            var hederAmmount = txtAmmount[i];
                                            var method = $.post('/SaveSalarySlip_ammount', { payslipId: payslipId, AssociateId: AssociateId, HeaderId: headid, MonthYear: MonthYear, HeaderAmmount: hederAmmount, CreatedBy: CreatedBy });
                                            method.success(function () {
                                                //$("#msgdiv").html("<div class='alert alert-success'>Data Saved Successfully</div>");
                                                //$("#msgdiv").show(500);

                                                location.href = '/PaySlip';
                                            });
                                            method.error(function () {
                                                $("#msgdiv").html("<div class='alert alert-error'>Somthing went wrong while saving the Data</div>");
                                                $("#msgdiv").show(500);
                                            });

                                        }
                                    }
                                });

                                BindPaySlip();
                            });
                            method.error(function () {
                                $("#msgdiv").html("<div class='alert alert-error'>Somthing went wrong while saving the Data</div>");
                                $("#msgdiv").show(500);
                            });
                        }
                        else {
                            $("#msgdiv").html("<div class='alert alert-warning'>You Already Created PaySlip of this Employee For the " + MonthYear + "</div>");
                            $("#msgdiv").show(500);
                        }
                    });
                    method.error(function () {
                        $("#msgdiv").html("<div class='alert alert-error'>Somthing went wrong while Checking the Payslip Exist or Not</div>");
                        $("#msgdiv").show(500);
                    });
                }
            });

            $('#chkSelectAll').click(function () {
                if ($(this).is(':checked')) {
                    console.log(true);
                }
                if (!$(this).is(':checked')) {
                    console.log(false);
                }
            });

            if ($("#chkSelectAll").is(':checked')) {
                console.log(true);
            }
            if (!$("#chkSelectAll").is(':checked')) {
                console.log(false);
            }
        });

        function DeletePaySlip(PayId) {
            var method = $.post('/DeletePaySlip', { PayId: PayId });
            method.success(function (data) {
                $("#msgdiv").html("<div class='alert alert-success'>PaySlip Deleted Successfully</div>");
                $("#msgdiv").show(500);
                BindPaySlip();
            });
            method.error(function () {
                $("#msgdiv").html("<div class='alert alert-error'>Somthing Wrong While Deleteing PaySlip</div>");
                $("#msgdiv").show(500);
            });
        }

        function BindPaySlip() {
            var method = $.post('/BindPaySlip');
            method.success(function (data) {
                var json = JSON.parse(data);
                var html = '';
                $('#tbl_HeaderDetail').empty();
                $("#tbl_HeaderDetail").append("<thead><tr><th>S.No</th><th>Associate Name</th><th>Month</th><th>Total Ammount</th><th>Action</th></tr></thead>");
                if (data.length > 10) {
                    $.each(json, function (key, value) {
                        mailId[key] = this.official_email;
                        SlipId[key] = this.payslip_id;
                        html += '<tr><td>' + (key + 1) + '</td><td>' + this.associate_name + '</td><td>' + this.monthyear + '</td><td>' + this.totalammount + ' </td><td><a title="Send" onclick="SendPaySlip(' + this.payslip_id + ')" style="cursor:pointer;"><i class="fa fa-share-square-o fa-lg" aria-hidden="true"></i></a> | <a title="Delete" onclick="DeletePaySlip(' + this.payslip_id + ')" style="cursor:pointer;"><i class="fa fa-trash-o fa-lg" aria-hidden="true"></i></a> </td></tr>';
                    });
                    console.log(html);

                    $('#tbl_HeaderDetail').append('<tbody>' + html + '</tbody>');
                    $('#tbl_HeaderDetail').dataTable();
                }
                else {
                    $('#tbl_HeaderDetail').dataTable();
                }
            });
            method.error(function (data) {
                $("#msgdiv").html("<div class='alert alert-error'>Somthing went wrong while Getting the PaySlip Data</div>");
                $("#msgdiv").show(500);
            });
        }
        var deductionAmt = [];
        var deductionHead = [];
        function SentSlip() {
            if ($("#chkSelectAll").is(':checked')) {
                $.each(SlipId, function (key, value) {
                    var PaySlip_Id = SlipId[key];
                    var ToEmail = mailId[key];
                    var method = $.post('/GetPayRecordByDeduction', { PaySlipId: SlipId[key] });
                    var deduction_amt = 0;
                    method.success(function (Deduction_data) {
                        var d_json = JSON.parse(Deduction_data);
                        $.each(d_json, function (key, value) {
                            deductionAmt[key] = this.hdamount;
                            deductionHead[key] = this.hdname;
                            deduction_amt += parseInt(this.hdamount);
                        });
                        var method = $.post('/SendPay_Slip', { PaySlipId: PaySlip_Id });
                        method.success(function (data) {
                            var json = JSON.parse(data);
                            var monthName = json[0].monthyear;
                            var Associate_id = $("#ddl_assocateName option:selected").val();
                            var html = '';
                            var html = "<tr>"
                                + "<td colspan='1' rowspan='3'><center><img src='./dist/img/avissol_salarySLip.png' height='60'></center></td>"
                                + "<td colspan='5'><center><b>Avis e Solution Pvt Ltd</b></center></td>"
                                + "</tr>"
                                + "<tr>"
                                + "<td colspan='5'><center>D-35, Sector 2, Groud Floor, Noida, Uttar Pradesh-201301</center></td>"
                                + "</tr>"
                                + "<tr>"
                                + "<td colspan='5'><center>Telephone No:- +91-0120-4009000</center></td>"
                                + "</tr>"
                                + "<tr>"
                                + "  <td colspan='6'><center><b>SALARY SLIP FOR THE MONTH OF " + monthName.toUpperCase() + "</b></center></td>"
                                + "</tr>"
                                + "<tr>"
                                + "  <td style='padding-left:1%;'><b>Emp Code</b></td>"
                                + "<td style='padding-left:1%;' colspan='5'><span id='spn_EmpCode'>" + json[0].associate_code + "</span></td>"
                                + "</tr>"
                                + "<tr>"
                                + "  <td style='padding-left:1%;'><b>Emp Name</b></td>"
                                + "<td style='padding-left:1%;' colspan='3'>" + json[0].associate_name + "</td>"
                                + "<td style='padding-left:1%;'><b>Paid days</b></td>"
                                + "<td style='padding-left:1%;'> </td>"
                                + "</tr>"
                                + "<tr>"
                                + "<td style='padding-left:1%;'><b>Designation</b></td>"
                                + "<td style='padding-left:1%;' colspan='3'>" + json[0].designationtext + "</td>"
                                + "<td style='padding-left:1%;'><b>Absent</b></td>"
                                + "<td style='padding-left:1%;'> </td>"
                                + "</tr>"
                                + "<tr>"
                                + "<td style='padding-left:1%;'><b>CL Availed</b></td>"
                                + "<td style='padding-left:1%;' colspan='3'> </td>"
                                + "<td style='padding-left:1%;'><b>CL Balance</b></td>"
                                + "<td style='padding-left:1%;'> </td>"
                                + "</tr>"
                                + "<tr>"
                                + "<td style='padding-left:25%;' colspan='6'><b>Earning</b><b style='padding-left:35%;'>Deduction</b></td>"
                                + "</tr>"
                                + "<tr>"
                                + "<td style='padding-left:1%;'><b>Head</b></td>"
                                + "<td style='text-align:right;'><b>Standard</b></td>"
                                + "<td style='text-align:right;'><b>Earned Amt.</b></td>"
                                + "<td style='padding-left:1%;'><b>Head</b></td>"
                                + "<td style='text-align:right;'><b>Standard</b></td>"
                                + "<td style='text-align:right;'><b>Earned Amt.</b></td>"
                                + "</tr>"

                            if (data.length > 10) {
                                var amount = 0;
                                var m = 0;
                                $.each(json, function (key, value) {
                                    amount += parseInt(this.header_ammount);
                                    html += "<tr>"
                                        + "<td style='padding-left:1%;'><b>" + this.headername + "</b></td>"
                                        + "<td style='text-align:right;'><b>" + this.header_ammount + "</b></td>"
                                        + "<td style='text-align:right;'><b>" + this.header_ammount + "</b></td>"

                                    for (var i = m; i < deductionHead.length; i++) {
                                        html += "<td style='padding-left:1%;'><b>" + deductionHead[i] + "</b></td>"
                                            + "<td style='text-align:right;'><b>" + deductionAmt[i] + "</b></td>"
                                            + "<td style='text-align:right;'><b>" + deductionAmt[i] + "</b></td>"
                                        break;
                                    }
                                    html += "</tr>"
                                    console.log(html);
                                    m = parseInt(m) + 1;
                                    //"<tr></tr>"
                                });

                                var Totalamount = parseInt(deduction_amt) + parseInt(amount);
                                var word = toWords(Totalamount);
                                var carryHome = parseInt(Totalamount) - parseInt(deduction_amt);
                                word = word + ' Only';
                                html += "<tr>"
                                    + "<td style='padding-left:1%;'><b>Gross Salary</b></td>"
                                    + "<td style='text-align:right;'><b>" + carryHome + "</b></td>"
                                    + "<td style='text-align:right;'><b>" + carryHome + "</b></td>"
                                    + "<td style='padding-left:1%;'><b>Gross Deduction</b></td>"
                                    + "<td style='text-align:right;'><b>" + deduction_amt + "</b></td>"
                                    + "<td style='text-align:right;'><b>" + deduction_amt + "</b></td>"
                                    + "</tr>"
                                    + "<tr>"
                                    + "<td style='padding-left:1%;' colspan='6'><b>Carry Home Salary</b><span style='padding-left:11%;'>" + carryHome + "</span><b style='padding-left:17%;'>CTC</b><span style='padding-left:21%;'>" + Totalamount + "</span></td>"

                                    + "</tr>"
                                    + "<tr>"
                                    + "<td style='padding-left:1%;' colspan='6'><b>Carry Home Salary (In Words):</b><b><span style='padding-left:1%;'>" + word.toUpperCase() + "</span></b></td>"
                                    + "</tr>"
                                    + "<tr>"
                                    + "<td style='padding-left:1%;' colspan='6'>This is computer generated Pay Slip. It does not require signature.</td>"
                                    + "</tr>";
                                console.log(html);
                                //var ToEmail = json[0].official_email;

                                var Month = json[0].monthyear;
                                var UserFullName = json[0].associate_name;


                                var datatable = $("#tblSalarySlip");
                                datatable.empty();

                                datatable.append(html);
                                var d = new Date();
                                var DateSec = d.getFullYear() + '' + d.getMonth() + '' + d.getMilliseconds();
                                var fileName = 'PaySlip' + DateSec + '.pdf';
                                //alert(fileName);
                                //var divToPrint = document.getElementById('div_Salary');
                                //var doc = new jsPDF();

                                //doc.addHTML($('#div_Salary'), 15, 15, {
                                //    'background': '#fff',
                                //    'border': '1px solid white',
                                //},
                                //function () {
                                //    fileName = 'PaySlip' + DateSec + '.pdf';
                                //    doc.save(fileName);
                                //});
                                $('#div_Salary').empty();
                                var HostName = window.location.host;
                                HostName = "http://" + HostName;

                                var mailText = '<b>Dear ' + UserFullName + '</b>,<br/><br/>';
                                mailText += 'Download link of Salary Slip is given below: <br/><br/>';
                                mailText += '<b>For Internal Use : </b><a href="';
                                var _firstpart = '/SednPaySlipPdf?PaySlipId=';
                                var _sceondpart = '">Click Here</a><br/><b>For External Use : </b><a href="';
                                var _thirdPart = '">Click Here</a><br/><br/>Regards<br/>Administrator<br/><br/><i>Declaration:If you have already received e-mail for Download Salry Slip then ignore this mail.</i><br/>';



                                var method = $.post('/SendPaySlip_PDF', { ToEmail: ToEmail, UserFullName: UserFullName, mailText: mailText, _firstpart: _firstpart, _sceondpart: _sceondpart, _thirdPart: _thirdPart, HostName: HostName, PaySlipId: PaySlip_Id, totalmail: html, Month: Month, fileName: fileName });
                                method.success(function (data) {
                                    $("#msgdiv").html("<div class='alert alert-success'>Salary Slip Sent to Email Successfully</div>");
                                    $("#msgdiv").show(500);
                                });
                                method.error(function (data) {
                                    $("#msgdiv").html("<div class='alert alert-error'>Somthing went wrong while Sending PaySlip Mail</div>");
                                    $("#msgdiv").show(500);
                                });
                            }
                        });
                        method.error(function () {
                            $("#msgdiv").html("<div class='alert alert-error'>Somthing went wrong while Sending PaySlip Data</div>");
                            $("#msgdiv").show(500);
                        });
                    });

                });
            }
        }
        function SendPaySlip(PaySlip_Id) {
            var method = $.post('/GetPayRecordByDeduction', { PaySlipId: PaySlip_Id });
            var deduction_amt = 0;
            method.success(function (Deduction_data) {
                var d_json = JSON.parse(Deduction_data);
                $.each(d_json, function (key, value) {

                    deductionAmt[key] = this.hdamount;
                    deductionHead[key] = this.hdname;
                    deduction_amt += parseInt(this.hdamount);
                });
                var method = $.post('/SendPay_Slip', { PaySlipId: PaySlip_Id });
                method.success(function (data) {
                    var json = JSON.parse(data);
                    var monthName = json[0].monthyear;
                    var Associate_id = $("#ddl_assocateName option:selected").val();




                    var html = '';
                    var html = "<tr>"
                        + "<td colspan='1' rowspan='3'><center><img src='./dist/img/avissol_salarySLip.png' height='60'></center></td>"
                        + "<td colspan='5'><center><b>Avis e Solution Pvt Ltd</b></center></td>"
                        + "</tr>"
                        + "<tr>"
                        + "<td colspan='5'><center>D-35, Sector 2, Groud Floor, Noida, Uttar Pradesh-201301</center></td>"
                        + "</tr>"
                        + "<tr>"
                        + "<td colspan='5'><center>Telephone No:- +91-0120-4009000</center></td>"
                        + "</tr>"
                        + "<tr>"
                        + "  <td colspan='6'><center><b>SALARY SLIP FOR THE MONTH OF " + monthName.toUpperCase() + "</b></center></td>"
                        + "</tr>"
                        + "<tr>"
                        + "  <td style='padding-left:1%;'><b>Emp Code</b></td>"
                        + "<td style='padding-left:1%;' colspan='5'><span id='spn_EmpCode'>" + json[0].associate_code + "</span></td>"
                        + "</tr>"
                        + "<tr>"
                        + "  <td style='padding-left:1%;'><b>Emp Name</b></td>"
                        + "<td style='padding-left:1%;' colspan='3'>" + json[0].associate_name + "</td>"
                        + "<td style='padding-left:1%;'><b>Paid days</b></td>"
                        + "<td style='padding-left:1%;'> </td>"
                        + "</tr>"
                        + "<tr>"
                        + "<td style='padding-left:1%;'><b>Designation</b></td>"
                        + "<td style='padding-left:1%;' colspan='3'>" + json[0].designationtext + "</td>"
                        + "<td style='padding-left:1%;'><b>Absent</b></td>"
                        + "<td style='padding-left:1%;'> </td>"
                        + "</tr>"
                        + "<tr>"
                        + "<td style='padding-left:1%;'><b>CL Availed</b></td>"
                        + "<td style='padding-left:1%;' colspan='3'> </td>"
                        + "<td style='padding-left:1%;'><b>CL Balance</b></td>"
                        + "<td style='padding-left:1%;'> </td>"
                        + "</tr>"
                        + "<tr>"
                        + "<td style='padding-left:25%;' colspan='6'><b>Earning</b><b style='padding-left:35%;'>Deduction</b></td>"
                        + "</tr>"
                        + "<tr>"
                        + "<td style='padding-left:1%;'><b>Head</b></td>"
                        + "<td style='text-align:right;'><b>Standard</b></td>"
                        + "<td style='text-align:right;'><b>Earned Amt.</b></td>"
                        + "<td style='padding-left:1%;'><b>Head</b></td>"
                        + "<td style='text-align:right;'><b>Standard</b></td>"
                        + "<td style='text-align:right;'><b>Earned Amt.</b></td>"
                        + "</tr>"

                    if (data.length > 10) {
                        var amount = 0;
                        var m = 0;
                        $.each(json, function (key, value) {
                            amount += parseInt(this.header_ammount);
                            html += "<tr>"
                                + "<td style='padding-left:1%;'><b>" + this.headername + "</b></td>"
                                + "<td style='text-align:right;'><b>" + this.header_ammount + "</b></td>"
                                + "<td style='text-align:right;'><b>" + this.header_ammount + "</b></td>"

                            for (var i = m; i < deductionHead.length; i++) {
                                html += "<td style='padding-left:1%;'><b>" + deductionHead[i] + "</b></td>"
                                    + "<td style='text-align:right;'><b>" + deductionAmt[i] + "</b></td>"
                                    + "<td style='text-align:right;'><b>" + deductionAmt[i] + "</b></td>"
                                break;
                            }
                            html += "</tr>"
                            console.log(html);
                            m = parseInt(m) + 1;
                            //"<tr></tr>"
                        });

                        var Totalamount = parseInt(deduction_amt) + parseInt(amount);
                        var word = toWords(Totalamount);
                        var carryHome = parseInt(Totalamount) - parseInt(deduction_amt);
                        word = word + ' Only';
                        html += "<tr>"
                            + "<td style='padding-left:1%;'><b>Gross Salary</b></td>"
                            + "<td style='text-align:right;'><b>" + carryHome + "</b></td>"
                            + "<td style='text-align:right;'><b>" + carryHome + "</b></td>"
                            + "<td style='padding-left:1%;'><b>Gross Deduction</b></td>"
                            + "<td style='text-align:right;'><b>" + deduction_amt + "</b></td>"
                            + "<td style='text-align:right;'><b>" + deduction_amt + "</b></td>"
                            + "</tr>"
                            + "<tr>"
                            + "<td style='padding-left:1%;' colspan='6'><b>Carry Home Salary</b><span style='padding-left:11%;'>" + carryHome + "</span><b style='padding-left:17%;'>CTC</b><span style='padding-left:21%;'>" + Totalamount + "</span></td>"

                            + "</tr>"
                            + "<tr>"
                            + "<td style='padding-left:1%;' colspan='6'><b>Carry Home Salary (In Words):</b><b><span style='padding-left:1%;'>" + word.toUpperCase() + "</span></b></td>"
                            + "</tr>"
                            + "<tr>"
                            + "<td style='padding-left:1%;' colspan='6'>This is computer generated Pay Slip. It does not require signature.</td>"
                            + "</tr>";
                        console.log(html);
                        var ToEmail = json[0].official_email;
                        var Month = json[0].monthyear;
                        var UserFullName = json[0].associate_name;


                        var datatable = $("#tblSalarySlip");
                        datatable.empty();

                        datatable.append(html);
                        var d = new Date();
                        var DateSec = d.getFullYear() + '' + d.getMonth() + '' + d.getMilliseconds();
                        var fileName = 'PaySlip' + DateSec + '.pdf';
                        //alert(fileName);
                        //var divToPrint = document.getElementById('div_Salary');
                        //var doc = new jsPDF();

                        //doc.addHTML($('#div_Salary'), 15, 15, {
                        //    'background': '#fff',
                        //    'border': '1px solid white',
                        //},
                        //function () {
                        //    fileName = 'PaySlip' + DateSec + '.pdf';
                        //    doc.save(fileName);
                        //});
                        $('#div_Salary').empty();
                        var HostName = window.location.host;
                        HostName = "http://" + HostName;

                        var mailText = '<b>Dear ' + UserFullName + '</b>,<br/><br/>';
                        mailText += 'Download link of Salary Slip is given below: <br/><br/>';
                        mailText += '<b>For Internal Use : </b><a href="';
                        var _firstpart = '/SednPaySlipPdf?PaySlipId=';
                        var _sceondpart = '">Click Here</a><br/><b>For External Use : </b><a href="';
                        var _thirdPart = '">Click Here</a><br/><br/>Regards<br/>Administrator<br/><br/><i>Declaration:If you have already received e-mail for Download Salry Slip then ignore this mail.</i><br/>';



                        var method = $.post('/SendPaySlip_PDF', { ToEmail: ToEmail, UserFullName: UserFullName, mailText: mailText, _firstpart: _firstpart, _sceondpart: _sceondpart, _thirdPart: _thirdPart, HostName: HostName, PaySlipId: PaySlip_Id, totalmail: html, Month: Month, fileName: fileName });
                        method.success(function (data) {
                            $("#msgdiv").html("<div class='alert alert-success'>Salary Slip Sent to Email Successfully</div>");
                            $("#msgdiv").show(500);
                        });
                        method.error(function (data) {
                            $("#msgdiv").html("<div class='alert alert-error'>Somthing went wrong while Sending PaySlip Mail</div>");
                            $("#msgdiv").show(500);
                        });
                    }
                });
                method.error(function () {
                    $("#msgdiv").html("<div class='alert alert-error'>Somthing went wrong while Sending PaySlip Data</div>");
                    $("#msgdiv").show(500);
                });
            });

        }

        var th = ['', 'thousand', 'million', 'billion', 'trillion'];

        var dg = ['zero', 'one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine'];

        var tn = ['ten', 'eleven', 'twelve', 'thirteen', 'fourteen', 'fifteen', 'sixteen', 'seventeen', 'eighteen', 'nineteen'];

        var tw = ['twenty', 'thirty', 'forty', 'fifty', 'sixty', 'seventy', 'eighty', 'ninety'];

        function toWords(s) {
            s = s.toString();
            s = s.replace(/[\, ]/g, '');
            if (s != parseFloat(s)) return 'not a number';
            var x = s.indexOf('.');
            if (x == -1) x = s.length;
            if (x > 15) return 'too big';
            var n = s.split('');
            var str = '';
            var sk = 0;
            for (var i = 0; i < x; i++) {
                if ((x - i) % 3 == 2) {
                    if (n[i] == '1') {
                        str += tn[Number(n[i + 1])] + ' ';
                        i++;
                        sk = 1;
                    } else if (n[i] != 0) {
                        str += tw[n[i] - 2] + ' ';
                        sk = 1;
                    }
                } else if (n[i] != 0) {
                    str += dg[n[i]] + ' ';
                    if ((x - i) % 3 == 0) str += 'hundred ';
                    sk = 1;
                }
                if ((x - i) % 3 == 1) {
                    if (sk) str += th[(x - i - 1) / 3] + ' ';
                    sk = 0;
                }
            }
            //if (x != s.length) {
            //    var y = s.length;
            //    str += 'point ';
            //    for (var i = x + 1; i < y; i++) str += dg[n[i]] + ' ';
            //}
            return str.replace(/\s+/g, ' ');

        }

        $("#txtMonthYear").change(function () {

            var MonthDat = $("#txtMonthYear").val();
            //alert(MonthDat);
        });
        //
        $("#ddl_assocateName").change(function () {
            $("#txtTotalAmmount").val('');
            var Associate_id = $("#ddl_assocateName option:selected").val();
            var method = $.post('/GetHeader_Assign', { Associate_id: Associate_id });
            method.success(function (data) {
                var html = '';
                $("#tblData").empty();
                $("#tblData").append("<thead><tr><th>S.No</th><th>Header Name</th><th>Ammount</th></tr></thead>");
                var json = JSON.parse(data);
                id = [];
                if (data.length > 10) {
                    console.log(data);
                    for (var i = 0; i < json.length; i++) {
                        html += '<tr><td>' + (i + 1) + '</td><td>' + json[i].headername + '</td><td><input type="text" onfocus="NumericOnly(this.id)" class="form-control" value="0" name="' + json[i].header_id + '" placeholder="' + json[i].headername + ' Amount" id="txtAmmount_' + json[i].header_id + '" onblur="TotalAmmount(this.id)" /></td></td></tr>'
                        id[i] = 'txtAmmount_' + json[i].header_id;
                        _headerid[i] = json[i].header_id;
                    }
                    $("#tblData").append('<tbody>' + html + '</tbody>');

                }
                else {
                    $("#tblData").empty();
                    $("#tblData").append('<tr><td>No Record Found...</td></tr>')
                }
            });
        });

        ///function Called onFocus
        var val;
        function NumericOnly(obj) {

            $('#' + obj).keydown(function (e) {
                // Allow: backspace, delete, tab, escape, enter and .
                if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 110, 190]) !== -1 ||
                    // Allow: Ctrl+A, Command+A
                    (e.keyCode === 65 && (e.ctrlKey === true || e.metaKey === true)) ||
                    // Allow: home, end, left, right, down, up
                    (e.keyCode >= 35 && e.keyCode <= 40)) {
                    // let it happen, don't do anything
                    return;
                }
                // Ensure that it is a number and stop the keypress
                if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
                    e.preventDefault();
                }
            });
            //focusCount++;
        }
        ///function Called onBlur

        function TotalAmmount(obj) {

            if ($('#' + obj).val() == '') {
                $('#' + obj).val('0');
            }
            var m = 0;
            $("#tblData").find('tr input[type="text"]').each(function (i) {

                var a = parseInt($(this).val());
                m += a;
                //m += $('input:text:eq(' + i + ')', $(this)).val();
            });


            //a += parseInt($("#" + obj).val());
            $("#txtTotalAmmount").val(m);
            if ($("#txtTotalAmmount").val() > 0) {
                $("#txtTotalAmmount").removeClass('has-error');

            }
            else {
                $("#txtTotalAmmount").addClass('has-error');
            }
        }


        function populateMenu() {
            $.post('/populate_menu', { associateid: associateid }, function (data) {
                var json = JSON.parse(data);
                if (data.length > 10) {
                    $.each(json, function (key, value) {
                        if (value.menu_url == null) {
                            var menutext = "";
                            menutext += "<li class='dropdown'><a href='#' class='dropdown-toggle' data-toggle='dropdown'>" + value.menu_name + "<span class='caret'></span></a><ul class='dropdown-menu' role='menu'>";
                            $.each(json, function (key1, value1) {
                                if (value1.menu_parent_id == value.menuid) {
                                    menutext += "<li><a href='" + value1.menu_url + "'>" + value1.menu_name + "</a></li>";
                                }
                            });
                            menutext += "</ul></li>";
                            $('#nav').append($(menutext));
                        }
                        else if (value.menu_parent_id == null) {
                            $('#nav').append($('<li><a href="' + value.menu_url + '">' + value.menu_name + '</a></li>'));
                        }
                    });
                }
            });
        }
        function GetEmployeeList() {
            $.post('/emplist', function (data) {
                var json = JSON.parse(data);
                if (data.length > 10) {
                    $.each(json, function (key, value) {
                        $('#ddl_assocateName').append($('<option>', {
                            value: this.associateid,
                            text: this.associate_name
                        }));
                    });
                }
            });
        }
        function GetCreatedBy() {
            try {
                $.post('/GetLoginDetails', { username: username }, function (data) {
                    var json = JSON.parse(data);

                    if (data.length > 3) {
                        CreatedBy = json[0].userid;
                        designationid = json[0].designationid;
                        associateid = json[0].associateid;
                        populateMenu();
                    }
                });
            } catch (err) {
                console.log(err.message);
            }
        }
        //Remove Validation
        function RemoveValidation(obj) {
            var id = obj.id;
            $("#" + id).removeClass("has-error");
            $("#" + id).parent().removeClass("has-error");
            $('#additionalreportingperson').removeClass('has-error');
            $('#qualification').removeClass('has-error');
            $('#yearofpassing').removeClass('has-error');
            $('#institute').removeClass('has-error');
            $('#percentage').removeClass('has-error');
        }

        $(document).click(function (event) {
            $('#msgdiv').hide(500);
        });
        function RemoveHashTild(obj) {
            var id = obj.id;
            var a = $("#" + id).val();
            if (String(a).indexOf("#") >= 0 || String(a).indexOf("~") >= 0) {
                a = a.replace("~", "");
                a = a.replace("#", "");
                $("#" + id).val(a);
            }
        }
        function ReplaceQuote(data) {
            var result = '';
            var arr = [];
            arr = data.split(' ');
            for (var i in arr) {
                var a = '';
                a = arr[i].replace("'", "''");
                if (i == 0) {
                    result = result + a
                }
                else {
                    result = result + ' ' + a;
                }

            }
            return result;
        }

    </script>
    }