﻿
@{
    ViewData["Title"] = "Policies";
}

<h2>Policies</h2>


<section class="content-header">
    <h1>Policy and leave Calender</h1>
</section>

<!-- Main content -->
<section class="content">
    <div class="box box-default">
        <div class="box-header with-border">
            <div id="msgdiv"></div>
            <h3 class="box-title">Policy</h3>
        </div>
        <div class="box-body" style="padding-top: 2%;">
            <div class="col-md-12">
                <div class="row">
                    <div class="form-group col-md-12">
                        <div class="col-md-4" id="divFileName">
                            <span>File Name</span>
                            <input type="text" id="txtFileName" onkeyup="RemoveHashTild(this);" onfocus="RemoveValidation(this);" class="form-control" />
                        </div>
                        <div class="col-md-8" style="margin-top:20px" id="divUploadPdf">
                            <form id="uploadForm" enctype="multipart/form-data" action="/upload_Pdf" method="post">
                                <div class="col-md-4">
                                    <input type="file" name="pdf" id="fileUpload" />
                                </div>
                                <div class="col-md-3">
                                    <input type="submit" value="Upload File" class="btn-primary btn form-control" name="submit" id="btnSubmit" />
                                    <span id="status"></span>
                                </div>
                            </form>
                            <div class="col-md-2">
                                <input type="button" id="btnSavePdf" value="Save" class="btn-primary btn form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-12">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label><span style="color: #ff0000;"></span>Policies: </label>
                                <select id="ddlPolicy" class="form-control" name="download" onchange="DownloadPdf(this.value)"></select>
                            </div>
                        </div>
                    </div>
                    <!--<div style="border-bottom: 1px solid; padding-bottom: 135px; margin-bottom: 10px; margin-top: 20px"></div>-->
                    <div id="Calender" style="display:none;">
                        <div class="box-header with-border">
                            <h3 class="box-title">Holiday Calender</h3>
                        </div>
                        <div class="form-group col-md-12">

                            <!--<div class="col-md-3" style="margin-top:20px">
                                <div class="form-group">

                                    <input type="button" id="btnCalender" class="btn btn-primary form-control" value="Download Calendar" />
                                </div>
                            </div>
                            <div id="divCalender">
                                <table id="tblLeaveDetails" class="table table-bordered table-striped" style="display:none">
                                    <thead><tr><th>Leave Type</th><th>Applied On</th><th>Employee Remarks</th><th>From Date</th><th>To Date</th><th>Total Days</th><th>To Date</th><th>Status</th><th>Approved On</th><th>Rejected On</th><th>Employer Comment</th></tr></thead>
                                </table>
                            </div>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="box box-default">
        <div class="box-header with-border">
            <div id="msgdiv"></div>
            <h3 class="box-title">Calender</h3>
        </div>
        <div class="box-body">
            <div class="col-md-12">
                <div class="row">

                    <!--<div style="border-bottom: 1px solid; padding-bottom: 135px; margin-bottom: 10px; margin-top: 20px"></div>-->
                    <div id="Calender">
                        <div class="box-header with-border">
                            <h3 class="box-title">Holiday Calender</h3>
                        </div>
                        <div class="form-group col-md-12">

                            <div class="col-md-3" style="margin-top:20px">
                                <div class="form-group">
                                    <input type="button" id="btnCalender" class="btn btn-primary form-control" value="Download Calendar" />
                                </div>
                            </div>
                            <div id="divCalender">
                                <table id="tblHolidayList" class="table table-bordered table-striped">
                                    <thead><tr><th>Date</th><th>Weekday</th><th>Occassion</th></tr></thead>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


@section scripts{
    <script>
        var CreatedBy = '';
        var designationid = '';
        var associateid = '';
        var username = "<%= name %>";
        var menuUrl = '';
        $(document).ready(function () {

            GetCreatedBy();
            BindPolicyDropdown();
            BindHolidayList();

            $("#btnSavePdf").click(function () {
                var fileName = ReplaceQuote($("#txtFileName").val());

                var fileUpload = $("#fileUpload").val();
                var arr = fileUpload.split("\\");
                var filePath = "Policies/" + arr[2];
                if (fileName == '') {
                    $("#txtFileName").parent().addClass('has-error');
                    return false;
                }
                if (fileUpload == '') {
                    alert("Plaese select a file");
                    return false;
                }
                else {
                    $.post('/savePdf', { fileName: fileName, filePath: filePath }, function (data) {
                        $("#msgdiv").show();
                        $("#msgdiv").html("<div class='alert alert-success'><a href='#' class='close' data-dismiss='alert' aria-label='close'>&times;</a>File Saved Successfully.</div>");
                        BindPolicyDropdown();
                        $("#txtFileName").val('');
                        $("#fileUpload").val('');
                        $("#status").html('');
                    })
                }
            })
            $("#txtFileName").focusout(function () {
                var fileName = $("#txtFileName").val().trim();
                if (fileName != '') {
                    try {
                        $.post('/GetFileNameDuplicacy', { fileName: fileName }, function (data) {
                            var json = JSON.parse(data);
                            if (data.length > 10) {
                                alert("FileName already exists...");
                                $("#txtFileName").val('');
                            }
                        });
                    }
                    catch (err) { console.log(err.message); }
                }
            });

            //Export to word
            $("#btnCalender").click(function () {
                var htmltable = document.getElementById('tblHolidayList');
                var html = htmltable.outerHTML;
                window.open('data:application/msword,' + '\uFEFF' + encodeURIComponent(html));
            });

            //Check Authorized Menu
            $.post('/check_Authorized_Menu', { username: username, menuName: '/policy' }, function (data) {
                var json = JSON.parse(data);
                if (json[0].count == 0) {
                    window.location.href = "/";
                }
            });
        })
        $('#uploadForm').submit(function () {

            $("#status").empty().text("File is uploading...");
            $(this).ajaxSubmit({
                error: function (xhr) {
                    status('Error: ' + xhr.status);
                },
                success: function (response) {
                    console.log(response)
                    $("#status").empty().text(response);
                }
            });
            return false;
        });
        function BindPolicyDropdown() {
            try {
                $.post('/GetPolicies', function (data) {
                    var json = JSON.parse(data);
                    $("#ddlPolicy").empty();
                    if (data.length > 10) {
                        $("#ddlPolicy").append($("<option value='-1' selected='selected'>Select</option>"));
                        $.each(json, function (key, value) {
                            $('#ddlPolicy').append($("<option></option>").val(value.file_url).html(value.file_name));
                        });

                    }
                });
            }
            catch (err) { console.log(err.message); }
        }

        function populateMenu() {
            $.post('/populate_menu', { associateid: associateid }, function (data) {
                var json = JSON.parse(data);
                if (data.length > 10) {
                    $.each(json, function (key, value) {
                        if (value.menu_url == null) {
                            var menutext = "";
                            menutext += "<li class='dropdown'><a href='#' class='dropdown-toggle' data-toggle='dropdown'>" + value.menu_name + "<span class='caret'></span></a><ul class='dropdown-menu' role='menu'>";
                            $.each(json, function (key1, value1) {
                                if (value1.menu_parent_id == value.menuid) {
                                    menutext += "<li><a href='" + value1.menu_url + "'>" + value1.menu_name + "</a></li>";
                                }
                            });
                            menutext += "</ul></li>";
                            $('#nav').append($(menutext));
                        }
                        else if (value.menu_parent_id == null) {
                            $('#nav').append($('<li><a href="' + value.menu_url + '">' + value.menu_name + '</a></li>'));
                        }
                    });
                }
            });
        }

        function GetCreatedBy() {
            try {
                $.post('/GetLoginDetails', { username: username }, function (data) {
                    var json = JSON.parse(data);
                    if (data.length > 3) {
                        CreatedBy = json[0].userid;
                        designationid = json[0].designationid;
                        associateid = json[0].associateid;
                        populateMenu();
                        GetDepartmentId();
                    }
                });
            } catch (err) {
                console.log(err.message);
            }
        }

        function DownloadPdf(d) {
            if (d == 'Select') return;
            window.location = d;
        }
        function RemoveHashTild(obj) {
            var id = obj.id;
            var a = $("#" + id).val();
            if (String(a).indexOf("#") >= 0 || String(a).indexOf("~") >= 0) {
                a = a.replace("~", "");
                a = a.replace("#", "");
                $("#" + id).val(a);
            }
        }

        function RemoveValidation(obj) {
            var id = obj.id;
            $("#" + id).parent().removeClass('has-error');
        }

        function BindHolidayList() {

            $.post('/GetHolidayList', function (data) {

                var json = JSON.parse(data);
                if (data.length > 10) {
                    var datatable = $('#tblHolidayList');
                    datatable.empty();
                    datatable.append("<thead><tr><th>Date</th><th>Week Day</th><th>Occasion</th></tr></thead>");
                    $.each(json, function (key, Value) {
                        var date = this.holiday_date;
                        var occasion = this.occasion;
                        var weekDay = "";
                        if (this.weekday == 0) {
                            weekDay = "Sunday";
                        }
                        if (this.weekday == 1) {
                            weekDay = "Monday";
                        }
                        if (this.weekday == 2) {
                            weekDay = "Tuesday";
                        }
                        if (this.weekday == 3) {
                            weekDay = "Wednesday";
                        }
                        if (this.weekday == 4) {
                            weekDay = "Thursday";
                        }
                        if (this.weekday == 5) {
                            weekDay = "Friday";
                        }
                        if (this.weekDay == 6) {
                            weekDay = "Saturday";
                        }
                        var html = "<tr><td>" + date + "</td><td>" + weekDay + "</td><td>" + occasion + "</td></tr>";
                        datatable.append(html);
                    });
                }

            });
        }
        function GetDepartmentId() {

            $.post('/GetDepartmentId', { associateid: associateid }, function (data) {

                var json = JSON.parse(data);
                if (data.length > 10) {
                    var deptId = json[0].department_id;
                    if (deptId == 6 || deptId == 7) {
                        $("#divUploadPdf").show();
                        $("#divFileName").show();
                    }
                    else {
                        $("#divUploadPdf").hide();
                        $("#divFileName").hide();
                    }
                }
            });
        }
        function ReplaceQuote(data) {
            var result = '';
            var arr = [];
            arr = data.split(' ');
            for (var i in arr) {
                var a = '';
                a = arr[i].replace("'", "''");
                if (i == 0) {
                    result = result + a
                }
                else {
                    result = result + ' ' + a;
                }

            }
            return result;

        }
    </script>
    }