﻿
@{
    ViewData["Title"] = "PrepareSalarySlip";
}

<h2>PrepareSalarySlip</h2>

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Prepare Salary Slip
    </h1>
</section>
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-default">
                <div class="box-header with-border">
                    <h3 class="box-title">Prepare Salary Slip For <b><span id="spn_MonthName"></span></b></h3>

                    <div id="msgdiv"></div>
                </div>
                <div class="box-body">
                    <div class="callout callout-info nofoundlbl" style="display:none;"></div>
                    <table id="tblPayElementList" class="table table-bordered table-striped"></table>
                </div>
                <div class="box-footer">
                    <button class="btn btn-primary" id="btn_Save">Save</button>
                </div>
            </div>

        </div>
    </div>
</section>

<!-- /.content -->

@section scripts{

    <script type="text/javascript">
        var CreatedBy;
        var UpdatedBy;
        var designationid;
        var username = "<%= name %>";
        var associateid = '';
        var associate_code = '';
        var associate_name = '';
        var totalRows = 0;
        var data = '';
        var arr_associateId = [];
        var arr_payElementId = [];
        var salarySlipList = '';
        var monthName = '';
        var yearName = '';
        var monthYear = '';
        $(document).ready(function () {
            GetCreatedBy();
            GetMonthName();
            //Check Authorized Menu
            $.post('/check_Authorized_Menu', { username: username, menuName: '/PrepareSalarySlip' }, function (data) {
                var json = JSON.parse(data);
                if (json[0].count == 0) {
                    window.location.href = "/";
                }
            });
            $("#btn_Save").click(function () {
                var flag = true;
                salarySlipList = '';
                monthName = GetMonthName();
                yearName = getCurrentYear();
                monthYear = monthName + '_' + yearName;
                for (var i = 1; i <= totalRows; i++) {
                    data = $("#txt_payableDays_" + i).val().trim();
                    if (data == '') {

                        $("#txt_payableDays_" + i).addClass('has-error');
                        flag = false;
                    }
                    else {
                        salarySlipList = arr_payElementId[i] + "#" + arr_associateId[i] + "#" + $("#txt_payableDays_" + i).val().trim() + "#" + $("#txt_carryHomeSalary_" + i).val().trim() + "#" + monthName + "_" + yearName + "~" + salarySlipList;
                    }
                }
                var ins = salarySlipList.length - 1;
                if (salarySlipList.charAt(ins) == '~') {
                    salarySlipList = salarySlipList.substring(0, ins);
                }
                if (flag == true) {

                    var checkDuplicacy = false;
                    $.post('/CheckDuplicacySalarySlip', { monthYear: monthYear }, function (data) {
                        var json = JSON.parse(data);
                        if (json[0].count != 0) {
                            $("#msgdiv").show();
                            $("#msgdiv").html("<div class='alert alert-warning'>Data is already Saved.</div>");
                        }
                        else {
                            $.post('/InsertSalarySlip', { salarySlipList: salarySlipList }, function (data) {
                                $("#msgdiv").show();
                                $("#msgdiv").html("<div class='alert alert-success'>Saved Successfully.</div>");
                            });
                        }
                    });
                }
            });

            GetPayElementList();
        });
        function GetMonthName() {
            var CurrnetDate = new Date();
            var month = CurrnetDate.getUTCMonth();
            //var month = CurrnetDate.getUTCMonth() + 1; //months from 1-12
            //if (String(month).length == 1) {
            //    month = '0' + month;
            //}
            var months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'];
            $('#spn_MonthName').html(months[month]);
            return months[month];
        }
        //Function to get created by
        function populateMenu() {
            $.post('/populate_menu', { associateid: associateid }, function (data) {
                var json = JSON.parse(data);
                if (data.length > 10) {
                    $.each(json, function (key, value) {
                        if (value.menu_url == null) {
                            var menutext = "";
                            menutext += "<li class='dropdown'><a href='#' class='dropdown-toggle' data-toggle='dropdown'>" + value.menu_name + "<span class='caret'></span></a><ul class='dropdown-menu' role='menu'>";
                            $.each(json, function (key1, value1) {
                                if (value1.menu_parent_id == value.menuid) {
                                    menutext += "<li><a href='" + value1.menu_url + "'>" + value1.menu_name + "</a></li>";
                                }
                            });
                            menutext += "</ul></li>";
                            $('#nav').append($(menutext));
                        }
                        else if (value.menu_parent_id == null) {
                            $('#nav').append($('<li><a href="' + value.menu_url + '">' + value.menu_name + '</a></li>'));
                        }
                    });
                }
            });
        }
        function GetCreatedBy() {
            try {
                $.post('/GetLoginDetails', { username: username }, function (data) {
                    var json = JSON.parse(data);

                    if (data.length > 3) {
                        CreatedBy = json[0].userid;
                        designationid = json[0].designationid;
                        associateid = json[0].associateid;
                        populateMenu();
                    }
                });
            } catch (err) {
                console.log(err.message);
            }
        }
        function GetPayElementList() {
            $.post('/GetPayElementList', function (data) {

                var json = JSON.parse(data);
                var Month = getCurrentMonth();
                var Year = getCurrentYear();
                var dayInMonth = getDaysInMonth(Month, Year);
                if (data.length > 3) {
                    $("#msgdivtab").hide();
                    var datatable = $("#tblPayElementList");
                    datatable.empty();
                    datatable.append("<thead><tr><th>Sr.No.</th><th>Associate Code</th><th>Associate Name</th><th>Department</th><th>Designation</th><th>Payable Days</th><th>Carry Home Salary</th></tr></thead>")
                    $.each(json, function (key, value) {
                        arr_associateId[(key + 1)] = this.associateid;
                        arr_payElementId[(key + 1)] = this.id;
                        var PayableDays = "txt_payableDays_" + (key + 1);
                        var CarryHomeSalary = "txt_carryHomeSalary_" + (key + 1);
                        //var html = "<tr><td>" + (key + 1) + "</td><td>" + this.associate_code + "</td><td>" + this.associate_name + "</td><td>" + this.departmenttext + "</td><td>" + this.designationtext + "</td><td><select class='ddlMonth form-control'><option value='-1'>Select</option><option value='1'>Jan</option><option value='2'>Feb</option><option value='3'>Mar</option><option value='4'>Apr</option><option value='5'>May</option><option value='6'>Jun</option><option value='7'>Jul</option><option value='8'>Aug</option><option value='9'>Sep</option><option value='10'>Oct</option><option value='11'>Nov</option><option value='12'>Dec</option></select></td><td><input type='text' class='form-control NumericTextBox'/></td><td><input type='text' class='form-control NumericTextBox'/></td></tr>"
                        //$('.ddlMonth').val(month);
                        var html = "<tr><td>" + (key + 1) + "</td><td>" + this.associate_code + "</td><td>" + this.associate_name + "</td><td>" + this.departmenttext + "</td><td>" + this.designationtext + "</td><td><input type='text' id=" + PayableDays + " onfocusout='carryHomeSalary(this)' onkeyup='RemoveHashTild(this);' class='form-control txtPayableDays' value='" + dayInMonth + "' onfocus='RemoveValidation(this);'/></td><td><input type='text' id=" + CarryHomeSalary + " class='form-control NumericTextBox' readonly value='" + this.carry_home_salary + "'/></td></tr>"
                        totalRows = (key + 1);
                        datatable.append(html);
                    })
                    datatable.DataTable();

                }
                else {
                    $("#msgdivtab").show();
                    $("#msgdivtab").html("<div class='alert alert-warning'>No Record Found.</div>");
                }
            });
        }
        function carryHomeSalary(obj) {

            var arr = [];
            var payableDays_id = obj.id;
            arr = payableDays_id.split('_');
            var carryHomeSalary_id = "txt_carryHomeSalary_" + arr[2];

            var payableDays_val = $("#" + payableDays_id).val();
            var carryHomeSalary_val = $("#" + carryHomeSalary_id).val();
            var Month = getCurrentMonth();
            var Year = getCurrentYear();
            var dayInMonth = getDaysInMonth(Month, Year);
            if (payableDays_val != '') {
                if (payableDays_val != dayInMonth) {
                    if (payableDays_val > dayInMonth) {
                        alert('Payable days not valid...');
                        return false;
                    }
                    else {

                        var oneDaySalary = carryHomeSalary_val / dayInMonth;
                        var SalaryPayable = Math.round(oneDaySalary * payableDays_val);
                        $("#" + carryHomeSalary_id).val(SalaryPayable);
                    }
                }
            }
            else {
                $("#" + carryHomeSalary_id).val(carryHomeSalary_val);
            }

        }

        function getCurrentMonth() {
            var CurrnetDate = new Date();
            var month = CurrnetDate.getUTCMonth() + 1; //months from 1-12
            if (String(month).length == 1) {
                month = '0' + month;
            }
            return month;
        }
        function getCurrentYear() {
            var CurrnetDate = new Date();
            var year = CurrnetDate.getFullYear();
            return year;
        }
        //Remove Validation
        function RemoveValidation(obj) {
            var id = obj.id;
            $("#" + id).removeClass("has-error");
            $("#" + id).parent().removeClass("has-error");
            $('#additionalreportingperson').removeClass('has-error');
            $('#qualification').removeClass('has-error');
            $('#yearofpassing').removeClass('has-error');
            $('#institute').removeClass('has-error');
            $('#percentage').removeClass('has-error');
        }
        function runEffect() {
            var selectedEffect = 'blind';
            var options = {};
            $("#msgdiv").hide(selectedEffect, options, 500);
            $("#msgdivtab").hide(selectedEffect, options, 500);
        }
        function RemoveHashTild(obj) {
            var id = obj.id;
            var a = $("#" + id).val();
            if (String(a).indexOf("#") >= 0 || String(a).indexOf("~") >= 0) {
                a = a.replace("~", "");
                a = a.replace("#", "");
                $("#" + id).val(a);
            }
        }
        function ReplaceQuote(data) {
            var result = '';
            var arr = [];
            arr = data.split(' ');
            var result = '';
            var arr = [];
            arr = data.split(' ');
            for (var i in arr) {
                var a = '';
                a = arr[i].replace("'", "''");
                if (i == 0) {
                    result = result + a
                }
                else {
                    result = result + ' ' + a;
                }

            }
            return result;
        }
        function getDaysInMonth(month, year) {
            var days = Math.round(((new Date(year, month)) - (new Date(year, month - 1))) / 86400000);
            return days;
        }
    </script>
    }