﻿
@{
    ViewData["Title"] = "ProjectMaster";
}

<h2>ProjectMaster</h2>
<section class="content-header">
    <h1>
        Project Master
    </h1>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-4">
            <div class="box box-default">
                <div class="box-header with-border">
                    <h3 class="box-title">Project Details</h3>
                </div>
                <div class="box-body">
                    <div id="msgdiv"></div>
                    <div class="form-group col-md-6">
                        <label><span style="color: #ff0000;">*</span> Project Name</label>
                        <input type="text" class="form-control" id="project_name" maxlength="50" placeholder="Enter Project Name" onfocus="RemoveValidation(this)" />
                    </div>
                    <div class="form-group col-md-6">
                        <label><span style="color: #ff0000;">*</span> Start Date</label>
                        <input type="text" class="form-control" id="start_date" maxlength="50" placeholder="Select Start Date" onfocus="RemoveValidation(this)" readonly />
                    </div>
                    <div class="form-group col-md-6">
                        <label><span style="color: #ff0000;">*</span> Expected Date</label>
                        <input type="text" class="form-control" id="expected_date" maxlength="50" placeholder="Select Expected Completion Date" onfocus="RemoveValidation(this)" readonly />
                    </div>
                    <div class="form-group col-md-6">
                        <label> Completion Date</label>
                        <input type="text" class="form-control" id="completion_date" maxlength="50" placeholder="Select Completion Date" readonly />
                    </div>
                    <div class="form-group col-md-6">
                        <label><span style="color: #ff0000;">*</span> Select Department</label>
                        <select class="form-control" id="department" onfocus="RemoveValidation(this)">
                            <option></option>
                        </select>
                    </div>
                    <!-- /.box-body -->
                </div>
                <div class="box-footer">
                    <button class="btn btn-primary" id="addproject_master_btn">Save</button>
                    <button class="btn btn-primary" id="project_back_btn">Back</button>
                </div>
                <!-- /.box-body -->
                <!-- /.box -->
            </div>
        </div>
        <div class="col-md-8">
            <div class="box box-default">
                <div class="box-header with-border">
                    <h3 class="box-title">Project List</h3>
                </div>
                <div class="box-body">
                    <div class="box" style="height: 400px;overflow: auto;">
                        <table id="project_master_list" class="table table-bordered table-striped"></table>
                    </div>
                    <!-- /.box-body -->
                    <!-- /.box -->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /.content -->

@section scripts{
    <script type="text/javascript">
        var CreatedBy;
        var UpdatedBy;
        var username = "<%= name %>";
        var designationid;
        var datatable;
        //Function for start date
        $("#start_date").datepicker({
            dateFormat: 'dd-mm-yy',
            changeMonth: true,
            changeYear: true,
            maxDate: new Date(),
            onClose: function (selectedDate) {
                $("#dateto").datepicker("option", "minDate", selectedDate);
            }
        });
        //Function for expected date
        $("#expected_date").datepicker({
            minDate: 0,
            dateFormat: 'dd-mm-yy',
            changeMonth: true,
            changeYear: true,
            onClose: function (selectedDate) {
                $("#dateto").datepicker("option", "minDate", selectedDate);
            }
        });
        //Function for completed date
        $("#completion_date").datepicker({
            minDate: 0,
            dateFormat: 'dd-mm-yy',
            changeMonth: true,
            changeYear: true,
            onClose: function (selectedDate) {
                $("#dateto").datepicker("option", "minDate", selectedDate);
            }
        });
        $(document).ready(function () {
            GetCreatedBy();
            //Call function to get Qualification Master List
            GetProjectMasterList();
            //Hide Qualification back button initially
            $('#project_back_btn').hide();

            $('#project_back_btn').click(function () {
                window.location.href = "/projects";
            });

            //Function to get Department List
            $.get('/department_list', function (data) {

                var json = JSON.parse(data);
                if (data.length > 10) {
                    $('#department').find('option').remove();
                    $("#department").append($("<option value='-1' selected='selected'>Select</option>"));
                    $.each(json, function (key, value) {
                        $('#department').append($('<option>', {
                            value: this.departmentid,
                            text: this.departmenttext
                        }));
                    });
                }
            });

            //Function on click of add Qualification Master Button

            $('#addproject_master_btn').click(function () {

                var flag = 0;
                var project_name = ReplaceQuote($('#project_name').val());
                var start_date = $('#start_date').val();
                if (start_date != '') {
                    var arr = start_date.split('-');
                    start_date = arr[1] + '-' + arr[0] + '-' + arr[2];
                }
                var expected_date = $('#expected_date').val();
                if (expected_date != '') {
                    var arr = expected_date.split('-');
                    expected_date = arr[1] + '-' + arr[0] + '-' + arr[2];
                }
                var completion_date = $('#completion_date').val();
                if (completion_date != '') {
                    var arr = completion_date.split('-');
                    completion_date = arr[1] + '-' + arr[0] + '-' + arr[2];
                }

                var seloption = $('#department').find(":selected").val();

                //If qualification name got null
                if (project_name.trim() == "") {
                    $('#project_name').parent().addClass('has-error');
                    flag++;
                }
                if (start_date.trim() == "") {
                    $('#start_date').parent().addClass('has-error');
                    flag++;
                }
                if (expected_date.trim() == "") {
                    $('#expected_date').parent().addClass('has-error');
                    flag++;
                }
                if (seloption == '-1') {
                    $('#department').parent().addClass('has-error');
                    flag++;
                }
                if (flag > 0) {
                    return false;
                }
                else {
                    //If button text is "Save"
                    if ($('#addproject_master_btn').text() == 'Save') {
                        $.post('/SaveProject', { project_name: project_name, start_date: start_date, expected_date: expected_date, completion_date: completion_date, department: seloption, createdby: CreatedBy, updatedby: CreatedBy }, function (data) {
                            GetProjectMasterList();
                            $('#project_name').val('');
                            $('#start_date').val('');
                            $('#expected_date').val('');
                            $('#completion_date').val('');
                            $('#department').val('-1');
                        });
                        //Call function to get Qualification Master List
                        GetProjectMasterList();
                        $("#msgdiv").show();
                        //Show sucess message
                        $("#msgdiv").html("<div class='alert alert-success' style='margin-top:10px;'><label>Saved Successfully</label></div>");
                    }
                    else {
                        //If button text is "Update"
                        $.post("/UpdateProject", { id: project_id_data, project_name: project_name, start_date: start_date, expected_date: expected_date, completion_date: completion_date, department: seloption, updatedby: CreatedBy }, function (data) {
                            $('#project_name').val('');
                            $('#start_date').val('');
                            $('#expected_date').val('');
                            $('#completion_date').val('');
                            $('#department').val('-1');
                            //Call function to get Project Master list
                            GetProjectMasterList();
                            //Show sucess message
                            $("#msgdiv").show();
                            $("#msgdiv").html("<div class='alert alert-success' style='margin-top:10px;'><label>Updated Successfully</label></div>");
                            $('#addproject_master_btn').html('Save');
                            $('#project_back_btn').hide();
                        });
                    }
                }
            });

            //Check Authorized Menu
            $.post('/check_Authorized_Menu', { username: username, menuName: '/projects' }, function (data) {
                var json = JSON.parse(data);
                if (json[0].count == 0) {
                    window.location.href = "/";
                }
            });
        });

        //Function to get populated menu
        var associateid = '';
        function populateMenu() {
            $.post('/populate_menu', { associateid: associateid }, function (data) {
                var json = JSON.parse(data);
                if (data.length > 10) {
                    $.each(json, function (key, value) {
                        if (value.menu_url == null) {
                            var menutext = "";
                            menutext += "<li class='dropdown'><a href='#' class='dropdown-toggle' data-toggle='dropdown'>" + value.menu_name + "<span class='caret'></span></a><ul class='dropdown-menu' role='menu'>";
                            $.each(json, function (key1, value1) {
                                if (value1.menu_parent_id == value.menuid) {
                                    menutext += "<li><a href='" + value1.menu_url + "'>" + value1.menu_name + "</a></li>";
                                }
                            });
                            menutext += "</ul></li>";
                            $('#nav').append($(menutext));
                        }
                        else if (value.menu_parent_id == null) {
                            $('#nav').append($('<li><a href="' + value.menu_url + '">' + value.menu_name + '</a></li>'));
                        }
                    });
                }
            });
        }
        function GetCreatedBy() {
            try {
                $.post('/GetLoginDetails', { username: username }, function (data) {
                    var json = JSON.parse(data);

                    if (data.length > 3) {
                        CreatedBy = json[0].userid;
                        designationid = json[0].designationid;
                        associateid = json[0].associateid;
                        populateMenu();
                    }
                });
            } catch (err) {
                console.log(err.message);
            }
        }

        //Function to get Qualification Master list
        function GetProjectMasterList() {
            $.post('/GetProjectMasterList', function (data) {
                var json = JSON.parse(data);
                if (data.length > 10) {
                    var datatable = $('#project_master_list');
                    datatable.empty();
                    datatable.append("<thead><tr><th class=''>S.No.</th><th class=''>Project Name</th><th>Department</th><th style='width:20%'>Start Date</th><th>Expected</th><th>Completion</th><th class='theadlabel' colspan='2' style='width: 10%;border-right: 0px; text-align: center;'>Action</th></tr></thead>");
                    $.each(json, function (key, value) {
                        var html = '<tr row0 odd><td>' + (key + 1) + '</td><td>' + this.projecttext + '</td><td>' + this.departmenttext + '</td><td>' + this.datestart + '</td><td>' + this.expectedcompletiondate + '</td><td>' + (this.completiondate == null ? '' : this.completiondate) + '</td><td> ' + '<a href="#"><i class="fa fa-edit cursordiv" onclick="EditProjectMaster(' + this.projectid + ')"></i></a> ' + '|' + ' <a href="#" ><i class="fa fa-fw fa-remove cursordiv" onclick="EditProjectStatus(' + this.projectid + ',' + this.isactive + ')"></i></a>' + '</td></tr>';
                        datatable.append(html);
                        $('.nofoundlbl').hide();
                    });

                }
                else {
                    $('.nofoundlbl').show();
                    $('.nofoundlbl').val("No Record Found");
                }
                //datatable.append("</tbody>");

            });
        }


        //Function to edit Qualification Master
        function EditProjectMaster(Project_Id_Data) {
            project_id_data = Project_Id_Data;
            //Show Qualification back button
            $('#project_back_btn').show();
            $.post('/editProjectMaster', { id: Project_Id_Data }, function (data) {
                var json = JSON.parse(data);
                if (data.length > 10) {
                    $('#project_name').val(json[0].projecttext);
                    $('#start_date').val(json[0].datestart);
                    $('#expected_date').val(json[0].expectedcompletiondate);
                    $('#completion_date').val(json[0].completiondate);
                    $('#department').val(json[0].departmentid);
                    $('#addproject_master_btn').html('Update');
                }
            });
        }
        //Function will be called onclick of delete
        function EditProjectStatus(Project_Id_Data, txtStatus) {
            if (txtStatus) {
                txtStatus = false;
            }
            else {
                txtStatus = true;
            }
            $.post('/updateProjectStatus', { id: Project_Id_Data, status: txtStatus }, function (data) {
                GetProjectMasterList();
            });
            $("#msgdiv").show();
            $("#msgdiv").html("<div class='alert alert-success' style='margin-top:10px;'><label>Deactivated Successfully</label></div>");
        }


        function runEffect() {
            var selectedEffect = 'blind';
            var options = {};
            $("#msgdiv").hide(selectedEffect, options, 500);
        };

        $("#project_name").click(function () {
            runEffect();
            return false;
        });
        function RemoveValidation(obj) {
            var id = obj.id;
            $("#" + id).parent().removeClass('has-error');
        }
        function RemoveHashTild(obj) {
            var id = obj.id;
            var a = $("#" + id).val();
            if (String(a).indexOf("#") >= 0 || String(a).indexOf("~") >= 0) {
                a = a.replace("~", "");
                a = a.replace("#", "");
                $("#" + id).val(a);
            }
        }
        function ReplaceQuote(data) {
            var result = '';
            var arr = [];
            arr = data.split(' ');
            for (var i in arr) {
                var a = '';
                a = arr[i].replace("'", "''");
                if (i == 0) {
                    result = result + a
                }
                else {
                    result = result + ' ' + a;
                }

            }
            return result;

        }
    </script>
    }