﻿
@{
    ViewData["Title"] = "ProjectTimelineSummary";
}

<h2>ProjectTimelineSummary</h2>

<section class="content-header">
    <h1>Project Timeline Summery</h1>
</section>
<!-- Main content -->
<section class="content">
    <div class="box box-default" style="overflow:auto;">
        <div class="box-header with-border">
            <div id="msgdiv"></div>
            <h3 class="box-title">Project Timeline Summery</h3>
        </div>
        <div class="box-body" style="padding-top: 2%;">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-5">
                            <div class="form-group">
                                <label>Project: </label>
                                <select id="ddlProject" class="form-control select2" multiple="multiple" name="download" data-placeholder="Select Project" style="width: 100%;"></select>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group">
                                <label>Associate Name: </label>
                                <select id="ddlAssociateName" class="form-control select2" multiple="multiple" name="download" data-placeholder="Select Associate Name" style="width: 100%;"></select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-5">
                            <div class="form-group">
                                <label><span style="color: #ff0000;">*</span>From Date: </label>
                                <input type="text" id="txt_fromdate" placeholder="dd/mm/yyyy" class="form-control" readonly onfocus="return RemoveValidation(this);" />
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group">
                                <label><span style="color: #ff0000;">*</span>To Date: </label>
                                <input type="text" id="txt_todate" placeholder="dd/mm/yyyy" class="form-control" readonly onfocus="return RemoveValidation(this);" />
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group" style="padding-top: 15%;">
                                <input type="button" id="btn_submit" class="btn btn-primary" value="Submit" />
                                <input type="button" id="btn_clear" class="btn btn-primary" value="Clear" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <table id="tblProjectTimelineSummery" class="table table-bordered table-striped">
                <thead> </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</section>

@section scripts{
    <script type="text/javascript">
        var CreatedBy = '';
        var designationid = '';
        var associateid = '';
        var username = "<%= name %>";
        var menuUrl = '';
        var userDepartmentId = '';
        var TotalProjectTime = '';
        var checkIsAssignTimeline = true;
        $(".select2").select2();
        $(document).ready(function () {

            $("#txt_date").val($.datepicker.formatDate("dd-mm-yy", new Date()));
            var projectName = '';
            var associateName = '';
            var todate = '';
            var fromdate = '';
            GetCreatedBy();
            GetProjectName();
            GetAssociateName();
            $.post('/check_Authorized_Menu', { username: username, menuName: '/ProjectTimelineSummery' }, function (data) {

                var json = JSON.parse(data);
                if (json[0].count == 0) {
                    window.location.href = "/";
                }
            });
            GetDesignationId_AssignTimeline();

            $("#txt_fromdate").datepicker({
                maxDate: 0,
                dateFormat: 'dd-mm-yy',
                changeMonth: true,
                changeYear: true,
                onClose: function (selectedDate) {
                    $("#txt_todate").datepicker("option", "minDate", selectedDate);
                }
            });

            $("#txt_todate").datepicker({
                maxDate: 0,
                dateFormat: 'dd-mm-yy',
                changeMonth: true,
                changeYear: true,
                onClose: function (selectedDate) {
                    $("#txt_fromdate").datepicker("option", "maxDate", selectedDate);
                }
            });


            $("#btn_submit").click(function () {
                var project_multipleValue = [];
                var associateName_multipleValue = [];
                var flag = true;
                $('#ddlProject :selected').each(function (i, selected) {
                    project_multipleValue[i] = $(selected).val();
                });
                var ProjectSelectedValue = '';
                var i = 0;
                for (var a in project_multipleValue) {
                    if (ProjectSelectedValue != '') {
                        ProjectSelectedValue = ProjectSelectedValue + ',' + project_multipleValue[i];
                    }
                    else {
                        ProjectSelectedValue = project_multipleValue[i];
                    }
                    i = i + 1;
                }
                $('#ddlAssociateName :selected').each(function (i, selected) {
                    associateName_multipleValue[i] = $(selected).val();
                });
                var AssociateSelectedValue = '';
                var i = 0;
                for (var a in associateName_multipleValue) {
                    if (AssociateSelectedValue != '') {
                        AssociateSelectedValue = AssociateSelectedValue + ',' + associateName_multipleValue[i];
                    }
                    else {
                        AssociateSelectedValue = associateName_multipleValue[i];
                    }
                    i = i + 1;
                }
                fromdate = $("#txt_fromdate").val().trim();
                todate = $("#txt_todate").val().trim();
                if (checkIsAssignTimeline == true) {
                    if (AssociateSelectedValue == '' && ProjectSelectedValue == '') {
                        alert('Please select Project or Associate Name');
                        flag = false;
                    }
                }
                else {
                    if (AssociateSelectedValue == '' && ProjectSelectedValue == '') {
                        alert('Please select Project or Associate Name');
                        flag = false;
                    }
                    if (AssociateSelectedValue == '' && ProjectSelectedValue != '') {
                        alert('Please select Associate Name');
                        flag = false;
                    }
                }
                if (fromdate == '') {
                    $("#txt_fromdate").addClass('has-error');
                    flag = false;
                }
                if (todate == '') {
                    $("#txt_todate").addClass('has-error');
                    flag = false;
                }
                if (flag == true) {
                    var fromdatearr = fromdate.split('-');
                    fromdate = fromdatearr[1] + '-' + fromdatearr[0] + '-' + fromdatearr[2];
                    var todatearr = todate.split('-');
                    todate = todatearr[1] + '-' + todatearr[0] + '-' + todatearr[2];
                    GetTotalTimeofMultipleProject(ProjectSelectedValue, AssociateSelectedValue, fromdate, todate);
                }
            });
            $("#btn_clear").click(function () {
                GetProjectName();
                GetAssociateName();
                $("#txt_fromdate").val('');
                $("#txt_todate").val('');
                runEffect();
                return false;
            })

        })

        function GetDesignationId_AssignTimeline() {
            //$.post('/GetDesignationId_AssignTimeline', { username: username }, function(data) {
            //    var json = JSON.parse(data);
            //    if (json[0].count == 1) {

            //    }
            //    else {
            //        alert(associateid);
            //    }
            //});
        }
        function totalTime(hour, minute) {
            var _hour = 0;
            var _minute = 0;
            var _time = 0;
            if (minute > 59) {
                _hour = minute / 60;
                _minute = minute % 60;
            }
            else
                _minute = minute;
            _hour = parseInt(hour) + parseInt(_hour);
            if (String(_hour).length == 1) {
                _hour = '0' + _hour;
            }
            if (String(_minute).length == 1) {
                _minute = '0' + _minute;
            }
            _time = _hour + ':' + _minute;
            return _time;
        }
        function GetProjectTimelineSummery(ProjectSelectedValue, AssociateSelectedValue, fromdate, todate) {
            $.post('/GetProjectTimelineSummery', { ProjectSelectedValue: ProjectSelectedValue, AssociateSelectedValue: AssociateSelectedValue, fromdate: fromdate, todate: todate }, function (data) {
                try {
                    var json = JSON.parse(data);
                    if (data.length > 10) {

                        $("#tblProjectTimelineSummery").empty();
                        var ProjectText = '';
                        var datatable = $("#tblProjectTimelineSummery");
                        datatable.append("<tr><th>Project Name</th><th>Associate Name</th><th>Time (hh:mm)</th></tr>");
                        var arr = TotalProjectTime.split(',');
                        var i = 0;
                        $.each(json, function (key, Value) {
                            var TotalTime = totalTime(this.hoursum, this.minutesum);
                            if (ProjectText != this.projecttext) {
                                datatable.append("<tr style='background-color: #00a65a;'><th colspan='3'><center>" + this.projecttext + " Total Time:- " + arr[i] + "</center></th></tr>");
                                i = i + 1;
                            }
                            datatable.append("<tr><td>" + this.projecttext + "</td><td>" + this.associate_name + "</td><td>" + TotalTime + "</td></tr>");
                            ProjectText = this.projecttext;

                        });
                        runEffect();
                    }
                    else {
                        $("#tblProjectTimelineSummery").empty();
                        $("#msgdiv").show();
                        $("#msgdiv").html("<div class='alert alert-danger' style='margin-top:10px;'><label>No Record Found</label></div>");
                    }
                } catch (err) {
                    console.log(err.message);
                }
            })
        }
        function GetTotalTimeofMultipleProject(ProjectSelectedValue, AssociateSelectedValue, fromdate, todate) {
            //var time = 0;
            TotalProjectTime = '';
            var a = $.post('/GetProjectTimelineSummeryHourMinute', { ProjectSelectedValue: ProjectSelectedValue, AssociateSelectedValue: AssociateSelectedValue, fromdate: fromdate, todate: todate }, function (data) {
                try {
                    alert("All Four=" + data);
                    var json = JSON.parse(data);
                    if (data.length > 10) {
                        $.each(json, function (key, Value) {
                            if (TotalProjectTime != '') {
                                TotalProjectTime = TotalProjectTime + ',' + totalTime(this.totalhour, this.totalminute)
                            } else {
                                TotalProjectTime = totalTime(this.totalhour, this.totalminute)
                            }
                        });
                    }

                } catch (err) {
                    console.log(err.message);
                }
            });
            a.complete(function () { GetProjectTimelineSummery(ProjectSelectedValue, AssociateSelectedValue, fromdate, todate); });
        }
        function GetProjectName() {
            try {
                $.post("/GetProjectName", { username: username }, function
                    (data) {
                    var json = JSON.parse(data);
                    if (data.length > 10) {
                        $("#ddlProject").empty();
                        $.each(json, function (key, value) {
                            $("#ddlProject").append($("<option></option>").val(value.projectid).html(value.projecttext));
                        });
                    }
                });
            } catch (err) { console.log(err.message); }
        }
        function GetAssociateName() {
            $.post('/GetDesignationId_AssignTimeline', { username: username }, function (data) {
                var json = JSON.parse(data);
                if (json[0].count == 1 || username == 'AVIS0000') {
                    try {
                        $.post("/GetActiveReportingPerson", function (data) {
                            var json = JSON.parse(data);
                            if (data.length > 10) {
                                $("#ddlAssociateName").empty();
                                $.each(json, function (key, value) {
                                    $("#ddlAssociateName").append($("<option></option>").val(value.associateid).html(value.associate_name));
                                });
                            }
                        });
                    } catch (err) { console.log(err.message); }
                }
                else {
                    try {
                        checkIsAssignTimeline = false;
                        $.post("/GetActiveReportingPerson", function (data) {
                            var json = JSON.parse(data);
                            if (data.length > 10) {
                                $("#ddlAssociateName").empty();
                                $.each(json, function (key, value) {
                                    if (value.associateid == associateid) {
                                        $("#ddlAssociateName").append($("<option></option>").val(value.associateid).html(value.associate_name));
                                    }
                                });
                            }
                        });
                    } catch (err) { console.log(err.message); }
                }
            });
        }

        function runEffect() {
            var selectedEffect = 'blind';
            var options = {};
            $("#msgdiv").hide(selectedEffect, options, 500);
        }

        function populateMenu() {
            $.post('/populate_menu', { associateid: associateid }, function (data) {
                var json = JSON.parse(data);
                if (data.length > 10) {
                    $.each(json, function (key, value) {
                        if (value.menu_url == null) {
                            var menutext = "";
                            menutext += "<li class='dropdown'><a href='#' class='dropdown-toggle' data-toggle='dropdown'>" + value.menu_name + "<span class='caret'></span></a><ul class='dropdown-menu' role='menu'>";
                            $.each(json, function (key1, value1) {
                                if (value1.menu_parent_id == value.menuid) {
                                    menutext += "<li><a href='" + value1.menu_url + "'>" + value1.menu_name + "</a></li>";
                                }
                            });
                            menutext += "</ul></li>";
                            $('#nav').append($(menutext));
                        }
                        else if (value.menu_parent_id == null) {
                            $('#nav').append($('<li><a href="' + value.menu_url + '">' + value.menu_name + '</a></li>'));
                        }
                    });
                }
            });
        }
        function GetCreatedBy() {
            try {
                $.post('/GetLoginDetails', { username: username }, function (data) {
                    var json = JSON.parse(data);
                    if (data.length > 3) {
                        CreatedBy = json[0].userid;
                        designationid = json[0].designationid;
                        associateid = json[0].associateid;
                        populateMenu();

                    }
                });
            } catch (err) {
                console.log(err.message);
            }
        }

        function RemoveValidation(obj) {
            var id = obj.id;
            $("#" + id).parent().removeClass('has-error');
            $("#" + id).removeClass('has-error');
        }
    </script>
    }