﻿
@{
    ViewData["Title"] = "QualificationMaster";
}

<h2>QualificationMaster</h2>

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Qualification Master
    </h1>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-7">
            <div class="box box-default">
                <div class="box-header with-border">
                    <h3 class="box-title">Qualification Details</h3>
                </div>
                <div class="box-body">
                    <div id="msgdiv"></div>
                    <div class="form-group col-md-6">
                        <label><span style="color: #ff0000;">*</span> Qualification Name</label>
                        <input type="text" class="form-control CharcaterTextBox" id="qualification_name"
                               maxlength="50" placeholder="Enter Qualification Name" required>
                    </div>
                    <!-- /.box-body -->
                </div>
                <div class="box-footer">
                    <button class="btn btn-primary" id="addqualification_master_btn">Save</button>
                    <button class="btn btn-primary" id="qualification_back_btn">Back</button>

                </div>
                <!-- /.box-body -->
                <!-- /.box -->
            </div>
        </div>
        <div class="col-md-5">
            <div class="box box-default">
                <div class="box-header with-border">
                    <h3 class="box-title">Qualification Master List</h3>
                </div>
                <div class="box-body">
                    <div class="callout callout-info nofoundlbl"></div>
                    <div class="box">
                        <table id="qualification_master_list" class="table table-bordered table-striped"></table>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
        </div>
    </div>
</section>
<!-- /.content -->

@section scripts{
    <script>
        var CreatedBy;
        var UpdatedBy;
        var designationid;
        var username = "<%= name %>";

        $(document).ready(function () {
            GetCreatedBy();
            //Call function to get Qualification Master List
            GetQualificationMasterList();
            //Hide Qualification back button initially
            $('#qualification_back_btn').hide();

            $('#qualification_back_btn').click(function () {
                window.location.href = "/qualification";
            });

            //Function on click of add Qualification Master Button
            var flag = 0;
            $('#addqualification_master_btn').click(function () {
                var qualification_name = $('#qualification_name').val();

                //If qualification name got null
                if (qualification_name.trim() == "") {
                    $('#qualification_name').addClass('has-error');
                    alert("Fill in all required fields");
                    flag++;
                }
                if (flag > 0) {
                    return false;
                }
                else {
                    //If button text is "Save"
                    if ($('#addqualification_master_btn').text() == 'Save') {
                        $.post('/SaveQualification', { qualification_name: qualification_name, createdby: CreatedBy, updatedby: CreatedBy }, function (data) {
                            GetQualificationMasterList();
                            $('#qualification_name').val('');
                        });
                        //Call function to get Qualification Master List
                        //GetQualificationMasterList();
                        //Show sucess message
                        $("#msgdiv").show();
                        $("#msgdiv").html("<div class='alert alert-success' style='margin-top:10px;'><label>Saved Successfully</label></div>");

                    }
                    else {
                        //If button text is "Update"
                        $.post("/UpdateQualification", { id: qualification_id_data, qualification_name: qualification_name, createdby: CreatedBy, updatedby: CreatedBy }, function (data) {
                            $('#qualification_name').val('');
                            $('#addqualification_master_btn').text('Save');
                            $('#qualification_back_btn').hide();
                            //Call function to get Qualification Master list
                            GetQualificationMasterList();
                            //Show sucess message
                            $("#msgdiv").show();
                            $("#msgdiv").html("<div class='alert alert-success' style='margin-top:10px;'><label>Updated Successfully</label></div>");

                        });
                    }
                }
            });

            //Check Authorized Menu

        });

        //Function to get Qualification Master list
        function GetQualificationMasterList() {
            $.post('/GetQualificationMasterList', function (data) {
                var json = JSON.parse(data);
                if (data.length > 10) {
                    var datatable = $('#qualification_master_list');
                    datatable.empty();
                    datatable.append("<thead><tr><th class='' style='width:10%;'>S.No.</th><th class='' style='width: 40%;'>Qualifiction</th><th class='theadlabel' colspan='2' style='width: 10%;border-right: 0px; text-align: center;'>Action</th></tr></thead>");
                    $.each(json, function (key, value) {
                        var html = '<tr row0 odd><td>' + (key + 1) + '</td><td>' + this.qualificationtext + '</td><td> ' + '<div class="cursordiv" onclick="EditQualificationMaster(' + this.qualificationid + ')"><i class="fa fa-fw fa-edit"></i></div>' + '</td><td>' + '<div class="cursordiv" onclick="EditQalificationStatus(' + this.qualificationid + ',' + this.isactive + ')"><i class="fa fa-fw fa-remove"></i></div>' + '</td></tr>';
                        datatable.append(html);
                        $('.nofoundlbl').hide();
                    });
                }
                else {
                    $('.nofoundlbl').show();
                    $('.nofoundlbl').val("No Record Found");
                }
                datatable.append("</tbody>");
            });
        }

        //Function to get created by
        var associateid = '';
        function populateMenu() {
            $.post('/populate_menu', { associateid: associateid }, function (data) {
                var json = JSON.parse(data);
                if (data.length > 10) {
                    $.each(json, function (key, value) {
                        if (value.menu_url == null) {
                            var menutext = "";
                            menutext += "<li class='dropdown'><a href='#' class='dropdown-toggle' data-toggle='dropdown'>" + value.menu_name + "<span class='caret'></span></a><ul class='dropdown-menu' role='menu'>";
                            $.each(json, function (key1, value1) {
                                if (value1.menu_parent_id == value.menuid) {
                                    menutext += "<li><a href='" + value1.menu_url + "'>" + value1.menu_name + "</a></li>";
                                }
                            });
                            menutext += "</ul></li>";
                            $('#nav').append($(menutext));
                        }
                        else if (value.menu_parent_id == null) {
                            $('#nav').append($('<li><a href="' + value.menu_url + '">' + value.menu_name + '</a></li>'));
                        }
                    });
                }
            });
        }
        function GetCreatedBy() {
            try {
                $.post('/GetLoginDetails', { username: username }, function (data) {
                    var json = JSON.parse(data);

                    if (data.length > 3) {
                        CreatedBy = json[0].userid;
                        designationid = json[0].designationid;
                        associateid = json[0].associateid;
                        populateMenu();
                    }
                });
            } catch (err) {
                console.log(err.message);
            }
        }
        //Function to edit Qualification Master
        function EditQualificationMaster(Qualifiction_Id_Data) {
            qualification_id_data = Qualifiction_Id_Data;
            //Show Qualification back button
            $('#qualification_back_btn').show();
            $.post('/editQualificationMaster', { id: Qualifiction_Id_Data }, function (data) {
                var json = JSON.parse(data);
                if (data.length > 10) {
                    $('#qualification_name').val(json[0].qualificationtext);
                    $('#addqualification_master_btn').html('Update');
                }
            });
        }
        //Function will be called onclick of delete
        function EditQalificationStatus(Qualifiction_Id_Data, txtStatus) {
            if (txtStatus) {
                txtStatus = false;
            }
            else {
                txtStatus = true;
            }
            $.post('/updateQualificationStatus', { id: Qualifiction_Id_Data, status: txtStatus }, function (data) {
                GetQualificationMasterList();
            });

            $("#msgdiv").show();
            $("#msgdiv").html("<div class='alert alert-success' style='margin-top:10px;'><label>Deactivated Successfully</label></div>");

        }
    </script>
    <script type="text/javascript">
        $(function () {
            function runEffect() {

                var selectedEffect = 'blind';

                var options = {};

                $("#msgdiv").hide(selectedEffect, options, 500);
            };
            //
            $("#qualification_name").click(function () {
                runEffect();
                return false;
            });
        });
    </script>
}





