﻿
@{
    ViewData["Title"] = "ReasonOfLeaving";
}

<h2>ReasonOfLeaving</h2>
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Reason of Leaving
    </h1>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-7">
            <div class="box box-default">
                <div class="box-header with-border">
                    <h3 class="box-title"></h3>
                </div>
                <div class="box-body">
                    <div id="msgdiv"></div>
                    <div class="form-group col-md-6">
                        <label><span style="color: #ff0000;">*</span> Reason of Leaving</label>
                        <input type="text" class="form-control CharcaterTextBox" id="reason_of_leaving"
                               maxlength="50" placeholder="Enter Reason of Leaving" onfocus="RemoveValidation(this);">
                    </div>
                    <!-- /.box-body -->
                </div>
                <div class="box-footer">
                    <button class="btn btn-primary" id="addreason_of_leaving_btn">Save</button>
                    <button class="btn btn-primary" id="reason_of_leaving_back_btn">Back</button>

                </div>
                <!-- /.box-body -->
                <!-- /.box -->
            </div>
        </div>
        <div class="col-md-5">
            <div class="box box-default">
                <div class="box-header with-border">
                    <h3 class="box-title">Reason of Leaving</h3>
                </div>
                <div class="box-body">
                    <div class="callout callout-info nofoundlbl"></div>
                    <div class="box">
                        <table id="reason_of_leaving_master_list" class="table table-bordered table-striped"></table>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
        </div>
    </div>
</section>
<!-- /.content -->

@section scripts{
    <script>
        var CreatedBy;
        var UpdatedBy;
        var designationid;
        var username = "<%= name %>";
        var associateid = '';
        $(document).ready(function () {
            GetCreatedBy();
            //Call function to get Reason of Leaving Master List
            GetReasonOfLeavingMasterList();
            //Hide Reason of Leaving back button initially
            $('#reason_of_leaving_back_btn').hide();

            $('#reason_of_leaving_back_btn').click(function () {
                window.location.href = "/reason_of_leaving";
            });

            //Function on click of add Reason of Leaving Master Button

            $('#addreason_of_leaving_btn').click(function () {
                var flag = 0;
                var reason = $('#reason_of_leaving').val();
                //If Reason of Leaving name got null
                if (reason.trim() == "") {
                    $('#reason_of_leaving').parent().addClass('has-error');
                    flag++;
                }
                if (flag > 0) {
                    return false;
                }
                else {
                    //If button text is "Save"
                    if ($('#addreason_of_leaving_btn').text() == 'Save') {
                        $.post('/SaveReason', { reason: reason, createdby: CreatedBy, updatedby: CreatedBy }, function (data) {
                            GetReasonOfLeavingMasterList();
                            $('#reason_of_leaving').val('');
                        });
                        //Call function to get Reason of Leaving Master List
                        //GetReasonOfLeavingMasterList();
                        //Show sucess message
                        $("#msgdiv").show();
                        $("#msgdiv").html("<div class='alert alert-success' style='margin-top:10px;'><label>Saved Successfully</label></div>");

                    }
                    else {
                        //If button text is "Update"
                        $.post("/UpdateReason", { id: reason_id_data, reason: reason, createdby: CreatedBy, updatedby: CreatedBy }, function (data) {
                            $('#reason_of_leaving').val('');
                            //Call function to get Reason of Leaving Master list
                            GetReasonOfLeavingMasterList();
                            //Show sucess message
                            $("#msgdiv").show();
                            $("#msgdiv").html("<div class='alert alert-success' style='margin-top:10px;'><label>Updated Successfully</label></div>");
                            $('#addreason_of_leaving_btn').html('Save');
                            $('#reason_of_leaving_back_btn').hide();

                        });
                    }
                }
            });

        });

        //Function to get Reason of Leaving Master list
        function GetReasonOfLeavingMasterList() {
            $.post('/GetReasonOfLeavingMasterList', function (data) {
                var json = JSON.parse(data);
                if (data.length > 10) {
                    var datatable = $('#reason_of_leaving_master_list');
                    datatable.empty();
                    datatable.append("<thead><tr><th class='' style='width:10%;'>S.No.</th><th class='' style='width: 40%;'>Reason</th><th class='theadlabel' colspan='2' style='width: 10%;border-right: 0px; text-align: center;'>Action</th></tr></thead>");
                    $.each(json, function (key, value) {
                        var html = '<tr row0 odd><td>' + (key + 1) + '</td><td>' + this.reasontext + '</td><td> ' + '<div class="cursordiv" onclick="EditReasonMaster(' + this.reasonid + ')"><i class="fa fa-fw fa-edit"></i></div>' + '</td><td>' + '<div class="cursordiv" onclick="EditReasonStatus(' + this.reasonid + ',' + this.isactive + ')"><i class="fa fa-fw fa-remove"></i></div>' + '</td></tr>';
                        datatable.append(html);
                        $('.nofoundlbl').hide();
                    });
                }
                else {
                    $('.nofoundlbl').show();
                    $('.nofoundlbl').val("No Record Found");
                }
                datatable.append("</tbody>");
            });
        }

        //Function to get created by
        function populateMenu() {
            $.post('/populate_menu', { associateid: associateid }, function (data) {
                var json = JSON.parse(data);
                if (data.length > 10) {
                    $.each(json, function (key, value) {
                        if (value.menu_url == null) {
                            var menutext = "";
                            menutext += "<li class='dropdown'><a href='#' class='dropdown-toggle' data-toggle='dropdown'>" + value.menu_name + "<span class='caret'></span></a><ul class='dropdown-menu' role='menu'>";
                            $.each(json, function (key1, value1) {
                                if (value1.menu_parent_id == value.menuid) {
                                    menutext += "<li><a href='" + value1.menu_url + "'>" + value1.menu_name + "</a></li>";
                                }
                            });
                            menutext += "</ul></li>";
                            $('#nav').append($(menutext));
                        }
                        else if (value.menu_parent_id == null) {
                            $('#nav').append($('<li><a href="' + value.menu_url + '">' + value.menu_name + '</a></li>'));
                        }
                    });
                }
            });
        }
        function GetCreatedBy() {
            try {
                $.post('/GetLoginDetails', { username: username }, function (data) {
                    var json = JSON.parse(data);

                    if (data.length > 3) {
                        CreatedBy = json[0].userid;
                        designationid = json[0].designationid;
                        associateid = json[0].associateid;
                        populateMenu();
                    }
                });
            } catch (err) {
                console.log(err.message);
            }
        }

        //Function to edit GetReasonOfLeavingMasterList Master
        function EditReasonMaster(Reason_Id_Data) {
            reason_id_data = Reason_Id_Data;
            //Show GetReasonOfLeavingMasterList back button
            $('#reason_of_leaving_back_btn').show();
            $.post('/editReasonMaster', { id: Reason_Id_Data }, function (data) {
                var json = JSON.parse(data);
                if (data.length > 10) {
                    $('#reason_of_leaving').val(json[0].reasontext);
                    $('#addreason_of_leaving_btn').html('Update');
                }
            });
        }
        //Function will be called onclick of delete
        function EditReasonStatus(Reason_Id_Data, txtStatus) {
            if (txtStatus) {
                txtStatus = false;
            }
            else {
                txtStatus = true;
            }
            $.post('/updateReasonStatus', { id: Reason_Id_Data, status: txtStatus }, function (data) {
                GetReasonOfLeavingMasterList();
            });

            $("#msgdiv").show();
            $("#msgdiv").html("<div class='alert alert-success' style='margin-top:10px;'><label>Deactivated Successfully</label></div>");

        }
    </script>
    <script type="text/javascript">
        $(function () {
            function runEffect() {

                var selectedEffect = 'blind';

                var options = {};

                $("#msgdiv").hide(selectedEffect, options, 500);
            };

            $("#reason_of_leaving").click(function () {
                runEffect();
                return false;
            });
        });
        function RemoveValidation(obj) {
            var id = obj.id;
            $("#" + id).parent().removeClass('has-error');
        }
    </script>
}