﻿
@{
    ViewData["Title"] = "ResetPasswordAuthentication";
}

<h2>ResetPasswordAuthentication</h2>

@section scripts{
    <script type="text/javascript">
        function getParameterByName(name, url) {

            if (!url) url = window.location.href;
            name = name.replace(/[\[\]]/g, "\\$&");
            var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
                results = regex.exec(url);
            if (!results) return null;
            if (!results[2]) return '';
            return decodeURIComponent(results[2].replace(/\+/g, " "));
        }
        function RemoveValidation(obj) {
            var id = obj.id;
            $("#" + id).removeClass('has-error');
        }
        function matchPassword() {
            var result = true;
            newPassword = $("#newPassword").val().trim();
            confirmPassword = $("#confirmPassword").val().trim();
            if (newPassword != '' && confirmPassword != '') {
                if (newPassword != confirmPassword) {
                    result = false;
                }
            }
            return result;
        }
        function runEffect() {
            var selectedEffect = 'blind';
            var options = {};
            $("#msgdiv").hide(selectedEffect, options, 500);
        }
        $(document).ready(function () {
            var encryptedUserName = getParameterByName('username');
            var newPassword = '';
            var confirmPassword = '';
            $("#submit").click(function () {
                var flag = true;
                newPassword = $("#newPassword").val().trim();
                confirmPassword = $("#confirmPassword").val().trim();
                if (newPassword == '') {
                    $("#newPassword").addClass('has-error');;
                    flag = false;
                }
                if (confirmPassword == '') {
                    $("#confirmPassword").addClass('has-error');;
                    flag = false;
                }
                if (newPassword != '' && confirmPassword != '') {
                    if (!matchPassword()) {
                        $("#msgdiv").show();
                        $("#msgdiv").html("<div class='alert alert-danger'>Password does not match.</div>");
                        flag = false;
                    }
                }
                if (flag == true) {
                    $.post("/updatepassword", { encryptedUserName: encryptedUserName, newPassword: newPassword }, function (data) {
                        var json = JSON.parse(data);
                        alert('Password has been Reset');
                        window.location.href = "/";
                    });
                }
            });
            $("#newPassword").click(function () {
                runEffect();
                return false;
            });
        });
    </script>
}
