﻿
@{
    ViewData["Title"] = "SalesDailyActivityReport";
}

<h2>SalesDailyActivityReport</h2>



<section class="content-header">
    <h1>Sales Daily Activity Report</h1>
</section>

<section class="content">
    <div class="box box-default">
        <div class="box-header with-border">
            <h3 class="box-title">Sales Daily Activity Reporting</h3>
        </div>

        <div class="box-body">
            <div class="form-group col-md-4">
                <label><span style="color: #ff0000;">*</span>Associate Name</label>
                <input type="text" class="form-control " id="txtassociate_name" readonly="readonly"
                       maxlength="50" placeholder="Associate Name" required>
                <input type="hidden" id="txtassociateid" name="user" value="texens" />

            </div>
            <div class="form-group col-md-2">
                <label><span style="color: #ff0000;">*</span>Reporting  Date</label>
                <input type="text" class="form-control " id="reporting_date"
                       maxlength="50" placeholder="Reporting  Date" required>
            </div>
            <div class="form-group col-md-2">
                <label><span style="color: #ff0000;">*</span>Server Date</label>
                <input type="text" class="form-control " id="server_date" readonly="readonly"
                       maxlength="50" placeholder="Server Date" required>
            </div>
            <div class="form-group col-md-2">
                <label><span style="color: #ff0000;">*</span>Total  Hour</label>
                <input type="text" class="form-control NumericTextBox" id="total_hour" readonly="readonly"
                       maxlength="50" placeholder="Total  Hour" value="00:00" required>
            </div>
            <div class="form-group col-md-2">
                <label><span style="color: #ff0000;"></span>Report Type</label>
                <br />

                <input type='checkbox' class='listcheckbox' value="1"></td>
                On Duty


            </div>
        </div>
        <div class="box-body">
            <div class="col-lg-12" style="margin-top:1%">
                <table id="tblData" class="table table-bordered">
                    <thead>
                        <tr>

                            <th><label>Project Name</label></th>
                            <th><label>Task Name</label></th>
                            <th><label>Activity Detail</label></th>
                            <th><label>Hours</label></th>
                            <th><label>Percentage</label></th>
                            <th><label>Status</label></th>
                            <th><label>Remark</label></th>
                            <th><label>Action</label></th>
                        </tr>
                    <thead>
                        <tr>
                            <td><input type="text" class="form-control " id="project_name" placeholder="Project Name" onfocus="Remove_Validation(this);"></td>
                            <td><input type="text" class="form-control " id="task_name" placeholder="Task Name" onfocus="Remove_Validation(this);"></td>
                            <td><input type="text" class="form-control " id="activity_detail" placeholder="Activity Detail" onfocus="Remove_Validation(this);"></td>
                            <td><input type="text" class="form-control NumericTextBox" id="hour" placeholder="HH:MM" onfocus="Remove_Validation(this);" onblur="checktime(this);" maxlength="5"></td>
                            <td><input type="text" class="form-control " id="curenet_percentage" placeholder="Percentage" onfocus="Remove_Validation(this);" onblur="checkpercent(this);"></td>
                            <td>  <select id="status" onfocus="Remove_Validation(this);" class="form-control "><option>Select</option><option value="1">Complete</option><option>Progress</option><option>Pending</option><option>Assigned</option><option>Not Assigned</option></select></td>
                            <td><input type="text" class="form-control " id="remark" placeholder="Remark" onfocus="Remove_Validation(this);"></td>
                            <td><input type="button" class="btn btn-primary btn-flat" id="add-row" value="Add Row"></td>
                        </tr>
                </table>
            </div>
        </div>
        <div class="box-footer">
            <button class="btn btn-primary btn-flat" id="btnreport_save">Save</button>
            <button class="btn btn-primary btn-flat" id="btn_authorize" style="display:none;">Authorize</button>
        </div>
    </div>

</section>

@section scripts{
    <script type="text/javascript">
        var DarId = '';
        var reportingpersonid = '';
        var hodofficialmail = '';
        var username = "<%= name %>";
        var designationid;
        var associatevalue;
        var CreatedBy;
        var UpdatedBy;
        var associate_id = '';
        var Insertedskill = '';
        var Insertedqualification = '';
        var Insertedexperience = '';
        var sum = '';
        var departmentid = '';
        var sumstr = '';
        var validatepercentage = '';
        var dailyreportdetail = '';
        var totalmail = '';
        var newvalidation = '';
        var remark = '';
        var official_email = '';
        var addhodofficialmail = '';
        var addhodofficialmaileach = '';
        var departmenthod_mailid = '';
        var associateid = '';
        var designationname = '';
        var checkinsertdata = '';
        $(document).ready(function () {
            $("#curenet_percentage").keydown(function (e) {
                // Allow: backspace, delete, tab, escape, enter and .
                if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 110, 190]) !== -1 ||
                    // Allow: Ctrl+A, Command+A
                    (e.keyCode === 65 && (e.ctrlKey === true || e.metaKey === true)) ||
                    // Allow: home, end, left, right, down, up
                    (e.keyCode >= 35 && e.keyCode <= 40)) {
                    // let it happen, don't do anything
                    return;
                }
                // Ensure that it is a number and stop the keypress
                if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
                    e.preventDefault();
                }
            });
            GetCreatedBy();
            GetAssosiateName();
            GetProjectName();
            GetDesignation();
            GetAssosiateEmailid();
            GetReportingPersonId();
            GetDepatrtmentHodMailId();
            GetAdditionalReportingPersonName();

            $("#reporting_date").datepicker({
                dateFormat: "dd-mm-yy",
                maxDate: new Date()
            });
            $("#curenet_percentage").keyup(function () {
                handleChange(this);
            });
            $("#hour").keyup(function () {
                var managehour = $("#hour").val();
                if ($("#hour").val().length == 2) {
                    $("#hour").val(managehour + ':');
                }
                if ($("#hour").val().length > 5) {
                    $("#hour").val('');
                }
            });
            $('#add-row').click(function (e) {
                var flag = false;
                e.preventDefault();

                $.ajaxSetup({ async: false });


                $.post("/checkinsertvalue",

                    { checkassociateid: associate_id },
                    function (data) {
                        var json = JSON.parse(data);

                        $.each(json, function (key, value) {


                            if (this.count == 0) {

                                flag = true;

                            }
                        });
                    });
                if (flag == false) {
                    alert('Daily Activity Report already submitted');
                    return false;
                }
                try {

                    var flag = 0;
                    var Select = 'Select';
                    var activitydetail = $('#activity_detail').val().trim();
                    var hour = $('#hour').val().trim();
                    var curerrentpercentage = $('#curenet_percentage').val().trim();
                    var status = $('#status :selected').text();
                    var projectname = $('#ddlproject_name :selected').text();
                    var projectvalname = $('#ddlproject_name :selected').val();
                    var taskname = $('#ddltask_name :selected').text();
                    var taskvalname = $('#ddltask_name :selected').val();
                    var remark = $('#remark').val().trim();
                    if (projectname == 'Select') {
                        $("#ddlproject_name").addClass('has-error');
                        flag++;
                    }
                    if (taskname == 'Select') {
                        $("#ddltask_name").addClass('has-error');
                        flag++;
                    }
                    if (activitydetail == '') {
                        $("#activity_detail").addClass('has-error');
                        flag++;
                    }
                    if (hour == '') {
                        $("#hour").addClass('has-error');
                        flag++;
                    }
                    if (curerrentpercentage == '') {
                        $("#curenet_percentage").addClass('has-error');
                        flag++;
                    }
                    if (status == 'Select') {
                        $("#status").addClass('has-error');
                        flag++;
                    }
                    if (hour != '') {

                        var totalhour = $('#total_hour').val().trim();
                        var validationhour = $('#hour').val().trim();
                        var validtotalhourstr = totalhour.split(':')
                        var validationhourstr = validationhour.split(':')
                        //For Get the Final Mintus
                        var validatesumstr = 0;
                        validatesumstr = parseInt(validtotalhourstr[1]) + parseInt(validationhourstr[1]);
                        validate_h = parseInt(validatesumstr / 60);
                        validate_m = validatesumstr - (validate_h * 60);
                        // For Get the Final Hour
                        var validatesum_hour = 0;
                        validatesum_hour = parseInt(validtotalhourstr[0]) + parseInt(validationhourstr[0]) + validate_h;
                        if (validatesum_hour >= 24) {
                            if (validatesum_hour > 24) {
                                alert('Total Hour can not be more then 24 hour');
                                $('#activity_detail').val('');
                                $('#hour').val('');
                                $('#curenet_percentage').val('');
                                $('#remark').val('');
                                $("#status option:contains(" + Select + ")").attr('selected', 'selected');
                                $("#ddlproject_name option:eq(0)").prop("selected", true);
                                $("#ddltask_name option:eq(0)").prop("selected", true);
                                flag++;
                            }
                            else if (validatesum_hour == 24 && validate_m > 0) {
                                alert('Total Hour can not be more then 24 hour');
                                $('#activity_detail').val('');
                                $('#hour').val('');
                                $('#curenet_percentage').val('');
                                $('#remark').val('');
                                $("#status option:contains(" + Select + ")").attr('selected', 'selected');
                                $("#ddlproject_name option:eq(0)").prop("selected", true);
                                $("#ddltask_name option:eq(0)").prop("selected", true);
                                flag++;
                            }
                            else {
                                var validatesum_hour_str = '';
                                var validate_m_str = '';
                                if (validatesum_hour < 10) {
                                    validatesum_hour_str = '0' + validatesum_hour;
                                }
                                else {
                                    validatesum_hour_str = validatesum_hour;
                                }
                                if (validate_m < 10) {
                                    validate_m_str = '0' + validate_m;
                                }
                                else {
                                    validate_m_str = validate_m;
                                }
                                $('#total_hour').val(validatesum_hour_str + ":" + validate_m_str);
                            }

                        }
                        else {
                            var validatesum_hour_str = '';
                            var validate_m_str = '';
                            if (validatesum_hour < 10) {
                                validatesum_hour_str = '0' + validatesum_hour;
                            }
                            else {
                                validatesum_hour_str = validatesum_hour;
                            }
                            if (validate_m < 10) {
                                validate_m_str = '0' + validate_m;
                            }
                            else {
                                validate_m_str = validate_m;
                            }
                            $('#total_hour').val(validatesum_hour_str + ":" + validate_m_str);
                        }
                    }

                    if (newvalidation == '0:0') {
                        $('#total_hour').val('0:0');
                    }

                    var str = totalhour.split(':')
                    Remove_Validation1();


                    if (validatepercentage == '') {
                        validatepercentage = curerrentpercentage;
                    }
                    else {
                        sum = parseFloat(validatepercentage) + parseFloat(curerrentpercentage);
                    }

                    if (flag > 0) {
                        return false;
                    }
                    else {
                        if (dailyreportdetail != '') {
                            dailyreportdetail += '~';
                        }
                        dailyreportdetail += projectname + '#' + taskname + '#' + activitydetail + '#' + hour + '#' + curerrentpercentage + '#' + status + '#' + remark;

                        $('#tblData').append("<tr><td id='" + projectvalname + "'>" + projectname + "</td><td  id='" + taskvalname + "'>" + taskname + "</td><td>" + activitydetail + "</td><td>" + hour + "</td><td>" + curerrentpercentage + "</td><td>" + status + "</td><td>" + remark + "</td><td><input type='button' style='width:100%;' class='btn btn-danger removeskill' id='removebtn' value='Remove' /></td></tr>");
                        if (Insertedskill != '') {
                            Insertedskill += '~';
                        }
                        Insertedskill += projectvalname + '#' + taskvalname + '#' + activitydetail + '#' + hour + '#' + curerrentpercentage + '#' + status + '#' + remark;
                        $('#activity_detail').val('');
                        $('#hour').val('');
                        $('#curenet_percentage').val('');
                        $('#remark').val('');
                        $("#status option:contains(" + Select + ")").attr('selected', 'selected');
                        $("#ddlproject_name option:eq(0)").prop("selected", true);
                        $("#ddltask_name option:eq(0)").prop("selected", true);
                    }
                    $("#status option:contains(" + Select + ")").attr('selected', 'selected');
                }
                catch (err) { console.log(err.message); }
            });
            $('#btn_authorize').click(function () {
                try {
                    var flag = 0;
                    var activitydetail = $('#activity_detail').val().trim();
                    var associatename = $('#txtassociate_name').val().trim();
                    var hour = $('#hour').val().trim();
                    var curerrentpercentage = $('#curenet_percentage').val().trim();
                    var status = $('#status :selected').text();
                    var projectname = $('#ddlproject_name :selected').text();
                    var projectvalname = $('#ddlproject_name :selected').val();
                    var taskname = $('#ddltask_name :selected').text();
                    var taskvalname = $('#ddltask_name :selected').val();
                    var remark = $('#remark').val().trim();
                    var reportingdate = $('#reporting_date').val().trim();
                    var severdate = $('#server_date').val().trim();
                    var totalhour = $('#total_hour').val();
                    if (reportingdate != '') {
                        var arr2 = reportingdate.split('-');
                        reportingdate = arr2[1] + '-' + arr2[0] + '-' + arr2[2];
                    }
                    if (severdate != '') {
                        var arr1 = severdate.split('-');
                        severdate = arr1[1] + '-' + arr1[0] + '-' + arr1[2];
                    }
                    if (reportingdate == '') {
                        $("#reporting_date").addClass('has-error');
                        flag++;
                    }
                    if (severdate == '') {
                        $("#server_date").addClass('has-error');
                        flag++;
                    }
                    if (totalhour == '00:00') {
                        $("#total_hour").addClass('has-error');
                        flag++;
                    }
                    if (flag > 0) {
                        return false;
                    }
                    else {
                        $.post('/authorizedailyactivityreport', {
                            DarId: DarId
                        }, function (data) {
                            alert('Authorize successfully');
                        });
                        var productarr = [];
                        productarr = dailyreportdetail.split('~');
                        var mailtext = '';
                        mailtext += '<b>Dear Sir/Maam,</b><br/><br/><br/>';
                        mailtext += 'Please find enclosed here with the Daily Activity Report as on (' + severdate + ')<br/><br/>';
                        mailtext += '<table>';
                        mailtext += '<tr><td>PROJECT NAME</td>&nbsp;<td>TASK NAME</td>&nbsp;<td>ACTIVITY DETAIL</td>&nbsp;<td>HOURS</td>&nbsp;<td>PERCENTAGE</td>&nbsp;<td>STATUS</td>&nbsp;<td>REMARK</td><tr><br/><br/>';
                        for (var i in productarr) {
                            var items = [];
                            items = productarr[i].split('#');
                            mailtext += '<tr><td>' + items[0] + '</td>&nbsp;<td>' + items[1] + '</td>&nbsp;<td>' + items[2] + '</td>&nbsp;<td>' + items[3] + '</td>&nbsp;<td>' + items[4] + '</td>&nbsp;<td>' + items[5] + '</td>&nbsp;<td>' + items[6] + '</td><tr><br/>';
                        }
                        mailtext += '</table><br/><br/>';
                        mailtext += 'Regards<br/>';
                        mailtext += '' + associatename + '<br/><br/>';
                        mailtext += '' + designationname + '<br/><br/><br/>';
                        mailtext += 'Declaration:If you have already received e-mail for daily activity report of ' + severdate + ' then ignore this mail.<br/>';
                        if ($('.listcheckbox').is(':checked')) {
                            $.post('/insertondutydetail', {
                                applied_by: associate_id, applied_on: severdate, DarId: DarId, status: 0
                            }, function (data) {

                            });
                            var mailtext1 = '';
                            mailtext1 += '<b>Dear Sir/Maam,</b><br/><br/><br/>';
                            mailtext1 += '' + associatename + ' has applied for OD.Please find enclosed here with OD detail for your review(' + severdate + ')<br/><br/>';

                            mailtext1 += '<table>';
                            mailtext1 += '<tr><td>PROJECT NAME</td>&nbsp;<td>TASK NAME</td>&nbsp;<td>ACTIVITY DETAIL</td>&nbsp;<td>HOURS</td>&nbsp;<td>PERCENTAGE</td>&nbsp;<td>STATUS</td>&nbsp;<td>REMARK</td><tr><br/><br/>';
                            for (var i in productarr) {
                                var items = [];
                                items = productarr[i].split('#');
                                mailtext1 += '<tr><td>' + items[0] + '</td>&nbsp;<td>' + items[1] + '</td>&nbsp;<td>' + items[2] + '</td>&nbsp;<td>' + items[3] + '</td>&nbsp;<td>' + items[4] + '</td>&nbsp;<td>' + items[5] + '</td>&nbsp;<td>' + items[6] + '</td><tr><br/>';
                            }
                            mailtext1 += '</table><br/><br/>';
                            mailtext1 += 'for take action please click below link<br/><br/>';
                            mailtext1 += '<a href="http://localhost:3001/dailyactivityauthenticationreport?DarId=';
                            var _sceondpart = '';
                            _sceondpart += '">Click Here</a><br/><br/>';
                            _sceondpart += 'Regards<br/>';
                            _sceondpart += 'System Admin<br/><br/>';
                            _sceondpart += 'Declaration:If you have already received e-mail for daily activity report of ' + severdate + ' then ignore this mail.<br/>';
                            var url = "";
                            var Totalmailurl = mailtext1;
                            taldarid = +DarId + "," + reportingpersonid;
                            $.post('/maildemo', {
                                totalmail: Totalmailurl, officialemail: official_email, hodofficialmail: hodofficialmail, encrypturl: 1, DarId: Totaldarid, secondpart: _sceondpart
                            }, function () {

                            });
                        }
                        var Totalhodmail = official_email + addhodofficialmail;
                        $.post('/maildemo', { totalmail: mailtext, hodofficialmail: hodofficialmail, Totalhodmail: Totalhodmail }, function () {
                        });
                    }
                }
                catch (err) { console.log(err.message); }
            });

            $('#btnreport_save').click(function () {
                var validateflag = false;
                $.ajaxSetup({ async: false });
                $.post("/checkinsertvalue",
                    { checkassociateid: associate_id },
                    function (data) {
                        var json = JSON.parse(data);
                        $.each(json, function (key, value) {
                            if (this.count == 0) {
                                validateflag = true;
                            }
                        });
                    });
                if (validateflag == false) {
                    alert('Daily Activity Report already submitted');
                    return false;
                }
                try {
                    var flag = 0;
                    var activitydetail = $('#activity_detail').val().trim();
                    var associatename = $('#txtassociate_name').val().trim();
                    var hour = $('#hour').val().trim();
                    var curerrentpercentage = $('#curenet_percentage').val().trim();
                    var status = $('#status :selected').text();
                    var projectname = $('#ddlproject_name :selected').text();
                    var projectvalname = $('#ddlproject_name :selected').val();
                    var taskname = $('#ddltask_name :selected').text();
                    var taskvalname = $('#ddltask_name :selected').val();
                    var remark = $('#remark').val().trim();
                    var reportingdate = $('#reporting_date').val().trim();
                    var severdate = $('#server_date').val().trim();
                    var totalhour = $('#total_hour').val();
                    if (reportingdate != '') {
                        var arr2 = reportingdate.split('-');
                        reportingdate = arr2[1] + '-' + arr2[0] + '-' + arr2[2];
                    }
                    if (severdate != '') {
                        var arr1 = severdate.split('-');
                        severdate = arr1[1] + '-' + arr1[0] + '-' + arr1[2];
                    }

                    if (reportingdate == '') {
                        $("#reporting_date").addClass('has-error');
                        flag++;
                    }
                    if (severdate == '') {
                        $("#server_date").addClass('has-error');
                        flag++;
                    }
                    if (totalhour == '00:00') {
                        $("#total_hour").addClass('has-error');
                        flag++;
                    }
                    if (flag > 0) {
                        return false;
                    }
                    else {
                        var productarr = [];
                        productarr = dailyreportdetail.split('~');
                        var mailtext = '';
                        mailtext += '<b>Dear Sir/Maam,</b><br/><br/><br/>';
                        mailtext += 'Please find enclosed here with the Daily Activity Report as on (' + severdate + ')<br/><br/>';

                        mailtext += '<table>';
                        mailtext += '<tr><td>PROJECT NAME</td>&nbsp;<td>TASK NAME</td>&nbsp;<td>ACTIVITY DETAIL</td>&nbsp;<td>HOURS</td>&nbsp;<td>PERCENTAGE</td>&nbsp;<td>STATUS</td>&nbsp;<td>REMARK</td><tr><br/><br/>';
                        for (var i in productarr) {
                            var items = [];
                            items = productarr[i].split('#');
                            mailtext += '<tr><td>' + items[0] + '</td>&nbsp;<td>' + items[1] + '</td>&nbsp;<td>' + items[2] + '</td>&nbsp;<td>' + items[3] + '</td>&nbsp;<td>' + items[4] + '</td>&nbsp;<td>' + items[5] + '</td>&nbsp;<td>' + items[6] + '</td><tr><br/>';
                        }
                        mailtext += '</table><br/><br/>';
                        mailtext += 'Regards<br/>';
                        mailtext += '' + associatename + '<br/><br/>';
                        mailtext += '' + designationname + '<br/><br/><br/>';
                        mailtext += 'Declaration:If you have already received e-mail for daily activity report of ' + severdate + ' then ignore this mail.<br/>';
                        $.post('/savedailyreportdetail', { associatenameval: associate_id, reportingdate: reportingdate, severdate: severdate, totalhour: totalhour, dailyreportdetail: Insertedskill }, function (data) {
                            $('#btn_authorize').show();
                            var json = JSON.parse(data);
                            DarId = json[0].dar_id
                            if (data.length > 10) {

                                alert('Save Successfully');

                                if ($('.listcheckbox').is(':checked')) {
                                    $.post('/insertondutydetail', {
                                        applied_by: associate_id, applied_on: severdate, DarId: DarId, status: 0
                                    }, function (data) {

                                    });
                                    var mailtext1 = '';
                                    mailtext1 += '<b>Dear Sir/Maam,</b><br/><br/><br/>';
                                    mailtext1 += '' + associatename + ' has applied for OD.Please find enclosed here with OD detail for your review(' + severdate + ')<br/><br/>';

                                    mailtext1 += '<table>';
                                    mailtext1 += '<tr><td>PROJECT NAME</td>&nbsp;<td>TASK NAME</td>&nbsp;<td>ACTIVITY DETAIL</td>&nbsp;<td>HOURS</td>&nbsp;<td>PERCENTAGE</td>&nbsp;<td>STATUS</td>&nbsp;<td>REMARK</td><tr><br/><br/>';
                                    for (var i in productarr) {
                                        var items = [];
                                        items = productarr[i].split('#');
                                        mailtext1 += '<tr><td>' + items[0] + '</td>&nbsp;<td>' + items[1] + '</td>&nbsp;<td>' + items[2] + '</td>&nbsp;<td>' + items[3] + '</td>&nbsp;<td>' + items[4] + '</td>&nbsp;<td>' + items[5] + '</td>&nbsp;<td>' + items[6] + '</td><tr><br/>';
                                    }
                                    mailtext1 += '</table><br/><br/>';
                                    mailtext1 += 'for take action please click below link<br/><br/>';
                                    mailtext1 += '<a href="http://localhost:3001/dailyactivityauthenticationreport?DarId=';
                                    var _sceondpart = '';
                                    _sceondpart += '">Click Here</a><br/><br/>';
                                    _sceondpart += 'Regards<br/>';
                                    _sceondpart += 'System Admin<br/><br/>';
                                    _sceondpart += 'Declaration:If you have already received e-mail for daily activity report of ' + severdate + ' then ignore this mail.<br/>';
                                    var url = "";
                                    var Totalmailurl = mailtext1;
                                    //   var Totalmailurl = mailtext1 ;

                                    Totaldarid = +DarId + "," + reportingpersonid;

                                    // $.post("/SetUserSession", { url: Totalmailurl }, function (data) { });
                                    //$.post('/maildemo', {
                                    //    totalmail: Totalmailurl, officialemail: official_email, hodofficialmail: hodofficialmail, encrypturl: 1, DarId: Totaldarid, secondpart: _sceondpart
                                    //}, function () {

                                    //});
                                }
                                var Totalhodmail = official_email + addhodofficialmail;
                                //$.post('/maildemo', { totalmail: mailtext, hodofficialmail: hodofficialmail, Totalhodmail: Totalhodmail }, function () {
                                //});
                            }
                            else {
                                alert('DAR is not submited');
                            }
                        });
                    }
                }
                catch (err) { console.log(err.message); }
            });
            $('#tblData').on('click', '.removeskill', function () {
                try {
                    var totalhour = $('#total_hour').val();
                    var str = totalhour.split(':')
                    var button = $(this);
                    var projectname = $(this).closest("tr").find("td:eq(0)").text();

                    var projectvalname = $(this).closest("tr").find("td:eq(0)")[0].id;

                    var taskname = $(this).closest("tr").find("td:eq(1)").text();
                    var taskvalname = $(this).closest("tr").find("td:eq(1)")[0].id;

                    var activitydetail = $(this).closest("tr").find("td:eq(2)").text();
                    var hour = $(this).closest("tr").find("td:eq(3)").text();
                    var curerrentpercentage = $(this).closest("tr").find("td:eq(4)").text();
                    var status = $(this).closest("tr").find("td:eq(5)").text();

                    var remark = $(this).closest("tr").find("td:eq(6)").text();
                    var removedailyreportdetail = projectname + '#' + taskname + '#' + activitydetail + '#' + hour + '#' + curerrentpercentage + '#' + status + '#' + remark;
                    dailyreportdetail = dailyreportdetail.replace(removedailyreportdetail, "");
                    dailyreportdetail = dailyreportdetail.replace('~~', '~');
                    if (dailyreportdetail.length < 7) {

                        dailyreportdetail = '';
                    }
                    if (dailyreportdetail.charAt(0) == '~') {
                        dailyreportdetail = dailyreportdetail.substring(1, dailyreportdetail.length);
                    }
                    var ins1 = dailyreportdetail.length - 1;
                    if (dailyreportdetail.charAt(ins1) == '~') {
                        dailyreportdetail = dailyreportdetail.substring(0, ins1);
                    }

                    var removal = projectvalname + '#' + taskvalname + '#' + activitydetail + '#' + hour + '#' + curerrentpercentage + '#' + status + '#' + remark;

                    Insertedskill = Insertedskill.replace(removal, "");
                    Insertedskill = Insertedskill.replace('~~', '~');
                    if (Insertedskill.length < 7) {

                        Insertedskill = '';
                    }

                    if (Insertedskill.charAt(0) == '~') {
                        Insertedskill = Insertedskill.substring(1, Insertedskill.length);
                    }
                    var ins = Insertedskill.length - 1;
                    if (Insertedskill.charAt(ins) == '~') {
                        Insertedskill = Insertedskill.substring(0, ins);
                    }
                    $(this).parent().parent().remove();
                    var str1 = hour.split(':')
                    var iNum1 = parseFloat(totalhour);
                    var iNum2 = parseFloat(hour);
                    sumstr = parseInt(str[0]) - parseInt(str1[0]);
                    var sumstr1 = parseInt(str[1]) - parseInt(str1[1]);
                    newvalidation = (sumstr + ':' + sumstr1).trim();
                    if (sumstr > 24) {

                        $('#total_hour').val('24:00');

                    }
                    else {


                        $('#total_hour').val(sumstr + ':' + sumstr1);


                    }
                }
                catch (err) { console.log(err.message); }
            });
            $("#ddlproject_name").change(function () {
                $("#ddltask_name option:eq(0)").prop("selected", true);
                var projectvalname = $('#ddlproject_name :selected').val();
                $.trim($("#ddlproject_name :selected").text()).toLowerCase();
                $.post("/GetTaskName", { username: username, projectvalname: projectvalname }, function (data) {
                    $('#ddltask_name').empty();

                    var json = JSON.parse(data);
                    if (data.length > 10) {
                        $("#ddltask_name").append($("<option value='-1' selected='selected'>Select</option>"));
                        $.each(json, function (key, value) {
                            $("#ddltask_name").append($("<option></option>").val(value.taskid).html(value.tasktext));
                        });
                    }
                });
            });
        });
        function handleChange(input) {

            if (input.value < 0) input.value = 0;
            if (input.value > 100) input.value = 100;

        }
        function Remove_Validation(obj) {
            $(obj).removeClass('has-error');
        }
        function handleChanges(input) {
            if (input.value < 0) input.value = 0;
            if (input.value > 24) input.value = 24;
        }
        function GetAssosiateName() {
            $.post("/GetAssosiateName", { username: username }, function (data) {
                var json = JSON.parse(data);

                var json = JSON.parse(data);
                associate_id = json[0].associateid;
                $("#txtassociate_name").val(json[0].associate_name);
            });
        }
        function Getinsertvalue() {
            $.ajaxSetup({ async: false });
            $.post("/checkinsertvalue",

                { checkassociateid: associate_id },
                function (data) {
                    var json = JSON.parse(data);

                    $.each(json, function (key, value) {


                        if (this.count == 0) {

                            return true;
                        }
                        else {
                            return false;
                        }


                    });
                });
        }
        function GetProjectName() {

            try {
                $.post("/GetProjectName", { username: username }, function
                    (data) {
                    var json = JSON.parse(data);
                    if (data.length > 10) {
                        $("#ddlproject_name").append($("<option value='-1' selected='selected'>Select</option>"));
                        $.each(json, function (key, value) {
                            $("#ddlproject_name").append($("<option></option>").val(value.projectid).html(value.projecttext));
                        });
                    }
                });
            } catch (err) { console.log(err.message); }
        }
        function checktime(obj) {

            var time = [];
            time = ($(obj).val()).split(':');
            if ($(obj).val().length == 1) {

                $('#hour').val('');
            }
            if (time[0] > 24) {

                $(obj).val('24:00');
            }
            if (time[1] >= 60) {
                time[0]++;
                var balance = time[1] - 60;
                time[1] = balance;
                if (time[0] >= 24) {

                    $(obj).val('24:00');
                }
                else {

                    $(obj).val(time[0] + ':' + time[1]);
                }

            }
            if (time[1] == '') {

                $(obj).val(time[0] + ':' + '00');
            }


        }
        function checkpercent(obj) {
            var Complete = 'Complete';
            if ($(obj).val() == 100) {
                $("#status option:contains(" + Complete + ")").attr('selected', 'selected');
            }

        }
        function GetReportingPersonId() {
            try {
                $.post("/GetReportingpersonid", { username: username }, function (data) {
                    var json = JSON.parse(data);
                    hodofficialmail = json[0].hodofficialmailid;
                    reportingpersonid = json[0].reportingperson_id;

                });
            } catch (err) { console.log(err.message); }
        }
        function GetAdditionalReportingPersonName() {

            try {
                $.post("/Getadditinalreportingpersonname", { username: username }, function (data) {
                    var json = JSON.parse(data);
                    $.each(json, function (key, value) {

                        if (this.addhodofficialmail != null) {

                            if (addhodofficialmail == '') {
                                addhodofficialmail += (';' + (this.addhodofficialmail));
                            }
                        }
                    });

                });
            } catch (err) { console.log(err.message); }
        }
        function Checkinsertvaue() {

            try {

            } catch (err) { console.log(err.message); }
        }
        function GetDepatrtmentHodMailId() {
            try {
                $.post("/Getdepartmenthodmailid", { username: username }, function (data) {
                    var json = JSON.parse(data);
                    $.each(json, function (key, value) {

                        if (this.hod_emailid == null) {
                            departmenthod_mailid = '';
                        }
                        else {
                            departmenthod_mailid += (';' + (this.hod_emailid));
                        }
                    });
                });
            } catch (err) { console.log(err.message); }
        }
        function GetDesignation() {

            try {
                $.post("/Getdesignation", { username: username }, function (data) {
                    var json = JSON.parse(data);
                    $.each(json, function (key, value) {

                        designationname = this.designation;
                    });

                });
            } catch (err) { console.log(err.message); }
        }
        function myFunction() {
            $("#server_date").val($.datepicker.formatDate("dd-mm-yy", new Date()));
            $("#reporting_date").val($.datepicker.formatDate("dd-mm-yy", new Date()));
        }
        function GetAssosiateEmailid() {
            $.post("/GetAssosiateEmailid", { username: username }, function (data) {
                var json = JSON.parse(data);
                associateid = json[0].associate_id;
                official_email = json[0].official_email;
            });
        }
        function Remove_Validation1() {
            $('#total_hour').removeClass('has-error');
        }
        var associateid = '';
        function populateMenu() {
            $.post('/populate_menu', { associateid: associateid }, function (data) {
                var json = JSON.parse(data);
                if (data.length > 10) {
                    $.each(json, function (key, value) {
                        if (value.menu_url == null) {
                            var menutext = "";
                            menutext += "<li class='dropdown'><a href='#' class='dropdown-toggle' data-toggle='dropdown'>" + value.menu_name + "<span class='caret'></span></a><ul class='dropdown-menu' role='menu'>";
                            $.each(json, function (key1, value1) {
                                if (value1.menu_parent_id == value.menuid) {
                                    menutext += "<li><a href='" + value1.menu_url + "'>" + value1.menu_name + "</a></li>";
                                }
                            });
                            menutext += "</ul></li>";
                            $('#nav').append($(menutext));
                        }
                        else if (value.menu_parent_id == null) {
                            $('#nav').append($('<li><a href="' + value.menu_url + '">' + value.menu_name + '</a></li>'));
                        }
                    });
                }
            });
        }
        function GetCreatedBy() {
            try {

                $.post('/GetLoginDetails', { username: username }, function (data) {
                    var json = JSON.parse(data);

                    if (data.length > 3) {
                        CreatedBy = json[0].userid;
                        designationid = json[0].designationid;
                        associateid = json[0].associateid;
                        populateMenu();
                    }
                });
            } catch (err) {
                console.log(err.message);
            }
        }


    </script>

    }