﻿
@{
    ViewData["Title"] = "ShiftMaster";
}

<h2>ShiftMaster</h2>

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Shift Master
    </h1>
</section>
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-6">
            <div class="box box-default">
                <div class="box-header with-border">
                    <h3 class="box-title">Shift Details</h3>
                </div>
                <div class="box-body">
                    <div id="msgdiv"></div>
                    <div class="form-group col-md-6">
                        <label><span style="color: #ff0000;">*</span> Name</label>
                        <input type="text" class="form-control CharcaterTextBox" id="shift_name"
                               maxlength="50" placeholder="Enter Shift Name" onfocus="RemoveValidation(this);" required>
                    </div>
                    <div class="form-group col-md-6">
                        <label> Night Shift</label>
                        <input type="checkbox" id="night_shift" value="FALSE" class="night" style="margin-top:32px;" />
                    </div>
                    <div class="form-group col-md-6">
                        <div class="bootstrap-timepicker">
                            <label><span style="color: #ff0000;">*</span> Start Time</label>
                            <input type="text" class="form-control NumericTextBox" id="start_time"
                                   maxlength="100" placeholder="00:00" onfocus="RemoveValidation(this);" required>
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label><span style="color: #ff0000;">*</span> End Time</label>
                        <input type="text" class="form-control NumericTextBox" id="end_time"
                               maxlength="100" placeholder="00:00" onfocus="RemoveValidation(this);" required>
                    </div>
                    <div class="form-group col-md-6">
                        <label> Total Time</label>
                        <input type="text" class="form-control" id="total_time"
                               maxlength="100" placeholder="00:00" readonly="readonly" required>
                    </div>
                    <div class="form-group col-md-6">
                        <label> Break Time</label>
                        <select id="break_time" class="form-control">
                            <option>Select</option>
                            <option value="00:05:00">5 mnt</option>
                            <option value="00:10:00">10 mnt</option>
                            <option value="00:15:00">15 mnt</option>
                            <option value="00:20:00">20 mnt</option>
                            <option value="00:25:00">25 mnt</option>
                            <option value="00:30:00">30 mnt</option>
                            <option value="00:35:00">35 mnt</option>
                            <option value="00:40:00">40 mnt</option>
                            <option value="00:45:00">45 mnt</option>
                            <option value="00:50:00">50 mnt</option>
                            <option value="00:55:00">55 mnt</option>
                            <option value="01:00:00">1 hr</option>
                        </select>
                    </div>
                    <div class="form-group col-md-6">
                        <label> Net Working Time</label>
                        <input type="text" class="form-control" id="net_working_time"
                               maxlength="100" placeholder="00:00" readonly="readonly" required>
                    </div>
                    <div class="form-group col-md-6">
                        <label> Tolerance(Minutes)</label>
                        <input type="text" class="form-control NumericTextBox" id="tolerance"
                               maxlength="100" placeholder="" required>
                    </div>
                    <!-- /.box-body -->
                </div>
                <div class="box-footer">
                    <button class="btn btn-primary" id="addshift_master_btn">Save</button>
                    <button class="btn btn-primary" id="shift_back_btn">Back</button>
                </div>
                <!-- /.box-body -->
                <!-- /.box -->
            </div>
        </div>
        <div class="col-md-6">
            <div class="box box-default">
                <div class="box-header with-border">
                    <h3 class="box-title">Shift Master List</h3>
                </div>
                <div class="box-body">
                    <div class="callout callout-info nofoundlbl"></div>

                    <table id="shift_master_list" class="table table-bordered table-striped" style="overflow-y: auto;"></table>

                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
        </div>
    </div>
</section>
<!-- /.content -->

@section scripts{
    <script>
        function handleChanges(input) {

            if (input.value < 0) input.value = 0;
            if (input.value > 24) input.value = 24;

        }
        function toSeconds(time_str) {
            // Extract hours, minutes and seconds
            var parts = time_str.split(':');
            // compute  and return total seconds
            return parts[0] * 3600 + // an hour has 3600 seconds
                parts[1] * 60 // a minute has 60 seconds // seconds
        }

    </script>

    <script type="text/javascript">
        var CreatedBy;
        var UpdatedBy;
        var designationid;
        var username = "<%= name %>";
        var associateid = '';
        $(document).ready(function () {
            GetCreatedBy();

            //Call function to get Shift Master List
            GetShiftMasterList();
            //Hide Shift back button initially
            $('#shift_back_btn').hide();

            $('#shift_back_btn').click(function () {
                window.location.href = "/shiftmaster";
            });

            $("#break_time").blur(function () {
                var totalhour = $("#total_time").val();
                var breakhour = $('#break_time').find(":selected").val();
                // var flag = 0;
                if (breakhour == 'Select') {
                    $('#net_working_time').val('00:00');
                    // flag++;
                }
                else {
                    var difference = Math.abs(toSeconds(totalhour) - toSeconds(breakhour));

                    // format time differnece
                    var result = [
                        Math.floor(difference / 3600), // an hour has 3600 seconds
                        Math.floor((difference % 3600) / 60), // a minute has 60 seconds
                    ];
                    // 0 padding and concatation
                    resultbreak = result.map(function (v) {
                        return v < 10 ? '0' + v : v;
                    }).join(':');
                    $('#net_working_time').val(resultbreak);
                }
            });

            $("#start_time").keyup(function () {
                handleChanges(this);
                var managestarthour = $("#start_time").val();
                if ($("#start_time").val().length == 2) {

                    $("#start_time").val(managestarthour + ':');
                }
                if ($("#start_time").val().length > 5) {

                    $("#start_time").val('');
                }
                //console.log(managestarthour);
            });

            $("#end_time").keyup(function () {
                handleChanges(this);
                var manageendhour = $("#end_time").val();
                if ($("#end_time").val().length == 2) {

                    $("#end_time").val(manageendhour + ':');
                }
                if ($("#end_time").val().length > 5) {

                    $("#end_time").val('');
                }
                //console.log(manageendhour);
            });
            $("#end_time").blur(function () {
                var starthour = $("#start_time").val();
                var endhour = $("#end_time").val();
                if ($("#night_shift").prop('checked') == true) {
                    if (endhour > starthour) {
                        $("#start_time").addClass('has-error');
                        $("#msgdiv").show();
                        $("#msgdiv").html("<div class='alert alert-danger' style='margin-top:10px;'><label>Start time should be greater than End time</label></div>");
                        // alert('Start time should be greater than End time');
                        $("#start_time").val('');
                    }
                    else {
                        var carrydifference = Math.abs(toSeconds("24:00") - toSeconds(starthour));

                        // format time differnece
                        var resultx = [
                            Math.floor(carrydifference / 3600), // an hour has 3600 seconds
                            Math.floor((carrydifference % 3600) / 60), // a minute has 60 seconds
                        ];
                        // 0 padding and concatation
                        resultx = resultx.map(function (v) {
                            return v < 10 ? '0' + v : v;
                        }).join(':');

                        var totaldifference = Math.abs(toSeconds(resultx) + toSeconds(endhour));

                        // format time differnece
                        var totalresult = [
                            Math.floor(totaldifference / 3600), // an hour has 3600 seconds
                            Math.floor((totaldifference % 3600) / 60), // a minute has 60 seconds
                        ];
                        // 0 padding and concatation
                        totalresult = totalresult.map(function (v) {
                            return v < 10 ? '0' + v : v;
                        }).join(':');

                        $('#total_time').val(totalresult);
                    }

                }
                else {

                    if (starthour > endhour) {
                        $("#end_time").addClass('has-error');
                        $("#msgdiv").show();
                        $("#msgdiv").html("<div class='alert alert-danger' style='margin-top:10px;'><label>End time should be greater than Start time</label></div>");
                        //   alert('End time should be greater than Start time');
                        $("#end_time").val('');

                    } else {
                        var difference = Math.abs(toSeconds(endhour) - toSeconds(starthour));

                        // format time differnece
                        var result = [
                            Math.floor(difference / 3600), // an hour has 3600 seconds
                            Math.floor((difference % 3600) / 60), // a minute has 60 seconds
                        ];
                        // 0 padding and concatation
                        result = result.map(function (v) {
                            return v < 10 ? '0' + v : v;
                        }).join(':');
                        $('#total_time').val(result);
                    }

                }

            });

            $("#start_time").blur(function () {
                var starthour = $("#start_time").val();
                var endhour = $("#end_time").val();
                if ($("#night_shift").prop('checked') == true) {
                    if (endhour > starthour) {
                        $("#start_time").addClass('has-error');
                        $("#msgdiv").show();
                        $("#msgdiv").html("<div class='alert alert-danger' style='margin-top:10px;'><label>Start time should be greater than End time</label></div>");
                        // alert('Start time should be greater than End time');
                        $("#start_time").val('');
                    }
                    else {
                        var carrydifference = Math.abs(toSeconds("24:00") - toSeconds(starthour));

                        // format time differnece
                        var resultx = [
                            Math.floor(carrydifference / 3600), // an hour has 3600 seconds
                            Math.floor((carrydifference % 3600) / 60), // a minute has 60 seconds
                        ];
                        // 0 padding and concatation
                        resultx = resultx.map(function (v) {
                            return v < 10 ? '0' + v : v;
                        }).join(':');

                        var totaldifference = Math.abs(toSeconds(resultx) + toSeconds(endhour));

                        // format time differnece
                        var totalresult = [
                            Math.floor(totaldifference / 3600), // an hour has 3600 seconds
                            Math.floor((totaldifference % 3600) / 60), // a minute has 60 seconds
                        ];
                        // 0 padding and concatation
                        totalresult = totalresult.map(function (v) {
                            return v < 10 ? '0' + v : v;
                        }).join(':');

                        $('#total_time').val(totalresult);
                    }

                }
                else {

                    if (starthour > endhour) {
                        $("#end_time").addClass('has-error');
                        $("#msgdiv").show();
                        $("#msgdiv").html("<div class='alert alert-danger' style='margin-top:10px;'><label>End time should be greater than Start time</label></div>");
                        //   alert('End time should be greater than Start time');
                        $("#end_time").val('');

                    } else {
                        var difference = Math.abs(toSeconds(endhour) - toSeconds(starthour));

                        // format time differnece
                        var result = [
                            Math.floor(difference / 3600), // an hour has 3600 seconds
                            Math.floor((difference % 3600) / 60), // a minute has 60 seconds
                        ];
                        // 0 padding and concatation
                        result = result.map(function (v) {
                            return v < 10 ? '0' + v : v;
                        }).join(':');
                        $('#total_time').val(result);
                    }

                }
            });
            //Function on click of add Shift Master Button
            $('#addshift_master_btn').click(function () {
                var flag = 0;
                var shift_name = $('#shift_name').val().trim();
                var start_time = $('#start_time').val().trim();
                var end_time = $('#end_time').val().trim();
                var total_time = $('#total_time').val();
                var break_time = $('#break_time').find(":selected").val();
                var net_working_time = $('#net_working_time').val();
                var tolerance = $('#tolerance').val();
                var night_shift = $("#night_shift").prop("checked");
                //If Shift name got null

                if (shift_name == "") {
                    $('#shift_name').addClass('has-error');
                    //alert("Fill in all required fields");
                    flag++;
                }
                //If Shift time got null
                if (start_time == "") {
                    $('#start_time').addClass('has-error');
                    // alert("Fill in all required fields");
                    flag++;
                }
                //If End time got null
                if (end_time == "") {
                    $('#end_time').addClass('has-error');
                    // alert("Fill in all required fields");
                    flag++;
                }
                if (flag > 0) {
                    return false;
                }
                else {
                    //If button text is "Save"
                    if ($('#addshift_master_btn').text() == 'Save') {
                        $.post('/SaveShift', { shift_name: shift_name, start_time: start_time, end_time: end_time, total_time: total_time, break_time: break_time, net_working_time: net_working_time, tolerance: tolerance, night_shift: night_shift, createdby: CreatedBy, updatedby: CreatedBy }, function (data) {
                            GetShiftMasterList();
                            $('#shift_name').val('');
                            $('#start_time').val('');
                            $('#end_time').val('');
                            $('#total_time').val('');
                            $('#break_time').val('Select');
                            $('#net_working_time').val('');
                            $('#tolerance').val('');
                            $('#night_shift').prop('checked', false);
                        });
                        //Call function to get Shift Master List
                        GetShiftMasterList();
                        //Show sucess message
                        $("#msgdiv").show();
                        $("#msgdiv").html("<div class='alert alert-success' style='margin-top:10px;'><label>Saved Successfully</label></div>");

                    }
                    else {
                        //If button text is "Update"
                        $.post("/UpdateShift", { id: shift_id_data, shift_name: shift_name, start_time: start_time, end_time: end_time, total_time: total_time, break_time: break_time, net_working_time: net_working_time, tolerance: tolerance, night_shift: night_shift, createdby: CreatedBy, updatedby: CreatedBy }, function (data) {
                            $('#shift_name').val('');
                            $('#start_time').val('');
                            $('#end_time').val('');
                            $('#total_time').val('');
                            $('#break_time').val('Select');
                            $('#net_working_time').val('');
                            $('#tolerance').val('');
                            $('#night_shift').prop('checked', false);

                            $('#addshift_master_btn').text('Save');
                            $('#shift_back_btn').hide();
                            //Call function to get Shift Master list
                            GetShiftMasterList();
                            //Show sucess message
                            $("#msgdiv").show();
                            $("#msgdiv").html("<div class='alert alert-success' style='margin-top:10px;'><label>Updated Successfully</label></div>");

                        });
                    }
                }
            });

            //Check Authorized Menu
            $.post('/check_Authorized_Menu', { username: username, menuName: '/shiftmaster' }, function (data) {
                var json = JSON.parse(data);
                if (json[0].count == 0) {
                    window.location.href = "/";
                }
            });
        });

        //Function to get Shift Master list
        function GetShiftMasterList() {
            $.post('/getShiftMasterList', function (data) {
                var json = JSON.parse(data);
                if (data.length > 10) {
                    var datatable = $('#shift_master_list');
                    datatable.empty();
                    datatable.append("<thead><tr><th>S.No.</th><th>Shift Name</th><th>Action</th></tr></thead>");
                    $.each(json, function (key, value) {
                        var html = '<tr row0 odd><td>' + (key + 1) + '</td><td>' + this.shifttext + '</td><td> ' + '<a href="#"><i class="fa fa-fw fa-edit cursordiv" onclick="EditShiftMaster(' + this.shift_id + ')"></i></a> ' + '|' + ' <a href="#"><i class="fa fa-times cursordiv" onclick="EditShiftStatus(' + this.shift_id + ',' + this.isactive + ')"></i></a>' + '</td></tr>';
                        datatable.append(html);
                        $('.nofoundlbl').hide();
                    });
                }
                else {
                    $('.nofoundlbl').show();
                    $('.nofoundlbl').val("No Record Found");
                }
                datatable.append("</tbody>");
            });
        }

        //Function to get created by
        function populateMenu() {
            $.post('/populate_menu', { associateid: associateid }, function (data) {
                var json = JSON.parse(data);
                if (data.length > 10) {
                    $.each(json, function (key, value) {
                        if (value.menu_url == null) {
                            var menutext = "";
                            menutext += "<li class='dropdown'><a href='#' class='dropdown-toggle' data-toggle='dropdown'>" + value.menu_name + "<span class='caret'></span></a><ul class='dropdown-menu' role='menu'>";
                            $.each(json, function (key1, value1) {
                                if (value1.menu_parent_id == value.menuid) {
                                    menutext += "<li><a href='" + value1.menu_url + "'>" + value1.menu_name + "</a></li>";
                                }
                            });
                            menutext += "</ul></li>";
                            $('#nav').append($(menutext));
                        }
                        else if (value.menu_parent_id == null) {
                            $('#nav').append($('<li><a href="' + value.menu_url + '">' + value.menu_name + '</a></li>'));
                        }
                    });
                }
            });
        }
        function GetCreatedBy() {
            try {
                $.post('/GetLoginDetails', { username: username }, function (data) {
                    var json = JSON.parse(data);

                    if (data.length > 3) {
                        CreatedBy = json[0].userid;
                        designationid = json[0].designationid;
                        associateid = json[0].associateid;
                        populateMenu();
                    }
                });
            } catch (err) {
                console.log(err.message);
            }
        }
        //Function to edit Pay Element Master
        function EditShiftMaster(Shift_Id_Data) {
            shift_id_data = Shift_Id_Data;
            //Show Pay Element back button
            $('#shift_back_btn').show();
            $.post('/editShiftMaster', { id: Shift_Id_Data }, function (data) {
                $('#night_shift').prop('checked', false);
                var json = JSON.parse(data);
                if (data.length > 10) {
                    $('#shift_name').val(json[0].shifttext);
                    $('#start_time').val(json[0].starttime);
                    $('#end_time').val(json[0].endtime);
                    $('#total_time').val(json[0].totaltime);
                    //alert(json[0].breaktime);
                    $('#break_time').val(json[0].breaktime);
                    $('#net_working_time').val(json[0].networkingtime);
                    $('#tolerance').val(json[0].tolerance);
                    var nightshift = (json[0].nightshift);
                    if (nightshift) {
                        $('#night_shift').prop('checked', true);
                    }

                    $('#addshift_master_btn').html('Update');
                }
            });
        }
        //Function will be called onclick of delete
        function EditShiftStatus(Shift_Id_Data, txtStatus) {
            if (txtStatus) {
                txtStatus = false;
            }
            else {
                txtStatus = true;
            }
            $.post('/updateShiftStatus', { id: Shift_Id_Data, status: txtStatus }, function (data) {
                GetShiftMasterList();
            });

            $("#msgdiv").show();
            $("#msgdiv").html("<div class='alert alert-success' style='margin-top:10px;'><label>Remove Successfully</label></div>");

        }
        //Remove Validation
        function RemoveValidation(obj) {
            var id = obj.id;
            $("#" + id).removeClass("has-error");

        }
        function runEffect() {
            var selectedEffect = 'blind';
            var options = {};
            $("#msgdiv").hide(selectedEffect, options, 500);
        };
        $("#shift_name").click(function () {
            runEffect();
            return false;
        });
        $("#start_time").click(function () {
            runEffect();
            return false;
        });
        $("#end_time").click(function () {
            runEffect();
            return false;
        });
    </script>
}