﻿
@{
    ViewData["Title"] = "SystemConfiguration";
}

<h2>SystemConfiguration</h2>

<section class="content-header">
    <h1>System Configuration</h1>

</section>

<!-- Main content -->
<section class="content">
    <div class="box box-default">
        <div class="box-header with-border">
            <h3 class="box-title">System Configuration</h3>
            <input type="button" id="backbtn" class="btn btn-primary" style="float:right;" value="Back" />
        </div>
        <div class="box-body">

            <div class="row col-md-12">
                <section class="connectedSortable">
                    <div class="nav-tabs-custom">
                        <ul class="nav nav-tabs pull-left ui-sortable-handle">
                            <li class="active"><a href="#designation-tab" data-toggle="tab"> Designation</a></li>
                            <li class=""><a href="#department-tab" data-toggle="tab"> Department</a></li>
                            <li class=""><a href="#qualification-tab" data-toggle="tab"> Qualification</a></li>
                            <li class=""><a href="#timline-tab" data-toggle="tab">Assign Timeline</a></li>
                        </ul>
                        <div class="tab-content no-padding">
                            <div class="chart tab-pane active" style="height: 343px;" id="designation-tab">
                                <div class="col-md-6">
                                    <div class="box-header with-border">
                                        <h3 class="box-title">Designation Details</h3>
                                    </div>
                                    <div class="box-body">
                                        <div id="msgdiva"></div>
                                        <div class="form-group col-md-6">
                                            <label><span style="color: #ff0000;">*</span> Designation Name</label>
                                            <input type="text" class="form-control CharcaterTextBox" id="designation_name"
                                                   maxlength="50" placeholder="Enter Designation" onfocus="RemoveValidation(this);" onkeyup="RemoveHashTild(this);" />
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label><span style="color: #ff0000;">*</span> Description</label>
                                            <input type="text" class="form-control CharcaterTextBox" id="designation_desc"
                                                   maxlength="100" placeholder="Enter Designation Discription" onfocus="RemoveValidation(this);" onkeyup="RemoveHashTild(this);" />
                                        </div>
                                    </div>
                                    <div class="box-footer">
                                        <button class="btn btn-primary btn-flat" id="adddesignation_btn">Save</button>
                                        <button class="btn btn-primary btn-flat" id="designation_back_btn">Cancel</button>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="box-header with-border">
                                        <h3 class="box-title">Designaton List</h3>
                                    </div>
                                    <div class="box-body">
                                        <div class="callout callout-info nofoundlbl"></div>
                                        <div class="menu-holder-data" style="height: 280px;">
                                            <table id="designation_list" class="table table-bordered table-striped"></table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="chart tab-pane" id="department-tab">
                                <div class="col-md-7">
                                    <div class="" style="padding-top:5px;">
                                        <div class="box-header with-border">
                                            <h3 class="box-title">Department Details</h3>
                                        </div>
                                        <div class="box-body">
                                            <div id="msgdivb"></div>
                                            <div class="form-group col-md-6">
                                                <label><span style="color: #ff0000;">*</span> Department Name</label>
                                                <input type="text" class="form-control CharcaterTextBox" id="department_name"
                                                       maxlength="50" placeholder="Enter Department Name" onfocus="RemoveValidation(this);" onkeyup="RemoveHashTild(this);">
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label><span style="color: #ff0000;">*</span> HOD Name</label>
                                                <select id="ddlhod" class="form-control" onfocus="RemoveValidation(this);"></select>
                                            </div>
                                        </div>
                                        <div class="box-footer">
                                            <button class="btn btn-primary" id="adddepartment_master_btn">Save</button>
                                            <button class="btn btn-primary" id="department_back_btn">Back</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="" style="padding-top:5px;">
                                        <div class="box-header with-border">
                                            <h3 class="box-title">Department Master List</h3>
                                        </div>
                                        <div class="box-body">
                                            <div class="callout callout-info nofoundlbl"></div>
                                            <div class="menu-holder-data">
                                                <table id="department_master_list" class="table table-bordered table-striped"></table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="chart tab-pane" id="qualification-tab" style="position: relative; height: 300px;">
                                <div class="col-md-7">
                                    <div class="" style="padding-top:5px;">
                                        <div class="box-header with-border">
                                            <h3 class="box-title">Qualification Details</h3>
                                        </div>
                                        <div class="box-body">
                                            <div id="msgdivc"></div>
                                            <div class="form-group col-md-6">
                                                <label><span style="color: #ff0000;">*</span> Qualification Name</label>
                                                <input type="text" class="form-control CharcaterTextBox" id="qualification_name"
                                                       maxlength="50" placeholder="Enter Qualification Name" onfocus="RemoveValidation(this);" onkeyup="RemoveHashTild(this);" />
                                            </div>
                                            <!-- /.box-body -->
                                        </div>
                                        <div class="box-footer">
                                            <button class="btn btn-primary" id="addqualification_master_btn">Save</button>
                                            <button class="btn btn-primary" id="qualification_back_btn">Back</button>

                                        </div>
                                        <!-- /.box-body -->
                                        <!-- /.box -->
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="" style="padding-top:5px;">
                                        <div class="box-header with-border">
                                            <h3 class="box-title">Qualification Master List</h3>
                                        </div>
                                        <div class="box-body">
                                            <div class="callout callout-info nofoundlbl"></div>
                                            <div class="menu-holder-data">
                                                <table id="qualification_master_list" class="table table-bordered table-striped"></table>
                                            </div>
                                            <!-- /.box-body -->
                                        </div>
                                        <!-- /.box -->
                                    </div>
                                </div>
                            </div>
                            <div class="chart tab-pane" id="timline-tab" style="position: relative; ">
                                <div class="col-md-10">
                                    <div class="" style="padding-top:5px;">
                                        <div class="box-header with-border">
                                            <h3 class="box-title">Project Timeline Summery Assign</h3>
                                        </div>
                                        <div class="box-body">
                                            <div id="msgdivd"></div>
                                            <div class="form-group col-md-6">
                                                <div class="box-body">
                                                    <div class="callout callout-info nofoundlbl"></div>
                                                    <div class="menu-holder" style="height: 100%;overflow-y:hidden;">
                                                        <table id="timeline_list"></table>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- /.box-body -->
                                        </div>
                                        <div class="box-footer">
                                            <button class="btn btn-primary" id="btn_timeline">Save</button>
                                        </div>
                                        <!-- /.box-body -->
                                        <!-- /.box -->
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="" style="padding-top:5px;">
                                        <!--<div class="box-header with-border">
                                            <h3 class="box-title">Qualification Master List</h3>
                                        </div>
                                        <div class="box-body">
                                            <div class="callout callout-info nofoundlbl"></div>
                                            <div class="menu-holder-data">
                                                <table id="qualification_master_list" class="table table-bordered table-striped"></table>
                                            </div>
                                        </div>-->
                                        <!-- /.box -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>

</section>


@section scripts{
    <script type="text/javascript">
        var CreatedBy;
        var UpdatedBy;
        var designationid;

        var associateid = '';
        var emailid = '';
        var username = "<%= name %>";

        $(document).ready(function () {
            //Call function to get Designation list
            GetDesignationList();
            //Call function to get Menu list

            GetCreatedBy();
            GetHOD();
            //Call function to get Department Master List
            GetDepartmentMasterList();
            GetAssignTimelineList();

            //Hide Department back button initially
            $('#department_back_btn').hide();
            //Hide back button
            $('#designation_back_btn').hide();
            //Populate menu from database

            //Function on click of add designatio button
            $('#adddesignation_btn').click(function () {
                var flag = 0;
                var designation_name = ReplaceQuote($('#designation_name').val());
                var designation_desc = ReplaceQuote($('#designation_desc').val());


                if (designation_name.trim() == "") {
                    $('#designation_name').parent().addClass('has-error');
                    flag++;
                }
                if (designation_desc.trim() == "") {
                    $('#designation_desc').parent().addClass('has-error');
                    flag++;
                }

                if (flag > 0) {
                    return false;
                }
                else {
                    //If button text is "Save"
                    if ($('#adddesignation_btn').text() == 'Save') {
                        $.post('/insertDesignation', { designation_name: designation_name, designation_desc: designation_desc, createdby: CreatedBy, updatedby: CreatedBy }, function (data) {
                            GetDesignationList();
                            $('#designation_name').val('');
                            $('#designation_desc').val('');

                        });
                        $("#msgdivd").show();
                        $("#msgdivd").html("<div class='alert alert-success'>Saved Successfully</div>");
                    }
                    else {
                        //If button text is "Update"

                        $.post("/updateDesignation", { id: designation_id_data, designation_name: designation_name, designation_desc: designation_desc, createdby: CreatedBy, updatedby: CreatedBy }, function (data) {
                            $('#designation_name').val('');
                            $('#designation_desc').val('');

                            $('#designation_back_btn').hide();
                            $('#adddesignation_btn').text('Save');
                            $("#msgdiva").show();
                            $("#msgdiva").html("<div class='alert alert-success'><label>Updated Successfully</label></div>");
                            GetDesignationList();

                        });
                    }
                }
            });
            //Function on click of back button
            $('#designation_back_btn').click(function () {
                window.location.href = '/systemconfig';
            });
            //Function on click of back button
            $('#backbtn').click(function () {
                window.location.href = '/AddNewAssociate';
            });


            //Assign CheckBox Save
            $('#btn_timeline').click(function () {
                var CheckedPageAssignArray = $('.listcheckbox:checked').map(function () {
                    return this.value;
                }).get().join("#");
                if (CheckedPageAssignArray == '') {
                    alert('Please check at least one checkbox..');
                    return false;
                }
                else {
                    $.post('/insertAssignTimeline', { CheckedPageAssignArray: CheckedPageAssignArray }, function () {
                        $("#msgdivd").show();
                        $("#msgdivd").html("<div class='alert alert-success'>Saved Successfully</div>");
                        window.setTimeout("window.scrollTo(0, 0)");
                    });
                }
            });

            //Function to get Department Master list


            $('#department_back_btn').click(function () {
                window.location.href = "/systemconfig";
            });

            //Bind HOD Dropdown
            function GetHOD() {
                try {
                    $.post("/GetActiveReportingPerson", function (data) {
                        var json = JSON.parse(data);
                        if (data.length > 10) {
                            $("#ddlhod").append($("<option value='-1' selected='selected'>Select</option>"));
                            $.each(json, function (key, value) {
                                $("#ddlhod").append($("<option></option>").val(value.associateid).html(value.associate_name));

                            });
                        }
                    });
                } catch (err) { console.log(err.message); }
            }

            $('#ddlhod').change(function () {
                try {
                    var selecthod = $("#ddlhod option:selected").val();
                    if (selecthod != '-1') {
                        $.post('/GetEmailId', { associateid: selecthod }, function (data) {
                            var json = JSON.parse(data);
                            if (data.length > 10) {
                                emailid = json[0].official_email;
                            }
                        });
                    }

                }
                catch (err) { console.log(err.message); }
            });

            //Function on click of add Department Master Button

            $('#adddepartment_master_btn').click(function () {

                var flag = 0;
                var department_name = ReplaceQuote($('#department_name').val());
                var hod_name = ReplaceQuote($('#ddlhod :selected').val());
                var hod = $('#ddlhod :selected').text().trim();
                //If department name got null
                if (department_name.trim() == "") {
                    $('#department_name').parent().addClass('has-error');
                    flag++;
                }
                //If HOD name got null
                if (hod_name == -1) {
                    $('#ddlhod').parent().addClass('has-error');
                    flag++;
                }
                if (flag > 0) {
                    return false;
                }
                else {
                    //If button text is "Save"
                    if ($('#adddepartment_master_btn').text() == 'Save') {
                        $.post('/SaveDepartment', { department_name: department_name, hod_name: hod, createdby: CreatedBy, updatedby: CreatedBy, emailid: emailid, associateid: hod_name }, function (data) {
                            GetDepartmentMasterList();
                            $('#department_name').val('');
                            $('#ddlhod').val('-1');
                        });
                        //Call function to get Department Master List
                        GetDepartmentMasterList();
                        //Show sucess message
                        $("#msgdivb").show();
                        $("#msgdivb").html("<div class='alert alert-success'>Saved Successfully</div>");
                    }
                    else {
                        //If button text is "Update"


                        $.post("/UpdateDepartment", { id: department_id_data, department_name: department_name, hod_name: hod, createdby: CreatedBy, updatedby: CreatedBy, emailid: emailid, associateid: hod_name }, function (data) {
                            $('#department_name').val('');
                            $('#ddlhod').val('-1');
                            $('#department_back_btn').hide();
                            $('#adddepartment_master_btn').html('Save');
                            //Call function to get Department Master list
                            GetDepartmentMasterList();
                            //Show sucess message
                            $("#msgdivb").show();
                            $("#msgdivb").html("<div class='alert alert-success' >Updated Successfully</div>");

                        });

                    }
                }
            });
            //Check Authorized Menu
            $.post('/check_Authorized_Menu', { username: username, menuName: '/associate_master' }, function (data) {
                var json = JSON.parse(data);
                if (json[0].count == 0) {
                    window.location.href = "/";
                }

            });
        });
        function getHodEmailID() {
            var selecthod = $("#ddlhod option:selected").val();
            if (selecthod != '-1') {
                $.post('/GetEmailId', { associateid: selecthod }, function (data) {
                    var json = JSON.parse(data);
                    if (data.length > 10) {
                        emailid = json[0].official_email;
                        alert("In FUnction =" + emailid);
                    }
                });
            }
        }
        //Function to get designation list
        function GetDesignationList() {
            $.post('/GetDesignationList', function (data) {
                var json = JSON.parse(data);
                if (data.length > 10) {
                    var datatable = $('#designation_list');
                    var datatabletimeline = $('#timeline_list');
                    datatable.empty();
                    datatable.append("<thead><tr><th class='' style='width:10%;'>S.No.</th><th class='' style='width: 40%;'>Designation Name</th><th class='' style='width: 40%;'>Description</th><th class='theadlabel' colspan='2' style='width: 10%;border-right: 0px; text-align: center;'>Action</th></tr></thead>");
                    datatabletimeline.append("<thead><tr><th style='width:10%;'>Status</th><th class='' style='width: 40%;'>Designation Name</th></tr></thead>");
                    $.each(json, function (key, value) {
                        var html = '<tr row0 odd><td>' + (key + 1) + '</td><td>' + this.designationtext + '</td><td>' + this.designationdesc + '</td><td> ' + '<a href="#"><i class="fa fa-fw fa-edit cursordiv"  onclick="EditDesignation(' + this.designationid + ')"></i></a> ' + '|' + ' <a href="#"><i class="fa fa-times cursordiv"  onclick="EditStatus(' + this.designationid + ',' + this.isactive + ')"></i></a>' + '</td></tr>';
                        datatable.append(html);
                        var htmltimline = "<tr><td><input type='checkbox' class='listcheckbox' value=" + this.designationid + "></td><td>" + this.designationtext + "</td></tr>";
                        datatabletimeline.append(htmltimline);
                        $('.nofoundlbl').hide();
                    });


                }
                else {
                    $('.nofoundlbl').show();
                    $('.nofoundlbl').val("No Record Found");
                }
            });
        }
        function GetAssignTimelineList() {
            $.post('/GetAssignTimeline', function (data) {
                $('input:checkbox').removeAttr('checked');
                var json = JSON.parse(data);
                if (data.length > 10) {
                    $('input:checkbox:not(:checked)').each(function () {
                        for (i = 0; i < json.length; i++) {
                            if ($(this).val() == json[i].designation_id) {
                                $(this).prop('checked', true);
                            }
                        }
                    });
                }
            });
        }
        function populateMenu() {
            $.post('/populate_menu', { associateid: associateid }, function (data) {
                var json = JSON.parse(data);
                if (data.length > 10) {
                    $.each(json, function (key, value) {
                        if (value.menu_url == null) {
                            var menutext = "";
                            menutext += "<li class='dropdown'><a href='#' class='dropdown-toggle' data-toggle='dropdown'>" + value.menu_name + "<span class='caret'></span></a><ul class='dropdown-menu' role='menu'>";
                            $.each(json, function (key1, value1) {
                                if (value1.menu_parent_id == value.menuid) {
                                    menutext += "<li><a href='" + value1.menu_url + "'>" + value1.menu_name + "</a></li>";
                                }
                            });
                            menutext += "</ul></li>";
                            $('#nav').append($(menutext));
                        }
                        else if (value.menu_parent_id == null) {
                            $('#nav').append($('<li><a href="' + value.menu_url + '">' + value.menu_name + '</a></li>'));
                        }
                    });
                }
            });
        }
        function GetCreatedBy() {
            try {
                $.post('/GetLoginDetails', { username: username }, function (data) {
                    var json = JSON.parse(data);

                    if (data.length > 3) {
                        CreatedBy = json[0].userid;
                        designationid = json[0].designationid;
                        associateid = json[0].associateid;
                        populateMenu();
                    }
                });
            } catch (err) {
                console.log(err.message);
            }
        }
        //Function to edit Designation
        function EditDesignation(Designation_Id_Data) {
            designation_id_data = Designation_Id_Data;
            $('#designation_back_btn').show();
            GetDesignationList();

            $.post('/editDesignation', { id: Designation_Id_Data }, function (data) {

                var json = JSON.parse(data);
                if (data.length > 10) {
                    $('#designation_name').val(json[0].designationtext);
                    $('#designation_desc').val(json[0].designationdesc);
                    $('#adddesignation_btn').html('Update');
                }
            });
        }
        //Function will be called on lick of delete
        function EditStatus(Designation_Id_Data, txtStatus) {
            if (txtStatus) {
                txtStatus = false;
            }
            else {
                txtStatus = true;
            }
            $.post('/updateStatus', { id: Designation_Id_Data, status: txtStatus }, function (data) {
                GetDesignationList();
            });
            $("#msgdiva").show();
            $("#msgdiva").html("<div class='alert alert-success' >Deactivated Successfully</div>");
        }

        function GetDepartmentMasterList() {
            $.post('/GetDepartmentMasterList', function (data) {
                var json = JSON.parse(data);
                if (data.length > 10) {
                    var datatable = $('#department_master_list');
                    datatable.empty();
                    datatable.append("<thead><tr><th class='' style='width:10%;'>S.No.</th><th class='' style='width: 40%;'>Department Name</th><th class='' style='width: 40%;'>HOD Name</th><th class='theadlabel' colspan='2' style='width: 10%;border-right: 0px; text-align: center;'>Action</th></tr></thead>");
                    $.each(json, function (key, value) {
                        var html = '<tr row0 odd><td>' + (key + 1) + '</td><td>' + this.departmenttext + '</td><td>' + this.hod_name + '</td><td> ' + '<a href="#"><i class="fa fa-fw fa-edit cursordiv"  onclick="EditDepartmentMaster(' + this.departmentid + ')"></i></a> ' + '|' + ' <a href="#"><i class="fa fa-times cursordiv"  onclick="EditDepartmentStatus(' + this.departmentid + ',' + this.isactive + ')"></i></a>' + '</td></tr>';
                        datatable.append(html);
                        $('.nofoundlbl').hide();
                    });
                }
                else {
                    $('.nofoundlbl').show();
                    $('.nofoundlbl').val("No Record Found");
                }
                datatable.append("</tbody>");
            });
            //Call function to get created by
        }

        //Function to edit Department Master
        function EditDepartmentMaster(Department_Id_Data) {
            var selecthod = '';
            department_id_data = Department_Id_Data;
            $('#department_back_btn').show();
            $.post('/editDepartmentMaster', { id: Department_Id_Data }, function (data) {
                var json = JSON.parse(data);
                if (data.length > 10) {
                    $('#department_name').val(json[0].departmenttext);
                    $('#ddlhod').val(json[0].hod_id);
                    selecthod = json[0].hod_id;
                    $('#adddepartment_master_btn').html('Update');
                    if (selecthod != '' || selecthod != -1) {
                        $.post('/GetEmailId', { associateid: selecthod }, function (data) {
                            var json = JSON.parse(data);
                            if (data.length > 10) {
                                emailid = json[0].official_email;
                            }
                        });
                    }

                }
            });


        }
        //Function will be called onclick of delete
        function EditDepartmentStatus(Department_Id_Data, txtStatus) {
            if (txtStatus) {
                txtStatus = false;
            }
            else {
                txtStatus = true;
            }
            $.post('/updateDepartmentStatus', { id: Department_Id_Data, status: txtStatus }, function (data) {
                GetDepartmentMasterList();
            });
            $("#msgdivb").show();
            $("#msgdivb").html("<div class='alert alert-success' >Deactivated Successfully</div>");


        }
        GetQualificationMasterList();
        function RemoveValidation(obj) {
            var id = obj.id;
            $("#" + id).parent().removeClass('has-error');
        }
        //Function to get Qualification Master list
        function GetQualificationMasterList() {
            $.post('/GetQualificationMasterList', function (data) {
                var json = JSON.parse(data);
                if (data.length > 10) {
                    var datatable = $('#qualification_master_list');
                    datatable.empty();
                    datatable.append("<thead><tr><th class='' style='width:10%;'>S.No.</th><th class='' style='width: 40%;'>Qualifiction</th><th class='theadlabel' colspan='2' style='width: 10%;border-right: 0px; text-align: center;'>Action</th></tr></thead>");
                    $.each(json, function (key, value) {
                        var html = '<tr row0 odd><td>' + (key + 1) + '</td><td>' + this.qualificationtext + '</td><td> ' + '<a href="#"><i class="fa fa-fw fa-edit cursordiv" onclick="EditQualificationMaster(' + this.qualificationid + ')"></i></a> ' + '|' + ' <a href="#"><i class="fa fa-times cursordiv"  onclick="EditQalificationStatus(' + this.qualificationid + ',' + this.isactive + ')"></i></a>' + '</td></tr>';
                        datatable.append(html);
                        $('.nofoundlbl').hide();
                    });
                }
                else {
                    $('.nofoundlbl').show();
                    $('.nofoundlbl').val("No Record Found");
                }
                datatable.append("</tbody>");
            });
        }

        //Function to edit Qualification Master
        function EditQualificationMaster(Qualifiction_Id_Data) {
            qualification_id_data = Qualifiction_Id_Data;
            //Show Qualification back button
            $('#qualification_back_btn').show();
            $.post('/editQualificationMaster', { id: Qualifiction_Id_Data }, function (data) {
                var json = JSON.parse(data);
                if (data.length > 10) {
                    $('#qualification_name').val(json[0].qualificationtext);
                    $('#addqualification_master_btn').html('Update');
                }
            });
        }
        //Function will be called onclick of delete
        function EditQalificationStatus(Qualifiction_Id_Data, txtStatus) {
            if (txtStatus) {
                txtStatus = false;
            }
            else {
                txtStatus = true;
            }
            $.post('/updateQualificationStatus', { id: Qualifiction_Id_Data, status: txtStatus }, function (data) {
                GetQualificationMasterList();
            });

            $("#msgdivc").show();
            $("#msgdivc").html("<div class='alert alert-success' style='margin-top:10px;'><label>Deactivated Successfully</label></div>");

        }
        function runEffect() {
            var selectedEffect = 'blind';
            var options = {};
            $("#msgdiv").hide(selectedEffect, options, 500);
            $("#msgdiva").hide(selectedEffect, options, 500);
            $("#msgdivb").hide(selectedEffect, options, 500);
            $("#msgdivc").hide(selectedEffect, options, 500);
        };
        $("#department_name").click(function () {
            runEffect();
            return false;
        });
        $("#designation_name").click(function () {
            runEffect();
            return false;
        });
        $("#department_name").click(function () {
            runEffect();
            return false;
        });
        $("#qualification_name").click(function () {
            runEffect();
            return false;
        });

        //Hide Qualification back button initially
        $('#qualification_back_btn').hide();

        $('#qualification_back_btn').click(function () {
            window.location.href = "/systemconfig";
        });

        //Function on click of add Qualification Master Button

        $('#addqualification_master_btn').click(function () {
            var flag = 0;
            var qualification_name = ReplaceQuote($('#qualification_name').val());

            //If qualification name got null
            if (qualification_name.trim() == "") {
                $('#qualification_name').parent().addClass('has-error');
                flag++;
            }
            if (flag > 0) {
                return false;
            }
            else {
                //If button text is "Save"
                if ($('#addqualification_master_btn').text() == 'Save') {
                    $.post('/SaveQualification', { qualification_name: qualification_name, createdby: CreatedBy, updatedby: CreatedBy }, function (data) {
                        GetQualificationMasterList();
                        $('#qualification_name').val('');
                    });
                    //Call function to get Qualification Master List
                    //GetQualificationMasterList();
                    //Show sucess message
                    $("#msgdivc").show();
                    $("#msgdivc").html("<div class='alert alert-success' style='margin-top:10px;'><label>Saved Successfully</label></div>");

                }
                else {
                    //If button text is "Update"
                    $.post("/UpdateQualification", { id: qualification_id_data, qualification_name: qualification_name, createdby: CreatedBy, updatedby: CreatedBy }, function (data) {
                        $('#qualification_name').val('');
                        $('#addqualification_master_btn').text('Save');
                        $('#qualification_back_btn').hide();
                        //Call function to get Qualification Master list
                        GetQualificationMasterList();
                        //Show sucess message
                        $("#msgdivc").show();
                        $("#msgdivc").html("<div class='alert alert-success' style='margin-top:10px;'><label>Updated Successfully</label></div>");

                    });
                }
            }
        });
        function RemoveHashTild(obj) {
            var id = obj.id;
            var a = $("#" + id).val();
            if (String(a).indexOf("#") >= 0 || String(a).indexOf("~") >= 0) {
                a = a.replace("~", "");
                a = a.replace("#", "");
                $("#" + id).val(a);
            }
        }
        function ReplaceQuote(data) {
            var result = '';
            var arr = [];
            arr = data.split(' ');
            for (var i in arr) {
                var a = '';
                a = arr[i].replace("'", "''");
                if (i == 0) {
                    result = result + a
                }
                else {
                    result = result + ' ' + a;
                }

            }
            return result;

        }
    </script>
    }