﻿@model hrms_core.ViewModel.CompanyPolicyModel
@{
    ViewData["Title"] = "Policies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="col-md-6">
    <div class="box box-primary">
        <div class="box-header with-border">
            <span><h2>Policies Record</h2></span>
        </div>
        <div class="modal fade" id="PolicyView" tabindex="-1" role="dialog" data-keyboard="false" aria-labelledby="PolicyViewLabel">
            <div class="modal-dialog modal-md" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" id="btncloseviewmodel" class="close" onclick="$('#PolicyView').modal('toggle');" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="exampleModalLabel">Policy Details</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <div class="col-md-12">
                                <h4 id="policyYear"></h4><hr />
                                <label>Policy Content</label>
                                <div id="divContent"></div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="form-group">
                            <h3 id="AwardHeading"></h3>
                            <span id="txtRemark_modal"></span>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger btn-flat" onclick="$('#PolicyView').modal('toggle');" id="btnClose">Close</button>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="box-body" style="padding-top:1%">
            <div class="form-group">
                <div class="box-body">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Year</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                int i = 1;
                                foreach (var item in Model.policies)
                                {
                                    <tr>
                                        <td>@item.policy_year</td>
                                        <td>
                                            <a onclick="OpenModal(@item.id)" title="View" id="btnView" class="fa fa-eye"></a>
                                        </td>
                                    </tr>
                                }
                                i = i + 1;
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        
    </div>
</div>
@section scripts{
    <script>
        $(document).ready(function () {

        });
        function OpenModal(Id) {
            
            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetPolicyById", "CompanyPolicy")',
                data: { PolicyId: Id },
                success: function (data) {
                    
                    console.log(data);
                    if (data != null) {
                        $("#divContent").html(data.policy_content);
                        $("#policyYear").html(data.policy_year);
                            $("#PolicyView").modal('show');
                    }
                }
            });
        }
    </script>
}

