﻿@model hrms_core.ViewModel.CompanyPolicyModel
@{
    ViewData["Title"] = "CompanyPolicy";
    Layout = "~/Views/Shared/_LayoutNew.cshtml";
}
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
<form asp-controller="CompanyPolicy" asp-action="Index" method="post">
    @{
        <div id="MsgDiv">
            @if (TempData["msg"] != null)
            {
                if (Convert.ToString(TempData["msg"]).ToLower().Contains("wrong") || Convert.ToString(TempData["msg"]).ToLower().Contains("not"))
                {
                    <div class='alert alert-danger'>
                        <label>@TempData["msg"]</label><a onclick="$('#MsgDiv').hide(500);" class="anchor pull-right"><i class="fa fa-window-close" aria-hidden="true"></i></a>
                    </div>
                }
                else if (Convert.ToString(TempData["msg"]).ToLower().Contains("already") || Convert.ToString(TempData["msg"]).ToLower().Contains("exist"))
                {
                    <div class='alert alert-warning'>
                        <label>@TempData["msg"]</label><a onclick="$('#MsgDiv').hide(500);" class="anchor pull-right"><i class="fa fa-window-close" aria-hidden="true"></i></a>
                    </div>
                }
                else
                {
                    <div class='alert alert-success'>
                        <label>@TempData["msg"]</label><a onclick="$('#MsgDiv').hide(500);" class="anchor pull-right"><i class="fa fa-window-close" aria-hidden="true"></i></a>
                    </div>
                }
            }
        </div>
    }
    <section class="content-header">
        <h3>Company Policy</h3>
    </section>
    <section class="content">
        <div class="col-md-12" style="padding-top:1%">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <span>Policy Per Year</span>
                </div>
                <div class="box-body" style="padding-top:2%">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label><span style="color:#ff0000;">*</span>Year</label>
                            @{
                                var maxYear = DateTime.Now.Year + 5;
                            }
                            <input type="number" asp-for="policy_year" placeholder="YYYY"  min="2010" max="@maxYear" class="form-control ">
                            <span asp-validation-for="policy_year" class="text-danger"></span>
                        </div>
                    </div>
                    @*<div class="col-md-6">
                            <div class="form-group">
                                <label><span style="color:#ff0000;">*</span>Select Section Name:</label>
                                <select id="ddlSectionNameList" asp-for="section_id" onchange="GetContentList();" onfocus="return RemoveValidation(this);" asp-items="@(new SelectList(Model.sectionList,"section_id","section_name"))" class="form-control "></select>
                                <span asp-validation-for="section_id" class="text-danger"></span>
                            </div>
                        </div>*@
                    <div class="col-md-12">
                        <div class="form-group">
                            <label><span style="color: #ff0000;">*</span> Content: </label>
                            <textarea type="text" class="form-control CharcaterTextBox" id="txtContent" placeholder="Content" asp-for="policy_content"></textarea>
                            <span asp-validation-for="policy_content" class=" text-danger"></span>
                            <input type="hidden" id="contentid" asp-for="id">
                            <input type="hidden" asp-for="isactive" />
                        </div>
                    </div>
                    <div class="box-footer with-border">
                        <div class="pull-right">
                            @{
                                if (Model.id != 0)
                                {
                                    <input type="submit" class="btn btn-primary btn-flat" id="btnSubmit" name="CommandName" value="Update" />

                                }
                                else
                                {
                                    <input type="submit" class="btn btn-primary btn-flat" id="btnSubmit" name="CommandName" value="Save" />

                                }

                            }
                            <a asp-controller="CompanyPolicy" asp-action="Index" asp-route-id="0" class="btn btn-danger btn-flat">Clear</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <span><h2>Policies Record</h2></span>
                </div>
                <div class="box-body" style="padding-top:1%">
                    <div class="form-group">
                        <div class="box-body">
                            <div class="callout callout-info nofoundlbl" style="display:none;"></div>
                            <div class="" style="max-height: 400px;min-height: 153px;overflow-y: auto;">
                                <table class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th>Year</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{
                                            int i = 1;
                                            foreach (var item in Model.policies)
                                            {
                                                <tr>
                                                    <td>@item.policy_year</td>
                                                    <td>
                                                        <a asp-controller="CompanyPolicy" asp-action="Index" asp-route-id="@item.id" class="fa fa-pencil"></a> |
                                                        @{
                                                            if (item.isactive.HasValue == true && item.isactive.Value == true)
                                                            {
                                                                <a class="anchor" onclick="DisableData(@item.id)" title="Click to Disable"><img src="~/images/green.ico" alt="Enable" height="18" width="18" /></a>
                                                            }
                                                            else
                                                            {
                                                                <a class="anchor" onclick="EnableData(@item.id)" title="Click to Enable"><img src="~/images/red.ico" alt="Disable" height="18" width="18" /></a>
                                                            }
                                                        }
                                                    </td>
                                                </tr>
                                            }
                                            i = i + 1;
                                        }
                                    </tbody>
                                </table>
                            </div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </section>
</form>

@section Scripts
    {
    <script src="//cdn.ckeditor.com/4.10.1/basic/ckeditor.js"></script>
    <script>
        CKEDITOR.replace('txtContent');
        CKEDITOR.editorConfig = function (config) {
            config.language = 'es';
            config.uiColor = '#F7B42C';
            config.height = 300;
            config.toolbarCanCollapse = true;
        };
        function DisableData(id) {
            var r = confirm("Are you sure to Disable this Department?");
            if (r == true) {
                    $.ajax({
                        type: 'POST',
                        url: '@Url.Action("DisablePolicy", "CompanyPolicy")',
                        data: { id: id },
                        success: function (data) {
                            console.log(data);

                            if (data) {
                                window.location.href = '@Url.Action("Index", "CompanyPolicy", new {id= 0})';
                            }
                        }
                    });
            }
        }
        function EnableData(id) {
            var r = confirm("Are you sure to Enable this Department?");
            if (r == true) {
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("EnablePolicy", "CompanyPolicy")',
                    data: { id: id },
                    success: function (data) {
                        console.log(data);
                        if (data) {
                            window.location.href = '@Url.Action("Index", "CompanyPolicy", new {id= 0})';
                        }
                    }
                });
            }
        }
    </script>
}