﻿@model hrms_core.ViewModel.EmployeeDashboardModel
@{
    ViewData["Title"] = "EmployeeDashboard";
}


<section class="content">
    <div id="MsgDiv">
        @if (TempData["msg"] != null)
        {
            if (Convert.ToString(TempData["msg"]).ToLower().Contains("wrong") || Convert.ToString(TempData["msg"]).ToLower().Contains("not"))
            {
                <div class='alert alert-danger'>
                    <label>@TempData["msg"]</label><a onclick="$('#MsgDiv').hide(500);" class="anchor pull-right"><i class="fa fa-window-close" aria-hidden="true"></i></a>
                </div>
            }
            else if (Convert.ToString(TempData["msg"]).ToLower().Contains("already") || Convert.ToString(TempData["msg"]).ToLower().Contains("exist"))
            {
                <div class='alert alert-warning'>
                    <label>@TempData["msg"]</label><a onclick="$('#MsgDiv').hide(500);" class="anchor pull-right"><i class="fa fa-window-close" aria-hidden="true"></i></a>
                </div>
            }
            else
            {
                <div class='alert alert-success'>
                    <label>@TempData["msg"]</label><a onclick="$('#MsgDiv').hide(500);" class="anchor pull-right"><i class="fa fa-window-close" aria-hidden="true"></i></a>
                </div>
            }
        }
    </div>
    <div class="col-md-12">
        <form asp-controller="EmployeeDashboard" enctype="multipart/form-data" asp-action="Employee" method="post">
            <div class="box box-default">
                <div class="box-header with-border">
                    <h3 class="box-title">Achievements</h3>
                </div>
                <div class="box-body">
                    <div class="col-md-3" id="divAwardName">
                        <div class="form-group">
                            <input type="hidden" asp-for="id" />

                            <label> <span style="color: #ff0000;">*</span>Award Name </label>
                            <input type="text" class="form-control" id="awardname" maxlength="50" placeholder="Enter Award Name" asp-for="awardname" />

                            <span asp-validation-for="awardname" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-3" id="divDepartmentName">
                        <div class="form-group">
                            <label>   <span style="color: #ff0000;">*</span>Department Name</label>
                            <select id="ddlDepartment" asp-for="department_id" asp-items="@(new SelectList(Model.DepartmentModelList,"id","departmenttext"))" class="form-control "></select>
                            @*<span asp-validation-for="department_id" class="text-danger"></span>*@
                        </div>
                    </div>
                    <div class="col-md-3" id="divEmployeeName">
                        <div class="form-group">
                            <label>  <span style="color: #ff0000;">*</span>Employee Name </label>
                            <select id="ddlAssociate" asp-for="employee_id" asp-items="@(new SelectList(Model.AssociateMasterModelList,"id","associate_name"))" class="form-control "></select>
                            @*<span asp-validation-for="employee_id" class="text-danger"></span>*@
                        </div>
                    </div>
                    <div class="col-md-3" id="divDesignation">
                        <div class="form-group">
                            <label> <span style="color: #ff0000;">*</span>Designation </label>
                            <input type="text" class="form-control" id="txtDesignation" maxlength="50" asp-for="designation_text" />
                            <span asp-validation-for="designation_text" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label> <span style="color: #ff0000;">*</span>Month </label>
                            <input type="text" class="form-control" id="monthname" maxlength="50" placeholder="Enter Month" asp-for="month_name" />

                            <span asp-validation-for="month_name" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-3" id="divFileName">
                        <div class="form-group">
                            <label>   <span style="color: #ff0000;"></span>Remark</label>
                            <textarea class="form-control" id="remark" maxlength="50" placeholder="Enter Remark" asp-for="remark"> Remark</textarea>

                            <span asp-validation-for="remark" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label> <span>Select File</span></label>
                            <input type="file" id="fileUpload" name="userPhoto" asp-for="imagepath" />
                            <span asp-validation-for="imagepath" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="box-footer with-border">
                    <div class="pull-right">
                        <input type="submit" name="CommandName" id="btnSave" value="Save Changes" class="btn btn-primary" />
                        <a href="@Url.Action("Employee","EmployeeDashboard")" class="btn btn-danger btn-flat">Clear</a>
                    </div>
                </div>
            </div>
        </form>
        <div class="modal fade" id="modalEmployeeDashboard" tabindex="-1" role="dialog" data-keyboard="false" aria-labelledby="modalEmployeeDashboardLabel">
            <div class="modal-dialog modal-md" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" id="btncloseviewmodel" class="close" onclick="$('#modalEmployeeDashboard').modal('toggle');" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="exampleModalLabel">Detail View</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <div class="col-md-6">
                                <img src="~/Upload/default.png" id="myImg" alt="Image" height="180" width="210" />
                            </div>
                            <div class="col-md-6">
                                <label>Employee Name : </label>
                                <span id="txtEmployeeName">Bilal Khan</span><br />
                                <label>Department : </label>
                                <span id="txtDepartment"></span><br />
                                <label>Designation : </label>
                                <span id="txtDesignationName"></span>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="form-group">
                            <h3 id="AwardHeading"></h3>
                            <span id="txtRemark_modal"></span>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger btn-flat" onclick="$('#modalEmployeeDashboard').modal('toggle');" id="btnClose">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="box box-default">
            <div class="box-header with-border">
                <div id="msgdiv"></div>
                <h3 class="box-title">Details</h3>
            </div>
            <div class="box-body" style="padding-top: 2%;">
                <div id="msgdiv"></div>
                <div class="col-md-12">
                    <div class="row">
                        <div class="callout callout-info nofoundlbl" style="display:none;"></div>
                        <div class="" style="max-height: 400px;min-height: 153px;overflow-y: auto;">
                            <table id="tbl_EmpDashboard" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>S No.</th>
                                        <th>Award Name</th>
                                        <th>Month Name</th>
                                        <th>Employee Name</th>
                                        <th>Department</th>
                                        <th>Designation</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        int i = 1;
                                        foreach (var item in Model.EmployeeDashboardModelList)
                                        {
                                            <tr>
                                                <td>@i</td>
                                                <td>@item.awardname</td>
                                                <td>@item.month_name</td>
                                                <td>@item.employee_name</td>
                                                <td>@item.department_name</td>
                                                <td>@item.designation_text</td>
                                                <td>
                                                    <a title="Edit" onclick="OpenModal(@item.id)"><i class="fa fa-eye"></i></a>  | <a title="Delete" class="anchor" onclick="DeleteAward(@item.id)"><i class="fa fa-trash"></i></a>
                                                </td>

                                            </tr>
                                            i = i + 1;
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section scripts{
    <script>
        $(document).ready(function () {
            $("#tbl_EmpDashboard").DataTable({
                dom: 'lBfrtip',
                buttons: [
                    'excel', 'pdf', 'print'
                ]
            });
            $('INPUT[type="file"]').change(function () {
                
                var ext = this.value.match(/\.(.+)$/)[1];
                var flag = true;
                switch (ext.toLowerCase()) {
                    case 'jpg':
                    case 'jpeg':
                    case 'png':
                    case 'gif':
                        flag = false;
                        break;
                    default:
                        alert('This is not an allowed file type.');
                        this.value = '';
                }
                
                if (flag !=true)
                    return false;
            });
        $("#monthname").datepicker({
            changeMonth: true,
            changeYear: true,
            minDate: 0,
            showButtonPanel: true,
            dateFormat: 'MM yy',
            onClose: function (dateText, inst) {
                $(this).datepicker('setDate', new Date(inst.selectedYear, inst.selectedMonth, 1));
            }
        });
            $("#monthname").focus(function () {
            $("#monthname").attr('readonly', 'readonly');
            $(".ui-datepicker-calendar").hide();
            $("#ui-datepicker-div").position({
                my: "center top",
                at: "center bottom",
                of: $(this)
            });
        });
            $("#ddlDepartment").change(function () {
                var strUser = a.options[a.selectedIndex].value;
                var html = "<option value='0'>--Select--</option>";
                $(a).closest("tr").find(".dropdowns").empty();
                if (strUser > 0) {
                    $.ajax({
                        type: 'POST',
                        url: '@Url.Action("GetEmployeeByDepartmentId", "EmployeeDashboard")',
                        data: { Id: strUser },
                        success: function (data) {
                            if (data.length > 0) {
                                $.each(data, function (key, value) {
                                    html += "<option value=" + value.id + ">" + value.employee_id + "</option>";
                                });

                                $(a).closest("tr").find(".dropdowns").html(html);
                            }
                        }
                    });
                }
                else {
                    $(a).closest("tr").find(".dropdowns").html(html);
                }
            });

            $("#ddlAssociate").change(function () {
                
                var AssociateId = $("#ddlAssociate :selected").val();
                if (AssociateId != 0 && AssociateId != undefined) {
                    $.ajax({
                        type: 'POST',
                        url: '@Url.Action("GetDesignationByAssociateId", "EmployeeDashboard")',
                        data: { AssociateId: AssociateId },
                        success: function (data) {
                            
                            $("#txtDesignation").empty();
                            console.log(data);
                            $("#txtDesignation").val(data);
                        }
                    });
                }
                });
        $(document).click(function () {
            $("#msgdiv").hide(500);
            });
        });
        function DeleteAward(id) {
            
            var r = confirm("Are you sure to Delete this Award?");
            if (r == true) {
                    $.ajax({
                        type: 'POST',
                        url: '@Url.Action("DeleteAward", "EmployeeDashboard")',
                        data: { id: id },
                        success: function (data) {
                            console.log(data);

                            if (data) {
                                window.location.href = '@Url.Action("Employee", "EmployeeDashboard", new {id= 0})';
                            }
                        }
                    });
            }
        }
        function OpenModal(Id) {
            
            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetEmployeeDashboardDataById","EmployeeDashboard")',
                data: { EmpDashboardId: Id },
                success: function (data) {
                    
                    console.log(data);
                    if (data.length > 0) {
                        $.each(data, function (key, value) {
                            
                            $("#txtEmployeeName").html(value.associate_name);
                            $("#txtDepartment").html(value.department_name);
                            $("#txtDesignationName").html(value.designation_text);
                            $("#txtRemark_modal").html(value.remark);
                            $("#AwardHeading").html(value.awardname + "(" + value.month_name + ")");
                            var oldImage = $("#myImg").attr("src");
                            var imagePath = oldImage.slice(0, oldImage.lastIndexOf("/")) + "/" + value.imagepath;
                            $("#myImg").attr("src", imagePath);
                            $("#modalEmployeeDashboard").modal('show');
                        });
                    }
                }
            });
        }
    </script>
}
