﻿@model hrms_core.ViewModel.DailyActivityReportModel
@{
    ViewData["Title"] = "AdminDARBucket";
}
<section class="content-header">
    <div id="MsgDiv">
        @if (TempData["msg"] != null)
        {
            if (Convert.ToString(TempData["msg"]).ToLower().Contains("Wrong") || Convert.ToString(TempData["msg"]).ToLower().Contains("not"))
            {
                <div class='alert alert-danger'>
                    <label>@TempData["msg"]</label><a onclick="$('#MsgDiv').hide(500);" class="anchor pull-right"><i class="fa fa-window-close" aria-hidden="true"></i></a>
                </div>
            }
            else if (Convert.ToString(TempData["msg"]).ToLower().Contains("already") || Convert.ToString(TempData["msg"]).ToLower().Contains("exist"))
            {
                <div class='alert alert-warning'>
                    <label>@TempData["msg"]</label><a onclick="$('#MsgDiv').hide(500);" class="anchor pull-right"><i class="fa fa-window-close" aria-hidden="true"></i></a>
                </div>
            }
            else
            {
                <div class='alert alert-success'>
                    <label>@TempData["msg"]</label><a onclick="$('#MsgDiv').hide(500);" class="anchor pull-right"><i class="fa fa-window-close" aria-hidden="true"></i></a>
                </div>
            }

        }
    </div>
    <h1>DAR Report</h1>
</section>
<section class="content">
    <form asp-action="AdminDARBucket" asp-controller="DAR" method="post">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <span><b>Admin DAR Bucket</b></span>
                </div>
                <div class="box-body">
                    <div class="col-md-12">
                        <div class="form-group col-lg-3">
                            <label><span style="color: #ff0000;">*</span>Associate Name:</label>
                            <select id="AssociateId" asp-for="associate_id" asp-items="@(new SelectList(Model.AssociateVMList,"associate_id","associate_name"))" class="form-control"><option value="0">Select</option></select>
                            <span asp-validation-for="associate_id"></span>
                        </div>
                        <div class="form-group col-lg-3">
                            <label><span style="color: #ff0000;">*</span>From Date: </label>
                            <input type="date" id="StartDate" asp-for="StartDate" placeholder="dd/mm/yyyy" name="StartDate" class="form-control" asp-format="{0:dd/MM/yyyy}" required />
                            <span asp-validation-for="StartDate" class="text-danger"></span>
                        </div>
                        <div class="form-group col-lg-3">
                            <label><span style="color: #ff0000;">*</span>TO Date: </label>
                            <input type="date" id="EndDate" asp-for="EndDate" placeholder="dd/mm/yyyy" name="EndDate" class="form-control" asp-format="{0:dd/MM/yyyy}" required />
                            <span asp-validation-for="EndDate" class="text-danger"></span>
                        </div>
                        <div class="form-group col-lg-3">
                            <input type="submit" class="btn btn-success btn-flat" id="btnSubmit" style="margin-top: 23px" name="CommandName" value="Submit" />


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <form asp-action="AdminDARBucket" asp-controller="DAR" method="post">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <span><b>Single Day DAR</b></span>
                </div>
                <div class="box-body">
                    <div class="col-md-12">

                        <div class="form-group col-lg-3">
                            <label><span style="color: #ff0000;">*</span>Date: </label>
                            <input type="date" id="SelectedDate" asp-for="SelectedDate" placeholder="dd/mm/yyyy" name="SelectedDate" class="form-control" asp-format="{0:dd/MM/yyyy}" required />
                            <span asp-validation-for="SelectedDate" class="text-danger"></span>
                        </div>
                        <div class="form-group col-lg-3">
                            <input type="submit" class="btn btn-success btn-flat" id="btnSubmit" style="margin-top: 23px" name="CommandName" value="Submit" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="modal fade" id="modalScheduleCall" tabindex="-1" role="dialog" data-keyboard="false" aria-labelledby="modalScheduleCallLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" id="btnclosemodalScheduleCall" class="close" onclick="$('#modalScheduleCall').modal('toggle');" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4>View Daily Activity Reporting</h4>
                </div>
                <div class="modal-body" style="padding-top: 4%;">
                    <div class="col-md-12">
                        <div class="form-group col-md-4">
                            <label><span style="color: #ff0000;">*</span> Associate Name</label>
                            <input type="text" class="form-control" id="associate_name" maxlength="50" asp-for="associate_name" readonly="readonly" />
                            <span asp-validation-for="associate_name" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-2">
                            <label><span style="color: #ff0000;">*</span> Reporting Date</label>
                            <input type="text" class="form-control" id="reporitngdate" maxlength="50" asp-for="reportingdate" readonly />
                            <span asp-validation-for="reportingdate" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-2">
                            <label><span style="color: #ff0000;">*</span>Total Hour</label>
                            <input type="text" class="form-control" id="total_hour" maxlength="50" asp-for="totalhour" readonly />
                        </div>
                    </div>
                    <table id="tbldar" width="100" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th style="width:110px;">Project Name</th>
                                <th style="width:110px;">Task Name</th>
                                <th style="width:153px;">Activity Detail</th>
                                <th style="width:63px;">Hours</th>
                                <th style="width:63px;">Percentage</th>
                                <th style="width:100px;">Status</th>
                                <th style="width:125px;">Remark</th>
                            </tr>

                        </thead>
                        <tbody id="tblBody"></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    @{

        if (Model.DailyActivityReportModelList != null && Model.DailyActivityReportModelList.Count > 0)
        {
            <div id="DailyActivityReportDetails">
                <div class="col-md-12">
                    <div class="box box-default">
                        <div class="box-header with-border">
                            <h3 class="box-title">Daily Activity Report Details</h3>
                        </div>
                        <div class="box-body">
                            <div class="callout callout-info nofoundlbl" style="display:none;"></div>
                            <div class="" style="max-height: 400px;min-height: 153px;overflow-y: auto;">
                                <table id="tblData" class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th>Serial No</th>
                                            <th>Associate Name</th>
                                            <th>Reporting Date</th>
                                            <th>Total Hour</th>
                                            <th>Is Authorized</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody id="AssociateDAR">
                                        @{
                                            int j = 1;
                                            foreach (var item in Model.DailyActivityReportModelList)
                                            {
                                                <tr>
                                                    <td>@j</td>
                                                    <td>@item.associate_name</td>
                                                    <td>@item.reportingdate.ToString("dd/MM/yyyy")</td>
                                                    <td>@item.totalhour</td>
                                                    <td>@item.is_authorized</td>
                                                    <td>
                                                        @{
                                                            if (item.is_authorized == true && item.id > 0)
                                                            {
                                                                <a title="View Details" style="cursor:pointer;" onclick="ViewDAR(@item.id)">DAR</a>

                                                            }
                                                            else
                                                            {
                                                                <p style="color:red">NoDAR</p>
                                                            }
                                                        }

                                                    </td>
                                                </tr>
                                                j = j + 1;
                                            }
                                        }
                                    </tbody>
                                </table>
                                <div id="btnDownload" style="margin-top: 23px;float: right;"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
</section>
@section Scripts{
    <script src="~/datatables/jquery.dataTables.js"></script>
    <script src="~/datatables/dataTables.bootstrap.js"></script>
    @*<script src="https://cdn.datatables.net/buttons/1.5.1/js/dataTables.buttons.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
        <script src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.html5.min.js"></script>*@
    <script>
        $(document).ready(function () {
            setTimeout(function () {
                $("#MsgDiv").fadeOut('fast');
            }, 5000);
            $("#tblData").css('width', '99.9%').DataTable({
                dom: 't',
                ordering: false,
                paging: false,
                keys: true, //enable KeyTable extension
                dom: 'lBfrtip',
                buttons: [
                    'excel', 'pdf', 'print'
                ]
            });
            var Lead = $("#tblData").DataTable();
            var buttons = new $.fn.dataTable.Buttons(Lead, {
                buttons: [
                    {
                        extend: 'excelHtml5',
                        text: 'Download'
                    }
                ]
            }).container().appendTo($('#btnDownload'));
        });
        @*$("#btnSubmit").click(function () {
            
            var flag = 0;
            var associateId = $("#AssociateId option:selected").val();
            var startDate = $("#StartDate").val();
            var endDate = $("#EndDate").val();
            if (associateId <= 0) {
                $("#AssociateId").addClass('has-error');
                flag++;
            }
            if (startDate == '') {
                $("#StartDate").addClass('has-error');
                flag++;
            }
            if (endDate == '') {
                $("#EndDate").addClass('has-error');
                flag++;
            }
            if (startDate > endDate) {
                $("#StartDate").addClass('has-error');
                $("#EndDate").addClass('has-error');
                flag++;
            }
            if (flag > 0) {
                return false;
            }
            else if (associateId > 0 && startDate < endDate) { }
            $.ajax({
                type: 'POST',
                url: '@Url.Action("SelectedAssocaiteDAR","DAR")',
                Cache: false,
                data: { associateId: associateId, startDate: startDate, endDate: endDate },
                success: function (data) {
                    
                    if (data.length > 0) {
                        var result = "";
                        $.each(data.DailyActivityReportModelList, function (key, value) {
                            console.log(data.DailyActivityReportModelList);
                            console.log("Value : ", value);
                            result += '<tr><td>' + value.project_name + '</td><td>' + value.task_name + '</td><td>' + value.activitydetail + '</td><td>' + value.hour + '</td><td>' + value.percentage + '</td><td>' + value.status + '</td><td>' + value.remark + '</td></tr>';
                            result+= '<td>'+value.reportingdate.ToString("dd/MM/yyyy") +'</td><td>'+ value.createdon.ToString("dd/MM/yyyy")+'</td><td>'+ value.totalhour+'</td><td>'+value.is_authorized+'</td><td><a title="View Details" id="btnclosemodalScheduleCall" class="fa fa-eye anchor" onclick="ViewDAR('+value.id+')"></a></td></tr>';
                        });
                        $("#AssociateDAR").append(result);
                    }
                }
            });
        });*@
        function RemoveValidation(obj) {
            var id = obj.id;
            $("#" + id).parent().removeClass('has-error');
            $("#" + id).removeClass('has-error');
        }
        function ViewDAR(DarId) {
            
        $.ajax({
            type: 'GET',
            url: '@Url.Action("AssociateReportDetails", "DAR")',
            cache: false,
            data: { DarId: DarId },
            success: function (data) {

                if(data.length>0)
                {
                    console.log("Something went wrong while Edit the Details. Please check the details");
                }
                else
                {

                    $("#tblBody").empty();
                    $("#associate_name").val(data.dailyActivityReportModelList[0].associate_name);
                    var d = new Date(data.dailyActivityReportModelList[0].reportingdate);
                    var month = parseInt(d.getMonth()) + 1;
                    var _date = (d.getDate() < 10 ? '0' + d.getDate() : d.getDate()) + '/' + (month < 10 ? '0' + month : month) + '/' + d.getFullYear();
                    $("#reporitngdate").val(_date);
                    $("#total_hour").val(data.dailyActivityReportModelList[0].totalhour);
                    var result = "";
                    $.each(data.dailyReportDetaillist, function (key, value) {

                        console.log(data.dailyReportDetaillist);
                        console.log("Value : ", value);
                        result += '<tr><td>' + value.project_name+ '</td><td>' + value.task_name + '</td><td>' + value.activitydetail + '</td><td>' + value.hour + '</td><td>' + value.percentage + '</td><td>' + value.status + '</td><td>' + value.remark + '</td></tr>';
                    });
                    $("#tblBody").append(result);
                    $('#modalScheduleCall').modal('toggle');
                }
            }
        });
    }
    </script>
}