﻿@model hrms_core.ViewModel.DARVM
@{
    ViewData["Title"] = "CreateDAR";
}
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.css">
<section class="content">
    <div id="MsgDiv">
        @if (TempData["msg"] != null)
        {
            if (Convert.ToString(TempData["msg"]).ToLower().Contains("wrong") || Convert.ToString(TempData["msg"]).ToLower().Contains("not"))
            {
                <div class='alert alert-danger'>
                    <label>@TempData["msg"]</label><a onclick="$('#MsgDiv').hide(500);" class="anchor pull-right"><i class="fa fa-window-close" aria-hidden="true"></i></a>
                </div>
            }
            else if (Convert.ToString(TempData["msg"]).ToLower().Contains("already") || Convert.ToString(TempData["msg"]).ToLower().Contains("exist"))
            {
                <div class='alert alert-warning'>
                    <label>@TempData["msg"]</label><a onclick="$('#MsgDiv').hide(500);" class="anchor pull-right"><i class="fa fa-window-close" aria-hidden="true"></i></a>
                </div>
            }
            else
            {
                <div class='alert alert-success'>
                    <label>@TempData["msg"]</label><a onclick="$('#MsgDiv').hide(500);" class="anchor pull-right"><i class="fa fa-window-close" aria-hidden="true"></i></a>
                </div>
            }

        }
    </div>
    <div class="col-md-12">
        <form asp-controller="DAR" asp-action="CreateDAR" method="post">
            <div class="box box-default">
                <div class="box-header with-border">
                    <h3>Daily Activity Reporting</h3>
                </div>
                <div class="box-body">
                    <div class="col-md-12">
                        <input type="hidden" asp-for="dailyActivityReportModel.id" />
                        <div class="form-group col-md-4">
                            <label><span style="color: #ff0000;">*</span> Associate Name</label>
                            <input type="text" class="form-control" id="associate_name" maxlength="50" asp-for="associate_name" readonly="readonly" />
                            <span asp-validation-for="associate_name" class="text-danger"></span>

                        </div>
                        <div class="form-group col-md-3">
                            <label><span style="color: #ff0000;">*</span> Reporting Date</label>
                            <input type="date" class="form-control" id="reporitngdate" maxlength="50" asp-for="dailyActivityReportModel.reportingdate" />
                            <span asp-validation-for="dailyActivityReportModel.reportingdate" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-2" style="display:none;">
                            <label>Report Type</label>
                            <input type="checkbox" id="cf" asp-for="dailyActivityReportModel.on_duty" style="margin-left:51px;" />
                            <label>On Duty</label>
                        </div>
                    </div>
                    <input type="button" value="Add DAR Row" name="CommandName" class="btn btn-primary btn-flat" id="btnAddRow" />
                    <div class="box-body" style="overflow-x:auto;">
                        <div id="ActivityReportPartial">
                            @{
                                if (Model.dailyReportDetailModel.DailyReportDetailModelList != null && Model.dailyReportDetailModel.DailyReportDetailModelList.Count > 0)
                                {
                                    int i = 0;
                                    foreach (var item in Model.dailyReportDetailModel.DailyReportDetailModelList)
                                    {

                                        if (item != null)
                                        {
                                            <partial name="_DailyActivityDetail" model="item" />
                                        }

                                    }
                                }
                            }
                        </div>
                    </div>
                    <div class="box-footer">
                        <button type="submit" name="CommandName" class="btn btn-primary btn-flat" value="Save" id="btnSave" onclick="disableButton(this);">Save</button>
                        <button type="submit" name="CommandName" class="btn btn-primary btn-flat" value="Save & Authorized" id="btnSaveAuthorize" onclick="disableButton(this);">Save & Authorized</button>
                    </div>
                </div>
            </div>

        </form>
    </div>
</section>

@section scripts{
    <script src="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#btnAddRow").click(function () {
                $.ajax({
                    url: '@Url.Action("DailyActivityReportPartial", "DAR")',
                    cache: false,
                    success: function (data) {
                        $("#ActivityReportPartial").append(data);
                    },

                   error: function (jqXhr, textStatus, errorThrown) {
                       alert("Error '" + jqXhr.status + "' (textStatus: '" + textStatus + "', errorThrown: '" + errorThrown + "')");
                   },

                   complete: function () {
                       $.validator.unobtrusive.parse('#ActivityReportPartial');
                   }
                });
            });
          $(document).on("click", ".btnDelete", function () {
              $(this).parent().parent().parent().parent().remove();
              
            });
            $(".curenet_percentage").keydown(function (e) {
                // Allow: backspace, delete, tab, escape, enter and .
                if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 110, 190]) !== -1 ||
                    // Allow: Ctrl+A, Command+A
                    (e.keyCode === 65 && (e.ctrlKey === true || e.metaKey === true)) ||
                    // Allow: home, end, left, right, down, up
                    (e.keyCode >= 35 && e.keyCode <= 40)) {
                    // let it happen, don't do anything
                    return;
                }
                // Ensure that it is a number and stop the keypress
                if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
                    e.preventDefault();
                }
            });
           //$("#reporitngdate").datepicker({
           //    dateFormat: 'mm/dd/yy',
           //    yearRange: "-50:+10",
           //    yearMonth: "-50:+12",
           //    changeMonth: true,
           //    changeYear: true,
           //    maxDate: new Date(),
           //    //onClose: function (selectedDate) {
           //    //    $("#reporitngdate").datepicker("option", "maxDate", selectedDate);
           //    //}
           //});
            $(".current_percentage").keyup(function () {
                handleChangePercentage(this);
            });


        });
        @*$(document).ready(function () {
        $("#btnSaveAuthorize").show();
        $("#btnSave").show();
            var id = '@Model.dailyReportDetailModel.id';
            
        if (id != null && id != '0')
        {
            $("#btnSave").hide();
                $("#btnSaveAuthorize").show();
        }
        else
        {
            $("#btnSave").show();
            $("#btnSaveAuthorize").show();
        }
        });*@

        function timepi(evt) {
            $(evt).inputmask("hh:mm", { "placeholder": "hh/mm" });
        }
        //function disableButton(e) {
        //    $("#btnSave").html('Please Wait...');
        //    $("#btnSaveAuthorize").html('Please Wait...');
        //}

        function GetTaskList(a)
        {
            console.log(a);
            
            var Id = a.id;
            var strUser = $('#' + Id).val();//a.options[a.selectedIndex].value;
            $(a).closest("tr").find(".dropdowns").empty();
            var html = '';
            html = '<option value="0">--Select--</option>';
            if (strUser > 0) {
                $.ajax({
                type: 'POST',
                    url: '@Url.Action("GetTaskList", "DAR")',
                    data: { Id: strUser },
                    success: function (data) {
                        
                        if (data.length>0) {
                            $.each(data, function (key, value) {
                                html+="<option value=" + value.id + ">" + value.tasktext + "</option>";
                            });
                        }
                        $(a).closest("tr").find(".dropdowns").html(html);
                    }
                });
            }
            else
            {
                
                $(a).closest("tr").find(".dropdowns").html(html);
            }
        }
        function handleChangePercentage(input) {
            if (input.value < 0) input.value = 0;
            if (input.value > 100) input.value = 100;
        }
        function handleChangeHours(data) {
            //alert("hi");
            var Id = data.id;
            $('#' + Id).timepicker({
                timeFormat: 'hh:mm',
                minTime: '01',
                maxTime: '12:30',
                dropdown: true,
                scrollbar: true
            });
        }
        function current_percentage(data) {
            if (data.value > 100) {
                data.value = 100;
            }
            if (data.value < 0) {
                data.value = 0;
            }
        }
        //function validateForm(formObj) {

        //    if (formObj.username.value == '') {
        //        alert('Please enter a username');
        //        return false;
        //    }

        //    formObj.submitButton.disabled = true;
        //    formObj.submitButton.value = 'Please Wait...';
        //    return true;

        //}
    </script>
}