﻿@model hrms_core.ViewModel.DailyActivityReportModel
@{
    ViewData["Title"] = "DailyReport";
}
<div class="modal fade" id="modalScheduleCall" tabindex="-1" role="dialog" data-keyboard="false" aria-labelledby="modalScheduleCallLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" id="btnclosemodalScheduleCall" class="close" onclick="$('#modalScheduleCall').modal('toggle');" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4>View Daily Activity Reporting</h4>
            </div>
            <div class="modal-body" style="padding-top: 4%;">
                <div class="col-md-12">
                    <div class="form-group col-md-4">
                        <label><span style="color: #ff0000;">*</span> Associate Name</label>
                        <input type="text" class="form-control" id="associate_name" maxlength="50" asp-for="associate_id" readonly="readonly" />
                        <span asp-validation-for="associate_id" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-2">
                        <label><span style="color: #ff0000;">*</span> Reporting Date</label>
                        <input type="text" class="form-control" id="reporitngdate" maxlength="50" asp-for="reportingdate" readonly />
                        <span asp-validation-for="reportingdate" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-2">
                        <label><span style="color: #ff0000;">*</span>Total Hour</label>
                        <input type="text" class="form-control" id="total_hour" maxlength="50" asp-for="totalhour" readonly />
                    </div>
                </div>
                <table id="tbldar" width="100" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th style="width:110px;">Project Name</th>
                            <th style="width:110px;">Task Name</th>
                            <th style="width:153px;">Activity Detail</th>
                            <th style="width:63px;">Hours</th>
                            <th style="width:63px;">Percentage</th>
                            <th style="width:100px;">Status</th>
                            <th style="width:125px;">Remark</th>
                        </tr>

                    </thead>
                    <tbody id="tblBody"></tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<form asp-controller="DailyActivityReport" asp-action="DailyReport" method="post">
    <div id="MsgDiv">

        @if (TempData["msg"] != null)
        {
            if (Convert.ToString(TempData["msg"]).ToLower().Contains("wrong") || Convert.ToString(TempData["msg"]).ToLower().Contains("not"))
            {
                <div class='alert alert-danger'>
                    <label>@TempData["msg"]</label><a onclick="$('#MsgDiv').hide(500);" class="anchor pull-right"><i class="fa fa-window-close" aria-hidden="true"></i></a>
                </div>
            }
            else if (Convert.ToString(TempData["msg"]).ToLower().Contains("already") || Convert.ToString(TempData["msg"]).ToLower().Contains("exist"))
            {
                <div class='alert alert-warning'>
                    <label>@TempData["msg"]</label><a onclick="$('#MsgDiv').hide(500);" class="anchor pull-right"><i class="fa fa-window-close" aria-hidden="true"></i></a>
                </div>
            }
            else
            {
                <div class='alert alert-success'>
                    <label>@TempData["msg"]</label><a onclick="$('#MsgDiv').hide(500);" class="anchor pull-right"><i class="fa fa-window-close" aria-hidden="true"></i></a>
                </div>
            }

        }
    </div>
    <div class="col-md-12">
        <div class="box box-default">
            <div class="box-header with-border">
                <h3 class="box-title">Daily Activity Report Details</h3>
            </div>
            <div class="box-body">
                <div class="callout callout-info nofoundlbl" style="display:none;"></div>
                <div class="" style="max-height: 400px;min-height: 153px;overflow-y: auto;">
                    <table id="tblReport" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Serial No</th>
                                <th>Reported Date</th>
                                <th>Reporting Date</th>
                                <th>Total Hour</th>
                                <th>Is Authorized</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                int j = 1;
                                foreach (var item in Model.DailyActivityReportModelList)
                                {
                                    <tr>
                                        <td>@j</td>
                                        <td>@item.reportingdate.ToString("dd/MM/yyyy")</td>
                                        <td>@item.createdon.ToString("dd/MM/yyyy")</td>
                                        <td>@item.totalhour</td>
                                        <td>@item.is_authorized</td>
                                        <td>
                                            @{
                                                if (item.is_authorized)
                                                {
                                                    <a title="View Details" id="btnclosemodalScheduleCall" class="fa fa-eye anchor" onclick="ViewDAR(@item.id)"></a>

                                                }
                                                else
                                                {
                                                    <a asp-controller="DAR" asp-action="CreateDAR" asp-route-id="@item.id" title="Edit DAR" class="fa fa-pencil anchor"></a>
                                                }
                                            }

                                        </td>
                                    </tr>
                                    j = j + 1;
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</form>
@section Scripts
    {
    <script>
    $(document).ready(function ()
    {
        $("#Disposition").hide();
        $("#Last_Updated_Date").hide();
        $("#tblReport").DataTable({
       // "ordering": false
        //    "order": [[0, "desc"]]
            dom: 'lBfrtip',
            buttons: [
                'excel', 'pdf', 'print'
            ]
        });
    });
    function ViewDAR(DarId) {
        $.ajax({
            type: 'GET',
            url: '@Url.Action("AssociateReportDetails", "DAR")',
            cache: false,
            data: { DarId: DarId },
            success: function (data) {

                if(data.length>0)
                {
                    console.log("Something went wrong while Edit the Details. Please check the details");
                }
                else
                {

                    $("#tblBody").empty();
                    $("#associate_name").val(data.dailyActivityReportModelList[0].associate_name);
                    var d = new Date(data.dailyActivityReportModelList[0].reportingdate);
                    var month = parseInt(d.getMonth()) + 1;
                    var _date = (d.getDate() < 10 ? '0' + d.getDate() : d.getDate()) + '/' + (month < 10 ? '0' + month : month) + '/' + d.getFullYear();
                    $("#reporitngdate").val(_date);
                    $("#total_hour").val(data.dailyActivityReportModelList[0].totalhour);
                    var result = "";
                    $.each(data.dailyReportDetaillist, function (key, value) {

                        console.log(data.dailyReportDetaillist);
                        console.log("Value : ", value);
                        result += '<tr><td>' + value.project_name+ '</td><td>' + value.task_name + '</td><td>' + value.activitydetail + '</td><td>' + value.hour + '</td><td>' + value.percentage + '</td><td>' + value.status + '</td><td>' + value.remark + '</td></tr>';
                    });
                    $("#tblBody").append(result);
                    $('#modalScheduleCall').modal('toggle');
                }
            }
        });
    }
    </script>
}