﻿@model hrms_core.ViewModel.RoleMasterModel
@using hrms_core.ViewModel
@{
    ViewData["Title"] = "RoleCreation";
}
<style>
    .divScroll {
        overflow-y: scroll;
        height: 250px;
    }
</style>
<section class="content-header">
    <h1>
        Role Master
    </h1>
</section>
<section class="content">
    <div id="MsgDiv">
        @if (TempData["msg"] != null)
        {
            if (Convert.ToString(TempData["msg"]).ToLower().Contains("wrong") || Convert.ToString(TempData["msg"]).ToLower().Contains("not"))
            {
                <div class='alert alert-danger'>
                    <label>@TempData["msg"]</label><a onclick="$('#MsgDiv').hide(500);" class="anchor pull-right"><i class="fa fa-window-close" aria-hidden="true"></i></a>
                </div>
            }
            else if (Convert.ToString(TempData["msg"]).ToLower().Contains("already") || Convert.ToString(TempData["msg"]).ToLower().Contains("exist"))
            {
                <div class='alert alert-warning'>
                    <label>@TempData["msg"]</label><a onclick="$('#MsgDiv').hide(500);" class="anchor pull-right"><i class="fa fa-window-close" aria-hidden="true"></i></a>
                </div>
            }
            else
            {
                <div class='alert alert-success'>
                    <label>@TempData["msg"]</label><a onclick="$('#MsgDiv').hide(500);" class="anchor pull-right"><i class="fa fa-window-close" aria-hidden="true"></i></a>
                </div>
            }
        }
    </div>
    <div class="col-md-12">
        <form asp-controller="Role" asp-action="Index" method="post">
            <div class="col-md-12">
                <div class="col-md-6">
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title">Role Creation</h3>
                        </div>
                        <div class="box-body">
                            <div class="form-group col-md-6">
                                <input type="hidden" id="HdnId" asp-for="id" />
                                <label><span style="color: #ff0000;">*</span> Role Name</label>
                                <input asp-for="role_name" type="text" class="form-control CharcaterTextBox" id="role_name"
                                       maxlength="50" placeholder="Enter Role Name">
                                <span asp-validation-for="role_name" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-6">
                                <label>Description</label>
                                <input type="text" asp-for="role_description" class="form-control CharcaterTextBox" id="role_desc"
                                       maxlength="100" placeholder="Enter Role Discription">
                                <span asp-validation-for="role_description" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="box-footer">
                            <input type="submit" class="btn btn-primary btn-flat" value="Save Changes" id="btnSave" />
                            <a asp-action="Index" asp-controller="Role" asp-route-id="" class="btn btn-danger btn-flat">Clear</a>
                        </div>
                        <!-- /.box-body -->
                        <!-- /.box -->
                    </div>

                </div>
                <div class="col-md-6">
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title">Menu List</h3>
                            <div class="pull-right"><input type="checkbox" id="chkSelectAll" />&nbsp;&nbsp;<strong>Select All</strong></div>
                        </div>
                        <div class="box-body direct-chat-messages">
                            
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>Menu Name</th>
                                            <th>Status</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{
                                            foreach (PageMenuModel item in Model.PageMenuList)
                                            {
                                                <partial name="_MenuList" model="item" />
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                       
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header">
                        <span>Role Master Details</span>
                    </div>
                    <div class="box-body">
                        <div class="callout callout-info nofoundlbl" style="display:none;"></div>
                        <div class="" style="max-height: 400px;min-height: 153px;overflow-y: auto;">
                            <table id="tblRole" class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>SNo</th>
                                        <th>Role Name</th>
                                        <th>Role Description</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        int i = 1;
                                        foreach (var item in Model.RoleMasterModelList)
                                        {
                                            <tr>
                                                <td>@i</td>
                                                <td>@item.role_name</td>
                                                <td>@item.role_description</td>
                                                <td>
                                                    <a title="Edit" href="@Url.Action("Index","Role",new { id=item.id})"><i class="fa fa-edit"></i></a> |
                                                    @{
                                                        if (item.isactive.HasValue == true && item.isactive.Value == true)
                                                        {
                                                            <a class="anchor" onclick="DisableData(@item.id)" title="Click to Disable"><img src="~/images/green.ico" alt="Enable" height="18" width="18" /></a>
                                                        }
                                                        else
                                                        {
                                                            <a class="anchor" onclick="EnableData(@item.id)" title="Click to Enable"><img src="~/images/red.ico" alt="Disable" height="18" width="18" /></a>
                                                        }
                                                    }
                                                </td>
                                            </tr>
                                            i = i + 1;
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>
@section scripts{

    <script>
        $(document).ready(function () {
            $("#tblRole").DataTable({
                dom: 'lBfrtip',
                buttons: [
                    'excel', 'pdf', 'print'
                ]
            });
            $('html,body').animate({ scrollTop: $("html").offset().top }, 800);
            $('input[type="text"],table').click(function () {
                $("#MsgDiv").hide(500);
            });
            $("#chkSelectAll").click(function () {
                if ($("#chkSelectAll").prop('checked') == true) {
                    $('input[type="checkbox"]').attr('checked', true);
                }
                else
                    $('input[type="checkbox"]').attr('checked', false);
            });
            $("#btnSave").click(function () {
                var flag = 0;
                $.each($(".checkbox"), function (key, value) {

                    if ($(this).prop('checked') == true) {
                        flag++;
                    }
                });
                if (flag == 0) {
                    alert("Please Chceked at Least One Menu");
                    return false;
                }
            });
        });
        function DisableData(id) {
            var r = confirm("Are you sure to Disable this Role?");
            if (r == true) {
                    $.ajax({
                        type: 'POST',
                        url: '@Url.Action("DisableRole", "Role")',
                        data: { id: id },
                        success: function (data) {
                            console.log(data);

                            if (data) {
                                window.location.href = '@Url.Action("Index","Role",new {id= 0})';
                            }
                        }
                    });
            }
        }
        function EnableData(id) {
            var r = confirm("Are you sure to Enable this Role?");
            if (r == true) {
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("EnableRole", "Role")',
                    data: { id: id },
                    success: function (data) {
                        console.log(data);
                        if (data) {
                            window.location.href = '@Url.Action("Index","Role",new {id= 0})';
                        }
                    }
                });
            }
        }
    </script>
}
