﻿@model hrms_core.Models.AssociateVM
<section class="content">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        body {font-family: Arial, Helvetica, sans-serif;}

#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 600px;
}

/* Caption of Modal Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 500px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 100px;
}

/* Add Animation */
.modal-content, #caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}


/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
        .has-error {
            border-color: red !important;
        }
    </style>
    <div id="MsgDiv">
        @if (TempData["msg"] != null)
        {
            if (Convert.ToString(TempData["msg"]).ToLower().Contains("wrong") || Convert.ToString(TempData["msg"]).ToLower().Contains("not"))
            {
                <div class='alert alert-danger'>
                    <label>@TempData["msg"]</label><a onclick="$('#MsgDiv').hide(500);" class="anchor pull-right"><i class="fa fa-window-close" aria-hidden="true"></i></a>
                </div>
            }
            else if (Convert.ToString(TempData["msg"]).ToLower().Contains("already") || Convert.ToString(TempData["msg"]).ToLower().Contains("exist"))
            {
                <div class='alert alert-warning'>
                    <label>@TempData["msg"]</label><a onclick="$('#MsgDiv').hide(500);" class="anchor pull-right"><i class="fa fa-window-close" aria-hidden="true"></i></a>
                </div>
            }
            else
            {
                <div class='alert alert-success'>
                    <label>@TempData["msg"]</label><a onclick="$('#MsgDiv').hide(500);" class="anchor pull-right"><i class="fa fa-window-close" aria-hidden="true"></i></a>
                </div>
            }
        }
    </div>
    <form asp-controller="ProfilePage" asp-action="Profile" method="post" enctype="multipart/form-data">
        <div class="content">
            <div class="col-md-3">
                <!--left col-->

                <div class="text-center">
                    @if (Model.profilepage != null)
                    {
                        if (Model.profilepage.image_path == null)
                        {
                            <img src="~/images/user3.png" class="profile-user-img img-responsive img-circle" style="border-radius: 50%;" id="myImg" alt="Profile Image">
                            <input type="file" name="userPhoto" asp-for="@Model.profilepage.image_path" class="text-center center-block file-upload fa fa-camera">
                            <span asp-validation-for="@Model.profilepage.image_path" class="text-danger"></span>
                        }
                        else
                        {
                            <img src="~/ProfilePic/@Model.profilepage.image_path" id="myImg" alt="Image" style="border-radius: 50%;" class="profile-user-img img-responsive img-circle" />
                            <input type="file" name="userPhoto" asp-for="@Model.profilepage.image_path" class="text-center center-block file-upload fa fa-camera">
                            <span asp-validation-for="@Model.profilepage.image_path" class="text-danger"></span>
                        }
                    }
                    else
                    {
                        <img src="~/images/user3.png" id="myImg" alt="Image" class="profile-user-img img-responsive img-circle" />
                        <input type="file" name="userPhoto" asp-for="@Model.profilepage.image_path" style="border-radius: 50%;" class="text-center center-block file-upload fa fa-camera">
                        <span asp-validation-for="@Model.profilepage.image_path" class="text-danger"></span>
                    }
                    <div id="myModal" class="modal">
                        <span class="close">&times;</span>
                        <img class="modal-content" onclick="$('#myModal').toggle();" id="img01">
                        <div id="caption"></div>
                    </div>

                </div><br>
                <div class="text-center">
                    <div class="profile-usertitle-name">
                        <h4>
                            <label>@Model.associateMaster.associate_name</label>
                        </h4>
                    </div>
                    <div class="profile-usertitle-job">
                        <h4>@Model.associateMain.designation</h4>
                    </div>
                </div>

                <h3>About Me <i class="fa fa-user "></i></h3>
                <div class="panel panel-default">
                    <div class="panel-body"><label>Date of Confirmation</label><h5>@Model.associateMain.doc.Value.ToString("dd/MM/yyyy")</h5></div>
                    <div class="panel-body"><label>Date of Joining</label><h5>@Model.associateMaster.application_date.ToString("dd/MM/yyyy")</h5></div>
                    <div class="panel-body"><label>Date of Birth</label><h5>@Model.associatePersonal.dob.ToString("dd/MM/yyyy")</h5></div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading"> <i class="fa fa-mobile "></i><label>  Contact Details</label> </div>
                    <div class="panel-body"><label>Extension No: </label><h5>@Model.associateMain.extensionno</h5></div>
                    <div class="panel-body"><label>Official Email:</label><h5>@Model.associateMain.official_email</h5> </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading"> <i class="fa fa-institution "></i><label>  Education Details </label></div>
                    <div class="panel-body"><label>Qualification</label><h5>@Model.associateMain.qualification</h5></div>
                    <div class="panel-body"><label>University</label><h5>@Model.associateQualification.institute_name</h5></div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading"><i class="fa fa-laptop"></i> <label> Department</label> </div>
                    <div class="panel-body">@Model.associateMain.department</div>
                </div>
                @*<ul class="list-group">
                        <li class="list-group-item text-muted">Activity <i class="fa fa-dashboard fa-1x"></i></li>
                        <li class="list-group-item text-right"><span class="pull-left"><strong>Shares</strong></span> 125</li>
                        <li class="list-group-item text-right"><span class="pull-left"><strong>Likes</strong></span> 13</li>
                        <li class="list-group-item text-right"><span class="pull-left"><strong>Posts</strong></span> 37</li>
                        <li class="list-group-item text-right"><span class="pull-left"><strong>Followers</strong></span> 78</li>
                    </ul>*@

                @*<div class="panel panel-default">
                        <div class="panel-heading">Social Media</div>
                        <div class="panel-body">
                            <i class="fa fa-facebook fa-2x"></i> <i class="fa fa-github fa-2x"></i> <i class="fa fa-twitter fa-2x"></i> <i class="fa fa-pinterest fa-2x"></i> <i class="fa fa-google-plus fa-2x"></i>
                        </div>
                    </div>*@

            </div><!--/col-3-->
            <div class="col-md-9">
                <div class="nav-tabs-custom">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#tab_1" data-toggle="tab">Personal</a></li>
                        <li><a href="#tab_2" data-toggle="tab">Awards</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab_1">
                            <div class="box box-default">
                                <div class="box-body">
                                    <div class="form-group">
                                        <div class="col-md-6">
                                            <h5><label><span style="color: #ff0000;">*</span>Mobile No</label></h5>
                                            <input type="text" class="form-control" id="mobile_no" asp-for="associateMain.mobileno" maxlength="12" placeholder="Enter Mobile Number">
                                            <span asp-validation-for="associateMain.mobileno" class="text-danger"></span>
                                        </div>
                                        <div class="col-md-6">
                                            <h5><label><span style="color: #ff0000;">*</span>Email ID</label></h5>
                                            <input type="text" asp-for="associateMain.personal_email" class="form-control" id="email" placeholder="Enter your Email.">
                                            <span asp-validation-for="associateMain.personal_email" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-6">
                                            <h5><label>Bank A/C</label></h5>
                                            <input type="text" asp-for="associateMain.account_no" class="form-control" id="bank_ac" placeholder="Account Number">
                                        </div>
                                        <div class="col-md-6">
                                            <h5><label>Bank Name</label></h5>
                                            <input type="text" asp-for="associateMain.bankname" class="form-control" id="bankname" placeholder="Enter Bank Name">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-6">
                                            <h5><label>Blood Group</label></h5>
                                            <select id="bloodgroup" class="form-control " asp-for="associatePersonal.bloodgroup"><option>Select</option><option>O+</option><option>O-</option><option>A+</option><option>A-</option><option>B+</option><option>B-</option><option>AB+</option><option>AB-</option></select>
                                        </div>
                                        <div class="col-md-6">
                                            <h5><label><span style="color: #ff0000;">*</span>Gender</label></h5>
                                            <select id="gender" class="form-control " asp-for="associatePersonal.gender"><option>Select</option><option>Male</option><option>Female</option></select>
                                            <span asp-validation-for="associatePersonal.gender" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-6">
                                            <h5><label><span style="color: #ff0000;">*</span>Marital Status</label></h5>
                                            <select id="maritalstatus" class="form-control" onchange="MaritalStatus();" asp-for="associatePersonal.maritalstatus"><option>Select</option><option>Single</option><option>Married</option></select>
                                            <span asp-validation-for="associatePersonal.maritalstatus" class="text-danger"></span>
                                        </div>
                                        <div class="col-md-6">
                                            <h5><label>Anniversary Date</label></h5>
                                            <input type="date" class="form-control CharcaterTextBox" onfocus="RemoveValidation(this);" id="anniversarydate" placeholder="Enter Anniversary Date" asp-for="associatePersonal.anniversary" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-6">
                                            <h5><label>Father's/Husband's Name</label></h5>
                                            <input type="text" class="form-control CharcaterTextBox" id="name" placeholder="Enter Father's/Husband's Name" asp-for="associatePersonal.father_husband_name" />
                                        </div>
                                        <div class="col-md-6">
                                            <h5><label>Mother's Name</label></h5>
                                            <input type="text" class="form-control CharcaterTextBox" id="mothersname" placeholder="Enter Mother's Name" asp-for="associatePersonal.mothername" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-6">
                                            <h5><label>Present Address</label></h5>
                                            <input type="text" class="form-control CharcaterTextBox" id="presentaddress" placeholder="Enter Present Address" asp-for="associatePersonal.present_address" />
                                        </div>
                                        <div class="col-md-6">
                                            <h5><label><span style="color: #ff0000;">*</span>Permanent Address</label></h5>
                                            <input type="text" class="form-control CharcaterTextBox" id="permanentaddress" placeholder="Enter Permanent Address" asp-for="associatePersonal.permanent_address" />
                                            <span asp-validation-for="associatePersonal.permanent_address" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-2">
                                            <label> Country: </label>
                                            <select id="ddlPresentCountry" asp-for="associatePersonal.present_country_id" asp-items="@(new SelectList(Model.PresentCountryModelList,"id","countrytext"))" class="form-control "></select>
                                        </div>
                                        <div class="col-md-2">
                                            <label>State: </label>
                                            <select id="ddlPresentState" asp-for="associatePersonal.present_state_id" asp-items="@(new SelectList(Model.PresentStateModelList,"id","statetext"))" class="form-control "></select>
                                        </div>
                                        <div class="col-md-2">
                                            <label>City: </label>
                                            <select id="ddlPresentCity" asp-for="associatePersonal.present_city_id" asp-items="@(new SelectList(Model.PresentCityModelList,"id","citytext"))" class="form-control "></select>
                                        </div>
                                        <div class="col-md-2">
                                            <label><span style="color: #ff0000;">*</span>Country: </label>
                                            <select id="ddlPermanentCountry" asp-for="associatePersonal.permanent_country_id" asp-items="@(new SelectList(Model.PermanentCountryModelList,"id","countrytext"))" class="form-control "></select>
                                            <span asp-validation-for="associatePersonal.permanent_country_id" class="text-danger"></span>
                                        </div>
                                        <div class="col-md-2">
                                            <label><span style="color: #ff0000;">*</span>State: </label>
                                            <select id="ddlPermanentState" asp-for="associatePersonal.permanent_state_id" asp-items="@(new SelectList(Model.PermanentStateModelList,"id","statetext"))" class="form-control "></select>
                                            <span asp-validation-for="associatePersonal.permanent_state_id" class="text-danger"></span>
                                        </div>
                                        <div class="col-md-2">
                                            <label><span style="color: #ff0000;">*</span>City: </label>
                                            <select id="ddlPermanentCity" asp-for="associatePersonal.permanent_city_id" asp-items="@(new SelectList(Model.PermanentCityModelList,"id","citytext"))" class="form-control "></select>
                                            <span asp-validation-for="associatePersonal.permanent_city_id" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="box-footer">
                                    <button class="btn btn-primary btn-flat" id="btnSaveChanges" type="submit"> Save Changes</button>
                                    <a asp-action="Profile" asp-controller="ProfilePage" asp-route-id="" class="btn btn-primary btn-flat">Clear</a>
                                </div>
                            </div>

                        </div><!--/tab-pane-->
                        <div class="tab-pane" id="tab_2">
                            <div class="box box-default">
                                <div class="box-body">
                                    <div class="form-group">
                                        <div class="col-md-6">
                                            <label for="first_name"><h4>Award Name</h4></label>
                                            <input type="text" asp-for="employeeDashboard.awardname" class="form-control" name="awardname" id="awardname" placeholder="No Award Given" readonly>
                                        </div>
                                    </div>
                                </div>
                            </div><!--/tab-pane-->
                            <div class="tab-pane" id="settings">
                                <hr>
                            </div>

                        </div><!--/tab-pane-->
                    </div><!--/tab-content-->
                </div><!--/col-9-->
            </div><!--/row-->
        </div>
    </form>
</section>
    @section scripts
        {
        <script>
        $(document).ready(function () {

            $("#btnSaveChanges").click(function () { 
                
                var anniversaryDate = $("#anniversarydate").val();
                var marital = $('#maritalstatus :selected').val();
                if (marital != "Single") {
                    if (anniversaryDate == "" || anniversaryDate == null) {
                        //alert("Please Select the Anniversary Date!!");
                        $("#anniversarydate").addClass('has-error');
                        $('html,body').animate({ scrollTop: $("#anniversarydate").offset().top }, 800);
                        return false;
                    }
                }
            });
            var readURL = function (input) {
                if (input.files && input.files[0]) {
                    var reader = new FileReader();

                    reader.onload = function (e) {
                        $('.avatar').attr('src', e.target.result);
                    }

                    reader.readAsDataURL(input.files[0]);
                }
            }


            $(".file-upload").on('change', function () {
                readURL(this);
            });
            $("#ddlPresentCountry").change(function () {
                    
                    var CountryId = $("#ddlPresentCountry :selected").val();
                    if (CountryId != 0 && CountryId != undefined) {
                        $.ajax({
                            type: 'POST',
                            url: '@Url.Action("GetStateByCountryId", "ProfilePage")',
                            data: { CountryId: CountryId },
                            success: function (data) {
                                
                                $("#ddlPresentState").empty();
                                console.log(data);
                                var html = '<option value="0">--Select--</option>';
                                if (data.length > 0) {
                                    $.each(data, function (key, value) {
                                        
                                        html += '<option value="' + value.id + '">' + value.statetext + '</option>'
                                    });
                                    $("#ddlPresentState").append(html);
                                }
                            }
                        });
                    }
                    else {
                        $("#ddlPresentState").empty();
                        $("#ddlPresentState").append('<option value="0">--Select--</option>');
                        $("#ddlPresentCity").empty();
                        $("#ddlPresentCity").append('<option value="0">--Select--</option>');
                    }
            });

                $("#ddlPresentState").change(function () {
                    
                    var StateId = $("#ddlPresentState :selected").val();
                    if (StateId != 0 && StateId != undefined) {
                        $.ajax({
                            type: 'POST',
                            url: '@Url.Action("GetCityByStateId", "ProfilePage")',
                            data: { StateId: StateId },
                            success: function (data) {
                                
                                $("#ddlPresentCity").empty();
                                console.log(data);
                                var html = '<option value="0">--Select--</option>';
                                if (data.length > 0) {
                                    $.each(data, function (key, value) {
                                        
                                        html += '<option value="' + value.id + '">' + value.citytext + '</option>'
                                    });
                                    $("#ddlPresentCity").append(html);
                                }
                            }
                        });
                    }
                    else {
                        $("#ddlPresentCity").empty();
                        $("#ddlPresentCity").append('<option value="0">--Select--</option>');
                    }
                });
                ///-----------Present Address Country State END---------------
                ///-----------Permanent Address Country State START---------------
                $("#ddlPermanentCountry").change(function () {
                    
                    var CountryId = $("#ddlPermanentCountry :selected").val();
                    if (CountryId != 0 && CountryId != undefined) {
                        $.ajax({
                            type: 'POST',
                            url: '@Url.Action("GetStateByCountryId", "ProfilePage")',
                            data: { CountryId: CountryId },
                            success: function (data) {
                                
                                $("#ddlPermanentState").empty();
                                console.log(data);
                                var html = '<option value="0">--Select--</option>';
                                if (data.length > 0) {
                                    $.each(data, function (key, value) {
                                        
                                        html += '<option value="' + value.id + '">' + value.statetext + '</option>'
                                    });
                                    $("#ddlPermanentState").append(html);
                                }
                            }
                        });
                    }
                    else {
                        $("#ddlPermanentState").empty();
                        $("#ddlPermanentState").append('<option value="0">--Select--</option>');
                        $("#ddlPermanentCity").empty();
                        $("#ddlPermanentCity").append('<option value="0">--Select--</option>');
                    }
                });
                $("#ddlPermanentState").change(function () {
                    
                    var StateId = $("#ddlPermanentState :selected").val();
                    if (StateId != 0 && StateId != undefined) {
                        $.ajax({
                            type: 'POST',
                            url: '@Url.Action("GetCityByStateId", "ProfilePage")',
                            data: { StateId: StateId },
                            success: function (data) {
                                
                                $("#ddlPermanentCity").empty();
                                console.log(data);
                                var html = '<option value="0">--Select--</option>';
                                if (data.length > 0) {
                                    $.each(data, function (key, value) {
                                        
                                        html += '<option value="' + value.id + '">' + value.citytext + '</option>'
                                    });
                                    $("#ddlPermanentCity").append(html);
                                }
                            }
                        });
                    }
                    else {
                        $("#ddlPermanentCity").empty();
                        $("#ddlPermanentCity").append('<option value="0">--Select--</option>');
                    }
                });
                ///-----------Permanent Address Country State END---------------
        });
            function MaritalStatus() {
                
                var marital = $('#maritalstatus :selected').val();
                if (marital == "Single") {
                    $("#anniversarydate").datepicker('setDate', $.datepicker.formatDate('mm/dd/yy', new Date(0000, 00, 00)));
                    $("#anniversarydate").prop("readonly", true);

                } else {
                    $("#anniversarydate").prop("readonly", false);
                   
                }

            }




            function RemoveValidation(obj) {
                var id = obj.id;
                $("#" + id).removeClass('has-error');
            }
            var modal = document.getElementById('myModal');

            // Get the image and insert it inside the modal - use its "alt" text as a caption
            var img = document.getElementById('myImg');
            var modalImg = document.getElementById("img01");
            var captionText = document.getElementById("caption");
            img.onclick = function () {
                modal.style.display = "block";
                modalImg.src = this.src;
                captionText.innerHTML = this.alt;
            }

            // Get the <span> element that closes the modal
            var span = document.getElementsByClassName("close")[0];

            // When the user clicks on <span> (x), close the modal
            span.onclick = function () {
                modal.style.display = "none";
            }

        </script>}

 