﻿@model hrms_core.ViewModel.TaskMasterModel
@{
    ViewData["Title"] = "Index";
}
<section class="content-header">
    <h1>
        Task Creation
    </h1>
</section>
<section class="content">
    <div id="MsgDiv">
        @if (TempData["msg"] != null)
        {
            if (Convert.ToString(TempData["msg"]).ToLower().Contains("wrong") || Convert.ToString(TempData["msg"]).ToLower().Contains("not"))
            {
                <div class='alert alert-danger'>
                    <label>@TempData["msg"]</label><a onclick="$('#MsgDiv').hide(500);" class="anchor pull-right"><i class="fa fa-window-close" aria-hidden="true"></i></a>
                </div>
            }
            else if (Convert.ToString(TempData["msg"]).ToLower().Contains("already") || Convert.ToString(TempData["msg"]).ToLower().Contains("exist"))
            {
                <div class='alert alert-warning'>
                    <label>@TempData["msg"]</label><a onclick="$('#MsgDiv').hide(500);" class="anchor pull-right"><i class="fa fa-window-close" aria-hidden="true"></i></a>
                </div>
            }
            else
            {
                <div class='alert alert-success'>
                    <label>@TempData["msg"]</label><a onclick="$('#MsgDiv').hide(500);" class="anchor pull-right"><i class="fa fa-window-close" aria-hidden="true"></i></a>
                </div>
            }
        }
    </div>
    <div class="col-md-12">
        <div class="col-md-4">
            <form asp-controller="TaskMaster" asp-action="Index" method="post">
                <div class="box box-default">
                    <div class="box-header with-border">
                        <h3 class="box-title">Task Details</h3>
                    </div>
                    <div class="box-body">
                        <div class="col-md-12">
                            <div class="form-group ">
                                <label><span style="color: #ff0000;">*</span>Select Project </label>
                                <input type="hidden" asp-for="projectid" />
                                <select id="ddlTaskMaster" asp-for="projectid" asp-items="@(new SelectList(Model.ProjectList,"id","projecttext"))" class="form-control" disabled></select>
                                <span asp-validation-for="projectid" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group ">
                                <label><span style="color: #ff0000;">*</span>Task Name</label>
                                <input type="text" class="form-control" id="task_name" maxlength="50" placeholder="Enter Project Name" asp-for="tasktext" />
                                <input type="hidden" asp-for="id" />
                                <span asp-validation-for="tasktext" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group ">
                                <label><span style="color: #ff0000;">*</span> Asssigned Date</label>
                                <input type="date" placeholder="dd/mm/yyyy" asp-format="{0:yyyy-MM-dd}" class="form-control" id="start_date" maxlength="50" asp-for="assigneddate" />
                                <span asp-validation-for="assigneddate" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group ">
                                <label><span style="color: #ff0000;">*</span> Expected Date</label>
                                <input class="form-control" id="expected_date" maxlength="50" type="date" placeholder="dd/mm/yyyy" asp-format="{0:yyyy-MM-dd}" asp-for="expectedcompletiondate" />
                                <span asp-validation-for="expectedcompletiondate" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group ">
                                <label> Completion Date </label>
                                <input type="date" placeholder="dd/mm/yyyy" asp-format="{0:yyyy-MM-dd}" class="form-control" id="completion_date" maxlength="50" asp-for="actualcompletiondate" />
                                <span asp-validation-for="actualcompletiondate" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group ">
                                <label><span style="color: #ff0000;">*</span> Assign To</label><br />
                                <table id="Task_Assign">
                                    <tbody id="tblAssociates">
                                        @{
                                            foreach (var item in Model.AssociateList)
                                            {
                                                <partial name="_TaskIndex" model="item" />
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="box-footer">

                        <input type="submit" class="btn btn-primary btn-flat" value="Save Changes" id="btnSave" />
                        <a href="@Url.Action("Index","TaskMaster",new {id=0 ,proid=Model.projectid})" class="btn btn-danger btn-flat">Clear</a>
                    </div>

                </div>



            </form>

        </div>
        <div class="col-md-8">
            <div class="box box-default">
                <div class="box-header with-border">
                    <h3 class="box-title">Task List</h3>
                </div>
                <div class="box-body">
                    <div class="callout callout-info nofoundlbl" style="display:none;"></div>
                    <div class="" style="max-height: 400px;min-height: 153px;overflow-y: auto;">
                        <table id="tblTaskData" class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Task Name</th>
                                    <th>Project Name</th>
                                    <th>Assigneddate</th>
                                    <th>Expected Date</th>
                                    <th>Completion Date</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    foreach (var item in Model.TaskMasterModelList)
                                    {
                                        <tr>
                                            <td>@item.tasktext</td>
                                            <td>@item.project_name</td>
                                            <td>@item.assigneddate.ToString("dd/MM/yyyy")</td>
                                            <td>@item.expectedcompletiondate.ToString("dd/MM/yyyy")</td>
                                            <td>@item.actualcompletiondate.ToString("dd/MM/yyyy")</td>
                                            <td>
                                                <a title="Edit" href="@Url.Action("Index","TaskMaster",new { id=item.id, proId = item.projectid})"><i class="fa fa-edit"></i></a> |
                                                @{
                                                    if (item.isactive.HasValue == true && item.isactive.Value == true)
                                                    {
                                                        <a class="anchor" onclick="DisableData(@item.id)" title="Click to Disable"><img src="~/images/green.ico" alt="Enable" height="18" width="18" /></a>
                                                    }
                                                    else
                                                    {
                                                        <a class="anchor" onclick="EnableData(@item.id)" title="Click to Enable"><img src="~/images/red.ico" alt="Enable" height="18" width="18" /></a>
                                                    }
                                                }
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section scripts{

    <script>
        $(document).ready(function () {
            $("#tblTaskData").DataTable();
            $('html,body').animate({ scrollTop: $("html").offset().top }, 800);
            $('input[type="text"]').click(function () {
                $("#MsgDiv").hide(500);
                //$("#MsgDiv").hide(selectedEffect, options, 500);
            });
            //Function for start date
            //$("#start_date").datepicker({
            //    dateFormat: 'mm/dd/yy',
            //    changeMonth: true,
            //    changeYear: true,
            //    yearRange: "-50:+10",
            //    yearMonth: "-50:+12",
            //    onClose: function (selectedDate) {
            //        $("#expected_date").datepicker("option", "minDate", selectedDate);
            //        $("#completion_date").datepicker("option", "minDate", selectedDate);
            //    }

            //});
            //$("#expected_date").datepicker({
            //    dateFormat: 'mm/dd/yy',
            //    changeMonth: true,
            //    changeYear: true,
            //    yearRange: "-50:+10",
            //    yearMonth: "-50:+12",
            //    onClose: function (selectedDate) {
            //        $("#start_date").datepicker("option", "maxDate", selectedDate);
            //    }
            //});
            ////Function for completed date
            //$("#completion_date").datepicker({
            //    dateFormat: 'mm/dd/yy',
            //    changeMonth: true,
            //    changeYear: true,
            //    yearRange: "-50:+10",
            //    yearMonth: "-50:+12",
            //    onClose: function (selectedDate) {
            //        $("#start_date").datepicker("option", "maxDate", selectedDate);
            //    }
            //});

            $("#btnSave").click(function () {
                var flag = 0;
                $.each($(".checkbox"), function (key, value) {

                    if ($(this).prop('checked') == true) {
                        flag++;
                    }
                });
                if (flag == 0) {
                    alert("Please Checked at Least One Employee");
                    return false;
                }
            });
        });
        function DisableData(id) {
            var r = confirm("Are you sure to Disable this Task?");
            if (r == true) {
                    $.ajax({
                        type: 'POST',
                        url: '@Url.Action("DisableTask", "TaskMaster")',
                        data: { id: id },
                        success: function (data) {
                            console.log(data);

                            if (data) {
                                window.location.href = '@Url.Action("Index", "TaskMaster", new {id= 0})';
                            }
                        }
                    });
            }
        }
        function EnableData(id) {
            var r = confirm("Are you sure to Enable this Task?");
            if (r == true) {
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("EnableTask", "TaskMaster")',
                    data: { id: id },
                    success: function (data) {
                        console.log(data);
                        if (data) {
                            window.location.href = '@Url.Action("Index", "TaskMaster", new {id= 0})';
                        }
                    }
                });
            }
        }

            @*function GetAssociates(id) {
                var result = "";
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("GetAssociates", "TaskMaster")',
                    data: { id: id },
                    success: function (data) {
                        console.log(data);
                        if (data != null) {
                            if (data.length > 0) {
                                $.each(data, function (key, value) {
                                    result = + '<tr><td><input type="checkbox" asp-for="is_selected" /></td><td>' + data.associate_name + '</td></tr>';
                                });
                            }
                        }
                        $("#tblAssociates").append(result);
                    }

                });

            }*@

    </script>
}



















