﻿@model hrms_core.ViewModel.DailyReportDetailModel
@using HtmlHelpers.BeginCollectionItemCore
<div>
    @{
        int i = 0;
        using (Html.BeginCollectionItem("dailyReportDetailModel.DailyReportDetailModelList"))
        {
            <table class="table table-bordered table-striped">
                @{ 
                    
                        <thead>
                            <tr>
                                <th class="header-cell col1">Project Name</th>
                                <th class="header-cell col2">Task Name</th>
                                <th class="header-cell col3">Activity Detail</th>
                                <th class="header-cell col4">Hours</th>
                                <th class="header-cell col5">Percentage</th>
                                <th class="header-cell col6">Status</th>
                                <th class="header-cell col7">Remark</th>

                            </tr>
                        </thead>
                   
                }





                <tbody>
                    <tr>
                        <td class="body-cell col1">
                            <input type="hidden" asp-for="@Model.id" />
                            <select asp-for="projectid" asp-items="@(new SelectList(Model.ProjectMasterModelList,"id","projecttext"))" style="width:110px;" class="form-control" onchange="GetTaskList(this);"></select>
                            <span asp-validation-for="projectid" class="text-danger"></span>
                            <input type="hidden" asp-for="@Model.projectid" />
                        </td>
                        <td class="body-cell col2">
                            <select asp-for="taskid" asp-items="@(new SelectList(Model.TaskMasterModelList,"id","tasktext"))" style="width:110px;" class="form-control dropdowns"></select>
                            <input type="hidden" asp-for="@Model.taskid" />
                            <span asp-validation-for="taskid" class="text-danger"></span>
                        </td>
                        <td class="body-cell col3">
                            <input type="text" class="form-control" asp-for="activitydetail" style="width:153px;" placeholder="Enter Activity Detail" />
                            <input type="hidden" asp-for="@Model.activitydetail" />
                            <span asp-validation-for="activitydetail" class="text-danger"></span>
                        </td>
                        <td class="body-cell col4">
                            <input type="text" class="form-control tim" placeholder="HH:MM" asp-for="hour" id="time" style="width:95px;" onclick="timepi(this)" onfocusout="timepi(this)" onfocus="timepi(this)" />
                            <input type="hidden" asp-for="@Model.hour" />
                            <span asp-validation-for="hour" class="text-danger"></span>
                        </td>
                        <td class="body-cell col5">
                            <input type="text" class="form-control" asp-for="percentage" onblur="current_percentage(this);" style="width:63px;" />
                            <input type="hidden" asp-for="@Model.percentage" />
                            <span asp-validation-for="percentage" class="text-danger"></span>
                        </td>
                        <td class="body-cell col6">
                            <select style="width:100px;" class="form-control" asp-for="status">
                                <option value="">Select</option>
                                <option value="Complete">Complete</option>
                                <option value="Progress">Progress</option>
                                <option value="Pending">Pending</option>
                                <option value="Assigned">Assigned</option>
                                <option value="Not Assigned">Not Assigned</option>
                            </select>
                            <input type="hidden" asp-for="@Model.status" />
                            <span asp-validation-for="status" class="text-danger"></span>
                        </td>
                        <td class="body-cell col7">
                            <input type="text" class="form-control" asp-for="remark" style="width:125px;" placeholder="Enter Remark" />
                            <input type="hidden" asp-for="@Model.remark" />
                        </td>
                        <td class="body-cell col8"><input type="button" class="btn btn-danger btn-flat btnDelete" value="Delete" /></td>
                    </tr>
                </tbody>
            </table>

        }
    }
</div>
