﻿@model hrms_core.ViewModel.DepartmentModel
@using HtmlHelpers.BeginCollectionItemCore

@{
    using (Html.BeginCollectionItem("DepartmentList"))
    {
        <input type="hidden" asp-for="@Model.id" />
        <tr>
            <td>@Model.departmenttext</td>
            <td><input type="checkbox" class="checkbox" asp-for="@Model.is_selected" /></td>
        </tr>
    }
}