﻿@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@model hrms_core.ViewModel.AssociateExperienceModel
@using HtmlHelpers.BeginCollectionItemCore
<div>
    @{
        using (Html.BeginCollectionItem("AssociateExperienceModelList"))
        {
            <table class="table table-bordered table-striped">
                <tr>
                    <td>
                        <input type="text" class="form-control" asp-for="previous_company" placeholder="Previous Company" />
                        <input type="hidden"  asp-for="previous_company" />
                        <span asp-validation-for="previous_company" class="text-danger"></span>
                    </td>
                    <td>
                        <input type="date" class="form-control" id="from_date" asp-for="from_date" onfocus="FromDate(this);" placeholder="yyyy-MM-dd" asp-format="{0:yyyy-MM-dd}" />
                        <input type="hidden" asp-for="from_date" />
                        <span asp-validation-for="from_date" class="text-danger" id="txtform_date"></span>
                    </td>
                    <td>
                        <input type="date" class="form-control" id="to_date" asp-for="to_date" onfocus="ToDate(this);" placeholder="yyyy-MM-dd" asp-format="{0:yyyy-MM-dd}" />
                        <input type="hidden" asp-for="to_date" />
                        <span asp-validation-for="from_date" class="text-danger" id="txtTo_date"></span>
                    </td>
                    <td>
                        <input type="hidden" asp-for="@Model.id" />
                        <select id="ddlDesignation" asp-for="designation_id" asp-items="@(new SelectList(Model.DesignationModelList,"id","designationtext"))" class="form-control "></select>
                        <input type="hidden" asp-for="designation_id" />
                        <span asp-validation-for="designation_id" class="text-danger"></span>
                    </td>
                    <td>
                        <input type="text" class="form-control" asp-for="gross_salary" placeholder="Gross Salary" />
                        <input type="hidden" asp-for="gross_salary" />
                        <span asp-validation-for="gross_salary" class="text-danger"></span>
                    </td>
                    <td>
                        <input type="text" class="form-control" asp-for="carryhome_salary" placeholder="Carry Home Salary" />
                        <input type="hidden" asp-for="carryhome_salary" />
                        <span asp-validation-for="carryhome_salary" class="text-danger"></span>
                    </td>
                    <td>
                        <input type="text" class="form-control" asp-for="ctc" placeholder="CTC" />
                        <input type="hidden" asp-for="ctc" />
                        <span asp-validation-for="ctc" class="text-danger"></span>
                    </td>
                    <td>
                        <input type="text" class="form-control" asp-for="extra_allowance" placeholder="Extra Allowance" />
                        <input type="hidden" asp-for="extra_allowance" />
                        <span asp-validation-for="extra_allowance" class="text-danger"></span>
                    </td>
                    <td><input type="button" class="btn btn-danger btn-flat btnDelete" value="Delete" /></td>
                </tr>
            </table>
        }
    }
</div>

