﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="SHORTCUT ICON" href="~/images/HRMS.png" />
    <title>@ViewData["Title"] - HRMS</title>
    <environment include="Development">
        <link href="~/css/timepicker.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="~/css/buttons.dataTables.min.css" />
        <link href="~/css/skins/_all-skins.css" rel="stylesheet" />
        <link href="~/css/sites.min.css" rel="stylesheet" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link href="~/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="~/css/sites.min.css" asp-append-version="true" />
        <link href="~/lib/Ionicons/css/ionicons.min.css" rel="stylesheet" />
        <link href="~/css/AdminLTE.min.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/css/skins/skin-blue.min.css" rel="stylesheet" />
    </environment>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>
<body class="hold-transition layout" style="background: #e9ecef;">
    <div>
        <div class="wrapper">
            @RenderBody()
        </div>
    </div>
    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
        <script src="~/datatables/jquery.dataTables.min.js"></script>
        <script src="~/datatables/dataTables.bootstrap.min.js"></script>
        <script src="~/js/adminlte.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>

    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/adminlte.min.js"></script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    <script src="~/Jquery-UI/jquery-ui.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
