﻿@model hrms_core.ViewModel.HeaderModel
@using HtmlHelpers.BeginCollectionItemCore

    @{
        using (Html.BeginCollectionItem("HeaderModelList"))
        {
            <input type="hidden" asp-for="@Model.id" />
            <tr>
                <td>@Model.headername</td>
                <td><input type="checkbox" class="checkbox" asp-for="@Model.is_selected" /></td>
            </tr>
        }
    }
