﻿@model hrms_core.ViewModel.AttendanceDataVm
@using HtmlHelpers.BeginCollectionItemCore
<div>
    @{
        int i = 0;
        using (Html.BeginCollectionItem("AttendanceDataVmList"))
        {


            <tbody>

                <tr>
                    <td class="body-cell col3">
                        <input type="checkbox" class="checkbox" asp-for="@Model.is_selected" />
                    </td>
                    <td class="body-cell col3">
                        <input type="hidden" asp-for="id" />
                        <input type="text" class="form-control" asp-for="associateName" style="width:153px;" readonly />
                        <span asp-validation-for="associateName" class="text-danger"></span>
                    </td>
                    <td class="body-cell col3">
                        <input type="text" class="form-control" asp-for="associate_code" style="width:153px;" readonly />
                        <span asp-validation-for="associate_code" class="text-danger"></span>
                    </td>
                    <td class="body-cell col3">
                        <input type="text" class="form-control" asp-for="attendancedate" style="width:153px;" readonly />
                        <span asp-validation-for="attendancedate" class="text-danger"></span>
                    </td>
                    <td class="body-cell col3">
                        <input type="text" class="form-control" asp-for="logintime" style="width:153px;" readonly />
                        <span asp-validation-for="logintime" class="text-danger"></span>
                    </td>
                    <td class="body-cell col3">
                        <input type="text" class="form-control" asp-for="intime" onclick="timepi(this)" onfocusout="timepi(this)" onfocus="timepi(this)" style="width:153px;" />
                        <span asp-validation-for="intime" class="text-danger"></span>
                    </td>
                    <td class="body-cell col3">
                        <input type="text" class="form-control" asp-for="outtime" onclick="timepi(this)" onfocusout="timepi(this)" onfocus="timepi(this)" style="width:153px;" />
                        <span asp-validation-for="outtime" class="text-danger"></span>
                    </td>
                </tr>
            </tbody>


        }
    }
</div>