﻿<!DOCTYPE html>
<html>
<head>
    @using hrms_core.ViewModel;
    @using Microsoft.AspNetCore.Http;
    @using  hrms_core.EF;
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="SHORTCUT ICON" href="~/images/HRMS.png" />
    <title>@ViewData["Title"] - HRMS</title>
    <link href="~/bundle/sites.css" rel="stylesheet" />
    @*<script src="~/dist/dist/js/demo.js"></script>*@



    @*<environment include="Development">
            <link href="~/css/timepicker.min.css" rel="stylesheet" />
            <link rel="stylesheet" href="~/css/buttons.dataTables.min.css" />
            <link href="~/css/skins/_all-skins.css" rel="stylesheet" />
            <link href="~/css/sites.min.css" rel="stylesheet" />
        </environment>
        <environment exclude="Development">
            <link rel="stylesheet" href="~/css/bootstrap.min.css"
                  asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
                  asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
            <link href="~/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
            <link rel="stylesheet" href="~/css/sites.min.css" asp-append-version="true" />
            <link href="~/lib/Ionicons/css/ionicons.min.css" rel="stylesheet" />
            <link href="~/css/AdminLTE.min.css" rel="stylesheet" asp-append-version="true" />
            <link href="~/css/skins/skin-blue.min.css" rel="stylesheet" />
        </environment>*@

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>
<body class="hold-transition skin-blue sidebar-mini">
    @{
        SessionModel sessionModel = Context.Session.GetObjectFromJson<SessionModel>(SessionVariables.SessionData);
        var Date = String.Empty;
        var MonthName = String.Empty;
        var Year = DateTime.Now.Year;
        var Role_Id = 0;
        var associate_id = 0;
        var associate_code = String.Empty;
        var associate_name = String.Empty;
        var role_name = String.Empty;
        var department_text = string.Empty;
        var ProfileImage = string.Empty;

        if (sessionModel != null)
        {
            Date = sessionModel.associate_since.ToString("dd");
            MonthName = sessionModel.associate_since.ToString("MMMM");
            Year = sessionModel.associate_since.Year;
            Role_Id = sessionModel.role_id;
            associate_id = sessionModel.associate_id;
            associate_code = sessionModel.associate_code;
            associate_name = sessionModel.associate_name;
            role_name = sessionModel.role_name;
            department_text = sessionModel.department_text;
            ProfileImage = sessionModel.ProfilePic;
        }
        else
        {
            Context.Response.Redirect(Url.Action("Login", "Account"));
        }
    }
    <div class="wrapper">
        <header class="main-header">
            <a href="#" class="logo">
                <span class="logo-mini"><b>H</b>RM</span>
                <span class="logo-lg"><b>HR</b>MS</span>
            </a>
            <nav class="navbar navbar-static-top" role="navigation">
                <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <li class="dropdown user user-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                @{
                                    if (ProfileImage != null)
                                    {
                                        <img src="~/ProfilePic/@ProfileImage" class="user-image" alt="User Image">
                                    }
                                    else
                                    {
                                        <img src="~/images/user3.png" class="user-image" alt="User Image">
                                    }
                                }
                                <span class="hidden-xs">@associate_code</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="user-header">
                                    @{
                                        if (ProfileImage != null)
                                        {
                                            <img src="~/ProfilePic/@ProfileImage" class="img-circle" alt="User Image">
                                        }
                                        else
                                        {
                                            <img src="~/images/user3.png" class="img-circle" alt="User Image">
                                        }
                                    }
                                    <p>
                                        @associate_name - @role_name
                                        <small>Member since : @Date, @MonthName - @Year</small>
                                        <strong>@department_text</strong>
                                    </p>
                                </li>
                                <li class="user-footer">
                                    <div class="row">
                                        <div class="col-xs-2 text-center">
                                        </div>
                                        <div class="col-xs-8 text-center">
                                            <a asp-controller="Account" asp-action="ChangePass" style="background-color: #f39c12; " class="btn btn-warning btn-flat">Change Password</a>
                                        </div>
                                        <div class="col-xs-2 text-center">
                                        </div>
                                    </div>
                                </li>
                                <li class="user-footer">
                                    <div class="pull-left">
                                        <a asp-controller="ProfilePage" asp-action="Profile" asp-route-id="@associate_id" style="background-color:  #205081;" class="btn btn-bitbucket btn-flat">Profile</a>
                                    </div>
                                    <div class="pull-right">
                                        <a asp-controller="Account" asp-action="Login" style="background-color:  #dd4b39;" class="btn btn-danger btn-flat">Sign out</a>
                                    </div>
                                </li>
                            </ul>

                        <li>
                            <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>

        <aside class="main-sidebar">
            <section class="sidebar">
                <div class="user-panel">
                    <div class="pull-left image">
                        @{
                            if (ProfileImage != null)
                            {
                                <img src="~/ProfilePic/@ProfileImage" class="img-circle" alt="User Image">
                            }
                            else
                            {
                                <img src="~/images/user3.png" class="img-circle" alt="User Image">
                            }
                        }
                    </div>
                    <div class="pull-left info">
                        <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
                        <p>@associate_name</p>
                    </div>
                </div>
                <ul class="sidebar-menu" data-widget="tree">
                    <li class="header">HEADER</li>

                    @{
                        if (sessionModel != null)
                        {
                            List<String> ModuleName = sessionModel.PageMenuModelList.Select(x => x.ModuleName).Distinct().ToList();
                            int i = 0;
                            foreach (var item in ModuleName)
                            {
                                <li class="treeview">
                                    <a href="#">
                                        <i class="fa fa-link"></i> <span>@item</span>
                                        <span class="pull-right-container">
                                            <i class="fa fa-angle-left pull-right"></i>
                                        </span>
                                    </a>
                                    @{
                                        var Child = sessionModel.PageMenuModelList.Where(x => x.ModuleName == item).OrderBy(c => c.MenuName).ToList();
                                        if (Child.Count > 0)
                                        {
                                            <ul class="treeview-menu">
                                                @{ foreach (var Childitem in Child)
                                                    {
                                                        @*<li><a asp-action="@Childitem.ActionName" asp-controller="@Childitem.ControllerName">@Childitem.MenuName</a></li>*@
                                                        <li><a href=@Url.Action(@Childitem.ActionName,@Childitem.ControllerName) ;>@Childitem.MenuName</a></li>
                                                    }
                                                }
                                            </ul>
                                        }
                                    }
                                </li>
                            }
                        }
                    }
                </ul>
            </section>
        </aside>
        <div class="content-wrapper">
            @RenderBody()
            <div class="clearfix"></div>
        </div>
        <footer class="main-footer">
            <div class="pull-right hidden-xs">
                @*Anything you want*@
            </div>
            <strong>Copyright &copy; @DateTime.Now.Year <a href="https://avissol.com/">Avis e-solutions Pvt Ltd</a>.</strong> All rights reserved.
        </footer>
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Create the tabs -->
            <ul class="nav nav-tabs nav-justified control-sidebar-tabs"></ul>
            <!-- Tab panes -->
            <div class="tab-content">
                <!-- Home tab content -->
                <div id="control-sidebar-theme-demo-options-tab" class="tab-pane active">
                    <div>
                        <h4 class="control-sidebar-heading">Skins</h4>
                        <ul class="list-unstyled clearfix">
                            <li style="float:left; width: 50%; padding: 5px;">
                                <a href="javascript:void(0)" data-skin="skin-blue" style="display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4)" class="clearfix full-opacity-hover">
                                    <div>
                                        <span style="display:block; width: 20%; float: left; height: 7px; background: #367fa9"></span>
                                        <span class="bg-light-blue" style="display:block; width: 80%; float: left; height: 7px;"></span>
                                    </div>
                                    <div>
                                        <span style="display:block; width: 20%; float: left; height: 30px; background: #222d32"></span>
                                        <span style="display:block; width: 80%; float: left; height: 30px; background: #f4f5f7"></span>
                                    </div>
                                </a><p class="text-center no-margin">Blue</p>
                            </li>
                            <li style="float:left; width: 50%; padding: 5px;">
                                <a href="javascript:void(0)" data-skin="skin-black" style="display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4)" class="clearfix full-opacity-hover">
                                    <div style="box-shadow: 0 0 2px rgba(0,0,0,0.1)" class="clearfix">
                                        <span style="display:block; width: 20%; float: left; height: 7px; background: #fefefe"></span>
                                        <span style="display:block; width: 80%; float: left; height: 7px; background: #fefefe"></span>
                                    </div><div>
                                        <span style="display:block; width: 20%; float: left; height: 30px; background: #222"></span>
                                        <span style="display:block; width: 80%; float: left; height: 30px; background: #f4f5f7"></span>
                                    </div>
                                </a><p class="text-center no-margin">Black</p>
                            </li>
                            <li style="float:left; width: 50%; padding: 5px;">
                                <a href="javascript:void(0)" data-skin="skin-purple" style="display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4)" class="clearfix full-opacity-hover">
                                    <div><span style="display:block; width: 20%; float: left; height: 7px;" class="bg-purple-active"></span><span class="bg-purple" style="display:block; width: 80%; float: left; height: 7px;"></span></div><div><span style="display:block; width: 20%; float: left; height: 30px; background: #222d32"></span><span style="display:block; width: 80%; float: left; height: 30px; background: #f4f5f7"></span></div>
                                </a><p class="text-center no-margin">Purple</p>
                            </li>
                            <li style="float:left; width: 50%; padding: 5px;">
                                <a href="javascript:void(0)" data-skin="skin-green" style="display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4)" class="clearfix full-opacity-hover">
                                    <div><span style="display:block; width: 20%; float: left; height: 7px;" class="bg-green-active"></span><span class="bg-green" style="display:block; width: 80%; float: left; height: 7px;"></span></div><div><span style="display:block; width: 20%; float: left; height: 30px; background: #222d32"></span><span style="display:block; width: 80%; float: left; height: 30px; background: #f4f5f7"></span></div>
                                </a><p class="text-center no-margin">Green</p>
                            </li>
                            <li style="float:left; width: 50%; padding: 5px;">
                                <a href="javascript:void(0)" data-skin="skin-red" style="display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4)" class="clearfix full-opacity-hover"><div><span style="display:block; width: 20%; float: left; height: 7px;" class="bg-red-active"></span><span class="bg-red" style="display:block; width: 80%; float: left; height: 7px;"></span></div><div><span style="display:block; width: 20%; float: left; height: 30px; background: #222d32"></span><span style="display:block; width: 80%; float: left; height: 30px; background: #f4f5f7"></span></div></a><p class="text-center no-margin">Red</p>
                            </li>
                            <li style="float:left; width: 50%; padding: 5px;">
                                <a href="javascript:void(0)" data-skin="skin-yellow" style="display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4)" class="clearfix full-opacity-hover"><div><span style="display:block; width: 20%; float: left; height: 7px;" class="bg-yellow-active"></span><span class="bg-yellow" style="display:block; width: 80%; float: left; height: 7px;"></span></div><div><span style="display:block; width: 20%; float: left; height: 30px; background: #222d32"></span><span style="display:block; width: 80%; float: left; height: 30px; background: #f4f5f7"></span></div></a><p class="text-center no-margin">Yellow</p>
                            </li>
                            <li style="float:left; width: 50%; padding: 5px;">
                                <a href="javascript:void(0)" data-skin="skin-blue-light" style="display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4)" class="clearfix full-opacity-hover"><div><span style="display:block; width: 20%; float: left; height: 7px; background: #367fa9"></span><span class="bg-light-blue" style="display:block; width: 80%; float: left; height: 7px;"></span></div><div><span style="display:block; width: 20%; float: left; height: 30px; background: #f9fafc"></span><span style="display:block; width: 80%; float: left; height: 30px; background: #f4f5f7"></span></div></a><p class="text-center no-margin" style="font-size: 12px">Blue Light</p>
                            </li>
                            <li style="float:left; width: 50%; padding: 5px;">
                                <a href="javascript:void(0)" data-skin="skin-black-light" style="display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4)" class="clearfix full-opacity-hover"><div style="box-shadow: 0 0 2px rgba(0,0,0,0.1)" class="clearfix"><span style="display:block; width: 20%; float: left; height: 7px; background: #fefefe"></span><span style="display:block; width: 80%; float: left; height: 7px; background: #fefefe"></span></div><div><span style="display:block; width: 20%; float: left; height: 30px; background: #f9fafc"></span><span style="display:block; width: 80%; float: left; height: 30px; background: #f4f5f7"></span></div></a><p class="text-center no-margin" style="font-size: 12px">Black Light</p>
                            </li>
                            <li style="float:left; width: 50%; padding: 5px;">
                                <a href="javascript:void(0)" data-skin="skin-purple-light" style="display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4)" class="clearfix full-opacity-hover"><div><span style="display:block; width: 20%; float: left; height: 7px;" class="bg-purple-active"></span><span class="bg-purple" style="display:block; width: 80%; float: left; height: 7px;"></span></div><div><span style="display:block; width: 20%; float: left; height: 30px; background: #f9fafc"></span><span style="display:block; width: 80%; float: left; height: 30px; background: #f4f5f7"></span></div></a><p class="text-center no-margin" style="font-size: 12px">Purple Light</p>
                            </li>
                            <li style="float:left; width: 50%; padding: 5px;">
                                <a href="javascript:void(0)" data-skin="skin-green-light" style="display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4)" class="clearfix full-opacity-hover"><div><span style="display:block; width: 20%; float: left; height: 7px;" class="bg-green-active"></span><span class="bg-green" style="display:block; width: 80%; float: left; height: 7px;"></span></div><div><span style="display:block; width: 20%; float: left; height: 30px; background: #f9fafc"></span><span style="display:block; width: 80%; float: left; height: 30px; background: #f4f5f7"></span></div></a><p class="text-center no-margin" style="font-size: 12px">Green Light</p>
                            </li>
                            <li style="float:left; width: 50%; padding: 5px;">
                                <a href="javascript:void(0)" data-skin="skin-red-light" style="display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4)" class="clearfix full-opacity-hover"><div><span style="display:block; width: 20%; float: left; height: 7px;" class="bg-red-active"></span><span class="bg-red" style="display:block; width: 80%; float: left; height: 7px;"></span></div><div><span style="display:block; width: 20%; float: left; height: 30px; background: #f9fafc"></span><span style="display:block; width: 80%; float: left; height: 30px; background: #f4f5f7"></span></div></a><p class="text-center no-margin" style="font-size: 12px">Red Light</p>
                            </li>
                            <li style="float:left; width: 50%; padding: 5px;">
                                <a href="javascript:void(0)" data-skin="skin-yellow-light" style="display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4)" class="clearfix full-opacity-hover"><div><span style="display:block; width: 20%; float: left; height: 7px;" class="bg-yellow-active"></span><span class="bg-yellow" style="display:block; width: 80%; float: left; height: 7px;"></span></div><div><span style="display:block; width: 20%; float: left; height: 30px; background: #f9fafc"></span><span style="display:block; width: 80%; float: left; height: 30px; background: #f4f5f7"></span></div></a><p class="text-center no-margin" style="font-size: 12px">Yellow Light</p>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- /.tab-pane -->
                <!-- Settings tab content -->
                <div class="tab-pane" id="control-sidebar-settings-tab">
                    <form method="post">
                        <h3 class="control-sidebar-heading">General Settings</h3>

                        <div class="form-group">
                            <label class="control-sidebar-subheading">
                                Report panel usage
                                <input type="checkbox" class="pull-right" checked="">
                            </label>

                            <p>
                                Some information about this general settings option
                            </p>
                        </div>
                        <!-- /.form-group -->

                        <div class="form-group">
                            <label class="control-sidebar-subheading">
                                Allow mail redirect
                                <input type="checkbox" class="pull-right" checked="">
                            </label>

                            <p>
                                Other sets of options are available
                            </p>
                        </div>
                        <!-- /.form-group -->

                        <div class="form-group">
                            <label class="control-sidebar-subheading">
                                Expose author name in posts
                                <input type="checkbox" class="pull-right" checked="">
                            </label>

                            <p>
                                Allow the user to show his name in blog posts
                            </p>
                        </div>
                        <!-- /.form-group -->

                        <h3 class="control-sidebar-heading">Chat Settings</h3>

                        <div class="form-group">
                            <label class="control-sidebar-subheading">
                                Show me as online
                                <input type="checkbox" class="pull-right" checked="">
                            </label>
                        </div>
                        <!-- /.form-group -->

                        <div class="form-group">
                            <label class="control-sidebar-subheading">
                                Turn off notifications
                                <input type="checkbox" class="pull-right">
                            </label>
                        </div>
                        <!-- /.form-group -->

                        <div class="form-group">
                            <label class="control-sidebar-subheading">
                                Delete chat history
                                <a href="javascript:void(0)" class="text-red pull-right"><i class="fa fa-trash-o"></i></a>
                            </label>
                        </div>
                        <!-- /.form-group -->
                    </form>
                </div>
                <!-- /.tab-pane -->
            </div>
        </aside>
    </div>
    <script src="~/bundle/bundle.js"></script>

    @*<environment include="Development">
            <script src="~/app/bundle.js" asp-append-version="true"></script>
            <script src="~/js/timepicker.min.js"></script>
            <script src="~/datatables/dataTables.bootstrap.min.js"></script>
            <script src="~/datatables/jquery.dataTables.min.js"></script>
        </environment>

        <environment exclude="Development">
            <script src="~/js/jquery-2.2.0.min.js" asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                    asp-fallback-test="window.jQuery"
                    crossorigin="anonymous"
                    integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk"></script>

            <script src="~/js/bootstrap.min.js"
                    asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                    asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                    crossorigin="anonymous"
                    integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
            </script>

        </environment>*@
    @*<script src="~/js/demo.js"></script>
        <script src="~/js/app.js"></script>*@
    @RenderSection("Scripts", required: false)
</body>
</html>