﻿@model hrms_core.ViewModel.PageMenuModel
@using HtmlHelpers.BeginCollectionItemCore

@{
    using (Html.BeginCollectionItem("PageMenuList"))
    {
        <input type="hidden" asp-for="@Model.id" />
        <tr>
            <td>@Model.menu_name</td>
            <td><input type="checkbox" class="checkbox" asp-for="@Model.is_selected" /></td>
        </tr>
    }
}
