﻿@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@model hrms_core.ViewModel.AssociateQualificationModel
@using HtmlHelpers.BeginCollectionItemCore
<div>
    @{
        using (Html.BeginCollectionItem("AssociateQualificationModelList"))
        {
            <table class="table table-bordered table-striped">
                <tr>
                    <td>
                        <input type="hidden" asp-for="@Model.id" />
                        <select id="ddlDesignation" asp-for="qualification_id" asp-items="@(new SelectList(Model.QualificationModelList,"id","qualificationtext"))" class="form-control "></select>
                        <input type="hidden" asp-for="qualification_id" />
                        <span asp-validation-for="qualification_id" class="text-danger"></span>
                    </td>
                    <td>
                        <input type="text" class="form-control" asp-for="qualification_year" placeholder="YYYY" />
                        <input type="hidden" asp-for="qualification_year" />
                        <span asp-validation-for="qualification_year" class="text-danger"></span>
                    </td>
                    <td>
                        <input type="text" class="form-control" asp-for="institute_name" placeholder="Enter Institute" />
                        <input type="hidden" asp-for="institute_name" />
                        <span asp-validation-for="institute_name" class="text-danger"></span>
                    </td>
                    <td>
                        <input type="text" class="form-control" asp-for="percentage" placeholder="Enter Percentage" />
                        <input type="hidden" asp-for="percentage" />
                        <span asp-validation-for="percentage" class="text-danger"></span>
                    </td>
                    <td><input type="button" class="btn btn-danger btn-flat btnDelete" value="Delete" /></td>
                </tr>
            </table>
        }
    }
</div>

