﻿@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@model hrms_core.ViewModel.AssociateAdditionalInfoModel
@using HtmlHelpers.BeginCollectionItemCore
<div>
    @{
        using (Html.BeginCollectionItem("AssociateAdditionalInfoModelList"))
        {
            <table class="table table-bordered table-striped">
                <tr>
                    <td>
                        <input type="hidden" asp-for="@Model.id" />
                        <select id="ddlDesignation" asp-for="reporting_person_id" asp-items="@(new SelectList(Model.AssociateMasterModelList,"id","associate_name"))" class="form-control "></select>
                        <input type="hidden" asp-for="reporting_person_id" />
                    </td>
                    <td><input type="button" class="btn btn-danger btn-flat btnDelete" value="Delete" /></td>
                </tr>
            </table>
        }
    }
</div>

