﻿@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@model hrms_core.ViewModel.AssociateSkillModel
@using HtmlHelpers.BeginCollectionItemCore
<div>
    @{
        using (Html.BeginCollectionItem("AssociateSkillModelList"))
        {
            <table class="table table-bordered table-striped">
                <tr>
                    <td>
                        <input type="hidden" asp-for="@Model.id" />
                        <input type="text" class="form-control" asp-for="skillcode" placeholder="Skill Code" />
                        <input type="hidden" asp-for="skillcode" />
                    </td>
                    <td>
                        <input type="text" class="form-control" asp-for="skill_description" placeholder="Skill Description" />
                        <input type="hidden" asp-for="skill_description" />
                    </td>
                    <td><input type="text" class="form-control" asp-for="remarks" placeholder="Remarks"/>
                        <input type="hidden" asp-for="remarks" />
                    </td>
                    <td><input type="button" class="btn btn-danger btn-flat btnDelete" value="Delete" /></td>
                </tr>
            </table>
        }
    }
</div>

