﻿@model hrms_core.ViewModel.AssociateMasterModel
@using HtmlHelpers.BeginCollectionItemCore

    @{
        using (Html.BeginCollectionItem("AssociateList"))
        {
            <input type="hidden" asp-for="@Model.id" />
            <tr>
                <td><input type="checkbox" class="checkbox" asp-for="@Model.is_selected" style="margin-right:5px;" /></td>
                <td>@Model.associate_name</td>
            </tr>
        }
    }