﻿@model hrms_core.ViewModel.AttendanceDataVm;
@{
    ViewData["Title"] = "Attendance";
}
<section class="content-header">
    <div id="MsgDiv">
        @if (TempData["msg"] != null)
        {
            if (Convert.ToString(TempData["msg"]).ToLower().Contains("Wrong") || Convert.ToString(TempData["msg"]).ToLower().Contains("not"))
            {
                <div class='alert alert-danger'>
                    <label>@TempData["msg"]</label><a onclick="$('#MsgDiv').hide(500);" class="anchor pull-right"><i class="fa fa-window-close" aria-hidden="true"></i></a>
                </div>
            }
            else if (Convert.ToString(TempData["msg"]).ToLower().Contains("already") || Convert.ToString(TempData["msg"]).ToLower().Contains("exist"))
            {
                <div class='alert alert-warning'>
                    <label>@TempData["msg"]</label><a onclick="$('#MsgDiv').hide(500);" class="anchor pull-right"><i class="fa fa-window-close" aria-hidden="true"></i></a>
                </div>
            }
            else
            {
                <div class='alert alert-success'>
                    <label>@TempData["msg"]</label><a onclick="$('#MsgDiv').hide(500);" class="anchor pull-right"><i class="fa fa-window-close" aria-hidden="true"></i></a>
                </div>
            }

        }
    </div>
    <h1>Attendance Report</h1>
</section>
<section class="content">

    <form asp-controller="Attendance" asp-action="index" method="post">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <span><b>@ViewData["Title"]</b></span>
                </div>
                <div class="box-body">
                    <div class="col-md-12">
                        @*<div class="form-group col-lg-3">
                                <label><span style="color: #ff0000;">*</span>Choose Associate Name: </label>
                                <select asp-for="associate_id" asp-items="@(new SelectList(Model.associateMasters, "id", "associate_name"))" class="form-control" name="associate_code"></select>
                            </div>*@
                        <div class="form-group col-lg-3">
                            <label><span style="color: #ff0000;">*</span>From Date: </label>
                            <input type="date" asp-for="FromDate" placeholder="dd/mm/yyyy" name="FromDate" class="form-control" asp-format="{0:dd/MM/yyyy}" required />
                            <span asp-validation-for="FromDate" class="text-danger"></span>
                        </div>
                        <div class="form-group col-lg-3">
                            <label><span style="color: #ff0000;">*</span>TO Date: </label>
                            <input type="date" asp-for="ToDate" placeholder="dd/mm/yyyy" name="TODate" class="form-control" asp-format="{0:dd/MM/yyyy}" required />
                            <span asp-validation-for="ToDate" class="text-danger"></span>
                        </div>
                        <div class="form-group col-lg-3">
                            <input type="submit" class="btn btn-success btn-flat" id="btnSubmit" style="margin-top: 23px" name="CommandName" value="Submit" />


                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <span><b>LoginTime Logs</b></span>
                    <div class="pull-right" id="btnDownload"></div>
                </div>
                <div class="box-body">
                    <div style="overflow-x:auto;">
                        <table id="tblData">
                            <thead>
                                <tr>
                                    @if (Model.Dates.Count > 0)
                                    {
                                        <th>Employee Code</th>
                                        <th>Employee Name</th>
                                        @foreach (var flag in Model.Dates)
                                        {
                                            <th>@flag.Date.ToString("dd-MM-yy") <br /><span>(HH:MM:SS)</span></th>
                                        }
                                    }

                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var userList in Model.ListUserName)
                                {
                                    @if (userList.id == 0)
                                    {
                                        continue;

                                    }
                                    @if (userList.id >= 1)
                                    {
                                        <tr>
                                            <td>@userList.associate_code</td>
                                            <td>@userList.associate_name</td>
                                            @foreach (var flag in Model.Dates)
                                            {
                                                Attendancedata data = userList.attendanceData.FirstOrDefault(x => x.attendancedate == flag);
                                                if (data != null)
                                                {
                                                    if (data.logintime.CompareTo("09:00:00") >= 0)
                                                    {

                                                        <td class='alert alert-success' title="Intime : @data.intime & OutTime : @data.outtime" style="padding: 8px 8px 8px 8px;">@data.logintime</td>

                                                    }
                                                    else if (data.logintime.CompareTo("00:00:00") == 0)
                                                    {

                                                        <td class='alert alert-danger' title="Intime : @data.intime & OutTime : @data.outtime">@data.logintime</td>

                                                    }
                                                    else
                                                    {
                                                        <td class='alert alert-warning' title="Intime : @data.intime & OutTime : @data.outtime">@data.logintime</td>
                                                    }

                                                }
                                            }
                                            @*@foreach (var logintime in userList.LoginTimes)
                                                {
                                                    if (logintime.CompareTo("09:00:00") >= 0)
                                                    {
                                                        <td class='alert alert-success' style="padding: 8px 8px 8px 8px">@logintime</td>

                                                    }
                                                    else if (logintime.CompareTo("00:00:00") == 0)
                                                    {
                                                        <td class='alert alert-danger'>@logintime</td>

                                                    }
                                                    else
                                                    {
                                                        <td class='alert alert-warning'>@logintime</td>
                                                    }


                                                }*@
                                        </tr>
                                    }
                                }

                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </form>
</section>
@section Scripts{
    <script src="~/datatables/jquery.dataTables.js"></script>
    <script src="~/datatables/dataTables.bootstrap.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.1/js/dataTables.buttons.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.html5.min.js"></script>
    <script>
        $(document).ready(function () {
            setTimeout(function () {
                $("#MsgDiv").fadeOut('fast');
            }, 5000);

            $("#tblData").DataTable({
                dom: 'lBfrtip',
                buttons: [
                    'excel', 'pdf', 'print'
                ]
            });
            var Lead = $("#tblData").DataTable();
            var buttons = new $.fn.dataTable.Buttons(Lead, {
                buttons: [
                    {
                        extend: 'excelHtml5',
                        text: 'Download'
                    }
                ]
            }).container().appendTo($('#btnDownload'));
        });

    </script>
}