﻿ @model hrms_core.ViewModel.HRAttendanceDataVM;
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.css">
<section class="content-header">
    <div id="MsgDiv">
        @if (TempData["msg"] != null)
        {
            if (Convert.ToString(TempData["msg"]).ToLower().Contains("Wrong") || Convert.ToString(TempData["msg"]).ToLower().Contains("not"))
            {
                <div class='alert alert-danger'>
                    <label>@TempData["msg"]</label><a onclick="$('#MsgDiv').hide(500);" class="anchor pull-right"><i class="fa fa-window-close" aria-hidden="true"></i></a>
                </div> 
            }
            else if (Convert.ToString(TempData["msg"]).ToLower().Contains("already") || Convert.ToString(TempData["msg"]).ToLower().Contains("exist"))
            {
                <div class='alert alert-warning'>
                    <label>@TempData["msg"]</label><a onclick="$('#MsgDiv').hide(500);" class="anchor pull-right"><i class="fa fa-window-close" aria-hidden="true"></i></a>
                </div>
            }
            else
            {
                <div class='alert alert-success'>
                    <label>@TempData["msg"]</label><a onclick="$('#MsgDiv').hide(500);" class="anchor pull-right"><i class="fa fa-window-close" aria-hidden="true"></i></a>
                </div>
            }

        }
    </div>
    <h1>Attendance Report</h1>
</section>
<section class="content">

    <form asp-controller="EditAttendance" asp-action="index" method="post">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <span><b>@ViewData["Title"]</b></span>
                </div>
                <div class="box-body">
                    <div class="col-md-12">
                        @*<div class="form-group col-lg-3">
                                <label><span style="color: #ff0000;">*</span>Choose Associate Name: </label>
                                <select asp-for="associate_id" asp-items="@(new SelectList(Model.associateMasters, "id", "associate_name"))" class="form-control" name="associate_code"></select>
                            </div>*@
                        <div class="form-group col-lg-3">
                            <label><span style="color: #ff0000;">*</span>Select Date: </label>
                            <input type="date" name="SelectedDate" class="form-control" required />
                        </div>
                        <div class="form-group col-lg-3">
                            <label>Associate Name </label>
                            <select asp-for="associateId" asp-items="@(new SelectList(Model.AssociateVMList, "associate_id", "associate_name"))" style="width:110px;" class="form-control"></select>
                        </div>
                        <div class="form-group col-lg-3">
                            <input type="submit" class="btn btn-success btn-flat" id="btnSubmit" style="margin-top: 23px" name="CommandName" value="Submit" />


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="col-md-12">
        <form asp-controller="EditAttendance" asp-action="changeAttendance" method="post">

            @*<table id="tblData">
                    <thead>
                        <tr>

                            <th>Employee Code</th>
                            <th>Employee Name</th>
                            <th>Attendance Date</th>
                            <th>InTime</th>
                            <th>OutTime</th>

                        </tr>
                    </thead>
                </table>*@

            @{
                if (Model.AttendanceDataVmList != null && Model.AttendanceDataVmList.Count > 0)
                {
                    @*<div class="box box-primary">
                        <div class="box-header with-border">
                            <span><b>LoginTime Logs</b></span>
                            <div class="pull-right" id="btnDownload"></div>
                        </div>
                        <div class="box-body">
                            <div style="overflow-x:auto;">*@
                    <div id="AttendanceReportPartial">
                        <table id="tblData" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>
                                        <input type="checkbox" id="selectAll" unchecked onclick="getAllSelected();" class="checkbox" asp-for="@Model.selectAll" />Select All
                                    </th>
                                    <th>Employee Name</th>
                                    <th>Employee Code</th>
                                    <th>Attendance Date</th>
                                    <th>Login Time</th>
                                    <th>InTime</th>
                                    <th>OutTime</th>

                                </tr>
                            </thead>
                            @foreach (var item in Model.AttendanceDataVmList)
                            {
                                if (item != null)
                                { 
                                        <partial name="_HRAttendanceDetail" model="item" />
                                }


                            }
                        </table>
                    </div>
                    @*</div>
                            </div>
                        </div>*@
                    <div class="form-group col-lg-3">
                        <input type="submit" class="btn btn-success btn-flat" id="btnSubmit" style="margin-top: 23px" value="Save Changes" />
                    </div>

                }
            }
        </form>
    </div>

</section>
@section Scripts{
    <script src="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.js"></script>
    <script src="~/datatables/jquery.dataTables.js"></script>
    <script src="~/datatables/dataTables.bootstrap.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.1/js/dataTables.buttons.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.html5.min.js"></script>
    <script>
        $(document).ready(function () {
            setTimeout(function () {
                $("#MsgDiv").fadeOut('fast');
            }, 5000);

            $("#tblData").DataTable({
                dom: 'lBfrtip',
                buttons: [
                    'excel', 'pdf', 'print'
                ]
            });
            var Lead = $("#tblData").DataTable();
            var buttons = new $.fn.dataTable.Buttons(Lead, {
                buttons: [
                    {
                        extend: 'excelHtml5',
                        text: 'Download'
                    }
                ]
            }).container().appendTo($('#btnDownload'));
        });
        function handleChangeHours(data) {
            //alert("hi");
            var Id = data.id;
            $('#' + Id).timepicker({
                timeFormat: 'hh:mm:ss',
                minTime: '00:00:01',
                maxTime: '24:00:00',
                dropdown: true,
                scrollbar: true
            });
        }
        function timepi(evt) {
            $(evt).inputmask("hh:mm:ss", { "placeholder": "hh/mm/ss" });
        }
        function getAllSelected() {
            //
            var selection = $("#selectAll").prop("checked");
            if (selection) {
                $('[type=checkbox]').attr("checked", "checked");

            }
            else {
                $('[type=checkbox]').removeAttr('checked');

            }
        

        }
    </script>
}
