﻿@model hrms_core.ViewModel.ResignationViewModel
@{
    ViewData["Title"] = "Index";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Resignation
    </h1>
</section>
<style>
    .has-error {
        border-color:red;
    }
</style>
<!-- Main content -->
<section class="content">
    <div id="MsgDiv">
        @if (TempData["msg"] != null)
        {
            if (Convert.ToString(TempData["msg"]).ToLower().Contains("wrong") || Convert.ToString(TempData["msg"]).ToLower().Contains("not"))
            {
                <div class='alert alert-danger'>
                    <label>@TempData["msg"]</label><a onclick="$('#MsgDiv').hide(500);" class="anchor pull-right"><i class="fa fa-window-close" aria-hidden="true"></i></a>
                </div>
            }
            else if (Convert.ToString(TempData["msg"]).ToLower().Contains("already") || Convert.ToString(TempData["msg"]).ToLower().Contains("exist"))
            {
                <div class='alert alert-warning'>
                    <label>@TempData["msg"]</label><a onclick="$('#MsgDiv').hide(500);" class="anchor pull-right"><i class="fa fa-window-close" aria-hidden="true"></i></a>
                </div>
            }
            else
            {
                <div class='alert alert-success'>
                    <label>@TempData["msg"]</label><a onclick="$('#MsgDiv').hide(500);" class="anchor pull-right"><i class="fa fa-window-close" aria-hidden="true"></i></a>
                </div>
            }
        }
    </div>
    <div class="col-md-12">
        <form asp-controller="Resignation" asp-action="Index" method="post">
            @{
                if (Model.ExistResignation)
                {
                    <h2></h2>
                    <div style="text-align:center;color:red;">
                        <h1>Your Resignation Already Submitted..!!</h1>
                    </div>
                }
                else
                {
                    <div class="box box-default">
                        <div class="box-header with-border">
                            <h3 class="box-title">Submit Your Resignation</h3>
                        </div>
                        <div class="box-body">
                            <div id="msgdiv"></div>
                            <input type="hidden" id="HdnId" asp-for="id" />
                            <label><span style="color: #ff0000;">*</span>Resignation Reason</label>
                            <textarea asp-for="resignation_text" class="form-control" cols="20" id="resignation_text"
                                      min="20" maxlength="1500" placeholder="Enter Reason"></textarea>
                            <span asp-validation-for="resignation_text" class="text-danger"></span>
                        </div>
                        <div class="box-footer">
                            <input type="submit" class="btn btn-primary btn-flat" value="Save Changes" id="btnSave" />
                            <a asp-action="Index" asp-controller="Resignation" asp-route-id="" class="btn btn-danger btn-flat">Clear</a>
                        </div>
                        <!-- /.box-body -->
                        <!-- /.box -->
                    </div>
                }
            }
        </form>
    </div>
</section>
<!-- /.content -->

@section scripts{
    <script src="//cdn.ckeditor.com/4.10.1/basic/ckeditor.js"></script>
    <script>
        CKEDITOR.replace('resignation_text');
        CKEDITOR.editorConfig = function (config) {
            config.language = 'es';
            config.uiColor = '#F7B42C';
            config.height = 300;
            config.toolbarCanCollapse = true;
        };

    </script>
    <script>
        $(document).ready(function () {
            $('html,body').animate({ scrollTop: $("html").offset().top }, 800);
            $('input[type="text"]').click(function () {
                $("#MsgDiv").hide(500);
                //$("#MsgDiv").hide(selectedEffect, options, 500);
            });
            $("#btnSave").click(function () {
                
                var resignationText = $("#cke_resignation_text iframe").contents().find("body").text();
                if (resignationText == "") {
                    $("#cke_resignation_text").addClass('has-error');
                    $("#MsgDiv").html('<div class="alert alert-danger" onclick="$(this).hide(500);"><label">Please Enter the Reason..</label><a class="anchor pull-right"></a></div>');
                    //$("#MsgDiv").html("<div class='alert alert-warning'><label>Please Map at least one User with Department</label></div>");
                    $("#MsgDiv").show(500);
                    $('html,body').animate({ scrollTop: $("html").offset().top }, 800);
                    return false;
                }
            });
            CKEDITOR.on('instanceReady', function (evt) {
                
                var editor = evt.editor;
                console.log('The editor named ' + editor.name + ' is now ready');

                editor.on('focus', function (e) {
                    console.log('The editor named ' + e.editor.name + ' is now focused');
                    $('#cke_resignation_text').removeClass('has-error');
                    $("#MsgDiv").hide(700);
                });
            });
        });
    </script>

}