﻿@model hrms_core.ViewModel.ResignationViewModel
@{
    ViewData["Title"] = "ResignationBucket";
    Layout = "~/Views/Shared/_ExternalLayout.cshtml";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Resignation Bucket
    </h1>
</section>
<style>
    .has-error {
        border-color: red;
    }
</style>
<!-- Main content -->
<section class="content">
    <div id="MsgDiv">
        @if (TempData["msg"] != null)
        {
            if (Convert.ToString(TempData["msg"]).ToLower().Contains("wrong") || Convert.ToString(TempData["msg"]).ToLower().Contains("not"))
            {
                <div class='alert alert-danger'>
                    <label>@TempData["msg"]</label><a onclick="$('#MsgDiv').hide(500);" class="anchor pull-right"><i class="fa fa-window-close" aria-hidden="true"></i></a>
                </div>
            }
            else if (Convert.ToString(TempData["msg"]).ToLower().Contains("already") || Convert.ToString(TempData["msg"]).ToLower().Contains("exist"))
            {
                <div class='alert alert-warning'>
                    <label>@TempData["msg"]</label><a onclick="$('#MsgDiv').hide(500);" class="anchor pull-right"><i class="fa fa-window-close" aria-hidden="true"></i></a>
                </div>
            }
            else
            {
                <div class='alert alert-success'>
                    <label>@TempData["msg"]</label><a onclick="$('#MsgDiv').hide(500);" class="anchor pull-right"><i class="fa fa-window-close" aria-hidden="true"></i></a>
                </div>
            }
        }
    </div>
    <div class="col-md-12">
        <form asp-controller="Resignation" asp-action="Index" method="post">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Resignation Details</h3>
                </div>
                <div class="box-body">
                    <table id="tblResignation" class="table table-striped">
                        <thead>
                            <tr>
                                <th>SNO.</th>
                                <th>Associate Name</th>
                                <th>Department</th>
                                <th>Joining Date</th>
                                <th>Resign Date</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                int i = 1;
                                foreach (var item in Model.ResignationList)
                                {
                                    <tr>
                                        <td>@i</td>
                                        <td>@item.username</td>
                                        <td>@item.department_name</td>
                                        <td>@item.DOJ.ToString("dd MMM, yyyy")</td>
                                        <td>@item.createdon.ToString("dd MMM, yyyy")</td>
                                        <td><a href="#" data-toggle="modal" data-target="#exampleModal" data-keyboard="false" data-backdrop="static" data-dismiss="modal" data-id='@item.id'><i title="View" class="fa fa-eye cursordiv"></i></a></td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" data-keyboard="false" aria-labelledby="exampleModalLabel">
                <div class="modal-dialog" role="document" style="width: 70%;">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" id="btncloseviewmodel" class="close" onclick="$('#exampleModal').modal('toggle');" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="exampleModalLabel">Detail View</h4>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div id="divResignationReason">

                                    </div>
                                    <hr />
                                    <label>Comment</label>
                                    <div class="">
                                        <textarea id="txtResignation" onfocus="RemoveValidation(this);" class="form-control"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" name="CommandName" class="btn btn-success btn-flat" id="btnApproved">Approved</button>
                            <button type="submit" name="CommandName" class="btn btn-danger btn-flat" id="btnReject">Reject</button>
                            <button type="button" class="btn btn-primary btn-flat" onclick="$('#exampleModal').modal('toggle');" id="btnClose">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>
<!-- /.content -->

@section scripts{
    <script>
        $(document).ready(function () {
            $("#tblResignation").DataTable();
            $("#btnApproved").click(function () {
                var Resignation = $("#txtResignation").val();
                if (Resignation == "") {
                    $("#txtResignation").addClass('has-error');
                    return false;
                }
            });
            $("#btnReject").click(function () {
                var Resignation = $("#txtResignation").val();
                if (Resignation == "") {
                    $("#txtResignation").addClass('has-error');
                    return false;
                }
            });
        });
        //Open Model Popup with Associate Detail
        $('#exampleModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget) // Button that triggered the modal
            
            var resignation_id = button.data('id'); // Extract info from data-* attributes
            var modal = $(this);
            $.ajax({
                        type: 'GET',
                        url: '@Url.Action("GetResignationById", "Resignation")',
                data: { ResignationId: resignation_id },
                        success: function (data) {
                            console.log(data);
                            $.each(data, function (key, value) {
                                $("#divResignationReason").html(value.resignation_text);
                            });
                        }
                    });
            //alert(emp_dashboard_id);
            //GetEmployeeAward(emp_dashboard_id);

        });
        //Close Model Popup and refresh Page
        $("#exampleModal").on("hidden.bs.modal", function (e) {
            location.reload();
        });
        function RemoveValidation(obj) {
            var id = obj.id;
            $("#" + id).removeClass('has-error');
        }
    </script>

}