﻿@model hrms_core.ViewModel.DesignationModel
@{
    ViewData["Title"] = "DesignationMaster";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Designation Master
    </h1>
</section>

<!-- Main content -->
<section class="content">
    <div id="MsgDiv">
        @if (TempData["msg"] != null)
        {
            if (Convert.ToString(TempData["msg"]).ToLower().Contains("wrong") || Convert.ToString(TempData["msg"]).ToLower().Contains("not"))
            {
                <div class='alert alert-danger'>
                    <label>@TempData["msg"]</label><a onclick="$('#MsgDiv').hide(500);" class="anchor pull-right"><i class="fa fa-window-close" aria-hidden="true"></i></a>
                </div>
            }
            else if (Convert.ToString(TempData["msg"]).ToLower().Contains("already") || Convert.ToString(TempData["msg"]).ToLower().Contains("exist"))
            {
                <div class='alert alert-warning'>
                    <label>@TempData["msg"]</label><a onclick="$('#MsgDiv').hide(500);" class="anchor pull-right"><i class="fa fa-window-close" aria-hidden="true"></i></a>
                </div>
            }
            else
            {
                <div class='alert alert-success'>
                    <label>@TempData["msg"]</label><a onclick="$('#MsgDiv').hide(500);" class="anchor pull-right"><i class="fa fa-window-close" aria-hidden="true"></i></a>
                </div>
            }
        }
    </div>
    <div class="col-md-12">
        <div class="col-md-6">
            <form asp-controller="Designation" asp-action="Index" method="post">
                <div class="box box-default">
                    <div class="box-header with-border">
                        <h3 class="box-title">Add Designation</h3>
                    </div>
                    <div class="box-body">
                        <div id="msgdiv"></div>
                        <div class="form-group col-md-6">
                            <input type="hidden" id="HdnId" asp-for="id" />
                            <label><span style="color: #ff0000;">*</span> Designation Name</label>
                            <input asp-for="designationtext" type="text" class="form-control CharcaterTextBox" id="designation_name"
                                   maxlength="50" placeholder="Enter Designation">
                            <span asp-validation-for="designationtext" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-6">
                            <label>Description</label>
                            <input type="text" asp-for="designationdesc" class="form-control CharcaterTextBox" id="designation_desc"
                                   maxlength="100" placeholder="Enter Designation Discription">
                            <span asp-validation-for="designationdesc" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="box-footer">
                        <input type="submit" class="btn btn-primary btn-flat" value="Save Changes" id="btnSave" />
                        <a asp-action="Index" asp-controller="Designation" asp-route-id="" class="btn btn-danger btn-flat">Clear</a>
                    </div>
                    <!-- /.box-body -->
                    <!-- /.box -->
                </div>
            </form>
        </div>
        <div class="col-md-6">
            <div class="box box-default">
                <div class="box-header with-border">
                    <h3 class="box-title">Designation List</h3>
                </div>
                <div class="box-body">
                    <div class="callout callout-info nofoundlbl" style="display:none;"></div>
                    <div class="" style="max-height: 400px;min-height: 153px;overflow-y: auto;">
                        <table id="tblDesignation" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>SNo</th>
                                    <th>Designation Name</th>
                                    <th>Description</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    int i = 1;
                                    foreach (var item in Model.DesignationModelList)
                                    {
                                        <tr>
                                            <td>@i</td>
                                            <td>@item.designationtext</td>
                                            <td>@item.designationdesc</td>
                                            <td>
                                                <a title="Edit" href="@Url.Action("Index","Designation",new { id=item.id})"><i class="fa fa-edit"></i></a> |
                                                @{
                                                    if (item.isactive.HasValue == true && item.isactive.Value == true)
                                                    {
                                                        <a class="anchor" onclick="DisableData(@item.id)" title="Click to Disable"><img src="~/images/green.ico" alt="Enable" height="18" width="18" /></a>
                                                    }
                                                    else
                                                    {
                                                        <a class="anchor" onclick="EnableData(@item.id)" title="Click to Enable"><img src="~/images/red.ico" alt="Disable" height="18" width="18" /></a>
                                                    }
                                                }
                                            </td>
                                        </tr>
                                        i = i + 1;
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                    </div>
                </div>
        </div>
    </div>
</section>
<!-- /.content -->

@section scripts{

    <script>
        $(document).ready(function () {
            $("#tblDesignation").DataTable({
                dom: 'lBfrtip',
                buttons: [
                    'excel', 'pdf', 'print'
                ]
            });
            $('html,body').animate({ scrollTop: $("html").offset().top }, 800);
            $('input[type="text"]').click(function () {
                $("#MsgDiv").hide(500);
                //$("#MsgDiv").hide(selectedEffect, options, 500);
            });
        });
        function DisableData(id) {
            var r = confirm("Are you sure to Disable this Designation?");
            if (r == true) {
                    $.ajax({
                        type: 'POST',
                        url: '@Url.Action("DisableDesignation", "Designation")',
                        data: { id: id },
                        success: function (data) {
                            console.log(data);

                            if (data) {
                                window.location.href = '@Url.Action("Index","Designation",new {id= 0})';
                            }
                        }
                    });
            }
        }
        function EnableData(id) {
            var r = confirm("Are you sure to Enable this Designation?");
            if (r == true) {
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("EnableDesignation", "Designation")',
                    data: { id: id },
                    success: function (data) {
                        console.log(data);
                        if (data) {
                            window.location.href = '@Url.Action("Index","Designation",new {id= 0})';
                        }
                    }
                });
            }
        }
    </script>

}