﻿@model hrms_core.ViewModel.ProjectMasterModel
@{
    ViewData["Title"] = "ProjectCreation";
}
<section class="content-header">
    <h1>
        Project Master
    </h1>
</section>
<section class="content">
    <div id="MsgDiv">
        @if (TempData["msg"] != null)
        {
            if (Convert.ToString(TempData["msg"]).ToLower().Contains("wrong") || Convert.ToString(TempData["msg"]).ToLower().Contains("not"))
            {
                <div class='alert alert-danger'>
                    <label>@TempData["msg"]</label><a onclick="$('#MsgDiv').hide(500);" class="anchor pull-right"><i class="fa fa-window-close" aria-hidden="true"></i></a>
                </div>
            }
            else if (Convert.ToString(TempData["msg"]).ToLower().Contains("already") || Convert.ToString(TempData["msg"]).ToLower().Contains("exist"))
            {
                <div class='alert alert-warning'>
                    <label>@TempData["msg"]</label><a onclick="$('#MsgDiv').hide(500);" class="anchor pull-right"><i class="fa fa-window-close" aria-hidden="true"></i></a>
                </div>
            }
            else
            {
                <div class='alert alert-success'>
                    <label>@TempData["msg"]</label><a onclick="$('#MsgDiv').hide(500);" class="anchor pull-right"><i class="fa fa-window-close" aria-hidden="true"></i></a>
                </div>
            }
        }
    </div>

    <div class="col-md-12">
        <div class="col-md-4">
            <form asp-controller="Project" asp-action="Index" method="post">
                <div class="box box-default">
                    <div class="box-header with-border">
                        <h3 class="box-title">Project Creation</h3>
                    </div>
                    <div class="box-body">
                        <div class="form-group col-md-12">
                            <label><span style="color: #ff0000;">*</span> Project Name</label>
                            <input type="text" class="form-control" id="project_name" maxlength="50" placeholder="Enter Project Name" asp-for="projecttext" />
                            <input type="hidden" asp-for="id" />
                            <span asp-validation-for="projecttext" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-12">
                            <label><span style="color: #ff0000;">*</span> Start Date</label>
                            <input class="form-control" type="date" asp-format="{0:yyyy-MM-dd}" id="start_date" maxlength="50" asp-for="datestart" />
                            <span asp-validation-for="datestart" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-12">
                            <label><span style="color: #ff0000;">*</span> Expected Date</label>
                            <input type="date" class="form-control" placeholder="dd/MM/yyyy" asp-format="{0:yyyy-MM-dd}" id="expected_date" maxlength="50" asp-for="expectedcompletiondate" />
                            <span asp-validation-for="expectedcompletiondate" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-12">
                            <label><span style="color: #ff0000;">*</span> Completion Date</label>
                            <input type="date" class="form-control" placeholder="dd/MM/yyyy" asp-format="{0:yyyy-MM-dd}" id="completion_date" maxlength="50" asp-for="completiondate" />
                            <span asp-validation-for="completiondate" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-12">
                            <label><span style="color: #ff0000;">*</span> Select Department</label>

                            <table>

                                <tbody>
                                    @{

                                        foreach (var item in Model.DepartmentList)
                                        {
                                            <partial name="_DepartmentList" model="item" />
                                        }
                                    }
                                </tbody>
                            </table>
                            <span asp-validation-for="departmentid" class="text-danger"></span>
                        </div>





                    </div>
                    <div class="box-footer">

                        <input type="submit" class="btn btn-primary btn-flat" value="Save Changes" id="btnSave" />
                        <a asp-action="Index" asp-controller="Project" asp-route-id="" class="btn btn-danger btn-flat">Clear</a>

                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-8">
            <div class="box box-default">
                <div class="box-header with-border">
                    <h3 class="box-title">Project Details</h3>
                </div>
                <div class="box-body">
                    <div class="callout callout-info nofoundlbl" style="display:none;"></div>
                    <div class="" style="max-height: 400px;min-height: 153px;overflow-y: auto;">
                        <table id="tblProjectData" class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Project Name</th>
                                    @*<th>Department Name</th>*@
                                    <th>Start date</th>
                                    <th>Expected Date</th>
                                    <th>Completion Date</th>
                                    <th>Map Tasks</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    foreach (var item in Model.ProjectMasterModelList)
                                    {
                                        <tr>
                                            <td>@item.projecttext</td>
                                            @*<td>@item.department_name</td>*@
                                            <td>@item.datestart.ToString("dd/MM/yyyy")</td>
                                            <td>@item.expectedcompletiondate.ToString("dd/MM/yyyy")</td>
                                            <td>@item.completiondate.ToString("dd/MM/yyyy")</td>
                                            <td><a asp-action="Index" asp-controller="TaskMaster" asp-route-Id="0" asp-route-proId="@item.id" class="btn btn-warning btn-flat">Map Task</a></td>
                                            <td>
                                                <a title="Edit" href="@Url.Action("Index","Project",new { id=item.id})"><i class="fa fa-edit"></i></a> |
                                                @{
                                                    if (item.isactive.HasValue == true && item.isactive.Value == true)
                                                    {
                                                        <a class="anchor" onclick="DisableData(@item.id)" title="Click to Disable"><img src="~/images/green.ico" alt="Enable" height="18" width="18" /></a>
                                                    }
                                                    else
                                                    {
                                                        <a class="anchor" onclick="EnableData(@item.id)" title="Click to Enable"><img src="~/images/red.ico" alt="Enable" height="18" width="18" /></a>
                                                    }
                                                }
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@section scripts{
    <script>
        $(document).ready(function () {
            
            $("#tblProjectData").DataTable({
                dom: 'lBfrtip',
                buttons: [
                    'excel', 'pdf', 'print'
                ]
            });
            $('html,body').animate({ scrollTop: $("html").offset().top }, 800);
            var start_date = $("#start_date").value;
            console.log(start_date);
            $('input[type="text"]').click(function () {
                $("#MsgDiv").hide(500);

            });
            $("#btnSave").click(function () {
                var flag = 0;
                $.each($(".checkbox"), function (key, value) {

                    if ($(this).prop('checked') == true) {
                        flag++;
                    }
                });
                if (flag == 0) {
                    alert("Please Checked at Least One Department");
                    return false;
                }
            });
        });
        function DisableData(id) {
            var r = confirm("Are you sure to Disable this Project?");
            if (r == true) {
                    $.ajax({
                        type: 'POST',
                        url: '@Url.Action("DisableProject", "Project")',
                        data: { id: id },
                        success: function (data) {
                            console.log(data);

                            if (data) {
                                window.location.href = '@Url.Action("Index", "Project", new {id= 0})';
                            }
                        }
                    });
            }
        }
        function EnableData(id) {
            var r = confirm("Are you sure to Enable this Project?");
            if (r == true) {
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("EnableProject", "Project")',
                    data: { id: id },
                    success: function (data) {
                        console.log(data);
                        if (data) {
                            window.location.href = '@Url.Action("Index", "Project", new {id= 0})';
                        }
                    }
                });
            }
        }
    </script>
}