﻿@model hrms_core.ViewModel.ProjectWiseReportVM
@{
    ViewData["Title"] = "Project Wise Report";
}

<section class="content-header">
    <h1>
        Project Wise Report
    </h1>
</section>

<section class="content">
    <div class="col-md-12">
        <div id="MsgDiv">
            @if (TempData["msg"] != null)
            {
                if (Convert.ToString(TempData["msg"]).ToLower().Contains("wrong") || Convert.ToString(TempData["msg"]).ToLower().Contains("not"))
                {
                    <div class='alert alert-danger'>
                        <label>@TempData["msg"]</label><a onclick="$('#MsgDiv').hide(500);" class="anchor pull-right"><i class="fa fa-window-close" aria-hidden="true"></i></a>
                    </div>
                }
                else if (Convert.ToString(TempData["msg"]).ToLower().Contains("already") || Convert.ToString(TempData["msg"]).ToLower().Contains("exist"))
                {
                    <div class='alert alert-warning'>
                        <label>@TempData["msg"]</label><a onclick="$('#MsgDiv').hide(500);" class="anchor pull-right"><i class="fa fa-window-close" aria-hidden="true"></i></a>
                    </div>
                }
                else
                {
                    <div class='alert alert-success'>
                        <label>@TempData["msg"]</label><a onclick="$('#MsgDiv').hide(500);" class="anchor pull-right"><i class="fa fa-window-close" aria-hidden="true"></i></a>
                    </div>
                }
            }
        </div>
       
        <form asp-controller="Project" asp-action="ProjectWiseReport" method="post">

            <div class="box box-default">
                <div class="box-header with-border">
                    <h3 class="box-title">FILTER LIST</h3>
                </div>
                <div class="box-body">
                    <div class="form-group col-lg-3">
                        <label>Select Project :</label>
                        <select id="ddlProject" asp-for="project_id" asp-items="@(new SelectList(Model.ProjectList,"id","projecttext"))" class="form-control"></select>
                        <span asp-validation-for="project_id" class="text-danger"></span>
                    </div>
                    <div class="form-group col-lg-3">
                        <label>Select Associate :</label>
                        <select id="ddlAssociate" asp-for="associate_id" asp-items="@(new SelectList(Model.AssociateList,"id","associate_name"))" class="form-control"></select>
                    </div>
                
                    <div class="form-group col-lg-3">
                        <label>From Date: </label>
                        <input type="date" name="FromDate" class="form-control" />
                    </div>
                    <div class="form-group col-lg-3">
                        <label>TO Date: </label>
                        <input type="date" name="TODate" class="form-control" />
                    </div>
                    <div class="form-group pull-right">
                        <input type="submit" class="btn btn-success btn-flat" id="btnSubmit" name="CommandName" value="Submit" />
                    </div>
                </div>
            </div>


            <div class="box box-default">
                <div class="box-header with-border">
                    <h3 class="box-title">Project Wise List</h3>
                </div>
                <div class="box-body">
                    <table id="tblReport" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>SNo</th>
                                <th>Project Name</th>
                                <th>Associate Name</th>
                                <th>Total Hours</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                int i = 1;
                                foreach (var item in Model.ProjectWiseReportList)
                                {
                                    <tr>
                                        <td>@i</td>
                                        <td>@item.project_name</td>
                                        <td>@item.associate_name</td>
                                        <td>@item.total_hours</td>
                                    </tr>
                                    i = i + 1;
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>

        </form>
    </div>
</section>

@section scripts{
    <script type="text/javascript">
        $(document).ready(function ()
        {
            $('#tblReport').DataTable({
                dom: 'Bfrtip',
                buttons: [
                    {
                        extend: 'excelHtml5',
                        text: 'Download'
                    }
                ]
            })
          
         });
        
        
    </script>
}