﻿@model hrms_core.ViewModel.DepartmentModel
@{
    ViewData["Title"] = "DepartmentCreation";
}

<section class="content-header">
    <h1>
        Department Master
    </h1>
</section>

<section class="content">
    <div class="col-md-12">
        <div id="MsgDiv">
            @if (TempData["msg"] != null)
            {
                if (Convert.ToString(TempData["msg"]).ToLower().Contains("wrong") || Convert.ToString(TempData["msg"]).ToLower().Contains("not"))
                {
                    <div class='alert alert-danger'>
                        <label>@TempData["msg"]</label><a onclick="$('#MsgDiv').hide(500);" class="anchor pull-right"><i class="fa fa-window-close" aria-hidden="true"></i></a>
                    </div>
                }
                else if (Convert.ToString(TempData["msg"]).ToLower().Contains("already") || Convert.ToString(TempData["msg"]).ToLower().Contains("exist"))
                {
                    <div class='alert alert-warning'>
                        <label>@TempData["msg"]</label><a onclick="$('#MsgDiv').hide(500);" class="anchor pull-right"><i class="fa fa-window-close" aria-hidden="true"></i></a>
                    </div>
                }
                else
                {
                    <div class='alert alert-success'>
                        <label>@TempData["msg"]</label><a onclick="$('#MsgDiv').hide(500);" class="anchor pull-right"><i class="fa fa-window-close" aria-hidden="true"></i></a>
                    </div>
                }
            }
        </div>
        <div class="col-md-6">
            <form asp-controller="Department" asp-action="Index" method="post">
                <div class="box box-default">
                    <div class="box-header with-border">
                        <h3 class="box-title">Department Creation</h3>
                    </div>
                    <div class="box-body">
                        <div id="msgdiv"></div>
                        <div class="form-group col-md-6">
                            <label><span style="color: #ff0000;">*</span> Department Name</label>
                            <input type="text" class="form-control CharcaterTextBox" id="department_name"
                                   maxlength="50" placeholder="Enter Department Name" asp-for="departmenttext" />
                            <span asp-validation-for="departmenttext" class="text-danger"></span>
                            <input type="hidden" id="HdnDepartmentId" asp-for="id" />
                        </div>
                        @*<div class="form-group col-md-6">
                            <label><span style="color: #ff0000;">*</span> HOD Name</label>
                            <select id="ddlhod" asp-for="hod_id" onfocus="RemoveValidation(this);" asp-items="@(new SelectList(Model.AssociateMasterModelList,"id","associate_name"))" class="form-control "></select>
                            <span asp-validation-for="hod_id" class="text-danger"></span>
                        </div>*@
                        <div class="form-group col-md-6">
                            <label><span style="color: #ff0000;">*</span> Applicable Leave</label>
                            <input type="text" class="form-control CharcaterTextBox" id="txtApplicableLeave"
                                   maxlength="50" placeholder="Enter Leave" asp-for="applicable_leave" />
                            <span asp-validation-for="applicable_leave" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="box-footer">
                        <input type="submit" class="btn btn-primary btn-flat" value="Save Changes" id="btnSave" />
                        <a href="@Url.Action("Index","Department",new { id=0})" class="btn btn-danger btn-flat">Clear</a>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-6">
            <div class="box box-default">
                <div class="box-header with-border">
                    <h3 class="box-title">Department Master List</h3>
                </div>
                <div class="box-body">
                    <div class="callout callout-info nofoundlbl" style="display:none;"></div>
                    <div class="" style="max-height: 400px;min-height: 153px;overflow-y: auto;">
                        <table id="tblDepartment" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>SNo</th>
                                    <th>Department Name</th>
                                    @*<th>HOD Name</th>*@
                                    <th>Applicable Leave</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    int i = 1;
                                    foreach (var item in Model.DepartmentModelList)
                                    {
                                        <tr>
                                            <td>@i</td>
                                            <td>@item.departmenttext</td>
                                            @*<td>@item.associate_name</td>*@
                                            <td>@item.applicable_leave</td>
                                            <td>
                                                <a title="Edit" href="@Url.Action("Index","Department",new { id=item.id})"><i class="fa fa-edit"></i></a> |
                                                @{
                                                    if (item.isactive.HasValue == true && item.isactive.Value == true)
                                                    {
                                                        <a class="anchor" onclick="DisableData(@item.id)" title="Click to Disable"><img src="~/images/green.ico" alt="Enable" height="18" width="18" /></a>
                                                    }
                                                    else
                                                    {
                                                        <a class="anchor" onclick="EnableData(@item.id)" title="Click to Enable"><img src="~/images/red.ico" alt="Disable" height="18" width="18" /></a>
                                                    }
                                                }
                                            </td>
                                        </tr>
                                        i = i + 1;
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                    </div>
                </div>
        </div>
    </div>
</section>

@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $("#tblDepartment").DataTable({
                dom: 'lBfrtip',
                buttons: [
                    'excel', 'pdf', 'print'
                ]
            });
            $('html,body').animate({ scrollTop: $("html").offset().top }, 800);
            $('input[type="text"]').click(function () {
                $("#MsgDiv").hide(500);
                //$("#MsgDiv").hide(selectedEffect, options, 500);
            });
        });
        function DisableData(id) {
            var r = confirm("Are you sure to Disable this Department?");
            if (r == true) {
                    $.ajax({
                        type: 'POST',
                        url: '@Url.Action("DisableDepartment", "Department")',
                        data: { id: id },
                        success: function (data) {
                            console.log(data);

                            if (data) {
                                window.location.href = '@Url.Action("Index", "Department", new {id= 0})';
                            }
                        }
                    });
            }
        }
        function EnableData(id) {
            var r = confirm("Are you sure to Enable this Department?");
            if (r == true) {
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("EnableDepartment", "Department")',
                    data: { id: id },
                    success: function (data) {
                        console.log(data);
                        if (data) {
                            window.location.href = '@Url.Action("Index", "Department", new {id= 0})';
                        }
                    }
                });
            }
        }
    </script>
}