﻿@model hrms_core.ViewModel.QualificationModel
@{
    ViewData["Title"] = "Qualification";
}
<section class="content-header">
    <h1>
        Qualification
    </h1>
</section>
<section class="content">
    <div id="MsgDiv">
        @if (TempData["msg"] != null)
        {
            if (Convert.ToString(TempData["msg"]).ToLower().Contains("wrong") || Convert.ToString(TempData["msg"]).ToLower().Contains("not"))
            {
                <div class='alert alert-danger'>
                    <label>@TempData["msg"]</label><a onclick="$('#MsgDiv').hide(500);" class="anchor pull-right"><i class="fa fa-window-close" aria-hidden="true"></i></a>
                </div>
            }
            else if (Convert.ToString(TempData["msg"]).ToLower().Contains("already") || Convert.ToString(TempData["msg"]).ToLower().Contains("exist"))
            {
                <div class='alert alert-warning'>
                    <label>@TempData["msg"]</label><a onclick="$('#MsgDiv').hide(500);" class="anchor pull-right"><i class="fa fa-window-close" aria-hidden="true"></i></a>
                </div>
            }
            else
            {
                <div class='alert alert-success'>
                    <label>@TempData["msg"]</label><a onclick="$('#MsgDiv').hide(500);" class="anchor pull-right"><i class="fa fa-window-close" aria-hidden="true"></i></a>
                </div>
            }
        }
    </div>
    <div class="col-md-6">
        <form asp-controller="Qualification" asp-action="Index" method="post">
            <div class="box box-default">
                <div class="box-header with-border">
                    <h3 class="box-title">Qualification Master</h3>
                </div>
                <div class="box-body">
                    <div id="msgdiv"></div>
                    <div class="form-group ">
                        <input type="hidden" id="HdnId" asp-for="id" />
                        <label><span style="color: #ff0000;">*</span>Qualification</label>
                        <input type="text" class="form-control CharcaterTextBox" id="qualificationtext" maxlength="20" placeholder="Enter Qualification Name" asp-for="qualificationtext" />
                       
                        <span asp-validation-for="qualificationtext" class="text-danger"></span>
                    </div>


                </div>
                <div class="box-footer">
                    <input type="submit" class="btn btn-primary btn-flat" value="Save Changes" id="btnSave" />
                    <a asp-action="Index" asp-controller="Qualification" asp-route-id="" class="btn btn-danger btn-flat">Clear</a>
                    @*<a href="@Url.Action("qualification","Qualification", new { id=0})" class="btn btn-danger btn-flat">Clear</a>*@
                </div>
            </div>
        </form>

    </div>


    <div class="col-md-6">
        <div class="box box-default">
            <div class="box-header with-border">
                <h3 class="box-title">Qualification Master List</h3>
            </div>
            <div class="box-body">
                <div class="callout callout-info nofoundlbl" style="display:none;"></div>
                <div class="" style="max-height: 400px;min-height: 153px;overflow-y: auto;">
                    <table id="tblQualificationData" class="table table-striped">

                        <thead>
                            <tr>
                                <th>S.No.</th>
                                <th>Qualification</th>
                                <th>Action</th>
                            </tr>
                        </thead>

                        <tbody>
                            @{
                                int i = 1;
                                foreach (var item in Model.QualificationModelList)
                                {
                                    <tr>
                                        <td>@i</td>
                                        <td>@item.qualificationtext</td>
                                        <td>
                                            <a title="Edit" href="@Url.Action("Index","Qualification",new { id=item.id})"><i class="fa fa-edit"></i></a> |
                                            @{
                                                if (item.isactive.HasValue == true && item.isactive.Value == true)
                                                {
                                                    <a class="anchor" onclick="DisableData(@item.id)" title="Click to Disable"><img src="~/images/green.ico" alt="Enable" height="18" width="18" /></a>
                                                }
                                                else
                                                {
                                                    <a class="anchor" onclick="EnableData(@item.id)" title="Click to Enable"><img src="~/images/red.ico" alt="Disable" height="18" width="18" /></a>
                                                }
                                            }
                                        </td>

                                    </tr>

                                    i = i + 1;
                                }
                            }
                        </tbody>
                    </table>
                </div>
                </div>
            </div>
    </div>

</section>

@section scripts{

    <script>
        $(document).ready(function () {
            $("#tblQualificationData").DataTable({
                dom: 'lBfrtip',
                buttons: [
                    'excel', 'pdf', 'print'
                ]
            });
            $('html,body').animate({ scrollTop: $("html").offset().top }, 800);
            $('input[type="text"]').click(function () {
                $("#MsgDiv").hide(500);
                //$("#MsgDiv").hide(selectedEffect, options, 500);
            });
        });
        function DisableData(id) {
            var r = confirm("Are you sure to Disable this Qualification?");
            if (r == true) {
                    $.ajax({
                        type: 'POST',
                        url: '@Url.Action("DisableQualification", "Qualification")',
                        data: { id: id },
                        success: function (data) {
                            console.log(data);

                            if (data) {
                                window.location.href = '@Url.Action("Index", "Qualification", new {id= 0})';
                            }
                        }
                    });
            }
        }
        function EnableData(id) {
            var r = confirm("Are you sure to Enable this Qualification?");
            if (r == true) {
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("EnableQualification", "Qualification")',
                    data: { id: id },
                    success: function (data) {
                        console.log(data);
                        if (data) {
                            window.location.href = '@Url.Action("Index", "Qualification", new {id= 0})';
                        }
                    }
                });
            }
        }
    </script>

}


