﻿@model hrms_core.ViewModel.UserModel

@{
    ViewData["Title"] = "ChangePass";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<form asp-controller="Account" asp-action="ChangePass" method="post">
    <p class="login-box-msg">Change Password</p>
    <div class="form-group">
        <label><span style="color: #ff0000;">*</span>CurrentPassword: </label>
        <input type="password" class="form-control CharcaterTextBox" id="txtcurrentpassword" placeholder="Enter Current Password" asp-for="userpass">
        <span asp-validation-for="userpass"></span>
    </div>
    <div class="form-group">
        <label><span style="color: #ff0000;">*</span>New Password: </label>
        <input type="password" class="form-control CharcaterTextBox" id="txtnewpassword" placeholder="Enter New Password" asp-for="newpassword">
        <span asp-validation-for="newpassword"></span>
    </div>
    <div class="form-group">
        <label><span style="color: #ff0000;">*</span>Confirm Password: </label>
        <input type="password" class="form-control CharcaterTextBox" id="txtconfirmpassword" placeholder="Re-enter New Password" asp-for="confirmnewpassword">
        <span asp-validation-for="confirmnewpassword"></span>
    </div>
    <div class="row">
        <div class="col-xs-6">
            <input type="submit" class="btn btn-primary btn-flat" id="btnSubmit" value="Save Changes" />
        </div>
        <div class="col-xs-6">
            <a asp-controller="Account" asp-action="Login" class="btn btn-danger btn-flat pull-right">Cancel</a>
        </div>
    </div>
</form>




