﻿@model hrms_core.ViewModel.UserModel
@{
    ViewData["Title"] = "ForgotPassword";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}
    <form asp-controller="Account" asp-action="ForgotPassword" method="post">
        <p class="login-box-msg">Submit it, to send your Password via Email</p>
        <div class="form-group has-feedback">
            <input asp-for="username" type="text" class="form-control CharcaterTextBox" id="username"
                   maxlength="50" placeholder="Official Email ID">
            <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
            <span asp-validation-for="username" class="text-danger"></span>
        </div>
        <div class="row">
            <div class="col-xs-6">
                <input type="submit" class="btn btn-primary btn-block btn-flat" value="Submit" id="btnSave" name="CommandName" />
            </div>
            <div class="col-xs-6">
                <a asp-action="Login" asp-controller="Account" asp-route-id="" class="btn btn-danger btn-block btn-flat">Cancel</a>
            </div>
        </div>
    </form>


