﻿@model hrms_core.ViewModel.UserModel
@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}


<section class="content">
    <form asp-controller="Account" asp-action="ResetPassword" method="post">
        <p class="login-box-msg">Reset Password</p>
        <div class="form-group has-feedback">
            <input type="hidden" asp-for="guid" />
            <label><span style="color: #ff0000;">*</span> New Password</label>
            <input asp-for="newpassword" type="password" class="form-control CharcaterTextBox" placeholder="Enter new password">
            <span asp-validation-for="newpassword" class="text-danger"></span>
        </div>
        <div class="form-group has-feedback">
            <label><span style="color: #ff0000;">*</span>Confirm Password</label>
            <input asp-for="confirmnewpassword" type="password" class="form-control CharcaterTextBox" maxlength="50" placeholder="Confirm password">
            <span asp-validation-for="confirmnewpassword" class="text-danger"></span>
        </div>
        <div class="row">
            <div class="col-xs-6">
                <input type="submit" class="btn btn-primary btn-flat" value="Submit" id="btnSave" name="CommandName" />
            </div>
            <div class="col-xs-6">
                <input type="submit" class="btn btn-primary" value="Cancel" id="btncancel" name="CommandName" />
            </div>
        </div>
    </form>
</section>
