﻿@model hrms_core.ViewModel.LeaveApplicationModel
@{
    ViewData["Title"] = "AdminLeaveSummary";
}
<section class="content-header">
    <h1>Leave Summary</h1>
</section>
<section class="content">
    <div id="MsgDiv">
        @if (TempData["msg"] != null)
        {
            if (Convert.ToString(TempData["msg"]).ToLower().Contains("wrong") || Convert.ToString(TempData["msg"]).ToLower().Contains("not"))
            {
                <div class='alert alert-danger'>
                    <label>@TempData["msg"]</label><a onclick="$('#MsgDiv').hide(500);" class="anchor pull-right"><i class="fa fa-window-close" aria-hidden="true"></i></a>
                </div>
            }
            else if (Convert.ToString(TempData["msg"]).ToLower().Contains("already") || Convert.ToString(TempData["msg"]).ToLower().Contains("exist"))
            {
                <div class='alert alert-warning'>
                    <label>@TempData["msg"]</label><a onclick="$('#MsgDiv').hide(500);" class="anchor pull-right"><i class="fa fa-window-close" aria-hidden="true"></i></a>
                </div>
            }
            else
            {
                <div class='alert alert-success'>
                    <label>@TempData["msg"]</label><a onclick="$('#MsgDiv').hide(500);" class="anchor pull-right"><i class="fa fa-window-close" aria-hidden="true"></i></a>
                </div>
            }
        }
    </div>
    <div class="col-md-12">
        <!-- Custom Tabs -->
        <form asp-controller="Leave" asp-action="AdminLeaveSummary" asp-route-id="" method="post">
            <div class="box box-info">
                <div class="box-header with-border">
                    @{
                        int preLastYear=DateTime.Now.Year - 2;
                        int preYear = DateTime.Now.Year - 1;
                        int curYear = DateTime.Now.Year;
                    }
                    <div class="col-md-4">
                        <div class="input-group">
                            <div class="input-group-addon">
                                <label>Select Year</label>
                            </div>
                            <select asp-for="selectedYear" id="ddlLeaveYear" class="form-control">
                                <option value="@curYear">@curYear</option>
                                <option value="@preYear">@preYear</option>
                                <option value="@preLastYear">@preLastYear</option>
                            </select>
                            <div class="input-group-btn">
                                <input class="btn btn-success" type="submit" name="name" value="Search" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#tab_1" data-toggle="tab">Leave Detailed Report</a></li>
                    <li><a href="#tab_2" data-toggle="tab">Consolidate Leave Report</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="tab_1">
                        <div class="box-body">
                            <table id="tblReport" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>Serial No</th>
                                        <th>Start Date</th>
                                        <th>Associate Name</th>
                                        <th>Total Days</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    @{
                                        int j = 1;
                                        foreach (var item in Model.LeaveApplicationModelList)
                                        {
                                            if (item.status == 1)
                                            {
                                                <tr>
                                                    <td>@j</td>
                                                    <td>@item.startdate.ToString("dd/MM/yyyy")</td>
                                                    <td>@item.createdbyname</td>
                                                    <td>@item.requested_no_of_leaves</td>
                                                    <td>Approved</td>
                                                </tr>
                                            }
                                            else if (item.status == 2)
                                            {
                                                <tr>
                                                    <td>@j</td>
                                                    <td>@item.startdate.ToString("dd/MM/yyyy")</td>
                                                    <td>@item.createdbyname</td>
                                                    <td>@item.requested_no_of_leaves</td>
                                                    <td>DisApproved</td>
                                                </tr>
                                            }

                                            else
                                            {
                                                <tr>
                                                    <td>@j</td>
                                                    <td>@item.startdate.ToString("dd/MM/yyyy")</td>
                                                    <td>@item.createdbyname</td>
                                                    <td>@item.requested_no_of_leaves</td>
                                                    <td>Pending</td>
                                                </tr>
                                            }
                                            j = j + 1;
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- /.tab-pane -->
                    <div class="tab-pane" id="tab_2">
                        <div class="box-body">
                            <table id="tblReportConsolidate" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>Associate Code</th>
                                        <th>Associate Name</th>
                                        <th>Jan</th>
                                        <th>Feb</th>
                                        <th>Mar</th>
                                        <th>Apr</th>
                                        <th>May</th>
                                        <th>Jun</th>
                                        <th>Jul</th>
                                        <th>Aug</th>
                                        <th>Sep</th>
                                        <th>Oct</th>
                                        <th>Nov</th>
                                        <th>Dec</th>
                                        <th>Total Leave</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    @{
                                        var uniqueAssociateList = Model.LeaveApplicationModelList.Select(x => x.associatecode).Distinct().ToList();
                                        for (int k = 0; k < uniqueAssociateList.Count; k++)
                                        {
                                            string totalLeaveCount = Model.LeaveApplicationModelList.Where(x => x.startdate.Year == Model.selectedYear && x.associatecode == uniqueAssociateList[k]).Sum(x => x.requested_no_of_leaves).ToString();
                                            bool inactiveAssociateFlag = Model.LeaveApplicationModelList.Any(x => x.isactive == false && x.associatecode == uniqueAssociateList[k]);
                                            if (inactiveAssociateFlag)
                                            {
                                                <tr style="background-color:#f97b7b" title="This is an inactive associate">
                                                    <td>@uniqueAssociateList[k]</td>
                                                    <td>@Model.LeaveApplicationModelList.Where(x => x.associatecode == uniqueAssociateList[k]).FirstOrDefault().createdbyname</td>
                                                    @for (int i = 1; i <= 12; i++)
                                                    {
                                                        var leaveCount = Model.LeaveApplicationModelList.Where(x => x.startdate.Month == i && x.startdate.Year == Model.selectedYear && x.associatecode == uniqueAssociateList[k]).Sum(x => x.requested_no_of_leaves).ToString();
                                                        <td>@leaveCount</td>
                                                    }
                                                    <th>@totalLeaveCount</th>
                                                </tr>
                                            }
                                            else
                                            {
                                                <tr>
                                                    <td>@uniqueAssociateList[k]</td>
                                                    <td>@Model.LeaveApplicationModelList.Where(x => x.associatecode == uniqueAssociateList[k]).FirstOrDefault().createdbyname</td>
                                                    @for (int i = 1; i <= 12; i++)
                                                    {
                                                        var leaveCount = Model.LeaveApplicationModelList.Where(x => x.startdate.Month == i && x.startdate.Year == Model.selectedYear && x.associatecode == uniqueAssociateList[k]).Sum(x => x.requested_no_of_leaves).ToString();
                                                        <td>@leaveCount</td>
                                                    }
                                                    <th>@totalLeaveCount</th>
                                                </tr>
                                            }

                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- /.tab-pane -->
                </div>
                <!-- /.tab-content -->
            </div>
            <!-- nav-tabs-custom -->
        </form>
    </div>
</section>
@section scripts
    {
    <script type="text/javascript">
        $(document).ready(function () {
            $("#tblReport").DataTable({
                dom: 'lBfrtip',
                buttons: [
                    'excel', 'pdf', 'print'
                ]
            });
            $("#tblReportConsolidate").DataTable({
                "pageLength": 30,
                dom: 'Bfrtip',
                buttons: [
                    'copy', 'csv', 'excel', 'pdf', 'print'
                ]
            });
            //$("#ddlLeaveYear").change(function () {
            //    var selectedYear = $("#ddlLeaveYear :selected").val();
            //    window.Location = "/Leave/AdminLeaveSummary/" + selectedYear;
            //});
        });
    </script>
}