﻿@model hrms_core.ViewModel.LeaveApplicationModel
@{
    ViewData["Title"] = "CreateLeave";
}
<section class="content-header">
    <h1>
        Leave Application
    </h1>
</section>
<section class="content">
    <div id="MsgDiv">
        @if (TempData["msg"] != null)
        {
            if (Convert.ToString(TempData["msg"]).ToLower().Contains("wrong") || Convert.ToString(TempData["msg"]).ToLower().Contains("not"))
            {
                <div class='alert alert-danger'>
                    <label>@TempData["msg"]</label><a onclick="$('#MsgDiv').hide(500);" class="anchor pull-right"><i class="fa fa-window-close" aria-hidden="true"></i></a>
                </div>
            }

            else if (Convert.ToString(TempData["msg"]).ToLower().Contains("already") || Convert.ToString(TempData["msg"]).ToLower().Contains("exist"))
            {
                <div class='alert alert-warning'>
                    <label>@TempData["msg"]</label><a onclick="$('#MsgDiv').hide(500);" class="anchor pull-right"><i class="fa fa-window-close" aria-hidden="true"></i></a>
                </div>
            }
            else
            {
                <div class='alert alert-success'>
                    <label>@TempData["msg"]</label><a onclick="$('#MsgDiv').hide(500);" class="anchor pull-right"><i class="fa fa-window-close" aria-hidden="true"></i></a>
                </div>
            }
        }
    </div>
    <form asp-controller="Leave" asp-action="Createleave" asp-route-id="" method="post">
        <div class="col-md-12">
            <div class="col-md-12">
                <div class="box box-default">
                    <div class="box-header with-border">
                        <h3 class="box-title">Current Leave Status</h3>
                    </div>
                    <div class="box-body">
                        <div class="callout callout-info nofoundlbl" style="display:none;"></div>
                        <div class="" style="max-height: 153px;min-height: 153px;overflow-y: auto;">
                            <table id="tblleaveApplication" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>S.No.</th>
                                        <th>Leave Type</th>
                                        <th>Entitled</th>
                                        <th>Opening</th>
                                        <th>Availed</th>
                                        <th>Balance</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{

                                        int i = 1;
                                        foreach (var item in Model.LeaveList)
                                        {
                                            @if (item.balance_leave < 0)
                                            {
                                                <tr class='alert alert-danger'>
                                                    <td>@i</td>
                                                    <td>@item.leavetext</td>
                                                    <td>@item.applicable_leave</td>
                                                    <td>@item.opening_leave</td>
                                                    <td>@item.availed_leaves</td>
                                                    <td>@item.balance_leave</td>
                                                </tr>

                                            }
                                            else
                                            {
                                                <tr class='alert alert-success'>
                                                    <td>@i</td>
                                                    <td>@item.leavetext</td>
                                                    <td>@item.applicable_leave</td>
                                                    <td>@item.opening_leave</td>
                                                    <td>@item.availed_leaves</td>
                                                    <td>@item.balance_leave</td>
                                                </tr>

                                            }
                                            i = i + 1;
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="box box-default">
                    <div class="box-header with-border">
                        <h3 class="box-title">Leave Application Details</h3>
                    </div>
                    <div class="box-body">
                        <div class="form-group col-md-3">
                            <label><span style="color: #ff0000;">*</span> Leave Type</label>
                            <select id="ddlLeaveTypeList" asp-for="leavetype_id" asp-items="@(new SelectList(Model.LeaveList, "id", "leavetext"))" class="form-control "><option value="0">Select</option></select>
                            <span asp-validation-for="leavetype_id" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-3">
                            <label><span style="color: #ff0000;">*</span>Notified Date</label>
                            <input type="date" class="form-control" id="notificationdate" maxlength="50" placeholder="dd/mm/yyyy" onchange="GetRequestedNoOfLeaves();" asp-format="{0:yyyy-MM-dd}" asp-for="notificationdate" readonly />
                            <span asp-validation-for="notificationdate" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-3">
                            <label><span style="color: #ff0000;">*</span>Date From</label>
                            <input type="date" class="form-control" id="startdate" maxlength="50" onchange="GetRequestedNoOfLeaves();" placeholder="dd/mm/yyyy" asp-for="startdate" asp-format="{0:dd/MM/yyyy}" max="@Model.enddate" />

                            <span asp-validation-for="startdate" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-3">
                            <label><span style="color: #ff0000;">*</span>Session</label>
                            <select id="startsession" class="form-control" asp-for="startsession" onchange="GetRequestedNoOfLeaves();">
                                <option value="0">Please select one</option>
                                <option value="1">Whole Day</option>
                                <option value="2">Second Half</option>
                                <option value="3">Short Leave</option>

                            </select>
                            <span asp-validation-for="startsession" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-3">
                            <label>Date To</label>
                            <input type="date" class="form-control" id="enddate" maxlength="50" onchange="GetRequestedNoOfLeaves();" placeholder="dd/mm/yyyy" asp-for="enddate" asp-format="{0:dd/MM/yyyy}" min="@Model.startdate" />
                            <span asp-validation-for="enddate" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-3">
                            <label><span style="color: #ff0000;">*</span>Session</label>
                            <select id="endsession" class="form-control" asp-for="endsession" onchange="GetRequestedNoOfLeaves();">
                                <option value="0">Please select one</option>
                                <option value="1">Whole Day</option>
                                <option value="2">First Half</option>
                                @*<option value="3">Short Leave</option>*@
                            </select>
                            <input type="hidden" name="endsession" id="txtendsession" />
                            <span asp-validation-for="endsession" class="text-danger"></span>
                        </div>

                        <div class="form-group col-md-6">
                            <label><span style="color: #ff0000;">*</span> Req. No. Of Leaves</label>
                            <input type="text" class="form-control" id="requested_no_of_leaves" maxlength="50" placeholder="Requested Number Of Leaves" asp-for="requested_no_of_leaves" readonly />
                            <input type="hidden" asp-for="id" />
                            <span asp-validation-for="requested_no_of_leaves" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-12">
                            <label><span style="color: #ff0000;">*</span> Employee Reason</label>
                            <textarea class="form-control" id="employeereason" maxlength="250" placeholder="Enter Employee Reason.." asp-for="employeereason"></textarea>
                            <input type="hidden" asp-for="id" />
                            <span asp-validation-for="employeereason" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="box-footer">
                        <div class="pull-right">
                            <input type="submit" class="btn btn-primary btn-flat" value="Apply" id="btnSave" name="CommandName" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="box box-default">
                    <div class="box-header with-border">
                        <h3 class="box-title">Leave Summary</h3>
                    </div>
                    <div class="box-body">
                        <div style="overflow-x:auto;">
                            <div class="callout callout-info nofoundlbl" style="display:none;"></div>
                            <div class="col-md-12" style="max-height: 370px;min-height: 370px;overflow:auto;">
                                <span id="msgspan" style="display:none;">No Record Found</span>
                                <table id="tblApprovedleavelist" class="table  table-striped">
                                    <thead>
                                        <tr>
                                            <th style='width: 15%;'>Start Date</th>
                                            <th style='width: 15%;'>End Date</th>
                                            <th>Days</th>
                                            <th style='width: 25%;'>Leave Reason</th>

                                            <th style='width: 15%;'>Approved By</th>
                                            <th style='width: 30%;'>Employer Reason</th>
                                            <th>Action</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{
                                            int j = 1;
                                            foreach (var item in Model.LeaveApplicationModelList)
                                            {
                                                if (item.status == 2)
                                                {
                                                    <tr class='alert alert-danger'>
                                                        <td>@item.startdate.ToString("dd/MM/yyyy")</td>
                                                        <td>@item.enddate.ToString("dd/MM/yyyy")</td>
                                                        <td>@item.requested_no_of_leaves</td>
                                                        <td>@item.employeereason</td>

                                                        <td>@item.approvedbyname</td>
                                                        <td>@item.employerreason</td>
                                                        <td></td>

                                                    </tr>
                                                }
                                                else if (item.status == 1)
                                                {
                                                    <tr class='alert alert-success'>
                                                        <td>@item.startdate.ToString("dd/MM/yyyy")</td>
                                                        <td>@item.enddate.ToString("dd/MM/yyyy")</td>
                                                        <td>@item.requested_no_of_leaves</td>
                                                        <td>@item.employeereason</td>

                                                        <td>@item.approvedbyname</td>
                                                        <td>@item.employerreason</td>
                                                        @if (DateTime.Now <= item.startdate)
                                                        {
                                                            <td><input type="button" value="Cancel" name="CommandName" onclick="CancelLeave('@item.id')" class="btn btn-primary btn-flat" id="btnCancel" /></td>

                                                        }
                                                        else
                                                        {
                                                            <td></td>
                                                        }


                                                    </tr>
                                                }
                                                else
                                                {
                                                    <tr class='alert alert-warning'>
                                                        <td>@item.startdate.ToString("dd/MM/yyyy")</td>
                                                        <td>@item.enddate.ToString("dd/MM/yyyy")</td>
                                                        <td>@item.requested_no_of_leaves</td>
                                                        <td>@item.employeereason</td>

                                                        <td>@item.approvedbyname</td>
                                                        <td>@item.employerreason</td>
                                                        @if (DateTime.Now <= item.startdate)
                                                        {
                                                            <td><input type="button" value="Cancel" name="CommandName" onclick="CancelLeave('@item.id')" class="btn btn-primary btn-flat" id="btnCancel" /></td>

                                                        }
                                                        else
                                                        {
                                                            <td></td>
                                                        }

                                                    </tr>
                                                }
                                                j = j + 1;
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <form asp-controller="Leave" asp-action="CreateLeave" method="post">

        @*<div id="divExport">
                <table id="tblLeaveDetails" class="table table-bordered table-striped" style="display:none">
                    <thead>
                        <tr>
                            <th>Leave Type</th>
                            <th>Applied On</th>
                            <th>Employee Remarks</th>
                            <th>From Date</th>
                            <th>To Date</th>
                            <th>Total Days</th>
                            <th>To Date</th>
                            <th>Status</th>
                            <th>Approved On</th>
                            <th>Rejected On</th>
                            <th>Employer Comment</th>
                        </tr>
                    </thead>
                </table>
            </div>*@
    </form>

</section>
@section scripts
    {
    <script type="text/javascript">
        $(document).ready(function () {
            $("#tblApprovedleavelist").DataTable({
                dom: 'lBfrtip',
                buttons: [
                    'excel', 'pdf', 'print'
                ]
            });
            $('html,body').animate({ scrollTop: $("html").offset().top }, 800);
            $('input[type="text"]').click(function () {
                $("#MsgDiv").hide(500);
                //$("#MsgDiv").hide(selectedEffect, options, 500);
            });
            //$("#startdate").val("");
            //$("#enddate").val("");
            //$("#notificationdate").datepicker({
            //    dateFormat: 'dd-mm-yy',
            //    yearRange: "-1:+5",
            //    changeYear: true,
            //    changeMonth: true
            //});

            //$("#startdate").datepicker({
            //    dateFormat: 'dd-mm-yy',
            //    changeMonth: true,
            //    changeYear: true,
            //    maxDate: 0,
            //    onClose: function (selectedDate) {
            //        $("#enddate").datepicker("option", "minDate", selectedDate);
            //    }
            //});
            //$("#enddate").datepicker({
            //    minDate: 0,
            //    dateFormat: 'dd-mm-yy',
            //    changeMonth: true,
            //    changeYear: true,
            //    onClose: function (selectedDate) {
            //        $("#startdate").datepicker("option", "maxDate", selectedDate);
            //    }
            //});
            function GetDate() {
                var today = new Date();
                var dd = today.getDate();
                var mm = today.getMonth() + 1; //January is 0!
                var yyyy = today.getFullYear();

                if (dd < 10) {
                    dd = '0' + dd
                }

                if (mm < 10) {
                    mm = '0' + mm
                }

                today = dd + '-' + mm + '-' + yyyy;
                return today;
            }
            //$("#search_startdate").val(GetDate());
            //$("#search_enddate").val(GetDate());
            //$("#search_startdate").datepicker({
            //    dateFormat: 'dd-mm-yy',
            //    changeMonth: true,
            //    yearRange: "-1:+5",
            //    changeYear: true,
            //    setDate: new Date(),
            //    maxDate: 0,
            //    onClose: function (selectedDate) {
            //        $("#search_enddate").datepicker("option", "minDate", selectedDate);
            //    }
            //});
            //$("#search_enddate").datepicker({
            //    minDate: 0,
            //    dateFormat: 'dd-mm-yy',
            //    changeMonth: true,
            //    yearRange: "-1:+5",
            //    changeYear: true,
            //    onClose: function (selectedDate) {
            //        $("#search_startdate").datepicker("option", "maxDate", selectedDate);
            //    }
            //});

            //$('#startsession').change(function () {
            //    
            //    var dayFrom = $("#startdate").val();
            //    var dayTo = $("#enddate").val();
            //    var StartSession = $('#startsession :selected').val();
            //    var EndSession = $('#endsession :selected').val();
            //    if (dayFrom != '' && dayTo != '' && StartSession != '-1' && EndSession != '-1') {
            //        GetRequestedNoOfLeaves();
            //    }
            //});

            //$('#endsession').change(function () {
            //    var dayFrom = $("#startdate").val();
            //    var dayTo = $("#enddate").val();
            //    var StartSession = $('#startsession :selected').val();
            //    var EndSession = $('#endsession :selected').val();
            //    if (dayFrom != '' && dayTo != '' && StartSession != '-1' && EndSession != '-1') {
            //        GetRequestedNoOfLeaves();
            //    }
            //});
        });
        function GetRequestedNoOfLeaves() {
            
            $("#startdate").attr("max", $("#enddate").val());
            $("#enddate").attr("min", $("#startdate").val());
            var notifiedDate = $("#notificationdate").val();
            var dayFrom = $("#startdate").val();
            var dayTo = $("#enddate").val();
            var StartSession = $('#startsession :selected').val();
            var EndSession = $('#endsession :selected').val();

            if (StartSession == 3) {
                
                EndSession = 3;

                $("#startdate").val(notifiedDate);
                $("#enddate").val(notifiedDate);
                dayFrom = notifiedDate;
                dayTo = notifiedDate;
                $("#startdate").prop("readonly", true);
                $("#endsession").prop("disabled", true);
                $("#endsession").val(3);
                $("#txtendsession").val(3);
                $("#enddate").prop("readonly", true);
            } else {
                $("#startdate").prop("readonly", false);
                $("#endsession").prop("disabled", false);
                $("#enddate").prop("readonly", false);
            }
             $.ajax({
                    type: 'POST',
                    url: '@Url.Action("GetRequestedLeaves", "Leave")',
                 data: { dayFrom: dayFrom, dayTo: dayTo, StartSession: StartSession, EndSession: EndSession},
                    success: function (data) {
                        

                        console.log(data);

                        $("#requested_no_of_leaves").val(data);
                }
            });
        }
        function CancelLeave(obj) {
            
            //alert('hi');
            var result = confirm("Are you sure you want to cancel this leave?");
            var leaveId = obj;
            if (result == true) {
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("CancelLeave", "Leave")',
                    data: { id: leaveId },
                    success: function (data) {
                        
                        if (data == true) {
                            window.location.href = '@Url.Action("CreateLeave","Leave",new {id= 0})';
                        }
                        //$(a).closest("tr").find(".dropdowns").html(html);
                    }
                });
            }

        }
        function DateRange() {
            $("#search_startdate").attr("max", $("#search_enddate").val());
            $("#search_enddate").attr("min", $("#search_startdate").val());
        }

        function convert(str) {
            
            var date = new Date(str),
                mnth = ("0" + (date.getMonth() + 1)).slice(-2),
                day = ("0" + date.getDate()).slice(-2);
            return [date.getFullYear(), mnth, day].join("-");
        }




    </script>
}