﻿@model hrms_core.ViewModel.LeaveApplicationModel
@{
    ViewData["Title"] = "LeaveApprovedDisApprovedBucket";
}
<section class="content-header">
    <h1>Leave Details</h1>
</section>
<section class="content">
    <div id="MsgDiv">
        @if (TempData["msg"] != null)
        {
            if (Convert.ToString(TempData["msg"]).ToLower().Contains("wrong") || Convert.ToString(TempData["msg"]).ToLower().Contains("not"))
            {
                <div class='alert alert-danger'>
                    <label>@TempData["msg"]</label><a onclick="$('#MsgDiv').hide(500);" class="anchor pull-right"><i class="fa fa-window-close" aria-hidden="true"></i></a>
                </div>
            }
            else if (Convert.ToString(TempData["msg"]).ToLower().Contains("already") || Convert.ToString(TempData["msg"]).ToLower().Contains("exist"))
            {
                <div class='alert alert-warning'>
                    <label>@TempData["msg"]</label><a onclick="$('#MsgDiv').hide(500);" class="anchor pull-right"><i class="fa fa-window-close" aria-hidden="true"></i></a>
                </div>
            }
            else
            {
                <div class='alert alert-success'>
                    <label>@TempData["msg"]</label><a onclick="$('#MsgDiv').hide(500);" class="anchor pull-right"><i class="fa fa-window-close" aria-hidden="true"></i></a>
                </div>
            }
        }
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    <li class="nav-item"><a href="#tab_1" data-toggle="tab">Pending</a></li>
                    <li class="nav-item"><a href="#tab_2" data-toggle="tab">Approved</a></li>
                    <li class="nav-item"><a href="#tab_3" data-toggle="tab">DisApproved</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="tab_1">
                        <div class="box box-default">
                            <div class="box-header with-border">
                            </div>
                            <div class="box-body">
                                <table id="tblLeavePending" class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th>Associate Code</th>
                                            <th>Associate Name</th>
                                            <th>Total Days</th>
                                            <th>Applied On</th>
                                            <th>Start Date</th>
                                            <th>End Date</th>
                                            <th>Employee Reason</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{

                                            foreach (var item in Model.PendingleaveApplicationslist)
                                            {
                                                <tr>
                                                    <td>@item.associatecode</td>
                                                    <td>@item.associatename</td>
                                                    <td>@item.requested_no_of_leaves</td>
                                                    <td>@item.createdon</td>
                                                    <td>@item.leavestartdate</td>
                                                    <td>@item.leaveenddate</td>
                                                    <td>@item.employeereason</td>
                                                    <td>
                                                        <a asp-controller="Leave" asp-action="LeaveApprovedDisApprovedExternel" asp-route-id="@item.id" asp-route-view="2" class="fa fa-pencil"></a>
                                                    </td>
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>
                    <div class="tab-pane" id="tab_2">

                        <div class="box box-default">
                            <div class="box-header with-border">
                            </div>
                            <div class="box-body">
                                <table id="tblLeaveApproved" class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th>Associate Code</th>
                                            <th>Associate Name</th>
                                            <th>Total Days</th>
                                            <th>Applied On</th>
                                            <th>Start Date</th>
                                            <th>End Date</th>
                                            <th>Employee Reason</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{

                                            foreach (var item in Model.ApprovedleaveApplicationslist)
                                            {
                                                <tr>
                                                    <td>@item.associatecode</td>
                                                    <td>@item.associatename</td>
                                                    <td>@item.requested_no_of_leaves</td>
                                                    <td>@item.createdon</td>
                                                    <td>@item.leavestartdate</td>
                                                    <td>@item.leaveenddate</td>
                                                    <td>@item.employeereason</td>
                                                    <td>
                                                        <a asp-controller="Leave" asp-action="LeaveApprovedDisApprovedExternel" asp-route-id="@item.id" asp-route-view="1"><i class="fa fa-eye"></i></a>
                                                    </td>
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>
                    <div class="tab-pane" id="tab_3">

                        <div class="box box-default">
                            <div class="box-header with-border">
                            </div>
                            <div class="box-body">
                                <table id="tblLeaveDisApproved" class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th>Associate Code</th>
                                            <th>Associate Name</th>
                                            <th>Total Days</th>
                                            <th>Applied On</th>
                                            <th>Start Date</th>
                                            <th>End Date</th>
                                            <th>Employee Reason</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{

                                            foreach (var item in Model.DisApprovedleaveApplicationslist)
                                            {
                                                <tr>
                                                    <td>@item.associatecode</td>
                                                    <td>@item.associatename</td>
                                                    <td>@item.requested_no_of_leaves</td>
                                                    <td>@item.createdon</td>
                                                    <td>@item.leavestartdate</td>
                                                    <td>@item.leaveenddate</td>
                                                    <td>@item.employeereason</td>
                                                    <td>
                                                        <a asp-controller="Leave" asp-action="LeaveApprovedDisApprovedExternel" asp-route-id="@item.id" asp-route-view="1"><i class="fa fa-eye"></i></a>
                                                    </td>
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@section scripts{
    <script>
        $(document).ready(function () {
            $("#tblLeavePending").DataTable(
                {
                    "lengthMenu": [[100, 50, 20, -1], [100, 50, 20, "All"]],
                    dom: 'lBfrtip',
                    buttons: [
                        'excel', 'pdf', 'print'
                    ]
                });
            $('#tblLeaveApproved').DataTable(
                {
                    "lengthMenu": [[100, 50, 20, -1], [100, 50, 20, "All"]],
                    dom: 'lBfrtip',
                    buttons: [
                        'excel', 'pdf', 'print'
                    ]
                });
            $('#tblLeaveDisApproved').DataTable(
                {
                    "lengthMenu": [[100, 50, 20, -1], [100, 50, 20, "All"]],
                    dom: 'lBfrtip',
                    buttons: [
                        'excel', 'pdf', 'print'
                    ]
                });
        });
    </script>
}
