﻿@model hrms_core.ViewModel.LeaveApplicationModel

@{
    ViewData["Title"] = "LeaveApprovedDisApprovedExternel";
}

<section class="content">
    <div id="MsgDiv">
        @if (TempData["msg"] != null)
        {
            if (Convert.ToString(TempData["msg"]).ToLower().Contains("wrong") || Convert.ToString(TempData["msg"]).ToLower().Contains("not"))
            {
                <div class='alert alert-danger'>
                    <label>@TempData["msg"]</label><a onclick="$('#MsgDiv').hide(500);" class="anchor pull-right"><i class="fa fa-window-close" aria-hidden="true"></i></a>
                </div>
            }
            else if (Convert.ToString(TempData["msg"]).ToLower().Contains("already") || Convert.ToString(TempData["msg"]).ToLower().Contains("exist"))
            {
                <div class='alert alert-warning'>
                    <label>@TempData["msg"]</label><a onclick="$('#MsgDiv').hide(500);" class="anchor pull-right"><i class="fa fa-window-close" aria-hidden="true"></i></a>
                </div>
            }
            else
            {
                <div class='alert alert-success'>
                    <label>@TempData["msg"]</label><a onclick="$('#MsgDiv').hide(500);" class="anchor pull-right"><i class="fa fa-window-close" aria-hidden="true"></i></a>
                </div>
            }
        }
    </div>
    <form asp-controller="Leave" asp-action="LeaveApprovedDisApprovedExternel" method="post">
        <div class="box box-default" style="overflow:auto;">
            <div class="box-header with-border">
                <div id="msgdiv"></div>
                <h3 class="box-title">Leave Application</h3>
            </div>
            <div class="col-lg-12">
                <div class="col-lg-4">
                    <div class="form-group">
                        <label>Associate Code</label>
                        <input type="text" class="form-control " id="txtassociate_code" asp-for="associatecode" readonly="readonly" required>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <label>Associate Name</label>
                        <input type="text" class="form-control " id="txtassociate_name" readonly="readonly" asp-for="associatename" required>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <label>Notification Date</label>
                        <input type="text" class="form-control " id="txtnotifieddate" asp-for="notificationdate" readonly="readonly" required>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <label>Start Date</label>
                        <input type="text" class="form-control " id="txtstartdate" asp-for="startdate" readonly="readonly" required />
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <label>End Date</label>
                        <input type="text" class="form-control " asp-for="enddate" id="txtenddate" readonly="readonly" required>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <label>Leave Type</label>
                        <input type="text" class="form-control " id="txtleavetype" asp-for="leave_name" readonly="readonly" required>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <label>Total Days</label>
                        <input type="text" class="form-control " id="txttotaldays" asp-for="requested_no_of_leaves" readonly="readonly" required>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <label>Balance Leaves</label>
                        <input type="text" class="form-control" id="balance_leave" asp-for="balance_leave" readonly />
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <label>Employee Reason</label>
                        <textarea class="form-control " id="txtempreason" asp-for="employeereason" readonly="readonly"></textarea>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="form-group">
                        <label><span style="color: #ff0000;">*</span>Employer Comment</label>
                        <textarea class="form-control " id="txtemployerreason" asp-for="employerreason"
                                  maxlength="250" placeholder="Employer Reason"></textarea>
                        <input type="hidden" asp-for="id" />
                    </div>
                </div>

            </div>
            <table style="width: 100%; ">
                <tr>
                    <td colspan="4" width="100%">
                        <table id="tblData" style="width: 95%;margin-left: 14px;">
                            <tbody></tbody>
                            <tfoot>
                            </tfoot>
                        </table>
                    </td>
                </tr>
            </table>
            @{
                if (Model.status == 0)
                {
                    <div class="box-footer pull-right">

                        <button type="submit" class="btn btn-primary btn-flat" id="btnapproved" name="CommandName" value="Approve">Approve</button>
                        <button type="submit" class="btn btn-primary btn-flat" id="btnreject" name="CommandName" value="Disapprove">DisApprove</button>
                    </div>
                }
            }

        </div>
    </form>
</section>
@section scripts{
    <script>
        $(document).ready(function () {
            $('#btnapproved').click(function () {
                $('#btnapproved').hide();
                $('#btnreject').hide();
            });
            $('#btnreject').click(function () {
                $('#btnapproved').hide();
                $('#btnreject').hide();
            });
            });
    </script>
}
