﻿  @model hrms_core.ViewModel.LeaveApplicationModel
@{
    ViewData["Title"] = "LeaveSummary";
}
<section class="content-header">
    <h1>Leave Summary</h1>
</section>
<section class="content">
    <div id="MsgDiv">
        @if (TempData["msg"] != null)
        {
            if (Convert.ToString(TempData["msg"]).ToLower().Contains("wrong") || Convert.ToString(TempData["msg"]).ToLower().Contains("not"))
            {
                <div class='alert alert-danger'>
                    <label>@TempData["msg"]</label><a onclick="$('#MsgDiv').hide(500);" class="anchor pull-right"><i class="fa fa-window-close" aria-hidden="true"></i></a>
                </div>
            }
            else if (Convert.ToString(TempData["msg"]).ToLower().Contains("already") || Convert.ToString(TempData["msg"]).ToLower().Contains("exist"))
            {
                <div class='alert alert-warning'>
                    <label>@TempData["msg"]</label><a onclick="$('#MsgDiv').hide(500);" class="anchor pull-right"><i class="fa fa-window-close" aria-hidden="true"></i></a>
                </div>
            }
            else
            {
                <div class='alert alert-success'>
                    <label>@TempData["msg"]</label><a onclick="$('#MsgDiv').hide(500);" class="anchor pull-right"><i class="fa fa-window-close" aria-hidden="true"></i></a>
                </div>
            }
        }
    </div>
    <div class="col-md-12">
        <div class="box box-default">
            <div class="box-header with-border">
                <h3 class="box-title">Leave Summary</h3>
            </div>
            <div class="box-body">
                <table id="tblReport" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Serial No</th>
                            <th>Start Date</th>
                            <th>Associate Name</th>
                            <th>Total Days</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                   
                    <tbody>
                        @{
                            int j = 1;
                            foreach (var item in Model.LeaveApplicationModelList)
                            {
                                if (item.status == 1)
                                {
                                    <tr >
                                        <td>@j</td>
                                        <td>@item.startdate.ToString("dd/MM/yyyy")</td>
                                        <td>@item.createdbyname</td>
                                        <td>@item.requested_no_of_leaves</td>
                                        <td>Approved</td>
                                    </tr>
                                }
                                else if (item.status == 2)
                                {
                                    <tr>
                                        <td>@j</td>
                                        <td>@item.startdate.ToString("dd/MM/yyyy")</td>
                                        <td>@item.createdbyname</td>
                                        <td>@item.requested_no_of_leaves</td>
                                        <td>DisApproved</td>
                                    </tr>
                                }

                                else
                                {
                                    <tr>
                                        <td>@j</td>
                                        <td>@item.startdate.ToString("dd/MM/yyyy")</td>
                                        <td>@item.createdbyname</td>
                                        <td>@item.requested_no_of_leaves</td>
                                        <td>Pending</td>
                                    </tr>
                                }
                                    j = j + 1;
                            }
                         }
                     </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
@section scripts
    {
    <script type="text/javascript">
        $(document).ready(function ()
        {
            $("#tblReport").DataTable({
                dom: 'lBfrtip',
                buttons: [
                    'excel', 'pdf', 'print'
                ]
            });
        });
    </script>
}