﻿@model hrms_core.ViewModel.LeaveTypeVM

@{
    ViewData["Title"] = "LeaveType";
}

<!--Content header -->
<section class="content-header">
    <h1>
        Leave Type Master
    </h1>
</section>

<!-- Main content -->
<section class="content">
    <div id="MsgDiv">
        @if (TempData["msg"] != null)
        {
            if (Convert.ToString(TempData["msg"]).ToLower().Contains("wrong") || Convert.ToString(TempData["msg"]).ToLower().Contains("not"))
            {
                <div class='alert alert-danger'>
                    <label>@TempData["msg"]</label><a onclick="$('#MsgDiv').hide(500);" class="anchor pull-right"><i class="fa fa-window-close" aria-hidden="true"></i></a>
                </div>
            }
            if (Convert.ToString(TempData["msg"]).ToLower().Contains("mandatory") || Convert.ToString(TempData["msg"]).ToLower().Contains("fields"))
            {
                <div class='alert alert-danger'>
                    <label>@TempData["msg"]</label><a onclick="$('#MsgDiv').hide(500);" class="anchor pull-right"><i class="fa fa-window-close" aria-hidden="true"></i></a>
                </div>
            }
            else if (Convert.ToString(TempData["msg"]).ToLower().Contains("already") || Convert.ToString(TempData["msg"]).ToLower().Contains("exist"))
            {
                <div class='alert alert-warning'>
                    <label>@TempData["msg"]</label><a onclick="$('#MsgDiv').hide(500);" class="anchor pull-right"><i class="fa fa-window-close" aria-hidden="true"></i></a>
                </div>
            }
            else
            {
                <div class='alert alert-success'>
                    <label>@TempData["msg"]</label><a onclick="$('#MsgDiv').hide(500);" class="anchor pull-right"><i class="fa fa-window-close" aria-hidden="true"></i></a>
                </div>
            }
        }
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="box box-default">

                <form asp-controller="Leave" asp-action="LeaveType" method="post">

                    <div class="box box-default">
                        <div class="box-header with-border">
                            <h3 class="box-title">Leave Type Details</h3>
                        </div>
                        <div class="box-body">
                            <div id="msgdiv"></div>

                            <div class="form-group col-md-6">
                                <label><span style="color: #ff0000;">*</span> Leave Code</label>
                                <input type="text" class="form-control" id="leave_code"
                                       maxlength="100" placeholder="Enter Leave Code" asp-for="leave_code" onfocus="RemoveValidation(this);" />
                                <span asp-validation-for="leave_code" class="text-danger"></span>
                            </div>

                            <div class="form-group col-md-6">
                                <label><span style="color: #ff0000;">*</span>Name</label>
                                <input type="text" class="form-control" id="leave_name"
                                       maxlength="100" placeholder="Enter Leave Name" asp-for="leavetext" onfocus="RemoveValidation(this);" />
                                <span asp-validation-for="leavetext" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-6">
                                <label><span style="color: #ff0000;">*</span> Min. Days</label>
                                <input type="text" class="form-control NumericTextBox" id="leave_mindays"
                                       maxlength="3" placeholder="Enter Min. Days" asp-for="min_days" onfocus="RemoveValidation(this);" />
                                <span asp-validation-for="min_days" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-6">
                                <label><span style="color: #ff0000;">*</span> Max. Days</label>
                                <input type="text" class="form-control NumericTextBox" id="leave_maxdays"
                                       maxlength="3" placeholder="Enter Max. Days" asp-for="max_days" onfocus="RemoveValidation(this);" />
                                <span asp-validation-for="max_days" class="text-danger"></span>
                            </div>

                            <div class="form-group col-md-6">
                                <label><span style="color: #ff0000;">*</span> Leave Apply </label>
                                <select id="leave_apply" asp-for="leave_apply" class="form-control" onfocus="RemoveValidation(this);">
                                    <option value="-1">Select</option>
                                    <option value="1">Only Before</option>
                                    <option value="2">Only After</option>
                                    <option value="3">Any Time</option>
                                </select>
                                <span asp-validation-for="leave_apply" class="text-danger"></span>
                            </div>

                            <div class="form-group col-md-6">
                                <label><span style="color: #ff0000;">*</span> Before Min.</label>
                                <input type="text" class="form-control" id="leave_beforemin"
                                       maxlength="3" placeholder="Enter Before Min." asp-for="before_min" onfocus="RemoveValidation(this);" />
                                <span asp-validation-for="before_min" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-6">
                                <label><span style="color: #ff0000;">*</span> Leave Type</label>
                                <select id="leave_type" asp-for="leave_type" class="form-control" onfocus="RemoveValidation(this);">
                                    <option value="-1">Select</option>
                                    <option value="1">Paid Leave</option>
                                    <option value="2">LWP</option>
                                    <option value="3">Absent</option>
                                </select>
                            </div>
                            <div class="form-group col-md-6">
                                <label> Carry Forward</label>
                                <input type="checkbox" id="cf" asp-for="carry_forward" style="margin-left:51px;" />
                            </div>
                            <div class="form-group col-md-6">
                                <label> Leave Balance Check</label>
                                <input type="checkbox" id="lbc" asp-for="leave_balance_check" style="margin-left:12px;" />
                            </div>
                            <div class="form-group col-md-6">
                                <label> Holiday Inclusive</label>
                                <input type="checkbox" id="hi" asp-for="holiday_inclusive" style="margin-left:34px;" />
                            </div>
                            <div class="form-group col-md-6">
                                <label> Default</label>
                                <input type="checkbox" id="cf" asp-for="is_default" style="margin-left:51px;" />
                            </div>
                        </div>
                        <div class="box-footer">

                            <input type="submit" value="@ViewBag.Button" name="CommandName" class="btn btn-default" />
                            <a asp-controller="Leave" asp-action="LeaveType" asp-route-id="" class="btn btn-default">Back</a>
                        </div>
                        <!-- /.box-body -->
                        <!-- /.box -->
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-6">
            <div class="box box-default">
                <div class="box-header with-border">
                    <h3 class="box-title">Leave Type Master List</h3>
                </div>
                <div class="box-body">
                    @*<div class="callout callout-info nofoundlbl"></div>
                        <div class="menu-holder-data-table">*@
                    <div class="callout callout-info nofoundlbl" style="display:none;"></div>
                    <div class="" style="max-height: 400px;min-height: 153px;overflow-y: auto;">
                        <table id="leavetype_master_list" class="table table-bordered table-striped">

                            <thead>
                                <tr>
                                    <th>SNo.</th>
                                    <th>Leave Code</th>
                                    <th>Name</th>
                                    <th>Min. Days</th>
                                    <th>Max. Days </th>
                                    <th>Action </th>
                                </tr>
                            </thead>
                            <tbody id="tblBody">
                                @{
                                    if (Model.LeaveTypeMasterList != null)
                                    {
                                        int i = 1;
                                        foreach (var item in Model.LeaveTypeMasterList)
                                        {
                                            <tr>
                                                <td>@i</td>
                                                <td>@item.leave_code</td>
                                                <td>@item.leavetext</td>
                                                <td>@item.min_days</td>
                                                <td>@item.max_days</td>
                                                <td><a asp-controller="Leave" asp-action="LeaveType" asp-route-id="@item.id" class="fa fa-edit"></a></td>
                                            </tr>
                                            i++;
                                        }
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
    </div>

</section>
<!-- /.content -->

@section scripts{
    <script src='~/js/spectrum.js'></script>
    <link rel='stylesheet' href='~/css/spectrumm.css' />
    <script type="text/javascript">
        $(document).ready(function () {
            $("#leavetype_master_list").DataTable({
                dom: 'lBfrtip',
                buttons: [
                    'excel', 'pdf', 'print'
                ]
            });
            $("#leave_color").spectrum({
                showPaletteOnly: true,
                togglePaletteOnly: true,
                togglePaletteMoreText: 'more',
                togglePaletteLessText: 'less',
                color: 'blanchedalmond',
                palette: [
                    ["#000", "#444", "#666", "#999", "#ccc", "#eee", "#f3f3f3", "#fff"],
                    ["#f00", "#f90", "#ff0", "#0f0", "#0ff", "#00f", "#90f", "#f0f"],
                    ["#f4cccc", "#fce5cd", "#fff2cc", "#d9ead3", "#d0e0e3", "#cfe2f3", "#d9d2e9", "#ead1dc"],
                    ["#ea9999", "#f9cb9c", "#ffe599", "#b6d7a8", "#a2c4c9", "#9fc5e8", "#b4a7d6", "#d5a6bd"],
                    ["#e06666", "#f6b26b", "#ffd966", "#93c47d", "#76a5af", "#6fa8dc", "#8e7cc3", "#c27ba0"],
                    ["#c00", "#e69138", "#f1c232", "#6aa84f", "#45818e", "#3d85c6", "#674ea7", "#a64d79"],
                    ["#900", "#b45f06", "#bf9000", "#38761d", "#134f5c", "#0b5394", "#351c75", "#741b47"],
                    ["#600", "#783f04", "#7f6000", "#274e13", "#0c343d", "#073763", "#20124d", "#4c1130"]
                ]
            });
        });
    </script>
}
