﻿@model hrms_core.ViewModel.LeaveApplicationModel
@{
    ViewData["Title"] = "LeaveReport";
}


<section class="content-header">
    <h2>LeaveReport</h2>
</section>
<section class="content">
    <div id="MsgDiv">
        @if (TempData["msg"] != null)
        {
            if (Convert.ToString(TempData["msg"]).ToLower().Contains("wrong") || Convert.ToString(TempData["msg"]).ToLower().Contains("not"))
            {
                <div class='alert alert-danger'>
                    <label>@TempData["msg"]</label><a onclick="$('#MsgDiv').hide(500);" class="anchor pull-right"><i class="fa fa-window-close" aria-hidden="true"></i></a>
                </div>
            }
            else if (Convert.ToString(TempData["msg"]).ToLower().Contains("already") || Convert.ToString(TempData["msg"]).ToLower().Contains("exist"))
            {
                <div class='alert alert-warning'>
                    <label>@TempData["msg"]</label><a onclick="$('#MsgDiv').hide(500);" class="anchor pull-right"><i class="fa fa-window-close" aria-hidden="true"></i></a>
                </div>
            }
            else
            {
                <div class='alert alert-success'>
                    <label>@TempData["msg"]</label><a onclick="$('#MsgDiv').hide(500);" class="anchor pull-right"><i class="fa fa-window-close" aria-hidden="true"></i></a>
                </div>
            }
        }
    </div>
    <div class="col-md-12">
        <div class="box box-default">
            <div class="box-header with-border">
                <h3 class="box-title">Admin Leave Summary</h3>
            </div>
            <div class="box-body">
                <table id="tblReportConsolidate" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Associate Code</th>
                            <th>Associate Name</th>
                            <th>Jan</th>
                            <th>Feb</th>
                            <th>Mar</th>
                            <th>Apr</th>
                            <th>May</th>
                            <th>Jun</th>
                            <th>Jul</th>
                            <th>Aug</th>
                            <th>Sep</th>
                            <th>Oct</th>
                            <th>Nov</th>
                            <th>Dec</th>
                            <th>Total Leave</th>
                        </tr>
                    </thead>

                    <tbody>
                        @{
                            var uniqueAssociateList = Model.LeaveApplicationModelList.Select(x => x.associatecode).Distinct().ToList();
                            for (int k = 0; k < uniqueAssociateList.Count; k++)
                            {
                                string totalLeaveCount = Model.LeaveApplicationModelList.Where(x => x.startdate.Year == DateTime.Now.Year && x.associatecode == uniqueAssociateList[k]).Sum(x => x.requested_no_of_leaves).ToString();
                                bool inactiveAssociateFlag = Model.LeaveApplicationModelList.Any(x => x.isactive == false && x.associatecode == uniqueAssociateList[k]);
                                if (inactiveAssociateFlag)
                                {
                                    <tr style="background-color:#f97b7b" title="This is an inactive associate">
                                        <td>@uniqueAssociateList[k]</td>
                                        <td>@Model.LeaveApplicationModelList.Where(x => x.associatecode == uniqueAssociateList[k]).FirstOrDefault().createdbyname</td>
                                        @for (int i = 1; i <= 12; i++)
                                        {
                                            var leaveCount = Model.LeaveApplicationModelList.Where(x => x.startdate.Month == i && x.startdate.Year == DateTime.Now.Year && x.associatecode == uniqueAssociateList[k]).Sum(x => x.requested_no_of_leaves).ToString();
                                            <td>@leaveCount</td>
                                        }
                                        <th>@totalLeaveCount</th>
                                    </tr>
                                }
                                else
                                {
                                    <tr>
                                        <td>@uniqueAssociateList[k]</td>
                                        <td>@Model.LeaveApplicationModelList.Where(x => x.associatecode == uniqueAssociateList[k]).FirstOrDefault().createdbyname</td>
                                        @for (int i = 1; i <= 12; i++)
                                        {
                                            var leaveCount = Model.LeaveApplicationModelList.Where(x => x.startdate.Month == i && x.startdate.Year == DateTime.Now.Year && x.associatecode == uniqueAssociateList[k]).Sum(x => x.requested_no_of_leaves).ToString();
                                            <td>@leaveCount</td>
                                        }
                                        <th>@totalLeaveCount</th>
                                    </tr>
                                }

                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
@section scripts
    {
    <script type="text/javascript">
        $(document).ready(function () {
            $("#tblReportConsolidate").DataTable({
                "pageLength": 20,
                dom: 'Bfrtip',
                buttons: [
                    'copy', 'csv', 'excel', 'pdf', 'print'
                ]
            });
        });
    </script>
}

