﻿@model hrms_core.ViewModel.LeaveApplicationModel

@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}
<form asp-controller="Leave" asp-action="Login" method="post">
    <p class="login-box-msg">Sign in to start your session</p>
    <div class="form-group has-feedback">
        <input type="text" asp-for="username" class="form-control CharcaterTextBox" id="username"
               maxlength="50" placeholder="Enter Username">
        <input type="hidden" asp-for="id" />
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
        
    </div>
    <div class="form-group has-feedback">
        <input  type="password" asp-for="userpass"  class="form-control CharcaterTextBox" id="userpass"
               maxlength="50" placeholder="Enter Password">
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
    </div>
    <div class="row">
        <div class="col-xs-6">
            <input type="submit" class="btn btn-primary btn-block btn-flat" value="Login" id="btnSave" />
        </div>
    </div>
</form>
