﻿@model hrms_core.ViewModel.OpeningLeaveModel
@{
    ViewData["Title"] = "Opening";

}


<section class="content-header">
    <h1>
        Carry Forward Leave
    </h1>
</section>

<section class="content">
    <div id="MsgDiv">
        @if (TempData["msg"] != null)
        {
            if (Convert.ToString(TempData["msg"]).ToLower().Contains("wrong") || Convert.ToString(TempData["msg"]).ToLower().Contains("no"))
            {
                <div class='alert alert-danger'>
                    <label>@TempData["msg"]</label><a onclick="$('#MsgDiv').hide(500);" class="anchor pull-right"><i class="fa fa-window-close" aria-hidden="true"></i></a>
                </div>
            }

            else if (Convert.ToString(TempData["msg"]).ToLower().Contains("already") || Convert.ToString(TempData["msg"]).ToLower().Contains("exist"))
            {
                <div class='alert alert-warning'>
                    <label>@TempData["msg"]</label><a onclick="$('#MsgDiv').hide(500);" class="anchor pull-right"><i class="fa fa-window-close" aria-hidden="true"></i></a>
                </div>
            }
            else
            {
                <div class='alert alert-success'>
                    <label>@TempData["msg"]</label><a onclick="$('#MsgDiv').hide(500);" class="anchor pull-right"><i class="fa fa-window-close" aria-hidden="true"></i></a>
                </div>
            }
        }
    </div>
    <!-- Main content -->
    <form asp-controller="Leave" asp-action="OpeningLeave" method="post">
        <section class="content">
            <div class="row">
                <div class="col-md-12">
                    <div class="box box-default">
                        <div class="box-header with-border">
                            <h3 class="box-title">Set Carry Forward Leave</h3>
                        </div>
                        <div class="box-body">
                            <div id="msgdiv"></div>
                            <div class="form-group col-md-6">
                                <label><span style="color: #ff0000;">*</span> Select Employee</label>
                                <select id="ddlAssociate" asp-for="emp_id" asp-items="@(new SelectList(Model.AssociateMasterModelList,"id","associate_name"))" class="form-control "></select>
                                <span asp-validation-for="emp_id" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-6">
                                <label><span style="color: #ff0000;">*</span> Carry Forward Leave</label>
                                <input type="text" asp-for="casual_leave" id="txt_causalleave" class="form-control" />
                                <span asp-validation-for="casual_leave" class="text-danger"></span>
                            </div>
                            @*<div class="form-group col-md-4">
                                <label><span style="color: #ff0000;">*</span>Earn Leave</label>
                                <input type="text" asp-for="earn_leave" id="txt_earnleave" class="form-control" />
                                <span asp-validation-for="earn_leave" class="text-danger"></span>
                            </div>*@
                            <div class="pull-right">
                                <input type="submit" name="CommandName" id="btnSave" value="Save Changes" class="btn btn-primary btn-flat" />
                                <a href="@Url.Action("OpeningLeave","Leave")" class="btn btn-danger btn-flat">Clear</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>
    </form>
</section>
    <!-- /.content -->

    @section scripts{

        <script type="text/javascript">
            var CreatedBy;
            var UpdatedBy;
            var designationid;
            var username = "<%= name %>";
            var leaveidtype = '';
            var opening;
            var emp;
            var openingdata = '';

            $(document).ready(function () {
                GetCreatedBy();
                //Function to get Employee List
                $.post('/emplist', function (data) {
                    var json = JSON.parse(data);
                    if (data.length > 10) {
                        $.each(json, function (key, value) {
                            $('#emplist').append($('<option>', {
                                value: this.associateid,
                                text: this.associate_name
                            }));
                        });
                    }
                });

                $("#emplist").change(function () {
                    emp = this.value;
                    $.post('/checkempopening', { emp: emp }, function (data) {
                        var json = JSON.parse(data);
                        if (data.length > 5) {
                            $("#msgdiv").show();
                            $("#msgdiv").html("<div class='alert alert-success' style='margin-top:10px;'><label>Opening leave already set for this user.</label></div>");
                            setTimeout("window.location.href='/openingleave';", 1000);
                        }
                        else {
                            $.post('/GetOpeningLeaveContainer', function (data) {
                                var json = JSON.parse(data);
                                if (data.length > 10) {
                                    var datatable = $('#openingleavecontainer');
                                    datatable.empty();
                                    datatable.append("<thead><tr><th class='' style='width:10%;'>S.No.</th><th class='' style='width: 30%;'>Leave Code</th><th class='' style='width: 30%;'>Leave Name</th><th class='' style='width: 30%;border-right: 0px;'>Opening Leave</th></tr></thead>");
                                    $.each(json, function (key, value) {
                                        var html = '<tr row0 odd><td>' + (key + 1) + '</td><td>' + this.leave_code + '</td><td>' + this.leavetext + '</td><td class="datacell"><input type="text"  id="opening" class="form-control NumericTextBox txtopening" onfocus="RemoveValidation(this);" style="width:100%;" onfocusout="leaveopening()" onkeyup="NumAndTwoDecimals(event , this);" data-id="' + this.leaveid + '" /></td><td class="inphide" style="display:none;"><input type="hidden" class="leaveid" name="leaveid" value="' + this.leaveid + '"/></td></tr>';
                                        datatable.append(html);
                                        $('.nofoundlbl').hide();
                                    });
                                }
                                else {
                                    $('.nofoundlbl').show();
                                    $('.nofoundlbl').val("No Record Found");
                                }
                                datatable.append("</tbody>");
                            });
                        }
                    });
                });

                //Function on click of set opening Master Button

                $('#setopening_master_btn').click(function () {
                    var flag = 0;
                    emp = $('#emplist').find(":selected").val();
                    if (emp == '-1') {
                        $('#emplist').parent().addClass('has-error');
                        flag++;
                    }
                    if (openingdata.trim() == "") {
                        alert('Enter atleast one opening');
                        $('.txtopening').addClass('has-error');
                        flag++;
                    }
                    if (flag > 0) {
                        return false;
                    }
                    else {
                        $.post('/SetOpeningLeave', { emp: emp, opening: openingdata, createdby: CreatedBy }, function (data) {
                            $('#emplist').val('-1');
                        });
                        //Show sucess message
                        $("#msgdiv").show();
                        $("#msgdiv").html("<div class='alert alert-success' style='margin-top:10px;'><label>Saved Successfully</label></div>");
                        $('.txtopening').val('');
                    }

                });

                //Check Authorized Menu
                $.post('/check_Authorized_Menu', { username: username, menuName: '/openingleave' }, function (data) {
                    var json = JSON.parse(data);
                    if (json[0].count == 0) {
                        window.location.href = "/";
                    }
                });
            });

            //Function to get Opening leave and leaveid

            function leaveopening() {
                openingdata = '';
                $("#openingleavecontainer .datacell #opening").each(function () {
                    if ($(this).val() != '' || $(this).val() != undefined) {
                        if ($(this).val().length > 0) {
                            if (openingdata != '') {
                                openingdata = openingdata + '~';
                            }
                            openingdata = openingdata + $(this).val() + '#' + $(this).data("id");
                        }
                    }
                });
            }
            //Function to get created by
            var associateid = '';
            function populateMenu() {
                $.post('/populate_menu', { associateid: associateid }, function (data) {
                    var json = JSON.parse(data);
                    if (data.length > 10) {
                        $.each(json, function (key, value) {
                            if (value.menu_url == null) {
                                var menutext = "";
                                menutext += "<li class='dropdown'><a href='#' class='dropdown-toggle' data-toggle='dropdown'>" + value.menu_name + "<span class='caret'></span></a><ul class='dropdown-menu' role='menu'>";
                                $.each(json, function (key1, value1) {
                                    if (value1.menu_parent_id == value.menuid) {
                                        menutext += "<li><a href='" + value1.menu_url + "'>" + value1.menu_name + "</a></li>";
                                    }
                                });
                                menutext += "</ul></li>";
                                $('#nav').append($(menutext));
                            }
                            else if (value.menu_parent_id == null) {
                                $('#nav').append($('<li><a href="' + value.menu_url + '">' + value.menu_name + '</a></li>'));
                            }
                        });
                    }
                });
            }
            function GetCreatedBy() {
                try {
                    $.post('/GetLoginDetails', { username: username }, function (data) {
                        var json = JSON.parse(data);

                        if (data.length > 3) {
                            CreatedBy = json[0].userid;
                            designationid = json[0].designationid;
                            associateid = json[0].associateid;
                            populateMenu();
                        }
                    });
                } catch (err) {
                    console.log(err.message);
                }
            }
            //Remove Validation
            function RemoveValidation(obj) {
                var id = obj.id;
                $("#" + id).parent().removeClass('has-error');
                $(".txtopening").removeClass('has-error');
            }
            function NumAndTwoDecimals(e, field) {
                var val = field.value;
                var re = /^([0-9]+[\.]?[0-9]?[0-9]?|[0-9]+)$/g;
                var re1 = /^([0-9]+[\.]?[0-9]?[0-9]?|[0-9]+)/g;
                if (re.test(val)) {
                    //do something here

                } else {
                    val = re1.exec(val);
                    if (val) {
                        field.value = val[0];
                    } else {
                        field.value = "";
                    }
                }
            }
            function runEffect() {
                var selectedEffect = 'blind';
                var options = {};
                $("#msgdiv").hide(selectedEffect, options, 500);
            };
            $("#emplist").click(function () {
                runEffect();
                return false;
            });
        </script>

    }
