﻿@model hrms_core.ViewModel.CityModel
@{
    ViewData["Title"] = "City";
}
<section class="content-header">
    <h1>
        City
    </h1>
</section>

<section class="content">
    <div id="MsgDiv">
        @if (TempData["msg"] != null)
        {
            if (Convert.ToString(TempData["msg"]).ToLower().Contains("wrong") || Convert.ToString(TempData["msg"]).ToLower().Contains("not"))
            {
                <div class='alert alert-danger'>
                    <label>@TempData["msg"]</label><a onclick="$('#MsgDiv').hide(500);" class="anchor pull-right"><i class="fa fa-window-close" aria-hidden="true"></i></a>
                </div>
            }
            else if (Convert.ToString(TempData["msg"]).ToLower().Contains("already") || Convert.ToString(TempData["msg"]).ToLower().Contains("exist"))
            {
                <div class='alert alert-warning'>
                    <label>@TempData["msg"]</label><a onclick="$('#MsgDiv').hide(500);" class="anchor pull-right"><i class="fa fa-window-close" aria-hidden="true"></i></a>
                </div>
            }
            else
            {
                <div class='alert alert-success'>
                    <label>@TempData["msg"]</label><a onclick="$('#MsgDiv').hide(500);" class="anchor pull-right"><i class="fa fa-window-close" aria-hidden="true"></i></a>
                </div>
            }

        }
    </div>
    <div class="col-md-6">
        <form asp-controller="Address" asp-action="City" method="post">
            <div class="box box-default">
                <div class="box-header with-border">
                    <h3 class="box-title">City Master</h3>
                </div>
                <div class="box-body">
                    <div class="form-group col-md-4">
                        <label><span style="color:#ff0000;">*</span>State</label>
                        <select id="ddlStateList" asp-for="state_id" onfocus="RemoveValidation(this);" asp-items="@(new SelectList(Model.StateModelList,"id","statetext"))" class="form-control"><option value="0">Select</option></select>
                        <span asp-validation-for="state_id" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-4">
                        <label><span style="color:#ff0000;">*</span>City Name</label>
                        <input type="text" asp-for="citytext" class="form-control" id="city" placeholder="Enter City" maxlength="20" />
                        <span asp-validation-for="citytext" class="text-danger"></span>
                    </div>
                </div>
                <div class="box-footer">
                    <input type="submit" value="Save Changes" id="savechanges" class="btn btn-primary btn-flat" />
                    <a asp-controller="Address" asp-action="City" asp-route-id="" class="btn btn-danger btn-flat">Clear</a>
                </div>
            </div>
        </form>
    </div>

    <div class="col-md-6">
        <div class="box box-default">
            <div class="box-header with-border">
                <h3 class="box-title">Details</h3>
            </div>
            <div class="box-body">
                <div class="callout callout-info nofoundlbl" style="display:none;"></div>
                <div class="" style="max-height: 400px;min-height: 153px;overflow-y: auto;">
                    <table id="CityDetails" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>SNo</th>
                                <th>State</th>
                                <th>City</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                int i = 1;
                                foreach (var item in Model.CityModelList)
                                {
                                    <tr>
                                        <td>@i</td>
                                        <td>@item.state_text</td>
                                        <td>@item.citytext</td>
                                        <td>
                                            <a title="Edit" href="@Url.Action("City","Address",new { id=item.id})"><i class="fa fa-edit"></i></a> |
                                            @{
                                                if (item.isactive.HasValue == true && item.isactive.Value == true)
                                                {
                                                    <a class="anchor" onclick="DisableData(@item.id)" title="Click to Disable"><img src="~/images/green.ico" alt="Enable" height="18" width="18" /></a>
                                                }
                                                else
                                                {
                                                    <a class="anchor" onclick="EnableData(@item.id)" title="Click to Enable"><img src="~/images/red.ico" alt="Disable" height="18" width="18" /></a>
                                                }
                                            }
                                        </td>
                                    </tr>
                                    i = i + 1;
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            </div>
    </div>
</section>
@section scripts{

    <script>
        $(document).ready(function () {
            $("#CityDetails").DataTable({
                dom: 'lBfrtip',
                buttons: [
                    'excel', 'pdf', 'print'
                ]
            });
            $('html,body').animate({ scrollTop: $("html").offset().top }, 800);
            $('input[type="text"]').click(function () {
                $("#MsgDiv").hide(500);
                //$("#MsgDiv").hide(selectedEffect, options, 500);
            });
        });
        function DisableData(id) {
            var r = confirm("Are you sure to Disable this City?");
            if (r == true) {
                    $.ajax({
                        type: 'POST',
                        url: '@Url.Action("DisableCity", "Address")',
                        data: { id: id },
                        success: function (data) {
                            console.log(data);

                            if (data) {
                                window.location.href = '@Url.Action("City", "Address", new {id= 0})';
                            }
                        }
                    });
            }
        }
        function EnableData(id) {
            var r = confirm("Are you sure to Enable this City?");
            if (r == true) {
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("EnableCity", "Address")',
                    data: { id: id },
                    success: function (data) {
                        console.log(data);
                        if (data) {
                            window.location.href = '@Url.Action("City", "Address", new {id= 0})';
                        }
                    }
                });
            }
        }
    </script>
}
